- @colors = ['#3366cc', '#dc3912', '#ff9900', '#109618', '#66aa00', '#dd4477', '#0099c6', '#990099']

- @design.design_options.includes(:variable, :section).each do |design_option|
  - section = design_option.section
  - variable = design_option.variable
  - if section
    .section-lead
      = render 'sections/show', design: @design, design_option: design_option, section: section
  - elsif variable
    %a.anchor-top{ id: variable.name }
    .dashboard-lead
      = link_to variable.display_name, "##{variable.name}", data: { object: 'scroll-anchor-keep-link' }, class: 'link-white'
    .dashboard-container
      - responses = @sheets.sheet_responses(variable)
      = render "reports/designs/overview/#{variable.variable_type}", variable: variable, sheet_scope: @sheets, responses: responses
