- @title = "#{@design.name} Report"

- links = []
- links << ['Summary Report', report_reports_project_path(@project)]
- links << [@design.name, [@project, @design]]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-heading
      = @title
    #new_filter_modal.modal
      .modal-dialog.modal-lg
        #filter-modal.modal-content

    = form_tag new_filter_reports_project_path(@design.project, design_id: @design.id), method: :post, remote: true, id: 'new_filter_form', style: 'display:none' do
      &nbsp;

    .row
      .col-md-8
        .download-container
          .download-container-after Filters
          = link_to 'Add Filter', '#', class: 'btn btn-default btn-xs pull-right', data: { object: 'open-new-filter-modal' }
          = form_tag filters_reports_project_path(@design.project), method: :post, remote: true, id: 'filters_form' do
            #filters
              = render 'filters/filters'

      .col-md-4
        .download-container
          .download-container-after Format

          = form_tag project_reports_design_advanced_path(@design.project, @design), method: :post, remote: true, data: { object: 'form-load-with-filters' }, class: "form-vertical", id: 'report_form', style: 'margin-top:15px' do
            = hidden_field_tag :page, params[:page]

            .form-group
              %label Report
              = render 'layouts/radio_button_group', name: 'percent', options: [['No Percents', 'none'], ['% by Row', 'row'], ['% by Column', 'column']], selected: @percent

            .btn-group
              = link_to '#', class: 'dropdown-toggle btn btn-default', data: { toggle: 'dropdown' } do
                Export
                %strong.caret

              %ul.dropdown-menu
                %li= link_to 'CSV', '#', data: { object: 'export-csv-with-filters', format: 'csv', target: '#report_form' }
                %li= link_to 'PDF - Portrait', '#', data: { object: 'export-report-pdf-with-filters', orientation: 'portrait', target: '#report_form' }
                %li= link_to 'PDF - Landscape', '#', data: { object: 'export-report-pdf-with-filters', orientation: 'landscape', target: '#report_form' }
            = link_to 'Refresh', '#', class: 'btn btn-primary', data: { object: 'refresh-report' }

    #report
      .center= image_tag 'try-slice-waiting.gif'
