- @title = "#{@design.name} Overview"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << ['Reports', reports_reports_project_path(@project)]

= render 'projects/side_nav'
= render 'layouts/simple_header'

- unless @design.description.blank?
  .jumbotron
    = simple_markdown @design.description

= render 'reports/designs/overview'
