- @title = "#{@design.name} Overview"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  - if @design.events.count > 1
    .float-right
      %span.dropdown
        = link_to "#", class: "btn btn-sm dropdown-toggle btn-primary", data: { toggle: "dropdown" } do
          - if @event
            = @event.name
          - else
            All Events

        .dropdown-menu.dropdown-menu-right
          = link_to "All Events", project_reports_design_overview_path(@project, @design, event_id: nil), style: params[:event_id].blank? ? "font-weight:bold;" : "", class: "dropdown-item"
          .dropdown-divider
          - NaturalSort.sort(@design.events.pluck(:name, :id)).each do |event_name, event_id|
            = link_to event_name, project_reports_design_overview_path(@project, @design, event_id: event_id), style: params[:event_id].to_s == event_id.to_s ? "font-weight:bold;" : "", class: "dropdown-item"

  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "reports", reports_project_path(@project)
    %li.breadcrumb-muted= @title.downcase

- @colors = ["#3366cc", "#dc3912", "#ff9900", "#109618", "#66aa00", "#dd4477", "#0099c6", "#990099"]

- @design.design_options.includes(:variable, :section).each do |design_option|
  - section = design_option.section
  - variable = design_option.variable
  - if section && section.display_on_report?
    .section-lead
      = render "sections/show", design_option: design_option, section: section
  - elsif variable
    %a.anchor-top{ id: variable.name }
    .dashboard-container
      .mb-3
        - if variable.export_units.present?
          .float-right
            %span.badge.badge-accent= variable.export_units
        = link_to "##{variable.name}", data: { object: "scroll-anchor-keep-link" }, class: "link-unstyled" do
          = simple_style variable.display_name

      - responses = @sheets.sheet_responses(variable)
      = render "reports/designs/overview/#{variable.variable_type}", variable: variable, sheet_scope: @sheets, responses: responses, event_id: @event ? @event.to_param : nil
