- @title = "#{@design.name} Overview"

- links = []
- links << [@design.name, [@project, @design]]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-header
      = @title

    - unless @design.description.blank?
      .bs-callout.bs-callout-info
        = simple_markdown @design.description

    = render 'reports/designs/overview'
