- @title = "#{@design.name} Overview"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << ['Reports', reports_reports_project_path(@project)]

= render 'projects/side_nav'
- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = render 'layouts/side_nav_header_button'
        %span.hidden-xs= "#{@design.name} Overview"
        %span.hidden-sm.hidden-md.hidden-lg= "#{@design.short_name} Overview"

- unless @design.description.blank?
  .jumbotron
    = simple_markdown @design.description

= render 'reports/designs/overview'
