- @title = "#{@design.name} Overview"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << ['Reports', reports_reports_project_path(@project)]

= render 'projects/side_nav'
= render 'layouts/simple_header'

.dashboard-container
  %h2.underline-heading
    = @title

  - unless @design.description.blank?
    .callout.callout-info
      = simple_markdown @design.description

  = render 'reports/designs/overview'
