- if list.randomizations.count == 0
  .center.text-muted
    Randomizations expand list automatically.
- elsif @randomization_scheme.permuted_block?
  - list.randomizations.order(:block_group, :position).group_by(&:block_group).each do |block_group, randomizations|
    .block-group
      - assignment_block_position = 1
      - current_multiplier = randomizations.first.multiplier
      .multiplier{ class: "multiplier-#{current_multiplier}" }
        - randomizations.each do |randomization|
          - # The HTML end and start DIVs below are intentional
          - if current_multiplier != randomization.multiplier or (assignment_block_position - 1 != 0 and (assignment_block_position - 1) % (randomization.multiplier * @randomization_scheme.minimum_block_size) == 0)
            - current_multiplier = randomization.multiplier
            - assignment_block_position = 2
            </div>
            <div class="multiplier multiplier-#{current_multiplier}">
          - else
            - assignment_block_position += 1

          - if randomization.subject
            .nowrap
              = link_to [@project, randomization], rel: 'tooltip', title: randomization.subject.subject_code do
                = randomization.position
                = randomization.treatment_arm.name
          - else
            .nowrap.text-muted
              = randomization.position
              = randomization.treatment_arm.name
- else
  .block-group
    .multiplier
      - list.randomizations.order(:created_at).each_with_index do |randomization, index|
        - if randomization.subject
          .overflow-hidden.nowrap{ rel: 'tooltip', data: { title: randomization.subject.subject_code, container: 'body' } }
            = link_to [@project, randomization] do
              = index + 1
              = randomization.treatment_arm.name
        - else
          .overflow-hidden.nowrap.text-muted
            = index + 1
            = randomization.treatment_arm.name
