- @title = 'Lists'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .float-right
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @lists.total_count
        %span= @title

= render 'lists/lists'
