- @title = "Lists"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 40, object_count: @lists.total_count
  %ol
    %li= link_to "randomization schemes", project_randomization_schemes_path(@project)
    %li= link_to @randomization_scheme.name.downcase, [@project, @randomization_scheme]
    %li.breadcrumb-muted lists

= render "lists/lists"
