- @title = 'Lists'

= render 'projects/tabbed_menu', links: [[@randomization_scheme.name, [@project, @randomization_scheme]], ['Lists', project_randomization_scheme_lists_path(@project, @randomization_scheme)]]

.row
  .col-sm-2
    = render 'projects/beta/menu'

  .col-sm-10
    %h2.project-header
      = link_to @randomization_scheme.name, [@project, @randomization_scheme]
      &middot;
      = @title

    = form_tag project_randomization_scheme_lists_path(@project, @randomization_scheme), method: :get, class: 'form-vertical' do
      = hidden_field_tag :order, params[:order]

    = render 'lists/lists'


