- @title = @list.name
.page-header
  %h1
    = link_to @project.name, setup_project_path(@project)
    &middot;
    = link_to @randomization_scheme.name, [@project, @randomization_scheme]
    &middot;
    = link_to 'Lists', project_randomization_scheme_lists_path(@project, @randomization_scheme)
    &middot;
    = @title
  = link_to "Edit List", edit_project_randomization_scheme_list_path(@project, @randomization_scheme, @list), class: 'btn btn-default btn-xs'
  = link_to "Delete List", [@project, @randomization_scheme, @list], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete List #{@list.name}?" }

%dl.dl-horizontal

  %dt Creator
  %dd= link_to @list.user.name, @list.user if @list.user
