- @title = @list.name

- links = []
- links << [@randomization_scheme.name, [@project, @randomization_scheme]]
- links << ['Lists', project_randomization_scheme_lists_path(@project, @randomization_scheme)]
- links << [@list.name, [@project, @randomization_scheme, @list]]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid

    %h2.underline-header
      = @title

    %dl.dl-horizontal

      %dt Creator
      %dd= link_to @list.user.name, @list.user if @list.user

    .row
      .col-md-offset-2.col-md-8
        = render 'lists/block_groups', list: @list
