<% @title = 'Sign in' %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-signin' }) do |f| %>
  <h2 class="form-signin-heading">Sign in</h2>
  <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
  <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>

  <%= f.submit "Sign in", class: 'btn btn-success btn-block btn-large' %>
<% end %>

<div class="center" style="margin-bottom:20px">
  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
</div>

<% if devise_mapping.confirmable? %>
  <div class="center" style="margin-bottom:20px">
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %>
  </div>
<% end %>

<div class="form-signin">
  <h2 class="form-signin-heading">Important</h2>
    In order to simplify our sign up process for a greater number of
users, we're removing alternate sign in strategies like Google Auth and LDAP
logins. If you used one of these alternate strategies, you can reset your
password by clicking <%= link_to "Forgot your password?", new_password_path(resource_name) %> and set a new password using the
link sent to your email address.
</div>

<% if devise_mapping.registerable? %>
  <div class="center" style="margin-bottom:20px">
    Don't have an account? <%= link_to "Sign up", new_registration_path(resource_name) %>
  </div>
<% end %>

<%= link_to about_path do %>
  <div style="max-width: 300px; padding: 19px 29px 29px; margin: 40px auto 20px;">
    <%= image_tag 'slc_designer.png', style: 'width:100%;' %>
  </div>
<% end %>
