.form-group
  = form.label key, defined?(key_name) ? key_name : nil
  = render "forms/signature"
  - if defined?(key_name)
    = render "forms/invalid_feedback", object: object, key: key, key_name: key_name
  - else
    = render "forms/invalid_feedback", object: object, key: key
  = render "forms/help_text", help_text: help_text if defined?(help_text)
