- data = {}
- data = { object: "create-slug", target: "##{object.class.to_s.underscore}_#{slug}" } if defined?(slug) && object.new_record?
- id = (defined?(id) && id == true ? "#{object.class.to_s.underscore}_#{key}" : (defined?(id) ? id : nil))
- autocomplete = defined?(autocomplete) ? autocomplete : nil
- autocorrect = defined?(autocorrect) ? autocorrect : nil
- autocapitalize = defined?(autocapitalize) ? autocapitalize : nil
- spellcheck = defined?(spellcheck) ? spellcheck : nil

.form-group
  = form.label key, defined?(key_name) ? key_name : nil
  - input_field = form.text_field key, class: "form-control#{" is-invalid" if object.errors[key].present?}", value: defined?(value) ? value : object.send(key), data: data, placeholder: defined?(placeholder) ? placeholder : nil, id: id, autocomplete: autocomplete, autocorrect: autocorrect, autocapitalize: autocapitalize, spellcheck: spellcheck
  - unless defined?(prepend) || defined?(append)
    = input_field
  - else
    .input-group
      - if defined?(prepend)
        .input-group-prepend
          %span.input-group-text= prepend
      = input_field
      - if defined?(append)
        .input-group-append
          %span.input-group-text= append
  - if defined?(key_name)
    = render "forms/invalid_feedback", object: object, key: key, key_name: key_name
  - else
    = render "forms/invalid_feedback", object: object, key: key
  = render "forms/help_text", help_text: help_text if defined?(help_text)
