- blank_responses = responses.select(&:blank?)
- valid_responses = responses.reject(&:blank?)
- sorted_responses = valid_responses.uniq.sort
- formatter = Formatters.for(variable)

%table.table.table-fixed.table-borderless
  %thead
    %tr
      %th.text-center N
      %th.text-center Min
      %th.text-center Max
      %th.text-center.text-muted Blank
      %th.text-center Total
  %tbody
    %tr
      %td.text-center= filter_link Statistics.array_count(valid_responses), @design, variable, ":present", event_id: event_id
      %td.text-center
        - min = sorted_responses.first
        = min ? filter_link(formatter.name_response(min), @design, variable, min, event_id: event_id) : "-"
      %td.text-center
        - max = sorted_responses.last
        = max ? filter_link(formatter.name_response(max), @design, variable, max, event_id: event_id) : "-"
      %td.text-center= filter_link Statistics.array_count(blank_responses), @design, variable, ":blank", event_id: event_id
      %td.text-center= filter_link Statistics.array_count(responses), @design, nil, nil, event_id: event_id
