- missing_responses = responses.select(&:blank?)
- valid_responses = responses.reject(&:blank?).map(&:to_i).sort
- valid_sheets = sheet_scope.filter_variable(variable, current_user, "present")
- no_responses = valid_responses.count.zero?

- unless no_responses
  .text-center{ style: "display: none;font-size: 48px;margin-bottom: 20px;", data: { object: "sparkline", type: "box", values: valid_responses } }

%table.table.table-fixed.table-borderless
  %thead
    %tr
      %th.text-center N
      %th.text-center Mean
      %th.text-center.d-none.d-sm-table-cell StdDev
      %th.text-center Med
      %th.text-center Min
      %th.text-center Max
      %th.text-center.d-none.d-sm-table-cell.text-muted Missing
      %th.text-center Total
  %tbody
    %tr
      %td.text-center= filter_link Statistics.array_count(valid_responses), @design, variable, ":present", event_id: event_id
      %td.text-center
        - mean = Sheet.array_calculation(valid_sheets, variable, "array_mean")
        - if mean
          - weight = parse_imperial_weight(mean.to_i)
          = "#{"#{weight[:pounds]}lb " unless weight[:pounds].zero?}#{"#{weight[:ounces]}oz" if weight[:pounds].zero? || !weight[:ounces].zero?}"
        - else
          \-
      %td.text-center.d-none.d-sm-table-cell.nowrap
        - stdev = Sheet.array_calculation(valid_sheets, variable, "array_standard_deviation")
        - if stdev
          - weight = parse_imperial_weight(stdev.to_i)
          &plusmn;
          = "#{"#{weight[:pounds]}lb " unless weight[:pounds].zero?}#{"#{weight[:ounces]}oz" if weight[:pounds].zero? || !weight[:ounces].zero?}"
        - else
          \-
      %td.text-center
        - ounces = Sheet.array_calculation(valid_sheets, variable, "array_median")
        = render "reports/designs/overview/links/imperial_weight_link", design: @design, variable: variable, ounces: ounces, event_id: event_id
      %td.text-center
        - ounces = Sheet.array_calculation(valid_sheets, variable, "array_min")
        = render "reports/designs/overview/links/imperial_weight_link", design: @design, variable: variable, ounces: ounces, event_id: event_id
      %td.text-center
        - ounces = Sheet.array_calculation(valid_sheets, variable, "array_max")
        = render "reports/designs/overview/links/imperial_weight_link", design: @design, variable: variable, ounces: ounces, event_id: event_id
      %td.text-center.d-none.d-sm-table-cell= filter_link Statistics.array_count(missing_responses), @design, variable, ":missing", event_id: event_id
      %td.text-center= filter_link Statistics.array_count(responses), @design, nil, nil, event_id: event_id
