- missing_responses = responses.select(&:blank?)
- valid_responses = responses.reject(&:blank?).map(&:to_i).sort
- valid_sheets = sheet_scope.with_stratum(current_user, variable.id, nil, 'any')
- no_responses = valid_responses.count.zero?

- unless no_responses
  .center{ style: 'display: none;font-size: 48px;margin-bottom: 20px;', data: { object: 'sparkline', type: 'box', values: valid_responses } }

%table.table.table-fixed.table-borderless
  %thead
    %tr
      %th.center N
      %th.center Mean
      %th.center.hidden-xs StdDev
      %th.center Med
      %th.center Min
      %th.center Max
      %th.center.text-muted.hidden-xs Missing
      %th.center Total
  %tbody
    %tr
      %td.center= filter_link Sheet.array_count(valid_responses), @design, variable, ':any', event_id: event_id
      %td.center
        - mean = Sheet.array_calculation(valid_sheets, variable, 'array_mean')
        - if mean
          - height = parse_imperial_height(mean.to_i)
          = "#{"#{height[:feet]}ft " unless height[:feet].zero?}#{"#{height[:inches]}in" if height[:feet].zero? || !height[:inches].zero?}"
        - else
          \-
      %td.center.nowrap.hidden-xs
        - stdev = Sheet.array_calculation(valid_sheets, variable, 'array_standard_deviation')
        - if stdev
          - height = parse_imperial_height(stdev.to_i)
          &plusmn;
          = "#{"#{height[:feet]}ft " unless height[:feet].zero?}#{"#{height[:inches]}in" if height[:feet].zero? || !height[:inches].zero?}"
        - else
          \-
      %td.center
        - inches = Sheet.array_calculation(valid_sheets, variable, 'array_median')
        = render 'reports/designs/overview/links/imperial_height_link', design: @design, variable: variable, inches: inches, event_id: event_id
      %td.center
        - inches = Sheet.array_calculation(valid_sheets, variable, 'array_min')
        = render 'reports/designs/overview/links/imperial_height_link', design: @design, variable: variable, inches: inches, event_id: event_id
      %td.center
        - inches = Sheet.array_calculation(valid_sheets, variable, 'array_max')
        = render 'reports/designs/overview/links/imperial_height_link', design: @design, variable: variable, inches: inches, event_id: event_id
      %td.center.hidden-xs= filter_link Sheet.array_count(missing_responses), @design, variable, ':missing', event_id: event_id
      %td.center= filter_link Sheet.array_count(responses), @design, nil, nil, event_id: event_id
