- responses = @sheets.sheet_responses_for_checkboxes(variable)
- counts = []
- variable.options_missing_at_end.collect { |opt| [opt[:name], opt[:value]] }.each do |name, value|
  - count = responses.select { |r| r == value }.count
  - counts << count if count > 0
- no_responses = (counts.count == 0)

- unless no_responses
  .center{ style: 'display: none;font-size: 48px;margin-bottom: 20px;', data: { object: 'sparkline', type: 'pie', values: counts } }

- count_index = -1
- variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value], opt[:missing_code]]}.each do |name, value, missing_code|
  - count = responses.select { |r| r == value }.count
  - if count > 0 || no_responses
    - count_index += 1

    .row.col-buffer
      .col-xs-6.text-right
        %strong= "#{value}: #{name}"
      .col-xs-6
        - unless missing_code == '1'
          %span{ style: "background-color: #{@colors[count_index % @colors.size]}" } &nbsp;
        = filter_link(count == 0 ? nil : count, @design, variable, value)
