- blank_responses = responses.select(&:blank?)
- valid_responses = responses.reject(&:blank?)

%table.table.table-fixed.table-borderless
  %thead
    %tr
      %th.text-center N
      %th.text-center.text-muted Blank
      %th.text-center Total
  %tbody
    %tr
      %td.text-center= filter_link Statistics.array_count(valid_responses), @design, variable, ":present", event_id: event_id
      %td.text-center= filter_link Statistics.array_count(blank_responses), @design, variable, ":blank", event_id: event_id
      %td.text-center= filter_link Statistics.array_count(responses), @design, nil, nil, event_id: event_id

- unique_responses = NaturalSort.sort(valid_responses.uniq)
- if unique_responses.size <= 50
  - unique_responses.each_with_index do |response, index|
    - if !/\s/.match(response).nil?
      - search = "#{variable.name}:\"#{response}\""
    - else
      - search = "#{variable.name}:#{response}"
    - if index < unique_responses.size - 1
      = succeed "," do
        = link_to response, project_sheets_path(@project, search: search)
    - else
      = link_to response, project_sheets_path(@project, search: search)
- else
  .text-muted Individual responses suppressed since the total amount of responses exceeds 50.
