- missing_responses = responses.select(&:blank?)
- valid_responses = responses.reject(&:blank?)
- responses_and_subjects = variable.sheet_variables.where(sheet_id: sheet_scope.select(:id)).reject(&:blank?).collect { |sv| [sv.response, sv.sheet.subject] }

%table.table
  %thead
    %tr
      %th N
      %th.text-muted Unknown
      %th Total
  %tbody
    %tr
      %td= filter_link Sheet.array_count(valid_responses), @design, variable, ':any'
      %td= filter_link Sheet.array_count(missing_responses), @design, variable, ':missing'
      %td= filter_link Sheet.array_count(responses), @design, nil, nil

- if responses_and_subjects.size <= 50
  - responses_and_subjects.each do |response, subject|
    %blockquote
      = simple_markdown response
      %small= subject.subject_code
- else
  .text-muted Individual responses suppressed since the total amount of responses exceeds 50.
