<%# This file shows a variable for use in a sheet %>
<% disabled = '' if defined?(disabled) == nil %>
<% show_values = true unless defined?(show_values) %>

<div class="form-group" data-object="variable-container" id="varvar_<%= @variable.id %>">
  <% if @variable.uses_scale? %>
    <%# Nothing %>
  <% elsif ['invisible', 'gone'].include?(@variable.display_name_visibility) %>
    <div class="col-xs-12">
      <div class="page-header" style="margin-top:0px">
        <h4 style="padding:0px">
          <%= @variable.display_name %>
        </h4>
      </div>
    </div>
    <div style="clear:both"></div>
  <% else %>
    <%= label 'variables', "#{@variable.id}", @variable.display_name, class: 'col-md-2 control-label' %>
  <% end %>

  <% col_class = 'col-xs-12' %>
  <% col_class = 'col-md-10' if @variable.display_name_visibility != 'gone' and not @variable.uses_scale? %>

  <div class="<%= col_class %> <%= 'col-md-offset-2' if @variable.display_name_visibility == 'invisible' and not @variable.uses_scale? %>">
    <div style="line-height:30px">

      <% sheet_variable = (@sheet ? @sheet.sheet_variables.find_by_variable_id(@variable.id) : nil) %>
      <% response = (params[:variables].blank? ? (sheet_variable ? sheet_variable.response : nil) : params[:variables][@variable.id.to_s]) %>

      <% if Variable::TYPE.flatten.uniq.include?(@variable.variable_type) %>
        <%= render partial: "sheet_variables/form/#{@variable.variable_type}", locals: { response: response, disabled: disabled, variable: @variable, field_name: "variables[#{@variable.id}]", sheet_variable: sheet_variable, show_values: show_values, object: sheet_variable } %>
      <% else %>
        <%= hidden_field_tag "variables[#{@variable.id}]", nil, disabled: disabled %>
        Unsupported Variable Type <%= @variable.variable_type %>
      <% end %>

    </div>
  </div>
</div>
