<% section_type = @option[:section_type].to_i %>
<% @design = @sheet.design if not @design and (@sheet and @sheet.design) %>
<% @section = @design.sections.where( name: @option[:section_name] ).first if @design %>

<div class="page-header" data-object="variable-container" id="section_<%= @section ? @section.id : @option[:section_id] %>">
  <% if section_type > 0 %>
    <h3><%= @section ? @section.name : @option[:section_name] %></h3>
  <% else %>
    <h2><%= @section ? @section.name : @option[:section_name] %></h2>
  <% end %>
  <% section_description = @section ? @section.description : @option[:section_description] %>
  <%= simple_markdown section_description unless section_description.blank? %>
  <%= render partial: 'sections/image' %>
</div>
