- @title = "AeModule::Managers#determine_pathway"

- content_for :header, @title
= render "ae_module/managers/tabs", project: @project, team: @team, adverse_event: @adverse_event
- content_for :breadcrumbs do
  %ol
    %li= link_to "managers inbox", ae_module_managers_inbox_path(@project)
    %li= link_to @adverse_event.name.downcase, ae_module_adverse_event_path(@project, @adverse_event)
    %li.breadcrumb-muted launch assignments

.dashboard-container

  .mb-3= @adverse_event.name
  .mb-3= @adverse_event.description
  .mb-3.text-muted= @adverse_event.subject.name

  %strong Assign to Pathway

  - if @team.ae_team_pathways.present?
    %ul
      - @team.ae_team_pathways.each do |pathway|
        %li= link_to pathway.name, ae_module_managers_assign_pathway_path(@project, @team, @adverse_event, pathway_id: pathway.id), method: :post
  - else
    %ul
      %li.text-muted No team pathways setup.
