- @title = "AeModule::Managers#final_review"

- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li
      = link_to ae_module_dashboard_path(@project) do
        = icon("fas", "caret-left")
        ae dashboard
    %li= link_to "manager inbox", ae_module_managers_inbox_path(@project)
    %li= link_to "ae#3", ae_module_managers_inbox_path(@project)
    %li.breadcrumb-muted final review

.dashboard-container

  .mb-3 AE#3
  .mb-3 Hospitalization
  .mb-3 Subject #123

  %strong Reviewer 1
  submitted
  = link_to "sheet 1", "#"
  and
  %strong Reviewer 2
  submitted
  = succeed "." do
    = link_to "sheet 2", "#"

  There are
  %strong 0
  differences between the sheets.


.text-center
  = link_to ae_module_managers_final_review_submitted_path(@project), class: "btn btn-lg btn-primary" do
    Merge and submit final review
    = icon("fas", "caret-right")
