= hidden_field_tag "design_option[position]", design_option.position

.form-group.row
  %label.col-md-2.col-form-label Name
  .col-md-10
    .input-group
      = render "translations/language_prepend"
      = text_field_tag "section[name]", section.name(World.language), class: "form-control", placeholder: World.translate_language? ? section[:name] : nil
    = render "layouts/errors", object: section, key: :name

.form-group.row
  %label.col-md-2.col-form-label Description
  .col-md-10.bg-dark{ style: "position: relative;", data: { object: "generic-dropfile", upload_url: upload_images_project_design_path(design_option.design.project, design_option.design, format: "js", authenticity_token: true) } }
    .file-upload-bar{ data: { object: "generic-upload-bar" }, style: "z-index: 1000;" }
    .input-group
      = render "translations/language_prepend"
      = text_area_tag "section[description]", section.description(World.language), rows: 3, class: "form-control", placeholder: World.translate_language? ? section[:description] : nil

.form-group.row
  %label.col-md-2.col-form-label Image
  .col-md-10
    - if section.image && section.image.size > 0
      .d-none= file_field_tag "section[image]"
      .form-control-plaintext
        .custom-control.custom-checkbox
          = check_box_tag "section[remove_image]", "1", false, class: "custom-control-input"
          = label "section", "remove_image", class: "custom-control-label" do
            Remove image
        %code= section.image.path.split("/").last
        %span.badge.badge-secondary= number_to_human_size(section.image.size)
    - else
      .custom-file
        = label "section", "image", "Choose file", class: "custom-file-label"
        = file_field_tag "section[image]", class: "custom-file-input"

    = render "layouts/errors", object: section, key: :image

.form-group.row
  %label.col-md-2.col-form-label Level
  .col-md-10
    = select_tag "section[level]", options_for_select(Section::LEVELS, section.level), style: "width:200px", class: "form-control"

.form-group.row
  %label.col-md-2.col-form-label
    Branching logic
    = link_to "#", class: "btn btn-info btn-sm", data: { object: "toggle-visibility", target: "#branching-logic-info" }, tabindex: "-1" do
      = icon("fas", "info-circle")
  .col-md-10
    = text_area_tag "design_option[branching_logic]", design_option.readable_branching_logic, rows: 7, class: "form-control", data: { object: "calculation-variable-name-textcomplete", project_id: @project.id }
    = render "layouts/branching_logic_examples"
