= hidden_field_tag "design_option[position]", design_option.position

.form-group
  %label.col-md-2.control-label Section Name
  .col-md-10
    = text_field_tag "section[name]", section.name, class: 'form-control'
    = render 'layouts/errors', object: section, key: :name

.form-group
  %label.col-md-2.control-label Section Description
  .col-md-10
    = text_area_tag "section[description]", section.description, rows: 3, class: 'form-control'

.form-group
  %label.col-md-2.control-label Section Image
  .col-md-10
    .row
      .col-md-6
        = file_field_tag "section[image]", class: 'form-control', value: section.image
      - if section.image && section.image.size > 0
        .col-md-6
          %label.checkbox-inline.checkbox-radio-outline.negation
            = check_box_tag "section[remove_image]", '1', false
            Remove Image
            %code= section.image.path.split('/').last
            %tt= number_to_human_size(section.image.size)
    = render 'layouts/errors', object: section, key: :image

.form-group
  %label.col-md-2.control-label Section Type
  .col-md-10
    = select_tag 'section[level]', options_for_select(Section::LEVELS, section.level), style: 'width:200px', class: 'form-control'

.form-group
  %label.col-md-2.control-label
    Branching Logic
    = link_to '#', class: 'btn btn-info btn-xs', data: { object: 'toggle-visibility', target: '#branching-logic-info' }, tabindex: '-1' do
      %span.glyphicon.glyphicon-info-sign
  .col-md-10
    = text_area_tag "design_option[branching_logic]", design_option.branching_logic, rows: 3, class: 'form-control'
    = render 'layouts/branching_logic_examples'

