- if variable.errors.any?
  .callout.callout-danger
    %strong
      = pluralize variable.errors.count, 'error'
      prohibited this variable from being saved

    %ul
      - variable.errors.full_messages.each do |msg|
        %li= msg

= hidden_field_tag "design_option[position]", design_option.position

.form-group
  %label.col-md-2.control-label Display Name
  .col-md-10
    .input-group
      = text_field_tag 'variable[display_name]', variable.display_name, autocomplete: 'off', class: 'form-control'
      %span.input-group-btn
        = link_to '#', class: 'btn btn-info', data: { object: 'toggle-visibility', target: '#display-name-info' }, tabindex: '-1' do
          %span.glyphicon.glyphicon-info-sign

    #display-name-info.callout.callout-info{ style: 'display:none' }
      %p
        The display name is the question as displayed to the user who is
        filling out the form.
      %p
        Ex:
        %strong What is your age?

.form-group
  %label.col-md-2.control-label Name
  .col-md-10
    .input-group
      = text_field_tag 'variable[name]', variable.name, maxlength: 32, class: 'form-control'
      %span.input-group-btn
        = link_to '#', class: 'btn btn-info', data: { object: 'toggle-visibility', target: '#name-info' }, tabindex: '-1' do
          %span.glyphicon.glyphicon-info-sign
    #name-info.callout.callout-info{ style: 'display:none' }
      %strong Naming convention

      %ul
        %li
          Must be a letter
          %code a-zA-Z
          followed by letters
          = succeed ',' do
            %code a-zA-Z
          numbers
          = succeed ',' do
            %code 0-9
          or underscores
          = succeed '.' do
            %code _
        %li
          Max length
          = succeed '.' do
            %strong 32 characters
      Ex:
      %code var1_population

.form-group
  %label.col-md-2.control-label
    Branching Logic
    = link_to '#', class: 'btn btn-info btn-xs', data: { object: 'toggle-visibility', target: '#branching-logic-info' }, tabindex: '-1' do
      %span.glyphicon.glyphicon-info-sign
  .col-md-10
    = text_area_tag "design_option[branching_logic]", design_option.branching_logic, rows: 3, class: 'form-control'

    = render 'layouts/branching_logic_examples'
