.modal-header
  %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: true } } &times;
  %h4.modal-title
    = link_to 'Add Section or Question', new_project_design_design_option_path(@project, @design, position: @design_option.position), remote: true
    &middot;
    New
    = @variable.variable_type.titleize
    Variable
.modal-body
  = form_tag create_variable_project_design_design_options_path(@project, @design), method: :post, remote: true, class: 'form-horizontal', id: 'design_option_form' do
    - if @variable.errors.any?
      .callout.callout-danger
        %h4
          = pluralize(@variable.errors.count, "error")
          prohibited this variable from being saved

        %ul
          - @variable.errors.full_messages.each do |msg|
            %li= msg

    = hidden_field_tag "design_option[position]", @design_option.position
    .form-group
      %label.col-md-2.control-label Display Name
      .col-md-10
        = text_field_tag "variable[display_name]", @variable.display_name, class: 'form-control', data: { object: 'create-variable-name', variable_name_target: '#variable_name' }
        = hidden_field_tag "variable[variable_type]", @variable.variable_type
        .callout.callout-info
          %h4 Heads up!

          %p The display name is the question as displayed to the user who is filling out the form.

          %p
            Ex:
            %span.text-muted What is your age?

    .form-group
      %label.col-md-2.control-label Name
      .col-md-10
        = text_field_tag "variable[name]", @variable.name, maxlength: 32, autocomplete: 'off', class: 'form-control'

    - if @variable.variable_type == 'grid'
      .form-group
        = label :questions, 'Questions', class: 'col-md-2 control-label'
        .col-md-10
          .callout.callout-info{ style: "margin-top:0px" }
            %h4 Quick Start
            %p
              %strong Optional:
              Enter the questions you wish to ask on this design, and specify
              the format of the response. You can also skip adding questions
              here and add them in the advanced editor in the next step. The
              advanced editor will also provide finer control over responses to
              questions.
          #questions
            - questions = (params[:variable] && params[:variable][:questions] ? params[:variable][:questions] : [ { question_name: '', question_type: 'free text' } ])
            - questions.each do |question_hash|
              = render 'variables/question', question_hash: question_hash
          = link_to 'Add Question', add_question_project_variables_path(@project), method: :post, remote: true, class: 'btn btn-xs btn-default', style: 'margin-top:6px'
.modal-footer
  = button_tag 'Add Variable', data: { object: 'submit', target: '#design_option_form' }, class: 'btn btn-primary'
  %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Cancel
