.modal-header
  %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } } &times;
  %h4.modal-title
    = link_to "Add Section or Question", new_project_design_design_option_path(@project, @design, position: @design_option.position), remote: true
    &middot;
    Existing Question
.modal-body
  = form_tag create_existing_variable_project_design_design_options_path(@project, @design), method: :post, remote: true, class: "form-horizontal", id: "design_option_form" do
    = hidden_field_tag "design_option[position]", @design_option.position
    .form-group
      %label.col-md-2.control-label Unnassigned Variables
      .col-md-10
        = select_tag "design_option[variable_id]", grouped_options_for_select(@project.unassigned_variables.group_by(&:variable_type).collect { |group, group_variables| [group.titleize, group_variables.collect { |v| [v.name, v.id] }.sort { |a,b| a[0] <=> b[0]}] }.sort { |a,b| a[0] <=> b[0] }), style: "width: 200px;", class: "form-control"
.modal-footer
  = button_tag "Add Exisiting Variable", data: { object: "submit-and-disable", target: "#design_option_form" }, class: "btn btn-primary"
  %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Cancel

