.modal-header
  %h4.modal-title Add Section or Question
  %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } } &times;
.modal-body
  - %w(section string text dropdown radio checkbox integer numeric calculated date time_of_day time_duration file signature imperial_height imperial_weight grid existing_question).in_groups_of(3).each do |row_items|
    .row
      - row_items.each do |variable_type|
        - if variable_type and not ["section", "existing_question"].include?(variable_type)
          %div{ class: (variable_type == "grid" ? "col-md-8" : "col-md-4") }
            .dashboard-container.p-3.editable-design-element{ data: { object: "new-variable-popup", position: params[:position], variable_type: variable_type } }
              .mb-2
                %strong= variable_type.titleize
              %div
                - case variable_type when "radio"
                  .mb-1
                    = icon("fas", "check-circle", class: "text-primary")
                    1: Dog
                  .mb-1
                    = icon("fas", "circle", class: "text-disabled")
                    2: Cat
                  .mb-1
                    = icon("fas", "circle", class: "text-disabled")
                    3: Fish
                - when "dropdown"
                  = select_tag "animal", options_for_select([["1: Dog", 1], ["2: Cat", 2], ["3: Fish", 3]], 3), include_blank: true, disabled: false, class: "form-control chosen-select"
                - when "checkbox"
                  .mb-1
                    = icon("fas", "check-square", class: "text-primary")
                    1: Dog
                  .mb-1
                    = icon("fas", "check-square", class: "text-primary")
                    2: Cat
                  .mb-1
                    = icon("fas", "square", class: "text-disabled")
                    3: Fish
                - when "string"
                  = text_field_tag "animal", "Abc Street", disabled: true, class: "form-control"
                - when "integer"
                  = text_field_tag "animal", "42", disabled: true, class: "form-control"
                - when "numeric"
                  .input-group
                    = text_field_tag "animal", "72.4", disabled: true, class: "form-control"
                    .input-group-append
                      = render "sheet_variables/form/addon", addon: "kg"
                - when "calculated"
                  .input-group
                    = text_field_tag "bmi", "bmi", class: "form-control", disabled: true
                    .input-group-append
                      = render "sheet_variables/form/addon", addon: sanitize("kg / m&sup2;")
                - when "text"
                  = text_area_tag "animal", "My Long Essay", class: "form-control", disabled: true, style: "cursor:pointer"
                - when "date"
                  .input-group
                    = text_field_tag "animal", "", class: "datepicker form-control", placeholder: "mm/dd/yyyy"
                    .input-group-append
                      %span.input-group-text
                        = icon("far", "calendar-alt")
                - when "time_of_day"
                  .time-input.form-inline
                    %span.hour-box
                      = text_field_tag "hour_time", "", placeholder: "hh", class: "form-control", style: "display: inline-block;"
                    &#58;
                    %span.min-box
                      = text_field_tag "min_time", "", placeholder: "mm", class: "form-control", style: "display: inline-block;"
                    &#58;
                    %span.sec-box
                      = text_field_tag "sec_time", "", placeholder: "ss", class: "form-control", style: "display: inline-block;"
                - when "time_duration"
                  .time-input.form-inline
                    %span.hour-box.input-group
                      = text_field_tag "hour_time_duration", "", placeholder: "hh", class: "form-control", style: "display: inline-block;"
                      .input-group-append
                        = render "sheet_variables/form/addon", addon: "h"
                    %span.min-box.input-group
                      = text_field_tag "min_time_duration", "", placeholder: "mm", class: "form-control", style: "display: inline-block;"
                      .input-group-append
                        = render "sheet_variables/form/addon", addon: "m"
                    %span.sec-box.input-group
                      = text_field_tag "sec_time_duration", "", placeholder: "ss", class: "form-control", style: "display: inline-block;"
                      .input-group-append
                        = render "sheet_variables/form/addon", addon: "s"
                - when "imperial_height"
                  .imperial-height-input.form-inline
                    %span.feet-box.input-group
                      = text_field_tag "feet", "", class: "form-control", style: "display: inline-block;"
                      .input-group-append
                        = render "sheet_variables/form/addon", addon: "ft"
                    %span.inches-box.input-group
                      = text_field_tag "inches", "", class: "form-control", style: "display: inline-block;"
                      .input-group-append
                        = render "sheet_variables/form/addon", addon: "in"
                - when "imperial_weight"
                  .imperial-weight-input.form-inline
                    %span.pounds-box.input-group
                      = text_field_tag "pounds", "", class: "form-control", style: "display: inline-block;"
                      .input-group-append
                        = render "sheet_variables/form/addon", addon: "lb"
                    %span.ounces-box.input-group
                      = text_field_tag "ounces", "", class: "form-control", style: "display: inline-block;"
                      .input-group-append
                        = render "sheet_variables/form/addon", addon: "oz"
                - when "file"
                  = button_tag "Choose File", disabled: true
                - when "signature"
                  = image_tag "signature.png", style: "cursor:pointer", class: "signature-image"
                - when "grid"
                  %table.table.table-hover.table-borderless.table-striped.table-condensed
                    %thead
                      %tr
                        %th Lap
                        %th Speed
                    %tbody
                      %tr
                        %td
                          %input.form-control{ placeholder: "Lap #", type: "text", value: "1" }
                        %td{ style: "text-align:left" }
                          = select_tag "exercise", "<option value=\"\"></option>".html_safe + options_for_select([["1: Sprint", 1], ["2: Jog", 2], ["3: Walk", 3]], 2), disabled: false, class: "chosen-select"
                      %tr
                        %td
                          %input.form-control{ placeholder: "Lap #", type: "text", value: "2" }
                        %td{ style: "text-align:left" }
                          = select_tag "exercise2", "<option value=\"\"></option>".html_safe + options_for_select([["1: Sprint", 1], ["2: Jog", 2], ["3: Walk", 3]], 3), disabled: false, class: "chosen-select"
        - if variable_type == "section"
          .col-md-4
            .dashboard-container.p-3.editable-design-element{ data: { object: "section-insert", url: create_section_project_design_design_options_url(project, design, design_option: { position: params[:position]}), method: "post" } }
              .mb-2
                %strong= variable_type.titleize
              %div
                %strong Demographics
                %br
                Answer questions about yourself...
        - if variable_type == "existing_question"
          - if project.unassigned_variables.count.positive?
            .col-md-4
              .dashboard-container.p-3.editable-design-element{ data: { object: "new-existing-variable-popup", position: params[:position] } }
                .mb-2
                  %strong Existing Question
                .text-left
                  Add an existing variable.

.modal-footer
  %button.btn.btn-light{ type: "button", data: { dismiss: "modal" } } Cancel

