.modal-header
  %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: true } } &times;
  %h4.modal-title
    Add Section or Question
.modal-body
  - %w(section string text dropdown radio checkbox integer numeric calculated date time time_duration file signature imperial_height imperial_weight grid existing_question).in_groups_of(3).each do |row_items|
    .row
      - row_items.each do |variable_type|
        - if variable_type and not ['section', 'existing_question'].include?(variable_type)
          %div{ class: (variable_type == 'grid' ? 'col-md-8' : 'col-md-4') }
            .download-container.editable-design-element{ data: { object: "new-variable-popup", position: params[:position], variable_type: variable_type } }
              %div.download-container-after= variable_type.titleize
              .center{ style: 'margin-top: 12px;' }
                - case variable_type when 'radio'
                  %form.form-horizontal
                    %label.radio-inline.checkbox-radio-outline.selected
                      = radio_button_tag 'animal', 'dog', true, disabled: true
                      1: Dog
                    %label.radio-inline.checkbox-radio-outline
                      = radio_button_tag 'animal', 'cat', false, disabled: true
                      2: Cat
                    %label.radio-inline.checkbox-radio-outline
                      = radio_button_tag 'animal', 'fish', false, disabled: true
                      3: Fish
                - when 'dropdown'
                  .text-left
                    = select_tag 'animal', options_for_select([['1: Dog', 1], ['2: Cat', 2], ['3: Fish', 3]], 3), include_blank: true, disabled: false, class: "form-control chosen-select"
                - when 'checkbox'
                  %form.form-horizontal
                    %label.checkbox-inline.checkbox-radio-outline.selected
                      = check_box_tag 'animal[]', 'dog', true, disabled: true
                      1: Dog
                    %label.checkbox-inline.checkbox-radio-outline.selected
                      = check_box_tag 'animal[]', 'cat', true, disabled: true
                      2: Cat
                    %label.checkbox-inline.checkbox-radio-outline
                      = check_box_tag 'animal[]', 'fish', false, disabled: true
                      3: Fish
                - when 'string'
                  = text_field_tag 'animal', 'Abc Street', disabled: true, class: 'form-control'
                - when 'integer'
                  = text_field_tag 'animal', '42', disabled: true, class: 'form-control'
                - when 'numeric'
                  .input-group
                    %span.input-group-addon weight
                    = text_field_tag 'animal', '72.4', disabled: true, class: 'form-control'
                    %span.input-group-addon kg
                - when 'calculated'
                  .input-group
                    = text_field_tag 'animal', 'weight / (height * height)', class: 'form-control', disabled: true
                    %span.input-group-addon kg / m&sup2;
                - when 'text'
                  = text_area_tag 'animal', 'My Long Essay', class: 'form-control', disabled: true, style: 'cursor:pointer'
                - when 'date'
                  .input-group
                    = text_field_tag 'animal', "", class: 'datepicker form-control', placeholder: 'mm/dd/yyyy'
                    %span.input-group-addon
                      %span.glyphicon.glyphicon-calendar
                - when 'time'
                  .time-input.form-inline
                    %span.hour-box
                      = text_field_tag "hour_time", '', placeholder: 'hh', class: 'form-control', style: 'display: inline-block;'
                    &#58;
                    %span.min-box
                      = text_field_tag "min_time", '', placeholder: 'mm', class: 'form-control', style: 'display: inline-block;'
                    &#58;
                    %span.sec-box
                      = text_field_tag "sec_time", '', placeholder: 'ss', class: 'form-control', style: 'display: inline-block;'
                - when 'time_duration'
                  .time-input.form-inline
                    %span.hour-box
                      = text_field_tag 'hour_time_duration', '', placeholder: 'hh', class: 'form-control', style: 'display: inline-block;'
                    h
                    %span.min-box
                      = text_field_tag 'min_time_duration', '', placeholder: 'mm', class: 'form-control', style: 'display: inline-block;'
                    m
                    %span.sec-box
                      = text_field_tag 'sec_time_duration', '', placeholder: 'ss', class: 'form-control', style: 'display: inline-block;'
                    s
                - when 'imperial_height'
                  .form-inline
                    %span.feet-box
                      .input-group
                        = text_field_tag 'feet', '', class: 'form-control', style: 'display: inline-block;'
                        .input-group-addon ft
                    %span.inches-box
                      .input-group
                        = text_field_tag 'inches', '', class: 'form-control', style: 'display: inline-block;'
                        .input-group-addon in
                - when 'imperial_weight'
                  .form-inline
                    %span.feet-box
                      .input-group
                        = text_field_tag 'pounds', '', class: 'form-control', style: 'display: inline-block;'
                        .input-group-addon lb
                    %span.inches-box
                      .input-group
                        = text_field_tag 'ounces', '', class: 'form-control', style: 'display: inline-block;'
                        .input-group-addon oz
                - when 'file'
                  = button_tag 'Choose File', disabled: true
                - when 'signature'
                  = image_tag 'signature.png', style: 'cursor:pointer'
                - when 'grid'
                  %table.table.table-hover
                    %thead
                      %tr
                        %th Lap
                        %th Speed
                    %tbody
                      %tr
                        %td
                          %input.form-control{ placeholder: 'Lap #', type: 'text', value: '1' }
                        %td{ style: 'text-align:left' }
                          = select_tag 'exercise', "<option value=''></option>".html_safe + options_for_select([['1: Sprint', 1], ['2: Jog', 2], ['3: Walk', 3]], 2), disabled: false, class: 'chosen-select'
                      %tr
                        %td
                          %input.form-control{ placeholder: 'Lap #', type: 'text', value: '2' }
                        %td{ style: 'text-align:left' }
                          = select_tag 'exercise2', "<option value=''></option>".html_safe + options_for_select([['1: Sprint', 1], ['2: Jog', 2], ['3: Walk', 3]], 3), disabled: false, class: 'chosen-select'
        - if variable_type == 'section'
          .col-md-4
            .download-container.editable-design-element{ data: { object: "new-section-popup", position: params[:position] } }
              .download-container-after= variable_type.titleize
              .center{ style: "margin-top:12px" }
                %strong Section A: Demographics
                %br
                Please enter the following information...
        - if variable_type == 'existing_question'
          - variables = @project.variables.where.not(id: @design.variables.select(:id))
          - if variables.count > 0
            .col-md-4
              .download-container.editable-design-element{ data: { object: "new-existing-variable-popup", position: params[:position] } }
                .download-container-after Existing Question
                .center{ style: "margin-top:12px" }
                  %strong Existing Question
                  %br
                  Add an existing variable from this project.

.modal-footer
  %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Cancel

