.modal-header
  %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } } &times;
  %h4.modal-title
    = link_to "Add Section or Question", new_project_design_design_option_path(@project, @design, position: @design_option.position), remote: true
    &middot;
    New
    = @variable.variable_type.titleize
    Variable
.modal-body
  = form_tag create_variable_project_design_design_options_path(@project, @design), method: :post, remote: true, class: "form-horizontal", id: "design_option_form" do
    = render "design_options/form_variable", design_option: @design_option, variable: @variable
.modal-footer
  = button_tag "Add Variable", data: { object: "submit-and-disable", target: "#design_option_form" }, class: "btn btn-primary"
  %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Cancel
