= form_tag update_option_order_project_design_design_options_path(@design.project, @design), method: :post, remote: true, id: 'reorder_design_form' do
  %ul#reorder_options.design-list{ style: 'cursor:move',  data: { object: 'sortable' } }
    - @design.design_options.each_with_index do |design_option, position|
      - if section = design_option.section
        %li.li-section.nowrap{ id: "option_#{position}", style: 'margin-bottom:5px', data: { position: position } }
          - if section.sub_section?
            %div{ style: "width:6px;display:inline-block" } &nbsp;
          %div{ style: "display:inline-block" }
            %a{ href: "#" }= section.name
      - elsif variable = design_option.variable
        %li.li-variable.nowrap{ id: "option_#{position}", style: 'margin-bottom:5px', data: { position: position } }
          .nowrap{ style: "display:inline-block;overflow:hidden;width:70%;#{'text-decoration: line-through;' if variable.deleted?}" }
            %span.glyphicon.glyphicon-move{ style: "#{'color:#D14' if variable.deleted?}" }
            = variable.display_name
          .nowrap{ style: 'display:inline-block; width:65px;overflow:hidden' }
            %span.label{ class: "label-#{variable.deleted? ? 'important' : variable.variable_type}" }= variable.deleted? ? 'deleted' : variable.variable_type
          .nowrap{ style: 'width:20%;display:inline-block;overflow:hidden' }
            - if variable.deleted?
              %code{ style: 'color:#D14;text-decoration:line-through' }= variable.name
            - else
              %code= variable.name
