- if section = design_option.section
  .row
    .col-sm-6{ data: { object: "design-preview-expand" } }
      = render 'sections/header', design_option: design_option, section: section
    .col-sm-6.design-preview-hide
      %h4{ style: "margin-top:0px" } Section
      .design-edit-box
        %table.table.table-fixed{ style: "margin-bottom:0px" }
          %col{ width: "30%" }
          - unless design_option.branching_logic.blank?
            %tr
              %td
                %strong Show If
              %td
                %code= design_option.branching_logic
          %tr
            %td{ style: "border-top-width:0px" }
              %strong Actions
            %td{ style: "border-top-width:0px" }
              = link_to 'Edit Section', edit_project_design_design_option_path(@project, @design, design_option), remote: true, class: 'btn btn-xs btn-default'
              = link_to 'Remove', project_design_design_option_path(@project, @design, design_option), method: :delete, remote: true, data: { confirm: "Are you sure you want to remove section '#{section.name}' from the design?" }, class: 'btn btn-xs btn-danger-inverse'

- elsif variable = design_option.variable
  .row
    .col-sm-6{ style: "overflow-x:scroll;overflow-y:hidden", data: { object: "design-preview-expand" } }
      - if variable.deleted?
        .form-group.error
          %label.col-md-3.control-label= variable.display_name
          .col-md-9
            %div{ style: "line-height:30px" }
              This variable has been deleted.
              - variable.deleted = false
              - if variable.valid?
                You can
                = link_to 'restore', restore_project_variable_path(@project, variable), method: :post, class: 'btn btn-xs btn-success'
                or
              - else
                A new variable with the same name already exists.
                %br
                You can
              = link_to 'remove', project_design_design_option_path(@project, @design, design_option), method: :delete, remote: true, data: { confirm: "Are you sure you want to remove variable '#{variable.name}' from the design?" }, class: 'btn btn-xs btn-danger-inverse'
              this variable from the design.
              - variable.deleted = true
      - else
        - if not variable.uses_scale? and ['invisible', 'gone'].include?(variable.display_name_visibility)
          %label
            = variable.display_name
            = render 'design_options/required', design_option: design_option

        .form-group
          - if not variable.uses_scale? and 'visible' == variable.display_name_visibility
            %label.col-md-3.control-label
              = variable.display_name
              = render 'design_options/required', design_option: design_option

          %div{ class: "#{(variable.uses_scale? || variable.display_name_visibility == 'gone' ? 'col-md-12' : 'col-md-9')} #{'col-md-offset-3' if variable.display_name_visibility == 'invisible' and not variable.uses_scale?}" }
            %div{ style: "line-height:30px" }
              - if Variable::TYPE.flatten.uniq.include?(variable.variable_type)
                = render "design_options/show/#{variable.variable_type}", design_option: design_option, variable: variable
    .col-sm-6.design-preview-hide
      %h4{ style: "margin-top:0px" } Variable
      .design-edit-box
        %table.table.table-fixed{ style: "margin-bottom:0px" }
          %col{ width: "30%" }
          %tr
            %td{ style: "border-top-width:0px" }
              %strong Name
            %td{ style: "border-top-width:0px" }
              %code= variable.name
          - unless design_option.branching_logic.blank?
            %tr
              %td
                %strong Show If
              %td
                %code= design_option.branching_logic
          - unless variable.deleted?
            - variable_types = if ['string', 'text'].include?(variable.variable_type)
              - ['string', 'text']
            - elsif ['integer', 'numeric'].include?(variable.variable_type)
              - ['integer', 'numeric']
            - elsif ['radio', 'dropdown'].include?(variable.variable_type)
              - ['radio', 'dropdown']
            - else
              - [variable.variable_type]
            - if variable_types.size > 1
              = render 'design_options/set_design_option', design_option: design_option, title: 'Type', values: variable_types.collect{|v| [v,v]}, attribute: :variable_type

            - if ['radio', 'checkbox'].include?(variable.variable_type)
              = render 'design_options/set_design_option', design_option: design_option, title: 'Options Alignment', values: Variable::ALIGNMENT, attribute: :alignment

            - unless ['radio', 'checkbox'].include?(variable.variable_type) and variable.alignment == 'scale'
              = render 'design_options/set_design_option', design_option: design_option, title: 'Display Name', values: Variable::DISPLAY_NAME_VISIBILITY, attribute: :display_name_visibility

            - if ['time', 'date'].include?(variable.variable_type)
              - title = "Current #{variable.variable_type.titleize} Button"
              - values = [['show', true],['hide', false]]
              = render 'design_options/set_design_option', design_option: design_option, title: title, values: values, attribute: :show_current_button

            - if ['date'].include?(variable.variable_type)
              - values = [['MM/DD/YYYY', '%m/%d/%Y'],['DD/MM/YYYY', '%d/%m/%Y'],['YYYY-MM-DD', '%Y-%m-%d']]
              = render 'design_options/set_design_option', design_option: design_option, title: 'Date Format', values: values, attribute: :format

            - if ['grid'].include?(variable.variable_type)
              - values = [['enabled', true],['disabled', false]]
              = render 'design_options/set_design_option', design_option: design_option, title: 'Allow Multiple Rows', values: values, attribute: :multiple_rows

              %tr
                %td
                  %strong Default Row Number
                %td
                  = link_to variable.default_row_number, edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: 'grid_rows'), method: :get, remote: true, class: 'btn btn-xs btn-default'
          %tr
            %td
              %strong Actions
            %td
              - if variable.deleted?
                - variable.deleted = false
                - if variable.valid?
                  = link_to 'Restore', restore_project_variable_path(@project, variable), method: :post, class: 'btn btn-xs btn-success'
                - variable.deleted = true
              - else
                = link_to 'Edit', edit_project_design_design_option_path(@project, @design, design_option), remote: true, class: 'btn btn-xs btn-default'
              = link_to 'Remove', project_design_design_option_path(@project, @design, design_option), method: :delete, remote: true, data: { confirm: "Are you sure you want to remove variable '#{variable.name}' from the design?" }, class: 'btn btn-xs btn-danger-inverse'
