- if @designs.count == 0
  .jumbotron
    %p.center No designs found.
- else
  - show_unblinded_only = (@project.blinding_enabled? && @project.unblinded?(current_user))
  .dashboard-container
    %table.table.table-striped
      %col
      %col.hidden-xs
      - if show_unblinded_only
        %col.hidden-xs
      %col.hidden-xs
      %col{ width: '1px' }
      %thead
        %tr
          = th_sort_field @order, 'designs.name', 'Name'
          %th.hidden-xs Variables
          - if show_unblinded_only
            %th.hidden-xs.center Only Unblinded
          %th.hidden-xs.nowrap{ class: ['designs.category_name', 'designs.category_name desc'].include?(params[:order]) ? 'sort-selected' : nil }
            = link_to 'Category', project_designs_path(@project, order: (params[:order] == 'designs.category_name' ? 'designs.category_name desc' : 'designs.category_name'), category_id: params[:category_id])
            .dropdown{ style: 'display: inline-block' }
              = link_to '#', data: { target: '#', toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
                %span.glyphicon.glyphicon-filter
              %ul.dropdown-menu.dropdown-menu-right
                %li= link_to 'All Categories', project_designs_path(@project, order: params[:order]), style: params[:category_id].blank? ? 'font-weight:bold;' : ''
                - @project.categories.each do |category|
                  %li= link_to category.name, project_designs_path(@project, order: params[:order], category_id: category.id), style: params[:category_id].to_s == category.id.to_s ? 'font-weight:bold;' : ''
          %th Actions

      - @designs.each do |design|

        %tr{ id: "design_#{design.id}" }
          %td= link_to design.name, [@project, design]

          %td.hidden-xs= design.variables.count
          - if show_unblinded_only
            %td.hidden-xs.center
              - if design.only_unblinded?
                %span.glyphicon.glyphicon-eye-open.text-muted
          %td.hidden-xs= design.category.name if design.category
          %td
            = render 'layouts/edit_delete_dropdown', edit_url: edit_project_design_path(@project, design), delete_url: [@project, design], delete_confirmation: "Are you sure you want to delete Design #{design.name}?"

  .center
    = paginate @designs, theme: 'bootstrap'
