- all_creators = User.where(id: @project.designs.select(:user_id))
.dashboard-container
  %table.table.table-striped
    %col
    %col.hidden-xs
    %col.hidden-xs
    %col{ width: '1px' }
    %thead
      %tr
        = th_sort_field @order, 'designs.name', 'Name'
        %th.hidden-xs Variables
        %th.hidden-xs.nowrap{ class: ['designs.user_name', 'designs.user_name desc'].include?(params[:order]) ? 'sort-selected' : nil }
          = link_to 'Creator', project_designs_path(@project, order: (params[:order] == 'designs.user_name desc' ? 'designs.user_name' : 'designs.user_name desc'), user_id: params[:user_id])
          .dropdown{ style: 'display: inline-block' }
            = link_to '#', data: { target: '#', toggle: 'dropdown' }, role: 'button', aria: { haspopup: 'true', expanded: 'false' } do
              %span.glyphicon.glyphicon-filter
            %ul.dropdown-menu.dropdown-menu-right
              %li= link_to 'All Users', project_designs_path(@project, order: params[:order]), style: params[:user_id].blank? ? 'font-weight:bold;' : ''
              - all_creators.order(:first_name, :last_name).each do |user|
                %li= link_to user.name, project_designs_path(@project, order: params[:order], user_id: user.id), style: params[:user_id].to_s == user.id.to_s ? 'font-weight:bold;' : ''

        %th Actions

    - @designs.each do |design|

      %tr{ id: "design_#{design.id}" }
        %td= link_to design.name, [@project, design]

        %td.hidden-xs= design.variables.count
        %td.hidden-xs= link_to design.user.name, design.user if design.user
        %td
          .dropdown
            = link_to '#', class: 'btn btn-default btn-xs dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_project_design_path(@project, design) do
                  %span.glyphicon.glyphicon-edit
                  Edit
              %li.divider{ role: 'separator' }
              %li
                = link_to [@project, design], method: :delete, data: { confirm: "Are you sure you want to delete Design #{design.name}?" } do
                  .text-danger
                    %span.glyphicon.glyphicon-trash
                    Delete

.center
  = paginate @designs, theme: 'bootstrap'
