<% position = Time.now.to_i.to_s + Time.now.usec.to_s %>
<% @position = position %>
<div id="variable_<%= position %>" class="<%= 'fieldset_with_errors' if @design.errors.keys.include?(:variables) %> well" data-object="expand-details" data-target=".variable_<%= position %>_details" data-target-hide=".variable_<%= position %>_compact" data-selector="variabledetails" data-inverse-selector="variablecompact">
  <%= link_to 'Remove', "#", data: { object: 'remove', target: "variable_#{position}" }, class: 'btn btn-mini btn-danger', style: 'float:right' %>

  <div class="control-group" style="margin-bottom:0px">
    <%= label_tag "design_option_tokens_#{position}_section_name", '&equiv; Section'.html_safe, class: 'control-label handle', style: 'cursor:move' %>
    <div class="controls">
      <%= text_field_tag "design[option_tokens][#{position}][section_name]", @option[:section_name] %>
    </div>
  </div>

  <div class="variable_<%= position %>_details" style="display:none" data-object="variabledetails">
    <div class="control-group" style="margin-top:18px">
      <%= label_tag "design_option_tokens_#{position}_section_description", 'Description', class: 'control-label' %>
      <div class="controls">
        <%= text_area_tag "design[option_tokens][#{position}][section_description]", @option[:section_description], rows: 3, style: 'width:90%' %>
      </div>
    </div>

    <div class="control-group">
      <%= label_tag "design_option_tokens_#{position}_branching_logic", 'Branching Logic', class: 'control-label' %>
      <div class="controls">
        <%= text_area_tag "design[option_tokens][#{position}][branching_logic]", @option[:branching_logic], rows: 3, style: 'width:90%',
        rel: "popover", data: { content: "
          <table class='table table-bordered'>
          <tbody>
            <tr><td style='font-weight:bold'>General</td><td>variable == 5</td></tr>
            <tr><td style='font-weight:bold'>OR</td><td>a > 5 || b < 2</td></tr>
            <tr><td style='font-weight:bold'>AND</td><td>a > 5 && a < 10</td></tr>
            <tr><td style='font-weight:bold'>Checkbox</td><td>overlap(variable, ['5'])</td></tr>
          </tbody>
          </table>
          ", title: "Branching Logic Examples", placement: 'bottom', html: true } %>
      </div>
    </div>

    <div class="control-group">
      <div class="controls checkbox">
        <%= check_box_tag "design[option_tokens][#{position}][break_before]", '1', @option[:break_before] == '1' %> <%= label_tag "design_option_tokens_#{position}_break_before", 'Break Before' %>
      </div>
    </div>

    <div class="control-group" style="margin-bottom:0px">
      <div class="controls">
        <%= link_to 'Add Variable After', '#', class: 'btn btn-mini', data: { object: 'variable-insert-after', position: position } %>
        <%= link_to 'Add Section After', '#', class: 'btn btn-mini', data: { object: 'section-insert-after', position: position } %>
      </div>
    </div>
  </div>
</div>
