<div class="page-header">
  <h1><%= link_to @design.project.name, @design.project %> &middot; <%= @title %></h1>
</div>

<%= form_for [@design.project, @design], html: { class: 'form-horizontal' } do |f| %>
  <% if @design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@design.errors.count, "error") %> prohibited this design from being saved:</h2>

      <ul>
      <% @design.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id %>

  <div class="control-group">
    <%= f.label :name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :email_subject_template, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :email_subject_template, style: 'width:95%', placeholder: '#(project) #(design) Receipt: #(subject)' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email_template, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :email_template, rows: 7, style: 'width:95%', rel: 'popover', data: { title: 'Reference Variables', placement: 'bottom', content: "<table class='table'>
        <thead><tr><th>Code</th><th>Example Output</th></tr></thead>
        <tr><td>#(subject)</td><td>1234</td></tr>
        <tr><td style='white-space:nowrap'>#(subject).acrostic</td><td>REMU</td></tr>
        <tr><td>#(site)</td><td>Site A</td></tr>
        <tr><td>#(date)</td><td>2012-02-14</td></tr>
        <tr><td>#(project)</td><td>#{@design.project.name if @design.project}</td></tr>
        <tr><td>#(design)</td><td>#{@design.name}</td></tr>
        <tr><td>$(age)</td><td>28</td></tr>
        <tr><td>$(age).name</td><td>Age at Study</td></tr>
        <tr><td>$(scorer_id).name</td><td>Scorer</td></tr>
        <tr><td>$(scorer_id)</td><td>1: John Smith</td></tr>
        <tr><td>$(scorer_id).label</td><td>John Smith</td></tr>
        <tr><td>$(scorer_id).value</td><td>1</td></tr>
      </table>",
      html: true } %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>

  <div class="btn-toolbar">
    <%= link_to 'Add Variable', '#', id: 'add_more_variables_top', class: 'btn btn-mini' %>
    <%= link_to 'Add Section', '#', id: 'add_more_sections_top', class: 'btn btn-mini' %>
  </div>

  <div id="variables" data-object="sortable">
    <%= render partial: 'variables' %>
  </div>

  <div class="btn-toolbar">
    <%= link_to 'Add Variable', '#', id: 'add_more_variables', class: 'btn btn-mini' %>
    <%= link_to 'Add Section', '#', id: 'add_more_sections', class: 'btn btn-mini' %>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>

<div id="variable_popup_container">
</div>
