<div class="page-header">
  <h1><%= link_to @design.project.name, @design.project %> &middot; <%= @title %></h1>
</div>

<%= form_for [@design.project, @design], html: { class: 'form-horizontal' } do |f| %>
  <% if @design.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@design.errors.count, "error") %> prohibited this design from being saved</h4>

      <ul>
      <% @design.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :publicly_available, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.check_box :publicly_available %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>

<div id="variable_popup_container">
</div>
