= form_for [@design.project, @design], html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      .input-group
        = f.text_field :name, class: 'form-control'
        %span.input-group-btn
          = link_to '#', class: 'btn btn-info', data: { object: 'toggle-visibility', target: '#name-info' }, tabindex: '-1' do
            %span.glyphicon.glyphicon-info-sign
      = render 'layouts/errors', object: @design, key: :name
      #name-info.callout.callout-info{ style: 'display: none;' }
        %p
          The design name provides a quick indication of the type of questions
          that will be asked.
        %p
          Ex:
          = succeed ',' do
            %code Demographics
          = succeed ',' do
            %code Intake Questionnaire
          %code Education Survey

  .form-group
    = f.label :short_name, 'Abbreviation', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :short_name, class: 'form-control', placeholder: @design.computed_short_name

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :publicly_available
          Publicly Available
        = link_to '#', class: 'btn btn-info btn-xs', data: { object: 'toggle-visibility', target: '#publicly-available-info' }, tabindex: '-1' do
          %span.glyphicon.glyphicon-info-sign
      #publicly-available-info.callout.callout-info{ style: 'display: none;' }
        %strong What does 'Publicly Available' mean?
        %p
          Make the design publicly available if you wish to send a link to
          others to answer the questions in a survey format.

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :repeated
          Repeated Design
        = link_to '#', class: 'btn btn-info btn-xs', data: { object: 'toggle-visibility', target: '#repeated-info' }, tabindex: '-1' do
          %span.glyphicon.glyphicon-info-sign
      #repeated-info.callout.callout-info{ style: 'display: none;' }
        %strong What does 'Repeated Design' mean?
        %p
          A prompt to enter another design of the same type for the same subject
          is displayed for repeated designs.

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = hidden_field_tag "design[show_site]", '0'
          = check_box_tag "design[show_site]", '1', @design.show_site?
          Show Site Selection on Survey
        = link_to '#', class: 'btn btn-info btn-xs', data: { object: 'toggle-visibility', target: '#show-site-info' }, tabindex: '-1' do
          %span.glyphicon.glyphicon-info-sign
      #show-site-info.callout.callout-info{ style: 'display: none;' }
        %strong What does 'Show Site Selection' mean?
        %p
          Public surveys will allow the respondent to also select the site for
          which they are filling out the survey.

  .form-group
    = label :questions, 'Questions', class: 'col-md-2 control-label'
    .col-md-10
      .callout.callout-info{ style: "margin-top:0px" }
        %strong Optional:
        Enter the questions you wish to ask on this design, and specify the
        format of the response. You can also skip adding questions here and
        add them in the advanced editor in the next step. The advanced editor
        will also provide finer control over responses to questions.
      #questions
        - @design.questions.each do |question_hash|
          = render 'designs/question', question_hash: question_hash
      = link_to 'Add Question', add_question_project_designs_path(@project), method: :post, remote: true, class: 'btn btn-xs btn-default', style: 'margin-top:6px'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @design.new_record? ? project_designs_path(@project) : [@project, @design], class: 'btn btn-default'
