= form_with model: [design.project, design], local: true do |form|
  =# render "forms/horizontal/text_field", form: form, object: design, key: :name, slug: "slug", help_text: "Ex: Demographics, Intake Questionnaire"
  = render "forms/horizontal/text_field", form: form, object: design, key: :name, help_text: "Ex: Demographics, Intake Questionnaire"
  = render "forms/horizontal/text_field", form: form, object: design, key: :short_name, key_name: "Abbreviation", placeholder: design.computed_short_name
  = render "forms/horizontal/check_box", form: form, object: design, key: :publicly_available, key_name: "Survey mode", help_text: "Generates a link to fill out the design as a public survey."
  = render "forms/horizontal/check_box", form: form, object: design, key: :show_site, key_name: "Survey mode site selection", help_text: "Allow survey respondents to select the site when filling out a public survey."
  = render "forms/horizontal/check_box", form: form, object: design, key: :repeated, key_name: "Multiple sheet entry", help_text: "Enable a prompt to fill out another sheet for this design for the current subject."
  = render "forms/horizontal/check_box", form: form, object: design, key: :notifications_enabled, key_name: "Sheet creation notifications", help_text: "Notify team members when sheets of this design are created."

  .form-group.row
    = label :questions, "Questions", class: "col-md-2 col-form-label"
    .col-md-10
      .form-control-plaintext
        .card.border-info.bg-light
          .card-body
            %p
              Enter questions, and specify the response format. You may skip
              this step and add questions in the advanced editor in the next
              step. The advanced editor provides fine control over question
              responses.
            #questions
              - @design.questions.each do |question_hash|
                = render "designs/question", question_hash: question_hash
            = link_to "Add Question", add_question_project_designs_path(@project), method: :post, remote: true, class: "btn btn-sm btn-light", style: "margin-top:6px"

  = render "forms/horizontal/submit", form: form, object: [design.project, design]
