<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @design, html: { class: 'form-horizontal' } do |f| %>
  <% if @design.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@design.errors.count, "error") %> prohibited this design from being saved:</h2>

      <ul>
      <% @design.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :project_id, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :project_id, [['---', nil]] + current_user.all_projects.current.collect{|p| [p.name, p.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div id="variables" data-object="sortable">
    <%= render partial: 'variables' %>
  </div>

  <div class="control-group">
    <label class="control-label">
      <%= link_to 'Add Another Variable', '#', id: 'add_more_variables', class: 'btn btn-mini' %>
    </label>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
