<div id="contour-backdrop" style="display:none"></div>

<div class="contour-modal-wrapper" data-object="contour_modal_wrapper" style="display:none">
  <div class="contour-modal modal-fixed" data-object="contour_modal_container" id="interactive-design-container">
  </div>
</div>

<div class="btn-toolbar">
  <div class="btn-group">
    <%= link_to 'Stop Editing', '#', class: 'btn btn-default btn-mini', data: { object: 'design-stop-edit', path: project_designs_path(@project) } %>
  </div>

  <div class="btn-group" data-toggle="buttons-radio">
    <% [['Edit Mode', true],['Preview Mode', false]].each do |label, previewable| %>
      <% if previewable %>
        <button type="button" class="btn btn-mini active" data-object="edit-mode"><%= label %></button>
      <% else %>
        <button type="button" class="btn btn-mini" data-object="preview-mode"><%= label %></button>
      <% end %>
    <% end %>
  </div>
</div>


<hr class="soften" style="margin-top:20px;" />

<%= hidden_field_tag :project_id, @project.id %>
<%= hidden_field_tag :design_id, @design.id %>


<div class="page-header">
  <div id="design_name-container"><%= render partial: 'designs/interactive/show/design_name' %></div>
  <div id="design_description-container"><%= render partial: 'designs/interactive/show/design_description' %></div>
</div>

<div id="design-sections-and-variables-container">
  <%= render partial: 'designs/interactive/show/sections_and_variables' %>
</div>
