<div class="page-header">
  <h1><%= link_to @project.name, setup_project_path(@project) %> &middot; <%= link_to @design.name, [@design.project, @design] %> &middot; Edit</h1>
</div>

<div class="modal" id="interactive_design_modal">
  <div class="modal-dialog modal-wide-width">
    <div class="modal-content" id="interactive-design-container">
    </div>
  </div>
</div>

<div class="btn-toolbar">
  <div class="btn-group" data-toggle="buttons">
    <% [['Edit Mode', true],['Preview Mode', false]].each do |label, previewable| %>
      <% if previewable %>
        <label class="btn btn-xs btn-default active" data-object="edit-mode">
          <input type="radio" name="preview_modes" id="edit-mode"><%= label %>
        </label>
      <% else %>
        <label class="btn btn-xs btn-default" data-object="preview-mode">
          <input type="radio" name="preview_modes" id="preview-mode"><%= label %>
        </label>
      <% end %>
    <% end %>
  </div>
</div>

<hr class="soften" style="margin-top:20px;" />

<%= hidden_field_tag :project_id, @project.id %>
<%= hidden_field_tag :design_id, @design.id %>


<div class="page-header">
  <div id="design_name-container"><%= render partial: 'designs/interactive/show/design_name' %></div>
  <div id="design_description-container"><%= render partial: 'designs/interactive/show/design_description' %></div>
</div>

<div id="design-sections-and-variables-container">
  <%= render partial: 'designs/interactive/show/sections_and_variables' %>
</div>
