.modal-header
  %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: true } } &times;
  %h4.modal-title Edit Design
.modal-body
  = form_for [@project, @design], remote: true, html: { class: 'form-horizontal', id: 'design_form' } do |f|
    - if @design.errors.any?
      .bs-callout.bs-callout-danger
        %h4
          = pluralize(@design.errors.count, "error")
          prohibited this design from being saved

        %ul
          - @design.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      %label.col-md-2.control-label Name
      .col-md-10
        = f.text_field :name, autocomplete: 'off', class: 'form-control'
    .form-group
      %label.col-md-2.control-label Description
      .col-md-10
        = f.text_area :description, rows: 7, class: 'form-control'
    .form-group
      .col-md-10.col-md-offset-2
        .row
          .col-xs-6
            .checkbox
              %label
                = f.check_box :publicly_available
                Publicly Available
          .col-xs-6
            .checkbox
              %label
                = f.check_box :show_site
                Show Site Selection on Survey
    .form-group
      %label.col-md-2.control-label Slug
      .col-md-10
        = f.text_field :slug, autocomplete: 'off', class: 'form-control'
    .form-group
      %label.col-md-2.control-label Redirect URL
      .col-md-10
        = f.text_field :redirect_url, autocomplete: 'off', placeholder: "#{ENV['website_url']}/about", class: 'form-control'
    .form-group
      %label.col-md-2.control-label Category
      .col-md-10
        = f.select :category_id, @project.categories.pluck(:name, :id), { include_blank: true }, class: 'form-control'
    - if @project.blinding_enabled?
      .form-group
        %label.col-md-2.control-label
          Only Unblinded
        .col-md-10
          .checkbox
            %label
              = f.check_box :only_unblinded
              Select to hide the design and associated sheets and comments from blinded staff
.modal-footer
  = button_tag 'Update', data: { object: 'submit', target: '#design_form' }, class: 'btn btn-primary'
  %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Cancel
