.modal-header
  %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: true } } &times;
  %h4.modal-title Edit Design
.modal-body
  = form_tag project_design_path(@project, @design), method: :patch, remote: true, class: 'form-horizontal', id: 'design_form' do
    - if @design.errors.any?
      .bs-callout.bs-callout-danger
        %h4
          = pluralize(@design.errors.count, "error")
          prohibited this design from being saved

        %ul
          - @design.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      %label.col-md-2.control-label Name
      .col-md-10
        = text_field_tag "design[name]", @design.name, autocomplete: 'off', class: 'form-control'
    .form-group
      %label.col-md-2.control-label Description
      .col-md-10
        = text_area_tag "design[description]", @design.description, rows: 7, class: 'form-control'
    .form-group
      .col-md-10.col-md-offset-2
        .row
          .col-xs-6
            .checkbox
              %label
                = hidden_field_tag "design[publicly_available]", '0'
                = check_box_tag "design[publicly_available]", '1', @design.publicly_available?
                Publicly Available
          .col-xs-6
            .checkbox
              %label
                = hidden_field_tag "design[show_site]", '0'
                = check_box_tag "design[show_site]", '1', @design.show_site?
                Show Site Selection on Survey
    .form-group
      %label.col-md-2.control-label Slug
      .col-md-10
        = text_field_tag "design[slug]", @design.slug, autocomplete: 'off', class: 'form-control'
    .form-group
      %label.col-md-2.control-label Redirect URL
      .col-md-10
        = text_field_tag "design[redirect_url]", @design.redirect_url, autocomplete: 'off', placeholder: "#{ENV['website_url']}/about", class: 'form-control'
.modal-footer
  = button_tag 'Update', data: { object: 'submit', target: '#design_form' }, class: 'btn btn-primary'
  %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Cancel
