.modal-header
  %h4.modal-title Edit Design
  %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } } &times;
.modal-body
  = form_with model: [@project, @design], id: "design_form" do |form|
    = form.hidden_field :language, value: World.language, name: :language
    = render "forms/horizontal/text_field", form: form, object: @design, key: :name, help_text: "Ex: Demographics, Intake Questionnaire", append: params[:locale]
    = render "forms/horizontal/text_field", form: form, object: @design, key: :short_name, key_name: "Abbreviation", placeholder: @design.computed_short_name
    = render "forms/horizontal/check_box", form: form, object: @design, key: :publicly_available, key_name: "Survey mode", help_text: "Generates a link to fill out the design as a public survey."
    = render "forms/horizontal/check_box", form: form, object: @design, key: :show_site, key_name: "Survey mode site selection", help_text: "Allow survey respondents to select the site when filling out a public survey."
    = render "forms/horizontal/check_box", form: form, object: @design, key: :repeated, key_name: "Multiple sheet entry", help_text: "Enable a prompt to fill out another sheet for this design for the current subject."
    = render "forms/horizontal/check_box", form: form, object: @design, key: :notifications_enabled, key_name: "Sheet creation notifications", help_text: "Notify team members when sheets of this design are created."

    = render "forms/horizontal/text_field", form: form, object: @design, key: :slug
    = render "forms/horizontal/text_field", form: form, object: @design, key: :redirect_url, key_name: "Redirect URL", placeholder: "#{ENV["website_url"]}/about"

    = render "forms/horizontal/select", form: form, object: @design, key: :category_id, options: @project.categories.pluck(:name, :id), include_blank: true
    = render "forms/horizontal/check_box", form: form, object: @design, key: :only_unblinded, help_text: "Hide sheets and comments from blinded staff." if @project.blinding_enabled?
    = render "forms/horizontal/check_box", form: form, object: @design, key: :ignore_auto_lock, help_text: "Prevent sheets from auto-locking." if @project.auto_locking_enabled?
.modal-footer
  = button_tag "Update", data: { object: "submit-and-disable", target: "#design_form" }, class: "btn btn-primary"
  %button.btn.btn-light{ type: "button", data: { dismiss: "modal" } } Cancel
