<% if @design.total_rows > 0 %>
  <% percent = @design.rows_imported * 100 / @design.total_rows %>
  <% status = "danger" %>
  <% status = "warning" if percent >= 33 %>
  <% status = "success" if percent == 100 %>
  <div class="progress progress-striped">
    <div class="progress-bar progress-bar-<%= status %>" style="width: <%= percent %>%;"><%= @design.rows_imported %> of <%= @design.total_rows %> (<%= percent %>%)</div>
  </div>
  <span class="muted">
    <% if @design.import_started_at %>
      <% if @design.import_ended_at %>
        Import took <%= distance_of_time_in_words(@design.import_started_at, @design.import_ended_at, { include_seconds: true }) %>.
      <% else %>
        Import started <%= distance_of_time_in_words(@design.import_started_at, Time.now, { include_seconds: true }) %> ago...
      <% end %>
    <% else %>
      Import starting...
    <% end %>
  </span>
<% else %>
  No rows were imported from CSV.
<% end %>
