- position = Time.zone.now.to_i.to_s + Time.zone.now.usec.to_s unless position
- @position = position

%div{ id: "question_#{@position}", style: "line-height:30px;padding-top:5px" }
  .row
    .col-xs-6.col-lg-8
      = text_field_tag "design[questions][][question_name]", question_hash[:question_name], class: "form-control"
    .col-xs-4.col-sm-2
      = select_tag "design[questions][][question_type]", options_for_select(Design::QUESTION_TYPES, question_hash[:question_type]), class: "form-control"
    .col-xs-2
      = link_to "Remove", "#", class: "btn btn-sm btn-outline-danger", data: { object: "remove", target: "#question_#{@position}" }, tabindex: "-1"
