<%# @ranges = [{ name: "2012", start_date: "2012-01-01", end_date: "2012-12-31" }, { name: "2013", start_date: "2013-01-01", end_date: "2013-12-31" }] %>

<table class="table table-hover"><col width="1px" />
  <thead>
    <tr>
      <th></th>
      <th>
        <% if @variable %>
          <%= @variable.display_name %>
        <% else %>
          Site
        <% end %>
      </th>
      <% @ranges.each do |hash| %>
        <th><span class="count-rot315 <%= 'muted' if hash[:name].blank? %>" rel="tooltip" title="<%= hash[:name].blank? ? 'Unknown' : hash[:tooltip] %>"><%= hash[:name].blank? ? 'Unknown' : hash[:name] %></span></th>
      <% end %>
      <th><span class="count-rot315">Total</span></th>
    </tr>
  </thead>
  <tfoot>
    <tr style="font-weight:bold">
      <% row_counts = @ranges.collect{|hash| hash[:count] } %>
      <td><span data-object="peity" data-method="line" style="display:none"><%= row_counts.join(',') %></span></td>
      <td>Total</td>
      <% @ranges.each do |hash| %>
        <% count = hash[:count] %>
        <td class="<%= 'muted' if count == 0 %>" rel="tooltip" title="<%= hash[:name].blank? ? 'Unknown' : hash[:tooltip] if count > 0 %>" data-placement="left">
          <%= link_to_if count > 0, count == 0 ? '-' : count, sheets_path(design_id: @design.id, sheet_before: (hash[:end_date].blank? ? nil : hash[:end_date].strftime("%m/%d/%Y")), sheet_after: (hash[:start_date].blank? ? nil : hash[:start_date].strftime("%m/%d/%Y"))) %>
          <%# hash[:column_count] = count %>
          <% if @percent == 'row' and count > 0 and row_counts.sum > 0 %>
            <span class="muted" style="font-size:0.7em"><%= (count * 100 / row_counts.sum).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
          <% end %>
        </td>
      <% end %>
      <% count = @sheets.count %>
      <td class="<%= 'muted' if count == 0 %>">
        <%= link_to_if count > 0, count == 0 ? '-' : count, sheets_path(design_id: @design.id) %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @strata.each do |stratum| %>
      <tr>
        <% row_counts = @ranges.collect{|hash| hash[:scope].with_stratum(@variable, stratum[:value]).count } %>
        <td><span data-object="peity" data-method="line" style="display:none"><%= row_counts.join(',') %></span></td>
        <td>
          <% link_name = ((stratum[:value].blank? or stratum[:value] == stratum[:name]) ? '' :  "#{stratum[:value]}: ") + stratum[:name] %>
          <% if stratum[:name].blank? %>
            <span class="muted">Unknown</span>
          <% else %>
            <%= link_to link_name, '#', data: { object: 'suppress-click' } %>
          <% end %>
          <% unless stratum[:info].blank? %><span class="muted"><%= stratum[:info] %></span><% end %>
        </td>
        <% @ranges.each do |hash| %>
          <% count = hash[:scope].with_stratum(@variable, stratum[:value]).count %>
          <td class="<%= 'muted' if count == 0 %>" rel="tooltip" title="<%= hash[:name].blank? ? 'Unknown' : hash[:tooltip] if count > 0 %>" data-placement="left">
            <%= link_to_if count > 0, count == 0 ? '-' : count, sheets_path(design_id: @design.id, stratum_id: (@variable ? @variable.id : nil), stratum_value: stratum[:value], sheet_before: (hash[:end_date].blank? ? nil : hash[:end_date].strftime("%m/%d/%Y")), sheet_after: (hash[:start_date].blank? ? nil : hash[:start_date].strftime("%m/%d/%Y"))) %>
            <% if @percent == 'row' and count > 0 and row_counts.sum > 0 %>
              <span class="muted" style="font-size:0.7em"><%= (count * 100 / row_counts.sum).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
            <% end %>
            <% if @percent == 'column' and count > 0 and hash[:count] > 0 %>
              <span class="muted" style="font-size:0.7em"><%= (count * 100 / hash[:count]).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
            <% end %>
          </td>
        <% end %>
        <% count = @sheets.with_stratum(@variable, stratum[:value]).count %>
        <td class="<%= 'muted' if count == 0 %>" rel="tooltip" title="<%= stratum[:name].blank? ? 'Unknown' : stratum[:name] if count > 0 %>" data-placement="left">
          <%= link_to_if count > 0, count == 0 ? '-' : count, sheets_path(design_id: @design.id, stratum_id: (@variable ? @variable.id : nil), stratum_value: stratum[:value]) %>
          <% if @percent == 'column' and count > 0 and @sheets.count > 0 %>
            <span class="muted" style="font-size:0.7em"><%= (count * 100 / @sheets.count).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '#permalink', report_design_path(@design, by: @by, percent: @percent, include_blank: (params[:include_blank].to_s == '1' ? '1' : '0'), sheet_after: (@sheet_after.blank? ? nil : @sheet_after.strftime("%m/%d/%Y")),
                                              sheet_before: (@sheet_before.blank? ? nil : @sheet_before.strftime("%m/%d/%Y")), variable_id: (@variable ? @variable.id : nil),
                                              column_variable_id: (@column_variable ? @column_variable.id : nil), column_include_blank: (params[:column_include_blank].to_s == '1' ? '1' : '0') ), class: 'pull-right' %>

