<% unless params[:header] == '0' %>
  <div class="page-header">
    <h1><%= @design.name %></h1>
  </div>
<% end %>

<% unless @design.description.blank? %>
  <div class="bs-callout bs-callout-info">
    <% if params[:header] == '0' %><h4>About this Survey</h4><% end %>
    <%= simple_markdown @design.description %>
  </div>
<% end %>

<% show_navigation = (@design.sections.size > 1) %>

<% if show_navigation %>
<div class="row">
  <div class="col-md-3">
    <%= render partial: 'designs/navigation' %>
  </div>
  <div class="col-md-9" id="main-bar">
<% end %>

<% @design.options.each do |option| %>
  <% @option = option %>
  <% if @option[:variable_id].blank? %>
    <%= render partial: 'sheet_variables/section' %>
  <% elsif @variable = Variable.current.find_by_id(@option[:variable_id]) %>
    <%= render partial: 'sheet_variables/form', locals: { show_values: params[:header] != '0' } %>
  <% end %>
<% end %>

<% if show_navigation %>
  </div>
</div>
<% end %>
