<% unless params[:header] == '0' %>
  <div class="bs-callout bs-callout-info">
    <h4><%= @design.name %></h4>

    <%= simple_markdown @design.description unless @design.description.blank? %>
  </div>
<% end %>

<% show_navigation = (@design.sections.size > 1) %>

<% if show_navigation %>
<div class="row">
  <div class="col-lg-3">
    <%= render partial: 'designs/navigation' %>
  </div>
  <div class="col-lg-9" id="main-bar">
<% end %>

<% @design.options.each do |option| %>
  <% @option = option %>
  <% if @option[:variable_id].blank? %>
    <%= render partial: 'designs/section' %>
  <% elsif @variable = Variable.current.find_by_id(@option[:variable_id]) %>
    <%= render partial: 'sheet_variables/form' %>
  <% end %>
<% end %>

<% if show_navigation %>
  </div>
</div>
<% end %>
