<% unless params[:header] == '0' %>
  <div class="page-header">
    <h1><%= @design.name %></h1>
  </div>
<% end %>

<% unless @design.description.blank? %>
  <div class="bs-callout bs-callout-info">
    <% if params[:header] == '0' %><h4>About this Survey</h4><% end %>
    <%= simple_markdown @design.description %>
  </div>
<% end %>

<% @design.options.each do |option| %>
  <% @option = option %>
  <% if @option[:variable_id].blank? %>
    <%= render partial: 'sheet_variables/section' %>
  <% elsif @variable = Variable.current.find_by_id(@option[:variable_id]) %>
    <%= render partial: 'sheet_variables/form', locals: { show_values: params[:header] != '0' } %>
  <% end %>
<% end %>

<% unless params[:header] == '0' %>
  <% if @project.lockable? %>
    <div class="well">
      <div class="form-group">
        <%= label_tag :locked, "<span class='glyphicon glyphicon-leaf' style='color:#5cb85c'></span> eSignature and Lock".html_safe, class: 'col-md-3 control-label' %>
        <div class="col-md-9" style="padding-left: 20px;display: block;min-height: 27px;padding-top: 7px;">
          <%= check_box_tag "sheet[locked]", '1', @sheet.locked, style: 'float: left;margin-left: -20px;' %> By checking this box I attest that I have personally entered all of the available data recorded and reviewed for completeness and accuracy. All information entered by me is correct to the best of my knowledge.
          <div style="margin-top:1em"><strong>Checking this box will <span class="glyphicon glyphicon-lock" style="color:#5bc0de"></span> LOCK this sheet and disable further editing.</strong></div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
