<%# This file shows a variable for use in a sheet %>
<% disabled = '' if defined?(disabled) == nil %>
<div class="control-group" data-object="variable-container" id="varvar_<%= @variable.id %>">

  <%# data-condition-parent="<%= @design.condition_parent(@variable) if @design % >" data-condition-value="<%= @design.condition_value(@variable) if @design % >"  %>

  <% unless @variable.header.blank? %>
    <div class="page-header" style="margin-top:0px">
      <h4>
        <%= @variable.header %>
      </h4>
    </div>
  <% end %>

  <%= label 'variables', "#{@variable.id}", @variable.display_name, class: 'control-label' unless @variable.hide_display_name? %>

  <div class="<%= "controls" unless @variable.hide_display_name? %> <%= @variable.variable_type if ['radio', 'checkbox'].include?(@variable.variable_type) %>">
    <div style="line-height:30px">
      <%= render partial: 'sheet_variables/form', locals: { disabled: disabled, variable: @variable } %>
    </div>
  </div>
</div>
