<%# This file shows a variable for use in a sheet %>
<% disabled = '' if defined?(disabled) == nil %>
<div class="control-group" data-object="variable-container" id="varvar_<%= @variable.id %>">

  <%# data-condition-parent="<%= @design.condition_parent(@variable) if @design % >" data-condition-value="<%= @design.condition_value(@variable) if @design % >"  %>

  <% unless @variable.header.blank? %>
    <div class="page-header" style="margin-top:0px">
      <h4>
        <%= @variable.header %>
      </h4>
    </div>
  <% end %>

  <%= label 'variables', "#{@variable.id}", @variable.display_name, class: 'control-label' %>
  <div class="controls <%= @variable.variable_type if ['radio', 'checkbox'].include?(@variable.variable_type) %>">
    <% sheet_variable = (@sheet ? @sheet.sheet_variables.find_by_variable_id(@variable.id) : nil) %>
    <% response = (params[:variables].blank? ? (sheet_variable ? sheet_variable.response : nil) : params[:variables][@variable.id.to_s]) %>
    <% case @variable.variable_type when 'dropdown' %>
      <%= select_tag "variables[#{@variable.id}]", "<option value=''></option>".html_safe + grouped_options_for_select(@variable.grouped_by_missing, response), data: { content: @variable.description, title: @variable.display_name, object: "condition", name: @variable.name }, rel: "#{'popover' unless @variable.description.blank?}", disabled: disabled, class: 'chzn-select' %>
    <% when 'radio' %>
      <% @variable.options.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
        <%= radio_button_tag "variables[#{@variable.id}]", "#{value}", value == response, data: { object: "condition" }, disabled: disabled %> <label><%= value %>: <%= name %></label>
      <% end %>
    <% when 'checkbox' %>
      <% array = YAML::load(response) rescue array = response || [] %>
      <%= hidden_field_tag "variables[#{@variable.id}][]", nil, disabled: disabled %>
      <% @variable.options.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
        <%= check_box_tag "variables[#{@variable.id}][]", "#{value}", array.collect{|i| i.to_s}.include?(value), data: { object: "condition" }, disabled: disabled %> <label><%= value %>: <%= name %></label>
      <% end %>
    <% when 'string' %>
      <%= text_field_tag "variables[#{@variable.id}]", response, data: { content: @variable.description, title: @variable.display_name, object: "condition" }, rel: "#{'popover' unless @variable.description.blank?}", disabled: disabled %>
    <% when 'text' %>
      <%= text_area_tag "variables[#{@variable.id}]", response, rows: 7, style: 'width:95%', data: { content: @variable.description, title: @variable.display_name, placement: 'bottom' }, rel: "#{'popover' unless @variable.description.blank?}", disabled: disabled %>
    <% when 'integer' %>
      <%= text_field_tag "variables[#{@variable.id}]", response, data: { object: 'minmax condition', provide: 'typeahead', items: '4', source: @variable.missing_codes, content: @variable.description_range, title: @variable.display_name, hard_minimum: @variable.hard_minimum, hard_maximum: @variable.hard_maximum, soft_minimum: @variable.soft_minimum, soft_maximum: @variable.soft_maximum, name: @variable.name, missing_codes: @variable.missing_codes }, rel: "#{'popover' unless @variable.description_range.blank?}", disabled: disabled %>
    <% when 'numeric' %>
      <%= text_field_tag "variables[#{@variable.id}]", response, data: { object: 'minmax condition', provide: 'typeahead', items: '4', source: @variable.missing_codes, content: @variable.description_range, title: @variable.display_name, hard_minimum: @variable.hard_minimum, hard_maximum: @variable.hard_maximum, soft_minimum: @variable.soft_minimum, soft_maximum: @variable.soft_maximum, name: @variable.name, missing_codes: @variable.missing_codes }, rel: "#{'popover' unless @variable.description_range.blank?}", disabled: disabled %>
    <% when 'date' %>
      <%= text_field_tag "variables[#{@variable.id}]", (Date.parse(response).strftime('%m/%d/%Y') rescue response), class: 'datepicker', data: { object: 'dateminmax', content: @variable.description, title: @variable.display_name,
       date_hard_minimum: (@variable.date_hard_minimum.strftime('%m/%d/%Y') rescue ''), date_hard_maximum: (@variable.date_hard_maximum.strftime('%m/%d/%Y') rescue ''),
       date_soft_minimum: (@variable.date_soft_minimum.strftime('%m/%d/%Y') rescue ''), date_soft_maximum: (@variable.date_soft_maximum.strftime('%m/%d/%Y') rescue ''), missing_codes: @variable.missing_codes }, rel: "#{'popover' unless @variable.description.blank?}", disabled: disabled %>
    <% when 'time' %>
      <%= text_field_tag "variables[#{@variable.id}]", (Time.parse(response).strftime('%H:%M:%S') rescue response), data: { content: @variable.description, title: @variable.display_name, object: "condition" }, rel: "#{'popover' unless @variable.description.blank?}", disabled: disabled %>
      <%= javascript_tag "$(function(){ $('#variables_#{@variable.id}').timepicker({ 'timeFormat': 'H:i:s' }); });" %>
    <% when 'calculated'  %>
      <%= hidden_field_tag "variables[#{@variable.id}]", nil, disabled: disabled, data: { object: 'calculated', calculation: @variable.calculation, target: "#variable_#{@variable.id}_calculation_result", name: @variable.name } %>
      <span id="variable_<%= @variable.id %>_calculation_result" rel="<%= 'popover' unless @variable.calculation.blank? %>" data-content="<tt><center><%= @variable.calculation %></center></tt><%= simple_format ("<hr/>" + @variable.description.to_s) unless @variable.description.blank? %>" data-title="<%= @variable.display_name %>"></span>
    <% when 'file' %>
      <%= file_field_tag "variables[#{@variable.id}][response_file]", data: { content: @variable.description, title: @variable.display_name, object: "condition" }, rel: "#{'popover' unless @variable.description.blank?}", disabled: disabled %>
      <%= hidden_field_tag "variables[#{@variable.id}][response_file][cache]" %>
    <% else %>
      <%= hidden_field_tag "variables[#{@variable.id}]", nil, disabled: disabled %>
      Unsupported Variable Type <%= @variable.variable_type %>
    <% end %>
  </div>
</div>

<%= javascript_tag do %>
$(function(){
  $("[rel=popover]")
    .popover({
      offset: 10
    });
  $('#varvar_<%= @variable.id %>').data('values-hash', <%= raw @design ? @design.values_hash(@variable) : [].to_json %>)
  $('.chzn-select').chosen({ allow_single_deselect: true });
});
<% end %>
