<%# This file shows a variable for use in a sheet %>
<% disabled = '' if defined?(disabled) == nil %>
<div class="form-group" data-object="variable-container" id="varvar_<%= @variable.id %>">
  <% if @variable.uses_scale? %>
    <%# Nothing %>
  <% elsif ['invisible', 'gone'].include?(@variable.display_name_visibility) %>
    <div class="page-header" style="margin-top:0px">
      <h4 style="padding:0px">
        <%= @variable.display_name %>
      </h4>
    </div>
  <% else %>
    <%= label 'variables', "#{@variable.id}", @variable.display_name, class: 'col-lg-2 control-label' %>
  <% end %>

  <div class="<%= "controls" if @variable.display_name_visibility != 'gone' and not @variable.uses_scale? %>">
    <div style="line-height:30px">
      <%= render partial: 'sheet_variables/form', locals: { disabled: disabled, variable: @variable } %>
    </div>
  </div>
</div>
