- @title = "#{@design.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    .d-none.d-sm-block.btn-toolbar
      = render "translations/language_dropdown", button_class: "btn-sm"
      .btn-group
        = link_to "Edit Mode".html_safe, "#", class: "btn btn-sm btn-light active", data: { object: "edit-mode" }
        = link_to "Preview Mode".html_safe, "#", class: "btn btn-sm btn-light", data: { object: "preview-mode" }
      = link_to "Reorder Mode", reorder_project_design_path(@project, @design), class: "btn btn-sm btn-light"
  = link_to @design.short_name, [@project, @design]
  Edit

#interactive_design_modal.modal
  .modal-dialog.modal-lg
    #interactive-design-container.modal-content

.dashboard-container.mb-0
  -# TODO: Are the hidden fields needed for JS?
  = hidden_field_tag :project_id, @project.id
  = hidden_field_tag :design_id, @design.id

  #design_name-container= render "designs/design_name"
  #design-options= render "design_options/index"
