<% @title = 'Designs' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Design", new_design_path, class: 'btn btn-mini btn-primary' if current_user.librarian? %>
  </h1>
</div>

<%= form_tag designs_path, method: :get, remote: true, id: "designs_search", class: 'form-search' do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="designs"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#designs_search").attr("action"), $("#designs_search").serialize(), null, "script");
  });
<% end %>
