<% @title = 'Designs' %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= @title %>
    <%= link_to "Create Design", new_project_design_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag project_designs_path, method: :get, remote: true, id: "designs_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>
  <div class="row">
    <div class="span4 control-group">
      <%= label :search, 'Search', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'search', params[:search], class: 'search-query', data: { object: 'filter' } %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :user_id, 'Creator', class: 'control-label' %>
      <div class="controls">
        <%= select_tag 'user_id', options_for_select([['---', nil]] + User.current.with_design.order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}, params[:user_id]), data: { object: 'filter' } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>

    <span class="dropdown">
      <%= link_to 'Export <b class="caret"></b>'.html_safe, '#', class: 'dropdown-toggle btn', 'data-toggle' => "dropdown" %>
      <ul id="export-submenu" class="dropdown-menu" style="margin-top:9px">
        <li>
          <%= link_to 'XLS', '#', data: { object: 'export', format: 'xls', target: '#designs_search' } %>
          <%#= link_to 'Data Dictionary', '#', data: { object: 'export', format: 'csv', target: '#designs_search' } %>
        </li>
      </ul>
    </span>

    <%= link_to 'Reset', '#', class: 'btn', data: { target: '#designs_search', object: 'reset-filters' } %>
  </div>
<% end %>

<div id="designs"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
