- @title = 'Designs'
.page-header
  %h1
    = link_to @project.name, setup_project_path(@project)
    &middot;
    = @title
    = link_to "Create Design", new_project_design_path(@project), class: 'btn btn-xs btn-primary'
    = link_to "Create Design from Import", import_project_designs_path(@project), class: 'btn btn-xs btn-primary'
    = link_to "Create Design[s] from JSON Import", json_import_project_designs_path(@project), class: 'btn btn-xs btn-primary'

= form_tag project_designs_path(@project), method: :get, class: 'form-vertical' do
  = hidden_field_tag :order, params[:order]
  .row
    .col-md-4.form-group
      = label :search, 'Search', class: 'col-md-2 control-label'
      .col-md-10
        = text_field_tag 'search', params[:search], class: 'form-control'

    .col-md-4.form-group
      = label :user_id, 'Creator', class: 'col-md-2 control-label'
      .col-md-10
        = select_tag 'user_id', options_for_select([['---', nil]] + User.where( id: @project.designs.select(:user_id) ).order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}, params[:user_id]), class: 'form-control'

    .col-md-4.form-group
      = submit_tag 'Search', class: 'btn btn-primary', name: nil
      = link_to 'Reset', project_designs_path(@project), class: 'btn btn-default'

= render partial: 'designs/designs'
