- @title = "Designs"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    = link_to plus_or("New Design"), new_project_design_path(@project), class: "btn btn-accent btn-shadow"
    .per-page= render "layouts/per_page", per_page: 40, object_count: @designs.total_count
  = @title
  = render "search/toggle"

= render "search/simple", url: project_designs_path(@project)

- if @designs.present?
  - filtered_params = params.permit(:category_id, :search)
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col{ width: "1px" }
      %col
      %col.d-none.d-sm-table-column
      %col.d-none.d-sm-table-column
      %col{ width: "1px" }
      %thead
        %tr
          %th Abbr
          = th_sort_field_rev @order, "design", "Name", permit: [:category_id]
          = th_sort_field_rev @order, "variables", "Variables", extra_class: "d-none d-sm-table-cell text-center"
          %th.d-none.d-sm-table-cell.nowrap{ class: ["category", "category desc"].include?(params[:order]) ? "sort-selected" : nil }
            = link_to "Category", project_designs_path(@project, filtered_params.merge(order: (params[:order] == "category" ? "category desc" : "category"), category_id: params[:category_id]))
            %span.dropleft
              = link_to "#", data: { toggle: "dropdown" } do
                = icon("fas", "filter")
              .dropdown-menu
                = link_to "All Categories", project_designs_path(@project, filtered_params.merge(order: params[:order], category_id: nil)), style: params[:category_id].blank? ? "font-weight:bold;" : "", class: "dropdown-item"
                - @project.categories.each do |category|
                  = link_to category.name, project_designs_path(@project, filtered_params.merge(order: params[:order], category_id: category.id)), style: params[:category_id].to_s == category.id.to_s ? "font-weight:bold;" : "", class: "dropdown-item"
          %th.text-center Actions

      - @designs.each do |design|
        %tr{ id: "design_#{design.id}" }
          %td.nowrap= design.short_name
          %td
            = link_to design.name, [@project, design]
            = render "layouts/unblinded_only", project: @project, object: design, placement: "right"
          %td.d-none.d-sm-table-cell.text-center= design.variables_count
          %td.d-none.d-sm-table-cell= design.category.name if design.category
          %td.nowrap.text-center
            = render "layouts/edit_delete_dropdown", edit_url: edit_project_design_path(@project, design), delete_url: [@project, design], delete_confirmation: "Delete #{design.name}?"
  .center-horizontally= paginate @designs, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    No designs found.
    - if params[:search].present? && params[:category_id].present?
      = succeed "." do
        = link_to "Clear filters", project_designs_path(@project, search: params[:search])

.center-horizontally
  .docs-learn-more
    Learn about
    = succeed "." do
      = link_to "designs", docs_designs_path
