- @title = 'Designs'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = link_to plus_or('Create Design'), new_project_design_path(@project), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @designs.total_count
        = render 'layouts/side_nav_header_button'
        = @title

= render 'designs/designs'

.jumbotron
  = form_tag project_designs_path(@project), method: :get, class: 'form-vertical' do
    = hidden_field_tag :order, params[:order]

    .form-group
      = label :search, 'Search', class: 'control-label'
      = text_field_tag 'search', params[:search], class: 'form-control'

    .form-group
      = submit_tag 'Search', class: 'btn btn-primary', name: nil
      = link_to 'Reset', project_designs_path(@project), class: 'btn btn-default'
