<div class="page-header">
  <h2>
    <%= @design.name %>
  </h2>
  <%= simple_markdown @design.description unless @design.description.blank? %>
</div>

<% show_navigation = (@design.sections.size > 1) %>

<% if show_navigation %>
<div class="row">
  <div class="span3 bs-docs-sidebar">
    <%= render partial: 'designs/navigation' %>
  </div>
  <div class="span9">
<% end %>

<form class="form-horizontal">
  <% @design.options.each do |option| %>
    <% @option = option %>
    <% if @option[:variable_id].blank? %>
      <%= render partial: 'designs/section' %>
    <% elsif @variable = Variable.current.find_by_id(@option[:variable_id]) %>
      <% unless @variable.header.blank? %>
        <div class="page-header">
          <h4><%= simple_markdown @variable.header %></h4>
        </div>
      <% end %>

      <div class="control-group">
        <% if @variable.display_name_visibility == 'visible' %><label class="control-label"><%= @variable.display_name %></label><% end %>
        <div class="<%= "controls controls-row" unless @variable.display_name_visibility == 'gone' %>" style="padding-top:5px;">
          <% sheet_scope = current_user.all_viewable_sheets.where( project_id: @project.id, design_id: @design.id ) %>
          <% responses = @variable.sheet_variables.where(sheet_id: sheet_scope.pluck(:id)).pluck(:response) %>
          <%= render partial: "designs/overview/#{@variable.variable_type}", locals: { sheet_scope: sheet_scope, responses: responses } %>
        </div>
      </div>

    <% end %>
  <% end %>
</form>

<% if show_navigation %>
  </div>
</div>
<% end %>
