<div class="page-header">
  <h2>
    <%= @design.name %>
  </h2>
  <%= simple_markdown @design.description unless @design.description.blank? %>
</div>

<% show_navigation = (@design.sections.size > 1) %>

<% if show_navigation %>
<div class="row">
  <div class="span3 bs-docs-sidebar">
    <%= render partial: 'designs/navigation' %>
  </div>
  <div class="span9">
<% end %>

<% @design.options.each do |option| %>
  <% @option = option %>
  <% if @option[:variable_id].blank? %>
    <%= render partial: 'designs/section' %>
  <% elsif @variable = Variable.current.find_by_id(@option[:variable_id]) %>
    <% unless @variable.header.blank? %>
      <div class="page-header">
        <h4><%= simple_markdown @variable.header %></h4>
      </div>
    <% end %>
    <% if @variable.display_name_visibility == 'visible' %><%= @variable.display_name %><% end %>
    <% sheet_ids = @project.sheets.where( design_id: @design.id ).pluck(:id) %>
    <% responses = @variable.sheet_variables.where(sheet_id: sheet_ids).pluck(:response) %>
    <%#= render partial: 'designs/variable' %>
    <%= render partial: "designs/overview/#{@variable.variable_type}", locals: { responses: responses } %>
  <% end %>
<% end %>

<% if show_navigation %>
  </div>
</div>
<% end %>
