- @title = "#{@design.name} Reorder"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    .d-none.d-sm-block
      = link_to "Back to edit", edit_project_design_path(@project, @design), class: "btn btn-sm btn-light"
  = @design.short_name
- content_for :breadcrumbs do
  %ol
    %li= link_to "designs", project_designs_path(@project)
    %li= link_to (@design.slug.presence || @design.name).downcase, [@project, @design]
    %li= link_to "edit", edit_project_design_path(@project, @design)
    %li.breadcrumb-muted reorder

#interactive_design_modal.modal
  .modal-dialog.modal-lg
    #interactive-design-container.modal-content

.dashboard-container
  .btn-toolbar.mb-5
    .btn-group.mr-2
      = link_to "#", class: "btn btn-light", data: { object: "reorder", reorder: "sections" } do
        Sections
        %span.badge.badge-light= @design.main_sections.count

      = link_to "#", class: "btn btn-dark", data: { object: "reorder", reorder: "variables" } do
        Variables
        %span.badge.badge-light= @design.variables.count

    = link_to "Save order", "#", class: "btn btn-primary nowrap", data: { object: "reorder-save", reorder: "variables" }

  %div{ data: { object: "reorder-container", reorder: "sections" }, style: "display: none;" }
    = render "design_options/reorder_sections"

  %div{ data: { object: "reorder-container", reorder: "variables" } }
    = render "design_options/reorder_options"
