<% @title = "#{@design.name} Report" %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to "Summary Report", report_project_path(@project) %> &middot; <%= link_to @design.name, [@design.project, @design] %> Report
  </h1>
</div>

<div class="modal fade" id="new_filter_modal">
  <div class="modal-dialog modal-wide-width">
    <div class="modal-content" id="filter-modal">
    </div>
  </div>
</div>

<%= form_tag new_filter_project_path(@design.project, design_id: @design.id), method: :post, remote: true, id: 'new_filter_form', style: 'display:none' do %>
<% end %>

<div class="row-fluid">
  <div class="col-lg-8 download-container">
    <div class="download-container-after">Filters</div>
    <%= link_to 'Add Filter', '#', class: 'btn btn-default btn-mini pull-right', data: { object: 'open-new-filter-modal' } %>
    <%= form_tag filters_project_path(@design.project), method: :post, remote: true, id: 'filters_form' do %>
      <div id="filters">
        <%= render partial: 'filters/filters' %>
      </div>
    <% end %>
  </div>

  <div class="col-lg-4 download-container">
    <div class="download-container-after">Format</div>

    <%= form_tag report_project_design_path(@design.project, @design), method: :post, remote: true, data: { object: 'form-load-with-filters' }, class: "form-vertical", id: 'report_form', style: 'margin-top:15px' do %>
      <%= hidden_field_tag :page, params[:page] %>

      <div class="form-group">
        <label>Subjects</label>
        <%= render partial: 'layouts/checkbox_button_group', locals: { name: 'statuses', options: Subject::STATUS, selected: @statuses } %>
      </div>

      <div class="form-group">
        <label>Sheets</label>
        <%= render partial: 'layouts/radio_button_group', locals: { name: 'filter', options: [['All Sheets', 'all'], ['Last Sheet Entry', 'last'], ['First Sheet Entry', 'first']], selected: @filter } %>
      </div>

      <div class="form-group">
        <label>Report</label>
        <%= render partial: 'layouts/radio_button_group', locals: { name: 'percent', options: [['No Percents', 'none'], ['% by Row', 'row'], ['% by Column', 'column']], selected: @percent } %>
      </div>

      <div class="btn-group">
        <%= link_to 'Export <b class="caret"></b>'.html_safe, '#', class: 'dropdown-toggle btn btn-default', data: { toggle: 'dropdown' } %>
        <ul class="dropdown-menu">
          <li><%= link_to 'CSV', '#', data: { object: 'export-csv-with-filters', format: 'csv', target: '#report_form' } %></li>
          <li><%= link_to 'PDF - Portrait', '#', data: { object: 'export-report-pdf-with-filters', orientation: 'portrait', target: '#report_form' } %></li>
          <li><%= link_to 'PDF - Landscape', '#', data: { object: 'export-report-pdf-with-filters', orientation: 'landscape', target: '#report_form' } %></li>
        </ul>
      </div>
      <%= link_to 'Refresh', '#', class: 'btn btn-primary', data: { object: 'refresh-report' } %>

    <% end %>
  </div>
</div>

<div id="report"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
