<% @title = "#{@design.name} Report" %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to "Summary Report", report_project_path(@project) %> &middot; <%= link_to @design.name, [@design.project, @design] %> Report
  </h1>
</div>

<div id="contour-backdrop" style="display:none"></div>

<div class="contour-modal-wrapper" data-object="contour_modal_wrapper" style="display:none">
  <div class="contour-modal" data-object="contour_modal_container" id="filter-modal">
  </div>
</div>

<%= form_tag new_filter_project_path(@design.project, design_id: @design.id), method: :post, remote: true, id: 'new_filter_form', style: 'display:none' do %>
<% end %>

<div class="row-fluid">
  <div class="span8 download-container">
    <div class="download-container-after">Filters</div>
    <%= link_to 'Add Filter', '#', class: 'btn btn-mini pull-right', data: { object: 'open-new-filter-modal' } %>
    <%= form_tag filters_project_path(@design.project), method: :post, remote: true, id: 'filters_form' do %>
      <div id="filters">
        <%= render partial: 'filters/filters' %>
      </div>
    <% end %>
  </div>

  <div class="span4 download-container">
    <div class="download-container-after">Format</div>

    <%= form_tag report_project_design_path(@design.project, @design), method: :post, remote: true, data: { object: 'form-load-with-filters' }, class: "form-vertical", id: 'report_form', style: 'margin-top:15px' do %>
      <%= hidden_field_tag :percent, @percent %>
      <%= hidden_field_tag :filter, @filter %>
      <%= hidden_field_tag :page, params[:page] %>

      <div class="control-group">
        <label class="control-label">Subjects</label>
        <div class="controls">
          <div class="btn-group" data-toggle="buttons-checkbox">
            <% Subject::STATUS.each do |label, value| %>
              <button data-object="set-statuses" data-value="<%= value %>" type="button" class="btn btn-mini <%= 'active' if @statuses.include?(value) %>">
                <%= label.humanize %>
                <%= hidden_field_tag "statuses[]", @statuses.include?(value) ? value : '', id: "statuses_#{value}" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Sheets</label>
        <div class="controls">
          <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
              <button data-object="set-filter" data-value="all" class="btn btn-mini <%= 'active' if @filter == 'all' %>">All Sheets</button>
              <button data-object="set-filter" data-value="last" class="btn btn-mini <%= 'active' if @filter == 'last' %>">Last Sheet Entry</button>
              <button data-object="set-filter" data-value="first" class="btn btn-mini <%= 'active' if @filter == 'first' %>">First Sheet Entry</button>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Report</label>
        <div class="controls">
          <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
              <button data-object="set-percent" data-value="none" class="btn btn-mini <%= 'active' if @percent == 'none' %>">No Percents</button>
              <button data-object="set-percent" data-value="row" class="btn btn-mini <%= 'active' if @percent == 'row' %>">% by Row</button>
              <button data-object="set-percent" data-value="column" class="btn btn-mini <%= 'active' if @percent == 'column' %>">% by Column</button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <span class="dropdown">
          <%= link_to 'Export <b class="caret"></b>'.html_safe, '#', class: 'dropdown-toggle btn', data: { toggle: 'dropdown' } %>
          <ul class="dropdown-menu" style="margin-top:9px">
            <li><%= link_to 'CSV', '#', data: { object: 'export-csv-with-filters', format: 'csv', target: '#report_form' } %></li>
            <li><%= link_to 'PDF - Portrait', '#', data: { object: 'export-report-pdf-with-filters', orientation: 'portrait', target: '#report_form' } %></li>
            <li><%= link_to 'PDF - Landscape', '#', data: { object: 'export-report-pdf-with-filters', orientation: 'landscape', target: '#report_form' } %></li>
          </ul>
        </span>
        <%= link_to 'Refresh', '#', class: 'btn btn-primary', data: { object: 'refresh-report' } %>
      </div>

<% if false %>
      <div class="control-group">
        <label class="control-label">After</label>
        <div class="controls">
          <%= text_field_tag 'sheet_after', params[:sheet_after] || (Date.today - 6.months).beginning_of_month.strftime("%m/%d/%Y"), class: 'datepicker', rel: 'tooltip', title: "After", data: { object: 'form-reload', target: '#report_form', placement: 'right' } %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Before</label>
        <div class="controls">
          <%= text_field_tag 'sheet_before', params[:sheet_before] || (Date.today).end_of_month.strftime("%m/%d/%Y"), class: 'datepicker', rel: 'tooltip', title: "Before", data: { object: 'form-reload', target: '#report_form', placement: 'right' } %>
        </div>
      </div>
<% end %>

    <% end %>
  </div>
</div>

<div id="report"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
