<% @title = "#{@design.name} Report" %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to "Summary Report", report_project_path(@project) %> &middot; <%= link_to @design.name, [@design.project, @design] %> Report
  </h1>
</div>

<div id="contour-backdrop" style="display:none"></div>

<div class="contour-modal-wrapper" data-object="contour_modal_wrapper" style="display:none">
  <div class="contour-modal" data-object="contour_modal_container" id="filter-modal">
  </div>
</div>

<%= form_tag new_filter_project_path(@design.project, design_id: @design.id), method: :post, remote: true, id: 'new_filter_form', style: 'display:none' do %>
<% end %>

<div class="row-fluid">
  <div class="span8 download-container">
    <div class="download-container-after">Filters</div>
    <%= link_to 'Add Filter', '#', class: 'btn btn-mini pull-right', data: { object: 'open-new-filter-modal' } %>
    <%= form_tag filters_project_path(@design.project), method: :post, remote: true, id: 'filters_form' do %>
      <div id="filters">
        <%= render partial: 'filters/filters' %>
      </div>
    <% end %>
  </div>

  <div class="span4 download-container">
    <div class="download-container-after">Format</div>

    <%= form_tag report_project_design_path(@design.project, @design), method: :post, remote: true, data: { object: 'form-load' }, class: "form-vertical", id: 'report_form', style: 'margin-top:15px' do %>
      <%#= hidden_field_tag :by, @by %>
      <%= hidden_field_tag :percent, @percent %>
      <%= hidden_field_tag :filter, @filter %>
      <%= hidden_field_tag :page, params[:page] %>

      <div class="control-group">
        <label class="control-label">Subjects</label>
        <div class="controls">
          <div class="btn-group" data-toggle="buttons-checkbox">
            <% Subject::STATUS.each do |label, value| %>
              <button data-object="set-statuses" data-value="<%= value %>" data-target="#report_form" type="button" class="btn btn-mini <%= 'active' if @statuses.include?(value) %>">
                <%= label.humanize %>
                <%= hidden_field_tag "statuses[]", @statuses.include?(value) ? value : '', id: "statuses_#{value}" %>
              </button>
            <% end %>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Sheets</label>
        <div class="controls">
          <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
              <button data-object="set-filter" data-value="all" class="btn btn-mini <%= 'active' if @filter == 'all' %>">All Sheets</button>
              <button data-object="set-filter" data-value="last" class="btn btn-mini <%= 'active' if @filter == 'last' %>">Last Sheet Entry</button>
              <button data-object="set-filter" data-value="first" class="btn btn-mini <%= 'active' if @filter == 'first' %>">First Sheet Entry</button>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Report</label>
        <div class="controls">
          <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
              <button data-object="set-percent" data-value="none" class="btn btn-mini <%= 'active' if @percent == 'none' %>">No Percents</button>
              <button data-object="set-percent" data-value="row" class="btn btn-mini <%= 'active' if @percent == 'row' %>">% by Row</button>
              <button data-object="set-percent" data-value="column" class="btn btn-mini <%= 'active' if @percent == 'column' %>">% by Column</button>
            </div>
          </div>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">After</label>
        <div class="controls">
          <%= text_field_tag 'sheet_after', params[:sheet_after] || (Date.today - 6.months).beginning_of_month.strftime("%m/%d/%Y"), class: 'datepicker', rel: 'tooltip', title: "After", data: { object: 'form-reload', target: '#report_form', placement: 'right' } %>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Before</label>
        <div class="controls">
          <%= text_field_tag 'sheet_before', params[:sheet_before] || (Date.today).end_of_month.strftime("%m/%d/%Y"), class: 'datepicker', rel: 'tooltip', title: "Before", data: { object: 'form-reload', target: '#report_form', placement: 'right' } %>
        </div>
      </div>

<% if false %>
      <div class="control-group">
        <label class="control-label">Date</label>
        <div class="controls">
          <div class="btn-toolbar">
            <div class="btn-group" data-toggle="buttons-radio">
              <button data-object="set-by" data-value="week" class="btn btn-mini <%= 'active' if @by == 'week' %>">Week</button>
              <button data-object="set-by" data-value="month" class="btn btn-mini <%= 'active' if @by == 'month' %>">Month</button>
              <button data-object="set-by" data-value="year" class="btn btn-mini <%= 'active' if @by == 'year' %>">Year</button>
            </div>
          </div>
        </div>
      </div>
<% end %>
    <% end %>
  </div>
</div>

<% if false %>

<%= form_tag report_project_design_path(@design.project, @design), method: :post, remote: true, data: { object: 'form-load' }, class: "form-inline", id: 'report_form' do %>
  <%= hidden_field_tag :by, @by %>
  <%= hidden_field_tag :percent, @percent %>
  <%= hidden_field_tag :filter, @filter %>
  <%= hidden_field_tag :page, params[:page] %>



  <% params[:row_variable_ids] = params[:row_variable_ids].to_s.split(',') unless params[:row_variable_ids].kind_of?(Array) %>

  <div class="row-fluid">
    <div class="span4">
      Row
      <div class="controls">
        <% row_variable_groups = @design.grouped_reportable_variables(['dropdown', 'radio', 'string']) %>
        <%= hidden_field_tag :row_variable_ids, params[:row_variable_ids].join(',') %>
        <%= select_tag :row_variable_temp_ids, options_for_select([['Site', 'site']], params[:row_variable_ids]) + grouped_options_for_select(row_variable_groups, params[:row_variable_ids]), data: { object: 'filter' }, class: 'span4 chzn-select', multiple: true, style: 'display:none' %>
        <span id="row-include-blank" style="white-space:nowrap; <%= 'display:none' unless @variable %>">
          <%= check_box_tag :row_include_missing, '1', params[:row_include_missing].to_s != '0', data: { object: 'form-reload', target: '#report_form' } %> <%= label_tag :row_include_missing %>
        </span>
        <%#= text_field_tag :row_variable_ids, params[:row_variable_ids].kind_of?(Array) ? params[:row_variable_ids].join(',') : params[:row_variable_ids] %>
      </div>
    </div>
    <div class="span4">
      Column
      <% column_variable_groups = @design.grouped_reportable_variables(['dropdown', 'radio', 'string', 'date', 'integer', 'numeric', 'calculated']) %>
      <%= select_tag :column_variable_id, grouped_options_for_select(column_variable_groups, params[:column_variable_id]), data: { object: 'filter form-reload', target: '#report_form' }, class: 'input-medium chzn-select' %>
      <%= check_box_tag :column_include_missing, '1', params[:column_include_missing].to_s != '0', data: { object: 'form-reload', target: '#report_form' } %> <%= label_tag :column_include_missing, 'Include missing' %>
    </div>

    <div class="btn-toolbar span4" style="padding-top:3px;margin-top:0px;">
      <div class="btn-group pull-right" data-toggle="buttons-radio">
        <button data-object="set-percent" data-value="none" class="btn btn-mini <%= 'active' if @percent == 'none' %>">No Percents</button>
        <button data-object="set-percent" data-value="row" class="btn btn-mini <%= 'active' if @percent == 'row' %>">% by Row</button>
        <button data-object="set-percent" data-value="column" class="btn btn-mini <%= 'active' if @percent == 'column' %>">% by Column</button>
      </div>
    </div>
  </div>



  <div class="row-fluid">
    <div class="span4">
      After <%= text_field_tag 'sheet_after', params[:sheet_after] || (Date.today - 6.months).beginning_of_month.strftime("%m/%d/%Y"), class: 'datepicker', rel: 'tooltip', title: "After", data: { object: 'form-reload', target: '#report_form', placement: 'right' } %>
    </div>

    <div class="span4">
      <span style="white-space:nowrap">
        Before <%= text_field_tag 'sheet_before', params[:sheet_before] || (Date.today).end_of_month.strftime("%m/%d/%Y"), class: 'datepicker', rel: 'tooltip', title: "Before", data: { object: 'form-reload', target: '#report_form', placement: 'right' } %>
      </span>
    </div>

    <div class="btn-toolbar span4" style="padding-top:0px;margin-top:0px">
      <div class="btn-group pull-right" data-toggle="buttons-radio">
        <button data-object="set-by" data-value="week" class="btn btn-mini <%= 'active' if @by == 'week' %>">Week</button>
        <button data-object="set-by" data-value="month" class="btn btn-mini <%= 'active' if @by == 'month' %>">Month</button>
        <button data-object="set-by" data-value="year" class="btn btn-mini <%= 'active' if @by == 'year' %>">Year</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="btn-toolbar span4" style="padding-top:3px;margin-top:0px;">
      <div class="btn-group" data-toggle="buttons-radio">
        <button data-object="set-filter" data-value="all" class="btn btn-mini <%= 'active' if @filter == 'all' %>">All Sheets</button>
        <button data-object="set-filter" data-value="last" class="btn btn-mini <%= 'active' if @filter == 'last' %>">Last Sheet Entry</button>
        <button data-object="set-filter" data-value="first" class="btn btn-mini <%= 'active' if @filter == 'first' %>">First Sheet Entry</button>
      </div>
    </div>
    <div class="span4">
      Subjects
      <div class="btn-group" data-toggle="buttons-checkbox">
        <% Subject::STATUS.each do |label, value| %>
          <button data-object="set-statuses" data-value="<%= value %>" data-target="#report_form" type="button" class="btn btn-mini <%= 'active' if @statuses.include?(value) %>">
            <%= label.humanize %>
            <%= hidden_field_tag "statuses[]", @statuses.include?(value) ? value : '', id: "statuses_#{value}" %>
          </button>
        <% end %>
      </div>
    </div>
    <div class="span4">
      <div class="pull-right">
          <span class="dropdown">
            <%= link_to 'Export <b class="caret"></b>'.html_safe, '#', class: 'dropdown-toggle btn', data: { toggle: 'dropdown' } %>
            <ul class="dropdown-menu" style="margin-top:9px">
              <li><%= link_to 'CSV', '#', data: { object: 'export', format: 'csv', target: '#report_form' } %></li>
              <li><%= link_to 'PDF - Portrait', '#', data: { object: 'export-report-pdf', orientation: 'portrait', target: '#report_form' } %></li>
              <li><%= link_to 'PDF - Landscape', '#', data: { object: 'export-report-pdf', orientation: 'landscape', target: '#report_form' } %></li>
            </ul>
          </span>
        <button type="submit" class="btn btn-primary">Refresh</button>
      </div>
    </div>
  </div>
<% end %>
<% end %>

<% if false %>
<hr class="soften" style="margin-top:20px;margin-bottom:20px">
<% end %>

<div id="report"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
