<% @title = "Design: #{@design.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Design", edit_design_path(@design), class: 'btn btn-mini' %>
    <%= link_to "Delete Design", @design, confirm: "Are you sure you want to delete Design #{@design.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
    <%= link_to "View Designs", designs_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @design.name %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @design.description %></dd>

  <dt>Project</dt>
  <dd><%= link_to @design.project.name, @design.project if @design.project %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @design.user.name, @design.user if @design.user %></dd>
</dl>

<%= render partial: 'compact_variables' %>
