- @title = @design.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    = render "translations/language_dropdown", button_class: ""
    .dropdown.d-inline-block
      = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
        .d-inline-block.d-sm-none
          = icon("fas", "cog")
        .d-none.d-sm-inline-block Actions

      .dropdown-menu.dropdown-menu-right
        = link_to edit_project_design_path(@design.project, @design, language: World.translate_language? ? World.language : nil), class: "dropdown-item" do
          = icon("fas", "pencil-alt")
          Edit
        = link_to print_project_design_path(@design.project, @design, format: "pdf", language: World.translate_language? ? World.language : nil), target: "_blank", class: "dropdown-item" do
          = icon("fas", "print")
          Print
        .dropdown-divider
        = link_to [@design.project, @design], method: :delete, data: { confirm: "Delete #{@design.name}?" }, class: "dropdown-item text-danger" do
          = icon("fas", "trash-alt")
          Delete
  = @title
  = render "layouts/unblinded_only", project: @project, object: @design, placement: "top"
- content_for :breadcrumbs do
  %ol
    %li= link_to "designs", project_designs_path(@project)
    %li.breadcrumb-muted= (@design.slug.presence || @design.name).downcase


- if @design.category || @design.publicly_available? || @design.repeated? || @design.notifications_enabled?
  .dashboard-container
    %table.table.table-borderless
      %col.d-none.d-sm-table-column{ width: "30%" }
      %col.d-table-column.d-sm-none{ width: "50%" }
      - if @design.category
        %tr
          %th Category
          %td= link_to @design.category.name, [@project, @design.category]
      - if @design.publicly_available? && @design.survey_slug.present?
        %tr
          %th Publicly Available
          %td
            - url = new_survey_url(@design.survey_slug)
            = link_to url, url, target: "_blank"
      - if @design.repeated?
        %tr
          %th Repeated
          %td= simple_check @design.repeated?
      - if @design.notifications_enabled?
        %tr
          %th Notifications Enabled
          %td= simple_check @design.notifications_enabled?

= form_with do |form|
  = form.hidden_field :language, value: World.language, name: :language
  .dashboard-container
    = @sheet = @design.sheets.new; render "designs/show", design: @design, form: form
