<% @title = "Design: #{@design.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if @design.editable_by?(current_user) %>
      <%= link_to "Edit Design", edit_design_path(@design), class: 'btn btn-mini' %>
      <%= link_to "Delete Design", @design, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Design #{@design.name}?" } %>
    <% end %>
    <%= link_to "View Designs", designs_path, class: 'btn btn-mini' %>
    <%= link_to "Copy Design", copy_design_path(@design), class: 'btn btn-mini' %>
    <%= link_to "Print", print_design_path(@design, format: 'pdf'), target: '_blank', class: 'btn btn-mini' %>
    <%= link_to 'Export', designs_path(design_ids: [@design.id], format: 'csv'), class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Project</dt>
  <dd><%= @project = @design.project; render partial: 'projects/logo_small' %> <%= link_to @design.project.name, @design.project if @design.project %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @design.user.name, @design.user if @design.user %></dd>

  <dt>Email Template</dt>
  <dd><%= simple_format @design.email_template if @design.email_template %></dd>
</dl>

<span class="pagination">
  <ul>
    <li><a href="#" id="sections_link">Sections</a></li>
    <li class="active"><a href="#"><%= @design.section_names.count %></a></li>
  </ul>
</span>

<span class="pagination">
  <ul>
    <li class="disabled"><a href="#" id="variables_link">Variables</a></li>
    <li class="active"><a href="#"><%= @design.variable_ids.count %></a></li>
  </ul>
</span>

<%= link_to 'Save Order', '#', id: 'reorder_design_button', class: 'btn btn-primary', disabled: 'disabled', style: 'margin-top:4px;margin-bottom:4px;vertical-align:top' %>
<%= link_to 'Save Order', '#', id: 'reorder_design_sections_button', class: 'btn btn-primary', disabled: 'disabled', style: 'margin-top:4px;margin-bottom:4px;vertical-align:top;display:none' %>

<div class="modal hide" id="saving_modal">
  <div class="modal-header">
    <h3>Reordering Design</h3>
  </div>
  <div class="modal-body">
    <p>Your changes to the design are being saved...this shouldn't take longer than a minute.</p>
  </div>
</div>

<div id="compact_design_container">
  <%= render partial: 'compact_design' %>
</div>

<div id="reorder_sections_container" style="display:none">
  <%= render partial: 'reorder_sections' %>
</div>

<%#= render partial: 'compact_variables' %>

<hr class="soften">

<form class="form-horizontal" id="full_design_container">
  <%= render partial: 'section_and_variables' %>
</form>

<% if false %>
<ol id="error_log" reversed>
</ol>
<% end %>
