<% @title = "Design: #{@design.name}" %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= @title %>
    <% if @design.editable_by?(current_user) %>
      <%= link_to "Edit Design", edit_project_design_path(@design.project, @design), class: 'btn btn-mini' %>
      <%= link_to "Delete Design", [@design.project, @design], method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Design #{@design.name}?" } %>
    <% end %>
    <%= link_to "View Designs", project_designs_path(@project), class: 'btn btn-mini' %>
    <%= link_to "Copy Design", copy_project_design_path(@design.project, @design), class: 'btn btn-mini' %>
    <%= link_to "PDF", print_project_design_path(@design.project, @design, format: 'pdf'), target: '_blank', class: 'btn btn-mini' %>

    <%= link_to 'Export', project_designs_path(@design.project, design_ids: [@design.id], format: 'xls'), class: 'btn btn-mini' %>
    <%= link_to "Report", report_project_design_path(@design.project, @design), class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Project</dt>
  <dd><%= @project = @design.project; render partial: 'projects/logo_small' %> <%= link_to @design.project.name, @design.project if @design.project %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @design.user.name, @design.user if @design.user %></dd>

  <dt>Email Subject Template</dt>
  <dd><%= @design.email_subject_template %></dd>

  <dt>Email Template</dt>
  <dd><%= simple_format @design.email_template if @design.email_template %></dd>

  <dt>Study date name</dt>
  <dd><%= @design.study_date_name_full %></dd>
</dl>

<span class="pagination">
  <ul>
    <li><a href="#" id="sections_link">Sections</a></li>
    <li class="active"><a href="#"><%= @design.section_names.count %></a></li>
  </ul>
</span>

<span class="pagination">
  <ul>
    <li class="disabled"><a href="#" id="variables_link">Variables</a></li>
    <li class="active"><a href="#"><%= @design.variable_ids.count %></a></li>
  </ul>
</span>

<%= link_to 'Save Order', '#', id: 'reorder_design_button', class: 'btn btn-primary', disabled: 'disabled', style: 'margin-top:4px;margin-bottom:4px;vertical-align:top' %>
<%= link_to 'Save Order', '#', id: 'reorder_design_sections_button', class: 'btn btn-primary', disabled: 'disabled', style: 'margin-top:4px;margin-bottom:4px;vertical-align:top;display:none' %>

<div class="modal hide" id="saving_modal">
  <div class="modal-header">
    <h3>Reordering Design</h3>
  </div>
  <div class="modal-body">
    <p>Your changes to the design are being saved...this shouldn't take longer than a minute.</p>
  </div>
</div>

<div id="compact_design_container">
  <%= render partial: 'compact_design' %>
</div>

<div id="reorder_sections_container" style="display:none">
  <%= render partial: 'reorder_sections' %>
</div>

<%= hidden_field_tag 'sheet[project_id]', @project.id %>
<form class="form-horizontal" id="design">
  <div class="center"><%= image_tag 'contour/ajax-loader.gif' %></div>
</form>

<%= form_tag selection_project_designs_path(@design.project, sheet: { design_id: @design.id }), remote: true, method: :post, data: { object: 'form-load' }, id: 'new_sheet' do %>
  <%= hidden_field_tag :current_design_page, 1 %>
<% end %>
