- @title = @design.name
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .dropdown
            = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_project_design_path(@design.project, @design) do
                  %span.glyphicon.glyphicon-edit
                  Edit

              %li
                = link_to imports_edit_project_design_path(@design.project, @design) do
                  %span.glyphicon.glyphicon-import
                  Reimport

              %li
                = link_to print_project_design_path(@design.project, @design, format: 'pdf'), target: '_blank' do
                  %span.glyphicon.glyphicon-print
                  Print

              %li
                = link_to project_sheets_path(@project, design_id: @design.id) do
                  %span.glyphicon.glyphicon-duplicate
                  View Sheets

              %li.divider{ role: 'separator' }
              %li
                = link_to [@design.project, @design], method: :delete, data: { confirm: "Delete #{@design.name}?" } do
                  .text-danger
                    %span.glyphicon.glyphicon-trash
                    Delete
        = @title
        = render 'layouts/unblinded_only', project: @project, object: @design, placement: 'top'

- if @design.category || @design.publicly_available? || @design.total_rows > 0 || @design.repeated? || @design.notifications_enabled?
  .dashboard-container
    %table.table.table-borderless
      %col.hidden-xs{ width: '30%' }
      %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }
      - if @design.category
        %tr
          %th Category
          %td= link_to @design.category.name, [@project, @design.category]
      - if @design.publicly_available?
        %tr
          %th Publicly Available
          %td
            - if @design.slug.blank?
              = link_to "#{ENV['website_url']}/projects/#{@design.project_id}/surveys/#{@design.id}", "#{ENV['website_url']}/projects/#{@design.project_id}/surveys/#{@design.id}", class: 'input-xxlarge', target: '_blank' if @design.publicly_available?
            - else
              = link_to "#{ENV['website_url']}/survey/#{@design.slug}", "#{ENV['website_url']}/survey/#{@design.slug}", class: 'input-xxlarge', target: '_blank' if @design.publicly_available?
      - if @design.repeated?
        %tr
          %th Repeated
          %td= simple_check @design.repeated?
      - if @design.notifications_enabled?
        %tr
          %th Notifications Enabled
          %td= simple_check @design.notifications_enabled?
      - if @design.total_rows > 0
        %tr
          %th Import Progress
          %td#progress{ data: { object: "#{'ajax-timer' if @design.total_rows != @design.rows_imported}", path: imports_progress_project_design_path(@design.project, @design) } }
            = render 'imports/progress'

%form.form-horizontal
  .dashboard-container
    = hidden_field_tag 'sheet[project_id]', @project.id
    = @sheet = @design.sheets.new; render 'designs/show', design: @design
