<% @title = "Design: #{@design.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if @design.editable_by?(current_user) %>
      <%= link_to "Edit Design", edit_design_path(@design), class: 'btn btn-mini' %>
      <%= link_to "Delete Design", @design, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Design #{@design.name}?" } %>
    <% end %>
    <%= link_to "View Designs", designs_path, class: 'btn btn-mini' %>
    <%= link_to "Copy Design", copy_design_path(@design), class: 'btn btn-mini' %>
    <%= link_to "Print", print_design_path(@design, format: 'pdf'), target: '_blank', class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Project</dt>
  <dd><%= link_to @design.project.name, @design.project if @design.project %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @design.user.name, @design.user if @design.user %></dd>
</dl>

<%= render partial: 'compact_variables' %>

<hr />

<%= render partial: 'section_and_variables' %>
