<% @title = @design.name %>

<%= hidden_field_tag 'isdirty', '1' %>

<%= form_tag project_submit_public_survey_path(@design.project, @design), method: :post, class: 'form-horizontal', multipart: true, id: "survey_#{@design.id}_form", authenticity_token: false do |f| %>

  <% if @design.show_site? %>
    <div class="form-group">
      <%= label_tag 'site_id', 'Site', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= select_tag :site_id, options_for_select([['---', nil]] + @design.project.sites.order('name').collect{|s| [s.name, s.id]}), class: 'form-control' %>
      </div>
    </div>
  <% end %>

  <div id="design" style="min-height:200px">
    <div class="center" style="margin-top:100px">Loading Survey <%#= image_tag 'contour/ajax-loader.gif' %></div>
  </div>

  <div class="form-signin">
    <% if @design.project.collect_email_on_surveys? %>
      <p class="lead">Please enter your email</p>
      <%= email_field_tag :email, '', class: 'form-control', placeholder: 'Email' %>
    <% else %>
      <p class="lead">Thank you</p>
    <% end %>

    <% form_name = "survey_#{@design.id}_form" %>
    <%= submit_tag 'Submit Survey', data: { target: "##{form_name}", object: "variable-check-before-submit" }, id: 'sheet_submit_btn', class: 'btn btn-success btn-block btn-large' %>
  </div>

<% end %>

<%= form_tag project_survey_path(@design.project, @design, header: '0'), remote: true, method: :get, data: { object: 'form-load' } %>
