= hidden_field_tag "isdirty", "1"

- if @sheet.new_record?
  - submit_url = new_survey_path(@design.survey_slug)
  - submit_method = :post
- else
  - submit_url = edit_survey_path(@design.survey_slug, @sheet.authentication_token)
  - submit_method = :patch

- form_name = "survey_#{@design.id}_form"
= form_with url: submit_url, method: submit_method, local: true, multipart: true, id: form_name, authenticity_token: false do |form|
  - if @sheet.errors.any?
    .card.border-danger.mb-3
      .card-body
        %strong
          = pluralize @sheet.errors.count, "error"
          prohibited this survey from being submitted

  - if @sheet.new_record?
    = hidden_field_tag :subject_id, @sheet.subject_id

  - if @design.show_site?
    .form-group.row
      = label_tag "site_id", "Site", class: "col-md-2 col-form-label"
      .col-md-10
        = select_tag :site_id, options_for_select([["---", nil]] + @design.project.sites.order_number_and_name_for_select), class: "form-control"

  #design{ style: "min-height:200px" }
    - params[:header] = "0"
    = render "designs/show", design: @design, form: form

  .text-center{ style: "margin-top: 40px" }
    = link_to "Submit Survey", "#", data: { target: "##{form_name}", object: "variable-check-before-submit" }, class: "btn btn-primary btn-lg btn-shadow"
