- @title = 'Slice'

- if not params[:survey].blank? and not params[:a].blank?
  - survey_url = "#{ENV['website_url']}/survey/#{params[:survey]}/#{params[:a]}"
  .jumbotron
    %h1 Survey Complete
    %p
      Thank you for taking your time to complete the survey. If you entered your
      email, you will receive a link to your survey responses.
    %p
      You can also copy the link below if you wish to go back and make any
      changes.
    %p= text_field_tag 'survey_url', survey_url, class: 'form-control'
    %p= link_to 'Go Back to Survey', survey_url, class: 'btn btn-primary'

.row{ style: "margin-top:54px" }
  .col-md-12
    %h1.about-title Interested in creating your own survey?
    %p.about-description
      = ENV['website_name']
      is a
      = link_to 'free to use*', 'https://github.com/remomueller/slice/blob/master/LICENSE', rel: 'tooltip', data: { title: 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License' }
      and
      = link_to 'open source', 'https://github.com/remomueller/slice', rel: 'tooltip', data: { title: 'Source code freely available on GitHub' }
      clinical research interface for collecting and analyzing data.
    %p.about-signup
      = link_to 'Sign Me Up', new_user_registration_path, class: "btn btn-primary btn-lg"

%div{ style: "padding: 19px 29px 29px; margin: 40px auto 20px;" }
  = image_tag 'slc_designer.png', style: 'width:100%;'
