- render "themes/theme"

.page-box.last-box.page-box-no-padding.d-flex.flex-row
  %div.bg-primary{ style: "width: 15%;" }
    .display-3= @sform.name
    %code#output
  %div.p-3.coverage-0{ style: "width: 35%;" }
    - @sform.design_options.each do |design_option|
      - if design_option.variable
        - value = design_option.variable.display_name
      - elsif design_option.section
        - value = design_option.section.name
      - else
        - value = ""
      = text_field_tag :enter_some_text, value, placeholder: "Enter question. #{design_option.id}", data: { object: "sform-core-input", project: @project.to_param, sform: @sform.to_param, value: value, design_option: design_option.id }, class: "sform-input", id: nil
    - value = ""
    = text_field_tag :enter_some_text, value, placeholder: "Enter question.", data: { object: "sform-core-input", project: @project.to_param, sform: @sform.to_param, value: value, design_option: nil }, class: "sform-input", id: nil

  %div#fake-preview.bg-primary.w-50
    = render "editor/sforms/fake_preview", sform: @sform
