- if @adverse_event_review.errors.any?
  .card.border-danger.mb-3
    .card-body
      %strong
        Please enter all required information.
      %ul
        - @adverse_event_review.errors.full_messages.each do |msg|
          %li= msg

.jumbotron
  %strong= @adverse_event.user.full_name
  %span.badge.badge-success reported
  an adverse event that occurred on
  = @adverse_event.adverse_event_date.strftime("%a, %-d %b %Y")
  for subject
  = succeed "." do
    = link_to @adverse_event.subject.name, [@project, @adverse_event.subject]

  .adverse-event-description= @adverse_event.description

  - ae_sheets_count = @adverse_event.sheets.count
  - if ae_sheets_count > 0
    Attachments:
    - @adverse_event.sheets.order(:created_at).each_with_index do |sheet, index|
      - if ae_sheets_count == index + 1
        = sheet.name
      - else
        = succeed "," do
          = sheet.name

%div{ style: "margin-top: 0px" }
  - @adverse_event.sheets.each do |sheet|
    = @sheet = sheet; render "sheets/show", show_header: true

.jumbotron
  = form_with model: @adverse_event_review, url: adverse_event_review_path(authentication_token: @adverse_event.id_and_token), id: "adverse_event_review_form", local: true do |form|
    = render "forms/horizontal/text_field", form: form, object: @adverse_event_review, key: :name, key_name: "Reviewer Full Name"
    = render "forms/horizontal/text_area", form: form, object: @adverse_event_review, key: :comment, rows: 7
    = link_to "I have fully reviewed this adverse event", "#", class: "btn btn-block btn-success", data: { object: "submit", target: "#adverse_event_review_form" }
