- if adverse_event.editable_by?(current_user)
  .dropdown
    = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
      Actions
      %strong.caret

    %ul.dropdown-menu.dropdown-menu-right
      %li
        = link_to edit_project_adverse_event_path(@project, adverse_event) do
          %i.fa.fa-pencil
          Edit

      - if AdverseEvent::SHAREABLE_LINKS_ENABLED
        - if adverse_event.authentication_token.blank?
          %li
            = link_to set_shareable_link_project_adverse_event_path(@project, adverse_event), method: :post do
              %i.fa.fa-link
              Set Shareable Link
        - else
          %li
            = link_to remove_shareable_link_project_adverse_event_path(@project, adverse_event), method: :post do
              %i.fa.fa-link
              Remove Shareable Link


      %li.divider{ role: "separator" }
      %li
        = link_to [@project, adverse_event], method: :delete, data: { confirm: "Delete #{adverse_event.name}?" } do
          .text-danger
            %i.fa.fa-trash
            Delete
