- if adverse_event.editable_by?(current_user)
  .dropdown
    = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
      .d-inline-block.d-sm-none
        %i.fa.fa-cog
      .d-none.d-sm-inline-block Actions

    .dropdown-menu.dropdown-menu-right
      = link_to edit_project_adverse_event_path(@project, adverse_event), class: "dropdown-item" do
        = icon("fas", "pencil-alt")
        Edit

      - if AdverseEvent::SHAREABLE_LINKS_ENABLED
        - if adverse_event.authentication_token.blank?
          = link_to set_shareable_link_project_adverse_event_path(@project, adverse_event), method: :post, class: "dropdown-item" do
            %i.fa.fa-link
            Set Shareable Link
        - else
          = link_to remove_shareable_link_project_adverse_event_path(@project, adverse_event), method: :post, class: "dropdown-item" do
            %i.fa.fa-link
            Remove Shareable Link

      .dropdown-divider
      = link_to [@project, adverse_event], method: :delete, data: { confirm: "Delete #{adverse_event.name}?" }, class: "dropdown-item text-danger" do
        = icon("fas", "trash-alt")
        Delete
