.card.bg-light.box-shadow.mb-3
  .card-header
    .float-right
      .d-none.d-sm-inline= adverse_event.event_date_to_s
      .d-inline.d-sm-none= adverse_event.event_date_to_s_xs

    %span{ id: "adverse-event-#{adverse_event.id}-title" }
      %span.text-danger
        %i.fa.fa-exclamation-triangle
      = link_to adverse_event.description, [@project, adverse_event]

    - if adverse_event.closed?
      - percent = 100
      %span.label.label-quiet Closed
    - else
      - percent = 50
      %span.label.label-success Open

    - if @project.blinding_enabled?
      %small
        %i.fa.fa-eye.text-muted{ rel: "tooltip", data: { title: "Unblinded Only", placement: "top", container: "body" } }

  .card-body.p-0
    .progress.progress-simple
      .progress-bar.progress-bar-danger{ id: "adverse-event-#{adverse_event.id}-progress-bar-width", style: "width: #{percent}%;" }

    %table.table.table-striped.table-borderless.table-fixed.table-sm.mb-0
      %col{ width: "60px" }
      %col
      - adverse_event.sheets.includes(:design).order("sheets.created_at").each do |sheet|
        = render "subjects/sheet", sheet: sheet
