.panel.panel-default.box-shadow
  .panel-heading
    .pull-right
      %span.hidden-xs= adverse_event.event_date_to_s
      %span.hidden-sm.hidden-md.hidden-lg= adverse_event.event_date_to_s_xs

    %span{ id: "adverse-event-#{adverse_event.id}-title" }
      %span.text-danger
        %span.glyphicon.glyphicon-warning-sign
      = link_to adverse_event.description, [@project, adverse_event]

    - if adverse_event.closed?
      - percent = 100
      %span.label.label-danger Closed
    - else
      - percent = 50
      %span.label.label-success Open

    - if @project.blinding_enabled?
      %small
        %span.glyphicon.glyphicon-eye-open.text-muted{ rel: 'tooltip', data: { title: 'Unblinded Only', placement: 'top', container: 'body' } }

  .panel-body{ style: 'padding: 0;' }
    .progress.progress-simple
      .progress-bar.progress-bar-danger{ id: "adverse-event-#{adverse_event.id}-progress-bar-width", style: "width: #{percent}%;" }

    %table.table.table-striped.table-borderless.table-fixed{ style: 'margin-bottom: 0;' }
      %col{ width: '60px' }
      %col
      - adverse_event.sheets.includes(:design).order('sheets.created_at').each do |sheet|
        = render 'subjects/sheet', sheet: sheet
