- from_subject_page = (params[:subject_code].present? && @adverse_event.subject && params[:subject_code].to_s == @adverse_event.subject.subject_code)

= form_for [@project, @adverse_event], html: { class: "form-horizontal" } do |f|
  .form-group
    = f.label :subject_id, "Subject Code", class: "col-md-2 control-label"
    .col-md-10
      - if from_subject_page
        %div{ style: "padding: 6px 0;" }
          = f.hidden_field :subject_code
          = link_to @adverse_event.subject.subject_code, [@project, @subject]
      - else
        = f.text_field :subject_id, autocomplete: "off", id: "subject-search", class: "form-control", data: { project_slug: @project.to_param }, name: "adverse_event[subject_code]", value: @adverse_event.subject_code
        = render "layouts/errors", object: @adverse_event, key: :subject_id

  .form-group
    = f.label :description, "Short Description", class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :description, class: "form-control"
      = render "layouts/errors", object: @adverse_event, key: :description

  .form-group
    = f.label :adverse_event_date, nil, class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :adverse_event_date, class: "datepicker form-control", placeholder: "mm/dd/yyyy", name: "adverse_event[event_date]", value: @adverse_event.event_date
      = render "layouts/errors", object: @adverse_event, key: :adverse_event_date

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit @adverse_event.new_record? ? "Report Adverse Event" : nil, class: "btn btn-primary"
      - if from_subject_page
        = link_to "Cancel", [@project, @adverse_event.subject], class: "btn btn-light"
      - else
        = link_to "Cancel", @adverse_event.new_record? ? project_adverse_events_path(@project) : [@project, @adverse_event], class: "btn btn-light"
