= form_for [@project, @adverse_event], html: { class: 'form-horizontal' } do |f|
  - if @adverse_event.errors.any?
    .callout.callout-danger
      %strong
        = pluralize @adverse_event.errors.count, 'error'
        prohibited this adverse event from being reported

      %ul
        - @adverse_event.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :subject_id, 'Subject Code', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :subject_id, autocomplete: 'off', id: 'subject-search', class: 'form-control', data: { project_slug: @project.to_param }, name: 'adverse_event[subject_code]', value: @adverse_event.subject_code

  .form-group
    = f.label :description, 'Short Description', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :description, class: 'form-control'

  .form-group
    = f.label :adverse_event_date, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :adverse_event_date, class: 'datepicker form-control', placeholder: 'mm/dd/yyyy', name: 'adverse_event[event_date]', value: @adverse_event.event_date

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @adverse_event.new_record? ? project_adverse_events_path(@project) : [@project, @adverse_event], class: 'btn btn-default'
