%h2.underline-heading
  = @title
  - unless current_page?(edit_project_adverse_event_path(@project, @adverse_event))
    - if @adverse_event.editable_by? current_user
      = link_to 'Edit Adverse Event', edit_project_adverse_event_path(@project, @adverse_event), class: 'btn btn-default btn-xs'
      = link_to 'Delete Adverse Event', [@project, @adverse_event], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Adverse Event #{@adverse_event.name}?" }
    - if false
      - if @adverse_event.authentication_token.blank?
        = link_to 'Set Shareable Link', set_shareable_link_project_adverse_event_path(@project, @adverse_event), method: :post, class: 'btn btn-xs btn-default'
      - else
        = link_to 'Remove Shareable Link', remove_shareable_link_project_adverse_event_path(@project, @adverse_event), method: :post, class: 'btn btn-xs btn-danger'
        %br
        %small
          %strong Share via this Link
          %br
          %code= "#{ENV['website_url']}/adverse-event/#{@adverse_event.id_and_token}"
