%ul.nav.nav-tabs.nav-custom-tabs
  %li.nav-item
    = link_to [@project, @adverse_event], class: "nav-link #{current_page?([@project, @adverse_event]) ? "active" : nil}" do
      Discussion
  - if false
    %li.nav-item
      = link_to forms_project_adverse_event_path(@project, @adverse_event), class: "nav-link #{current_page?(forms_project_adverse_event_path(@project, @adverse_event)) ? "active" : nil}" do
        Forms
        %span.badge.badge-dark= @adverse_event.sheets.count if @adverse_event.sheets.present?
  %li.nav-item
    = link_to project_adverse_event_adverse_event_files_path(@project, @adverse_event), class: "nav-link #{params[:controller] == "adverse_event_files" ? "active" : nil}" do
      Files
      %span.badge.badge-dark= @adverse_event.adverse_event_files.count if @adverse_event.adverse_event_files.count > 0
  - if @adverse_event.editable_by?(current_user)
    %li.nav-item
      = link_to edit_project_adverse_event_path(@project, @adverse_event), class: "nav-link #{current_page?(edit_project_adverse_event_path(@project, @adverse_event)) ? "active" : nil}" do
        = icon("fas", "pencil-alt")
  %li.nav-item.disabled
    = link_to "#", data: { object: "suppress-click" }, class: "nav-link" do
      - if @adverse_event.closed?
        %span.badge.badge-light Closed
      - else
        %span.badge.badge-success Open
