- @title = "#{@adverse_event.name} Edit"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@adverse_event.subject.subject_code, [@project, @adverse_event.subject]] if @adverse_event.subject

- if @adverse_event.subject
  = @subject = @adverse_event.subject; render 'subjects/side_nav'
- else
  = render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = render 'layouts/side_nav_header_button'
        = link_to @adverse_event.name, [@project, @adverse_event]
        Edit
      = render 'adverse_events/shareable_link', adverse_event: @adverse_event

= render 'adverse_events/menu'
.dashboard-container
  = render 'form'
