- @title = "#{@adverse_event.name} Forms"
- @menu_title = "#{@project.name} #{@title}"

- @subject = @adverse_event.subject
- content_for :sidebar, render("subjects/sidebar")
- content_for :header do
  .float-right
    = render "adverse_events/actions", adverse_event: @adverse_event
  Forms
  = render "adverse_events/shareable_link", adverse_event: @adverse_event
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    %li= link_to @adverse_event.name.to_s.downcase, [@project, @adverse_event]
    %li.breadcrumb-muted forms


= render "adverse_events/menu"
.dashboard-container
  .row
    .col-sm-6
      .card
        .card-header
          Existing Forms
        .card-body
          %ul
            - @adverse_event.sheets.each do |sheet|
              %li= link_to sheet.name, [@project, sheet]

    - if @adverse_event.editable_by?(current_user)
      .col-sm-6
        - designs = @project.designs.includes(:category).where(categories: { use_for_adverse_events: true })

        - if designs.count == 0
          .text-center
            %p.lead No adverse event designs currently exist on the project.
        - else
          .card
            .card-header.bg-primary.text-white
              Add New Form
            .card-body
              - designs.order("categories.position", :name).group_by(&:category).each do |category, designs|
                %strong= category.name
                %ul
                  - designs.each do |design|
                    %li= link_to design.name, new_data_entry_project_subject_path(@project, @adverse_event.subject, design, adverse_event_id: @adverse_event.id)
