- @title = "#{@adverse_event.name} Forms"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@adverse_event.subject.subject_code, [@project, @adverse_event.subject]] if @adverse_event.subject

= @subject = @adverse_event.subject; render 'subjects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = render 'adverse_events/actions', adverse_event: @adverse_event
        = link_to @adverse_event.name, [@project, @adverse_event]
        Forms
      = render 'adverse_events/shareable_link', adverse_event: @adverse_event

= render 'adverse_events/menu'
.dashboard-container
  .row
    .col-sm-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title Existing Forms
        .panel-body
          %ul
            - @adverse_event.sheets.each do |sheet|
              %li= link_to sheet.name, [@project, sheet]

    - if @adverse_event.editable_by?(current_user)
      .col-sm-6
        - designs = @project.designs.includes(:category).where(categories: { use_for_adverse_events: true })

        - if designs.count == 0
          .center
            %p.lead No adverse event designs currently exist on the project.
        - else
          .panel.panel-success
            .panel-heading
              %h3.panel-title Add New Form
            .panel-body
              - designs.order('categories.position', :name).group_by(&:category).each do |category, designs|
                %strong= category.name
                %div{ style: 'padding:25px 25px 15px;margin-bottom: 20px' }
                  - designs.in_groups_of(2, false).each do |designs|
                    .row
                      - designs.each do |design|
                        .col-sm-6{ style: 'margin-bottom:10px' }
                          = link_to design.name, new_data_entry_project_subject_path(@project, @adverse_event.subject, design, adverse_event_id: @adverse_event.id), class: 'btn btn-default btn-block', style: 'white-space: normal'
