- @title = @adverse_event.name
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@adverse_event.subject.subject_code, [@project, @adverse_event.subject]] if @adverse_event.subject

- @subject = @adverse_event.subject
- content_for :container_class, "container-fluid"
- content_for :sidebar, render("subjects/sidebar")

- content_for :header do
  .float-right
    = render "adverse_events/actions", adverse_event: @adverse_event
  = @title
  = render "adverse_events/shareable_link", adverse_event: @adverse_event

= render "adverse_events/menu"
.dashboard-container
  #adverse_event_comments
    = render "adverse_event_comments/adverse_event_comments", adverse_event_comments: @adverse_event.adverse_event_comments
