- @title = @adverse_event.name
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@adverse_event.subject.subject_code, [@project, @adverse_event.subject]]  if @adverse_event.subject

= @subject = @adverse_event.subject; render 'subjects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = render 'adverse_events/actions', adverse_event: @adverse_event
        = render 'layouts/side_nav_header_button'
        = @title
      = render 'adverse_events/shareable_link', adverse_event: @adverse_event

.dashboard-container
  = render 'adverse_events/menu'
  #adverse_event_comments
    = render 'adverse_event_comments/adverse_event_comments', adverse_event_comments: @adverse_event.adverse_event_comments
