- @title = @adverse_event.name

- links = []
- links << ['Adverse Events', project_adverse_events_path(@project)]
- links << [@adverse_event.name, [@project, @adverse_event]]
= render 'projects/tabbed_menu', links: links

.row
  .col-sm-2
    = render 'projects/beta/menu'
  .col-sm-10
    %h2
      = @title
      = link_to 'Edit Adverse Event', edit_project_adverse_event_path(@project, @adverse_event), class: 'btn btn-default btn-xs'
      = link_to 'Delete Adverse Event', [@project, @adverse_event], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Adverse Event #{@adverse_event.name}?" }

    %dl.dl-horizontal

      %dt Subject
      %dd= link_to @adverse_event.subject.name, [@project, @adverse_event.subject]

      %dt Adverse Event Date
      %dd= @adverse_event.adverse_event_date

      %dt Description
      %dd= simple_markdown @adverse_event.description

      %dt AE Type
      %dd
        - if @adverse_event.serious?
          Serious
        - else
          Non-serious

      %dt Status
      %dd
        - if @adverse_event.closed?
          Closed
        - else
          Opened

      %dt Reported By
      %dd= link_to @adverse_event.user.name, @adverse_event.user
