- @title = "About #{ENV["website_name"]}"


- content_for :header, @title

.dashboard-container
  %p
    = ENV["website_name"]
    is a free clinical research data collection system for capturing and
    analyzing data.
  %p
    Learn how to:
  %p
    1.
    = link_to "Create a project.", docs_project_setup_path

  %p
    2.
    = link_to "Enter data.", docs_sheets_path

  %p
    3.
    = link_to "Discover results.", docs_data_review_path


.dashboard-container
  %h3
    Questions?

  %ul
    %li= link_to "Visit the Docs", docs_path
    %li= link_to "Contact us", contact_path


.center-horizontally
  .docs-learn-more
    Version
    %strong= link_to Slice::VERSION::STRING, "https://github.com/sleepepi/slice/releases"
