- url = check_filter.new_record? ? editor_project_check_check_filters_path(check_filter.check.project, check_filter.check) : editor_project_check_check_filter_path(check_filter.check.project, check_filter.check, check_filter)
- method = check_filter.new_record? ? :post : :patch
= form_with model: [check_filter.check.project, check_filter.check, check_filter], url: url, method: method, local: true do |form|
  = render "forms/horizontal/select", form: form, object: check_filter, key: :filter_type, options: CheckFilter::FILTER_TYPE

  .form-group.row
    = form.label :variable_id, nil, class: "col-md-2 col-form-label"
    .col-md-10
      = form.select :variable_id, check_filter.check.project.variables.order(:name).pluck(:name, :id), { include_blank: true }, class: "form-control chosen-select"
      = render "forms/invalid_feedback", object: check_filter, key: :variable_id

  = render "forms/horizontal/select", form: form, object: check_filter, key: :operator, options: CheckFilter::OPERATOR_TYPE
  - cancel = check_filter.new_record? ? editor_project_check_check_filters_path(check_filter.check.project, check_filter.check) : editor_project_check_check_filter_path(check_filter.check.project, check_filter.check, check_filter)
  = render "forms/horizontal/submit", form: form, object: [check_filter.check.project, check_filter.check, check_filter], cancel: cancel
