- @title = "#{@check_filter.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@check.name, editor_project_check_path(@project, @check)]

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  = link_to @check_filter.name_was, editor_project_check_check_filter_path(@project, @check, @check_filter)
  Edit

.dashboard-container= render "form"
