- @title = 'Filters'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@check.name, editor_project_check_path(@project, @check)]

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = link_to plus_or('New Filter'), new_editor_project_check_check_filter_path(@project, @check), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @check_filters.total_count
        = render 'layouts/side_nav_header_button'
        %span.nowrap= @title

.dashboard-container
  %table.table.table-striped.table-borderless.table-hover
    %col
    %col
    %col
    %col.hidden-xs
    %col{ width: '1px' }
    %thead
      %tr
        %th Name
        %th.hidden-xs Filter
        %th Operator
        %th.hidden-xs Creator
        %th Actions

    %tbody
      - @check_filters.each do |check_filter|
        %tr
          %td= link_to check_filter.name, editor_project_check_check_filter_path(@project, @check, check_filter)
          %td.hidden-xs
            = check_filter.filter_type
            - if false
              -# TODO: Revisit checks to see if this is needed
              %br
              = check_filter.variable_id
          %td= check_filter.operator
          %td.hidden-xs= check_filter.user.name
          %td
            = render 'layouts/edit_delete_dropdown', edit_url: edit_editor_project_check_check_filter_path(@project, @check, check_filter), delete_url: editor_project_check_check_filter_path(@project, @check, check_filter), delete_confirmation: "Are you sure you want to delete filter #{check_filter.name}?"
