- @title = 'New Filter'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@check.name, editor_project_check_path(@project, @check)]

= render 'projects/side_nav'
= render 'layouts/simple_header'

.dashboard-container= render 'form'
