- @title = @check_filter.name
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@check.name, editor_project_check_path(@project, @check)]

- content_for :sidebar, render("projects/sidebar")

- content_for :header, @title

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }

    %tr
      %th Creator
      %td= @check_filter.user.full_name

    %tr
      %th Filter Type
      %td= @check_filter.filter_type

    %tr
      %th Variable
      %td
        - if @check_filter.variable
          = @check_filter.variable.name

    %tr
      %th Operator
      %td= @check_filter.operator

    %tr
      %th= link_to "Values", editor_project_check_check_filter_check_filter_values_path(@project, @check, @check_filter)
      %td
        - @check_filter.check_filter_values.each do |check_filter_value|
          %code
            = link_to check_filter_value.value, editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, check_filter_value)

    %tr
      %th Sheets
      %td= @check_filter.sheets.count

    %tr
      %th Subjects
      %td= @check_filter.subjects.count
