- @theme = "default"

.page-box.page-box-no-padding.last-box.bg-library{ class: "bg-library-#{Time.zone.today.wday % 3}" }

  .library-header
    .container
      .d-flex.flex-column.flex-sm-row.justify-content-between.align-items-sm-center
        %div
          = link_to @tray.name, library_show_path(@tray.profile, @tray.slug), style: "font-size: 1.75rem;"
          .small
            by
            = link_to @tray.profile.username, library_profile_path(@tray.profile)
        %div
          = link_to "#", class: "btn btn-accent btn-shadow" do
            %i.fa.fa-flask
            Copy

  .container.py-3
    .dashboard-container.bg-white
      .display-1= @tray.name
