- @theme = "default"

- owner = @tray.profile.editable_by?(current_user)

.page-box.page-box-no-padding.last-box.bg-white

  = render "library/tray_header", tray: @tray, owner: owner

  .container.py-3
    .mt-2.mb-4
      - if @tray.description.blank?
        - if owner
          = link_to "Add description...", edit_tray_path(@tray.profile, @tray), class: "text-muted"
      - else
        = simple_style @tray.description
    .card
      .card-header
        .float-right
          = link_to library_tray_path(@tray.profile, @tray), class: "link-unstyled" do
            %i.fa.fa-level-up
        = @tray.slug
        %small (editing)
      .card-body
        .float-right
          #output.text-monospace 0
        .design-header= @tray.name

        - enter_question_placeholder = "Enter question here..."
        - enter_option_placeholder = "choice"

        %div.d-none#language{ data: { enter_question_placeholder: enter_question_placeholder, enter_option_placeholder: enter_option_placeholder } }

        .d-flex.flex-row
          #cubes.w-100{ data: { object: "tray-wrapper" } }
            - @tray.cubes.includes(:tray).each do |cube|
              = render "cubes/wrapper", cube: cube

            - if @tray.cubes.blank?
              - cube = @tray.cubes.new(position: 1)
              = render "cubes/wrapper", cube: cube
          #cube-details-edit-box.w-25.cube-details-edit-box.d-none{ data: { url: tray_cubes_path(@tray.profile, @tray) }}
            .float-right
              = link_to "#", data: { object: "cube-details-clicker-close" }, class: "text-muted", style: "text-decoration: none;" do
                &times;
            #cube-details-id Ø
            = form_with model: Cube.new, url: "#" do |form|
              .form-group
                = form.label :cube_type
                = form.select :cube_type, Cube::CUBE_TYPES, {}, class: "form-control", id: "cube_cube_type"
