- @title = @adverse_event.name

- content_for :sidebar, render("subjects/sidebar") if @project_member

- content_for :header do
  - if @adverse_event.open?
    .float-right
      - if @ae_sheet.role == "reporter" && @project.ae_reporter?(current_user)
        = link_to ae_module_reporters_form_path(@project, @adverse_event, @sheet.design), class: "btn btn-light" do
          = icon("fas", "pencil-alt")
          Edit
      - elsif @ae_sheet.role == "admin" && @project.ae_admin?(current_user)
        = link_to ae_module_admins_form_path(@project, @adverse_event, @sheet.design), class: "btn btn-light" do
          = icon("fas", "pencil-alt")
          Edit
  = @title
  %small= @adverse_event.description
= render "ae_module/adverse_events/tabs", project: @project, adverse_event: @adverse_event
- content_for :breadcrumbs do
  .float-right
    .d-inline-block
      - if @ae_sheet.ae_assignment
        .d-inline-block.px-1.rounded-left.bg-dark.text-white>= @ae_sheet.ae_assignment.reviewer.full_name
        .d-inline-block.px-1.bg-primary.text-white>= @ae_sheet.role.tr("_", " ")
        .d-inline-block.px-1.rounded-right.bg-dark.text-white= @ae_sheet.ae_assignment.ae_team.short_name
      - else
        .d-inline-block.px-1.rounded-left.bg-primary.text-white>= @ae_sheet.sheet.user.full_name
        .d-inline-block.px-1.rounded-right.bg-dark.text-white= @ae_sheet.role.tr("_", " ")
  %ol
    %li= link_to "adverse events", ae_module_adverse_events_path(@project)
    %li= link_to @subject.subject_code.downcase, [@project, @subject]
    %li= link_to @adverse_event.name.downcase, ae_module_adverse_event_path(@project, @adverse_event)
    %li.breadcrumb-muted= @sheet.name.downcase

.dashboard-container.mb-0
  = render "sheets/show"
