%p{ style: p_style }
  = @sender.full_name
  %span{ style: emphasis_style } completed
  an adverse event review on
  = succeed "." do
    = link_to @adverse_event.project.name, "#{ENV["website_url"]}/projects/#{@adverse_event.project.to_param}", style: link_style

%p{ style: p_style }
  Click the following link to view the adverse event:

%p{ style: center_style }
  = link_to "View Adverse Event", "#{ENV["website_url"]}/projects/#{@adverse_event.project.to_param}/ae-module/adverse-events/#{@adverse_event.id}", style: link_style
