= form_with model: resource, url: user_registration_path, local: true, id: "recaptcha-form" do |form|
  = render "forms/vertical/text_field", form: form, object: resource, key: :full_name, placeholder: rand(2).zero? ? "John Smith" : "Jane Smith"
  = render "forms/vertical/email_field", form: form, object: resource, key: :email, placeholder: "you@example.com"
  = render "forms/vertical/password_field", form: form, object: resource, key: :password, placeholder: "Create a password"
  = render "forms/vertical/check_box", form: form, object: resource, key: :emails_enabled, key_name: "Email notifications", help_text: "Allow Slice to send you emails?"

  - if RECAPTCHA_ENABLED && !INVISIBLE_RECAPTCHA
    .form-group
      %label.control-label Human Verification
      .d-flex.justify-content-center
        .g-recaptcha{ data: { sitekey: ENV["recaptcha_site_key"] } }
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  - if resource.errors && resource.errors[:recaptcha].present?
    .form-group.text-center
      %small.text-danger= resource.errors[:recaptcha].join(" ")

  .form-group.submit-btn-container
    - if RECAPTCHA_ENABLED && INVISIBLE_RECAPTCHA
      %button.g-recaptcha.btn.btn-primary.btn-block.btn-shadow{ data: { sitekey: ENV["recaptcha_site_key"], callback: "recaptchaFormSubmit" } } Next step
      <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    - else
      = form.submit "Next step", class: "btn btn-primary btn-block btn-shadow"
