- @title = 'Join Slice'

.sign-up-form
  .sign-up-form-title
    Create your account
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'form-vertical', autocomplete: 'off' }) do |f|
    - if resource.errors.any?
      #error_explanation.callout.callout-danger
        %h4
          = pluralize(resource.errors.count, "error")
          prohibited this step from being saved

        %ul
          - resource.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      = f.label :first_name, class: 'control-label'
      = f.text_field :first_name, class: 'form-control'

    .form-group
      = f.label :last_name, class: 'control-label'
      = f.text_field :last_name, class: 'form-control'

    .form-group
      = f.label :email, class: 'control-label'
      = f.email_field :email, class: 'form-control'

    .form-group
      = f.label :password, class: 'control-label'
      = f.password_field :password, class: 'form-control', autocomplete: 'off'

    .form-group
      = f.label :password_confirmation, class: 'control-label'
      = f.password_field :password_confirmation, class: 'form-control', autocomplete: 'off'

    .form-group
      %label.control-label Receive Emails Notifications
      .checkbox
        %label
          = f.check_box :emails_enabled
          Allow Slice to send you emails?

    .form-group
      = f.submit 'Create an Account', class: 'btn btn-success'
