.page-header
  %h1
    = link_to @project.name, setup_project_path(@project)
    &middot;
    = link_to @randomization_scheme.name, [@project, @randomization_scheme]
    &middot;
    = @title

= form_for [@project, @randomization_scheme, @stratification_factor], html: { class: 'form-horizontal' } do |f|
  - if @stratification_factor.errors.any?
    #error_explanation.bs-callout.bs-callout-danger
      %h4
        = pluralize(@stratification_factor.errors.count, "error")
        prohibited this stratification factor from being saved

      %ul
        - @stratification_factor.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  - if @randomization_scheme.stratification_factors.where(stratifies_by_site: true).count == 0 or @stratification_factor.stratifies_by_site?
    .form-group
      .col-md-10.col-md-offset-2
        or
        .checkbox
          %label
            = f.check_box :stratifies_by_site
            Stratify by Site

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = cancel
