= form_for [@project, @randomization_scheme, @stratification_factor], html: { class: 'form-horizontal' } do |f|
  - if @stratification_factor.errors.any?
    .callout.callout-danger
      %strong
        = pluralize(@stratification_factor.errors.count, "error")
        prohibited this stratification factor from being saved

      %ul
        - @stratification_factor.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :calculation, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :calculation, class: 'form-control'
      %table.table.table-striped.table-borderless{ style: 'margin-top: 20px;' }
        %col.hidden-xs{ width: '30%' }
        %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }
        %tr
          %th General
          %td
            %code var1 + var2
        %tr
          %th Missing Values
          %td
            %code var1 == -9 ? -9 : var1 + var2
        %tr
          %th Parentheses
          %td
            %code (var1 + var2) / var3

      .callout.callout-danger
        %p
          %strong NOTE:
          Setting the calculation will automatically set the randomization
          criteria for the selected subject and will prevent randomization if
          other criteria are selected, or if the criteria is blank.

  - if @randomization_scheme.stratification_factors.where(stratifies_by_site: true).count == 0 or @stratification_factor.stratifies_by_site?
    .form-group
      .col-md-10.col-md-offset-2
        or
        .checkbox
          %label
            = f.check_box :stratifies_by_site
            Stratify by Site

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @stratification_factor.new_record? ? project_randomization_scheme_stratification_factors_path(@project, @randomization_scheme) : [@project, @randomization_scheme, @stratification_factor], class: 'btn btn-default'
