= form_with model: [stratification_factor.randomization_scheme.project, stratification_factor.randomization_scheme, stratification_factor], local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: stratification_factor, key: :name

  .form-group.row
    = form.label :calculation, nil, class: "col-md-2 col-form-label"
    .col-md-10
      = form.text_area :calculation, value: stratification_factor.readable_calculation, rows: 7, class: "form-control", data: { object: "calculation-variable-name-textcomplete", project_id: stratification_factor.randomization_scheme.project.id }
      %table.table.table-striped.table-borderless.mt-3
        %col.d-none.d-sm-table-cell{ width: "30%" }
        %col.d-table-cell.d-sm-none{ width: "50%" }
        %tr
          %th General
          %td
            %code var1 + var2
        %tr
          %th Missing Values
          %td
            %code var1 == -9 ? -9 : var1 + var2
        %tr
          %th Parentheses
          %td
            %code (var1 + var2) / var3

      .card.border-danger
        .card-body
          %p
            %strong NOTE:
            Setting the calculation will automatically set the randomization
            criteria for the selected subject and will prevent randomization if
            other criteria are selected, or if the criteria is blank.

  - if stratification_factor.randomization_scheme.stratification_factors.where(stratifies_by_site: true).count == 0 || stratification_factor.stratifies_by_site?
    .form-group.row
      .col-md-2
      .col-md-10
        or
        .custom-control.custom-checkbox
          = form.check_box :stratifies_by_site, class: "custom-control-input", id: "stratifies_by_site"
          = label_tag "stratifies_by_site", "Stratify by site", class: "custom-control-label"
        = render "layouts/errors", object: stratification_factor, key: :stratifies_by_site

  = render "forms/horizontal/submit", form: form, object: [stratification_factor.randomization_scheme.project, stratification_factor.randomization_scheme, stratification_factor]

