.dashboard-container
  %table.table.table-striped.table-borderless.table-hover
    %col
    %col.hidden-xs
    %col{ width: '1px' }
    %thead
      %tr
        %th Name
        %th.hidden-xs Creator
        %th Actions

    %tbody
      - @stratification_factors.each do |stratification_factor|
        %tr
          %td= link_to stratification_factor.name, [@project, @randomization_scheme, stratification_factor]
          %td.hidden-xs= link_to stratification_factor.user.name, stratification_factor.user if stratification_factor.user
          %td
            - if @randomization_scheme.published?
              = link_to 'Scheme Published', '#', data: { object: 'suppress-click' }, class: 'btn btn-xs btn-primary', disabled: true
            - else
              = render 'layouts/edit_delete_dropdown', edit_url: edit_project_randomization_scheme_stratification_factor_path(@project, @randomization_scheme, stratification_factor), delete_url: [@project, @randomization_scheme, stratification_factor], delete_confirmation: "Are you sure you want to delete Stratification Factor #{stratification_factor.name}?"
