- @title = 'Stratification Factors'

- links = []
- links << [@randomization_scheme.name, [@project, @randomization_scheme]]
- links << ['Stratification Factors', project_randomization_scheme_stratification_factors_path(@project, @randomization_scheme)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-heading
      = @title
      - if @randomization_scheme.published?
        = link_to 'Randomization Scheme Published', '#', data: { object: 'suppress-click' }, class: 'btn btn-xs btn-primary', disabled: true
      - else
        = link_to 'Create Stratification Factor', new_project_randomization_scheme_stratification_factor_path(@project, @randomization_scheme), class: 'btn btn-xs btn-primary'
      .per-page
        = render 'layouts/per_page', per_page: 40, object_count: @stratification_factors.total_count

    = render 'stratification_factors/stratification_factors'
