- @title = 'Stratification Factors'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]


= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - if @randomization_scheme.published?
            = link_to 'Randomization Scheme Published', '#', data: { object: 'suppress-click' }, class: 'btn btn-accent', disabled: true
          - else
            = link_to plus_or('Create Stratification Factor'), new_project_randomization_scheme_stratification_factor_path(@project, @randomization_scheme), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @stratification_factors.total_count
        = render 'layouts/side_nav_header_button'
        %span= @title

= render 'stratification_factors/stratification_factors'
