- @title = 'New Stratification Factor'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

= render 'projects/side_nav'
= render 'layouts/simple_header'

.dashboard-container= render 'form'

