- @title = @stratification_factor.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  .float-right
    - unless @randomization_scheme.published?
      = render "layouts/edit_delete_dropdown_lg", edit_url: edit_project_randomization_scheme_stratification_factor_path(@project, @randomization_scheme, @stratification_factor), delete_url: [@project, @randomization_scheme, @stratification_factor], delete_confirmation: "Delete \"#{@stratification_factor.name}\" stratification factor?"
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "randomization schemes", project_randomization_schemes_path(@project)
    %li= link_to @randomization_scheme.name.downcase, [@project, @randomization_scheme]
    %li= link_to "stratification factors", project_randomization_scheme_stratification_factors_path(@project, @randomization_scheme)
    %li.breadcrumb-muted= @stratification_factor.name.downcase

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Creator
      %td= link_to @stratification_factor.user.full_name, @stratification_factor.user if @stratification_factor.user

      - if @stratification_factor.stratifies_by_site?
        %tr
          %th Sites
          %td
            %ul.list-unstyled
              - @project.sites.order_number_and_name.each do |site|
                %li= site.number_and_name
      - else
        %tr
          %th= link_to "Options", project_randomization_scheme_stratification_factor_stratification_factor_options_path(@project, @randomization_scheme, @stratification_factor)
          %td
            %ul.list-unstyled
              - @stratification_factor.stratification_factor_options.each do |stratification_factor_option|
                %li
                  = link_to stratification_factor_option.name, [@project, @randomization_scheme, @stratification_factor, stratification_factor_option]
        - if @stratification_factor.calculation.present?
          %tr
            %th Calculation
            %td= render "variables/calculation_with_links", object: @stratification_factor
