- @title = @stratification_factor.name
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

= render "projects/side_nav"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - unless @randomization_scheme.published?
            .dropdown
              = link_to "#", class: "btn btn-default dropdown-toggle", data: { toggle: "dropdown" } do
                Actions
                %strong.caret

              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to edit_project_randomization_scheme_stratification_factor_path(@project, @randomization_scheme, @stratification_factor) do
                    %i.fa.fa-pencil
                    Edit
                %li.divider{ role: "separator" }
                %li
                  = link_to [@project, @randomization_scheme, @stratification_factor], method: :delete, data: { confirm: "Delete \"#{@stratification_factor.name}\" stratification factor?" } do
                    .text-danger
                      %i.fa.fa-trash
                      Delete
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Creator
      %td= link_to @stratification_factor.user.name, @stratification_factor.user if @stratification_factor.user

      - if @stratification_factor.stratifies_by_site?
        %tr
          %th Sites
          %td
            %ul.list-unstyled
              - @project.sites.order(:name).each do |site|
                %li= site.name
      - else
        %tr
          %th= link_to "Options", project_randomization_scheme_stratification_factor_stratification_factor_options_path(@project, @randomization_scheme, @stratification_factor)
          %td
            %ul.list-unstyled
              - @stratification_factor.stratification_factor_options.each do |stratification_factor_option|
                %li
                  = link_to stratification_factor_option.name, [@project, @randomization_scheme, @stratification_factor, stratification_factor_option]
        - if @stratification_factor.calculation.present?
          %tr
            %th Calculation
            %td= render "variables/calculation_with_links", object: @stratification_factor
