<td style='padding-left:10px;'>
  <%= link_to @sheet.name, "#{SITE_URL}/projects/#{@sheet.project.id}/sheets/#{@sheet.id}" %>
</td>

<td style='padding-left:10px;'>
  <%= image_tag('http:'+@sheet.user.avatar_url(50, "identicon"), size: '18x18', alt: '', style: 'vertical-align: middle') %> <%= @sheet.user.name %>
</td>

<td style='padding-left:10px;font-size:0.8em;'>
  <%= @sheet.out_of %>
</td>

<td style="padding-left:10px;padding-right:10px;text-align:right">
  <span style="font-size:0.8em;padding:1px 3px;background-color: <%= @sheet.color %>;color:#fff;"><%= @sheet.percent %>%</span>
</td>
