
<td>
  <%= link_to @sheet.name, "#{SITE_URL}/projects/#{@sheet.project.id}/sheets/#{@sheet.id}" %>
</td>
<td>
  &nbsp;<%= image_tag('http:'+@sheet.user.avatar_url(50, "identicon"), size: '18x18', alt: '', style: 'vertical-align: middle') %> <%= @sheet.user.name %>
</td>

<td>
  <span style='border:1px solid #bbb;background-color: <%= @sheet.color %>;color:#fff'>&nbsp;<%= @sheet.out_of %>&nbsp;</span>
</td>
