%p{ style: p_style }
  = @adverse_event.user.name
  %span{ style: emphasis_style } reported
  an adverse event on
  = succeed '.' do
    = link_to @adverse_event.project.name, "#{ENV['website_url']}/projects/#{@adverse_event.project.to_param}", style: link_style

%p{ style: p_style }
  Click the following link to view the adverse event report:

%p{ style: center_style }
  = link_to 'View Adverse Event', "#{ENV['website_url']}/projects/#{@adverse_event.project.to_param}/adverse-events/#{@adverse_event.id}", style: link_style
