%b
  Dear
  = succeed ',' do
    = @recipient.first_name
%br

- if @recipient.digest_sheets_created.size > 0
  %br

  %table{ style: 'width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;' }
    %thead
      %tr{ style: 'text-align:left' }
        %th{ colspan: 4, style: 'padding-bottom:10px;font-weight:normal' }
          %span{ style: 'padding:5px;background-color:#5cb85c;color:white' } Added
          Recently

    - @recipient.digest_sheets_created.group_by{|s| s.project_id}.each do |project_id, project_sheets|
      %tr
        %td{ colspan: 5, style: 'border-top:1px solid #ddd;' }
      %tr
        %td{ colspan: 5, style: 'text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px;font-size:1.2em' }
          - project = Project.find_by_id(project_id)
          = project ? link_to(project.name, "#{ENV['website_url']}/projects/#{project.to_param}", style: 'color: #428bca') : 'No Project'
      - if project_sheets.size > 15
        %tr
          %td{ colspan: 5, style: 'padding-left:20px;' }
            = link_to pluralize(project_sheets.count, 'sheet'), "#{ENV['website_url']}/projects/#{project.to_param}/sheets", style: 'color: #428bca'
            for
            = pluralize project_sheets.collect{|ps| ps.subject_id}.uniq.count, 'unique subject'
            recently entered
      - else
        - project_sheets.group_by{|s| s.subject_id}.each do |subject_id, subject_sheets|
          - subject = Subject.find_by_id(subject_id)
          %tr
            %td{ colspan: 5, style: 'padding-left:10px;text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px' }
              - if subject and subject.new_digest_subject?(subject_sheets.collect{|s| s.id})
                %span{ style: 'padding: 2px 4px;font-size:0.8em;background-color:#5bc0de;color:white' } New
              = subject ? link_to(subject.name, "#{ENV['website_url']}/projects/#{subject.project.to_param}/subjects/#{subject.id}", style: 'color: #428bca') : 'No Subject'
          - subject_sheets.each do |sheet|
            %tr
              %td{ style: 'padding-left:10px;' }
              = render 'digest_sheet', sheet: sheet
          %tr
            %td{ colspan: 5, style: 'padding-left:10px;padding-bottom:10px;padding-right:10px;' }
      %tr
        %td{ colspan: 5, style: 'padding-bottom:10px' }
  %br

- if @recipient.digest_comments.size > 0
  %br
  %br
  %table{ style: 'width:100%;border:0px;border-collapse:collapse;margin:0px;padding:0px;color:#505050;font-family:Arial;font-size:14px;' }
    %thead
      %tr{ style: 'text-align:left' }
        %th{ colspan: 3, style: 'padding-bottom:10px;font-weight:normal' }
          %span{ style: 'padding:5px;background-color:#428bca;color:white' } Comments
    - @recipient.digest_comments.group_by{|s| s.project_id}.each do |project_id, comments|
      %tr
        %td{ colspan: 3, style: 'border-top:1px solid #ddd;' }
      %tr
        %td{ colspan: 3, style: 'text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px;' }
          = ((project = Project.find_by_id(project_id)) ? link_to(project.name, "#{ENV['website_url']}/projects/#{project.to_param}", style: 'color: #428bca') : 'No Project')
      - comments.group_by{|s| s.sheet_id}.each do |sheet_id, comments|
        - sheet = Sheet.find_by_id(sheet_id)
        %tr
          %td{ colspan: 2, style: 'text-align:left;padding-top:10px;padding-right:20px;padding-bottom:10px;' }
            = link_to sheet.subject.name, "#{ENV['website_url']}/projects/#{sheet.project.to_param}/subjects/#{sheet.subject.id}", style: 'color: #428bca'
            \-
            = sheet ? link_to(sheet.name, "#{ENV['website_url']}/projects/#{sheet.project.to_param}/sheets/#{sheet.id}", style: 'color: #428bca') : 'No Sheet'
          %td{ style: 'text-align:right' }
            = render 'digest_sheet_percent', sheet: sheet
        - comments.each do |comment|
          %tr= render 'digest_comment', comment: comment
        %tr
          %td{ colspan: 3, style: 'padding-bottom:10px' }
      %tr
        %td{ colspan: 3, style: 'padding-bottom:10px' }
