%p{ style: p_style }
  Dear
  = succeed ',' do
    = @export.user.first_name

%p{ style: p_style }
  The data export you requested for
  %strong= @export.project.name
  is now
  = succeed '.' do
    %span{ style: emphasis_style } ready for download

  Click the following link to download your data export:

%p{ style: center_style }
  = link_to "#{ENV['website_url']}/projects/#{@export.project.to_param}/exports/#{@export.id}", "#{ENV['website_url']}/projects/#{@export.project.to_param}/exports/#{@export.id}", style: link_style
