%p{ style: p_style }
  Dear
  = succeed ',' do
    = @recipient.first_name

%p{ style: p_style }
  The design data import for
  %strong= @design.project.name
  is now
  = succeed '.' do
    %span{ style: emphasis_style } complete

  Click the following link to see newly imported data:

%p{ style: center_style }
  = link_to "#{ENV['website_url']}/projects/#{@design.project.to_param}/sheets?design_id=#{@design.id}", "#{ENV['website_url']}/projects/#{@design.project.to_param}/sheets?design_id=#{@design.id}", style: link_style
