<%= render partial: 'email_header' %>

<b>Dear <%= @design.user.first_name %>,</b><br />
<br />
The design data import for <b><%= @design.project.name %></b> is now <span style="padding:5px;background-color:#428bca;color:white">complete</span>.<br />
<br />
Click the following link to see newly imported data:<br />
<br />
<center><%= link_to SITE_URL + project_sheets_path(@design.project, design_id: @design.id), SITE_URL + project_sheets_path(@design.project, design_id: @design.id), style: "color: #428bca;" %></center><br />


<%= render partial: 'email_footer' %>
