= @site_user.creator.name
%span{ style: "padding:5px;background-color:#428bca;color:white" } invited
you to
= link_to @site_user.site.project.name, "#{ENV['website_url']}/site-invite/#{@site_user.invite_token}", style: 'color: #428bca'
as part of the
%b
  = @site_user.site.name
site.
%br
%br
Click the following link to accept the invitation:
%br
%br
%center
  = link_to 'Accept Invitation', "#{ENV['website_url']}/site-invite/#{@site_user.invite_token}", style: 'color: #428bca'
