%p{ style: p_style }
  = @project_user.creator.name
  %span{ style: emphasis_style } invited
  you to
  = succeed '.' do
    = link_to @project_user.project.name, "#{ENV['website_url']}/invite/#{@project_user.invite_token}", style: link_style
  Click the following link to accept the invitation:

%p{ style: center_style }
  = link_to 'Accept Invitation', "#{ENV['website_url']}/invite/#{@project_user.invite_token}", style: link_style
