<%= render partial: 'email_header' %>

<b>Dear <%= @system_admin.first_name %>,</b><br />
<br />
<%= @user.name %> [<%= @user.email %>] <span style="padding:5px;background-color:#f0ad4e;color:white">signed up</span> for an account.<br />
<br />
Click the following link to approve or deny the registration here:<br />
<br />
<center><%= link_to "#{SITE_URL}/users/#{@user.id}/edit", "#{SITE_URL}/users/#{@user.id}/edit", style: "color: #428bca" %></center><br />

<%= render partial: 'email_footer' %>
