%p{ style: p_style }
  Dear
  = succeed ',' do
    = @recipient.first_name

%p{ style: p_style }
  Your
  %span{ style: emphasis_style } password will expire
  in
  = pluralize @recipient.password_expires_in, 'day'
  on
  %strong= @recipient.password_expires_on.strftime('%A, %B %-d, %Y.')

%p{ style: center_style }
  = link_to 'Reset my password', "#{ENV['website_url']}/password/new", style: link_style
