%b
  Dear
  = succeed ',' do
    = @recipient.first_name
%br
%br
Your
= ENV['website_name']
password will expire in
= pluralize @recipient.password_expires_in, 'day'
on
= @recipient.password_expires_on.strftime('%-m-%-d-%Y.')
Click the link below to reset your password now:
%br
%br
%center
  = link_to 'Reset my password', "#{ENV['website_url']}/password/new", style: 'color: #428bca'
