%span{ style: emphasis_style }= @post.name

%p{ style: p_style }
  %strong= @post.created_at.strftime('%A, %B %-d, %Y')
  %span{ style: "#{muted_style};font-size:14px" }
    &bull;
    = @post.user.name

%p{ style: p_style }
  = strip_tags(simple_markdown @post.description).html_safe

- content_for :extra_blocks do
  %table{ align: 'center', border: '0', cellpadding: '32', cellspacing: '0', style: 'border-collapse:collapse;background:white;margin-bottom:16px' }
    %tbody
      %tr
        %td{ style: 'border-collapse:collapse', valign: 'top', width: '546' }
          %div{ style: 'max-width:600px;margin:0 auto;' }
            %p{ style: p_style }
              This post was added by
              = @post.user.name
              to
              = succeed '.' do
                = link_to @post.project.name, "#{ENV['website_url']}/projects/#{@post.project.to_param}", style: link_style
