<%= render partial: 'email_header' %>

<strong style="border-bottom: 1px solid black"><%= @post.name %></strong>

<p>
  <strong><%= @post.created_at.strftime("%A, %B %-d, %Y") %></strong> <span class="text-muted">&middot; <%= @post.user.name %></span>
</p>
<div style="margin-left:10px">
  <%= simple_markdown @post.description %>
</div>

<br />
<br />

This post was <span style="padding:5px;background-color:#5cb85c;color:white">added</span> by <%= @post.user.name %> to <%= link_to @post.project.name, "#{ENV['website_url']}/projects/#{@post.project.id}", style: "color: #428bca" %> on <%= link_to ENV['website_name'], ENV['website_url'], style: "color: #428bca" %>.

<%= render partial: 'email_footer' %>
