%p{ style: p_style }
  Dear
  = succeed ',' do
    = @editor.first_name

%p{ style: p_style }
  = @requestor.name
  has requested that the following
  %span{ style: emphasis_style } sheet be unlocked
  on project
  = succeed '.' do
    = link_to @sheet.project.name, "#{ENV['website_url']}/projects/#{@sheet.project.to_param}", style: link_style

  You can review the request here:

%p{ style: center_style }
  = link_to "#{ENV['website_url']}/projects/#{@sheet.project.to_param}/sheets/#{@sheet.id}", "#{ENV['website_url']}/projects/#{@sheet.project.to_param}/sheets/#{@sheet.id}", style: link_style
