%p{ style: p_style }
  Dear
  = succeed "," do
    = @user.full_name

%p{ style: p_style }
  %strong= @randomization.subject.name
  was
  %span{ style: emphasis_style }
    randomized
  to
  %strong= @randomization.treatment_arm.name
  on
  = @randomization.project.name
  - if @randomization.randomized_by
    by
    = succeed "." do
      = @randomization.randomized_by.full_name

%p{ style: center_style }
  = link_to "View Randomization ##{@randomization.randomization_number} of #{@randomization.randomization_scheme.randomization_goal}", "#{ENV["website_url"]}/projects/#{@randomization.project.to_param}/randomizations/#{@randomization.id}", style: link_style
