Thank you for submitting
= succeed '.' do
  %b= @sheet.name
%br
%br
You can make changes to your survey responses here:
%br
%br
%center
  = link_to @sheet.name, "#{ENV['website_url']}/survey/#{@sheet.design.slug}/#{@sheet.authentication_token}", style: 'color: #428bca'
