<%= render partial: 'email_header' %>

<b>Dear <%= @sheet.project.user.first_name %>,</b><br />
<br />
<%= @sheet.subject.subject_code %> <span style="padding:5px;background-color:#428bca;color:white">completed</span> a survey that you requested for <b><%= @sheet.name %></b>.<br />
<br />
You can view the completed sheet here:<br />
<br />

<center><%= link_to "#{ENV['website_url']}/projects/#{@sheet.project.id}/sheets/#{@sheet.id}", "#{ENV['website_url']}/projects/#{@sheet.project.id}/sheets/#{@sheet.id}", style: "color: #428bca" %></center><br />

<%= render partial: 'email_footer' %>
