<%= render partial: 'email_header' %>

<b>Dear <%= @project_user.user.first_name %>,</b><br />
<br />
<%= @project_user.creator.name %> <span style="padding:5px;background-color:#5cb85c;color:white">added</span> you to <%= link_to @project_user.project.name, "#{ENV['website_url']}/projects/#{@project_user.project.id}", style: "color: #428bca" %>.<br />
<br />
<% if @project_user.editor? %>
You may edit the project and add new designs, variables, and sheets to the project.
<% else %>
You may view the project and sheets.
<% end %>

<%= render partial: 'email_footer' %>
