.node-container
  - case node.class.to_s
  - when "Engine::Expressions::Binary"
    - if false
      .small.text-muted= node.result_name
    = render "engine/token", token: node.operator
    .d-flex.justify-content-around
      = render "engine/node", node: node.left
      = render "engine/node", node: node.right
  - when "Engine::Expressions::Grouping"
    .small.text-muted grouping
    .d-flex.justify-content-around
      = render "engine/node", node: node.expression
  - when "Engine::Expressions::Literal"
    .small.text-muted literal
    %code.nowrap
      - if node.meta
        = ":#{node.value}"
      - elsif node.value.is_a?(String)
        = "\"#{node.value}\""
      - else
        = node.value.to_s.presence || "nil"
  - when "Engine::Expressions::Unary"
    - if false
      .small.text-muted= node.result_name
    .d-flex.justify-content-around.align-items-center
      .node-container= render "engine/token", token: node.operator
      = render "engine/node", node: node.right
  - when "Engine::Expressions::IdentifierVariable"
    .small.text-muted variable
    %code.nowrap= node.name
    - if node.event
      %span.text-muted at
      %code.nowrap= node.event.name
  - when "Engine::Expressions::IdentifierEvent"
    .small.text-muted event
    %code.nowrap= node.name
  - when "Engine::Expressions::IdentifierDesign"
    .small.text-muted design
    %code.nowrap= node.name
    - if node.event
      %span.text-muted at
      %code.nowrap= node.event.name
  - when "Engine::Expressions::IdentifierSubject"
    .small.text-muted subject
  - when "Engine::Expressions::Randomized"
    .small.text-muted randomized
