- @sheet.comments.reorder(:created_at).each do |comment|
  %div{ id: "comment_#{comment.id}" }
    = render "comments/show", comment: comment, number: comment.number, include_name: "0"

.comment-outer.mb-0
  .comment-left-fixed
    - if current_user[:profile_picture]
      - picture_content = profile_picture_tag current_user, size: 48
    - else
      - picture_content = icon("fas", "user", class: "text-muted fa-3x")
    = picture_content


  .comment-right-fluid
    .comment-comment
      .comment-comment-header
        %strong= current_user.full_name
      .comment-comment-body
        = form_with url: comments_path(sheet_id: @sheet.id), method: :post, id: "sheet_#{@sheet.id}_comment_form" do
          .form-group
            = text_area_tag "sheet[#{@sheet.id}][comment]", "", name: "comment[description]", rows: 7, class: "comment-control", placeholder: "Type comment here"
          = submit_tag "Comment", class: "btn btn-primary", data: { disable_with: "Comment" }
