- @sheet.comments.reorder(:created_at).each do |comment|
  %div{ id: "comment_#{comment.id}" }
    = render "comments/show", comment: comment, number: comment.number, include_name: "0"

.comment-outer
  .comment-left-fixed
    = image_tag current_user.avatar_url(48, "identicon"), size: "48x48", alt: ""

  .comment-right-fluid
    .comment-comment
      .comment-comment-header
        %strong= current_user.full_name
      .comment-comment-body
        = form_tag comments_path(sheet_id: @sheet.id), method: :post, remote: true, id: "sheet_#{@sheet.id}_comment_form", class: "form-vertical" do
          .form-group
            = text_area_tag "sheet[#{@sheet.id}][comment]", "", name: "comment[description]", rows: 7, class: "comment-control", placeholder: "Type comment here"
          = submit_tag "Comment", class: "btn btn-primary", data: { disable_with: "Comment" }
