.comment-outer
  .comment-left-fixed
    - if @comment.user[:profile_picture]
      - picture_content = profile_picture_tag @comment.user, size: 48
    - else
      - picture_content = icon("fas", "user", class: "text-muted fa-3x")
    = picture_content

  .comment-right-fluid
    .comment-comment
      .comment-comment-header
        %strong= @comment.user.full_name
      .comment-comment-body
        = form_with model: @comment do |form|
          = hidden_field_tag :number, params[:number]
          = hidden_field_tag :include_name, params[:include_name]

          .form-group
            = form.text_area :description, rows: 7, class: "comment-control form-control#{" is-invalid" if @comment.errors[:description].present?}", placeholder: "Type comment here"
            - if @comment.errors[:description].present?
              .invalid-feedback Comment can't be blank.

          - submit_text = @comment.new_record? ? "Comment" : "Update"
          = form.submit submit_text, class: "btn btn-primary", data: { disable_with: submit_text }
          - unless @comment.new_record?
            = link_to "Cancel", comment_path(@comment, number: params[:number], include_name: params[:include_name]), remote: true, class: "btn btn-light"
