.comment-outer
  .comment-left-fixed
    = image_tag current_user.avatar_url(48, 'identicon'), size: '48x48', alt: ''

  .comment-right-fluid
    .comment-comment
      .comment-comment-header
        %strong= current_user.name
      .comment-comment-body
        = form_for @comment, remote: true, html: { class: 'form-vertical' } do |f|
          - if @comment.errors.any?
            .alert.alert-danger.alert-dismissible{ role: 'alert' }
              %button.close{ type: 'button', data: { dismiss: 'alert' }, aria: { label: 'Close' } }
                %span{ aria: { hidden: 'true' } } &times;
              %strong Error
              Please make sure your comment is not blank.

          .form-group
            = f.text_area :description, rows: 7, class: 'comment-control', placeholder: 'Type comment here'

          = f.submit 'Comment', class: 'btn btn-primary', data: { disable_with: 'Comment' }
          - unless @comment.new_record?
            = link_to 'Cancel', @comment, remote: true, class: 'btn btn-default'
