%a.anchor-top{ name: comment.anchor, id: "comment-#{number}" }
.comment-outer{ data: { comment_id: comment.id } }
  .comment-left-fixed
    - if comment.user[:profile_picture]
      - picture_content = profile_picture_tag comment.user, size: 48
    - else
      - picture_content = icon("fas", "user", class: "text-muted fa-3x")
    = picture_content

  .comment-right-fluid
    .comment-comment
      .comment-comment-header
        .float-right
          - if comment.editable_by?(current_user)
            = succeed " " do
              = link_to edit_comment_path(comment, include_name: include_name, number: number), remote: true, class: "btn btn-sm btn-light" do
                = icon("fas", "pencil-alt")
          - if comment.deletable_by?(current_user)
            %span{ id: "comment-#{comment.id}-request-delete" }
              = link_to "#", class: "btn btn-sm btn-outline-danger", data: { object: "toggle-delete-buttons", target_show: "#comment-#{comment.id}-confirm-delete", target_hide: "#comment-#{comment.id}-request-delete" } do
                = icon("fas", "trash-alt")
            %span{ id: "comment-#{comment.id}-confirm-delete", style: "display:none" }
              = link_to "Cancel", "#", class: "btn btn-sm btn-light", data: { object: "toggle-delete-buttons", target_show: "#comment-#{comment.id}-request-delete", target_hide: "#comment-#{comment.id}-confirm-delete" }
              = link_to "Confirm Delete", comment, method: :delete, remote: true, class: "btn btn-sm btn-outline-danger"
          = link_to "##{number}", "#comment-#{number}", class: "btn btn-link btn-sm", data: { object: "scroll-anchor-keep-link" }
        %strong= comment.user.full_name
        commented
        - if include_name == "1"
          on
          = link_to comment.sheet.name, [comment.project, comment.sheet]
        %abbr{ rel: "tooltip", data: { title: comment.created_at.strftime("%-d %b %Y, %-l:%M %p"), container: "body", placement: "right" } }
          = time_ago_in_words comment.created_at
          ago
      .comment-comment-body
        = render "comments/formatted", comment: comment
