- @title = @comment.name
.page-header
  %h1
    = link_to 'Comments', comments_path
    &middot;
    = @title
  = link_to "Edit Comment", edit_comment_path(@comment), class: 'btn btn-default btn-xs' if @comment.editable_by? current_user
  = link_to "Delete Comment", @comment, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Comment #{@comment.name}?" } if @comment.deletable_by? current_user

%dl.dl-horizontal
  %dt Description
  %dd= simple_markdown @comment.description

  %dt User
  %dd= link_to @comment.user.name, @comment.user

  %dt Sheet
  %dd= link_to @comment.sheet.name, [@comment.sheet.project, @comment.sheet]
