<% @title = "Comment: #{@comment.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.all_comments.pluck(:id).include?(@comment.id) %>
      <%= link_to "Edit Comment", edit_comment_path(@comment), class: 'btn btn-default btn-mini' %>
      <%= link_to "Delete Comment", @comment, method: :delete, class: 'btn btn-mini btn-danger-inverse', data: { confirm: "Are you sure you want to delete Comment #{@comment.name}?" } %>
    <% end %>
    <%= link_to "View Comments", comments_path, class: 'btn btn-default btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">

  <dt>Description</dt>
  <dd><%= simple_markdown @comment.description %></dd>

  <dt>User</dt>
  <dd><%= link_to @comment.user.name, @comment.user %></dd>

  <dt>Sheet</dt>
  <dd><%= link_to @comment.sheet.name, [@comment.sheet.project, @comment.sheet] %></dd>

</dl>
