- I18n.locale = World.language
- @title = @design.name

- if @handoff.next_design(@design)
  - submit_description = I18n.t("handoffs.instructions_continue")
- else
  - submit_description = I18n.t("handoffs.outro")

- submit_url = handoff_save_path(@project, @handoff, @design)
- submit_method = :post

- number = @handoff.handoff_enabled_event_designs.pluck(:design_id).index(@design.id) + 2
- if number > 0 && @handoff.handoff_enabled_event_designs.count + 2 > 0
  - percent = [number * 100 / (@handoff.handoff_enabled_event_designs.count + 2), 100].min
  .progress.mb-3
    .progress-bar.progress-bar-striped.bg-primary{ style: "width: #{percent}%;" }
      = I18n.t("handoffs.filling_out_forms")

.dashboard-container.pb-1
  .design-header= @title

  = hidden_field_tag "isdirty", "1"

  - form_name = "survey_#{@design.id}_form"

  = form_with model: @sheet, url: submit_url, method: submit_method, multipart: true, id: form_name, authenticity_token: false, local: true do |form|
    - if @sheet.errors.any?
      .card.border-danger.mb-3
        .card-body
          %strong
            = pluralize @sheet.errors.count, "error"
            prohibited this survey from being submitted

    - if @sheet.new_record?
      = hidden_field_tag :subject_id, @sheet.subject_id

    - if @design.show_site?
      .form-group.row
        = label_tag "site_id", "Site", class: "col-md-2 col-form-label"
        .col-md-10
          = select_tag :site_id, options_for_select([["---", nil]] + @design.project.sites.order_number_and_name_for_select), class: "form-control"

    = form.hidden_field :language, value: World.language, name: :language

    #design
      - params[:header] = "0"
      = render "designs/show", design: @design, form: form

.jumbotron
  %p= submit_description
= link_to "#", data: { target: "##{form_name}", object: "variable-check-before-submit" }, class: "btn btn-success btn-block btn-lg" do
  = I18n.t("handoffs.save_and_continue")
  = icon("fas", "caret-right")
