- @title = @design.name

%h2.underline-header= @title

= hidden_field_tag 'isdirty', '1'

- if @handoff.next_design(@design)
  - submit_button = 'SAVE and CONTINUE'
- else
  - submit_button = 'COMPLETE'
- submit_url = handoff_save_path(@project, @handoff, @design)
- submit_method = :post

- form_name = "survey_#{@design.id}_form"

= form_for @sheet, url: submit_url, method: submit_method, html: { class: 'form-horizontal', multipart: true, id: form_name, authenticity_token: false } do |f|
  - if @sheet.errors.any?
    .bs-callout.bs-callout-danger
      %h4
        = pluralize @sheet.errors.count, 'error'
        prohibited this survey from being submitted

  - if @sheet.new_record?
    = hidden_field_tag :subject_id, @sheet.subject_id

  - if @design.show_site?
    .form-group
      = label_tag 'site_id', 'Site', class: 'col-md-2 control-label'
      .col-md-10
        = select_tag :site_id, options_for_select([['---', nil]] + @design.project.sites.order('name').collect{|s| [s.name, s.id]}), class: 'form-control'

  #design
    - params[:header] = '0'
    = render 'designs/show', design: @design

  .form-signin
    %p.lead Continue to next survey...

    = submit_tag submit_button, data: { target: "##{form_name}", object: "variable-check-before-submit" }, id: 'sheet_submit_btn', class: 'btn btn-success btn-block btn-large'
