- I18n.locale = World.language
- percent = [1 * 100 / (@handoff.handoff_enabled_event_designs.count + 2), 100].min
.progress
  .progress-bar.progress-bar-striped.bg-primary{ style: "width: #{percent}%;" }
    = I18n.t("handoffs.start")

- if @handoff.first_design
  %h2= I18n.t("handoffs.forms")
  .jumbotron
    = simple_format I18n.t("handoffs.instructions")

  - if @handoff.first_design == @handoff.resume_design
    = link_to handoff_design_path(@project, @handoff, @handoff.first_design, language: params[:language]), class: "btn btn-lg btn-block btn-success" do
      = I18n.t("handoffs.get_started")
      %i.fa.fa-caret-right
  - elsif @handoff.resume_design
    .row
      .col-sm-6{ style: "margin-bottom: 20px" }
        = link_to handoff_design_path(@project, @handoff, @handoff.first_design), class: "btn btn-lg btn-block btn-light" do
          = I18n.t("handoffs.review_forms")
          %i.fa.fa-eye
      .col-sm-6
        = link_to handoff_design_path(@project, @handoff, @handoff.resume_design), class: "btn btn-lg btn-block btn-success" do
          = I18n.t("handoffs.resume_forms")
          %i.fa.fa-caret-right
  - else
    = link_to handoff_design_path(@project, @handoff, @handoff.first_design), class: "btn btn-lg btn-block btn-light" do
      = I18n.t("handoffs.review_forms")
      %i.fa.fa-eye
- else
  %h2 Tablet Handoff

  = render "handoffs/no_handoff_enabled_designs_on_event"
