%h1 START HANDOFF

%p
  %strong Token
  = @handoff.token

%p
  %strong User
  = @handoff.user_id

%p
  %strong Project
  = @handoff.project_id

%p
  %strong Subject Event
  = @handoff.subject_event_id



%ul.list-unstyled
  - @handoff.subject_event.event.designs.each do |design|
    %li= link_to design.name, handoff_design_path(@project, @handoff, design)

