- response_names = object ? object.get_response(:name) : []
- response_raws = object ? object.get_response(:raw) : []

- if variable.alignment == 'scale'
  %table.table.table-borderless
    %col{ width: '300px' }
    - (1..variable.domain_options.count).each do
      %col{ width: "#{100 / (variable.domain_options.count + 2)}%" }
    %col{ width: '1px' }
    - if variable.first_scale_variable?(@sheet.design)
      %thead
        %tr
          %th
          - variable.domain_options.each do |domain_option|
            %th.center
              = domain_option.value_and_name
    %tbody
      %tr
        %th= variable.display_name
        - variable.domain_options.each do |domain_option|
          %td.center
            - selected = (response_raws.include?(domain_option.value))
            %label.checkbox-inline.checkbox-radio-outline{ class: "#{'selected' if selected} #{'negation' if domain_option.missing_code?}" }
              = check_box_tag "#{variable.name}[]", domain_option.value, selected, disabled: true
              &#8288;
- else
  - response_names.each do |response_name|
    - unless defined?(position)
      %p=response_name
    - else
      = response_name
