- response_names = object ? object.get_response(:name) : []
- response_raws = object ? object.get_response(:raw) : []
- domain_options = variable.domain_options

- if variable.alignment == "scale"
  %table.table.table-borderless
    %col{ width: "100px" }
    - (1..domain_options.count).each do
      = content_tag :col, nil, width: "#{100 / (domain_options.count + 2)}%"
    %tbody
      %tr
        %th{ style: "min-width: 100px;" }
          = simple_style variable.display_name
        - domain_options.each do |domain_option|
          - selected = (response_raws.include?(domain_option.value))
          %td.text-center
            = render "sheet_variables/show/parts/checkbox_scale", variable: variable, domain_option: domain_option, selected: selected
- else
  - response_names.each do |response_name|
    - unless defined?(position)
      %p= response_name
    - else
      = response_name
