<% is_grid = defined?(grid) %>

<% response = {} %>
<% response = is_grid ? sheet_variable.response_hash(position, variable.id) : sheet_variable.response_hash if sheet_variable %>

<span id="variable<%= "_#{grid.id}" if is_grid %><%= "_#{position}" if defined?(position) %>_<%= variable.id %>_file_container" rel="tooltip" title="<%= response[:description] %>" data-placement="<%= is_grid ? 'top' : 'right' %>" data-html="true">
  <% if response[:value] and response[:value].size > 0 %>
    <% full_url = "#{request.script_name}#{response[:value].url}" %>
    <% if ['jpg', 'jpeg', 'gif', 'png'].include?(response[:value].to_s.split('.').last.to_s.downcase) %>
      <%= link_to image_tag(response[:value], style: "height:64px;border:0px solid white"), full_url, target: '_blank' %>
    <% else %>
      <%= link_to response[:name], full_url, target: '_blank', class: 'btn btn-default btn-xs' %>
    <% end %>
    <%= number_to_human_size(response[:value].size) %>
    <% if current_user.all_sheets.pluck(:id).include?(@sheet.id) %>
      <%= link_to 'remove', remove_file_project_sheet_path(@sheet.project, @sheet, variable_id: variable.id, sheet_variable_id: sheet_variable.id, position: (defined?(position) ? position : nil)), method: :post, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to remove the #{response[:value].to_s.split('/').last}?" } if sheet_variable %>
    <% end %>
  <% end %>
</span>
