- response_name = object.get_response(:name) if object
- response_raw = object.get_response(:raw) if object
- domain_options = variable.domain_options

- if variable.alignment == "scale"
  %table.table.table-borderless
    %col{ width: "100px" }
    - (1..domain_options.count).each do
      = content_tag :col, nil, width: "#{100 / (domain_options.count + 2)}%"
    %tbody
      %tr
        %th{ style: "min-width: 100px;" }
          = variable.display_name
        - domain_options.each do |domain_option|
          - selected = (domain_option.value == response_raw.to_s)
          %td.text-center
            %label.radio-inline.checkbox-radio-outline{ class: "#{"selected" if selected} #{"negation" if domain_option.missing_code?}" }
              = radio_button_tag variable.name, domain_option.value, selected, disabled: true
- else
  = response_name
