.search-container-relative
  .search-container{ class: params[:search].present? ? "search-container-visible" : nil }
    = form_with url: url, method: :get, local: true, id: "search-form" do |form|
      = form.hidden_field :order, value: params[:order] if params[:order].present?
      .input-group
        = form.text_field :search, value: params[:search], autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false", class: "form-control", placeholder: "Search #{@title}", id: "search"
        .input-group-append
          = link_to "#", class: "btn btn-primary", data: { object: "submit-and-disable", target: "#search-form" } do
            = icon("fas", "search")
          - if params[:search].present?
            = link_to url, class: "btn btn-light" do
              &times;
          - else
            = link_to "#", data: { object: "toggle-search-container", target: "#search" }, class: "btn btn-light" do
              &times;
