- if info_request.resolved?
  .ml-3
    %strong{ style: "font-size: 80%;" }
      = info_request.resolver.full_name
      %small= info_request.resolved_at.strftime("%b %-d, %Y at %-l:%M%P")
    %div
      = icon("fas", "check-square")
      Marked as resolved.
- elsif project.ae_reporter?(current_user) && info_request.ae_team.blank?
  %div
    = link_to resolve_ae_module_info_request_path(project, adverse_event, info_request), method: :post do
      Mark as resolved
      = icon("fas", "caret-right")
- elsif project.ae_admin?(current_user) && info_request.ae_team.present?
  %div
    = icon("far", "square")
    = link_to resolve_ae_module_info_request_path(project, adverse_event, info_request), method: :post do
      Mark as resolved
      = icon("fas", "caret-right")
