.modal-header
  %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: true } } &times;
  %h4.modal-title
    - if @subject_schedule.new_record?
      Add Schedule
    - else
      Edit Schedule
      &middot;
      = @subject_schedule.name
.modal-body
  = form_for [@project, @subject, @subject_schedule], html: { class: 'form-horizontal', id: 'subject_schedule_form' }, method: (@subject_schedule.new_record? ? :post : :patch), remote: true do |f|
    - if @subject_schedule.errors.any?
      .bs-callout.bs-callout-danger
        %h4
          = pluralize @subject_schedule.errors.count, 'error'
          prohibited this subject schedule from being saved

        %ul
          - @subject_schedule.errors.full_messages.each do |msg|
            %li= msg

    - if @subject_schedule.new_record?
      .form-group
        = f.label :schedule_id, nil, class: 'col-md-2 control-label'
        .col-md-10
          = f.select :schedule_id, [['---', nil]] + @project.schedules.collect{|s| [s.name, s.id]}, {}, class: 'form-control'

    .form-group
      = f.label :initial_due_date, nil, class: 'col-md-2 control-label'
      .col-md-10
        = f.text_field :initial_due_date, class: 'datepicker form-control', value: @subject_schedule.initial_due_date ? @subject_schedule.initial_due_date.strftime('%m/%d/%Y') : ''
.modal-footer
  = button_tag @subject_schedule.new_record? ? 'Add Schedule' : 'Update Schedule', data: { object: 'submit', target: '#subject_schedule_form' }, class: 'btn btn-primary'
  %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Cancel
