<% @title = @subject_schedule.name %>
<div class="page-header">
  <h1>
    <%= link_to "Subject Schedules", subject_schedules_path %> &middot; <%= @title %>
  </h1>
  <%= link_to "Edit Subject Schedule", edit_subject_schedule_path(@subject_schedule), class: 'btn btn-xs btn-default' %>
  <%= link_to "Delete Subject Schedule", @subject_schedule, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Subject Schedule #{@subject_schedule.name}?" } %>
</div>

<dl class="dl-horizontal">
  <dt>Subject</dt>
  <dd><%= link_to @subject_schedule.subject.name, @subject_schedule.subject if @subject_schedule.subject %></dd>

  <dt>Schedule</dt>
  <dd><%= link_to @subject_schedule.schedule.name, @subject_schedule.schedule if @subject_schedule.schedule %></dd>

  <dt>Initial Due Date</dt>
  <dd><%= @subject_schedule.initial_due_date %></dd>

</dl>
