- url = @check_filter_value.new_record? ? editor_project_check_check_filter_check_filter_values_path(@project, @check, @check_filter) : editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, @check_filter_value)
- method = @check_filter_value.new_record? ? :post : :patch

= form_for [@project, @check, @check_filter, @check_filter_value], url: url, method: method, html: { class: 'form-horizontal' } do |f|
  .form-group
    = f.label :value, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :value, class: 'form-control'
      = render 'layouts/errors', object: @check_filter_value, key: :value

      - if @check_filter.variable
        .callout.callout-info
          %strong= @check_filter.variable.display_name
          %ul
            - @check_filter.variable.domain_options.each do |domain_option|
              %li= domain_option.value_and_name

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @check_filter_value.new_record? ? editor_project_check_check_filter_check_filter_values_path(@project, @check, @check_filter) : editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, @check_filter_value), class: 'btn btn-default'
