- @title = "#{@check_filter_value.value_was} Edit"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@check.name, editor_project_check_path(@project, @check)]
- @breadcrumbs << [@check_filter.name, editor_project_check_check_filter_path(@project, @check, @check_filter)]

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  = link_to @check_filter_value.value_was, editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, @check_filter_value)
  Edit

.dashboard-container= render "form", check_filter_value: @check_filter_value
