- @title = "Values - #{@check_filter.name}"

- links = []
- links << ['Checks', editor_project_checks_path(@project)]
- links << [@check.name, editor_project_check_path(@project, @check)]
- links << ['Filters', editor_project_check_check_filters_path(@project, @check)]
- links << [@check_filter.name, editor_project_check_check_filter_path(@project, @check, @check_filter)]
- links << ['Values', editor_project_check_check_filter_check_filter_values_path(@project, @check, @check_filter)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-header
      = @title
      = link_to 'Create Value', new_editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter), class: 'btn btn-xs btn-primary'
      .per-page
        = render 'layouts/per_page', per_page: 40, object_count: @check_filter_values.total_count

    %table.table.table-striped
      %thead
        %tr
          %th Value
          %th Creator
          %th Actions

      %tbody
        - @check_filter_values.each do |check_filter_value|
          %tr
            %td= link_to check_filter_value.value, editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, check_filter_value)
            %td= check_filter_value.user.name
            %td
              = link_to 'Edit', edit_editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, check_filter_value), class: 'btn btn-xs btn-default'
              = link_to 'Destroy', editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, check_filter_value), method: :delete, data: { confirm: "Are you sure you want to delete value #{check_filter_value.value}?" }, class: 'btn btn-xs btn-danger-inverse'
