- @title = 'New Value'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@check.name, editor_project_check_path(@project, @check)]
- @breadcrumbs << [@check_filter.name, editor_project_check_check_filter_path(@project, @check, @check_filter)]

= render 'projects/side_nav'
= render 'layouts/simple_header'

.dashboard-container= render 'form'
