- @title = @check_filter_value.value

- links = []
- links << ['Checks', editor_project_checks_path(@project)]
- links << [@check.name, editor_project_check_path(@project, @check)]
- links << ['Filters', editor_project_check_check_filters_path(@project, @check)]
- links << [@check_filter.name, editor_project_check_check_filter_path(@project, @check, @check_filter)]
- links << ['Values', editor_project_check_check_filter_check_filter_values_path(@project, @check, @check_filter)]
- links << [@check_filter_value.value, editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, @check_filter_value)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid

    %h2.underline-header
      = @title
      = link_to 'Edit Value', edit_editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, @check_filter_value), class: 'btn btn-default btn-xs'
      = link_to 'Delete Value', editor_project_check_check_filter_path(@project, @check, @check_filter, @check_filter_value), method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Value #{@check_filter_value.value}?" }

    %dl.dl-horizontal
      %dt Creator
      %dd= @check_filter_value.user.name

      %dt Value
      %dd= @check_filter_value.value
