- @title = @check_filter_value.value
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@check.name, editor_project_check_path(@project, @check)]
- @breadcrumbs << [@check_filter.name, editor_project_check_check_filter_path(@project, @check, @check_filter)]

= render "projects/side_nav"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .dropdown
            = link_to "#", class: "btn btn-default dropdown-toggle", data: { toggle: "dropdown" } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, @check_filter_value) do
                  %i.fa.fa-pencil
                  Edit
              %li.divider{ role: "separator" }
              %li
                = link_to editor_project_check_check_filter_check_filter_value_path(@project, @check, @check_filter, @check_filter_value), method: :delete, data: { confirm: "Delete \"#{@check_filter_value.value}\" filter value?" } do
                  .text-danger
                    %i.fa.fa-trash
                    Delete
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Creator
      %td= @check_filter_value.user.name
    %tr
      %th Value
      %td= @check_filter_value.value
