= form_with model: [task.project, task], local: true do |form|
  = render "forms/horizontal/text_area", form: form, object: task, key: :description, rows: 7
  = render "forms/horizontal/date_field", form: form, object: task, key: :due_date
  = render "forms/horizontal/check_box", form: form, object: task, key: :completed
  = render "forms/horizontal/date_field", form: form, object: task, key: :window_start_date
  = render "forms/horizontal/date_field", form: form, object: task, key: :window_end_date

  -# TODO: Only editable by blinded members.
  = render "forms/horizontal/check_box", form: form, object: task, key: :only_unblinded if task.project.blinding_enabled?

  = render "forms/horizontal/submit", form: form, object: [task.project, task]
