- if @tasks.count == 0
  .jumbotron
    %p.center No tasks found.
- else

  .dashboard-container
    %table.table.table-striped.table-borderless.table-hover
      %col
      %col
      %col.hidden-xs
      %col.hidden-xs
      %col.hidden-xs.hidden-sm
      %col.hidden-xs.hidden-sm
      %col.hidden-xs.hidden-sm
      - if @project.site_or_project_editor?(current_user)
        %col{ width: '1px' }
      %thead
        %tr
          = th_sort_field @order, 'tasks.created_at', 'Task'
          = th_sort_field @order, 'tasks.due_date', 'Date'
          %th.hidden-xs User
          %th.hidden-xs.center Completed
          %th.hidden-xs.hidden-sm Window Start Date
          %th.hidden-xs.hidden-sm Window End Date
          %th.hidden-xs.hidden-sm.center Only Unblinded
          - if @project.site_or_project_editor?(current_user)
            %th Actions
      %tbody
        - @tasks.each do |task|
          %tr
            %td= link_to task.description, [@project, task]
            %td.nowrap= task.due_date
            %td.hidden-xs.nowrap= task.user.nickname
            %td.hidden-xs.center= simple_check task.completed
            %td.hidden-xs.hidden-sm= task.window_start_date
            %td.hidden-xs.hidden-sm= task.window_end_date
            %td.hidden-xs.hidden-sm.center= simple_check task.only_unblinded
            - if @project.site_or_project_editor?(current_user)
              %td.nowrap
                - if task.editable_by?(current_user)
                  = render 'layouts/edit_delete_dropdown', edit_url: edit_project_task_path(@project, task), delete_url: [@project, task], delete_confirmation: 'Delete Task?'

  .center= paginate @tasks, theme: 'bootstrap'
