- @title = "#{@task.name} Edit"
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = render 'layouts/side_nav_header_button'
        = link_to @task.name, [@project, @task]
        Edit

.dashboard-container= render 'form'
