- @title = "#{@task.name} Edit"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  = link_to @task.name, [@project, @task]
  Edit

.dashboard-container= render "form", task: @task
