- @title = "Tasks"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    - if @project.site_or_project_editor?(current_user)
      = link_to plus_or("New Task"), new_project_task_path(@project), class: "btn btn-accent btn-shadow"
    .per-page= render "layouts/per_page", per_page: 40, object_count: @tasks.total_count
  = @title

- if @tasks.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col
      %col
      %col.d-none.d-sm-table-column
      %col.d-none.d-sm-table-column
      %col.d-none.d-md-table-column
      %col.d-none.d-md-table-column
      - if @project.site_or_project_editor?(current_user)
        %col{ width: "1px" }
      %thead
        %tr
          = th_sort_field @order, "tasks.created_at", "Task"
          = th_sort_field @order, "tasks.due_date", "Date", extra_class: "text-center"
          %th.d-none.d-sm-table-cell User
          %th.d-none.d-sm-table-cell.text-center Completed
          %th.d-none.d-md-table-cell.text-center
            Window
            %br
            Start Date
          %th.d-none.d-md-table-cell.text-center
            Window
            %br
            End Date
          - if @project.site_or_project_editor?(current_user)
            %th.text-center Actions
      %tbody
        - @tasks.each do |task|
          %tr
            %td
              = link_to task.description, [@project, task]
              = render "layouts/unblinded_only", project: @project, object: task, placement: "right"
            %td.text-center.nowrap= task.due_date
            %td.d-none.d-sm-table-cell.nowrap= task.user.nickname
            %td.d-none.d-sm-table-cell.text-center= simple_check task.completed
            %td.d-none.d-md-table-cell.text-center.nowrap= task.window_start_date
            %td.d-none.d-md-table-cell.text-center.nowrap= task.window_end_date
            - if @project.site_or_project_editor?(current_user)
              %td.nowrap.text-center
                - if task.editable_by?(current_user)
                  = render "layouts/edit_delete_dropdown", edit_url: edit_project_task_path(@project, task), delete_url: [@project, task], delete_confirmation: "Delete \"#{task.description}\" task?"

  .center-horizontally= paginate @tasks, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    No tasks found.
