- @title = 'Tasks'

= render 'projects/tabbed_menu', links: [['Tasks', project_tasks_path(@project)]]

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-heading
      = @title
      - if @project.site_or_project_editor? current_user
        = link_to 'New Task', new_project_task_path(@project), class: 'btn btn-xs btn-primary'
      .per-page
        = render 'layouts/per_page', per_page: 40, object_count: @tasks.total_count

    = render 'tasks/tasks'

    - if false
      .jumbotron
        = form_tag project_tasks_path(@project), method: :get, class: 'form-vertical' do
          = hidden_field_tag :order, params[:order]
          .row
            .col-md-4.form-group
              = label :search, 'Search', class: 'col-md-3 control-label'
              .col-md-9
                = text_field_tag 'search', params[:search], class: 'form-control'

            .col-md-4.form-group
              = submit_tag 'Search', class: 'btn btn-primary', name: nil
              = link_to 'Reset', project_tasks_path(@project), class: 'btn btn-default'
