- @title = 'Tasks'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - if @project.site_or_project_editor?(current_user)
            = link_to plus_or('New Task'), new_project_task_path(@project), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @tasks.total_count
        = @title

- if @tasks.present?
  .dashboard-container
    %table.table.table-striped.table-borderless.table-hover
      %col
      %col
      %col.hidden-xs
      %col.hidden-xs
      %col.hidden-xs.hidden-sm
      %col.hidden-xs.hidden-sm
      - if @project.site_or_project_editor?(current_user)
        %col{ width: '1px' }
      %thead
        %tr
          = th_sort_field @order, 'tasks.created_at', 'Task'
          = th_sort_field @order, 'tasks.due_date', 'Date'
          %th.hidden-xs User
          %th.hidden-xs.center Completed
          %th.hidden-xs.hidden-sm Window Start Date
          %th.hidden-xs.hidden-sm Window End Date
          - if @project.site_or_project_editor?(current_user)
            %th Actions
      %tbody
        - @tasks.each do |task|
          %tr
            %td
              = link_to task.description, [@project, task]
              = render 'layouts/unblinded_only', project: @project, object: task, placement: 'right'
            %td.nowrap= task.due_date
            %td.hidden-xs.nowrap= task.user.nickname
            %td.hidden-xs.center= simple_check task.completed
            %td.hidden-xs.hidden-sm= task.window_start_date
            %td.hidden-xs.hidden-sm= task.window_end_date
            - if @project.site_or_project_editor?(current_user)
              %td.nowrap
                - if task.editable_by?(current_user)
                  = render 'layouts/edit_delete_dropdown', edit_url: edit_project_task_path(@project, task), delete_url: [@project, task], delete_confirmation: 'Delete Task?'

  .center= paginate @tasks, theme: 'bootstrap'
- else
  .jumbotron
    %p.center No tasks found.
