- @title = @task.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  - if @task.editable_by?(current_user)
    .float-right
      .dropdown
        = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
          .d-inline-block.d-sm-none
            = icon("fas", "cog")
          .d-none.d-sm-inline-block Actions

        .dropdown-menu.dropdown-menu-right
          = link_to edit_project_task_path(@project, @task), class: "dropdown-item" do
            = icon("fas", "pencil-alt")
            Edit
          .dropdown-divider
          = link_to [@project, @task], method: :delete, data: { confirm: "Delete \"#{@task.description}\" task?" }, class: "dropdown-item text-danger" do
            = icon("fas", "trash-alt")
            Delete
  = @title
  = render "layouts/unblinded_only", project: @project, object: @task, placement: "top"
- content_for :breadcrumbs do
  %ol
    %li= link_to "tasks", project_tasks_path(@project)
    %li.breadcrumb-muted= @task.name.downcase

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }

    %tr
      %th Creator
      %td= @task.user.full_name

    %tr
      %th Description
      %td= simple_markdown_old @task.description

    %tr
      %th Due date
      %td= @task.due_date

    %tr
      %th Window start date
      %td= @task.window_start_date

    %tr
      %th Window end date
      %td= @task.window_end_date

    %tr
      %th Completed
      %td= simple_check @task.completed

    - if @task.randomization
      %tr
        %th Randomization
        %td
          = link_to [@task.randomization.project, @task.randomization] do
            = @task.randomization.treatment_arm_name

          %small
            = @task.randomization.name
            of
            = @task.randomization.randomization_scheme.randomization_goal

          %p
            %strong
              = @task.randomization.subject.name
            randomized
            = simple_time @task.randomization.randomized_at
            by
            = @task.randomization.randomized_by.full_name
