- @title = @task.name
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        - if @task.editable_by?(current_user)
          .pull-right
            .dropdown
              = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
                Actions
                %strong.caret

              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to edit_project_task_path(@project, @task) do
                    %span.glyphicon.glyphicon-edit
                    Edit
                %li.divider{ role: 'separator' }
                %li
                  = link_to [@project, @task], method: :delete, data: { confirm: "Are you sure you want to delete #{@task.name}?" } do
                    .text-danger
                      %span.glyphicon.glyphicon-trash
                      Delete
        = @title
        = render 'layouts/unblinded_only', project: @project, object: @task, placement: 'top'

.dashboard-container
  %table.table.table-borderless
    %col.hidden-xs{ width: '30%' }
    %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }

    %tr
      %th Creator
      %td= @task.user.name

    %tr
      %th Description
      %td= simple_markdown @task.description

    %tr
      %th Due date
      %td= @task.due_date

    %tr
      %th Window start date
      %td= @task.window_start_date

    %tr
      %th Window end date
      %td= @task.window_end_date

    %tr
      %th Completed
      %td= simple_check @task.completed

    - if @task.randomization
      %tr
        %th Randomization
        %td
          = link_to [@task.randomization.project, @task.randomization] do
            = @task.randomization.treatment_arm.name

          %small
            = @task.randomization.randomization_number
            of
            = @task.randomization.randomization_scheme.randomization_goal

          %p
            %strong
              = @task.randomization.subject.name
            randomized
            = simple_time @task.randomization.randomized_at
            by
            = @task.randomization.randomized_by.name
