.aecomment-outer
  .aecomment-left-fixed
  .aecomment-right-fluid
    .jumbotron
      %strong= @adverse_event.user.name
      %span.label.label-success reported
      a
      - if @adverse_event.serious?
        %strong serious
      - else
        non-serious
      adverse event that occurred on
      = @adverse_event.adverse_event_date.strftime('%a, %-d %b %Y')
      for subject
      = succeed '.' do
        = link_to @adverse_event.subject.name, [@project, @adverse_event.subject]


.aecomment-outer
  .aecomment-left-fixed
    = image_tag @adverse_event.user.avatar_url(48, 'identicon'), size: '48x48', alt: ''
  .aecomment-right-fluid
    .aecomment-comment
      .aecomment-comment-header
        %strong= @adverse_event.user.name
        commented
        %abbr{ rel: 'tooltip', data: { title: @adverse_event.created_at.strftime("%-d %b %Y, %-l:%M %p"), container: 'body', placement: 'right' } }
          = time_ago_in_words @adverse_event.created_at
          ago
        - if @adverse_event.editable_by? current_user
          .pull-right
            = succeed ' ' do
              = link_to edit_project_adverse_event_path(@project, @adverse_event), class: 'btn btn-xs btn-default' do
                %span.glyphicon.glyphicon-pencil
      .aecomment-comment-body
        = simple_markdown @adverse_event.description, 'table table-bordered table-striped'

- all_events = (@adverse_event.sheets + @adverse_event.adverse_event_files + adverse_event_comments).sort_by(&:created_at)

- all_events.each do |event|
  - if event.is_a? AdverseEventComment
    %div{ id: "adverse_event_comment_#{event.id}" }
      = render 'adverse_event_comments/show', adverse_event_comment: event
  - elsif event.is_a? Sheet
    - sheet = event
    %div
      .aecomment-outer
        .aecomment-left-fixed
        .aecomment-right-fluid
          .aecomment-icon
            %span.glyphicon.glyphicon-file
          .aecomment-action
            %strong= sheet.user.name if sheet.user
            added
            = succeed '.' do
              = link_to sheet.name, [@project, sheet]
  - elsif event.is_a? AdverseEventFile
    - file = event
    %div
      .aecomment-outer
        .aecomment-left-fixed
        .aecomment-right-fluid
          .aecomment-icon
            - if file.image?
              %span.glyphicon.glyphicon-picture
            - else
              %span.glyphicon.glyphicon-paperclip
          .aecomment-action
            %strong= file.user.name if file.user
            attached
            = succeed '.' do
              - if file.image?
                = link_to file.name, [@project, @adverse_event, file]
              - else
                = link_to file.name, download_project_adverse_event_adverse_event_file_path(@project, @adverse_event, file), data: { no_turbolink: true }
            - if file.image? and false
              .center{ style: 'margin-top:5px' }
                = link_to [@project, @adverse_event, file] do
                  = image_tag download_project_adverse_event_adverse_event_file_path(@project, @adverse_event, file), style: 'height: 64px', class: 'img-thumbnail'

#adverse_event_comment_new
  - @adverse_event_comment = current_user.adverse_event_comments.where(project_id: @project.id, adverse_event_id: @adverse_event.id).new
  = render 'adverse_event_comments/form'
