- @last_seen_at = @adverse_event.last_seen_at current_user
- all_events = (@adverse_event.sheets + @adverse_event.adverse_event_files + adverse_event_comments + @adverse_event.adverse_event_users + @adverse_event.adverse_event_reviews).sort_by(&:created_at)
- @adverse_event.mark_as_viewed_by_user current_user

.comment-outer
  .comment-left-fixed
  .comment-right-fluid
    .jumbotron
      %div{ style: "margin-bottom: 10px;" }
        %strong= @adverse_event.user.full_name
        %span.badge.badge-success reported
        an adverse event that occurred on
        = @adverse_event.adverse_event_date.strftime("%a, %-d %b %Y")
        for subject
        = succeed "." do
          = link_to @adverse_event.subject.name, [@project, @adverse_event.subject]

      .adverse-event-description= @adverse_event.description

      - ae_sheets_count = @adverse_event.sheets.count
      - if ae_sheets_count > 0
        %div{ style: "margin-top: 10px;" }
          Attachments:
          - @adverse_event.sheets.order(:created_at).each_with_index do |sheet, index|
            - if ae_sheets_count == index + 1
              = link_to sheet.name, [sheet.project, sheet]
            - else
              = succeed "," do
                = link_to sheet.name, [sheet.project, sheet]

.comment-outer
  .comment-left-fixed
  .comment-right-fluid
    .comment-action
      %strong= @adverse_event.user.full_name
      %span.badge.badge-success opened
      adverse event report
      %abbr{ rel: "tooltip", data: { title: @adverse_event.created_at.strftime("%-d %b %Y, %-l:%M %p"), container: "body", placement: "right" } }
        = time_ago_in_words(@adverse_event.created_at)
        ago

- @adverse_event.compress_events(all_events).each do |event|
  - if event.is_a?(Array)
    %div
      .comment-outer
        .comment-left-fixed
        .comment-right-fluid
          .comment-action
            .float-right
              %small Seen by
              - event.each do |adverse_event_user|
                %span{ rel: "tooltip", data: { title: adverse_event_user.user.full_name, container: "body", placement: "top" } }
                  - if adverse_event_user.user[:profile_picture]
                    - picture_content = profile_picture_tag adverse_event_user.user, size: 16, style: "vertical-align: text-bottom;"
                  - else
                    - picture_content = icon("fas", "user", class: "text-muted")
                  = picture_content
            &nbsp;
  - elsif event.is_a?(AdverseEventComment)
    %div{ id: "adverse_event_comment_#{event.id}" }
      = render "adverse_event_comments/show", adverse_event_comment: event
  - elsif event.is_a?(Sheet)
    - sheet = event
    %div
      .comment-outer
        .comment-left-fixed
        .comment-right-fluid
          .comment-icon
            = icon("fas", "file")
          .comment-action{ class: (@last_seen_at.nil? || @last_seen_at < sheet.updated_at ? "comment-unread" : nil) }
            %strong= sheet.user.full_name if sheet.user
            added
            = link_to sheet.name, [@project, sheet]
            %abbr{ rel: "tooltip", data: { title: sheet.created_at.strftime("%-d %b %Y, %-l:%M %p"), container: "body", placement: "right" } }
              = time_ago_in_words sheet.created_at
              ago
            - unless sheet.recently_created?
              and updated
              %abbr{ rel: "tooltip", data: { title: sheet.updated_at.strftime("%-d %b %Y, %-l:%M %p"), container: "body", placement: "right" } }
                = time_ago_in_words sheet.updated_at
                ago
  - elsif event.is_a?(AdverseEventFile)
    - file = event
    %div
      .comment-outer
        .comment-left-fixed
        .comment-right-fluid
          .comment-icon
            - if file.image?
              = icon("fas", "image")
            - else
              = icon("fas", "paperclip")
          .comment-action{ class: (@last_seen_at.nil? || @last_seen_at < file.created_at ? "comment-unread" : nil) }
            %strong= file.user.full_name if file.user
            attached
            = succeed "." do
              - if file.image?
                = link_to file.name, [@project, @adverse_event, file]
              - else
                = link_to file.name, download_project_adverse_event_adverse_event_file_path(@project, @adverse_event, file), data: { turbolinks: false }
            - if file.image? && false
              %div{ style: "margin-top:5px" }
                = link_to [@project, @adverse_event, file] do
                  = image_tag download_project_adverse_event_adverse_event_file_path(@project, @adverse_event, file), style: "height: 256px", class: "img-thumbnail"
  - elsif event.is_a?(AdverseEventReview)
    .comment-outer
      .comment-left-fixed
      .comment-right-fluid
        .comment-comment
          .comment-comment-header{ class: (@last_seen_at.nil? || @last_seen_at < event.created_at ? "comment-unread" : nil) }
            Reviewed by
            %strong= event.name
            %abbr{ rel: "tooltip", data: { title: event.created_at.strftime("%-d %b %Y, %-l:%M %p"), container: "body", placement: "right" } }
              = time_ago_in_words(event.created_at)
              ago
            %span.badge External Reviewer
          .comment-comment-body
            = simple_markdown event.comment, "table table-bordered table-striped"

- ae_designs = @project.designs.includes(:category).where(categories: { use_for_adverse_events: true })
- if ae_designs.count > 0 && !@adverse_event.closed?
  .comment-outer
    .comment-left-fixed
    .comment-right-fluid
      - unless @adverse_event.sheets.count == 0
        #additional-forms-icon.comment-icon
          = icon("fas", "file")
        #additional-forms-action.comment-action
          = link_to "#", data: { object: "toggle-visibility", target: "#additional-forms, #additional-forms-icon, #additional-forms-action" } do
            Add Another Form
      #additional-forms{ style: "#{"display:none" unless @adverse_event.sheets.count == 0}" }
        .jumbotron
          %strong
            Additional
            = "Form".pluralize(ae_designs.count)
            Available
          %br
          Would you like to start
          - if ae_designs.count == 1
            the following form
          - else
            one of the following forms
          to provide more information about the adverse event?
          - ae_designs.order("categories.position", :name).group_by(&:category).each do |category, designs|
            %div{ style: "padding:25px 25px 15px;" }
              - designs.in_groups_of(2, false).each do |designs|
                .row
                  - designs.each do |design|
                    .col-sm-6{ style: "margin-bottom:10px" }
                      = link_to design.name, new_data_entry_project_subject_path(@project, @adverse_event.subject, design, adverse_event_id: @adverse_event.id), class: "btn btn-light btn-block", style: "white-space: normal"

- if @adverse_event.editable_by?(current_user)
  #adverse_event_comment_new
    - @adverse_event_comment = current_user.adverse_event_comments.where(project_id: @project.id, adverse_event_id: @adverse_event.id).new
    = render "adverse_event_comments/form"
