.comment-outer
  .comment-left-fixed
    - if @adverse_event_comment.user[:profile_picture]
      - picture_content = profile_picture_tag @adverse_event_comment.user, size: 48
    - else
      - picture_content = icon("fas", "user", class: "text-muted fa-3x")
    = picture_content

  .comment-right-fluid
    .comment-comment
      .comment-comment-header
        %strong= @adverse_event_comment.user.full_name
      .comment-comment-body
        = form_with model: [@project, @adverse_event, @adverse_event_comment], id: "adverse-event-comment-form" do |form|
          .form-group
            = form.text_area :description, rows: 7, class: "comment-control form-control#{" is-invalid" if @adverse_event_comment.errors[:description].present?}", placeholder: "Type comment here", data: { object: @adverse_event_comment.new_record? ? "ae-comment-comment-field" : nil }
            - if @adverse_event_comment.errors[:description].present?
              .invalid-feedback Comment can't be blank.

          - if @adverse_event_comment.new_record?
            = form.hidden_field :comment_type, value: @adverse_event_comment.comment_type.blank? ? "commented" : @adverse_event_comment.comment_type, id: "adverse_event_comment_comment_type"

          - submit_text = @adverse_event_comment.new_record? ? "Comment" : "Update"
          = form.submit submit_text, class: "btn btn-primary", data: { disable_with: submit_text }
          - if @adverse_event_comment.new_record?
            - if @adverse_event.closed?
              = link_to "Reopen AE Report", "#", data: { object: "submit-ae-comment", target: "#adverse-event-comment-form", comment_type: "reopened" }, id: "reopen-ae-button", class: "btn btn-light"
            - else
              = link_to "Close AE Report", "#", data: { object: "submit-ae-comment", target: "#adverse-event-comment-form", comment_type: "closed" }, id: "close-ae-button", class: "btn btn-light"
          - else
            = link_to "Cancel", project_adverse_event_adverse_event_comment_path(@project, @adverse_event, @adverse_event_comment), remote: true, class: "btn btn-light"
