- @title = 'Stratification Factor Options'

- links = []
- links << [@randomization_scheme.name, [@project, @randomization_scheme]]
- links << [@stratification_factor.name, project_randomization_scheme_stratification_factor_path(@project, @randomization_scheme, @stratification_factor)]
- links << ['Options', project_randomization_scheme_stratification_factor_stratification_factor_options_path(@project, @randomization_scheme, @stratification_factor)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-header
      = @title
      = link_to 'Create Stratification Factor Option', new_project_randomization_scheme_stratification_factor_stratification_factor_option_path(@project, @randomization_scheme, @stratification_factor), class: 'btn btn-xs btn-primary'
      .per-page
        = render 'contour/layouts/per_page', per_page: 40, object_count: @stratification_factor_options.total_count

    = render 'stratification_factor_options/stratification_factor_options'
