- @title = 'Stratification Factor Options'

.project-title-container
  = link_to @project.name, @project, class: 'project-title'

.row
  .col-sm-2
    = render 'projects/beta/menu'

  .col-sm-10
    %h2.project-header
      = link_to @randomization_scheme.name, [@project, @randomization_scheme]
      &middot;
      = link_to @randomization_scheme.name, [@project, @randomization_scheme, @stratification_factor]
      &middot;
      = @title
    %div{ style: 'margin-bottom: 20px' }
      = link_to "Create Stratification Factor Option", new_project_randomization_scheme_stratification_factor_stratification_factor_option_path(@project, @randomization_scheme, @stratification_factor), class: 'btn btn-xs btn-primary'

    = form_tag project_randomization_scheme_stratification_factor_stratification_factor_options_path(@project, @randomization_scheme, @stratification_factor), method: :get, class: 'form-vertical' do
      = hidden_field_tag :order, params[:order]

    = render 'stratification_factor_options/stratification_factor_options'
