- @title = 'Options'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []

- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]
- @breadcrumbs << [@stratification_factor.name, project_randomization_scheme_stratification_factor_path(@project, @randomization_scheme, @stratification_factor)]

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to plus_or('New Option'), new_project_randomization_scheme_stratification_factor_stratification_factor_option_path(@project, @randomization_scheme, @stratification_factor), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @stratification_factor_options.total_count
        %span.nowrap= @title

= render 'stratification_factor_options/stratification_factor_options'
