- @title = 'New Option'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]
- @breadcrumbs << [@stratification_factor.name, [@project, @randomization_scheme, @stratification_factor]]

= render 'projects/side_nav'
= render 'layouts/simple_header'

.dashboard-container= render 'form'
