- @title = @stratification_factor_option.name
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]
- @breadcrumbs << [@stratification_factor.name, [@project, @randomization_scheme, @stratification_factor]]

= render "projects/side_nav"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .float-right
          - unless @randomization_scheme.published?
            .dropdown
              = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
                Actions
                %strong.caret

              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to edit_project_randomization_scheme_stratification_factor_stratification_factor_option_path(@project, @randomization_scheme, @stratification_factor, @stratification_factor_option) do
                    %i.fa.fa-pencil
                    Edit
                %li.divider{ role: "separator" }
                %li
                  = link_to [@project, @randomization_scheme, @stratification_factor, @stratification_factor_option], method: :delete, data: { confirm: "Delete \"#{@stratification_factor_option.name}\"?" } do
                    .text-danger
                      %i.fa.fa-trash
                      Delete
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Creator
      %td= link_to @stratification_factor_option.user.name, @stratification_factor_option.user if @stratification_factor_option.user
    %tr
      %th Label
      %td= @stratification_factor_option.label
    %tr
      %th Value
      %td= @stratification_factor_option.value
