- @title = @stratification_factor_option.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  .float-right
    - unless @randomization_scheme.published?
      .dropdown
        = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
          .d-inline-block.d-sm-none
            = icon("fas", "cog")
          .d-none.d-sm-inline-block Actions

        .dropdown-menu.dropdown-menu-right
          = link_to edit_project_randomization_scheme_stratification_factor_stratification_factor_option_path(@project, @randomization_scheme, @stratification_factor, @stratification_factor_option), class: "dropdown-item" do
            = icon("fas", "pencil-alt")
            Edit
          .dropdown-divider
          = link_to [@project, @randomization_scheme, @stratification_factor, @stratification_factor_option], method: :delete, data: { confirm: "Delete \"#{@stratification_factor_option.name}\"?" }, class: "dropdown-item text-danger" do
            = icon("fas", "trash-alt")
            Delete
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "randomization schemes", project_randomization_schemes_path(@project)
    %li= link_to @randomization_scheme.name.downcase, [@project, @randomization_scheme]
    %li= link_to "stratification factors", project_randomization_scheme_stratification_factors_path(@project, @randomization_scheme)
    %li= link_to @stratification_factor.name.downcase, [@project, @randomization_scheme, @stratification_factor]
    %li= link_to "options", project_randomization_scheme_stratification_factor_stratification_factor_options_path(@project, @randomization_scheme, @stratification_factor)
    %li.breadcrumb-muted= @stratification_factor_option.name.downcase

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Creator
      %td= link_to @stratification_factor_option.user.full_name, @stratification_factor_option.user if @stratification_factor_option.user
    %tr
      %th Label
      %td= @stratification_factor_option.label
    %tr
      %th Value
      %td= @stratification_factor_option.value
