- if sheet.auto_locked?
  %span.text-muted
    %span.glyphicon.glyphicon-lock
    Sheet Locked
  - if project.editable_by?(current_user)
    = succeed ' ' do
      = link_to unlock_project_sheet_path(project, sheet), method: :post, class: 'btn btn-xs btn-primary' do
        Unlock For
        - case project.auto_lock_sheets when 'after24hours'
          24 Hours
        - when 'after1week'
          1 Week
        - when 'after1month'
          1 Month
    - if sheet.recent_unlock_requests.count > 0
      = succeed ' ' do
        = link_to 'View Requests', '#', data: { object: 'toggle-visibility', target: "#sheet_unlock_requests" }, class: 'btn btn-xs btn-default'
  - elsif sheet.editable_by?(current_user)
    - if sheet.recent_unlock_requested?(current_user)
      %span.label.label-default Unlock Requested
    - else
      = link_to 'Request Unlock', '#', data: { object: 'toggle-visibility', target: '#sheet_unlock_request' }, class: 'btn btn-xs btn-default'
- else
  - if sheet.editable_by?(current_user)
    = succeed ' ' do
      = link_to edit_project_sheet_path(sheet.project, sheet), class: 'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-edit
        Edit
    = succeed ' ' do
      = link_to transfer_project_sheet_path(project, sheet), class: 'btn btn-default btn-xs' do
        %span.glyphicon.glyphicon-transfer
        Transfer
    = succeed ' ' do
      = link_to [sheet.project, sheet], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Sheet #{sheet.name}?" } do
        %span.glyphicon.glyphicon-trash
        Delete
