= render "translations/language_dropdown", button_class: ""
- if sheet.auto_locked?
  %span.dropdown
    = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
      %i.fa.fa-lock
      %span.d-none.d-md-inline Sheet Locked
    .dropdown-menu.dropdown-menu-right
      - if project.editable_by?(current_user)
        = succeed " " do
          = link_to unlock_project_sheet_path(project, sheet), method: :post, class: "dropdown-item" do
            Unlock For
            - case project.auto_lock_sheets when "after24hours"
              24 Hours
            - when "after1week"
              1 Week
            - when "after1month"
              1 Month
        - if sheet.recent_unlock_requests.count > 0
          = link_to "View Requests", "#", data: { object: "toggle-visibility", target: "#sheet_unlock_requests" }, class: "dropdown-item"
      - elsif sheet.editable_by?(current_user)
        - if sheet.recent_unlock_requested?(current_user)
          = link_to "Unlock Requested", "#", data: { object: "toggle-visibility", target: "#sheet_unlock_requested" }, class: "dropdown-item"
        - else
          = link_to "Request Unlock", "#", data: { object: "toggle-visibility", target: "#sheet_unlock_request" }, class: "dropdown-item"
- else
  - if sheet.editable_by?(current_user)
    %span.dropdown
      = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
        .d-inline-block.d-sm-none
          %i.fa.fa-cog
        .d-none.d-sm-inline-block Actions

      .dropdown-menu.dropdown-menu-right
        = link_to edit_project_sheet_path(sheet.project, sheet, language: params[:language]), class: "dropdown-item" do
          %i.fa.fa-pencil
          Edit
        = link_to reassign_project_sheet_path(project, sheet), class: "dropdown-item" do
          %i.fa.fa-exchange
          Reassign
        .dropdown-divider
        = link_to [sheet.project, sheet], method: :delete, data: { confirm: "Delete #{sheet.name}?" }, class: "dropdown-item" do
          .text-danger
            %i.fa.fa-trash
            Delete

= link_to project_sheet_path(@project, @sheet, format: "pdf"), target: "_blank", class: "btn btn-light" do
  %i.fa.fa-print
  %span.d-none.d-md-inline Print
