- if @sheet.locked?
  .well
    This sheet was
    %span.glyphicon.glyphicon-lock{ style: "color:#5bc0de" }
    %strong locked
    and
    %span.glyphicon.glyphicon-leaf{ style: "color:#5cb85c" }
    %strong electronically signed
    by
    %strong{ style: "color:#428BCC" }= @sheet.last_user.name
    - if @sheet.last_edited_at
      on
      %strong= @sheet.last_edited_at.strftime("%b %d, %Y")
      at
      %strong= @sheet.last_edited_at.strftime("%I:%M %p.")
    %div{ style: "margin-top:1em" }
      Contributors:
      = @sheet.contributors

%div{ id: "sheet_#{@sheet.id}_comments" }
  = render 'comments/comments'
