.page-header
  %h2 Comments

= form_tag comments_path(sheet_id: @sheet.id), method: :post, remote: true, id: "sheet_#{@sheet.id}_comment_form" do
  = text_area_tag "sheet[#{@sheet.id}][comment]", '', name: 'comment[description]', rows: 2, class: 'form-control'
  = submit_tag 'Add Comment', class: 'btn btn-primary', style: 'margin:5px 0 0 5px', data: { object: 'comment-submit', target: "#sheet_#{@sheet.id}_comment_form" }

- @sheet.comments.order('created_at DESC').each do |comment|
  %div{ style: 'padding: 5px;', data: { comment_id: comment.id } }
    %hr.divider-xs
    %table
      %col{ width: '50px' }
      %tr
        %td{ style: 'vertical-align:top' }
          = image_tag comment.user.avatar_url(50, "identicon"), alt: '', class: 'img-rounded'
        %td{ style: 'vertical-align:top;padding-left:10px' }
          %blockquote{ style: 'margin:0px' }
            = simple_markdown comment.description
            %small
              = link_to comment.user.name, comment.user
              &middot;
              = simple_time comment.created_at
              - if comment.editable_by?(current_user)
                = link_to 'Edit', edit_comment_path(comment), class: 'btn btn-xs btn-default'
              - if comment.deletable_by?(current_user)
                = link_to 'Delete', comment, method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Comment #{comment.name}?" }

%center=# paginate @sheet.comments, theme: 'contour'
