= hidden_field_tag "isdirty", "1"

- form_name = @sheet.new_record? ? "new_sheet" : "edit_sheet_#{@sheet.id}"
= form_with model: [@sheet.project, @sheet], multipart: true, local: true, id: form_name do |form|
  - if @sheet.errors.any?
    .card.border-danger.mb-3
      .card-body
        %strong
          = pluralize @sheet.errors.count, "error"
          prohibited this sheet from being saved

        %ul{ style: "display:none" }
          - @sheet.errors.full_messages.each do |msg|
            %li= msg

  = form.hidden_field :language, value: World.language, name: :language

  - # TODO: DESIGN SHOULD ONLY BE NEEDED ON NEW SHEETS
  = form.hidden_field :design_id

  -# TODO: REMOVE PROJECT_ID IF NOT USED
  = form.hidden_field :project_id
  -# TODO: REMOVE SUBJECT_ID IF NOT USED
  = hidden_field_tag :subject_id, @sheet.subject_id


  = form.hidden_field :adverse_event_id
  = form.hidden_field :ae_adverse_event_id
  = form.hidden_field :subject_event_id if @sheet.new_record?

  .dashboard-container
    = render "designs/show", design: @sheet.design, form: form if @sheet.design

    .form-group
      - submit_text = @sheet.new_record? ? "Create Sheet" : "Update Sheet"
      = link_to submit_text, "#", class: "btn btn-primary", data: { target: "##{form_name}", object: "variable-check-before-submit" }
      = link_to "Cancel", @sheet.new_record? ? (@sheet.subject ? data_entry_project_subject_path(@project, @sheet.subject) : project_sheets_path(@project)) : [@project, @sheet], class: "btn btn-light"
      %span#validation-messages.text-danger.span-link{ data: { object: "scroll-to-first-error" } }
