<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @sheet, html: { class: 'form-horizontal' } do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% @sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :project_id, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.select :project_id, [['---', nil]] + current_user.all_viewable_projects.collect{|p| [p.name, p.id]} %>
    </div>
  </div>

  <div class="control-group">
    <%= label 'sheet', 'subject_id', 'Subject Code', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag 'sheet_subject_id', @sheet.subject ? @sheet.subject.subject_code : params[:subject_code], name: 'subject_code' %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag 'site_id', 'Site', class: 'control-label' %>
    <div class="controls" id="site">
      <% @disable_selection = true unless @sheet.new_record? %>
      <%= @project = @sheet.project; @subject = @sheet.subject; render partial: 'sites/selection' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :study_date, nil, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :study_date, class: 'datepicker', value: @sheet.study_date ? @sheet.study_date.strftime('%m/%d/%Y') : '' %>
    </div>
  </div>

  <% if @sheet.new_record? %>
    <div class="control-group">
      <%= f.label :design_id, nil, class: 'control-label' %>
      <div class="controls" id="select_design">
        <%= render partial: 'sheets/select_design' %>
      </div>
    </div>

    <div id="design">
      <%= @design = @sheet.design; render partial: 'designs/selection' if @sheet.design %>
    </div>
  <% else %>
    <div class="page-header">
      <h2><%= @sheet.name %></h2>
    </div>

    <% @sheet.design.variables.each do |variable| %>
      <%= @design = @sheet.design; @variable = variable; render partial: 'designs/variable' %>
    <% end %>
  <% end %>

  <div class="form-actions">
    <% form_name = @sheet.new_record? ? 'new_sheet' : "edit_sheet_#{@sheet.id}" %>
    <%= f.submit nil, class: 'btn btn-primary', data: { target: "##{form_name}", object: "variable-check-before-submit" }  %>
    <%= cancel %>
  </div>
<% end %>
