<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= hidden_field_tag 'isdirty', '1' %>
<%= hidden_field_tag "hidden_sheet_id", (@sheet ? @sheet.id : nil), name: "sheet_id" %>

<%= form_for [@sheet.project, @sheet], html: { class: 'form-horizontal', multipart: true } do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prohibited this sheet from being saved:</h2>

      <ul>
      <% @sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id %>

  <% if @sheet.new_record? %>
    <div class="control-group">
      <%= f.label :design_id, nil, class: 'control-label' %>
      <div class="controls">
        <% designs = current_user.all_viewable_designs.with_project(@project.id) %>
        <%= select :sheet, :design_id, options_for_select([['---', nil]] + designs.order('name').collect{|d| [d.name, d.id]}, (params[:sheet] ? params[:sheet][:design_id] : nil)) %>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= label 'sheet', 'subject_id', @sheet.project ? @sheet.project.subject_code_name_full : 'Subject Code', class: 'control-label', id: 'subject_code_name_full' %>
    <div class="controls">
      <%= text_field_tag 'sheet_subject_id', @sheet.subject ? @sheet.subject.subject_code : params[:subject_code], name: 'subject_code', autocomplete: "off", data: { provide: "typeaheadmap", source: @project.subjects.collect{|s| { key: s.subject_code, value: html_escape(s.subject_code.to_s + (@project.acrostic_enabled? ? (s.acrostic.blank? ? "" : ": #{s.acrostic}") : "") + (s.email.blank? ? '' : " <#{s.email}>")) }}.to_json } %>
      <span id="subject_id_info" class="help-inline"></span>
      <% if @project.sites_with_range.size > 0 %>
        <div class="help-block" style="padding-top:5px">
          <ul style="margin-bottom:0px">
            <% @project.sites_with_range.each do |site| %>
              <li class="muted"><%= site.name %>: <b><%= site.prefix %><%= site.code_minimum %></b> to <b><%= site.prefix %><%= site.code_maximum %></b></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="control-group" style="<%= 'display:none' unless @sheet.project and @sheet.project.acrostic_enabled? %>" id="acrostic-container">
    <%= label 'sheet', 'subject_acrostic', 'Subject acrostic', class: 'control-label' %>
    <div class="controls">
      <%= text_field_tag 'sheet_subject_acrostic', @sheet.subject ? @sheet.subject.acrostic : params[:subject_acrostic], name: 'subject_acrostic' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :study_date, nil, class: 'control-label', id: 'study_date_name_full' %>
    <div class="controls">
      <%= f.text_field :study_date, class: 'datepicker', value: @sheet.study_date ? @sheet.study_date.strftime('%m/%d/%Y') : '', autocomplete: "off", placeholder: 'mm/dd/yyyy' %>
      <%= link_to 'Today', '#', data: { object: 'set-current-time', target_date: "#sheet_study_date" }, class: 'btn', tabindex: '-1' %>
      <span id="study_date_info" class="help-inline"></span>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag 'site_id', 'Site', class: 'control-label' %>
    <div class="controls" id="site">
      <% @disable_selection = true unless @sheet.new_record? %>
      <%= @project = @sheet.project; @subject = @sheet.subject; render partial: 'sites/selection' %>
    </div>
  </div>

  <%= hidden_field_tag :current_design_page, params[:current_design_page].to_i %>
  <%= hidden_field_tag :continue, '0' %>

  <div id="design">
    <center><%= image_tag 'contour/ajax-loader.gif' %></center>
  </div>

  <div class="form-actions">
    <% link_name = "Next Page" if @sheet.design and params[:current_design_page].to_i < @sheet.design.total_pages %>
    <% form_name = @sheet.new_record? ? 'new_sheet' : "edit_sheet_#{@sheet.id}" %>
    <% if link_name.blank? %>
      <%= f.submit nil,       class: 'btn btn-primary', data: { target: "##{form_name}", object: "variable-check-before-submit", page: params[:current_design_page].to_i + 1 }, id: 'sheet_submit_btn'  %>
      <%= f.submit @sheet.new_record? ? 'Create Sheet and Continue' : 'Update Sheet and Continue', class: 'btn btn-primary', data: { target: "##{form_name}", object: "variable-check-before-submit", page: params[:current_design_page].to_i + 1, continue: '1' }, id: 'sheet_submit_btn_and_continue'  %>
    <% else %>
      <%= f.submit link_name, class: 'btn btn-primary', data: { target: "##{form_name}", object: "variable-check-before-submit", page: params[:current_design_page].to_i + 1 }  %>
    <% end %>
    <%= cancel %>
  </div>
<% end %>

<%= form_tag selection_project_designs_path(@sheet.project, sheet_id: @sheet.id, sheet: { design_id: @sheet.design_id }, current_design_page: params[:current_design_page].to_i, variables: params[:variables]), remote: true, method: :post, data: { object: 'form-load' } %>
