%table.table.table-striped.table-borderless
  %col{ width: "1px" }
  %col
  %col
  %col.d-none.d-sm-table-column{ width: "1px" }
  %col.d-none.d-sm-table-column{ width: "1px" }
  %thead
    %tr
      %th Coverage
      %th Subject
      %th Site
      %th.d-none.d-sm-table-cell
        - if @sheet.recently_created?
          Created
        - else
          Updated
      %th.d-none.d-sm-table-cell
        By
  %tbody
    %tr
      %td{ id: "sheet_#{@sheet.id}_coverage" }= render "sheets/coverage", sheet: @sheet
      %td
        = link_to @sheet.subject.name, [@sheet.subject.project, @sheet.subject] if @sheet.subject
      %td
        = link_to [@sheet.subject.site.project, @sheet.subject.site] do
          %span.d-inline.d-md-none=@sheet.subject.site.short_name
          %span.d-none.d-md-inline=@sheet.subject.site.name
      %td.d-none.d-sm-table-cell.nowrap
        - if @sheet.recently_created?
          = link_to_if (@sheet.sheet_transactions.size > 0 && current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time_short(@sheet.created_at), transactions_project_sheet_path(@sheet.project, @sheet)
        - else
          = link_to_if (@sheet.sheet_transactions.size > 0 && current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time_short(@sheet.last_edited_at), transactions_project_sheet_path(@sheet.project, @sheet)
      %td.d-none.d-sm-table-cell.nowrap
        - if @sheet.recently_created? && @sheet.user
          = @sheet.user.nickname
        - elsif @sheet.last_user
          = @sheet.last_user.nickname
        - else
          %span.text-muted Anonymous


- if @sheet.authentication_token.present? && !@sheet.auto_locked?
  - clipboard_text = "#{ENV["website_url"]}/survey/#{@sheet.design.survey_slug}/#{@sheet.authentication_token}"
  .row
    .col-md-2
      %label Share via this Link
    .col-md-10
      .input-group
        = text_field_tag "shareable_link", clipboard_text, class: "form-control"

        .input-group-append
          = link_to "#", data: { object: "suppress-click", clipboard_text: clipboard_text, placement: "bottom", container: "body", title: "Copied!", trigger: "manual" }, class: "btn btn-light" do
            = icon("fas", "paste")
          = link_to remove_shareable_link_project_sheet_path(@project, @sheet), method: :post, class: "btn btn-outline-danger", rel: "tooltip", data: { confirm: "Remove link?", title: "Remove Link", container: "body", placement: "bottom" } do
            = icon("fas", "trash-alt")
