- if @sheet.authentication_token.present? && !@sheet.auto_locked?
  %strong Share via this Link
  %code= "#{ENV['website_url']}/survey/#{@sheet.design.slug}/#{@sheet.authentication_token}"

  = link_to 'Remove Shareable Link', remove_shareable_link_project_sheet_path(@project, @sheet), method: :post, class: 'btn btn-xs btn-default'

%table.table.table-striped
  %thead
    %tr
      %th Coverage
      %th= @sheet.project.subject_code_name_full
      - if @sheet.subject_event
        %th Subject Event
      %th Site
      %th
        - if @sheet.recently_created?
          Created
        - else
          Updated
      %th Actions
  %tbody
    %tr
      %td= coverage_helper(@sheet)
      %td
        = link_to @sheet.subject.name, [@sheet.subject.project, @sheet.subject] if @sheet.subject
      - if @sheet.subject_event
        %td
          = link_to event_project_subject_path(@project, @sheet.subject, event_id: @sheet.subject_event.event, subject_event_id: @sheet.subject_event.id, event_date: @sheet.subject_event.event_date_to_param) do
            = @sheet.subject_event.event.name
            \-
            = @sheet.subject_event.event_date_to_s
      %td= link_to @sheet.subject.site.name, [@sheet.subject.site.project, @sheet.subject.site] if @sheet.subject && @sheet.subject.site
      %td
        - if @sheet.recently_created?
          = link_to_if (@sheet.sheet_transactions.size > 0 && current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time(@sheet.created_at), transactions_project_sheet_path(@sheet.project, @sheet)
          - if @sheet.user
            by
            = @sheet.user.name
        - else
          = link_to_if (@sheet.sheet_transactions.size > 0 && current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time(@sheet.last_edited_at), transactions_project_sheet_path(@sheet.project, @sheet)
          - if @sheet.last_user
            by
            = @sheet.last_user.name
      %td
        #sheet_actions= render 'sheets/actions', project: @project, sheet: @sheet

- if @sheet.auto_locked? && !@project.editable_by?(current_user) && @sheet.editable_by?(current_user)
  #sheet_unlock_request{ style: 'display:none' }
    = render 'sheet_unlock_requests/form', sheet_unlock_request: @sheet.sheet_unlock_requests.new

