- if @sheet.double_data_entry?
  .progress
    .progress-bar.progress-bar-warning.progress-bar-striped.active{ role: "progressbar", "aria-valuenow" => "100", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 100%" }
      %span Double Data Entry

.page-header
  %h1
    = link_to @project.name, @project
    &middot;
    = link_to 'Sheets', project_sheets_path(@project)
    &middot;
    = @title

  - if current_user.all_sheets.pluck(:id).include?(@sheet.id)
    - if @sheet.locked?
      .well
        This sheet was
        %span.glyphicon.glyphicon-lock{ style: "color:#5bc0de" }
        %strong locked
        and
        %span.glyphicon.glyphicon-leaf{ style: "color:#5cb85c" }
        %strong electronically signed
        by
        %strong{ style: "color:#428BCC" }= @sheet.last_user.name
        - if @sheet.last_edited_at
          on
          %strong= @sheet.last_edited_at.strftime("%b %d, %Y")
          at
          %strong= @sheet.last_edited_at.strftime("%I:%M %p.")
        %div{ style: "margin-top:1em" }
          Contributors:
          = @sheet.contributors

      - if @project.lockable?
        = link_to "Unlock Sheet", unlock_project_sheet_path(@sheet.project, @sheet), method: :post, class: 'btn btn-danger-inverse btn-xs', data: { confirm: "Are you sure you want to unlock this Sheet #{@sheet.name}?" }
    - else
      = link_to "Edit Sheet", edit_project_sheet_path(@sheet.project, @sheet), class: 'btn btn-default btn-xs'
      = link_to "Delete Sheet", [@sheet.project, @sheet], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Sheet #{@sheet.name}?" }
  = link_to "<span class='glyphicon glyphicon-print'></span> PDF".html_safe, print_project_sheet_path(@project, @sheet, format: 'pdf'), target: '_blank', class: 'btn btn-default btn-xs'
  - if @project.double_data_entry?
    - if @sheet.not_double_data_entry?
      = link_to "New Double Data Entry", double_data_entry_project_sheet_path(@sheet.project, @sheet), class: 'btn btn-warning btn-xs' if @sheet.verification_sheets.count == 0
    - else
      = link_to "Original Sheet ##{@sheet.verifying_sheet.id}", [@sheet.verifying_sheet.project, @sheet.verifying_sheet], class: 'btn btn-warning btn-xs'

- if @project.double_data_entry? and @sheet.not_double_data_entry? and @sheet.verification_sheets.count > 0
  .panel.panel-warning
    .panel-heading
      %h3.panel-title Double Data Entry
    .panel-body
      %ul.list-unstyled{ style: "line-height:34px" }
        %li= link_to 'Verification Report', verification_report_project_sheet_path(@sheet.project, @sheet), class: 'btn btn-xs btn-default'
        - @sheet.verification_sheets.each do |sheet|
          %li
            = link_to "Verification Sheet ##{sheet.id}", [sheet.project, sheet], class: 'btn btn-warning btn-xs'
            - if sheet.contributors.present?
              by
              = sheet.contributors

%table.table.table-striped
  %thead
    %tr
      %th Coverage
      %th= @sheet.project.subject_code_name_full
      - if @sheet.subject_event
        %th Subject Event
      - if @sheet.project.acrostic_enabled?
        %th Acrostic
      %th Site
      %th
        - if @sheet.recently_created?
          Created
        - else
          Updated
  %tbody
    %tr
      %td= coverage_helper(@sheet)
      %td
        = status_helper(@sheet.subject) if @sheet.subject
        = link_to @sheet.subject.name, [@sheet.subject.project, @sheet.subject] if @sheet.subject
      - if @sheet.subject_event
        %td
          = link_to event_project_subject_path(@project, @sheet.subject, event_id: @sheet.subject_event.event, subject_event_id: @sheet.subject_event.id, event_date: @sheet.subject_event.event_date_to_param) do
            = @sheet.subject_event.event.name
            \-
            = @sheet.subject_event.event_date_to_s
      - if @sheet.project.acrostic_enabled?
        %td= @sheet.subject.acrostic

      %td= link_to @sheet.subject.site.name, [@sheet.subject.site.project, @sheet.subject.site] if @sheet.subject and @sheet.subject.site
      %td
        - if @sheet.recently_created?
          = link_to_if (@sheet.sheet_transactions.size > 0 and current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time(@sheet.created_at), transactions_project_sheet_path(@sheet.project, @sheet)
          - if @sheet.user
            by
            = link_to @sheet.user.name, @sheet.user
        - else
          = link_to_if (@sheet.sheet_transactions.size > 0 and current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time(@sheet.last_edited_at), transactions_project_sheet_path(@sheet.project, @sheet)
          - if @sheet.last_user
            by
            = link_to @sheet.last_user.name, @sheet.last_user
