- if @sheet.authentication_token.present? && !@sheet.auto_locked?
  %strong Share via this Link
  %code= "#{ENV['website_url']}/survey/#{@sheet.design.slug}/#{@sheet.authentication_token}"

  = link_to 'Remove Shareable Link', remove_shareable_link_project_sheet_path(@project, @sheet), method: :post, class: 'btn btn-xs btn-default'

%table.table.table-striped
  %thead
    %tr
      %th Coverage
      %th= @sheet.project.subject_code_name_full
      %th Site
      %th.hidden-xs
        - if @sheet.recently_created?
          Created
        - else
          Updated
  %tbody
    %tr
      %td= coverage_helper(@sheet)
      %td
        = link_to @sheet.subject.name, [@sheet.subject.project, @sheet.subject] if @sheet.subject
      %td= link_to @sheet.subject.site.name, [@sheet.subject.site.project, @sheet.subject.site] if @sheet.subject && @sheet.subject.site
      %td.hidden-xs
        - if @sheet.recently_created?
          = link_to_if (@sheet.sheet_transactions.size > 0 && current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time(@sheet.created_at), transactions_project_sheet_path(@sheet.project, @sheet)
          - if @sheet.user
            by
            = @sheet.user.name
        - else
          = link_to_if (@sheet.sheet_transactions.size > 0 && current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time(@sheet.last_edited_at), transactions_project_sheet_path(@sheet.project, @sheet)
          - if @sheet.last_user
            by
            = @sheet.last_user.name
