<%= render partial: 'layouts/per_page', locals: { type: 'sheets', per_page: 20, object_count: @sheet_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.design_name', 'Sheet', 'sheets_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.subject_code', 'Subject', 'sheets_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.study_date', 'Study Date', 'sheets_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.site_name', 'Site', 'sheets_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.project_name', 'Project', 'sheets_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.user_name', 'Creator', 'sheets_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @sheets.each do |sheet| %>
    <tr id="sheet_<%= sheet.id %>">
      <td><%= link_to sheet.design.name, sheet %></td>
      <td><%= link_to sheet.subject.name, sheet.subject if sheet.subject %></td>
      <td><%= sheet.study_date %></td>
      <td><%= link_to sheet.subject.site.name, sheet.subject.site if sheet.subject and sheet.subject.site %></td>
      <td><%= link_to sheet.project.name, sheet.project if sheet.project %></td>
      <td><%= link_to sheet.user.name, sheet.user if sheet.user %></td>
      <td>
        <%= link_to 'PDF', print_sheet_path(sheet, format: 'pdf'), target: '_blank', class: 'btn btn-mini' %>
        <% if current_user.all_sheets.pluck(:id).include?(sheet.id) %>
          <%= link_to 'Edit', edit_sheet_path(sheet), class: 'btn btn-mini' %>
          <%= link_to 'Delete', sheet, method: :delete, remote: true, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Sheet #{sheet.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @sheets %></center>
