%td.d-none.d-sm-table-cell{ id: "sheet_#{sheet.id}_coverage" }= render "sheets/coverage", sheet: sheet
%td
  = render "sheets/status/checks_bullet", sheet: sheet
  = link_to sheet.design.name, [@project, sheet]
  = render "layouts/unblinded_only", project: @project, object: sheet.design, placement: "right"
  - if sheet.comments_count.positive?
    = icon("fas", "comment", rel: "tooltip", data: { title: pluralize(sheet.comments_count, "Comment"), container: "body", placement: "top" })
  - if sheet.uploaded_files_count.to_i.positive?
    = icon("fas", "paperclip", rel: "tooltip", data: { title: pluralize(sheet.uploaded_files_count.to_i, "File"), container: "body", placement: "top" })
%td.nowrap= link_to sheet.subject.name, [@project, sheet.subject] if sheet.subject
%td.d-none.d-md-table-cell.nowrap
  - if creation_ordered
    - if sheet.created_at
      %abbr{ rel: "tooltip", data: { title: sheet.created_at.strftime("%-l:%M %p"), container: "body", placement: "right" } }
        = sheet.created_at.strftime("%b %-d, %Y")
  - else
    - if sheet.last_edited_at
      %abbr{ rel: "tooltip", data: { title: sheet.last_edited_at.strftime("%-l:%M %p"), container: "body", placement: "right" } }
        = sheet.last_edited_at.strftime("%b %-d, %Y")
- if viewable_sites.count > 1
  %td.d-none.d-sm-table-cell.nowrap= sheet.subject.site.number_and_short_name if sheet.subject && sheet.subject.site
%td.d-none.d-md-table-cell.nowrap
  - if sheet.user
    = sheet.user.nickname
  - else
    .text-muted Anonymous
- if site_or_project_editor
  %td.text-center
    .dropdown
      = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
        .d-inline-block.d-sm-none
          = icon("fas", "cog")
        .d-none.d-sm-inline-block Actions

      .dropdown-menu.dropdown-menu-right
        - if sheet.auto_locked?
          - if sheet.project.editable_by?(current_user)
            = link_to unlock_project_sheet_path(sheet.project, sheet), method: :post, class: "dropdown-item" do
              = icon("fas", "unlock")
              Unlock for
              - case sheet.project.auto_lock_sheets when "after24hours"
                24 hours
              - when "after1week"
                1 week
              - when "after1month"
                1 month
            = link_to unlock_and_edit_project_sheet_path(sheet.project, sheet), method: :post, class: "dropdown-item" do
              = icon("fas", "unlock-alt")
              Unlock and edit
          - else
            = link_to [sheet.project, sheet], class: "dropdown-item" do
              = icon("fas", "lock")
              Sheet locked
        - else
          = link_to edit_project_sheet_path(sheet.project, sheet, language: params[:language]), class: "dropdown-item" do
            = icon("fas", "pencil-alt")
            Edit
          .dropdown-divider
          = link_to [sheet.project, sheet], method: :delete, data: { confirm: "Delete #{sheet.name}?" }, class: "dropdown-item text-danger" do
            = icon("fas", "trash-alt")
            Delete
