<%= render partial: 'layouts/per_page', locals: { type: 'sheets', per_page: 20, object_count: @sheet_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.design_name', 'Sheet', 'sheets_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.subject_code', 'Subject', 'sheets_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.created_at', 'Created', 'sheets_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.last_edited_at', 'Updated', 'sheets_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.site_name', 'Site', 'sheets_search') %></th>
      <% if false %><th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.project_name', 'Project', 'sheets_search') %></th><% end %>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.user_name', 'Creator', 'sheets_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @sheets.each do |sheet| %>
    <tr id="sheet_<%= sheet.id %>">
      <td><%= link_to sheet.design.name, [sheet.project, sheet] %></td>
      <td><%= status_helper(sheet.subject) %> <%= link_to sheet.subject.name, [sheet.subject.project, sheet.subject] if sheet.subject %></td>
      <td><%= simple_time sheet.created_at %></td>
      <td><%= simple_time sheet.last_edited_at unless sheet.created_at == sheet.last_edited_at %></td>
      <td><%= link_to sheet.subject.site.name, [sheet.subject.site.project, sheet.subject.site] if sheet.subject and sheet.subject.site %></td>
      <% if false %><td><%= link_to sheet.project.name, sheet.project if sheet.project %></td><% end %>
      <td><%= link_to sheet.user.name, sheet.user if sheet.user %></td>
      <td>
        <%= link_to 'PDF', print_project_sheet_path(sheet.project, sheet, format: 'pdf'), target: '_blank', class: 'btn btn-mini' %>
        <% if current_user.all_sheets.pluck(:id).include?(sheet.id) %>
          <%= link_to 'Edit', edit_project_sheet_path(sheet.project, sheet), class: 'btn btn-mini' %>
          <%= link_to 'Delete', [sheet.project, sheet], method: :delete, remote: true, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Sheet #{sheet.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @sheets, theme: "contour" %></div>
