<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @sheets.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Coverage</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.design_name', 'Sheet') %> <span class="badge badge-info">comments</span></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.subject_code', 'Subject') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.created_at', 'Created') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.last_edited_at', 'Updated') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.site_name', 'Site') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sheets.user_name', 'Creator') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @sheets.each do |sheet| %>
    <tr id="sheet_<%= sheet.id %>">
      <td><%= coverage_helper(sheet) %></td>
      <td style="white-space:nowrap">
        <% if sheet.locked? %><span class="glyphicon glyphicon-lock" style="color:#5bc0de"></span><% end %>
        <%= link_to sheet.design.name, [sheet.project, sheet] %>
        <% if sheet.comments.size > 0 %>
          <span class="badge badge-info"><%= sheet.comments.size %></span>
        <% end %>
      </td>
      <td style="white-space:nowrap"><%= status_helper(sheet.subject) %> <%= link_to sheet.subject.name, [sheet.subject.project, sheet.subject] if sheet.subject %></td>
      <td><%= simple_time sheet.created_at %></td>
      <td><%= simple_time sheet.last_edited_at unless sheet.created_at == sheet.last_edited_at %></td>
      <td><%= link_to sheet.subject.site.name, [sheet.subject.site.project, sheet.subject.site] if sheet.subject and sheet.subject.site %></td>
      <td>
        <% if sheet.user %>
          <%#= image_tag sheet.user.avatar_url(18), style: 'vertical-align:text-bottom' %>
          <%= link_to sheet.user.name, sheet.user %>
        <% end %>
      </td>
      <td>
        <%= link_to 'PDF', print_project_sheet_path(sheet.project, sheet, format: 'pdf'), target: '_blank', class: 'btn btn-default btn-xs' %>
        <% if current_user.all_sheets.pluck(:id).include?(sheet.id) and not sheet.locked? %>
          <%= link_to 'Edit', edit_project_sheet_path(sheet.project, sheet), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Delete', [sheet.project, sheet], method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Sheet #{sheet.name}?" } %>
        <% end %>
        <% if sheet.locked? %> <span class="glyphicon glyphicon-lock" style="color:#5bc0de"></span> <span class="glyphicon glyphicon-leaf" style="color:#5cb85c"></span><% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @sheets, theme: "contour" %></div>
