- viewable_sites = current_user.all_viewable_sites.where(project_id: @project.id)
%table.table.table-striped
  %thead
    %tr
      %th Coverage
      = th_sort_field @order, 'sheets.design_name', 'Sheet'
      = th_sort_field @order, 'sheets.subject_code', 'Subject'
      = th_sort_field @order, 'sheets.created_at', 'Created'
      = th_sort_field @order, 'sheets.last_edited_at', 'Updated'
      - if viewable_sites.count > 1
        = th_sort_field @order, 'sheets.site_name', 'Site'
      = th_sort_field @order, 'sheets.user_name', 'Creator'

  - @sheets.each do |sheet|
    %tr{ id: "sheet_#{sheet.id}" }
      %td= coverage_helper(sheet)
      %td.nowrap
        = link_to sheet.design.name, [@project, sheet]
        - if sheet.comments.size > 0
          %span.glyphicon.glyphicon-comment
          = sheet.comments.size
        - if sheet.files.size > 0
          %span.glyphicon.glyphicon-paperclip
      %td.nowrap= link_to sheet.subject.name, [@project, sheet.subject] if sheet.subject
      %td= simple_time sheet.created_at
      %td= simple_time sheet.last_edited_at unless sheet.created_at == sheet.last_edited_at
      - if viewable_sites.count > 1
        %td= link_to sheet.subject.site.name, [@project, sheet.subject.site] if sheet.subject && sheet.subject.site
      %td
        - if sheet.user
          = link_to sheet.user.name, sheet.user

.center
  = paginate @sheets, theme: 'bootstrap'
