= render 'contour/layouts/per_page', per_page: 40, object_count: @sheets.total_count

%table.table.table-striped
  %thead
    %tr
      %th Coverage
      %th{ style: "white-space:nowrap" }
        = sort_field_helper(@order, 'sheets.design_name', 'Sheet')
        %span.badge.badge-info comments
      %th{ style: "white-space:nowrap" }= sort_field_helper(@order, 'sheets.subject_code', 'Subject')
      %th{ style: "white-space:nowrap" }= sort_field_helper(@order, 'sheets.created_at', 'Created')
      %th{ style: "white-space:nowrap" }= sort_field_helper(@order, 'sheets.last_edited_at', 'Updated')
      %th{ style: "white-space:nowrap" }= sort_field_helper(@order, 'sheets.site_name', 'Site')
      %th{ style: "white-space:nowrap" }= sort_field_helper(@order, 'sheets.user_name', 'Creator')
      %th

  - @sheets.each do |sheet|
    %tr{ id: "sheet_#{sheet.id}" }
      %td= coverage_helper(sheet)
      %td{ style: "white-space:nowrap" }
        - if sheet.locked?
          %span.glyphicon.glyphicon-lock{ style: "color:#5bc0de" }
        = link_to sheet.design.name, [@project, sheet]
        - if sheet.comments.size > 0
          %span.glyphicon.glyphicon-comment
          = sheet.comments.size
        - if sheet.verification_sheets.count > 0
          %div
            %span.label.label-warning Double Data
      %td{ style: "white-space:nowrap" }
        = status_helper(sheet.subject)
        = link_to sheet.subject.name, [@project, sheet.subject] if sheet.subject
      %td= simple_time sheet.created_at
      %td= simple_time sheet.last_edited_at unless sheet.created_at == sheet.last_edited_at
      %td= link_to sheet.subject.site.name, [@project, sheet.subject.site] if sheet.subject and sheet.subject.site
      %td
        - if sheet.user
          = link_to sheet.user.name, sheet.user
      %td
        - if sheet.locked?
          %span.glyphicon.glyphicon-lock{ style: "color:#5bc0de" }
          %span.glyphicon.glyphicon-leaf{ style: "color:#5cb85c" }

.center
  = paginate @sheets, theme: "contour"
