- if show_header
  .design-header= @sheet.design.name

- sheet_variables = @sheet.sheet_variables.includes(:domain_option, responses: :domain_option, variable: { domain: :domain_options }).to_a
- @sheet.design.design_options.includes(:design, :section, variable: { domain: :domain_options }).each do |design_option|
  - next unless @sheet.show_design_option?(design_option.branching_logic)
  - section = design_option.section
  - variable = design_option.variable
  - if section
    %div= render "sections/show", design_option: design_option, section: section
  - elsif variable
    - if variable.uses_scale? && variable.first_scale_variable?(@sheet.design)
      = "<div>".html_safe
      .form-group.row.sticky-scale-header
        - domain_options = variable.domain_options
        .col-12
          %table.table.table-borderless
            %col{ width: "100px" }
            - (1..domain_options.count).each do
              = content_tag :col, nil, width: "#{100 / (domain_options.count + 2)}%"
            %thead
              %tr
                %th{ style: "min-width: 100px;" }
                  &nbsp;
                - domain_options.each do |domain_option|
                  %th.text-center{ style: "min-width: 57px;" }
                    = domain_option.value_and_name
    - if variable.uses_scale? && variable.last_scale_variable?(@sheet.design)
      = "</div>".html_safe
    %div{ class: cycle("variable-shade", "variable-blind") }
      - sheet_variable = sheet_variables.find { |sv| sv.variable_id == variable.id }
      - if !variable.uses_scale? && variable.display_layout == "gone"
        %label= simple_style variable.display_name
      .form-group.row
        - if !variable.uses_scale? && variable.display_layout == "visible"
          = label "variables", "#{variable.id}", simple_style(variable.display_name), class: "col-md-3 col-form-label"
        - col_class = "col-12#{" scale-variable-reset" if variable.uses_scale?}"
        - col_class = "col-md-9" if variable.display_layout != "gone" && !variable.uses_scale?
        %div{ class: col_class, style: "line-height: 30px;padding-top: 4px;" }
          - if variable.variable_type == "grid"
            = render "sheet_variables/show/#{variable.variable_type}", variable: variable, sheet_variable: sheet_variable
          - elsif Variable::TYPE.flatten.uniq.include?(variable.variable_type)
            = render "sheet_variables/show/#{variable.variable_type}", variable: variable, object: sheet_variable
