%form.form-horizontal
  - sheet_variables = @sheet.sheet_variables.includes(variable: [:domain]).to_a
  - @sheet.design.design_options.includes(:variable, :section).each do |design_option|
    - if section = design_option.section
      = render 'sections/show', design_option: design_option, section: section
    - elsif variable = design_option.variable
      %div{ class: "#{cycle('variable-shade', 'variable-blind')}", data: { object: "evaluate-branching-logic", branching_logic: "#{@sheet.expanded_branching_logic(design_option.branching_logic)}" } }
        - sheet_variable = sheet_variables.select{ |sv| sv.variable_id == variable.id }.first
        - if not variable.uses_scale? and ['invisible', 'gone'].include?(variable.display_name_visibility)
          %label= variable.display_name
        .form-group
          - if not variable.uses_scale? and 'visible' == variable.display_name_visibility
            = label 'variables', "#{variable.id}", variable.display_name, class: 'col-md-3 control-label'
          %div{ class: "#{(variable.uses_scale? || variable.display_name_visibility == 'gone' ? 'col-md-12' : 'col-md-9')} #{'col-md-offset-3' if variable.display_name_visibility == 'invisible' and not variable.uses_scale?}", style: "line-height:30px;padding-top:4px;" }
            - if variable.variable_type == 'grid'
              = render "sheet_variables/show/#{variable.variable_type}", variable: variable, sheet_variable: sheet_variable
            - elsif Variable::TYPE.flatten.uniq.include?(variable.variable_type)
              = render "sheet_variables/show/#{variable.variable_type}", variable: variable, object: sheet_variable

