<% @title = "#{@sheet.name} Audits" %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %>
    &middot; <%= link_to 'Sheets', project_sheets_path(@project) %> &middot; <%= link_to @sheet.name, [@project, @sheet] %> Audits
  </h1>
</div>

<div class="pull-right">
  <%= render partial: 'layouts/checkbox_button_group', locals: { name: 'audit-row', options: ['create', 'update', 'view', 'destroy'].collect{|i| [i,i]}, selected: ['create', 'update', 'view', 'destroy'] } %>
</div>


<table class="table table-hover"><col width="1px" /><col width="1px" /><col width="1px" /><col width="1px" /><col width="1px" />
  <thead>
    <tr>
      <th></th>
      <th>Time</th>
      <th>User</th>
      <th>Action</th>
      <th colspan="2">Changes</th>
    </tr>
  </thead>
  <tbody>
    <% @sheet.all_audits.group_by{|a| [a.created_at.month, a.created_at.year]}.each do |(month, year), audits| %>
      <% all_audits_actions = audits.collect{|a| (a.audited_changes.keys.sort == ['last_viewed_at', 'last_viewed_by_id'] or a.audited_changes.keys.sort == ['last_viewed_at']) ? 'view' : a.action }.uniq %>
      <tr data-object="audit-row" data-all-audit-actions="<%= all_audits_actions.to_json %>">
        <td colspan="6" style="font-weight:bold;font-size:2em"><%= Date::ABBR_MONTHNAMES[month] %> <%= year %></td>
      </tr>
      <% audits.sort{|a,b| b.id <=> a.id}.each_with_index do |audit, audit_index| %>
        <% previous_audit = audits[audit_index - 1] %>
        <% if audit_index > 0 and previous_audit.created_at and audit.created_at and previous_audit.created_at.to_date != audit.created_at.to_date %>
          <tr><td>&vellip;</td><td colspan="5" class="text-muted"><%= distance_of_time_in_words(previous_audit.created_at, audit.created_at) %></td></tr>
        <% end %>
        <% if audit.audited_changes.kind_of?(Hash) %>
          <% audit_action = if audit.audited_changes.keys.sort == ['last_viewed_at', 'last_viewed_by_id'] or audit.audited_changes.keys.sort == ['last_viewed_at'] %>
            <% 'view' %>
          <% else %>
            <% audit.action %>
          <% end %>
          <tr data-audit-row="<%= audit_action %>">
            <td><%= audit.version if audit.auditable_type == 'Sheet' %></td>
            <td style="white-space:nowrap">
              <%= simple_time audit.created_at %>
            </td>
            <td style="white-space:nowrap">
              <%= link_to audit.user.name, audit.user if audit.user %>
            </td>
            <td style="white-space:nowrap">
              <% color = case audit_action when 'create' %>
                <% "#7AD67A" %>
              <% when 'update' %>
                <% "#7AA6FF" %>
              <% when 'destroy' %>
                <% '#FF4040' %>
              <% else %>
                <% '#FFBE40' %>
              <% end %>
              <span class="label" style="background-color:<%= color %>"><%= audit_action %></span>
            </td>
            <% if audit.auditable_type == 'Sheet' %>
              <% if audit_action == 'view' %>
                <td colspan="2"></td>
              <% else %>
                <td>
                  <% audit.audited_changes.each do |key, val| %>
                    <div style="white-space:nowrap">
                      <% case key when 'design_id' %>
                        Design
                      <% when 'project_id' %>
                        Project
                      <% when 'subject_id' %>
                        Subject
                      <% when 'user_id' %>
                        User
                      <% when 'last_user_id' %>
                        Last User
                      <% when 'deleted' %>
                      <% else %>
                        <%= key.humanize %>
                      <% end %>
                    </div>
                  <% end %>
                </td>
                <td>
                  <% audit.audited_changes.each do |key, val| %>
                    <div>
                      <% value = if val.kind_of?(Array) %>
                        <% val %>
                      <% else %>
                        <% [nil, val] %>
                      <% end %>

                      <% response = [] %>

                      <% value.each_with_index do |res, index| %>
                        <% case key when 'design_id' %>
                          <% d = current_user.all_viewable_designs.find_by_id(res) %>
                          <% response[index] = { key: key, name: (d ? d.name : nil), url: (d ? project_design_path(d.project, d) : nil) } %>
                        <% when 'project_id' %>
                          <% p = current_user.all_viewable_projects.find_by_id(res) %>
                          <% response[index] = { key: key, name: (p ? p.name : nil), url: (p ? project_path(p) : nil) } %>
                        <% when 'subject_id' %>
                          <% s = current_user.all_viewable_subjects.find_by_id(res) %>
                          <% response[index] = { key: key, name: (s ? s.name : nil), url: (s ? project_subject_path(s.project, s) : nil) } %>
                        <% when 'user_id' %>
                          <% u = User.current.find_by_id(res) %>
                          <% response[index] = { key: key, name: (u ? u.name : nil), url: (u ? user_path(u) : nil) } %>
                        <% when 'last_user_id' %>
                          <% u = User.current.find_by_id(res) %>
                          <% response[index] = { key: key, name: (u ? u.name : nil), url: (u ? user_path(u) : nil) } %>
                        <% when 'deleted' %>
                          <%# Don't show %>
                        <% else %>
                          <% response[index] = { key: key, name: res, url: nil } %>
                        <% end %>
                      <% end %>

                      <% unless response.blank? %>
                        <span style="padding: 0px;<%= "background-color:#FAA;" unless response[0][:name].blank? %><%= "cursor:pointer" unless response[0][:url].blank? %>" <%= "data-link='#{response[0][:url]}'".html_safe unless response[0][:url].blank? %>><% if response[0][:name].blank? %><span class="text-muted">null</span><% else %><%= highlight(response[0][:name].to_s, response[1][:name].to_s, highlighter: '<span class="highlight-subtract">\1</span>') %><% end %></span> &rarr;
                        <span style="padding: 0px;<%= "background-color:#AFA;" unless response[1][:name].blank? %><%= "cursor:pointer" unless response[1][:url].blank? %>" <%= "data-link='#{response[1][:url]}'".html_safe unless response[1][:url].blank? %>><% if response[1][:name].blank? %><span class="text-muted">null</span><% else %><%= highlight(response[1][:name].to_s, response[0][:name].to_s, highlighter: '<span class="highlight-add">\1</span>') %><% end %></span>
                      <% end %>
                    </div>
                  <% end %>
                </td>
              <% end %>
            <% elsif ['SheetVariable', 'Grid', 'Response'].include?(audit.auditable_type) %>
              <% object = audit.auditable_type.constantize.find_by_id(audit.auditable_id) %>
              <% variable = Variable.find_by_id(audit.audited_changes['variable_id']) %>
              <td><span <% if audit.auditable_type == 'Grid' %>rel="tooltip" title="<%= audit.auditable_type %><%= " #{object.position}" if object and object.respond_to?('position') %><% end %>" data-placement="left"><% if object %><%= object.variable.name %><% elsif variable %><%= variable.name %><% end %></span></td>
              <td>
                <% ['response', 'response_file', 'value'].each do |response_type| %>
                  <% if response = audit.audited_changes[response_type] and ['create', 'update', 'destroy'].include?(audit.action) %>
                    <% response = [response[1], response[0]] if audit.action == 'create' %>
                    <span style="padding: 0px;<%= "background-color:#FAA;" unless response[0].blank? %>"><% if response[0].blank? %><span class="text-muted">null</span><% else %><%= highlight(response[0].to_s, response[1].to_s, highlighter: '<span class="highlight-subtract">\1</span>') %><% end %></span> &rarr;
                    <span style="padding: 0px;<%= "background-color:#AFA;" unless response[1].blank? %>"><% if response[1].blank? %><span class="text-muted">null</span><% else %><%= highlight(response[1].to_s, response[0].to_s, highlighter: '<span class="highlight-add">\1</span>') %><% end %></span>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% else %>
          <% if false %><tr><td></td><td colspan="6">Error loading Audit: <%= audit.inspect %></td></tr><% end %>
        <% end %>
      <% end %>
    <% end %>
  </tbody>
</table>
