<% @title = "Sheet: #{@sheet.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Back to Sheet", @sheet, class: 'btn btn-mini' %>
  </h1>
</div>

<table class="table table-hover"><col width="1px" />
  <thead>
    <tr>
      <th></th>
      <th>Time</th>
      <th>User</th>
      <th>Action</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody>
    <% @sheet.audits.reverse.each do |audit| %>
      <tr>
        <td><%= audit.version %></td>
        <td style="white-space:nowrap"><%= simple_time audit.created_at %></td>
        <td><%= link_to audit.user.name, audit.user if audit.user %></td>
        <td><span class="label" style="background-color:<%= "#7ad67a" if audit.action == 'create' %><%= "#7AA6FF" if audit.action == 'update' %>"><%= audit.action %></span></td>
        <td><%= audit.audited_changes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
