- @title = "#{@sheet.name} Change Event"
- @menu_title = "#{@project.name} #{@title}"

- @subject = @sheet.subject
- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @sheet.name
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    - if @sheet.adverse_event
      %li= link_to @sheet.adverse_event.name.downcase, [@project, @sheet.adverse_event]
    - if @sheet.subject_event
      %li= link_to (@sheet.subject_event.event.slug.presence || @sheet.subject_event.event.name).to_s.downcase, event_project_subject_path(@project, @sheet.subject, event_id: @sheet.subject_event.event, subject_event_id: @sheet.subject_event.id, event_date: @sheet.subject_event.event_date_to_param)
    %li= link_to @sheet.name.to_s.downcase, [@project, @sheet]
    %li.breadcrumb-muted change event

.dashboard-container
  = form_with model: @sheet, url: submit_change_event_project_sheet_path(@project, @sheet), method: :post, local: true do |form|
    .form-group.row
      = form.label :subject_event_id, "Event", class: "col-md-2 col-form-label"
      .col-md-10
        = form.select :subject_event_id, [["---", nil]] + @sheet.subject.subject_events.joins(:event).pluck("events.name", :event_date, :id).collect { |name, event_date, id| ["#{name} - #{event_date ? event_date.strftime("%a, %B %-d, %Y") : "No Date"}", id] }, {}, class: "form-control"

    .form-group.row.mt-5.mb-0
      .col-md-2
      .col-md-10
        = submit_tag "Update event", class: "btn btn-primary", name: nil
        = link_to "Cancel", [@project, @sheet], class: "btn btn-light"
