- @title = "Edit Sheet: #{@sheet.name}"

- if @subject = @sheet.subject
  = render 'subjects/beta/header'

  = render 'sheets/beta/form_header'
  .markdown-container
    = render 'sheets/beta/form'

- else
  = render 'form'
