- @title = "Edit Sheet: #{@sheet.name}"

- if @subject = @sheet.subject and beta_enabled?(current_user)
  = render 'subjects/beta/header'
  .row
    .col-sm-2
      = render partial: 'subjects/beta/event_navigation'

    .col-sm-10.main-project-content
      =# render partial: 'sheets/header_info_limited'
      .markdown-container
        = render 'form'

- else
  = render 'form'
