<% @title = 'Sheets' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Sheet", new_sheet_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag sheets_path, method: :get, remote: true, id: "sheets_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>

  <div class="row">
    <div class="span4 control-group">
      <%= label :search, 'Search', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'search', params[:search], class: 'search-query', data: { object: 'filter' }, placeholder: 'Design Name or Subject Code' %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= label :sheet_after, 'Date after', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :sheet_after, params[:sheet_after], class: 'datepicker', data: { object: 'filter' } %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :sheet_before, 'Date before', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag :sheet_before, params[:sheet_before], class: 'datepicker', data: { object: 'filter' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4 control-group">
      <%= label :project_id, 'Project', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :project_id, options_for_select([['---', nil]] + current_user.all_viewable_projects.order('name').collect{|p| [p.name, p.id]}, params[:project_id] ), data: { object: 'filter' } %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= label :site_id, 'Site', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :site_id, options_for_select([['---', nil]] + current_user.all_viewable_sites.order(:name).collect{|s| [s.name_with_project, s.id]}, params[:site_id]), data: { object: 'filter' } %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= label :design_id, 'Design', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :design_id, options_for_select([['---', nil]] + current_user.all_viewable_designs.order(:project_id, :name).collect{|d| [d.name_with_project, d.id]}, params[:design_id]), data: { object: 'filter' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="span4 control-group">
      <%= label :user_id, 'Creator', class: 'control-label' %>
      <div class="controls">
        <%= select_tag 'user_id', options_for_select([['---', nil]] + User.current.with_sheet.order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}, params[:user_id]), data: { object: 'filter' } %>
      </div>
    </div>
    <div class="span4 control-group">
      <%= hidden_field_tag :stratum_id, params[:stratum_id], data: { object: 'filter' } %>
      <%= hidden_field_tag :stratum_value, params[:stratum_value], data: { object: 'filter' } %>
      <%= hidden_field_tag :row_include, params[:row_include] %>
      <% @variable = current_user.all_viewable_variables.find_by_id(params[:stratum_id]) %>
      <% if @variable %>
        <div data-object="filter-html">
          <%= label :stratum_id, 'Stratum', class: 'control-label' %>
          <div class="controls">
            <%= @variable.display_name %>:
            <% option = @variable.options.select{|opt| opt[:value] == params[:stratum_value]}.first %>
            <% if option %>
              <%= option[:name] %>
            <% else %>
              <span class="muted">Unknown</span>
            <% end %>
            <br /><strong>Include <%= params[:row_include] %></strong>
          </div>
        </div>
      <% end %>
    </div>
    <div class="span4 control-group">
      <%= hidden_field_tag :column_stratum_id, params[:column_stratum_id], data: { object: 'filter' } %>
      <%= hidden_field_tag :column_stratum_value, params[:column_stratum_value], data: { object: 'filter' } %>
      <%= hidden_field_tag :column_include, params[:column_include] %>
      <% @variable = current_user.all_viewable_variables.find_by_id(params[:column_stratum_id]) %>
      <% if @variable %>
        <div data-object="filter-html">
          <%= label :column_stratum_id, 'Stratum', class: 'control-label' %>
          <div class="controls">
            <%= @variable.display_name %><% unless @variable.variable_type == 'date' %>:
            <% option = @variable.options.select{|opt| opt[:value] == params[:column_stratum_value]}.first %>
            <% if option %>
              <%= option[:name] %>
            <% else %>
              <span class="muted">Unknown</span>
            <% end %>
            <% end %>
            <br /><strong>Include <%= params[:column_include] %></strong>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>

    <span class="dropdown">
      <%= link_to 'Export <b class="caret"></b>'.html_safe, '#', class: 'dropdown-toggle btn', data: { toggle: 'dropdown' } %>
      <ul class="dropdown-menu" style="margin-top:9px">
        <% if false %>
        <li>
          <%= link_to 'Unlabeled Data', '#', data: { object: 'export', format: 'raw_csv', target: '#sheets_search' } %>
        </li>
        <li>
          <%= link_to 'Labeled Data', '#', data: { object: 'export', format: 'labeled_csv', target: '#sheets_search' } %>
        </li>
        <% end %>
        <li>
          <%= link_to 'Excel (XLS)', '#', data: { object: 'export', format: 'xls', target: '#sheets_search' } %>
        </li>
        <li>
          <%= link_to 'Collation (PDF)', '#', data: { object: 'export', format: 'scope.pdf', target: '#sheets_search' } %>
        </li>
      </ul>
    </span>

    <%= link_to 'Reset', '#', class: 'btn', data: { target: '#sheets_search', object: 'reset-filters' } %>
  </div>
<% end %>

<div id="sheets"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
