<% @title = 'Sheets' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Sheet", new_sheet_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag sheets_path, method: :get, remote: true, id: "sheets_search", class: 'form-search' do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="sheets"><center><%= image_tag "ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#sheets_search").attr("action"), $("#sheets_search").serialize(), null, "script");
  });
<% end %>
