<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheets">
    <Table>
      <% variable_names = @sheet_scope.collect(&:variables).flatten.uniq.collect{|v| [v.name, 'String']}.uniq %>
      <Row>
        <% (["Name", "Description", "Sheet Date", "Project", "Site", "Subject", "Acrostic", "Creator"] + variable_names.collect{|v| v[0]}).each do |name| %>
          <Cell><Data ss:Type="String"><%= name %></Data></Cell>
        <% end %>
      </Row>
    <% @sheet_scope.each do |sheet| %>
      <Row>
        <Cell><Data ss:Type="String"><%= sheet.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.study_date.blank? ? '' : sheet.study_date.strftime("%m-%d-%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.project.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.subject.site.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.subject.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.project.acrostic_enabled? ? sheet.subject.acrostic : nil %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.user.name %></Data></Cell>

        <% variable_names.each do |name, type| %>
          <% value = if variable = sheet.variables.find_by_name(name) %>
            <% @raw_data ? variable.response_raw(sheet) : (variable.variable_type == 'checkbox' ? variable.response_name(sheet).join(',') : variable.response_name(sheet)) %>
          <% else %>
            <% '' %>
          <% end %>
          <Cell><Data ss:Type="<%= type %>"><%= value %></Data></Cell>
        <% end %>
      </Row>
    <% end %>
    </Table>
  </Worksheet>

  <Worksheet ss:Name="Grids">
    <Table>
      <% variable_ids = SheetVariable.where(sheet_id: @sheet_scope.pluck(:id)).collect(&:variable_id) %>
      <% grid_group_variables = Variable.current.where(variable_type: 'grid', id: variable_ids) %>
      <%# sheet_variables = SheetVariable.where(sheet_id: @sheet_scope.pluck(:id)) %>
      <% @grids = @sheet_scope.collect(&:sheet_variables).flatten.collect(&:grids).flatten.compact.uniq %>
      <%# grid_variable_names = @grids.collect(&:variables).flatten.uniq.collect{|v| [v.name, 'String']}.uniq %>
      <Row>
        <% ["Name", "Description", "Sheet Date", "Project", "Site", "Subject", "Acrostic", "Creator"].each do |name| %>
          <Cell><Data ss:Type="String"></Data></Cell>
        <% end %>
        <% grid_group_variables.each do |variable| %>
          <% variable.grid_variables.each do |grid_variable_hash| %>
            <% grid_variable = Variable.current.find_by_id(grid_variable_hash[:variable_id]) %>
            <% if grid_variable %>
              <Cell><Data ss:Type="String"><%= variable.name %></Data></Cell>
            <% end %>
          <% end %>
        <% end %>
      </Row>

      <Row>
        <% ["Name", "Description", "Sheet Date", "Project", "Site", "Subject", "Acrostic", "Creator"].each do |name| %>
          <Cell><Data ss:Type="String"><%= name %></Data></Cell>
        <% end %>
        <% grid_group_variables.each do |variable| %>
          <% variable.grid_variables.each do |grid_variable_hash| %>
            <% grid_variable = Variable.current.find_by_id(grid_variable_hash[:variable_id]) %>
            <% if grid_variable %>
              <Cell><Data ss:Type="String"><%= grid_variable.name %></Data></Cell>
            <% end %>
          <% end %>
        <% end %>
      </Row>

  <% @sheet_scope.each do |sheet| %>
    <% (0..sheet.max_grids_position).each do |position| %>
      <Row>
        <Cell><Data ss:Type="String"><%= sheet.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.study_date.blank? ? '' : sheet.study_date.strftime("%m-%d-%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.project.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.subject.site.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.subject.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.project.acrostic_enabled? ? sheet.subject.acrostic : nil %></Data></Cell>
        <Cell><Data ss:Type="String"><%= sheet.user.name %></Data></Cell>

        <% grid_group_variables.each do |variable| %>
          <% variable.grid_variables.each do |grid_variable_hash| %>
            <% sheet_variable = sheet.sheet_variables.find_by_variable_id(variable.id) %>
            <% result_hash = (sheet_variable ? sheet_variable.response_hash(position, grid_variable_hash[:variable_id]) : {}) %>
            <Cell><Data ss:Type="String"><%= result_hash.kind_of?(Array) ? result_hash.collect{|h| h[:value]}.join(',') : result_hash[:value] %></Data></Cell>
          <% end %>
        <% end %>
      </Row>
    <% end %>
  <% end %>


  <% if false %>
    <% @grids.each do |grid| %>
      <Row>
        <Cell><Data ss:Type="String"><%= grid.sheet_variable.sheet.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= grid.sheet_variable.sheet.description %></Data></Cell>
        <Cell><Data ss:Type="String"><%= grid.sheet_variable.sheet.study_date.blank? ? '' : grid.sheet_variable.sheet.study_date.strftime("%m-%d-%Y") %></Data></Cell>
        <Cell><Data ss:Type="String"><%= grid.sheet_variable.sheet.project.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= grid.sheet_variable.sheet.subject.site.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= grid.sheet_variable.sheet.subject.name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= grid.sheet_variable.sheet.project.acrostic_enabled? ? grid.sheet_variable.sheet.subject.acrostic : nil %></Data></Cell>
        <Cell><Data ss:Type="String"><%= grid.sheet_variable.sheet.user.name %></Data></Cell>

        <% grid_group_variables.each do |variable| %>
          <% variable.grid_variables.each do |grid_variable_hash| %>
            <% grid_variable = Variable.current.find_by_id(grid_variable_hash[:variable_id]) %>
            <% if grid_variable %>
              <Cell><Data ss:Type="String"><% if grid_variable == grid.variable and variable == grid.sheet_variable.variable %><%= grid.response_raw %><% end %></Data></Cell>
            <% end %>
          <% end %>
        <% end %>
      </Row>
    <% end %>
  <% end %>
    </Table>
  </Worksheet>
</Workbook>
