<% @title = 'Sheets' %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= @title %>
    <%= link_to "Create Sheet", new_project_sheet_path(@project), class: 'btn btn-mini btn-primary' if current_user.all_viewable_projects.pluck(:id).include?(@project.id) %>
  </h1>
</div>

<div id="contour-backdrop" style="display:none"></div>

<%= form_tag project_sheets_path(@project), method: :get, remote: true, id: "sheets_search", class: 'form-inline', data: { object: 'form-load' } do %>
  <div class="contour-modal-wrapper" data-object="contour_modal_wrapper" style="display:none">
    <div class="contour-modal" data-object="contour_modal_container">
      <%= render partial: 'sheets/export_popup' %>
    </div>
  </div>

  <%= hidden_field_tag :order %>

  <div class="row">
    <div class="col-lg-4 form-group">
      <%= label :search, 'Search', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= text_field_tag 'search', params[:search], class: 'form-control', data: { object: 'filter' }, placeholder: 'Design Name or Subject Code' %>
      </div>
    </div>
    <div class="col-lg-4 form-group">
      <%= label :sheet_after, 'Date after', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= text_field_tag :sheet_after, params[:sheet_after], class: 'datepicker form-control', data: { object: 'filter' } %>
      </div>
    </div>

    <div class="col-lg-4 form-group">
      <%= label :sheet_before, 'Date before', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= text_field_tag :sheet_before, params[:sheet_before], class: 'datepicker form-control', data: { object: 'filter' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <% if false %>
    <div class="col-lg-4 form-group">
      <%= label :project_id, 'Project', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= select_tag :project_id, options_for_select([['---', nil]] + current_user.all_viewable_projects.order('name').collect{|p| [p.name, p.id]}, params[:project_id] ), data: { object: 'filter' }, class: 'form-control' %>
      </div>
    </div>
    <% end %>
    <div class="col-lg-4 form-group">
      <%= label :site_id, 'Site', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= select_tag :site_id, options_for_select([['---', nil]] + current_user.all_viewable_sites.where(project_id: @project.id).order(:name).collect{|s| [s.name, s.id]}, params[:site_id]), data: { object: 'filter' }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-4 form-group">
      <%= label :design_id, 'Design', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= select_tag :design_id, options_for_select([['---', nil]] + current_user.all_viewable_designs.where(project_id: @project.id).order(:name).collect{|d| [d.name, d.id]}, params[:design_id]), data: { object: 'filter' }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-4 form-group">
      <%= label :user_id, 'Creator', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <%= select_tag 'user_id', options_for_select([['---', nil]] + User.current.with_sheet.order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}, params[:user_id]), data: { object: 'filter' }, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 form-group">
      <%= hidden_field_tag :filter, @filter, data: { object: 'filter' } %>
      <%= label :statuses, 'Status', class: 'col-lg-2 control-label' %>
      <div class="col-lg-10">
        <div class="btn-group" data-toggle="buttons-checkbox">
          <% Subject::STATUS.each do |label, value| %>
            <button data-object="set-statuses" data-value="<%= value %>" data-target="#sheets_search" type="button" class="btn btn-mini <%= 'active' if @statuses.include?(value) %>">
              <%= label.humanize %>
              <%= hidden_field_tag "statuses[]", @statuses.include?(value) ? value : '', id: "statuses_#{value}" %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 form-group" data-object="filter-html">
      <% (params[:f] || []).each do |filter| %>
        <% filter[:id] = filter[:variable_id] %>
        <% v = @project.variable_by_id(filter[:id]) %>
        <% if v %>
          <div id="variable_<%= filter[:id] %>" class="filter-bubble" style="overflow:hidden;white-space:nowrap;cursor:default" data-variable-id="<%= filter[:id] %>" data-project-id="<%= v.project_id %>">
            <%= hidden_field_tag "f[][id]", filter[:id] %> <%# TODO, this one to be removed %>
            <%= hidden_field_tag "f[][variable_id]", filter[:variable_id] %>
            <%= hidden_field_tag "f[][value]", filter[:value] %>
            <%= hidden_field_tag "f[][start_date]", filter[:start_date] %>
            <%= hidden_field_tag "f[][end_date]", filter[:end_date] %>
            <% if filter[:missing] == '1' %><span class="label" style="background-color:#ffc8ba;" title="Includes Missing">m</span><% end %>
            <% if ['sheet_date', 'date'].include?(v.variable_type) %><span class="label" style="background-color:#7aa6ff;" title="by"><%= filter[:by] %></span><% end %>
            <span title="<%= v.display_name %>" style="overflow:hidden;cursor:default;font-size:0.8em">
              <%= v.display_name %>
            </span>
            <% if ['sheet_date', 'date'].include?(v.variable_type) %>
              <span class="label"><%= filter[:start_date] %></span> to <span class="label"><%= filter[:end_date] %></span>
            <% else %>
              <span class="label"><%= filter[:value] %></span>
            <% end %>
            <%#= link_to 'edit', '#', data: { object: 'edit-filter', variable_id: filter[:id], project_id: v.project_id }, class: 'btn btn-default btn-mini' %>
            <%#= link_to 'remove', "#", data: { object: 'remove-filter', target: "#variable_#{filter[:id]}" }, class: 'btn btn-mini btn-danger-inverse' %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Search', class: 'btn btn-primary' %>

    <%= link_to 'Export', '#', class: 'btn btn-default', data: { object: 'show-contour-modal' } %>

    <%= link_to 'Reset', '#', class: 'btn btn-cancel', data: { target: '#sheets_search', object: 'reset-filters' } %>
  </div>
<% end %>

<div id="sheets"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
