<% @title = 'Sheets' %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= @title %>
    <%= link_to "Create Sheet", new_project_sheet_path(@project), class: 'btn btn-xs btn-primary' if @project.can_edit_sheets_and_subjects?(current_user) %>
  </h1>
</div>

<div id="contour-backdrop" style="<%= 'display:none' unless params[:e].to_s == '1' %>"></div>

<%= form_tag project_sheets_path(@project), method: :get, id: "sheets_search", class: 'form-vertical' do %>
  <div class="contour-modal-wrapper" data-object="contour_modal_wrapper" style="<%= 'display:none' unless params[:e].to_s == '1' %>">
    <div class="contour-modal" data-object="contour_modal_container">
      <%= render partial: 'sheets/export_popup' %>
    </div>
  </div>

  <%= hidden_field_tag :order, params[:order] %>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :search, 'Search', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag 'search', params[:search], class: 'form-control', placeholder: 'Design Name or Subject Code', autocomplete: 'off' %>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= label :sheet_after, 'Date after', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :sheet_after, params[:sheet_after], class: 'datepicker form-control' %>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <%= label :sheet_before, 'Date before', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag :sheet_before, params[:sheet_before], class: 'datepicker form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :site_id, 'Site', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= select_tag :site_id, options_for_select([['---', nil]] + current_user.all_viewable_sites.where(project_id: @project.id).order(:name).collect{|s| [s.name, s.id]}, params[:site_id]), class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= label :design_id, 'Design', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= select_tag :design_id, options_for_select([['---', nil]] + current_user.all_viewable_designs.where(project_id: @project.id).order(:name).collect{|d| [d.name, d.id]}, params[:design_id]), class: 'form-control' %>
      </div>
    </div>
    <div class="col-md-4 form-group">
      <%= label :user_id, 'Creator', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= select_tag 'user_id', options_for_select([['---', nil]] + User.where( id: @project.sheets.pluck(:user_id) ).order('last_name, first_name').collect{|u| [u.reverse_name, u.id]}, params[:user_id]), class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group">
      <%= hidden_field_tag :filter, @filter %>
      <%= label :statuses, 'Status', class: 'col-md-2 control-label' %>

      <div class="col-md-10">
        <%= render partial: 'layouts/checkbox_button_group', locals: { name: 'statuses', options: Subject::STATUS, selected: @statuses, target: '#sheets_search' } %>
      </div>
    </div>

    <% if @project.lockable? %>
      <div class="col-md-4 form-group">
        <%= label :locked, 'Locked', class: 'col-md-2 control-label' %>

        <div class="col-md-10">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default btn-xs <%= 'active' if params[:locked].to_s == '1' %>">
              <%= check_box_tag 'locked', '1', params[:locked].to_s == '1', id: 'locked' %> Filter Locked
            </label>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <% (params[:f] || []).in_groups_of(3, false).each do |row_filters| %>
    <div class="row">
      <% row_filters.each do |filter| %>
        <div class="col-md-4 form-group">
          <% if v = @project.variable_by_id(filter[:variable_id]) %>
            <%= label "variable_id_#{filter[:variable_id]}", v.display_name, class: 'col-md-2 control-label' %>
            <div class="col-md-10">
              <%= hidden_field_tag "f[][variable_id]", filter[:variable_id] %>
              <%= hidden_field_tag "f[][start_date]", filter[:start_date] %>
              <%= hidden_field_tag "f[][end_date]", filter[:end_date] %>
              <% if filter[:missing] == '1' %><span class="label label-default" style="background-color:#ffc8ba;" title="Includes Missing">m</span><% end %>
              <% if ['sheet_date', 'date'].include?(v.variable_type) %>
                <span class="label label-default"><%= filter[:start_date] %></span> to <span class="label label-default"><%= filter[:end_date] %></span>
              <% else %>
                <% if ['dropdown', 'radio', 'checkbox'].include?(v.variable_type) %>
                  <%= select_tag 'f[][value]', options_for_select(v.options_missing_at_end.collect{|o| ["#{o[:value]}: #{o[:name]}", o[:value]]} + [[':any', ':any'],[':missing', ':missing']], filter[:value]), class: 'form-control' %>
                <% else %>
                  <%= hidden_field_tag "f[][value]", filter[:value] %>
                  <span class="label label-default"><%= filter[:value] %></span>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <%= submit_tag 'Search', class: 'btn btn-primary', name: nil %>

      <%= link_to 'Export', '#', class: 'btn btn-default', data: { object: 'show-contour-modal' } %>

      <%= link_to 'Reset', project_sheets_path(@project), class: 'btn btn-default' %>
    </div>
  </div>
<% end %>

<div id="sheets">
  <%= render partial: 'sheets/sheets' %>
</div>
