- @title = 'New Sheet'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@sheet.subject.subject_code, [@project, @sheet.subject]]
- @breadcrumbs << [@sheet.adverse_event.name, [@project, @sheet.adverse_event]] if @sheet.adverse_event

= @subject = @sheet.subject; render 'subjects/side_nav'
= render 'layouts/simple_header'

= render 'sheets/form_header'
= render 'sheets/form'

