- @title = "New Sheet"
- @menu_title = "#{@project.name} &middot; #{@sheet.subject.subject_code} &middot; #{@title}"

- @subject = @sheet.subject
- content_for :sidebar, render("subjects/sidebar")
- content_for :header do
  - if @sheet.design&.translated?
    .float-right= render "translations/language_dropdown", button_class: ""
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    - if @sheet.adverse_event
      %li= link_to @sheet.adverse_event.name.to_s.downcase, [@project, @sheet.adverse_event]
    - if @sheet.subject_event
      %li= link_to (@sheet.subject_event.event.slug.presence || @sheet.subject_event.event.name).to_s.downcase, event_project_subject_path(@project, @sheet.subject, event_id: @sheet.subject_event.event, subject_event_id: @sheet.subject_event.id, event_date: @sheet.subject_event.event_date_to_param)
    - if @sheet.design
      %li.breadcrumb-muted= @sheet.design.name.to_s.downcase


= render "sheets/form"

