<!DOCTYPE html>
<html>
<head>
  <title><%= [Contour.application_name, @title].compact.join(' - ').html_safe %></title>
  <%= stylesheet_link_tag "application", media: 'all' %>
</head>
<body style="padding-top:0px">
<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Project</th>
      <th>Site</th>
      <th>Study Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @sheet.subject.subject_code %></td>
      <td><%= @sheet.project.name if @sheet.project %></td>
      <td><%= @sheet.subject.site.name if @sheet.subject and @sheet.subject.site %></td>
      <td><%= @sheet.study_date %></td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th><%= @sheet.design.name %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= simple_format @sheet.design.description %></td>
    </tr>
  </tbody>
</table>

<table class="table table-striped table-bordered">
  <tbody>
    <% @sheet.design.options.each_with_index do |option, index| %>
      <% @option = option %>
      <% if @option[:variable_id].blank? %>
        <% unless index == 0 %></tbody></table><table class="table table-striped table-bordered"><tbody><% end %>
        <tr><td colspan="2"><h4><%= @option[:section_name] %></h4></td></tr>
      <% elsif @variable = Variable.current.find_by_id(@option[:variable_id]) %>

        <% unless @variable.header.blank? %>
          <tr><td colspan="2" style="padding-left:20px"><i><%= @variable.header %></i></td></tr>
        <% end %>

        <tr>
          <td style="padding-left:40px"><%= @variable.display_name %></td>
          <td>
            <% if @variable.variable_type == 'text' %>
              <%= simple_format @variable.response_name(@sheet).to_s %>
            <% elsif @variable.variable_type == 'checkbox' %>
              <% @variable.response_name(@sheet).each do |response| %>
                <%= response %>
              <% end %>
            <% else %>
              <%= @variable.response_name(@sheet) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</body>
