$("#site").html("<%= escape_javascript(render("sites/selection")) %>");
// $("#select_design").html("<%= escape_javascript(render("sheets/select_design")) %>");
//$("#sheet_design_id").on('change', function(){
//  $.post(root_url + 'designs/selection', $(this).serialize(), null, "script");
//  return false;
//});

<%# if not params[:sheet].blank? and not params[:sheet][:design_id].blank? %>
//  $.post(root_url + 'designs/selection', $("#sheet_design_id").serialize(), null, "script");
<%# end %>

$("#sheet_subject_id").parent().parent().removeClass('warning success error info');
<% if @subject %>
  <% if @subject.status == 'valid' %>
    $("#sheet_subject_id").parent().parent().addClass('success');
    $("#subject_id_info").html("Subject is <span class='label label-success'>valid</span>.")
  <% elsif @subject.status == 'test' %>
    $("#sheet_subject_id").parent().parent().addClass('info');
    $("#subject_id_info").html("Subject is <span class='label label-info'>test</span>.")
  <% else %>
    $("#sheet_subject_id").parent().parent().addClass('error');
    $("#subject_id_info").html("Subject is <span class='label label-warning'>pending</span>.")
  <% end %>
  $('#sheet_subject_acrostic').val('<%= escape_javascript(@subject.acrostic) %>');
<% else %>
  <% if @subject_code_valid %>
    $("#sheet_subject_id").parent().parent().addClass('success');
    $("#subject_id_info").html("<%= @project ? @project.subject_code_name_full : 'Subject Code' %> is <span class='label label-success'>valid</span>. New subject will be created.")
  <% else %>
    $("#sheet_subject_id").parent().parent().addClass('warning');
    $("#subject_id_info").html("<%= @project ? @project.subject_code_name_full : 'Subject Code' %> is <span class='label label-warning'>pending</span>. New subject will be created.")
  <% end %>
  $('#sheet_subject_acrostic').val('');
<% end %>

<% if @project and @project.acrostic_enabled? %>
$('#acrostic-container').show();
<% else %>
$('#acrostic-container').hide();
<% end %>

$('#subject_code_name_full').html("<%= escape_javascript(@project ? @project.subject_code_name_full : 'Subject Code') %>");

$("#sheet_study_date").parent().parent().removeClass('warning success error');
<% if @study_date.blank? %>
  $("#sheet_study_date").parent().parent().addClass('warning');
  $("#study_date_info").html("Sheet date can't be blank.");
<% elsif @valid_study_date == true %>
  $("#sheet_study_date").parent().parent().addClass('success');
  $("#study_date_info").html("Valid sheet date.");
<% else %>
  $("#sheet_study_date").parent().parent().addClass('error');
  $("#study_date_info").html("A sheet already exists on this date for this subject and design.");
<% end %>
