- @title = "#{@sheet.name} Reassign"
- @menu_title = "#{@project.name} #{@title}"

- @subject = @sheet.subject
- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @sheet.name
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    - if @sheet.adverse_event
      %li= link_to @sheet.adverse_event.name.downcase, [@project, @sheet.adverse_event]
    - if @sheet.subject_event
      %li= link_to (@sheet.subject_event.event.slug.presence || @sheet.subject_event.event.name).to_s.downcase, event_project_subject_path(@project, @sheet.subject, event_id: @sheet.subject_event.event, subject_event_id: @sheet.subject_event.id, event_date: @sheet.subject_event.event_date_to_param)
    %li= link_to @sheet.name.to_s.downcase, [@project, @sheet]
    %li.breadcrumb-muted reassign

.dashboard-container
  = form_with url: reassign_project_sheet_path(@project, @sheet), method: :patch, local: true do |form|
    .form-group.row
      = label_tag :subject_id, "Reassign To Subject", class: "col-md-2 col-form-label"
      .col-md-10
        = select_tag :subject_id, options_for_select(@project.subjects.order(:subject_code).pluck(:subject_code, :id), @sheet.subject_id), class: "form-control chosen-select"

    .form-group.row
      .col-md-2
      .col-md-10
        = submit_tag "Reassign to Subject", class: "btn btn-primary", name: nil
        = link_to "Cancel", [@project, @sheet], class: "btn btn-light"
