- @title = @sheet.name

- if beta_enabled?(current_user)
  - @subject = @sheet.subject
  = render 'subjects/beta/header'
  .row
    .col-sm-2
      = render partial: 'subjects/beta/event_navigation'

    .col-sm-10
      = render partial: 'sheets/header_info_limited'

  .markdown-container
    = render partial: 'sheets/body_info'

  = render partial: 'sheets/body_after'
- else
  = render partial: 'sheets/header_info'
  = render partial: 'sheets/body_info'
  = render partial: 'sheets/body_after'
