- @title = @sheet.name

- @subject = @sheet.subject
= render 'subjects/beta/header'
.row
  .col-sm-2
    = render 'subjects/beta/event_navigation'

  .col-sm-10
    = render 'sheets/header_info_limited'

.markdown-container
  = render 'sheets/body_info'

= render 'sheets/body_after'
