<% @title = "Sheet: #{@sheet.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if current_user.all_sheets.pluck(:id).include?(@sheet.id) %>
      <%= link_to "Edit Sheet", edit_sheet_path(@sheet), class: 'btn btn-mini' %>
      <%= link_to "Delete Sheet", @sheet, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Sheet #{@sheet.name}?" } %>
      <%= link_to "Send Email", '#', class: 'btn btn-primary btn-mini', id: 'email_popup' %>
    <% end %>
    <%= link_to "View Sheets", sheets_path, class: 'btn btn-mini' %>
    <%= link_to "PDF", print_sheet_path(@sheet, format: 'pdf'), target: '_blank', class: 'btn btn-mini' %>
    <%= link_to 'Detailed Info', '#', class: 'btn btn-mini', id: 'info_popup' %>
  </h1>
</div>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th><%= @sheet.project.subject_code_name_full %></th>
      <% if @sheet.project.acrostic_enabled? %><th>Acrostic</th><% end %>
      <th>Project</th>
      <th>Site</th>
      <th>Study Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to @sheet.subject.name, @sheet.subject if @sheet.subject %></td>
      <% if @sheet.project.acrostic_enabled? %><td><%= @sheet.subject.acrostic %></td><% end %>
      <td><%= @project = @sheet.project; render partial: 'projects/logo_small' %> <%= link_to @sheet.project.name, @sheet.project if @sheet.project %></td>
      <td><%= link_to @sheet.subject.site.name, @sheet.subject.site if @sheet.subject and @sheet.subject.site %></td>
      <td><%= @sheet.study_date %></td>
    </tr>
  </tbody>
</table>

<% if false %>
<div class="row">
  <div class="span6">
    <dl class="dl-horizontal">

      <dt>Design</dt>
      <dd><%= link_to @sheet.design.name, @sheet.design %></dd>

      <dt>Study Date</dt>
      <dd><%= @sheet.study_date %></dd>

      <dt>Project</dt>
      <dd><%= @project = @sheet.project; render partial: 'projects/logo_small' %> <%= link_to @sheet.project.name, @sheet.project if @sheet.project %></dd>

      <dt>Subject</dt>
      <dd><%= link_to @sheet.subject.name, @sheet.subject if @sheet.subject %></dd>

      <% if @sheet.subject and not @sheet.subject.acrostic.blank? %>
        <dt>Acrostic</dt>
        <dd><%= @sheet.subject.acrostic if @sheet.subject %></dd>
      <% end %>

      <dt>Site</dt>
      <dd><%= link_to @sheet.subject.site.name, @sheet.subject.site if @sheet.subject and @sheet.subject.site %></dd>

    </dl>
  </div>
  <div class="span6">
    <dl class="dl-horizontal">

      <dt>Creator</dt>
      <dd><%= link_to @sheet.user.name, @sheet.user if @sheet.user %></dd>

      <dt>Created</dt>
      <dd><%= simple_time @sheet.created_at %>

      <dt>Last Updated By</dt>
      <dd><%= link_to @sheet.last_user.name, @sheet.last_user if @sheet.last_user %></dd>

      <dt>Updated</dt>
      <dd><%= simple_time @sheet.updated_at %>

      <dt>Last Emailed</dt>
      <dd><%= simple_time @sheet.last_emailed_at %>
    </dl>
  </div>
</div>

<% end %>

<%#= @design = @sheet.design; render partial: 'designs/show_section_and_variables' %>

<%= @design = @sheet.design; render partial: 'designs/navigation' %>

<form class="form-horizontal">
  <% @design.options.each do |option| %>
    <% @option = option %>
    <% if @option[:variable_id].blank? %>
      <%= render partial: 'designs/section' %>
    <% elsif @variable = Variable.current.find_by_id(@option[:variable_id]) %>
      <%= render partial: 'variables/show' %>
    <% end %>
  <% end %>
</form>

<% if current_user.all_sheets.pluck(:id).include?(@sheet.id) %>
  <div id="send_email_modal" class="modal" style="display:none">
    <div class="modal-header">
      Send Email:
      <a class="close" data-dismiss="modal">×</a>
    </div>
    <div class="modal-body">
      <%= form_tag send_email_sheet_path(@sheet), method: :post, id: "send_email_form" do %>
        <div class="control-group">
          <%= label_tag :to, nil, class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :to, @sheet.subject.site.emails.to_s.split(',').collect{|email| email.strip}.uniq.join(', '), style: 'width:95%' %>
          </div>
        </div>

        <div class="control-group">
          <%= label_tag :cc, nil, class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :cc, (@sheet.project.emails.to_s.split(',').collect{|email| email.strip} + [@sheet.project.user.email, current_user.email]).uniq.join(', '), style: 'width:95%' %>
          </div>
        </div>

        <div class="control-group">
          <%= label_tag :subject, nil, class: 'control-label' %>
          <div class="controls">
            <%= text_field_tag :subject, @sheet.email_subject_template(current_user), style: 'width:95%' %>
          </div>
        </div>

        <div class="control-group">
          <div class="controls checkbox">
            <%= check_box_tag :pdf_attachment, '1', false %> <%= label_tag :pdf_attachment, 'PDF Attachment', class: 'control-label' %>
          </div>
        </div>

        <div class="control-group">
          <%= label_tag :body, nil, class: 'control-label' %>
          <div class="controls">
            <%= text_area_tag :body, @sheet.email_body_template(current_user), rows: 20, style: 'width:95%' %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="modal-footer">
      <%= link_to 'Close', '#', class: 'btn', data: { target: '#send_email_modal', object: 'modal-hide' } %>
      <%= link_to 'Send Email', '#', class: 'btn btn-primary', data: { target: '#send_email_form', object: 'submit' } %>
    </div>
  </div>
<% end %>

<div id="info_modal" class="modal" style="display:none">
  <div class="modal-header">
    <strong><%= @sheet.design.name %></strong> Information
    <a class="close" data-dismiss="modal">×</a>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">

      <dt>Design</dt>
      <dd><%= link_to @sheet.design.name, @sheet.design %></dd>

      <dt>Study Date</dt>
      <dd><%= @sheet.study_date %></dd>

      <dt>Project</dt>
      <dd><%= @project = @sheet.project; render partial: 'projects/logo_small' %> <%= link_to @sheet.project.name, @sheet.project if @sheet.project %></dd>

      <dt>Subject</dt>
      <dd><%= link_to @sheet.subject.name, @sheet.subject if @sheet.subject %></dd>

      <% if @sheet.subject and not @sheet.subject.acrostic.blank? %>
        <dt>Acrostic</dt>
        <dd><%= @sheet.subject.acrostic if @sheet.subject %></dd>
      <% end %>

      <dt>Site</dt>
      <dd><%= link_to @sheet.subject.site.name, @sheet.subject.site if @sheet.subject and @sheet.subject.site %></dd>

      <dt>Creator</dt>
      <dd><%= link_to @sheet.user.name, @sheet.user if @sheet.user %></dd>

      <dt>Created</dt>
      <dd><%= simple_time @sheet.created_at %>

      <dt>Last Updated By</dt>
      <dd><%= link_to @sheet.last_user.name, @sheet.last_user if @sheet.last_user %></dd>

      <dt>Updated</dt>
      <dd><%= simple_time @sheet.updated_at %>

      <dt>Last Emailed</dt>
      <dd><%= simple_time @sheet.last_emailed_at %>
    </dl>
  </div>

  <div class="modal-footer">
    <%= link_to 'Close', '#', class: 'btn', data: { target: '#info_modal', object: 'modal-hide' } %>
  </div>
</div>
