<% @title = @sheet.name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to 'Sheets', project_sheets_path(@project) %> &middot; <%= @title %>
  </h1>

  <% if current_user.all_sheets.pluck(:id).include?(@sheet.id) %>
    <%= link_to "Edit Sheet", edit_project_sheet_path(@sheet.project, @sheet), class: 'btn btn-default btn-xs' %>
    <%= link_to "Delete Sheet", [@sheet.project, @sheet], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Sheet #{@sheet.name}?" } %>
  <% end %>
  <%= link_to "PDF", print_project_sheet_path(@project, @sheet, format: 'pdf'), target: '_blank', class: 'btn btn-default btn-xs' %>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Coverage</th>
      <th><%= @sheet.project.subject_code_name_full %></th>
      <% if @sheet.project.acrostic_enabled? %><th>Acrostic</th><% end %>
      <th>Site</th>
      <th>
        <% if @sheet.recently_created? %>
          Created
        <% else %>
          Updated
        <% end %>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= coverage_helper(@sheet) %></td>
      <td>
        <%= status_helper(@sheet.subject) if @sheet.subject %>
        <%= link_to @sheet.subject.name, [@sheet.subject.project, @sheet.subject] if @sheet.subject %>
        <% if @sheet.event and @sheet.subject_schedule %>
          <table>
            <thead>
              <tr>
                <th>Schedule</th>
                <th>Event</th>
              </tr>
            </thead>
            <tr>
              <td><%= @sheet.subject_schedule.schedule.name %></td>
              <td><%= @sheet.event.name %><%= @sheet.subject_schedule.initial_due_date.strftime(" &middot; %a, %B %d, %Y").html_safe unless @sheet.subject_schedule.initial_due_date.blank? %></td>
            </tr>
          </table>
        <% end %>
      </td>
      <% if @sheet.project.acrostic_enabled? %><td><%= @sheet.subject.acrostic %></td><% end %>
      <td><%= link_to @sheet.subject.site.name, [@sheet.subject.site.project, @sheet.subject.site] if @sheet.subject and @sheet.subject.site %></td>
      <td>
        <% if @sheet.recently_created? %>
          <%= link_to_if (@sheet.audits.size > 0 and current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time(@sheet.created_at), audits_project_sheet_path(@sheet.project, @sheet) %><% if @sheet.user %> by <%= link_to @sheet.user.name, @sheet.user %><% end %>
        <% else %>
          <%= link_to_if (@sheet.audits.size > 0 and current_user.all_viewable_sheets.pluck(:id).include?(@sheet.id)), simple_time(@sheet.last_edited_at), audits_project_sheet_path(@sheet.project, @sheet) %><% if @sheet.last_user %> by <%= link_to @sheet.last_user.name, @sheet.last_user %><% end %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<%= form_tag [@sheet.project, @sheet], method: :get, remote: true, data: { object: 'form-load' }, style: 'display:none' do %>
<% end %>

<div id="sheet_<%= @sheet.id %>">
  <div class="center"><%= image_tag "contour/ajax-loader.gif" %></div>
</div>

<div id="sheet_<%= @sheet.id %>_comments" style="display:none">
  <%= render partial: 'sheets/comments' %>
</div>
