- @title = @sheet.name

- @subject = @sheet.subject

- links = []
- links << [@subject.subject_code, [@project, @subject]]
- links << [@sheet.adverse_event.name, [@project, @sheet.adverse_event]] if @sheet.adverse_event
- if @sheet.subject_event
  - links << [@sheet.subject_event.name, event_project_subject_path(@project, @subject, event_id: @sheet.subject_event.event, subject_event_id: @sheet.subject_event.id, event_date: @sheet.subject_event.event_date_to_param)]
- links << [@sheet.name, [@project, @sheet]]
= render 'projects/tabbed_menu', links: links

= render 'sheets/header_info_limited'

.markdown-container
  = render 'sheets/show'

- if @sheet.locked?
  .well
    This sheet was
    %span.glyphicon.glyphicon-lock{ style: 'color:#5bc0de' }
    %strong locked
    and
    %span.glyphicon.glyphicon-leaf{ style: 'color:#5cb85c' }
    %strong electronically signed
    by
    %strong{ style: 'color:#428bcc' }= @sheet.last_user.name
    - if @sheet.last_edited_at
      on
      %strong= @sheet.last_edited_at.strftime('%b %d, %Y')
      at
      %strong= @sheet.last_edited_at.strftime('%I:%M %p.')
    %div{ style: 'margin-top:1em' }
      Contributors:
      = @sheet.contributors

- unless @sheet.adverse_event
  %div{ id: "sheet_#{@sheet.id}_comments" }
    = render 'comments/comments'
