- @title = @sheet.name
- @menu_title = "#{@project.name} &middot; #{@sheet.subject.subject_code} &middot; #{@title}"


- @subject = @sheet.subject
- content_for :sidebar, render("subjects/sidebar")

- content_for :header do
  .float-right
    #sheet_actions= render "sheets/actions", project: @project, sheet: @sheet
  = render "sheets/status/checks_bullet", sheet: @sheet
  = @title
  = render "layouts/unblinded_only", project: @project, object: @sheet.design, placement: "top"
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    - if @sheet.adverse_event
      %li= link_to @sheet.adverse_event.name.downcase, [@project, @sheet.adverse_event]
    - if @sheet.subject_event
      %li= link_to (@sheet.subject_event.event.slug.presence || @sheet.subject_event.event.name).to_s.downcase, event_project_subject_path(@project, @sheet.subject, event_id: @sheet.subject_event.event, subject_event_id: @sheet.subject_event.id, event_date: @sheet.subject_event.event_date_to_param)
    %li.breadcrumb-muted= @sheet.name.to_s.downcase

#sheet_unlocks_container= render "sheet_unlock_requests/index", project: @project, sheet: @sheet

.dashboard-container
  = render "sheets/header_info_limited"

- if @sheet.failed_checks.present?
  .dashboard-container
    - @sheet.failed_checks.each do |check|
      %p.lead
        %span.check-bullet &bull;
        %span.text-danger= check.message

.dashboard-container.mb-0
  = render "sheets/show"

- unless @sheet.adverse_event
  - content_for :footer do
    %a.anchor-top{ id: "comments" }
    .comments-footer-wrapper
      .mb-3.text-white
        %strong Comments
      .comments-container{ id: "sheet_#{@sheet.id}_comments" }
        = render "comments/comments"
