<% @title = @sheet.name %>

<%= hidden_field_tag 'isdirty', '1' %>

<%= form_tag submit_survey_project_sheet_path(@sheet.project, @sheet), method: :post, class: 'form-horizontal', multipart: true, id: "edit_sheet_#{@sheet.id}" do |f| %>

  <%= hidden_field_tag "sheet[project_id]", @sheet.project_id %>
  <%= hidden_field_tag "sheet_authentication_token", @sheet.authentication_token %>

  <div id="design">
    <div class="center"><%= image_tag 'contour/ajax-loader.gif' %></div>
    <%#= @design = @sheet.design; render partial: 'designs/selection' %>
  </div>

  <div class="form-signin">
    <% form_name = "edit_sheet_#{@sheet.id}" %>
    <%= submit_tag 'Submit Survey', data: { target: "##{form_name}", object: "variable-check-before-submit" }, id: 'sheet_submit_btn', class: 'btn btn-success btn-block btn-large' %>
  </div>

<% end %>

<%= form_tag survey_project_sheet_path(@sheet.project, @sheet, sheet_authentication_token: @sheet.authentication_token, header: '0'), remote: true, method: :get, data: { object: 'form-load' } %>
