- @title = "Edit Sheet: #{@sheet.name}"

- if @subject = @sheet.subject
  = render 'subjects/header'

%h2.underline-heading
  Transfer Sheet to Another Subject


= form_tag transfer_project_sheet_path(@project, @sheet), method: :patch, class: 'form-horizontal' do
  .form-group
    = label_tag :subject_id, 'Transfer To Subject', class: 'col-md-2 control-label'
    .col-md-10
      = select_tag :subject_id, options_for_select(@project.subjects.order(:subject_code).pluck(:subject_code, :id), @sheet.subject_id), class: 'form-control chzn-select'

  .form-group
    .col-md-offset-2.col-md-10
      = submit_tag 'Transfer to Subject', class: 'btn btn-primary', name: nil
      = link_to 'Cancel', [@project, @sheet], class: 'btn btn-default'
