<% @title = "#{@sheet.name} Transactions" %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to 'Sheets', project_sheets_path(@project) %> &middot; <%= link_to @sheet.name, [@sheet.project, @sheet] %> &middot; Transactions
    <%= link_to 'Original Audits', audits_project_sheet_path(@sheet.project, @sheet), class: "btn btn-xs btn-default" if @sheet.all_audits.count > 0 %>
  </h1>
</div>

<% @sheet_transactions = @sheet.sheet_transactions %>
<% variable = @project.variables.find_by_name(params[:variable]) %>
<% sheet_transaction_total = @sheet_transactions.count %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Transaction Number</th>
      <th>User</th>
      <th>Type</th>
      <th>Created At</th>
    </tr>
  </thead>

  <% @sheet_transactions.each_with_index do |t,index| %>
    <% if not variable or (variable and @sheet.sheet_variables.where(id: t.sheet_transaction_audits.pluck(:sheet_variable_id)).select{|sv| sv.variable_id == variable.id }.count > 0) %>
      <tbody>
        <tr>
          <td>#<%= sheet_transaction_total - index %></td>
          <% if t.user %>
            <td>
            <%= image_tag t.user.avatar_url(16, "identicon"), size: '16x16', alt: '', style: 'vertical-align: middle', class: 'img-rounded' %>
            <%= t.user.name %>
            &middot; <%= t.remote_ip %>
            </td>
          <% else %>
            <td class="text-muted">
              Anonymous &middot; <%= t.remote_ip %>
            </td>
          <% end %>
          <td><%= t.transaction_type %></td>
          <td><%= t.created_at.strftime("%b %d, %Y at %l:%M %p") %></td>
        </tr>
        <tr><td colspan="4">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Attribute</th>
                <th>Value Before</th>
                <th>Value After</th>
              </tr>
            </thead>
            <% t.sheet_transaction_audits.each do |a| %>
              <% if not variable or (variable and a.sheet_variable and a.sheet_variable.variable_id == variable.id) %>
                <tr>
                  <td style="white-space:nowrap">
                    <%= a.sheet_attribute_name %>
                    <% if a.sheet_variable %>
                      <%= link_to a.sheet_variable.variable.name, [a.sheet_variable.variable.project, a.sheet_variable.variable] %>
                    <% end %>
                    <% if a.grid %>
                      Row #<%= a.grid.position+1 %>
                      <%= link_to a.grid.variable.name, [a.grid.variable.project, a.grid.variable] %>
                    <% end %>
                  </td>
                  <td class="<%= 'text-muted' if a.value_before == nil or a.value_before == '' %>">
                    <% if a.value_before == nil %>
                      nil
                    <% elsif a.value_before == '' %>
                      <span rel="tooltip" title="Blank Response" data-placement="right">&#9872;</span>
                    <% else %>
                      <% mask = find_diff(a.value_before, a.value_after) %>
                      <span style="padding: 0px;background-color:#FAA;"><% a.value_before.to_s.split('').each_with_index do |character, index| %><%= '<span class="highlight-subtract">'.html_safe if mask[index] %><%= character %><%= '</span>'.html_safe if mask[index] %><% end %></span>
                      <%= link_to '<span class="glyphicon glyphicon-info-sign"></span>'.html_safe, '#', rel: 'tooltip', title: a.label_before, data: { object: 'suppress-click', placement: 'right', container: 'body' } if not a.label_before.blank? and a.label_before != a.value_before %>
                    <% end %>
                  </td>
                  <td class="<%= 'text-muted' if a.value_after == nil or a.value_after == '' %>">
                    <% if a.value_after == nil %>
                      nil
                    <% elsif a.value_after == '' %>
                      <span rel="tooltip" title="Blank Response" data-placement="right">&#9872;</span>
                    <% else %>
                      <% mask = find_diff(a.value_after, a.value_before) %>
                      <span style="padding: 0px;background-color:#AFA;"><% a.value_after.to_s.split('').each_with_index do |character, index| %><%= '<span class="highlight-add">'.html_safe if mask[index] %><%= character %><%= '</span>'.html_safe if mask[index] %><% end %></span>
                      <%= link_to '<span class="glyphicon glyphicon-info-sign"></span>'.html_safe, '#', rel: 'tooltip', title: a.label_after, data: { object: 'suppress-click', placement: 'right', container: 'body' } if not a.label_after.blank? and a.label_after != a.value_after %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            <% end %>
          </table>
        </td></tr>
      </tbody>
    <% end %>
  <% end %>
</table>
