- @title = "#{@sheet.name} Transactions"
- @menu_title = "#{@project.name} #{@title}"

- @subject = @sheet.subject
- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @sheet.name
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    - if @sheet.adverse_event
      %li= link_to @sheet.adverse_event.name.downcase, [@project, @sheet.adverse_event]
    - if @sheet.subject_event
      %li= link_to (@sheet.subject_event.event.slug.presence || @sheet.subject_event.event.name).to_s.downcase, event_project_subject_path(@project, @sheet.subject, event_id: @sheet.subject_event.event, subject_event_id: @sheet.subject_event.id, event_date: @sheet.subject_event.event_date_to_param)
    %li= link_to @sheet.name.to_s.downcase, [@project, @sheet]
    %li.breadcrumb-muted transactions

- @sheet_transactions = @sheet.sheet_transactions
- variable = @project.variables.find_by(name: params[:variable])
- sheet_transaction_total = @sheet_transactions.count

- @sheet_transactions.each_with_index do |t, index|
  %a.anchor-top{ id: "#{t.id}" }
  - if !variable || (variable && @sheet.sheet_variables.where(id: t.sheet_transaction_audits.pluck(:sheet_variable_id)).select { |sv| sv.variable_id == variable.id }.count > 0)
    .dashboard-container.dashboard-table
      %table.table.table-striped.table-borderless.table-hover.table-fixed
        %thead
          %tr
            %th Transaction
            %th User
            %th Type
            %th Created At

        %tbody
          %tr
            %td
              = "##{sheet_transaction_total - index}"
              - language = World.for(t.language_code)
              %span.badge.badge-primary{ rel: "tooltip", data: { title: language.name(I18n.locale), container: "body", placement: "right" } }= language.code.upcase
            - if t.user
              %td
                = profile_picture_tag t.user, size: 16, style: "vertical-align: middle;"
                = t.user.full_name
                &middot;
                = t.remote_ip
            - else
              %td.text-muted
                Anonymous &middot;
                = t.remote_ip
            %td= t.transaction_type
            %td= t.created_at.strftime("%b %d, %Y at %l:%M %p")
      %table.table.table-striped.table-borderless.table-hover.table-fixed
        %thead
          %tr
            %th Attribute
            %th Value Before
            %th Diff
            %th Value After
        - t.sheet_transaction_audits.each do |a|
          - if !variable || (variable && a.sheet_variable && a.sheet_variable.variable_id == variable.id)
            - case a.sheet_attribute_name
            - when "adverse_event_id"
              = render "sheets/transactions/adverse_event", project: @project, audit: a
            - else
              %tr
                %td.breakword.overflow-hidden
                  = a.sheet_attribute_name
                  - if a.sheet_variable
                    - case a.sheet_variable.variable.variable_type
                    - when "signature", "checkbox", "text"
                      - url = project_sheets_path(@project, search: "#{a.sheet_variable.variable.name}:#{a.value_after.blank? ? "blank" : "present"}")
                    - else
                      - if !/\s/.match(a.value_after.to_s).nil?
                        - search = "\"#{a.value_after.to_s}\""
                      - else
                        - search = "#{a.value_after.to_s}"
                      - url = project_sheets_path(@project, search: "#{a.sheet_variable.variable.name}:#{a.value_after.blank? ? "blank" : search}")
                    = link_to a.sheet_variable.variable.name, url
                  - if a.grid
                    %br
                    Row
                    = "##{a.grid.position + 1}"
                    = a.grid.variable.name
                %td.breakword{ class: "#{"text-muted" if a.value_before == nil || a.value_before == ""}" }
                  - if a.value_before == nil
                    nil
                  - elsif a.value_before == ""
                    %span{ rel: "tooltip", title: "Blank Response", data: { placement: "right", container: "body" } }
                      = icon("fas", "ban")
                  - else
                    - if a.sheet_variable && a.sheet_variable.variable.variable_type == "signature"
                      %canvas.pad-display{ width: 250, height: 55, data: { object: "signature-display", signature_string: "#{a.value_before}" } }
                    - else
                      = a.value_before
                %td.breakword
                  - unless a.sheet_variable && a.sheet_variable.variable.variable_type == "signature"
                    - diff = Differ.diff_by_char(a.value_after.to_s, a.value_before.to_s)
                    = diff.format_as(:html).html_safe
                %td.breakword{ class: "#{"text-muted" if a.value_after == nil || a.value_after == ""}" }
                  - if a.value_after == nil
                    nil
                  - elsif a.value_after == ""
                    %span{ rel: "tooltip", title: "Blank Response", data: { placement: "right", container: "body" } }
                      = icon("fas", "ban")
                  - else
                    - if a.sheet_variable && a.sheet_variable.variable.variable_type == "signature"
                      %canvas.pad-display{ width: 250, height: 55, data: { object: "signature-display", signature_string: "#{a.value_after}" } }
                    - else
                      = a.value_after
