%td
  - if notification.adverse_event
    %span.glyphicon.glyphicon-warning-sign{ class: "#{notification.read? ? 'text-muted' : 'text-danger'}" }
  - elsif notification.comment
    %span.glyphicon.glyphicon-comment{ class: "#{notification.read? ? 'text-muted' : 'text-primary'}" }
  - elsif notification.handoff
    %span.glyphicon.glyphicon-ok-circle{ class: "#{notification.read? ? 'text-muted' : 'text-success'}" }

%td.nowrap{ class: "#{'text-muted' if notification.read?}" }
  .overflow-hidden
    = link_to notification, class: "#{notification.read? ? 'link-muted' : 'link-unstyled' }" do
      - if notification.adverse_event
        = notification.adverse_event.name
        for
        = notification.adverse_event.subject.name
        has been updated.
      - elsif notification.comment
        = strip_tags(simple_markdown notification.comment.description)
      - elsif notification.handoff
        = notification.handoff.subject_event.name
        completed by
        = succeed '.' do
          = notification.handoff.subject_event.subject.name

%td.hidden-xs
  - if notification.comment
    = image_tag notification.comment.user.avatar_url(18, 'identicon'), size: '18x18', alt: ''

%td.text-muted.hidden-xs
  %small
    = time_ago_in_words notification.created_at
    ago

%td
  - unless notification.read?
    = link_to notification_path(notification, notification: { read: true }), method: :patch, remote: true, class: 'text-muted' do
      %span.glyphicon.glyphicon-ok
