- @title = 'Notifications'

- content_for :header do
  .header-container
    .container
      %h1.page-heading= @title

.background-gradient

.body-attachment
  .landing-cog3
    %span.glyphicon.glyphicon-cog

.mini-menu-outer
  .mini-menu-left-fixed
    = link_to 'Unread', notifications_path, class: "btn btn-block btn-shadow #{current_page?(notifications_path) && params[:all] != '1' ? 'btn-primary' : 'btn-default' }", style: 'margin-bottom: 10px'
    = link_to 'All', notifications_path(all: '1'), class: "btn btn-block btn-shadow #{current_page?(notifications_path) && params[:all] == '1' ? 'btn-primary' : 'btn-default' }"
  .mini-menu-right-fluid
    - if @notifications.count > 0
      - @notifications.order(:project_id, created_at: :desc).includes(:project, :adverse_event, :comment, :handoff).group_by(&:project).each do |project, notifications|
        .dashboard-container
          %table.table.table-fixed
            %col{ width: '32px' }
            %col{ }
            %col.hidden-xs{ width: '32px' }
            %col.hidden-xs{ width: '165px' }
            %col{ width: '32px' }
            %thead
              %tr
                %th{ colspan: 2 }= link_to project.name, project, class: 'link-unstyled'
                %th.hidden-xs
                %th.hidden-xs
                %th
                  = link_to mark_all_as_read_notifications_path(project_id: project.id), method: :patch, remote: true, class: 'text-muted' do
                    %span.glyphicon.glyphicon-ok
            %tbody
              - notifications.each do |notification|
                %tr{ id: "notification_#{notification.id}"}
                  = render 'notifications/show', notification: notification
    - else
      .dashboard-container
        %p.lead.center You have no unread notifications!
