- if log_entry.entry_type == "ae_reopened"
  .mt-5.my-3.text-center.border-top.text-muted{ style: "position: relative;" }
    %div{ style: "line-height: 1rem;position: absolute;top: -.5rem;left: 0; right: 0;" }
      .d-inline-block.bg-white.px-3 REOPENED

%div
  .float-right
    .d-none.d-md-block= log_entry.created_at.strftime("%a, %b %-d, %Y")
    .d-block.d-md-none.strftime= log_entry.created_at.strftime("%b %-d, %Y")
  %span.text-muted.border-right.pr-2.mr-2= log_entry.ae_adverse_event.name
  - case log_entry.entry_type when "ae_opened"
    = log_entry.user.nickname
    reported
    adverse event for
    = succeed "." do
      = log_entry.ae_adverse_event.subject.subject_code
  - when "ae_sheet_created"
    = log_entry.user.nickname
    created
    = succeed "." do
      = log_entry.sheets.includes(:design).pluck("designs.name").to_sentence
  - when "ae_info_request_created"
    = log_entry.user.nickname
    requested
    %span.border-bottom.border-dark{ style: "border-bottom-style: dotted !important;", data: { toggle: "tooltip", title: log_entry.info_requests.first.comment, container: "body", placement: "top" } } additional information
    from
    - if log_entry.ae_review_team
      admins.
    - else
      reporters.
  - when "ae_info_request_resolved"
    = log_entry.user.nickname
    resolved
    = succeed "." do
      %span.border-bottom.border-dark{ style: "border-bottom-style: dotted !important;", data: { toggle: "tooltip", title: log_entry.info_requests.first.comment, container: "body", placement: "top" } }<
        = "request from #{log_entry.info_requests.first.user.nickname}"
  - when "ae_team_assigned"
    = log_entry.user.nickname
    assigned
    adverse event to
    = succeed "." do
      = log_entry.ae_review_team.name
  - when "ae_reviewers_assigned"
    = log_entry.user.nickname
    = succeed "." do
      assigned
      = "review".pluralize(log_entry.reviewer_assignments.count)
      - if log_entry.reviewer_assignments.present?
        to
        = log_entry.reviewer_assignments.collect { |assignment| assignment.reviewer.nickname }.to_sentence
  - when "ae_review_completed"
    = log_entry.user.nickname
    completed adverse event review.
  - when "ae_final_review_completed"
    = log_entry.user.nickname
    submitted final adverse event review.
  - when "ae_closed"
    = log_entry.user.nickname
    closed
    adverse event for
    = succeed "." do
      = log_entry.ae_adverse_event.subject.subject_code
  - when "ae_reopened"
    = log_entry.user.nickname
    reopened
    adverse event for
    = succeed "." do
      = log_entry.ae_adverse_event.subject.subject_code
  - else
    = log_entry.user.nickname
    = succeed "." do
      %code.text-primary.bg-light= log_entry.entry_type

- if log_entry.entry_type == "ae_closed"
  .my-3.text-center.border-top.text-muted{ style: "position: relative;" }
    %div{ style: "line-height: 1rem;position: absolute;top: -.5rem;left: 0; right: 0;" }
      .d-inline-block.bg-white.px-3 CLOSED
