- display_classes = []
- display_classes << "mt-3" if last_time.present? && (last_user != log_entry.user || log_entry.created_at - last_time > 5.minutes)

%div{ class: display_classes }
  - if last_time.nil? || last_user != log_entry.user || log_entry.created_at - last_time > 5.minutes || log_entry.entry_type.in?(%w(ae_reopened))
    %strong= log_entry.user.full_name
    %small.text-muted= log_entry.created_at.strftime("%-l:%M%P")
  - elsif false
    %span.text-muted= log_entry.created_at.strftime("(%-l:%M%P)")

  %div
    - case log_entry.entry_type when "ae_opened"
      Reported
      adverse event for
      = succeed "." do
        = log_entry.ae_adverse_event.subject.subject_code
    - when "ae_sheet_created"
      Added
      = succeed "." do
        = log_entry.sheets.collect { |s| link_to(s.name, ae_module_sheet_path(s.project, log_entry.ae_adverse_event, s)) }.to_sentence.html_safe
    - when "ae_sheet_updated"
      Updated
      = succeed "." do
        = log_entry.sheets.collect { |s| link_to(s.name, ae_module_sheet_path(s.project, log_entry.ae_adverse_event, s)) }.to_sentence.html_safe
    - when "ae_sent_for_review"
      Sent adverse event for review.
    - when "ae_info_request_created"
      - info_request = log_entry.info_requests.first
      - if info_request
        %span.border-bottom.border-dark{ style: "border-bottom-style: dotted !important;", data: { toggle: "tooltip", title: info_request.comment, container: "body", placement: "top" } } Requested information
      - else
        Requested
        %span.badge.badge-light deleted
      from
      - if log_entry.ae_team
        admins.
      - else
        reporters.
    - when "ae_info_request_resolved"
      Resolved
      = succeed "." do
        - info_request = log_entry.info_requests.first
        - if info_request
          %span.border-bottom.border-dark{ style: "border-bottom-style: dotted !important;", data: { toggle: "tooltip", title: info_request.comment, container: "body", placement: "top" } }<
            information request
          from
          = log_entry.info_requests.first.user.full_name
        - else
          %span.badge.badge-light deleted
          request
    - when "ae_team_assigned"
      Assigned adverse event to
      = succeed "." do
        = log_entry.ae_team.name
    - when "ae_reviewers_assigned"
      = succeed "." do
        - reviewers = log_entry.assignments.includes(:reviewer).collect(&:reviewer).uniq
        Assigned
        = "review".pluralize(reviewers.count)
        - if reviewers.present?
          to
          = reviewers.collect(&:full_name).to_sentence
    - when "ae_reviewers_unassigned"
      = succeed "." do
        - reviewers = log_entry.assignments.includes(:reviewer).collect(&:reviewer).uniq
        Unassigned
        = "review".pluralize(reviewers.count)
        - if reviewers.present?
          from
          = reviewers.collect(&:full_name).to_sentence
    - when "ae_review_completed"
      Completed adverse event review.
    - when "ae_final_review_completed"
      Submitted final adverse event review.
    - when "ae_team_review_completed"
      Marked
      = log_entry.ae_team.short_name
      team review as complete.
    - when "ae_team_review_uncompleted"
      Reopened
      = log_entry.ae_team.short_name
      team review.
    - when "ae_closed"
      Closed adverse event for
      = succeed "." do
        = log_entry.ae_adverse_event.subject.subject_code
    - when "ae_reopened"
      Reopened adverse event for
      = succeed "." do
        = log_entry.ae_adverse_event.subject.subject_code
    - when "ae_document_uploaded"
      Attached
      = log_entry.documents.collect { |document| link_to(document.filename, ae_module_document_path(document.project, document.ae_adverse_event, document)) }.to_sentence.html_safe
      = succeed "." do
        = "supporting document".pluralize(log_entry.documents.count)
    - when "ae_document_removed"
      Removed supporting documents.
    - else
      = succeed "." do
        %code.text-primary.bg-light= log_entry.entry_type
