<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @site_user, html: { class: 'form-horizontal' } do |f| %>
  <% if @site_user.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@site_user.errors.count, "error") %> prohibited this site_user from being saved</h4>

      <ul>
      <% @site_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :project_id, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :project_id, [['---', nil]] + Project.current.collect{|p| [p.name, p.id]} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :site_id, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :site_id, [['---', nil]] + Site.current.collect{|s| [s.name, s.id]} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :user_id, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :user_id, [['---', nil]] + User.current.collect{|u| [u.name, u.id]} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :creator_id, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :creator_id, [['---', nil]] + Creator.current.collect{|c| [c.name, c.id]} %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
