<div class="col-lg-10 col-lg-offset-2">
  <ul class="list-unstyled">
    <% @site.site_users.each do |site_user| %>
      <li onmouseover="$('#site_user_<%= site_user.id %>_delete').show();" onmouseout="$('#site_user_<%= site_user.id %>_delete').hide();" style="line-height:30px">
        <% if site_user.user %>
          <%= link_to site_user.user.name, site_user.user %>
        <% else %>
          <span class='muted'>
            <%= site_user.invite_email %>
            <%= text_field_tag "site_user_#{site_user.id}_invite", "#{SITE_URL}/projects/#{site_user.project.id}/site_users/accept?invite_token=#{site_user.invite_token}" if current_user == site_user.creator %>
            <%= link_to 'Resend Invitation', resend_project_site_user_path(site_user.project, site_user), method: :post, remote: true, class: 'btn btn-primary btn-xs', autocomplete: "off", data: { loading_text: "Resent" } %>
          </span>
        <% end %>
        <span id="site_user_<%= site_user.id %>_delete" style="display:none">
          <span class="text-muted">invited by <%= link_to site_user.creator.name, site_user.creator %></span>
          <%= link_to 'Remove', [site_user.project, site_user], method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to remove #{site_user.user ? site_user.user.name : site_user.invite_email} from Site #{@site.name}?" } if current_user.all_sites.include?(@site) or (current_user.all_viewable_sites.include?(@site) and current_user == site_user.user) %>
        </span>
      </li>
    <% end %>
  </ul>
</div>
