<% @title = "Site User: #{@site_user.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Site User", edit_site_user_path(@site_user), class: 'btn btn-mini' %>
    <%= link_to "Delete Site User", @site_user, method: :delete, class: 'btn btn-mini btn-danger-inverse', data: { confirm: "Are you sure you want to delete Site User #{@site_user.name}?" } %>
    <%= link_to "View Site Users", site_users_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Project</dt>
  <dd><%= link_to @site_user.project.name, @site_user.project if @site_user.project %></dd>

  <dt>Site</dt>
  <dd><%= link_to @site_user.site.name, @site_user.site if @site_user.site %></dd>

  <dt>User</dt>
  <dd><%= link_to @site_user.user.name, @site_user.user if @site_user.user %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @site_user.creator.name, @site_user.creator if @site_user.creator %></dd>

</dl>
