<div class="page-header">
  <h1><%= link_to 'Users', users_path %> &middot; <%= @title %></h1>
</div>

<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :first_name, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :last_name, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :status, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.select :status, User::STATUS, {}, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :email, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :system_admin %>
          System Admin
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-offset-2">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
