= form_with model: user, local: true do |form|
  =# render "forms/horizontal/text_field", form: form, object: user, key: :full_name
  = render "forms/horizontal/text_field", form: form, object: user, key: :first_name
  = render "forms/horizontal/text_field", form: form, object: user, key: :last_name
  = render "forms/horizontal/email_field", form: form, object: user, key: :email
  = render "forms/horizontal/check_box", form: form, object: user, key: :emails_enabled
  = render "forms/horizontal/check_box", form: form, object: user, key: :system_admin
  = render "forms/horizontal/submit", form: form, object: user
