<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :first_name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :first_name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :last_name, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :status, 'Status', class: 'control-label' %>
    <div class="controls">
      <%= select_tag :status, options_for_select(User::STATUS, @user.status) %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :email, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :librarian, 'Librarian', class: 'control-label' %>
    <div class="controls">
      <%= check_box_tag :librarian, '1', @user.librarian %>
    </div>
  </div>

  <div class="control-group">
    <%= label_tag :system_admin, 'System Admin', class: 'control-label' %>
    <div class="controls">
      <%= check_box_tag :system_admin, '1', @user.system_admin %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit (@user.new_record? ? "Create User" : "Update User"), class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
