%ul.list-unstyled
  - site_invitations.each do |site_user|
    %li
      = user.name
      was invited to
      = link_to site_user.project.name, site_user.project
      = succeed "." do
        = simple_time site_user.created_at
        = " by #{site_user.creator.name}" if site_user.creator
