<%= render partial: 'layouts/per_page', locals: { type: 'users', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.last_name', 'Name', 'users_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.email', 'Email', 'users_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.current_sign_in_at', 'Recent Activity', 'users_search') %></th>
      <% if current_user.system_admin? %>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.status', 'Status', 'users_search') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.system_admin', 'System Admin', 'users_search') %></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= recent_activity(user.current_sign_in_at) %></td>
      <% if current_user.system_admin? %>
        <td><%= user.status %></td>
        <td style="text-align:center"><%= simple_check user.system_admin? %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-mini' %>
          <% unless current_user == user %>
            <%= link_to 'Delete', user, confirm: "Are you sure you want to delete User #{user.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<center><%= paginate @users %></center>
