<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @users.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.last_name', 'Name') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.email', 'Email') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.current_sign_in_at', 'Recent Activity') %></th>
      <% if current_user.system_admin? %>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.status', 'Status') %></th>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'users.system_admin', 'System Admin') %></th>
        <th></th>
      <% end %>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= image_tag user.avatar_url(18), style: 'vertical-align:text-bottom' %> <%= link_to user.name, user %></td>
      <td><%= user.email %></td>
      <td><%= recent_activity(user.current_sign_in_at) %></td>
      <% if current_user.system_admin? %>
        <td><%= user.status %></td>
        <td style="text-align:center"><%= simple_check user.system_admin? %></td>
        <td>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default btn-xs' %>
          <% unless current_user == user %>
            <%= link_to 'Delete', user, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete User #{user.name}?" } %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @users, theme: "contour" %></div>
