.dashboard-container
  %table.table.table-striped.table-borderless.table-hover
    %col
    %col
    %col
    %col
    %col{ width: '1px' }
    %thead
      %tr
        = th_sort_field @order, 'users.last_name', 'Name'
        = th_sort_field @order, 'users.current_sign_in_at', 'Recent Activity'
        = th_sort_field @order, 'users.sign_in_count', 'Sign in Count', extra_class: 'text-right hidden-xs'
        = th_sort_field @order, 'users.system_admin', 'System Admin', extra_class: 'center hidden-xs'
        %th

    - @users.each do |user|
      %tr
        %td.nowrap
          = image_tag user.avatar_url(18), style: 'vertical-align:text-bottom', alt: ''
          = link_to user do
            %span.hidden-xs=user.name
            %span.hidden-sm.hidden-md.hidden-lg=user.nickname
        %td= recent_activity(user.current_sign_in_at)
        %td.text-right.hidden-xs= number_with_delimiter user.sign_in_count
        %td.center.hidden-xs= simple_check user.system_admin?
        %td.nowrap

          .dropdown
            = link_to '#', class: 'btn btn-default btn-xs dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_user_path(user) do
                  %span.glyphicon.glyphicon-edit
                  Edit
              - unless current_user == user
                %li.divider{ role: 'separator' }
                %li
                  = link_to user, method: :delete, data: { confirm: "Are you sure you want to delete User #{user.name}?" } do
                    .text-danger
                      %span.glyphicon.glyphicon-trash
                      Delete

.center= paginate @users, theme: 'bootstrap'
