- @title = "Edit User - #{@user.username_was}"

- content_for :header, @user.full_name_was.presence || @user.username_was
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "users", users_path
    %li= link_to @user.username_was.downcase, @user
    %li.breadcrumb-muted edit
- content_for :sidebar, render("admin/sidebar")

.dashboard-container
  = render "users/form", user: @user
