- @title = "Users"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .per-page= render "layouts/per_page", per_page: 40, object_count: @users.total_count
        = @title
        = render "search/toggle"

= render "search/simple", url: users_path

.dashboard-container
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col
    %col
    %col
    %col
    %col{ width: "1px" }
    %thead
      %tr
        = th_sort_field @order, "users.last_name", "Name"
        = th_sort_field @order, "users.current_sign_in_at", "Recent Activity"
        = th_sort_field @order, "users.sign_in_count", "Sign in Count", extra_class: "text-right d-none d-sm-table-cell"
        = th_sort_field @order, "users.system_admin", "System Admin", extra_class: "text-center d-none d-sm-table-cell"
        %th

    - @users.each do |user|
      %tr
        %td.nowrap
          = image_tag user.avatar_url(18), style: "vertical-align:text-bottom", alt: ""
          = link_to user do
            .d-none.d-sm-inline= user.name
            .d-inline.d-sm-none= user.nickname
        %td= recent_activity user.current_sign_in_at
        %td.text-right.d-none.d-sm-table-cell= number_with_delimiter user.sign_in_count
        %td.text-center.d-none.d-sm-table-cell= simple_check user.system_admin?
        %td.nowrap

          .dropdown
            = link_to "#", class: "btn btn-default btn-xs dropdown-toggle", data: { toggle: "dropdown" } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_user_path(user) do
                  %i.fa.fa-pencil
                  Edit
              - unless current_user == user
                %li.divider{ role: "separator" }
                %li
                  = link_to user, method: :delete, data: { confirm: "Delete #{user.name}?" } do
                    .text-danger
                      %i.fa.fa-trash
                      Delete

.text-center= paginate @users, theme: "bootstrap"
