<% @title = "My Settings" %>

<div class="page-header">
  <h2>Gravatar Icon</h2>
</div>

<%= image_tag current_user.avatar_url(80, 'identicon'), class: 'img-rounded' %>

You can change your avatar at <%= link_to 'gravatar.com', 'http://gravatar.com', target: '_blank' %>

<div class="page-header">
  <h2>Email Notifications</h2>
</div>

<%= hidden_field_tag 'isdirty', '1' %>

<%= form_tag update_settings_user_path(current_user), method: :post, id: 'email_settings' do %>
    <div class="control-group">
      <div class="controls sheet-container">
        <label class="checkbox <%= 'selected' if current_user.email_on?(:send_email) %>"><%= check_box_tag 'email[send_email]', '1', current_user.email_on?(:send_email) %> <%= 'Receive email' %></label>
      </div>
    </div>
    <% User::EMAILABLES.each do |notification, description| %>
      <div class="control-group" style="margin:0px 0px 20px 20px">
        <label class="control-label"><b><%= notification.to_s.titleize %></b></label>
        <div class="controls sheet-container">
          <label class="checkbox <%= 'selected' if current_user.email_on?(notification) %>"><%= check_box_tag "email[#{notification.to_s}]", '1', current_user.email_on?(notification) %> <%= description %></label>
        </div>
      </div>
    <% end %>
    <hr />
    <br />

    <% current_user.all_viewable_projects.order('name').in_groups_of(3).each do |row_projects| %>
      <div class="row">
        <% row_projects.each do |project| %>
          <div class="col-lg-4">
            <% if project %>
              <div class="control-group">
                <label class="control-label"><b><%= project.name %></b></label>
                <div style="display:none" class="controls sheet-container">
                  <label class="checkbox <%= 'selected' if current_user.email_on?("project_#{project.id}") %>">
                    <%= check_box_tag "email[project_#{project.id}]", '1', current_user.email_on?("project_#{project.id}") %>
                    <%= "Receive email" %>
                  </label>
                </div>
              </div>
              <div style="margin:0px 0px 20px 20px">
                <% User::EMAILABLES.each do |notification, description| %>
                  <div class="control-group">
                    <div class="controls sheet-container">
                      <label class="checkbox <%= 'selected' if current_user.email_on?("project_#{project.id}_#{notification.to_s}") %>">
                        <%= check_box_tag "email[project_#{project.id}_#{notification.to_s}]", '1', current_user.email_on?("project_#{project.id}_#{notification.to_s}") %>
                        <%= notification.to_s.titleize %>
                      </label>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

  <div class="form-actions">
    <% form_name = "email_settings" %>
    <%= link_to "Save Settings", '#', class: 'btn btn-primary', data: { object: 'settings-save', target: "##{form_name}" } %>
  </div>
<% end %>
