- @title = @user.full_name

- content_for :header do
  - if current_user.admin?
    .float-right
      .dropdown
        = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
          .d-inline-block.d-sm-none
            = icon("fas", "cog")
          .d-none.d-sm-inline-block Actions

        .dropdown-menu.dropdown-menu-right
          = link_to edit_user_path(@user), class: "dropdown-item" do
            = icon("fas", "pencil-alt")
            Edit

          - unless current_user == @user
            .dropdown-divider
            = link_to @user, method: :delete, data: { confirm: "Delete #{@user.full_name}?" }, class: "dropdown-item text-danger" do
              = icon("fas", "trash-alt")
              Delete
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "users", users_path
    %li.breadcrumb-muted= @user.username.downcase

.dashboard-container
  = render "forms/horizontal/show/text", object: @user, key: :full_name
  = render "forms/horizontal/show/text", object: @user, key: :email
  = render "forms/horizontal/show/check_box", object: @user, key: :emails_enabled
  = render "forms/horizontal/show/check_box", object: @user, key: :admin
  = render "forms/horizontal/show/text", object: @user, key: :sign_in_count
  = render "forms/horizontal/show/generic", title: "Theme", content: render("users/theme", user: @user)
  = render "forms/horizontal/show/generic", title: "Joined", content: @user.created_at.strftime("%-m/%-d/%Y") if @user.created_at.present?
  = render "forms/horizontal/show/generic", title: "Most Recent Session", content: @user.current_sign_in_at.strftime("%-m/%-d/%Y") if @user.current_sign_in_at.present?
  = render "forms/horizontal/show/generic", title: "Projects", content: render("users/projects", user: @user)
  = render "forms/horizontal/show/generic", title: "Sites", content: render("users/sites", user: @user)
  - site_invitations = SiteUser.where(invite_email: @user.email).where(user_id: nil)
  - if current_user.admin? && site_invitations.count > 0
    = render "forms/horizontal/show/generic", title: "Invitations", content: render("users/invitations", user: @user, site_invitations: site_invitations)
  = render "forms/horizontal/show/generic", title: "Profile picture", content: render("users/profile_picture", user: @user) if @user[:profile_picture]
