<% @title = @user.name %>
<div class="page-header">
  <h1>
    <%= link_to_if current_user.system_admin?, "Users", users_path %> &middot; <%= @title %>
    <% if current_user.system_admin? %>
      <%= link_to "Edit User", edit_user_path(@user), class: 'btn btn-mini' %>
      <%= link_to 'Delete User', @user, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete User #{@user.name}?" } unless current_user == @user %>
    <% end %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Email</dt>
  <dd><%= @user.email %></dd>

  <% if current_user.system_admin? %>
    <dt>Status</dt>
    <dd><%= @user.status %></dd>

    <dt>System Admin</dt>
    <dd><%= simple_check @user.system_admin? %></dd>
  <% end %>

  <dt>Projects</dt>
  <dd>
    <ul>
      <% @user.all_viewable_projects.each do |project| %>
        <% if current_user.all_viewable_projects.pluck(:id).include?(project.id) %>
          <li><%= link_to project.name, project %></li>
        <% end %>
      <% end %>
    </ul>
  </dd>

  <dt>Sites</dt>
  <dd>
    <ul>
      <% @user.all_viewable_sites.each do |site| %>
        <% if current_user.all_viewable_sites.pluck(:id).include?(site.id) %>
          <li><%= link_to "#{site.name} - #{site.project.name}", [site.project, site] %></li>
        <% end %>
      <% end %>
    </ul>
  </dd>

  <dt>User Avatar</dt>
  <dd><%= image_tag @user.avatar_url, class: 'img-rounded' %></dd>

  <% if @user.authentications.size > 0 %>
    <dt>Authentications</dt>
    <dd>
      <div style="margin-top:10px">
        <% @user.authentications.each do |authentication| %>
          <div class="authentication">
            <%= image_tag "contour/#{authentication.provider}_32.png", height: "32px" %>
            <div class="provider"><%= authentication.provider.titleize %></div>
            <div class="uid"><%= authentication.uid %></div>
          </div>
        <% end %>
      </div>
    </dd>
  <% end %>
</dl>

