- @title = @user.name
- if current_user.system_admin?
  - @breadcrumbs = []
  - @breadcrumbs << ["Users", users_path]

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        - if current_user.system_admin?
          .pull-right
            .dropdown
              = link_to "#", class: "btn btn-default dropdown-toggle", data: { toggle: "dropdown" } do
                Actions
                %strong.caret

              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to edit_user_path(@user) do
                    %i.fa.fa-pencil
                    Edit

                - unless current_user == @user
                  %li.divider{ role: "separator" }
                  %li
                    = link_to @user, method: :delete, data: { confirm: "Delete #{@user.name}?" } do
                      .text-danger
                        %i.fa.fa-trash
                        Delete
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }

    - if current_user.system_admin?
      %tr
        %th Email
        %td= @user.email

      %tr
        %th
          Emails Enabled
        %td
          = simple_check @user.emails_enabled?

      %tr
        %th System Admin
        %td= simple_check @user.system_admin?

    %tr
      %th Projects
      %td
        %ul.list-unstyled
          - @user.all_viewable_and_site_projects.order(:name).each do |project|
            - if current_user.all_viewable_and_site_projects.pluck(:id).include?(project.id)
              %li= link_to project.name, project
    %tr
      %th Sites
      %td
        %ul.list-unstyled
          - @user.all_viewable_sites.each do |site|
            - if current_user.all_viewable_sites.pluck(:id).include?(site.id)
              %li= link_to "#{site.name} - #{site.project.name}", [site.project, site]

    - site_invitations = SiteUser.where(invite_email: @user.email).where(user_id: nil)
    - if current_user.system_admin? && site_invitations.count > 0
      %tr
        %th Invitations
        %td
          %ul.list-unstyled
            - site_invitations.each do |site_user|
              %li
                = @user.name
                was invited to
                = link_to site_user.project.name, site_user.project
                = succeed "." do
                  = simple_time site_user.created_at
                  = " by #{site_user.creator.name}" if site_user.creator
    %tr
      %th User Avatar
      %td= image_tag @user.avatar_url, class: "img-rounded"
