- @title = "#{@user.username} - Users"

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown", edit_url: edit_user_path(@user), delete_url: @user, delete_confirmation: "Delete #{@user.full_name}?"
  = @user.full_name.presence || @user.username
= render "admin/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "users", users_path
    %li.breadcrumb-muted= @user.username.downcase
- content_for :sidebar, render("admin/sidebar")

.dashboard-container
  = render "forms/horizontal/show/text", object: @user, key: :full_name
  = render "forms/horizontal/show/text", object: @user, key: :email
  = render "forms/horizontal/show/check_box", object: @user, key: :emails_enabled
  = render "forms/horizontal/show/check_box", object: @user, key: :admin
  = render "forms/horizontal/show/text", object: @user, key: :sign_in_count
  = render "forms/horizontal/show/generic", title: "Theme", content: render("users/theme", user: @user)
  = render "forms/horizontal/show/generic", title: "Joined", content: @user.created_at.strftime("%-m/%-d/%Y") if @user.created_at.present?
  = render "forms/horizontal/show/generic", title: "Most Recent Session", content: @user.current_sign_in_at.strftime("%-m/%-d/%Y") if @user.current_sign_in_at.present?
  - invites = @user.invites.includes(:project, :inviter).pending
  - if current_user.admin? && invites.present?
    = render "forms/horizontal/show/generic", title: "Invites", content: render("users/invites", user: @user, invites: invites)
  = render "forms/horizontal/show/generic", title: "Projects", content: render("users/projects", user: @user)
  = render "forms/horizontal/show/generic", title: "Profile picture", content: render("users/profile_picture", user: @user) if @user[:profile_picture]
