- @title = "Change your password"

- @no_footer = true

.background-gradient

%p.lead.text-center.text-white.text-shadow
  Change your password

.sign-up-form
  .sign-up-form-title
    Change Password

  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-vertical" }) do |form|
    = form.hidden_field :reset_password_token

    .form-group
      = render "layouts/label_or_errors", form: form, object: resource, key: :password, key_name: "New Password"
      = form.password_field :password, class: "form-control"

    .form-group
      = render "layouts/label_or_errors", form: form, object: resource, key: :password_confirmation, key_name: "Password Confirmation"
      = form.password_field :password_confirmation, class: "form-control"

    .form-group.submit-btn-container
      = form.submit "Change my password", class: "btn btn-primary btn-block btn-shadow"

= render "layouts/simple_footer"
