- @title = "Forgot your password?"

- render "themes/seasonal"

.page-box.last-box.d-flex.align-items-center.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container
    %p.lead.text-center.text-white= @title

    .sign-up-form
      .sign-up-form-title
        Reset password

      = form_with model: resource, as: resource_name, url: password_path(resource_name), method: :post, local: true do |form|
        = render "forms/vertical/email_field", form: form, object: resource, key: :email

        .form-group.submit-btn-container
          = form.submit "Send me reset password instructions", class: "btn btn-primary btn-block btn-shadow"
