- content_for :side_nav do
  - @side_nav = true
  #side-nav.side-nav-drawer
    .side-nav-wrapper
      %ul.side-nav-navigation
        %li.side-nav-section
          .side-nav-section-header
            = link_to 'Docs', docs_path

        %li.side-nav-section
          .side-nav-section-header
            = link_to 'Project Setup', docs_project_setup_path, class: current_page?(docs_project_setup_path) ? 'active' : nil
          %ul.side-nav-section-links.active
            %li= link_to 'Sites', docs_sites_path, class: current_page?(docs_sites_path) ? 'active' : nil
            %li= link_to 'Roles', docs_roles_path, class: current_page?(docs_roles_path) ? 'active' : nil
            %li= link_to 'Events', docs_events_path, class: current_page?(docs_events_path) ? 'active' : nil

        %li.side-nav-section
          .side-nav-section-header
            = link_to 'Designs', docs_designs_path, class: current_page?(docs_designs_path) ? 'active' : nil
          %ul.side-nav-section-links.active
            %li= link_to 'Sections', docs_sections_path, class: current_page?(docs_sections_path) ? 'active' : nil
            %li= link_to 'Variables', docs_variables_path, class: current_page?(docs_variables_path) ? 'active' : nil
            %li= link_to 'Domains', docs_domains_path, class: current_page?(docs_domains_path) ? 'active' : nil

        %li.side-nav-section
          .side-nav-section-header
            = link_to 'Modules', docs_modules_path, class: current_page?(docs_modules_path) ? 'active' : nil
          %ul.side-nav-section-links.active
            %li
              = link_to 'Adverse Events', docs_adverse_events_path, class: current_page?(docs_adverse_events_path) ? 'active' : nil

            %li= link_to 'Auto-locking Sheets', docs_locking_path, class: current_page?(docs_locking_path) ? 'active' : nil

            %li= link_to 'Blinding', docs_blinding_path, class: current_page?(docs_blinding_path) ? 'active' : nil

            %li
              = link_to 'Tablet Handoff', docs_tablet_handoff_path, class: current_page?(docs_tablet_handoff_path) ? 'active' : nil

        %li.side-nav-section
          .side-nav-section-header
            = link_to 'Randomization', docs_randomization_schemes_path, class: current_page?(docs_randomization_schemes_path) ? 'active' : nil
          %ul.side-nav-section-links.active
            %li= link_to 'Minimization', docs_minimization_path, class: current_page?(docs_minimization_path) ? 'active' : nil
            %li= link_to 'Permuted-Block', docs_permuted_block_path, class: current_page?(docs_permuted_block_path) ? 'active' : nil
            %li= link_to 'Treatment Arms', docs_treatment_arms_path, class: current_page?(docs_treatment_arms_path) ? 'active' : nil
            %li= link_to 'Stratification Factors', docs_stratification_factors_path, class: current_page?(docs_stratification_factors_path) ? 'active' : nil

        %li.side-nav-section
          .side-nav-section-header
            = link_to 'Data Entry', docs_sheets_path, class: current_page?(docs_sheets_path) ? 'active' : nil

        %li.side-nav-section
          .side-nav-section-header
            = link_to 'Data Review and Analysis', docs_data_review_path, class: current_page?(docs_data_review_path) ? 'active' : nil
          %ul.side-nav-section-links.active
            %li= link_to 'Exports', docs_exports_path, class: current_page?(docs_exports_path) ? 'active' : nil
            %li
              = link_to 'Reports', docs_reports_path, class: current_page?(docs_reports_path) ? 'active' : nil

            %li
              = link_to 'Data Quality Checks', docs_checks_path, class: current_page?(docs_checks_path) ? 'active' : nil


        %li.side-nav-section
          .side-nav-section-header
            = link_to 'Other', '#', data: { object: 'suppress-click' }, style: 'color: #ededed;'
          %ul.side-nav-section-links.active
            %li
              = link_to 'Notifications', docs_notifications_path, class: current_page?(docs_notifications_path) ? 'active' : nil
            %li
              = link_to 'Lingo, Slang, Jargon', docs_lingo_path, class: current_page?(docs_lingo_path) ? 'active' : nil
