- @title = "Data Review"
= render "docs/side_nav"

.background-gradient

%h1.docs-heading
  = @title

.docs-container
  %p
    Slice provides a number of ways to explore and visualize collected data.

  %ul
    %li= link_to "Exports", docs_exports_path
    %li= link_to "Reports", docs_reports_path
    %li= link_to "Data Quality Checks", docs_checks_path

= render "docs/links", previous_link: nil, next_link: ["Exports", docs_exports_path]
