- @title = "Filters"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("docs/sidebar")
- content_for :header, @title

.docs-container
  %p
    Slice provides a simple syntax to quickly filter subjects and sheets.
    Multiple filters can be combined to find subjects and sheets matching the
    criteria.

  %p
    %strong Usage:
  %p
    %code variable:value
  %p
    %strong Example:
  %code{ style: "text-align: right;" } bmi:missing grade:9,10 study_visit:>=2016-10-10 study_visit:<=2016-10-14

  %h3 Operators
  %p
    Sheets and subjects can be filtered by providing values and operators along
    with the variable of interest.
    For example
    %code bmi:23.0
    finds all sheets that have a BMI equal to
    = succeed "." do
      %strong 23.0
    To find a BMI greater than or equal to
    %strong 23.0
    the filter can be written as
    = succeed "." do
      %code bmi:>=23.0
    The following operators work as well.
    %code bmi:>23.0
    %code bmi:<23.0
    %code bmi:<=23.0

  %h3 Multiple Values
  %p
    Use commas to separate values to filter by multiple values.
    Do not put spaces between the values and commas.
    The filter
    %code grade=9,10,11,12
    will return results where the
    %code grade
    equals
    = succeed "," do
      %strong 9
    = succeed "," do
      %strong 10
    = succeed "," do
      %strong 11
    or
    = succeed "." do
      %strong 12

  %h3 Not Equal
  %p
    Use the
    %code !=
    operator to filter results where BMI does not equal
    %strong 23.0
    Ex:
    %code bmi:!=23.0

  %h3 Dates
  %p
    Dates can also be compared using these operators. For example the following
    provides results with a
    %strong study_visit
    on or after October 14, 2016:
    %code study_visit:>=2016-10-14

  %h2 Special Values

  %p
    Special Values:
    = succeed "," do
      %code :entered
    = succeed "," do
      %code :present
    = succeed "," do
      %code :missing
    = succeed "." do
      %code :unentered

  %h3 Entered
  %p
    The
    %code :entered
    keyword finds sheets that have data entered for a variable.
    This filter find sheets with actual values
    = succeed "," do
      %strong 23.0
    = succeed "," do
      %strong 0.0
    as well as entered missing codes
    = succeed "." do
      %strong -9

  %h3 Present
  %p
    The
    %code :present
    keyword finds sheets that have a value entered for a variable
    that is NOT a missing code. The example
    %code bmi:present
    returns sheets that have values
    %strong 23.0
    and
    = succeed "." do
      %strong 0.0

  %h3 Missing
  %p
    The
    %code :missing
    keyword finds sheets that have missing codes or are unentered.
    The example
    %code bmi:missing
    returns sheets that have missing code values
    %strong -9
    and sheets that have no values entered for BMI.

  %h3 Unentered / Blank
  %p
    The
    %code :unentered
    and
    %code :blank
    keywords find sheets that have no values entered for a variable.
    The example
    %code bmi:unentered
    returns sheets that have no values entered for BMI.

  %h3 Checks
  %p
    For projects that have
    = link_to "checks", docs_checks_path
    setup, sheets can be filtered as follow:
  %p
    To filter on sheets that are failing a check, type:
    %code checks:present
  %p
    To filter on a single check, type:
    %code= "checks:<b>NAME</b>".html_safe
    where NAME is the check name.

  %h3 Events
  %p
    For projects that have
    = link_to "events", docs_events_path
    setup, sheets can be filtered as follow:
  %p
    To filter on sheets on an event, type:
    %code events:present
  %p
    To filter sheets not on an event, type:
    %code events:missing
  %p
    To filter on a single event, type:
    %code= "events:<b>NAME</b>".html_safe
    where NAME is the event name.
  %p
    To filter subjects who don't have an event, type:
    %code= "events:!<b>NAME</b>".html_safe
    where NAME is the event name.
  %p
    To filter on a single design, type:
    %code= "designs:<b>NAME</b>".html_safe
    where NAME is the design name.
  %p
    To filter subjects who don't have an design, type:
    %code= "designs:!<b>NAME</b>".html_safe
    where NAME is the design name.


  %h3 Adverse Events

  %p
    To filter sheets by adverse events, type:

    %code has:adverse-events
    %code no:adverse-events

  %p
    To filter subjects by adverse events, type:

    %code has:adverse-events
    %code no:adverse-events
    %code adverse-events:open
    %code adverse-events:closed

  %h3 Comments

  %p
    To filter sheets and subjects by comments, type:

    %code has:comments
    %code no:comments

  %h3 File Attachments

  %p
    To filter sheets and subjects by attached files, type:

    %code has:files
    %code no:files

  %h3 Time Duration

  %p
    Time duration is stored in total seconds. To filter sheets by duration
    greater than 1 hour, type:

    %code :>3600
    %code :>3600s
    %code :>60m
    %code :>1h

  %h3 Time of Day

  %p
    Time of day is stored in total seconds since midnight. Entering an integer
    will filter by total seconds since midnight, however you can also filter by
    entering using 12- or 24-hour clock times. For example, to filter sheets by
    time of day type:

    %code :>1pm
    %code :>13:00
    %code :<=2:05:04pm
    %code :<=14:05:04
    %code :noon
    %code :midnight

  %h3 Imperial Height
  %p
    Imperial height is stored in total inches. To filter sheets by height
    greater than or equal to 6 feet, type:

    %code :>=72
    %code :>=72in
    %code :>=6ft

  %h3 Imperial Weight
  %p
    Imperial weight is stored in total ounces. To filter sheets by weight less
    than or equal to 4 pounds, type:

    %code :<=64
    %code :<=64oz
    %code :<=4lb

  %h3 Completion Coverage Percent
  %p
    Sheets can be filtered by their completion percent. Use
    %code missing
    to find sheets that haven't had their coverage computed.

    %code coverage:<80
    %code coverage:>=60
    %code coverage:missing

  %h3 Multiple Variables
  %p
    To find results where BMI is missing and grade is either 9 or 10, and a
    study visit during the week of October 10, 2016 use the following set of
    filters. Filters should be separated by a space.
  %code{ style: "text-align: right;" } bmi:missing grade:9,10 study_visit:>=2016-10-10 study_visit:<=2016-10-14

= render "docs/links", previous_link: ["Lingo", docs_lingo_path], next_link: nil
