.background-gradient

%h1.docs-heading
  Docs

.docs-container
  %h2 Index

  %p
    %ul
      %li
        = link_to 'Designs', docs_designs_path
        %ul
          %li= link_to 'Sections', '#', data: { object: 'suppress-click' }, style: 'color: #ccc;'
          %li= link_to 'Variables', docs_variables_path, style: 'color: red'
          %li= link_to 'Domains', docs_domains_path, style: 'color: red'

      %li
        = link_to 'Data Entry', docs_sheets_path
        %ul
          %li= link_to 'Auto-locking Sheets', docs_locking_path
          %li= link_to 'Events', docs_events_path

      %li= link_to 'Sites', docs_sites_path

      %li= link_to 'Roles', docs_roles_path

      %li= link_to 'Blinding', docs_blinding_path

      %li
        = link_to 'Randomization Schemes', docs_randomization_schemes_path
        %ul
          %li= link_to 'Minimization Algorithm', docs_minimization_path
          %li= link_to 'Permuted-Block Algorithm', docs_permuted_block_path
          %li= link_to 'Treatment Arms', docs_treatment_arms_path, style: 'color: red'
          %li= link_to 'Stratification Factors', docs_stratification_factors_path, style: 'color: red'

      %li
        = link_to 'Adverse Events', docs_adverse_events_path

      %li
        = link_to 'Notifications', docs_notifications_path

      %li
        = link_to 'Data Quality Checks', docs_checks_path, style: 'color: red'

      %li
        = link_to 'Reports', docs_reports_path, style: 'color: red'

      %li
        = link_to 'Project Setup', docs_project_setup_path, style: 'color: red'

      %li
        = link_to 'Lingo, Slang, Jargon', docs_lingo_path

= render 'docs/links', next_link: ['Designs', docs_designs_path, 'Start'], previous_link: nil
