- content_for :tabs do
  - current_page = current_page?(ae_module_adverse_event_path(project, adverse_event))
  = link_to ae_module_adverse_event_path(project, adverse_event), class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "inbox")
    - if current_page
      Overview
    - else
      .d-none.d-sm-inline Overview

  - current_page = current_page?(ae_module_admins_adverse_event_files_path(project, adverse_event))
  = link_to ae_module_admins_adverse_event_files_path(project, adverse_event), class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "paperclip")
    - if current_page
      Documents
    - else
      .d-none.d-sm-inline Documents

  - current_page = current_page?(log_ae_module_adverse_event_path(project, adverse_event))
  = link_to log_ae_module_adverse_event_path(project, adverse_event), class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "file-alt")
    - if current_page
      Log
    - else
      .d-none.d-sm-inline Log
