- @title = @adverse_event.name

- content_for :header do
  = @title
  %small= @adverse_event.description
= render "ae_module/admins/tabs", project: @project, adverse_event: @adverse_event
- content_for :breadcrumbs do
  %ol
    %li= link_to "adverse events", ae_module_adverse_events_path(@project)
    %li.breadcrumb-muted= @subject.name.downcase
    %li= link_to @adverse_event.name.downcase, ae_module_adverse_event_path(@project, @adverse_event)
    %li.breadcrumb-muted log

.dashboard-container
  .mb-3
    %strong Log
  - @adverse_event.ae_adverse_event_log_entries.each do |log_entry|
    = render "ae_module/log_entries/show", log_entry: log_entry
