- @title = "AeModule::Admins#dashboard"

- content_for :header, @title

.dashboard-container
  %h2 Reported AEs
  - reported_aes = @project.ae_adverse_events # .where(...) # TODO: filter reported AEs

  %table.table
    %col
    %col
    %col
    %col
    %col{ width: "1px" }
    %col{ width: "1px" }
    - reported_aes.each do |adverse_event|
      %tr
        %td= adverse_event.name
        %td= link_to adverse_event.description, ae_module_admins_adverse_event_path(@project, adverse_event)
        %td= adverse_event.subject.subject_code
        %td= adverse_event.user.nickname
        %td.nowrap
          .dropdown.d-inline-block
            = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
              = icon("fas", "paper-plane")
              Send to team...
            .dropdown-menu.dropdown-menu-right
              - @project.ae_review_teams.each do |team|
                = link_to team.name, "#", class: "dropdown-item", data: { object: "suppress-click" }
          = link_to ae_module_admins_request_additional_details_path(@project, adverse_event), class: "btn btn-light btn-sm" do
            = icon("fas", "question-circle")
            Request additional feedback
        %td
          = link_to "#", class: "btn btn-light btn-sm" do
            = icon("fas", "list-alt")
            Log
