- @title = @adverse_event.name

- content_for :header do
  = @title
  %small= @adverse_event.description
= render "ae_module/admins/tabs", project: @project, adverse_event: @adverse_event
- content_for :breadcrumbs do
  %ol
    %li= link_to "adverse events", ae_module_adverse_events_path(@project)
    %li.breadcrumb-muted= @subject.name.downcase
    %li= link_to @adverse_event.name.downcase, ae_module_adverse_event_path(@project, @adverse_event)
    %li.breadcrumb-muted request additional details

.dashboard-container
  = form_with model: @adverse_event_info_request, url: ae_module_admins_submit_request_additional_details_path(@project, @adverse_event), method: :post, local: true do |form|
    = render "forms/vertical/text_field", form: form, object: @adverse_event_info_request, key: :comment, key_name: "Request additional details"
    = render "forms/vertical/submit", form: form, object: @adverse_event_info_request, submit_text: "Submit request", cancel: ae_module_adverse_event_path(@project, @adverse_event)

