- @title = "Medications"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")

- content_for :header do
  - if @subject.editable_by?(current_user)
    .float-right
      = link_to plus_or("Add Medication"), new_project_subject_medication_path(@project, @subject), class: "btn btn-accent btn-shadow"
      - if @subject.medications.where.not(position: nil).count.zero?
        = link_to plus_or("Start Medication Review"), start_review_project_subject_medications_path(@project, @subject), method: :post, class: "btn btn-accent btn-shadow #{"disabled" if @subject.medications.blank?}"
      - else
        = link_to continue_review_project_subject_medications_path(@project, @subject), method: :post, class: "btn btn-accent btn-shadow" do
          Continue Medication Review
          = icon("fas", "caret-right")
  = @title

- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 20, object_count: @medications.total_count

- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code.downcase, [@project, @subject]
    %li.breadcrumb-muted medications

- if @medications.present?
  - separator_found = false
  - @medications.each_with_index do |medication, index|
    - if medication.stopped? && !separator_found
      - separator_found = true
      .dashboard-heading.text-center.text-sm-left Stopped Medications
    = render "medications/card", medication: medication, actions: true

  .center-horizontally= paginate @medications, theme: "bootstrap"

  - if false
    .dashboard-container.dashboard-table
      %table.table.table-striped.table-borderless.table-hover.table-sticky
        %col{ width: "1px" }
        %col
        %col{ width: "1px" }
        %col{ width: "1px" }
        %col{ width: "1px" }
        %thead
          %tr
            %th Position
            %th Name
            %th.text-center.nowrap Start date
            %th.text-center.nowrap Stop date
            %th.text-center Actions

        %tbody
          - @medications.includes(:project, :subject).each do |medication|
            %tr
              %td= medication.position
              %td= link_to medication.name, [medication.project, medication.subject, medication]
              %td.text-center.nowrap= medication.fuzzy_pretty(:start_date_fuzzy)
              %td.text-center.nowrap= medication.fuzzy_pretty(:stop_date_fuzzy)
              %td.text-center
                = render "layouts/edit_delete_dropdown", edit_url: edit_project_subject_medication_path(medication.project, medication.subject, medication), delete_url: [medication.project, medication.subject, medication], delete_confirmation: "Delete #{medication.name}?"
    .center-horizontally= paginate @medications, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    = icon("fas", "file-prescription")
    No medications entered for this subject.
