- @title = @medication.name
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li= link_to @subject.subject_code, [@project, @subject]
    %li= link_to "medications", project_subject_medications_path(@project, @subject)
    %li= link_to @medication.name.to_s.downcase, [@project, @subject, @medication]
    %li.breadcrumb-muted review

.medication-review-question
  = icon("fas", "question-circle", class: "mr-1")
  Is participant still taking
  = succeed "?" do
    %strong= @medication.name

.mb-3
  = link_to still_taking_project_subject_medication_path(@project, @subject, @medication), method: :post, class: "btn btn-primary btn-shadow mr-3" do
    = icon("fas", "check-circle")
    Yes
    = icon("fas", "caret-right")

  = link_to something_changed_project_subject_medication_path(@project, @subject, @medication), class: "btn btn-link" do
    = icon("fas", "exclamation-circle")
    No, something changed

  = link_to stopped_completely_project_subject_medication_path(@project, @subject, @medication), class: "btn btn-link" do
    = icon("fas", "stop-circle")
    No, stopped completely

= render "medications/card", medication: @medication, actions: false
