- @title = @medication.name
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")
- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_project_subject_medication_path(@project, @subject, @medication), delete_url: [@project, @subject, @medication], delete_confirmation: "Delete #{@medication.name}?"
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to @subject.subject_code, [@project, @subject]
    %li= link_to "medications", project_subject_medications_path(@project, @subject)
    %li.breadcrumb-muted= @medication.name.to_s.downcase

.dashboard-container
  = render "forms/horizontal/show/text", object: @medication, key: :position
  = render "forms/horizontal/show/text", object: @medication, key: :name
  - @project.medication_variables.each do |medication_variable|
    - medication_value = @medication.medication_values.find_by(medication_variable: medication_variable)
    = render "forms/horizontal/show/generic", title: medication_variable.name, content: medication_value&.value

  = render "forms/horizontal/show/generic", title: "Start date", content: @medication.fuzzy_pretty(:start_date_fuzzy)
  = render "forms/horizontal/show/generic", title: "Stop date", content: @medication.fuzzy_pretty(:stop_date_fuzzy)

= link_to plus_or("MEDICATION CREATED PROTOTYPE"), medication_added_project_subject_path(@project, @subject, number: 1), class: "btn btn-accent btn-shadow"
