- @title = @medication.name
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    %li= link_to "medications", project_subject_medications_path(@project, @subject)
    %li= link_to @medication.name.to_s.downcase, [@project, @subject, @medication]
    %li.breadcrumb-muted stopped

.medication-review-question
  = icon("fas", "question-circle", class: "mr-1")
  When did participant stop taking
  = succeed "?" do
    %strong= @medication.name

.dashboard-container
  .text-center{ style: "font-size: 1.5rem;" }
    = form_with model: @medication, url: submit_stopped_completely_project_subject_medication_path(@project, @subject, @medication), method: :post, local: true do |form|
      = render "medications/fuzzy_date_form_control", form: form, object: @medication, key: :stop_date_fuzzy, key_name: "Stop date", inline_buttons: false
      = render "forms/vertical/submit", form: form, object: @medication, cancel: false, submit_text: "Submit change and continue review"
