%td= link_to check.name, editor_project_check_path(@project, check)
%td.d-none.d-sm-table-cell.text-center= simple_check check.expression.present?
%td.d-none.d-sm-table-cell.text-center= simple_check check.archived?
%td.nowrap.text-center
  .dropdown
    = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
      .d-inline-block.d-sm-none
        = icon("fas", "cog")
      .d-none.d-sm-inline-block Actions

    .dropdown-menu.dropdown-menu-right
      = link_to edit_editor_project_check_path(@project, check), class: "dropdown-item" do
        = icon("fas", "pencil-alt")
        Edit
      = link_to editor_project_check_path(@project, check, check: { archived: check.archived? ? "0" : "1" }), method: :patch, remote: true, class: "dropdown-item" do
        = icon("fas", "archive")
        - if check.archived?
          Restore
        - else
          Archive
      .dropdown-divider
      = link_to editor_project_check_path(@project, check), method: :delete, remote: true, data: { confirm: "Delete \"#{check.name}\" check?" }, class: "dropdown-item text-danger" do
        = icon("fas", "trash-alt")
        Delete
