- url = @check.new_record? ? editor_project_checks_path(@project) : editor_project_check_path(@project, @check)
- method = @check.new_record? ? :post : :patch

= form_for [@project, @check], url: url, method: method, html: { class: 'form-horizontal' } do |f|
  - if @check.errors.any?
    .callout.callout-danger
      %strong
        = pluralize @check.errors.count, 'error'
        prohibited this check from being saved

      %ul
        - @check.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control', data: { object: (@check.new_record? ? 'create-slug' : ''), target: '#check_slug' }

  .form-group
    = f.label :slug, 'URL Slug', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :slug, class: 'form-control'
      .callout.callout-info
        %strong Naming convention
        %ul
          %li
            Must be a lowercase letter
            %code a-z
            followed by lowercase letters
            = succeed ',' do
              %code a-z
            numbers
            = succeed ',' do
              %code 0-9
            or dashes
            = succeed '.' do
              %code -
        %p
          Ex:
          %code anthropometry-check

  .form-group
    = f.label :description, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    = f.label :message, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :message, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :archived
          Check this to archive the check. Archived checks will not show
          alongside other data checks for project members.

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @check.new_record? ? editor_project_checks_path(@project) : editor_project_check_path(@project, @check), class: 'btn btn-default'
