- @title = "#{@check.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = link_to @check.name_was, editor_project_check_path(@project, @check)
        Edit

.dashboard-container= render 'form'
