- @title = "#{@check.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  = link_to @check.name_was, editor_project_check_path(@project, @check)
  Edit

.dashboard-container= render "form", check: @check
