- @title = @check.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_editor_project_check_path(@project, @check), delete_url: editor_project_check_path(@project, @check), delete_confirmation: "Delete \"#{@check.name}\" check?"
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "checks", editor_project_checks_path(@project)
    %li.breadcrumb-muted= (@check.slug.presence || @check.name).downcase

.dashboard-container
  - if @check.expression.present?
    - engine = ::Engine::Engine.new(@project, current_user)
    - engine.lexer.lexer(@check.expression)
    - engine.parser.parse(engine.lexer.tokens)
    = render "forms/horizontal/show/generic", title: "Expression", content: render("engine/tokens", engine: engine)
  = render "forms/horizontal/show/markdown", object: @check, key: :message if @check.message.present?
  = render "forms/horizontal/show/markdown", object: @check, key: :description if @check.description.present?
  = render "forms/horizontal/show/text", object: @check.user, key: :full_name, key_name: "Creator"

  = render "forms/horizontal/show/check_box", object: @check, key: :archived if @check.archived?

- unless @check.archived?
  .dashboard-container
    .float-right.text-muted
      - if @check.last_run_at.present?
        Last run
        = @check.last_run_at.strftime("%a, %b %-d at %-l:%M %p.")
      - else
        Update requested.

    Checks are run hourly.
    = link_to "Request update.", request_run_editor_project_check_path(@project, @check), method: :post if @check.last_run_at.present?

- if @check.expression.present?
  = hidden_field_tag :expressions, @check.expression, data: { object: "expressions-input", url: expressions_engine_project_path(@project, format: "js") }
  .engine-container
    .float-right
      #run-ms.d-inline.text-secondary.small{ style: "font-size: 1.5rem;font-weight: 300;" }
    #subjects-count.mb-3{ style: "font-size: 1.5rem;" }

    #sobjects-table
