- @title = @check.name
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .dropdown
            = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_editor_project_check_path(@project, @check) do
                  %span.glyphicon.glyphicon-edit
                  Edit
              %li.divider{ role: 'separator' }
              %li
                = link_to editor_project_check_path(@project, @check), method: :delete, data: { confirm: "Are you sure you want to delete Check #{@check.name}?" } do
                  .text-danger
                    %span.glyphicon.glyphicon-trash
                    Delete

        = render 'layouts/side_nav_header_button'
        = @title

.dashboard-container
  .row
    .col-sm-2.col-buffer
      %strong Creator
    .col-sm-10.col-buffer= @check.user.name

  .row
    .col-sm-2.col-buffer
      %strong Description
    .col-sm-10.col-buffer= simple_markdown @check.description

  - if @check.message.present?
    .row
      .col-sm-2.col-buffer
        %strong Message
      .col-sm-10.col-buffer
        .alert.alert-danger
          = @check.message

  .row
    .col-sm-2.col-buffer
      %strong Archived
    .col-sm-10.col-buffer= simple_check @check.archived

  .row
    .col-sm-2.col-buffer
      %strong= link_to 'Filters', editor_project_check_check_filters_path(@project, @check)
    .col-sm-10.col-buffer
      - all_sheets = current_user.all_viewable_sheets.where(id: @check.sheets.select(:id))
      - all_subjects = current_user.all_viewable_subjects.where(id: @check.subjects.select(:id))
      %table.table
        %thead
          %tr
            %th
            %th
            %th
            %th.text-right Subjects
            %th.text-right Sheets
        %tfoot
          %tr
            %th
            %th
            %th
            %th.text-right= number_with_delimiter all_subjects.count
            %th.text-right= number_with_delimiter all_sheets.count
        - @check.check_filters.each do |check_filter|
          %tr
            %td
              = link_to check_filter.name, editor_project_check_check_filter_path(@project, @check, check_filter)
            %td
              - if check_filter.variable
                - if check_filter.operator == 'missing'
                  %code MISSING
                - else
                  %code= check_filter.database_operator
            %td
              - if check_filter.variable
                - check_filter.check_filter_values.each do |check_filter_value|
                  %code
                    = link_to check_filter_value.value, editor_project_check_check_filter_check_filter_value_path(@project, @check, check_filter, check_filter_value)
            %td.text-right
              = number_with_delimiter current_user.all_viewable_subjects.where(id: check_filter.subjects.select(:id)).count
            %td.text-right
              = number_with_delimiter current_user.all_viewable_sheets.where(id: check_filter.sheets.select(:id)).count

- if all_sheets.count > 40
  %h3.text-white.text-shadow Top 40 Results
- if all_sheets.count > 0
  .dashboard-container
    = link_to project_sheets_path(@project, search: "checks:#{@check.slug}"), class: 'btn btn-default' do
      View All Sheets
      %span.glyphicon.glyphicon-new-window
    %table.table.table-borderless.table-hover
      %col{ width: '1px' }
      %thead
        %th Subject
        %th Sheet
        - @check.check_filters.each do |check_filter|
          %th.center
            %code= check_filter.name

      - all_sheets.includes(:subject).order('subjects.subject_code').limit(40).group_by(&:subject).each do |subject, sheets|
        %tbody
          - sheets.each_with_index do |sheet, index|
            %tr
              %td= link_to subject.subject_code, [@project, subject] if index == 0
              %td= link_to sheet.name, [sheet.project, sheet]
              - @check.check_filters.each do |check_filter|
                %td.center
                  - if check_filter.filter_type == 'randomized'
                    = simple_check true
                  - elsif check_filter.variable
                    - sheet.sheet_variables.where(variable: check_filter.variable).each do |sheet_variable|
                      = sheet_variable.get_response(:raw)
- else
  - if all_subjects.count > 40
    %h3.text-white.text-shadow Top 40 Results
  - if all_subjects.count > 0
    .dashboard-container
      %table.table.table-borderless.table-hover
        %col{ width: '1px' }
        %thead
          %th Subject
          - @check.check_filters.each do |check_filter|
            %th.center
              %code= check_filter.name

        - all_subjects.order(:subject_code).limit(40).each do |subject|
          %tbody
            %tr
              %td= link_to subject.subject_code, [subject.project, subject]
              - @check.check_filters.each do |check_filter|
                %td.center
                  - if check_filter.filter_type == 'randomized'
                    = simple_check true
