- @title = @check.name

- links = []
- links << ['Checks', editor_project_checks_path(@project)]
- links << [@check.name, editor_project_check_path(@project, @check)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid

    %h2.underline-header
      = @title
      = link_to 'Edit Check', edit_editor_project_check_path(@project, @check), class: 'btn btn-default btn-xs'
      = link_to 'Delete Check', editor_project_check_path(@project, @check), method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Check #{@check.name}?" }

    %dl.dl-horizontal
      %dt Description
      %dd= simple_markdown @check.description

      %dt Creator
      %dd= @check.user.name

      %dt Archived
      %dd= simple_check @check.archived

      - all_sheets = @check.sheets(current_user)
      - all_subjects = @check.subjects(current_user)

      %dt= link_to 'Filters', editor_project_check_check_filters_path(@project, @check)
      %dd
        %table.table
          %thead
            %tr
              %th
              %th
              %th
              %th.text-right Subjects
              %th.text-right Sheets
          %tfoot
            %tr
              %th
              %th
              %th
              %th.text-right= number_with_delimiter all_subjects.count
              %th.text-right= number_with_delimiter all_sheets.count
          - @check.check_filters.each do |check_filter|
            %tr
              %td
                %code
                  = link_to check_filter.name, editor_project_check_check_filter_path(@project, @check, check_filter)
              %td
                - if check_filter.variable
                  %code= check_filter.database_operator
              %td
                - if check_filter.variable
                  - check_filter.check_filter_values.each do |check_filter_value|
                    %code
                      = link_to check_filter_value.value, editor_project_check_check_filter_check_filter_value_path(@project, @check, check_filter, check_filter_value)
              %td.text-right
                = number_with_delimiter check_filter.subjects(current_user).count
              %td.text-right
                = number_with_delimiter check_filter.sheets(current_user).count

    - if all_sheets.count > 40
      %h2.text-muted Top 40 Results
    - if all_sheets.count > 0
      %table.table.table-borderless
        %col{ width: '1px' }
        %thead
          %th Subject
          %th Sheet
          - @check.check_filters.each do |check_filter|
            %th.center
              %code= check_filter.name

        - all_sheets.includes(:subject).order('subjects.subject_code').limit(40).group_by(&:subject).each do |subject, sheets|
          %tbody
            - sheets.each_with_index do |sheet, index|
              %tr
                %td= subject.subject_code if index == 0
                %td= link_to sheet.name, [sheet.project, sheet]
                - @check.check_filters.each do |check_filter|
                  %td.center
                    - if check_filter.filter_type == 'randomized'
                      = simple_check true
                    - elsif check_filter.variable
                      - sheet.sheet_variables.where(variable: check_filter.variable).each do |sheet_variable|
                        = sheet_variable.get_response(:raw)
    - else
      - if all_subjects.count > 40
        %h2.text-muted Top 40 Results
      - if all_subjects.count > 0
        %table.table.table-borderless
          %col{ width: '1px' }
          %thead
            %th Subject
            - @check.check_filters.each do |check_filter|
              %th.center
                %code= check_filter.name

          - all_subjects.order(:subject_code).limit(40).each do |subject|
            %tbody
              %tr
                %td= link_to subject.subject_code, [subject.project, subject]
                - @check.check_filters.each do |check_filter|
                  %td.center
                    - if check_filter.filter_type == 'randomized'
                      = simple_check true
