- @title = @check.name

- links = []
- links << ['Checks', editor_project_checks_path(@project)]
- links << [@check.name, editor_project_check_path(@project, @check)]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid

    %h2.underline-header
      = @title
      = link_to 'Edit Check', edit_editor_project_check_path(@project, @check), class: 'btn btn-default btn-xs'
      = link_to 'Delete Check', editor_project_check_path(@project, @check), method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Check #{@check.name}?" }


    %dl.dl-horizontal
      %dt Description
      %dd= simple_markdown @check.description

      %dt Creator
      %dd= @check.user.name

      %dt Archived
      %dd= simple_check @check.archived

      - all_sheets = @check.compute(current_user)

      %dt= link_to 'Filters', editor_project_check_check_filters_path(@project, @check)
      %dd
        %table.table
          %tfoot
            %tr
              %th
              %th
              %th
              %th
              %th.text-right= all_sheets.count
          - @check.check_filters.each do |check_filter|
            %tr
              %td
                %code
                  = link_to check_filter.name, editor_project_check_check_filter_path(@project, @check, check_filter)
              %td
                - if check_filter.variable
                  %code= check_filter.operator
              %td
                - if check_filter.variable
                  %code= check_filter.values
              %td
                \:
              %td.text-right
                %code= check_filter.compute(current_user).count


      %dt Sheets
      %dd
        %ul
          - all_sheets.limit(10).each do |sheet|
            %li= link_to 'sheet', [sheet.project, sheet]
          - if all_sheets.count > 10
            %li.text-muted Top 10 Results
