- @title = "Summary Report"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << ["Reports", reports_reports_project_path(@project)]

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.dashboard-container
  = form_tag report_reports_project_path(@project), method: :post, remote: true, class: "form-inline", id: "report_form" do
    = hidden_field_tag :page

    %label By
    = render "layouts/radio_button_group", name: "by", options: [["Week", "week"], ["Month", "month"], ["Year", "year"]], selected: (params[:by].present? ? params[:by] : "month")

    %label Percent
    = render "layouts/radio_button_group", name: "percent", options: [["No Percents", "none"], ["% by Row", "row"], ["% by Column", "column"]], selected: @percent

    %span.dropdown
      = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
        Export
      .dropdown-menu
        = link_to "CSV", "#", data: { object: "export", format: "csv", target: "#report_form" }, class: "dropdown-item"
        = link_to "PDF - Portrait", "#", data: { object: "export-report-pdf", orientation: "portrait", target: "#report_form" }, class: "dropdown-item"
        = link_to "PDF - Landscape", "#", data: { object: "export-report-pdf", orientation: "landscape", target: "#report_form" }, class: "dropdown-item"

    = submit_tag "Refresh", class: "btn btn-primary btn-sm"

.dashboard-container
  #report=render "reports/report"
