<% position = Time.zone.now.to_i.to_s + Time.zone.now.usec.to_s unless position %>
<% @position = position %>

<div id="event_<%= @position %>" style="line-height:30px;padding-top:5px">
  <div class="row">
    <div class="col-xs-2">
      <%= select_tag "schedule[items][][event_id]", options_for_select([[nil, nil]] + @project.events.order(:name).collect{|e| [e.name, e.id]}, event_hash[:event_id]), class: 'form-control' %>
    </div>
    <div class="col-xs-2">
      <%= link_to 'Add Design', add_design_project_schedules_path(@project, position: @position), method: :post, remote: true, class: 'btn btn-xs btn-default', style: 'margin-top:6px' %>
    </div>
    <div class="col-xs-2">
      <%= number_field_tag "schedule[items][][interval]", event_hash[:interval], class: 'form-control' %>
    </div>
    <div class="col-xs-2">
      <%= select_tag "schedule[items][][units]", options_for_select(['days', 'business days', 'weeks', 'months', 'years'].collect{|i| [i,i]}, event_hash[:units]), class: 'form-control' %>
    </div>
    <div class="col-xs-3">
      <%= link_to 'Remove', '#', class: 'btn btn-xs btn-danger-inverse', data: { object: 'remove', target: "#event_#{@position}" }, tabindex: '-1' %>
    </div>
  </div>

  <div id="event_<%= @position %>_designs">
    <% (event_hash[:design_ids] || []).each do |design_id| %>
      <%= render partial: 'schedules/design', locals: { design_hash: { design_id: design_id } } %>
    <% end %>
  </div>
</div>
