<div class="page-header">
  <h1><%= link_to @project.name, setup_project_path(@project) %> &middot; <%= @title %></h1>
</div>

<%= form_for [@schedule.project, @schedule], html: { class: 'form-horizontal' } do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved</h4>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_area :description, rows: 7, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Events</label>
    <div class="col-md-10">
      <%= link_to 'Add Event', add_event_project_schedules_path(@project), method: :post, remote: true, class: 'btn btn-xs btn-default', style: 'margin-top:6px' %>
      <div id="events">
        <% @schedule.items.each do |event_hash| %>
          <%= render partial: 'schedules/event', locals: { event_hash: event_hash } %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
