= render 'contour/layouts/per_page', per_page: 20, object_count: @schedules.total_count

%table.table.table-striped
  %thead
    %tr
      %th.nowrap= sort_field_helper @order, 'schedules.position', 'Position'
      %th.nowrap= sort_field_helper @order, 'schedules.name', 'Name'
      %th
        Events

  - @schedules.each do |schedule|
    %tr
      %td
        = schedule.position
      %td
        = link_to schedule.name, [schedule.project, schedule]
      %td
        - schedule.items.each do |item|
          - if event = schedule.project.events.find_by_id(item[:event_id])
            = link_to event.name, [event.project, event], class: 'btn btn-xs btn-default'

.center
  = paginate @schedules, theme: 'contour'
