<%= render partial: 'contour/layouts/per_page', locals: { type: 'schedules', per_page: 20, object_count: @schedules.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'schedules.name', 'Name', 'schedules_search') %></th>
      <th>Events</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= link_to schedule.name, [schedule.project, schedule] %></td>
      <td>
        <% schedule.items.each do |item| %>
          <% if event = schedule.project.events.find_by_id(item[:event_id]) %>
            <%= link_to event.name, [event.project, event], class: 'btn btn-xs btn-default' %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Edit', edit_project_schedule_path(schedule.project, schedule), class: 'btn btn-xs btn-default' %>
        <%= link_to 'Delete', [schedule.project, schedule], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Schedule #{schedule.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @schedules, theme: 'contour' %></div>
