<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    <%= link_to 'Add Section or Question', '#', data: { object: 'pull-partial-edit', new: 'section_or_variable', position: params[:position] } %> &middot;
    New <%= params[:variable_type].to_s.titleize %> Variable
  </h4>
</div>
<div class="modal-body">

  <form id="variable_form" class="form-horizontal">
    <div class="form-group">
      <label class="col-md-2 control-label">Display Name</label>
      <div class="col-md-10">
        <%= text_field_tag "variable[display_name]", '', autocomplete: 'off', data: { object: 'create-variable-name push-partial-change-text-field', target: '#variable_form', create: 'variable', position: params[:position],  variable_name_target: '#variable_name' }, class: 'form-control' %>
        <%= hidden_field_tag "variable[variable_type]", params[:variable_type] %>
        <div class="bs-callout bs-callout-info">
          <h4>Heads up!</h4>

          <p>The display name is the question as displayed to the user who is filling out the form.</p>

          <p>Ex: <span class="text-muted">What is your age?</span></p>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Name</label>
      <div class="col-md-10">
        <%= text_field_tag "variable[name]", '', maxlength: 32, autocomplete: 'off', data: { placement: 'right', object: 'push-partial-change-text-field', target: '#variable_form', create: 'variable', position: params[:position] }, class: 'form-control' %>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <%= button_tag 'Add Variable', data: { object: 'push-partial-change', target: '#variable_form', create: 'variable', position: params[:position] }, class: 'btn btn-primary' %>

  <% if @design.variable_ids.blank? %>
    <% variables = @project.variables.where(variable_type: params[:variable_type]) %>
  <% else %>
    <% variables = @project.variables.where(variable_type: params[:variable_type]).where("variables.id NOT IN (?)", @design.variable_ids) %>
  <% end %>
  <% if variables.count > 0 %>
    or
    <span class="form-inline">
      <%= select_tag 'variable[id]', options_for_select( [['--Existing Variables--', nil]] + variables.order('display_name').collect{|v| [v.display_name, v.id]} ), class: 'form-control' %>
      <%= button_tag 'Use Existing Variable', data: { object: 'push-partial-change', target: '#variable_id', create: 'variable', position: params[:position] }, class: 'btn btn-primary' %>
    </span>
  <% end %>

  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
