<div class="page-header">
  <h1>
    Insert Section
    <%= link_to 'back to variable types', '#', data: { object: 'pull-partial-edit', new: 'section_or_variable', position: params[:position] }, class: 'btn btn-default btn-mini' %>
  </h1>
</div>

<form id="section_form" class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-2 control-label">Section Name</label>
    <div class="col-lg-10">
      <%= text_field_tag "section[section_name]", '', style: 'width:95%', autocomplete: 'off' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Section Description</label>
    <div class="col-lg-10">
      <%= text_area_tag "section[section_description]", '', style: 'width:95%', autocomplete: 'off', rows: 3 %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Is Subsection?</label>
    <div class="col-lg-10">
      <%= hidden_field_tag "section[section_type]", "0" %>
      <%= check_box_tag "section[section_type]", "1", false %>
    </div>
  </div>

</form>


<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Insert', data: { object: 'push-partial-change', target: '#section_form', create: 'section', position: params[:position] }, class: 'btn btn-primary' %>
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal', position: params[:position] }, class: 'btn' %>
</div>

