.modal-header
  %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } } &times;
  %h4.modal-title
    = link_to 'Add Section or Question', '#', data: { object: 'pull-partial-edit', new: 'section_or_variable', position: params[:position] }
    &middot;
    New Section
.modal-body
  %form#section_form.form-horizontal{ enctype: "multipart/form-data" }
    .form-group
      %label.col-md-2.control-label Section Name
      .col-md-10
        = text_field_tag "section[section_name]", '', data: { object: 'push-partial-change-with-file-text-field', target: '#section_form', create: 'section', position: params[:position] }, autocomplete: 'off', class: 'form-control'
    .form-group
      %label.col-md-2.control-label Section Description
      .col-md-10
        = text_area_tag "section[section_description]", '', autocomplete: 'off', rows: 3, class: 'form-control'
    .form-group
      %label.col-md-2.control-label Section Image
      .col-md-10
        .row
          .col-md-6
            = file_field_tag "section[section_image]", data: { object: 'push-partial-change-with-file-text-field', target: '#section_form', create: 'section', position: params[:position] }, class: 'form-control'
    .form-group
      .col-md-10.col-md-offset-2
        .checkbox
          %label
            = hidden_field_tag "section[section_type]", "0"
            = check_box_tag "section[section_type]", "1", false
            Subsection
.modal-footer
  = button_tag 'Add Section', data: { object: 'push-partial-change-with-file', target: '#section_form', create: 'section', position: params[:position] }, class: 'btn btn-primary'
  %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Cancel
