<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Add Section or Question
  </h4>
</div>
<div class="modal-body">
  <% ['section', 'string', 'text', 'dropdown', 'radio', 'checkbox', 'integer', 'numeric', 'calculated', 'date', 'time', 'file', 'grid'].in_groups_of(3).each do |row_items| %>
    <div class="row">
      <% row_items.each do |variable_type| %>
        <% if variable_type and variable_type != 'section' %>
          <div class="<%= variable_type == 'grid' ? 'col-md-8' : 'col-md-4' %>">
            <div data-object="pull-partial-edit" data-new="new_variable" data-position="<%= params[:position] %>" data-variable-type="<%= variable_type %>" class="download-container editable-design-element">
              <div class="download-container-after"><%= variable_type.titleize %></div>
              <div style="margin-top:12px" class="center">
                <% case variable_type when 'radio' %>
                  <div class="sheet-container">
                    <label class="radio radio-inline selected"><%= radio_button_tag 'animal', 'dog', true, disabled: true %> 1: Dog</label>
                    <label class="radio radio-inline"><%= radio_button_tag 'animal', 'cat', false, disabled: true %> 2: Cat</label>
                    <label class="radio radio-inline"><%= radio_button_tag 'animal', 'fish', false, disabled: true %> 3: Fish</label>
                  </div>
                <% when 'dropdown' %>
                  <span style="text-align: left;">
                    <%= select_tag 'animal', "<option value=''></option>".html_safe + options_for_select([['1: Dog', 1], ['2: Cat', 2], ['3: Fish', 3]], 3), disabled: false, class: "form-control chzn-select" %>
                  </span>
                <% when 'checkbox' %>
                  <div class="sheet-container">
                    <label class="checkbox checkbox-inline selected"><%= check_box_tag 'animal[]', 'dog', true, disabled: true %> 1: Dog</label>
                    <label class="checkbox checkbox-inline selected"><%= check_box_tag 'animal[]', 'cat', true, disabled: true %> 2: Cat</label>
                    <label class="checkbox checkbox-inline"><%= check_box_tag 'animal[]', 'fish', false, disabled: true %> 3: Fish</label>
                  </div>
                <% when 'string' %>
                  <%= text_field_tag 'animal', 'Abc Street', disabled: true, class: 'form-control' %>
                <% when 'integer' %>
                  <%= text_field_tag 'animal', '42', disabled: true, class: 'form-control' %>
                <% when 'numeric' %>
                    <div class="input-group">
                      <span class="input-group-addon">weight</span>
                      <%= text_field_tag 'animal', '72.4', disabled: true, class: 'form-control' %>
                      <span class="input-group-addon">kg</span>
                    </div>
                <% when 'calculated' %>
                  <div class="input-group">
                    <%= text_field_tag 'animal', 'weight / (height * height)', class: 'form-control', disabled: true %>
                    <span class="input-group-addon">kg / m&sup2;</span>
                  </div>
                <% when 'text' %>
                  <%= text_area_tag 'animal', 'My Long Essay', class: 'form-control', disabled: true, style: 'cursor:pointer' %>
                <% when 'date' %>
                  <div class="input-group">
                    <%= text_field_tag 'animal', "", class: 'datepicker form-control', placeholder: 'mm/dd/yyyy' %>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                  </div>
                <% when 'time' %>
                  <div class="time-input form-inline">
                    <span class="hour-box">
                      <%= text_field_tag "hour_time", '', placeholder: 'hh', class: 'form-control', style: 'display: inline-block;' %>
                    </span>
                    &#58;
                    <span class="min-box">
                      <%= text_field_tag "min_time", '', placeholder: 'mm', class: 'form-control', style: 'display: inline-block;' %>
                    </span>
                    &#58;
                    <span class="sec-box">
                      <%= text_field_tag "sec_time", '', placeholder: 'ss', class: 'form-control', style: 'display: inline-block;' %>
                    </span>
                  </div>
                <% when 'file' %>
                  <%= button_tag 'Choose File', disabled: true %>
                <% when 'grid' %>
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Lap</th>
                          <th>Speed</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>
                            <input placeholder="Mouth breath number" type="text" value="1" class="form-control">
                          </td>
                          <td>
                             <%= select_tag 'exercise', "<option value=''></option>".html_safe + options_for_select([['1: Sprint', 1], ['2: Jog', 2], ['3: Walk', 3]], 2), disabled: false, class: 'chzn-select' %>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <input placeholder="Mouth breath number" type="text" value="2" class="form-control">
                          </td>
                          <td>
                             <%= select_tag 'exercise2', "<option value=''></option>".html_safe + options_for_select([['1: Sprint', 1], ['2: Jog', 2], ['3: Walk', 3]], 3), disabled: false, class: 'chzn-select' %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        <% if variable_type and variable_type == 'section' %>
          <div class="col-md-4">
            <div data-object="pull-partial-edit" data-new="new_section" data-position="<%= params[:position] %>" class="download-container editable-design-element">
              <div class="download-container-after"><%= variable_type.titleize %></div>
              <div style="margin-top:12px" class="center">
                <b>Section A: Demographics</b><br />
                Please enter the following information...
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
