<% is_grid = defined?(grid) %>

<% location_id = variable.name.gsub('[','_').gsub(']', '') %>

<div class="input-prepend input-append" style="display:inline-block">
  <span data-object="pull-partial-edit" data-edit="variable_prepend" data-position="<%= @position %>" class="add-on <%= 'muted' if variable.prepend.blank? %> editable-design-element">
    <% if variable.prepend.blank? %>Edit Prepend<% else %><%= variable.prepend %><% end %>
  </span>
  <span data-object="pull-partial-edit" data-edit="variable_calculated" data-position="<%= @position %>" class="editable-design-element">
    <%= text_field_tag variable.name, '', class: "input-#{defined?(control_size) ? control_size : 'large'}", disabled: true %>
  </span>
  <span data-object="pull-partial-edit" data-edit="variable_units" data-position="<%= @position %>" class="add-on <%= 'muted' if variable.units.blank? %> editable-design-element">
    <% if variable.units.blank? %>Edit Units<% else %><%= variable.units %><% end %>
  </span>
  <span data-object="pull-partial-edit" data-edit="variable_append" data-position="<%= @position %>" class="add-on <%= 'muted' if variable.append.blank? %> editable-design-element">
    <% if variable.append.blank? %>Edit Append<% else %><%= variable.append %><% end %>
  </span>
  <%= link_to '?', '#', data: { object: 'modal-show', target: "#variable_#{location_id}_calculation_popup" }, class: 'btn', tabindex: "-1" %>
</div>

<div class="modal hide" id="variable_<%= location_id %>_calculation_popup">
  <div class="modal-header">
    <h3><%= variable.display_name %></h3>
  </div>
  <div class="modal-body">
    <%= variable.formatted_calculation %>
  </div>
  <div class="modal-footer form-actions">
    <%= link_to 'Close', '#', class: 'btn', data: { dismiss: 'modal' } %>
  </div>
</div>
