<% is_grid = defined?(grid) %>

<% location_id = variable.name.gsub('[','_').gsub(']', '') %>

<div class="input-group">
  <%= render partial: 'designs/interactive/show/variable_addon', locals: { method: 'prepend', variable: variable } %>
  <%= text_field_tag variable.name, '', class: 'form-control', disabled: true %>
  <%= render partial: 'designs/interactive/show/variable_addon', locals: { method: 'units', variable: variable } %>
  <%= render partial: 'designs/interactive/show/variable_addon', locals: { method: 'append', variable: variable } %>
</div>

<%= link_to 'Edit Calculation', '#', data: { object: 'pull-partial-edit', edit: 'variable_calculated', position: @position, variable_id: variable.id }, class: 'design-preview-hide btn btn-xs btn-default' %>
