<% is_grid = defined?(grid) %>

<div class="date-input form-inline">
  <% variable.date_order.each_with_index do |component, index| %>
    <% (formatting, string_format) = variable.date_formatting(component) %>
    <span class="<%= component %>-box">
      <%= text_field_tag "#{component}_#{variable.name}", "", maxlength: formatting.size, disabled: true, data: { target_input: variable.name }, autocomplete: 'off', placeholder: formatting, class: 'form-control', style: 'display: inline-block;' %>
    </span>
    <%= variable.date_separator unless index == variable.date_order.size - 1 %>
  <% end %>
    <% if variable.show_current_button? %>
    <%= link_to 'Today', '#', data: { object: 'set-date-input-to-current-date', target_input: "##{variable.name.gsub('[', '_').gsub(']', '')}" }, class: 'btn btn-default', tabindex: '-1' if variable.show_current_button? %>
  <% end %>
</div>

<%= link_to 'Edit Ranges', '#', data: { object: 'pull-partial-edit', edit: 'variable_date', position: @position, variable_id: variable.id }, class: 'design-preview-hide btn btn-xs btn-default' %>
