<%# Range should either be the existing positions (which are long strings) or the positions from the sheet_variables %>
<% max_position = (variable.default_row_number - 1) %>
<% range = (0..max_position) %>

<% if variable.grid_variables.size == 0 %>
  <div data-object="pull-partial-edit" data-edit="variable_grid_variables" data-position="<%= @position %>" data-variable-id="<%= variable.id %>" class="editable-design-element design-preview-hide">
    <span class="dark-hover muted">Click to Add Grid Variables</span>
  </div>
<% else %>
  <table class="table table-hover">
    <thead>
      <tr>
        <% variable.grid_variables.each do |grid_variable_id| %>
          <% v = Variable.find_by_id(grid_variable_id[:variable_id]) %>
          <th>
            <div data-object="pull-partial-edit" data-edit="variable_display_name" data-position="<%= @position %>" data-variable-id="<%= v.id %>" class="editable-design-element">
              <%= v.display_name if v %>
            </div>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody id="variable_<%= variable.id %>_grid_container">
      <% range.each do |position| %>
        <%= render partial: "designs/interactive/show/types/grid_variables", locals: { disabled: true, position: position, variable: variable } %>
      <% end %>
    </tbody>
  </table>

  <%= button_tag 'more', disabled: true, title: variable.display_name if variable.multiple_rows? %>

  <div data-object="pull-partial-edit" data-edit="variable_grid_variables" data-position="<%= @position %>" data-variable-id="<%= variable.id %>" class="editable-design-element design-preview-hide">
    <span class="dark-hover muted">Click to Edit Grid Variable</span>
  </div>

<% end %>
