<% is_grid = defined?(grid) %>

<div class="input-group" data-content="<%= variable.description_range %>"
  data-title="<%= variable.display_name %>">
  <%= render partial: 'designs/interactive/show/variable_addon', locals: { method: 'prepend', variable: variable } %>
  <span data-object="pull-partial-edit" data-edit="variable_ranges" data-position="<%= @position %>" data-variable-id="<%= variable.id %>" class="editable-design-element">
    <%= text_field_tag variable.name, '', class: 'form-control', disabled: true,
        placeholder: is_grid ? variable.display_name : nil %>
  </span>
  <%= render partial: 'designs/interactive/show/variable_addon', locals: { method: 'units', variable: variable } %>
  <%= render partial: 'designs/interactive/show/variable_addon', locals: { method: 'append', variable: variable } %>
</div>
