<% is_grid = defined?(grid) %>

<% if variable.alignment == 'scale' %>
  <table class="table"><col width="300px"/><%== "<col width='#{100/(variable.options_missing_at_end.size+2)}%'/>"*variable.options_missing_at_end.size %>
    <% if variable.first_scale_variable?(@design) %>
      <thead>
        <tr>
          <th></th>
          <% variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
            <th style="text-align:center">
              <%= value %>: <%= name %>
            </th>
          <% end %>
        </tr>
      </thead>
    <% end %>
    <tbody>
      <tr>
        <td style="font-weight:bold">
          <%= variable.display_name %>
          <%= render partial: 'options/required', locals: { option: @option } %>
        </td>
        <% variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value], opt[:description], opt[:missing_code]]}.each do |name, value, description, missing| %>
          <td style="text-align:center" class="sheet-container">
            <label class="radio radio-inline <%= 'negation' if missing == '1' %>">
              <%= radio_button_tag variable.name, "#{value}", false, disabled: true, style: 'margin-left:-14px' %>
            </label>
          </td>
        <% end %>
      </tr>
      <tr class="design-preview-hide">
        <td colspan="<%= variable.shared_options.size + 1 %>" style="text-align:center">
          <%= link_to 'Edit Answer Choices', '#', data: { object: 'pull-partial-edit', edit: 'variable_domain', position: @position, variable_id: variable.id }, class: 'btn btn-xs btn-success' %>
        </td>
      </tr>
    </tbody>
  </table>
<% else %>
  <div class="sheet-container" style="<%= 'white-space:nowrap' if is_grid or variable.alignment == 'horizontal' %>">
    <% variable.options_without_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
      <label class="radio <%= 'radio-inline' if is_grid or variable.alignment == 'horizontal' %>"><%= radio_button_tag variable.name, "#{value}", false, disabled: true %> <%= value %>: <%= name %></label>
    <% end %>
    <% variable.options_only_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
      <label class="radio <%= 'radio-inline' if is_grid or variable.alignment == 'horizontal' %> negation"><%= radio_button_tag variable.name, "#{value}", false, disabled: true %> <%= value %>: <%= name %></label>
    <% end %>
  </div>
  <%= link_to 'Edit Answer Choices', '#', data: { object: 'pull-partial-edit', edit: 'variable_domain', position: @position, variable_id: variable.id }, class: 'btn btn-xs btn-success design-preview-hide' %>
<% end %>
