<% is_grid = defined?(grid) %>

<div class="input-prepend input-append" style="display:inline-block">
  <span data-object="pull-partial-edit" data-edit="variable_prepend" data-position="<%= @position %>" class="add-on <%= 'muted' if variable.prepend.blank? %> editable-design-element">
    <% if variable.prepend.blank? %>Edit Prepend<% else %><%= variable.prepend %><% end %>
  </span>
  <span data-object="pull-partial-edit" data-edit="variable_autocomplete" data-position="<%= @position %>" class="editable-design-element">
    <%= text_field_tag variable.name, '', class: "input-#{defined?(control_size) ? control_size : 'large'}", disabled: true,
        placeholder: is_grid ? variable.display_name : nil %>
  </span>
  <span data-object="pull-partial-edit" data-edit="variable_append" data-position="<%= @position %>" class="add-on <%= 'muted' if variable.append.blank? %> editable-design-element">
    <% if variable.append.blank? %>Edit Append<% else %><%= variable.append %><% end %>
  </span>
</div>
