<% is_grid = defined?(grid) %>

<div class="time-input">

  <%= hidden_field_tag variable.name,(Time.parse(response).strftime('%H:%M:%S') rescue response),
                       data: {
                               object: "condition",
                       },
                       disabled: true
  %>

  <div class="hour-box time-box"><%= text_field_tag "hour_#{variable.name}", "", maxlength: 2, disabled: true, data: { target_input: variable.name }, autocomplete: 'off', placeholder: 'hh' %></div>
  <div class="time-divider">&#58;</div>
  <div class="min-box time-box"><%= text_field_tag "min_#{variable.name}", "", maxlength: 2, disabled: true, data: { target_input: variable.name }, autocomplete: 'off', placeholder: 'mm' %></div>
  <div class="time-divider">&#58;</div>
  <div class="sec-box time-box"><%= text_field_tag "sec_#{variable.name}", "", maxlength: 2, disabled: true, data: { target_input: variable.name }, autocomplete: 'off', placeholder: 'ss' %></div>

  <%= link_to 'Current Time', '#', data: { object: 'set-time-input-to-current-time', target_input: variable.name }, class: 'btn btn-mini', tabindex: '-1', disabled: true if variable.show_current_button? %>
  <%= link_to 'Clear', '#', data: { object: 'clear-time-input', target_input: variable.name }, class: 'btn btn-mini', tabindex: '-1', disabled: true %>
</div>
