<% is_grid = defined?(grid) %>

<div class="time-input form-inline">
  <span class="hour-box">
    <%= text_field_tag "hour_#{variable.name}", "", maxlength: 2, disabled: true, data: { target_input: variable.name }, autocomplete: 'off', placeholder: 'hh', class: 'form-control' %>
  </span>
  &#58;
  <span class="min-box">
    <%= text_field_tag "min_#{variable.name}", "", maxlength: 2, disabled: true, data: { target_input: variable.name }, autocomplete: 'off', placeholder: 'mm', class: 'form-control' %>
  </span>
  &#58;
  <span class="sec-box">
    <%= text_field_tag "sec_#{variable.name}", "", maxlength: 2, disabled: true, data: { target_input: variable.name }, autocomplete: 'off', placeholder: 'ss', class: 'form-control' %>
  </span>

  <%= link_to 'Current Time', '#', data: { object: 'set-time-input-to-current-time', target_input: variable.name }, class: 'btn btn-default btn-mini', tabindex: '-1', disabled: true if variable.show_current_button? %>
  <%= link_to 'Clear', '#', data: { object: 'clear-time-input', target_input: variable.name }, class: 'btn btn-default btn-mini', tabindex: '-1', disabled: true %>
</div>
