- if section.level < 2
  %div{ style: "margin-bottom: 20px; " }
    - if section.name.present?
      - case section.level
      - when 0
        .section-header{ class: section.translation_missing?(:name) ? "text-muted" : nil }= section.name
      - when 1
        .sub-section-header{ class: section.translation_missing?(:name) ? "text-muted" : nil }= section.name
      - else
        = section.name
    - if section.description.present?
      .section-description{ class: section.translation_missing?(:description) ? "text-muted" : nil }
        = simple_markdown_old section.description_with_images

    = render "sections/image", design_option: design_option, section: section
- else
  - css_class = case section.level
  - when 2
    - "alert-info"
  - when 3
    - "alert-warning"
  - when 4
    - "alert-danger"
  .section-alert{ class: css_class }
    %strong{ class: section.translation_missing?(:name) ? "text-muted" : nil }= section.name
    - if section.description.present?
      .section-description{ class: section.translation_missing?(:description) ? "text-muted" : nil }
        = simple_markdown_old section.description_with_images
    = render "sections/image", design_option: design_option, section: section
