- position = Time.zone.now.to_i.to_s + Time.zone.now.usec.to_s unless position
- @position = position

%div{ id: "design_#{@position}", style: "line-height:30px;padding-top:5px" }
  .row.col-buffer
    .col-xs-1
      %span.glyphicon.glyphicon-move.design-handle
    .col-xs-3
      = select_tag "event[design_hashes][][design_id]", options_for_select(@project.designs.order(:name).pluck(:name, :id), event_design.design_id), include_blank: true, class: 'form-control'
    - if @project.handoffs_enabled?
      .col-xs-3
        = select_tag "event[design_hashes][][handoff_enabled]", options_for_select([['No Handoff', false], ['Handoff Enabled', true]], event_design.handoff_enabled), class: 'form-control'
    .col-xs-3
      = select_tag "event[design_hashes][][requirement]", options_for_select(EventDesign::REQUIREMENTS, event_design.requirement), class: 'form-control', data: { object: 'event-design-requirement', target: "#design_#{@position}_conditional_requirements" }
    .col-xs-2
      - unless @project.handoffs_enabled?
        = hidden_field_tag "event[design_hashes][][handoff_enabled]", event_design.handoff_enabled
      = link_to 'Remove', '#', class: 'btn btn-xs btn-danger-inverse', data: { object: 'remove', target: "#design_#{@position}" }, tabindex: '-1'
  %div{ style: event_design.conditionally_required? ? '' : 'display: none', id: "design_#{@position}_conditional_requirements" }
    .row.col-buffer
      .col-xs-1.center
        %small.text-muted{ style: 'font-variant: small-caps;' } Show If
      .col-xs-11
        .center
          %small.text-muted{ style: 'font-variant: small-caps;' } Event
        = select_tag "event[design_hashes][][conditional_event_id]", options_for_select(@project.events.order(:name).pluck(:name, :id), event_design.conditional_event_id), include_blank: true, class: 'form-control chosen-select'
      .col-xs-1
      .col-xs-5
        .center
          %small.text-muted{ style: 'font-variant: small-caps;' } Design
        = select_tag "event[design_hashes][][conditional_design_id]", options_for_select(@project.designs.order(:name).pluck(:name, :id), event_design.conditional_design_id), include_blank: true, class: 'form-control chosen-select'
      .col-xs-6
        .center
          %small.text-muted{ style: 'font-variant: small-caps;' } Variable
        = select_tag "event[design_hashes][][conditional_variable_id]", options_for_select(@project.variables.order(:name).pluck(:name, :id), event_design.conditional_variable_id), include_blank: true, class: 'form-control chosen-select'
      .col-xs-1
      .col-xs-5
        .center
          %small.text-muted{ style: 'font-variant: small-caps;' } Operator
        = select_tag "event[design_hashes][][conditional_operator]", options_for_select(EventDesign::OPERATORS, event_design.conditional_operator), class: 'form-control'
      .col-xs-6
        .center
          %small.text-muted{ style: 'font-variant: small-caps;' } Value
        = text_field_tag "event[design_hashes][][conditional_value]", event_design.conditional_value, class: 'form-control'
      .col-xs-1
