<%= render partial: 'contour/layouts/per_page', locals: { type: 'events', per_page: 20, object_count: @events.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'events.name', 'Name', 'events_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'events.description', 'Description', 'events_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.name, [event.project, event] %></td>
      <td><%= event.description %></td>
      <td>
        <%= link_to 'Edit', edit_project_event_path(event.project, event), class: 'btn btn-xs btn-default' %>
        <%= link_to 'Delete', [event.project, event], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Event #{event.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @events, theme: 'contour' %></div>
