%td.text-center= event.position
%td
  = link_to event.name, [@project, event]
  = render "layouts/unblinded_only", project: @project, object: event, placement: "right"
%td.d-none.d-sm-table-cell
  - assigned_count = event.subject_events.with_current_subjects.count
  = pluralize assigned_count, "event"
%td.d-none.d-sm-table-cell.text-center= simple_check event.archived
%td.d-none.d-md-table-cell.text-center= event.designs.count
%td.text-center
  .dropdown
    = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
      .d-inline-block.d-sm-none
        = icon("fas", "cog")
      .d-none.d-sm-inline-block Actions

    .dropdown-menu.dropdown-menu-right
      = link_to edit_project_event_path(@project, event), class: "dropdown-item" do
        = icon("fas", "pencil-alt")
        Edit
      = link_to project_event_path(@project, event, event: { archived: event.archived? ? "0" : "1" }), method: :patch, remote: true, class: "dropdown-item" do
        = icon("fas", "archive")
        - if event.archived?
          Restore
        - else
          Archive
      .dropdown-divider
      = link_to [@project, event], method: :delete, remote: true, data: { confirm: "Delete \"#{event.name}\" event?" }, class: "dropdown-item text-danger" do
        = icon("fas", "trash-alt")
        Delete
