%table.table.table-striped
  %thead
    %tr
      %th.nowrap= sort_field_helper @order, 'events.position', 'Position'
      %th.nowrap= sort_field_helper @order, 'events.name', 'Name'
      %th.nowrap= sort_field_helper @order, 'events.scheduled', 'Scheduled'
      %th.nowrap= sort_field_helper @order, 'events.archived', 'Archived'
      %th Designs
      %th Actions

  - @events.each do |event|
    %tr
      %td= event.position
      %td= link_to event.name, [@project, event]
      %td= simple_check event.scheduled
      %td= simple_check event.archived
      %td= event.designs.count
      %td
        = link_to 'Edit', edit_project_event_path(@project, event), class: 'btn btn-xs btn-default'
        = link_to 'Delete', [@project, event], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Event #{event.name}?" }

.center
  = paginate @events, theme: 'contour'
