= form_with model: [event.project, event], local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: event, key: :name, slug: "slug"
  = render "forms/horizontal/slug_field", form: form, object: event, key: :slug, key_name: "URL Slug"
  = render "forms/horizontal/text_area", form: form, object: event, key: :description, rows: 7
  = render "forms/horizontal/number_field", form: form, object: event, key: :position
  = render "forms/horizontal/check_box", form: form, object: event, key: :archived, help_text: "Archived events will still show up if the subject has sheets entered for the archived event."
  = render "forms/horizontal/check_box", form: form, object: event, key: :only_unblinded, help_text: "Hide the event and associated sheets and comments from blinded staff." if event.project.blinding_enabled?

  .form-group.row
    %label.col-md-2.col-form-label Designs
    .col-md-10
      .form-control-plaintext
        = link_to "Add Design", add_design_project_events_path(event.project), method: :post, remote: true, class: "btn btn-sm btn-light"
  #designs{ data: { object: "sortable" } }
    = hidden_field_tag "event[design_ids][]", nil
    - event.event_designs.each do |event_design|
      = render "events/event_design", event_design: event_design

  = render "forms/horizontal/submit", form: form, object: [event.project, event]
