%h2.underline-header= @title

= form_for [@event.project, @event], html: { class: 'form-horizontal' } do |f|
  - if @event.errors.any?
    #error_explanation.bs-callout.bs-callout-danger
      %h4
        = pluralize(@event.errors.count, "error")
        prohibited this event from being saved

      %ul
        - @event.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :slug, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :slug, class: 'form-control'
      .bs-callout.bs-callout-info
        %h6
          Naming convention
        %ul
          %li
            Must be a lowercase letter <code>a-z</code> followed by lowercase letters <code>a-z</code>, numbers<code>0-9</code>, or dashes<code>-</code>.

        %p Ex: <code>abc123-trial</code>

  .form-group
    %label.col-md-2.control-label Designs
    .col-md-10
      = link_to 'Add Design', add_design_project_events_path(@project), method: :post, remote: true, class: 'btn btn-xs btn-default', style: 'margin-top:6px'
      #designs{ data: { object: 'sortable' } }
        = hidden_field_tag 'event[design_ids][]', nil
        - @event.event_designs.each do |event_design|
          = render 'events/event_design', event_design: event_design


  .form-group
    = f.label :description, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    = f.label :position, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.number_field :position, class: 'form-control', autocomplete: 'off', min: 0
      .bs-callout.bs-callout-info
        Events with the same position will be shown side-by-side and subjects will typically only select one of these events.


  .form-group
    .col-md-offset-2.col-md-10
      .checkbox
        %label
          = f.check_box :scheduled
          Schedulable Event
      .bs-callout.bs-callout-info
        %ul
          %li
            %strong Unschedulable events
            may contain Adverse Encounters and Unscheduled Phone Calls.
          %li
            %strong Schedulable events
            include Baseline Visits, Followups, Final Visits, and Scheduled
            Phone Calls.

  .form-group
    .col-md-offset-2.col-md-10
      .checkbox
        %label
          = f.check_box :archived
          Archive and hide the event from subject page
      .bs-callout.bs-callout-info
        Archived events will still show up if the subject has sheets entered for the archived event.

  - if @project.blinding_enabled?
    .form-group
      .col-md-offset-2.col-md-10
        .checkbox
          %label
            = f.check_box :only_unblinded
            Only Unblinded
        .bs-callout.bs-callout-info
          Select to hide the event and associated sheets and comments from blinded staff

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = cancel
