- @title = "#{@event.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  = link_to @event.name_was, [@project, @event]
  Edit

.dashboard-container= render "form", event: @event
