<% @title = 'Events' %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, setup_project_path(@project) %> &middot; <%= @title %>
    <%= link_to "Create Event", new_project_event_path(@project), class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Schedules', project_schedules_path(@project), class: 'btn btn-default btn-xs' %>
  </h1>
</div>

<%= form_tag project_events_path(@project), method: :get, class: 'form-inline' do %>
  <%= hidden_field_tag :order, params[:order] %>
  <%= text_field_tag 'search', params[:search], class: 'form-control' %>
  <%= submit_tag 'Search', class: 'btn btn-primary', name: nil %>
<% end %>

<%= render partial: 'events/events' %>
