- @title = 'Events'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right.nowrap
          = link_to 'Create Event', new_project_event_path(@project), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @events.total_count
        = render 'layouts/side_nav_header_button'
        = @title

= render 'events/events'

.jumbotron
  = form_tag project_events_path(@project), method: :get, class: 'form-inline' do
    = hidden_field_tag :order, params[:order]
    = text_field_tag 'search', params[:search], class: 'form-control'
    = submit_tag 'Search', class: 'btn btn-primary', name: nil
