- @title = 'Events'

= render 'projects/tabbed_menu', links: [['Events', project_events_path(@project)]]

.row
  .col-sm-2
    = render 'projects/menu'

  .col-sm-10
    %h2
      = @title
    %div{ style: 'margin-bottom: 20px' }

      = link_to "Create Event", new_project_event_path(@project), class: 'btn btn-xs btn-primary'

    = form_tag project_events_path(@project), method: :get, class: 'form-inline' do
      = hidden_field_tag :order, params[:order]
      = text_field_tag 'search', params[:search], class: 'form-control'
      = submit_tag 'Search', class: 'btn btn-primary', name: nil

    = render 'events/events'
