- content_for :tabs do
  - current_page = ae_module_reviewers_face_sheet_path(@project)
  = link_to ae_module_reviewers_face_sheet_path(@project), class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "home")
    - if current_page
      Overview
    - else
      .d-none.d-sm-inline Overview


  - current_page = false
  = link_to "#", class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "paperclip")
    - if current_page
      Supplemental Files
    - else
      .d-none.d-sm-inline Supplemental Files
