- @title = @assignment.ae_adverse_event.name

- content_for :header do
  = @title
  %small= @assignment.ae_adverse_event.description
- render "ae_module/reviewers/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "reviewers inbox", ae_module_reviewers_inbox_path(@project)
    %li.breadcrumb-muted= @assignment.ae_adverse_event.name.downcase


.dashboard-container
  - designments = @project.ae_designments.where(ae_team_pathway_id: nil).order(Arel.sql("position nulls last")).includes(:design)
  -# disconnected_sheets = @adverse_event.subject.sheets.where(ae_adverse_event: @adverse_event).where.not(design: designments.select(:design_id))
  - if designments.present?
    %p
      %strong Forms
    %strong.text-danger Can incorrectly pull reviewer sheets.
    - designments.each do |designment|
      - sheets = @assignment.ae_adverse_event.sheets.where(design: designment.design)
      - if sheets.present?
        - sheets.each do |sheet|
          .mb-3
            = render "sheets/coverage", sheet: sheet
            -# TODO: FIX LINK!
            = link_to sheet.name, [:edit, @project, sheet], class: "text-danger"
      - else
        .mb-3.text-muted No sheets present.

  %p
    %strong Documents

  %p
    %strong Review forms
  - @assignment.ae_team_pathway.designs.each do |design|
    - sheets = @assignment.sheets.where(design: design)
    - if sheets.present?
      - sheets.each do |sheet|
        .mb-3
          = render "sheets/coverage", sheet: sheet
          = link_to sheet.name, ae_module_reviewers_sheet_path(@project, @assignment, sheet)
          =# link_to sheet.name, ae_module_reviewers_review_path(@project, @assignment, design)
    - else
      %div
        %span.badge.badge-coverage.coverage-0 0%
        = link_to design.name, ae_module_reviewers_review_path(@project, @assignment, design)


  .bg-light{ style: "margin-bottom: -30px;margin-left: -30px; margin-right: -30px;padding: 1.5rem 30px;" }
    - if @assignment.completed?
      %span.text-primary= icon("fas", "check-square")
      Assignment complete!
    - else
      = link_to ae_module_reviewers_review_path(@project, @assignment, @assignment.first_design) do
        Start assignment
        = icon("fas", "caret-right")
      .small Complete assigned sheets.
