- content_for :sidebar, render("subjects/sidebar") if @project_member

- content_for :header do
  = @title
  %small= @assignment.ae_adverse_event.description
= render "ae_module/adverse_events/tabs", project: @project, adverse_event: @assignment.ae_adverse_event
- content_for :breadcrumbs do
  .float-right= render "ae_module/adverse_events/roles", roles: @roles
  %ol
    %li= link_to "adverse events", ae_module_adverse_events_path(@project)
    %li= link_to @assignment.ae_adverse_event.name.downcase, ae_module_adverse_event_path(@project, @assignment.ae_adverse_event)
    %li.breadcrumb-muted= @sheet.name.downcase

= render "ae_module/reviewers/sheet_form", project: @project, assignment: @assignment, design: @design, sheet: @sheet
