- @title = "#{@design.name} Reimport"
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = render 'layouts/side_nav_header_button'
        = link_to @design.name, [@project, @design]
        Reimport

- @variables = @design.load_variables
- @file_uploaded = (@variables.size > 0)
.dashboard-container
  = form_for @design, url: imports_project_design_path(@project, @design), method: :patch, html: { class: 'form-horizontal', multipart: true } do |f|
    - if @design.errors.any?
      .callout.callout-danger
        %strong
          = pluralize @design.errors.count, 'error'
          prohibited this design from being saved

        %ul
          - @design.errors.full_messages.each do |message|
            %li= message

    = f.hidden_field :reimport, value: '1'

    .form-group
      = f.label :csv_file, 'Data Import (CSV)', class: 'col-md-2 control-label'
      .col-md-10
        - if @file_uploaded
          .form-control= File.basename(@design.csv_file.to_s)
        - else
          = f.file_field :csv_file, class: 'form-control'

    - if @file_uploaded
      .form-group
        = label_tag 'site_id', 'Site', class: 'col-md-2 control-label'
        #site.col-md-10
          = select_tag :site_id, options_for_select(@project.sites.order('name').collect{|s| [s.name, s.id]}), class: 'form-control'

      %div{ style: 'display:none' }
        %hr

        - @variables.each do |hash|
          - variable = @project.variables.find_by_name hash[:name]

          - if params[:variables] && params[:variables][hash[:name]]
            - display_name = params[:variables][hash[:name]][:display_name]
            - variable_type = params[:variables][hash[:name]][:variable_type]
            - ignore = params[:variables][hash[:name]][:ignore]
          - else
            - display_name = hash[:display_name]
            - variable_type = hash[:variable_type]
            - ignore = (variable && !Variable::TYPE_IMPORTABLE.flatten.include?(variable.variable_type))

          .form-group
            %label.col-md-2.control-label= hash[:name]
            .col-md-10
              .row
                - if variable
                  .col-xs-6
                    = link_to variable.display_name, [variable.project, variable], target: '_blank'
                    of type
                    %strong= variable.variable_type
                    won't be recreated.
                    = hidden_field_tag "variables[#{hash[:name]}][display_name]", display_name
                - else
                  .col-xs-3
                    = text_field_tag "variables[#{hash[:name]}][display_name]", display_name, class: 'form-control'
                  .col-xs-3
                    = select_tag "variables[#{hash[:name]}][variable_type]", options_for_select(Variable::TYPE_IMPORTABLE, variable_type), class: 'form-control'
                .col-xs-6
                  %label.checkbox-inline.checkbox-radio-outline{ class: "#{'selected' if ignore}" }
                    = check_box_tag "variables[#{hash[:name]}][ignore]", '1', ignore
                    do not add to design

    .form-group
      .col-md-10.col-md-offset-2
        = f.submit @variables.size > 0 ? 'Reimport Data' : 'Proceed to Import Specification', class: 'btn btn-primary'
        - if @file_uploaded
          = link_to 'Previous Step', imports_edit_project_design_path(@project, @design), class: 'btn btn-default'
        - else
          = link_to 'Cancel', [@project, @design], class: 'btn btn-default'
