- @title = "Design Import"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header, @title

- @file_uploaded = (@variables.size > 0 && @design.csv_file_cache.present? && @design.errors[:csv_file].blank?)

.dashboard-container
  = form_with model: @design, url: create_import_project_designs_path(@project), method: :post, multipart: true, local: true do |form|
    - if @design.errors.any?
      .card.border-danger.mb-3
        .card-body
          %strong
            = pluralize @design.errors.count, "error"
            prohibited this design from being saved

          %ul
            - @design.errors.full_messages.each do |msg|
              %li= msg

    .form-group.row
      = form.label :csv_file, "Data Import (CSV)", class: "col-md-2 col-form-label"
      .col-md-10
        - if @file_uploaded
          %div{ style: "padding-top:5px;" }
            %strong= @design.csv_file_cache.split("/").last
            = form.hidden_field :csv_file_cache
        - else
          = form.file_field :csv_file, class: "form-control"

    - if @file_uploaded
      .form-group.row
        = form.label :name, nil, class: "col-md-2 col-form-label"
        .col-md-10
          = form.text_field :name, class: "form-control"

      .form-group.row
        = label_tag "site_id", "Site", class: "col-md-2 col-form-label"
        #site.col-md-10
          = select_tag :site_id, options_for_select(@project.sites.order("name").collect { |s| [s.name, s.id] }), class: "form-control"

      %hr

      - @variables.each do |hash|
        - variable = @project.variables.find_by(name: hash[:name])

        - if params[:variables] && params[:variables][hash[:name]]
          - display_name = params[:variables][hash[:name]][:display_name]
          - variable_type = params[:variables][hash[:name]][:variable_type]
          - ignore = params[:variables][hash[:name]][:ignore]
        - else
          - display_name = hash[:display_name]
          - variable_type = hash[:variable_type]
          - ignore = (variable && !Variable::TYPE_IMPORTABLE.flatten.include?(variable.variable_type))

        .form-group.row
          %label.col-md-2.col-form-label= hash[:name]
          .col-md-10
            .row
              - if variable
                .col-6
                  = link_to variable.display_name, [variable.project, variable], target: "_blank"
                  of type
                  %strong= variable.variable_type
                  won't be recreated.
                  = hidden_field_tag "variables[#{hash[:name]}][display_name]", display_name
              - else
                .col-3
                  = text_field_tag "variables[#{hash[:name]}][display_name]", display_name, class: "form-control"
                .col-3
                  = select_tag "variables[#{hash[:name]}][variable_type]", options_for_select(Variable::TYPE_IMPORTABLE, variable_type), class: "form-control"
              .col-6
                .custom-control.custom-checkbox
                  = check_box_tag "variables[#{hash[:name]}][ignore]", "1", ignore, class: "custom-control-input", id: "variables_#{hash[:name]}_ignore"
                  = label_tag "variables_#{hash[:name]}_ignore", "do not add to design", class: "custom-control-label"

    .form-group.row
      .col-md-2
      .col-md-10
        = form.submit @variables.size > 0 ? "Import Data" : "Proceed to Import Specification", class: "btn btn-primary"
        - if @file_uploaded
          = link_to "Previous Step", new_import_project_designs_path(@project), class: "btn btn-light"
        - else
          = link_to "Cancel", project_designs_path(@project), class: "btn btn-light"
