- uncategorized_sheets = @subject.sheets.where(subject_event_id: nil)
- categorized_sheets = @subject.sheets.where.not(subject_event_id: nil)

%h2 All Sheets

- if uncategorized_sheets.count > 0
  %h3
    Uncategorized
    %span.badge= uncategorized_sheets.count
  %ul
    - uncategorized_sheets.each do |sheet|
      %li
        = link_to sheet.name, project_sheet_path(@project, sheet)
        = coverage_helper(sheet)

- if categorized_sheets.count > 0
  %h3
    On an Event
    %span.badge=categorized_sheets.count
  %ul
    - categorized_sheets.each do |sheet|
      %li
        = link_to sheet.name, project_sheet_path(@project, sheet)
        = coverage_helper(sheet)
        = link_to event_project_subject_path(@project, sheet.subject, event_id: sheet.subject_event.event, subject_event_id: sheet.subject_event.id, event_date: sheet.subject_event.event_date.strftime("%Y%m%d")) do
          = sheet.subject_event.event.name
          \-
          = sheet.subject_event.event_date.strftime("%a, %B %d, %Y")

