- uncategorized_sheets = @subject.sheets.where(subject_event_id: nil)
- categorized_sheets = @subject.sheets.where.not(subject_event_id: nil)

%h1.subject-header
  All Sheets

- if uncategorized_sheets.count > 0
  .panel.panel-default
    .panel-heading
      .pull-right
        %span.badge= uncategorized_sheets.count
      - if categorized_sheets.count == 0
        Sheets
      - else
        No Event
    .panel-body
      %table.table.table-bordered{ style: 'table-layout:fixed;margin-bottom:0px' }
        %col{ width: '60px' }
        %col
        %col{ width: '120px' }
        - uncategorized_sheets.each do |sheet|
          %tr
            %td
              = coverage_helper(sheet)
            %td
              = link_to sheet.name, project_sheet_path(@project, sheet)
            %td{ style: 'text-align:right' }
              - if sheet.comments.count > 0
                %span.label.label-default
                  = sheet.comments.count
                  %span.glyphicon.glyphicon-comment

- if categorized_sheets.count > 0
  .panel.panel-default
    .panel-heading
      .pull-right
        %span.badge= categorized_sheets.count
      On an Event
    .panel-body
      %table.table.table-bordered{ style: 'table-layout:fixed;margin-bottom:0px' }
        %col{ width: '60px' }
        %col
        %col
        %col{ width: '120px' }
        - categorized_sheets.includes(:subject_event).order("subject_events.event_date desc").each do |sheet|
          %tr
            %td
              = coverage_helper(sheet)
            %td
              = link_to sheet.name, [@project, sheet]
              %br
              .text-muted
                = sheet.subject_event.event.name
            %td

              = sheet.subject_event.event_date_to_s
            %td{ style: 'text-align:right' }
              - if sheet.comments.count > 0
                %span.label.label-default
                  = sheet.comments.count
                  %span.glyphicon.glyphicon-comment
