- @title = "#{@pathway.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  = link_to @pathway.name_was, editor_project_ae_team_ae_pathway_path(@project, @team, @pathway)
  Edit

- content_for :breadcrumbs do
  %ol
    %li= link_to "ae module", settings_editor_project_path(@project, anchor: "adverse-events")
    %li= link_to "teams", editor_project_ae_teams_path(@project)
    %li= link_to @team.name.downcase, editor_project_ae_team_path(@project, @team)
    %li= link_to "pathways", editor_project_ae_team_ae_pathways_path(@project, @team)
    %li= link_to @pathway.name_was.downcase, editor_project_ae_team_ae_pathway_path(@project, @team, @pathway)
    %li.breadcrumb-muted edit

.dashboard-container= render "form", project: @project, team: @team, pathway: @pathway
