.dashboard-container
  %table.table.table-striped.table-borderless.table-hover
    %col
    %col
    %col.hidden-xs
    %col{ width: '1px' }
    %thead
      %tr
        %th.center Value
        %th.center Allocation
        %th.hidden-xs User
        %th Actions

    %tbody
      - @block_size_multipliers.each do |block_size_multiplier|
        %tr
          %td.center= link_to block_size_multiplier.name, [@project, @randomization_scheme, block_size_multiplier]
          %td.center= block_size_multiplier.allocation
          %td.hidden-xs= link_to block_size_multiplier.user.name, block_size_multiplier.user if block_size_multiplier.user
          %td
            - if @randomization_scheme.published?
              = link_to label_or('Scheme Published', 'Published'), '#', data: { object: 'suppress-click' }, class: 'btn btn-xs btn-primary', disabled: true
            - else
              = render 'layouts/edit_delete_dropdown', edit_url: edit_project_randomization_scheme_block_size_multiplier_path(@project, @randomization_scheme, block_size_multiplier), delete_url: [@project, @randomization_scheme, block_size_multiplier], delete_confirmation: "Are you sure you want to delete Block Size Multiplier #{block_size_multiplier.name}?"
