- @title = "#{@block_size_multiplier.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = link_to @block_size_multiplier.name_was, [@project, @randomization_scheme, @block_size_multiplier]
        Edit

.dashboard-container= render 'form'
