- @title = "#{@block_size_multiplier.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  = link_to @block_size_multiplier.name_was, [@project, @randomization_scheme, @block_size_multiplier]
  Edit

.dashboard-container= render "form"
