- @title = @block_size_multiplier.name
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - unless @randomization_scheme.published?
            .dropdown
              = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
                Actions
                %strong.caret

              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to edit_project_randomization_scheme_block_size_multiplier_path(@project, @randomization_scheme, @block_size_multiplier) do
                    %span.glyphicon.glyphicon-edit
                    Edit
                %li.divider{ role: 'separator' }
                %li
                  = link_to [@project, @randomization_scheme, @block_size_multiplier], method: :delete, data: { confirm: "Are you sure you want to delete Block Size Multiplier #{@block_size_multiplier.name}?" } do
                    .text-danger
                      %span.glyphicon.glyphicon-trash
                      Delete

        = render 'layouts/side_nav_header_button'
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.hidden-xs{ width: '30%' }
    %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }
    %tr
      %th Value
      %td= @block_size_multiplier.value
    %tr
      %th Allocation
      %td= @block_size_multiplier.allocation
