- @title = @block_size_multiplier.name
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

= render "projects/side_nav"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - unless @randomization_scheme.published?
            .dropdown
              = link_to "#", class: "btn btn-default dropdown-toggle", data: { toggle: "dropdown" } do
                Actions
                %strong.caret

              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to edit_project_randomization_scheme_block_size_multiplier_path(@project, @randomization_scheme, @block_size_multiplier) do
                    %i.fa.fa-pencil
                    Edit
                %li.divider{ role: "separator" }
                %li
                  = link_to [@project, @randomization_scheme, @block_size_multiplier], method: :delete, data: { confirm: "Delete \"#{@block_size_multiplier.name}\" block size multiplier?" } do
                    .text-danger
                      %i.fa.fa-trash
                      Delete
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Value
      %td= @block_size_multiplier.value
    %tr
      %th Allocation
      %td= @block_size_multiplier.allocation
