- owner = profile.editable_by?(current_user)
.library-profile-header.pb-0.border-bottom
  .container

    .d-flex.flex-row.align-items-center.mb-3
      .mr-3
        - if profile.object[:profile_picture]
          - picture_content = public_profile_picture_tag(profile)
        - else
          - picture_content = icon("fas", "user", class: "text-muted pt-3", style: "font-size: 96px;width: 128px;height: 128px;text-align: center;")

        - if owner
          = link_to picture_content, edit_profile_path(profile)
        - else
          = picture_content
      %div
        .library-profile-name= profile.username
        .small= simple_style profile.description

    .mb-0
      - if owner
        .float-right
          = link_to new_tray_path(profile), class: "btn btn-accent btn-sm" do
            = icon("fas", "file")
            New form

      = link_to library_profile_path(profile), class: "link-unstyled d-inline-block px-3 pt-2 pb-2 rounded-top profile-tab #{"border border-bottom-0 profile-tab-active" if current_page?(library_profile_path(profile))}", data: { object: "#{"suppress-click" if current_page?(library_profile_path(profile))}" } do
        = icon("fas", "copy")
        Forms
        %span.badge.badge-pill.badge-light= profile.trays.count

      - if profile.organization
        = link_to library_members_path(profile), class: "link-unstyled d-inline-block px-3 pt-2 pb-2 rounded-top profile-tab #{"border border-bottom-0 profile-tab-active" if current_page?(library_members_path(profile))}", data: { object: "#{"suppress-click" if current_page?(library_members_path(profile))}" } do
          = icon("fas", "users")
          Members
          %span.badge.badge-pill.badge-light= profile.organization.members.count
