= render "themes/library"
- @keywords = "free clinical data collection forms, data collection, clinical surveys, questionnaires, download forms, collect data, research study"
.page-box.last-box.bg-library{ class: @library_bg }
  .container
    %h1
      .text-white{ style: "font-variant: small-caps;font-weight: 300;" } Library

    = form_tag library_root_path, method: :get, id: "search-form", class: "mb-5" do
      .input-group
        = text_field_tag :search, params[:search], class: "form-control form-control-lg", placeholder: "Start your search", autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false", autofocus: params[:search].blank?
        .input-group-append
          = link_to "#", class: "btn btn-lg btn-primary", data: { object: "submit-and-disable", target: "#search-form" } do
            = icon("fas", "search")

    - if @trays.present?
      .dashboard-container
        - @trays.each do |tray|
          = render "library/tray_library", tray: tray

      .center-horizontally= paginate @trays, theme: "bootstrap"
    - else
      .jumbotron.jumbotron-custom-text
        No forms found.

    .center-horizontally
      .small
        - if current_user&.profile
          = link_to "Create a form", new_tray_path(current_user.profile), class: "btn btn-light"
        - else
          = link_to "Create a form", new_profile_path, class: "btn btn-light"
