- @title = @profile.username
= render "themes/library"

.page-box.page-box-no-padding.last-box.bg-white

  = render "library/profile_header", profile: @profile

  .container.py-4
    - if @members.present?
      %ul.list-unstyled
        - @members.each do |member|
          %li
            - if member[:profile_picture]
              - picture_content = public_profile_picture_tag member.profile, size: 16
            - else
              - picture_content = icon("fas", "user", class: "text-muted")
            = picture_content
            = link_to member.profile.username, library_profile_path(member.profile)

      .center-horizontally= paginate @members, theme: "bootstrap"
    - else
      .jumbotron.jumbotron-custom-text
        No forms found.
