- @title = @profile.username
= render "themes/library"

.page-box.page-box-no-padding.last-box.bg-white

  = render "library/profile_header", profile: @profile

  .container.py-4
    = form_tag library_profile_path(@profile), method: :get, id: "search-form", class: "mb-4" do
      .input-group
        = text_field_tag :search, params[:search], class: "form-control form-control", placeholder: "Search forms...", autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false"
        .input-group-append
          = link_to "#", class: "btn btn btn-primary", data: { object: "submit-and-disable", target: "#search-form" } do
            = icon("fas", "search")

    - if @trays.present?
      - @trays.each do |tray|
        = render "library/tray_profile", tray: tray

      .center-horizontally= paginate @trays, theme: "bootstrap"
    - else
      .jumbotron.jumbotron-custom-text
        No forms found.
