- @title = "#{@tray.profile.username}/#{@tray.slug}#{": #{strip_tags(simple_style(@tray.description))}" if @tray.description.present?}"
= render "themes/library"
- @keywords = @tray.keywords

- owner = @tray.profile.editable_by?(current_user)

.page-box.page-box-no-padding.last-box.bg-white

  = render "library/tray_header", tray: @tray, owner: owner

  .container.py-3
    .mt-2.mb-4
      - if @tray.description.blank?
        - if owner
          = link_to "Add description...", edit_tray_path(@tray.profile, @tray), class: "text-muted"
      - else
        = simple_style @tray.description
    .card
      .card-header
        - if owner
          .float-right
            = link_to tray_path(@tray.profile, @tray), class: "link-unstyled" do
              = icon("fas", "pencil-alt")

        = @tray.slug
      .card-body
        .design-header
          = @tray.name

        - @tray.cubes.each do |cube|
          = render "cubes/show", cube: cube
