- @title = @contact.name

- links = []
- links << ['Contacts', project_contacts_path(@project)]
- links << [@contact.name, [@project, @contact]]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid

    %h2.underline-header
      = @title
      = link_to 'Edit Contact', edit_project_contact_path(@contact.project, @contact), class: 'btn btn-default btn-xs'
      = link_to 'Delete Contact', [@contact.project, @contact], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Contact #{@contact.name}?" }

    %dl.dl-horizontal
      %dt Title
      %dd= @contact.title

      %dt Name
      %dd= @contact.name

      %dt Phone
      %dd= @contact.phone

      %dt Fax
      %dd= @contact.fax

      %dt Email
      %dd= @contact.email

      %dt Position
      %dd= @contact.position

      %dt Project
      %dd= link_to @contact.project.name, @contact.project if @contact.project

      %dt Archived
      %dd= simple_check @contact.archived
