- case @theme
- when "night"
  = favicon_link_tag("logos/slice-v5-black-icon-16.ico")
- when "underwater"
  = favicon_link_tag("logos/slice-v5-teal-icon-16.ico")
- when "love"
  = favicon_link_tag("logos/slice-v5-pink-icon-16.ico")
- when "royal"
  = favicon_link_tag("logos/slice-v5-purple-icon-16.ico")
- when "spring"
  = favicon_link_tag("logos/slice-v5-blue-icon-16.ico")
- when "fall"
  = favicon_link_tag("logos/slice-v5-amber-icon-16.ico")
- when "winter"
  = favicon_link_tag("logos/slice-v5-blue-icon-16.ico")
- else
  = favicon_link_tag("logos/slice-v5-blue-icon-16.ico")
