<%= render partial: 'contour/layouts/per_page', locals: { type: 'documents', per_page: 20, object_count: @documents.total_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'documents.name', 'Name', 'documents_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'documents.category', 'Category', 'documents_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'documents.file', 'File', 'documents_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'documents.archived', 'Archived', 'documents_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @documents.each do |document| %>
    <tr>
      <td><%= link_to document.name, [document.project, document] %></td>
      <td><%= document.category %></td>
      <td>
        <% if document.file.size > 0 %>
          <% full_url = "#{request.script_name}#{document.file.url}" %>
          <%= link_to document.name, full_url, target: '_blank', class: 'btn btn-default btn-mini' %> <span class="muted"><%= number_to_human_size(document.file.size) %></span>
        <% end %>
      </td>
      <td><%= simple_check document.archived %></td>
      <td>
        <%= link_to 'Edit', edit_project_document_path(document.project, document), class: 'btn btn-default btn-mini' %>
        <%= link_to 'Delete', [document.project, document], method: :delete, class: 'btn btn-mini btn-danger-inverse', data: { confirm: "Are you sure you want to delete Document #{document.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @documents, theme: "contour" %></div>
