<% @title = 'Documents' %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= @title %>
    <%= link_to "Create Document", new_project_document_path(@project), class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag project_documents_path(@project), method: :get, remote: true, id: "documents_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>
  <%= text_field_tag 'search', params[:search], class: 'search-query' %>
  <%= submit_tag 'Search', class: 'btn btn-primary' %>
<% end %>

<div id="documents"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
