- @title = 'Documents'

= render 'projects/tabbed_menu', links: [['Documents', project_documents_path(@project)]]

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-header
      = @title
      = link_to 'Create Document', new_project_document_path(@project), class: 'btn btn-xs btn-primary'
      .per-page
        = render 'contour/layouts/per_page', per_page: 20, object_count: @documents.total_count

    = render 'documents/documents'

    .jumbotron
      = form_tag project_documents_path(@project), method: :get, class: 'form-inline' do
        = hidden_field_tag :order, params[:order]
        = text_field_tag 'search', params[:search], class: 'form-control'
        = submit_tag 'Search', class: 'btn btn-primary', name: nil
