<% @title = @document.name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to 'Documents', project_documents_path(@project) %> &middot; <%= @title %>
    <%= link_to "Edit Document", edit_project_document_path(@document.project, @document), class: 'btn btn-mini' %>
    <%= link_to "Delete Document", [@document.project, @document], method: :delete, class: 'btn btn-mini btn-danger-inverse', data: { confirm: "Are you sure you want to delete Document #{@document.name}?" } %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @document.name %></dd>

  <dt>Category</dt>
  <dd><%= @document.category %></dd>

  <dt>File</dt>
  <dd>
    <% if @document.file.size > 0 %>
      <% full_url = "#{request.script_name}#{@document.file.url}" %>
      <%= link_to @document.name, full_url, target: '_blank', class: 'btn btn-mini' %> <span class="muted"><%= number_to_human_size(@document.file.size) %></span>
    <% end %>
  </dd>

  <dt>Archived</dt>
  <dd><%= simple_check @document.archived %></dd>
</dl>
