- @title = 'Prepare for Handoff'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = render 'layouts/side_nav_header_button'
        = @title

- if @handoff.handoff_enabled_event_designs.present?
  .jumbotron.callout-danger
    %h4 IMPORTANT

    %p
      You may consider using Restricted Profiles (Android) or Guided Access
      (iOS) when using a tablet for direct data entry by the participant. These
      features help restrict access and prevent unintended user actions while
      using the tablet for data entry.

    %p
      = link_to 'Click here', 'http://www.pcworld.com/article/2921718/2-easy-ways-to-child-proof-your-android-or-ios-device.html', target: '_blank'
      for more information.

  .center{ style: 'margin-bottom: 20px' }
    = link_to create_handoff_project_subject_path(subject_event_id: params[:subject_event_id]), method: :post, class: 'btn btn-lg btn-accent btn-shadow' do
      Launch Tablet Handoff
      %span.glyphicon.glyphicon-send

  %h3.text-white.text-shadow
    Handoff URL
  %code
    = "#{ENV['website_url']}/handoff/#{@project.to_param}/#{@handoff.to_param}"
- else
  = render 'handoffs/no_handoff_enabled_designs_on_event'
