- @title = "Prepare for Handoff"

- content_for :header, @title

- if @handoff.handoff_enabled_event_designs.present?
  .jumbotron.bg-danger.text-white
    %h4 IMPORTANT

    %p
      You may consider using Restricted Profiles (Android) or Guided Access
      (iOS) when using a tablet for direct data entry by the participant. These
      features help restrict access and prevent unintended user actions while
      using the tablet for data entry.

    %p
      = link_to "Click here", "http://www.pcworld.com/article/2921718/2-easy-ways-to-child-proof-your-android-or-ios-device.html", target: "_blank", class: "text-dark"
      for more information.

  .text-center.mb-4
    = link_to create_handoff_project_subject_path(subject_event_id: params[:subject_event_id]), method: :post, class: "btn btn-lg btn-accent btn-shadow" do
      Launch tablet handoff
      %i.fa.fa-paper-plane

  .dashboard-container
    %h3
      Handoff URL
    %code.btn-link.link-no-underline
      = "#{ENV["website_url"]}/handoff/#{@project.to_param}/#{@handoff.to_param}"
- else
  = render "handoffs/no_handoff_enabled_designs_on_event"
