%table.table.table-striped
  %thead
    %tr
      = th_sort_field @order, 'domains.name', 'Name'
      %th.nowrap Options
      %th.nowrap # Variables
      %th Actions

  - @domains.each do |domain|
    %tr
      %td= link_to domain.name, [domain.project, domain]
      %td
        - if domain.options.size > 0
          = select_tag "#{domain.id}_options", options_for_select(domain.options.collect { |d| "#{d[:value]}: #{d[:name]}" }), style: 'width:200px', class: 'form-control'
      %td= domain.variables.count
      %td.nowrap
        = link_to 'Edit', edit_project_domain_path(domain.project, domain), class: 'btn btn-default btn-xs'
        = link_to 'Delete', [domain.project, domain], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Domain #{domain.name}?" }

.center= paginate @domains, theme: 'bootstrap'
