<% position = Time.now.to_i.to_s + Time.now.usec.to_s unless position %>
<% @position = position %>
<% option_index = 'new' if option_index.blank? %>

<% total_count = 0 %>

<% if @domain %>
  <% sheet_variables_count = SheetVariable.where(variable_id: @domain.variable_ids, response: @option[:value]).count  %>
  <% grid_count = Grid.where(variable_id: @domain.variable_ids, response: @option[:value]).count %>
  <% total_count = sheet_variables_count + grid_count %>
<% end %>

<div id="option_<%= @position %>" class="<%= 'fieldset_with_errors' if @domain and @domain.errors.keys.include?(:options) %>" data-object="hover-show" data-target="#option_<%= @position %>_delete_link" style="cursor:move;line-height:25px;padding-top:5px">
  <%= hidden_field_tag "domain[option_tokens][][option_index]", option_index %>
  <div class="custom_widget" style="float:left">
    <div class="colorselector" data-object="color-selector" data-target="#domain_option_tokens_<%= @position %>_hexcolor" data-color="<%= @option[:color].blank? ? '#ffffff' : @option[:color] %>" style="background-image: none">
      <div id="domain_option_tokens_<%= @position %>_hexcolor_display" style="background-color: <%= @option[:color].blank? ? '#ffffff' : @option[:color] %>;top:0px;left:0px"></div>
    </div>
  </div>
  <div style="float:left;margin-left:30px">
    &curren;
    <%= text_field_tag "domain[option_tokens][][name]", @option[:name], data: { object: 'option-name' }, placeholder: 'Name', rel: 'tooltip', title: 'Name', class: 'input-small' %>
    <%= text_field_tag "domain[option_tokens][][value]", @option[:value], placeholder: 'Value', rel: 'tooltip', title: 'Value', class: 'input-small' %>
    <%= text_field_tag "domain[option_tokens][][description]", @option[:description], placeholder: 'Description', rel: 'tooltip', title: 'Description', tabindex: "-1" %>
    <%= check_box_tag "domain[option_tokens][][missing_code]", '1', @option[:missing_code] == '1', class: 'checkbox', rel: 'tooltip', title: 'Missing Code?', tabindex: "-1" %> Missing Code?
    <%= hidden_field_tag "domain[option_tokens][][color]", (@option[:color].blank? ? '#ffffff' : @option[:color]), id: "domain_option_tokens_#{@position}_hexcolor" %>
    <% if total_count > 0 %>
      <span class="muted"><%= pluralize total_count, 'response' %> uses this option.</span>
    <% end %>
    <%= link_to 'Remove', '#', class: 'btn btn-mini btn-danger', data: { object: 'remove', target: "option_#{@position}", count: total_count }, style: "display:none", id: "option_#{@position}_delete_link", tabindex: "-1" %>
  </div>
  <div style="clear:both"></div>
</div>
