- position = Time.zone.now.to_i.to_s + Time.zone.now.usec.to_s
%tr.domain-option-container{ class: "#{"fieldset_with_errors" if @domain && @domain.errors.keys.include?(:options)}" }
  %td{ style: "vertical-align: middle;" }
    = icon("fas", "arrows-alt")
    = hidden_field_tag "domain[option_tokens][][domain_option_id]", domain_option.id
  %td{ style: @domain && @domain.new_record? ? "display:none" : nil }
    = text_field_tag "domain[option_tokens][][value]", domain_option.value, autocomplete: "off", rel: "tooltip", title: "Value", class: "form-control"
  %td
    = text_field_tag "domain[option_tokens][][name]", domain_option.name(World.language), data: { object: "option-name" }, autocomplete: "off", rel: "tooltip", title: "Name", class: "form-control", placeholder: World.translate_language? ? domain_option[:name] : nil
  %td.d-none.d-sm-table-cell
    .custom-control.custom-checkbox
      = check_box_tag "domain[option_tokens][][missing_code]", "1", domain_option.missing_code?, tabindex: "-1", class: "custom-control-input", id: "opt_missing_code_#{domain_option.value}_#{position}"
      = label_tag "opt_missing_code_#{domain_option.value}_#{position}", "Missing Code", class: "custom-control-label"
  %td.d-none.d-sm-table-cell
    .custom-control.custom-checkbox
      = check_box_tag "domain[option_tokens][][archived]", "1", domain_option.archived?, tabindex: "-1", class: "custom-control-input", id: "opt_archived_#{domain_option.value}_#{position}"
      = label_tag "opt_archived_#{domain_option.value}_#{position}", "Archived", class: "custom-control-label"
  - if sites.size > 1
    %td.d-none.d-lg-table-cell
      = select_tag "domain[option_tokens][][site_id]", options_for_select([["--All Sites--", nil]] + sites.collect { |s| [s.number_and_name, s.id] }, domain_option.site_id), class: "form-control", tabindex: "-1"
  %td.nowrap.text-right{ style: "vertical-align: middle;" }
    - total_count = domain_option.captured_values_count
    - if total_count > 0
      .btn.btn-sm.btn-light{ style: "cursor: default", rel: "tooltip", data: { title: pluralize(total_count, "response"), container: "body", placement: "top" } }
        = icon("fas", "chart-pie", class: "text-primary")
    = link_to "#", class: "btn btn-sm btn-outline-danger", data: { object: "remove-closest", target: ".domain-option-container", count: total_count }, tabindex: "-1" do
      = icon("fas", "trash-alt")

