%h2.underline-header= @title

= form_for [@domain.project, @domain], html: { class: 'form-horizontal' } do |f|
  - if @domain.errors.any?
    .callout.callout-danger
      %strong
        = pluralize(@domain.errors.count, "error")
        prohibited this domain from being saved

      %ul
        - @domain.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :display_name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :display_name, class: 'form-control', autocomplete: 'off', data: { object: (@domain.new_record? ? 'create-domain-name' : ''), domain_target: '#domain_name' }

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, maxlength: 30, class: 'form-control'
      .callout.callout-info
        %strong Naming convention

        %ul
          %li
            Must be a letter
            %code a-zA-Z
            followed by letters
            = succeed ',' do
              %code a-zA-Z
            numbers
            = succeed ',' do
              %code 0-9
            or underscores
            = succeed '.' do
              %code _
          %li
            Max length
            = succeed '.' do
              %strong 30 characters
        Ex:
        %code domain1_population

  .form-group
    = f.label :description, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    %label.col-md-2.control-label Options
    .col-md-10
      #options{ data: { object: "sortable" } }
        = render 'domains/options'

  .form-group
    .col-md-10.col-md-offset-2
      .btn-toolbar
        = link_to 'Add Additional Options', '#', id: 'add_more_domain_options', class: 'btn btn-default btn-xs', data: { project_id: @project.to_param }

  = hidden_field_tag :continue, '0'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      - form_name = @domain.new_record? ? 'new_domain' : "edit_domain_#{@domain.id}"
      = f.submit @domain.new_record? ? 'Create Domain and Continue' : 'Update Domain and Continue', class: 'btn btn-primary btn-lg', data: { target: "##{form_name}", object: "domain-form-submit", continue: '1' }
      = cancel
