= form_with model: [domain.project, domain], local: true do |form|
  = form.hidden_field :language, value: World.language, name: :language
  .form-group.row
    = form.label :display_name, nil, class: "col-md-2 col-form-label"
    .col-md-10
      = form.text_field :display_name, class: "form-control", autocomplete: "off", data: { object: (domain.new_record? ? "create-domain-name" : ""), domain_target: "#domain_name" }
      = render "layouts/errors", object: domain, key: :display_name

  .form-group.row
    = form.label :name, nil, class: "col-md-2 col-form-label"
    .col-md-10
      .input-group
        = form.text_field :name, maxlength: 30, class: "form-control"
        .input-group-append
          = link_to "#", class: "btn btn-info", data: { object: "toggle-visibility", target: "#name-info" }, tabindex: "-1" do
            = icon("fas", "info-circle")
      = render "layouts/errors", object: domain, key: :name
      #name-info.card.border-info.bg-light.mt-3{ style: "display: none;" }
        .card-header
          %strong Naming convention
        .card-body
          %ul
            %li
              Must be a letter
              %code a-zA-Z
              followed by letters
              = succeed "," do
                %code a-zA-Z
              numbers
              = succeed "," do
                %code 0-9
              or underscores
              = succeed "." do
                %code _
            %li
              Max length
              = succeed "." do
                %strong 30 characters
          Ex:
          %code domain1_population

  = render "forms/horizontal/text_area", form: form, object: domain, key: :description, rows: 7

  .form-group.row
    %label.col-md-2.col-form-label Options
    .col-md-10
      %table.table.table-borderless
        %col{ width: "1px" }
        %col{ style: domain && domain.new_record? ? "display:none" : nil }
        %col
        %col.d-none.d-sm-table-column{ width: "1px" }
        - if @project.sites.count > 1
          %col.d-none.d-sm-table-column{ width: "1px" }
        %col{ width: "1px" }
        %tbody#options{ data: { object: "sortable" } }
          = render "domains/options"

  .form-group.row
    .col-md-2
    .col-md-10
      = render "layouts/errors", object: domain, key: :option
      .btn-toolbar
        = link_to "Add Additional Options", "#", id: "add_more_domain_options", class: "btn btn-light btn-sm", data: { project_id: @project.to_param }

  = hidden_field_tag :continue, "0"

  .form-group
    .col-md-2
    .col-md-10
      = form.submit nil, class: "btn btn-primary"
      - form_name = domain.new_record? ? "new_domain" : "edit_domain_#{domain.id}"
      = form.submit domain.new_record? ? "Create Domain and Continue" : "Update Domain and Continue", class: "btn btn-primary", data: { target: "##{form_name}", object: "domain-form-submit", continue: "1" }
      = link_to "Cancel", domain.new_record? ? project_domains_path(@project) : [@project, domain], class: "btn btn-light"
