<div class="page-header">
  <h1><%= link_to @domain.project.name, @domain.project %> &middot; <%= @title %></h1>
</div>

<%= form_for [@domain.project, @domain], html: { class: 'form-horizontal' } do |f| %>
  <% if @domain.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@domain.errors.count, "error") %> prohibited this domain from being saved</h4>

      <ul>
      <% @domain.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :project_id %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, maxlength: 30, class: 'form-control' %>
      <div class="bs-callout bs-callout-info">
        <h4>Naming convention</h4>

        <ul>
          <li>Must be a letter <code>a-zA-Z</code> followed by letters <code>a-zA-Z</code>, numbers<code>0-9</code>, or underscores<code>_</code>.</li>
          <li>Max length <b>30 characters</b>.</li>
        </ul>
        Ex: <code>domain1_population</code>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :description, rows: 7, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Options</label>
    <div class="col-lg-10">
      <div id="options" data-object="sortable">
        <%= render partial: 'domains/options' %>
      </div>
      <div class="btn-toolbar">
        <%= link_to 'Add Additional Options', '#', id: 'add_more_domain_options', class: 'btn btn-default btn-mini' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-offset-2">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
