- @title = "Domains"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    = link_to plus_or("New Domain"), new_project_domain_path(@project), class: "btn btn-accent btn-shadow"
    .per-page= render "layouts/per_page", per_page: 40, object_count: @domains.total_count
  = @title
  = render "search/toggle"

= render "search/simple", url: project_domains_path(@project)

- if @domains.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col
      %col.d-none.d-sm-table-column
      %col.d-none.d-md-table-column
      %col{ width: "1px" }
      %thead
        %tr
          = th_sort_field @order, "domains.name", "Name"
          %th.d-none.d-sm-table-cell Options
          = th_sort_field_rev @order, "domains.variables_count", "Variables", extra_class: "d-none d-md-table-cell text-center"
          %th.text-center Actions

      - @domains.each do |domain|
        %tr
          %td= link_to domain.name, [@project, domain]
          %td.d-none.d-sm-table-cell
            - if domain.domain_options.present?
              = select_tag "#{domain.id}_options", options_for_select(domain.domain_options.collect(&:value_and_name)), style: "width: 200px;", class: "form-control"
          %td.d-none.d-md-table-cell.text-center= domain.variables_count
          %td.nowrap.text-center
            = render "layouts/edit_delete_dropdown", edit_url: edit_project_domain_path(@project, domain), delete_url: [@project, domain], delete_confirmation: "Delete \"#{domain.name}\" domain?"

  .center-horizontally= paginate @domains, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    No domains found.

.center-horizontally
  .docs-learn-more
    Learn about
    = succeed "." do
      = link_to "domains", docs_domains_path
