<% @title = 'Domains' %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, setup_project_path(@project) %> &middot; <%= @title %>
    <%= link_to "Create Domain", new_project_domain_path(@project), class: 'btn btn-xs btn-primary' %>
  </h1>
</div>

<%= form_tag project_domains_path(@project), method: :get, id: "domains_search", class: 'form-inline' do %>
  <%= hidden_field_tag :order, params[:order] %>

  <%= text_field_tag 'search', params[:search], class: 'form-control', data: { object: 'filter' } %>
  <%= submit_tag 'Search', class: 'btn btn-primary', name: nil %>
  <%= link_to 'Reset', project_domains_path(@project), class: 'btn btn-default' %>
<% end %>

<div id="domains">
  <%= render partial: 'domains/domains' %>
</div>
