<% @title = @domain.name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to "Domains", project_domains_path(@project) %> &middot; <%= @title %>
    <%= link_to "Edit Domain", edit_project_domain_path(@domain.project, @domain), class: 'btn btn-mini' %>
    <%= link_to "Delete Domain", [@domain.project, @domain], method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Domain #{@domain.name}?" } %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @domain.name %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @domain.description %></dd>

  <dt>User</dt>
  <dd><%= link_to @domain.user.name, @domain.user if @domain.user %></dd>

  <dt>Variables</dt>
  <dd>
    <ul>
      <% @domain.variables.each do |variable| %>
        <li><%= link_to variable.name, [variable.project, variable] %></li>
      <% end %>
    </ul>
  </dd>
</dl>

<% if @domain.options.size > 0 %>
  <%= render partial: 'compact_options' %>
<% end %>
