- @title = @domain.name

- links = []
- links << ['Domains', project_domains_path(@project)]
- links << [@domain.name, [@project, @domain]]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-heading
      = @title
      = link_to "Edit Domain", edit_project_domain_path(@domain.project, @domain), class: 'btn btn-default btn-xs'
      = link_to "Delete Domain", [@domain.project, @domain], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Domain #{@domain.name}?" }

    %dl.dl-horizontal
      %dt Description
      %dd= simple_format @domain.description

      %dt Creator
      %dd= link_to @domain.user.name, @domain.user if @domain.user

      %dt Variables
      %dd
        %ul
          - @domain.variables.order('name').each do |variable|
            %li
              = link_to variable.name, [variable.project, variable]
              \-
              %span.text-muted= variable.display_name

    - if @domain.options.size > 0
      = render 'compact_options', domain: @domain
