<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @project, html: { class: 'form-horizontal' } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved</h4>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_area :description, rows: 7, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :subject_code_name, "Subject Code name", class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :subject_code_name, placeholder: "Subject Code", class: 'form-control' %>
      <div class="bs-callout bs-callout-info">
        <h4>What is the Subject Code name?</h4>
        <%= DEFAULT_APP_NAME %> requires a unique string in order to identify subjects. By default the unique string is labeled <code>Subject Code</code>, however you may choose to change it to <code>Participant ID</code>, <code>Survey Recipient Number</code>, or any other suitable nomenclature that fits your particular project.
      </div>
    </div>
  </div>

  <% if @project.sites.size == 0 %>
    <div class="form-group">
      <%= f.label :site_name, nil, class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= f.text_field :site_name, placeholder: 'Default Site', class: 'form-control' %>
        <div class="bs-callout bs-callout-info">
          <h4>What is the Site name?</h4>
          <%= DEFAULT_APP_NAME %> requires subjects be grouped by site. This requirement helps enforce unique subject codes within a site and also allows reports to break down subject counts by site. If your project does not have subjects that span multiple sites, you can leave this blank, which will create a single site for your project named <code>Default Site</code>. Each project is required to have at least one site, however if you need more than one, you can add additional sites after the project has been created.
        </div>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :acrostic_enabled %>
          Acrostic enabled
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :logo, 'Logo (JPG, GIF, PNG)', class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.file_field :logo, class: 'form-control' %>
      <%= f.hidden_field :logo_cache %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :show_posts %>
          Show News
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :show_documents %>
          Show Documents
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :show_contacts %>
          Show Contacts
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
