- if project.new_record?
  - url = projects_path
  - method = :post
- else
  - url = editor_project_path(project)
  - method = :patch
= form_with model: project, url: url, method: method, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: project, key: :name, slug: "slug"
  = render "forms/horizontal/slug_field", form: form, object: project, key: :slug, key_name: "URL Slug"
  = render "forms/horizontal/text_area", form: form, object: project, key: :description, rows: 7

  - if project.sites.size.zero?
    .form-group.row
      = form.label :site_name, nil, class: "col-md-2 col-form-label"
      .col-md-10
        = form.text_field :site_name, placeholder: "Default Site", class: "form-control"
        .card.border-info.bg-light.mt-3
          .card-header
            %strong What is the Site name?
          .card-body
            = ENV["website_name"]
            requires subjects be grouped by site. This requirement helps enforce
            unique subject codes within a site and also allows reports to break
            down subject counts by site. If your project does not have subjects
            that span multiple sites, you can leave this blank, which will create
            a single site for your project named
            = succeed "." do
              %code Default Site
            Each project is required to have at least one site, however if you
            need more than one, you can add additional sites after the project has
            been created.

  = render "forms/horizontal/select", form: form, object: project, key: :auto_lock_sheets, options: Project::AUTO_LOCK_SHEETS
  = render "forms/horizontal/check_box", form: form, object: project, key: :translations_enabled, key_name: "Enable translations", help_text: "Allows designs to be translated."
  - cancel = project.new_record? ? projects_path : settings_editor_project_path(project)
  = render "forms/horizontal/submit", form: form, object: project, cancel: cancel
