<div class="page-header">
  <h1>
    <%= @project.name %> &middot; <%= title %>

    <div class="pull-right">
      <span id="project_<%= @project.id %>_favorite_link"><%= render partial: 'projects/favorite' %></span>
      <% if current_user.all_viewable_and_site_projects.size == 1 or true %>
        <%= link_to 'Create Project', new_project_path, class: 'btn btn-xs btn-primary' %>
      <% end %>
    </div>
  </h1>
</div>
