.dashboard-container
  %h3.px-2.py-1 Project Members

  %table.table.table-borderless.table-hover.table-sticky
    %col
    %col
    - if @project.blinding_enabled?
      %col
    %col{ width: "1px" }
    %thead
      %tr
        %th Name
        %th Role
        - if @project.blinding_enabled?
          %th.text-center Blinding
        %th.text-center Actions
    %tr
      %td
        .d-none.d-lg-inline= @project.user.full_name
        .d-inline.d-lg-none= @project.user.nickname

      %td
        %span.d-none.d-lg-inline Project
        Owner
      - if @project.blinding_enabled?
        %td.text-center
          = icon("far", "eye", class: "text-muted")
      %td
    - @project.project_users.order(editor: :desc, id: :asc).each do |project_user|
      %tbody{ id: "project-user-#{project_user.id}-container" }
        = render "projects/member_row", member: project_user

- @project.sites.order(:name).each do |site|
  .dashboard-container
    %h3.px-2.py-1
      .d-none.d-sm-inline= site.name
      .d-inline.d-sm-none= site.short_name
    %table.table.table-borderless.table-hover.table-sticky
      %col
      %col
      - if @project.blinding_enabled?
        %col
      %col{ width: "1px" }
      %thead
        %tr
          %th Name
          %th Role
          - if @project.blinding_enabled?
            %th.text-center Blinding
          %th.text-center Actions
      - if site.site_users.size == 0
        %tr.active
          %td.text-center{ colspan: (@project.blinding_enabled? ? 5 : 4) } No Members on Site
      - site.site_users.order(editor: :desc, id: :asc).each do |member|
        %tbody{ id: "site-user-#{member.id}-container" }
          = render "projects/member_row", member: member
