<table class="table" style="table-layout:fixed;margin-top:20px">
  <thead>
    <tr>
      <th>All Sites</th>
      <th>Role</th>
      <th>Invited By</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tr>
    <td><%= @project.user.name %></td>
    <td>Project Owner</td>
    <td></td>
    <td></td>
  </tr>
  <% @project.project_users.order(editor: :desc, id: :asc).each do |project_user| %>
    <%= render partial: 'projects/member_row', locals: { member: project_user } %>
  <% end %>

  <tr>
    <th>Sites</th>
    <th></th>
    <th></th>
    <th><%= link_to "Create Site", new_project_site_path(@project), class: 'btn btn-xs btn-primary' if @project.editable_by?(current_user) %></th>
  </tr>

  <% @project.sites.each do |site| %>
    <tr>
      <th><%= link_to_if current_user.all_viewable_sites.pluck(:id).include?(site.id), site.name, [site.project, site] %></th>
      <th>Role</th>
      <th>Invited By</th>
      <th>Actions</th>
    </tr>
    <% if site.site_users.size == 0 %>
      <tr class="active">
        <td colspan="4" style="text-align:center">No Members on Site</td>
      </tr>
    <% end %>
    <% site.site_users.order(editor: :desc, id: :asc).each do |member| %>
      <%= render partial: 'projects/member_row', locals: { member: member } %>
    <% end %>
  <% end %>
</table>
