%h3.text-white.text-shadow Project Members
.dashboard-container
  %table.table.table-borderless
    %col
    %col
    - if @project.blinding_enabled?
      %col
    %col.hidden-xs
    %col{ width: "1px" }
    %thead
      %tr
        %th Name
        %th Role
        - if @project.blinding_enabled?
          %th.text-center Blinding
        %th.hidden-xs Invited By
        %th Actions
    %tr
      %td
        %span.hidden-xs= @project.user.name
        %span.hidden-sm.hidden-md.hidden-lg= @project.user.nickname

      %td
        %span.hidden-xs Project
        Owner
      - if @project.blinding_enabled?
        %td.text-center
          %i.fa.fa-eye.text-muted
      %td.hidden-xs
      %td
    - @project.project_users.order(editor: :desc, id: :asc).each do |project_user|
      %tbody{ id: "project-user-#{project_user.id}-container" }
        = render "projects/member_row", member: project_user

- if @project.editable_by?(current_user)
  .pull-right
    = link_to "Create Site", new_project_site_path(@project), class: "btn btn-xs btn-primary btn-shadow"
%h3.text-white.text-shadow
  Site Members
- @project.sites.order(:name).each do |site|
  .dashboard-container
    %h4
      %span.hidden-xs= site.name
      .hidden-sm.hidden-md.hidden-lg.text-center
        = site.short_name
    %table.table.table-borderless
      %col
      %col
      - if @project.blinding_enabled?
        %col
      %col.hidden-xs
      %col{ width: "1px" }
      %thead
        %tr
          %th Name
          %th Role
          - if @project.blinding_enabled?
            %th.text-center Blinding
          %th.hidden-xs Invited By
          %th Actions
      - if site.site_users.size == 0
        %tr.active
          %td.text-center{ colspan: (@project.blinding_enabled? ? 5 : 4) } No Members on Site
      - site.site_users.order(editor: :desc, id: :asc).each do |member|
        %tbody{ id: "site-user-#{member.id}-container" }
          = render "projects/member_row", member: member
