%tr{ class: "#{"success" if @member == member}" }
  %td
    .d-none.d-lg-inline= member.user.full_name
    .d-inline.d-lg-none= member.user.nickname
  %td
    %span.d-none.d-lg-inline= member.is_a?(ProjectUser) ? "Project" : "Site"
    = member.editor? ? "Editor" : "Viewer"
  - if @project.blinding_enabled?
    %td.text-center
      - if member.unblinded?
        = icon("far", "eye", class: "text-muted")
      - else
        = icon("fas", "blind", class: "text-danger")
  %td.nowrap.text-center
    - if member.is_a?(ProjectUser)
      - if @project.editable_by?(current_user) && (@project.blinding_enabled? && @project.unblinded?(current_user)) || @project.editable_by?(current_user) || (current_user.all_viewable_projects.include?(@project) && current_user == member.user)
        .dropdown
          = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
            .d-inline-block.d-sm-none
              = icon("fas", "cog")
            .d-none.d-sm-inline-block Actions
          .dropdown-menu.dropdown-menu-right
            - if @project.editable_by?(current_user)
              - if @project.blinding_enabled? && @project.unblinded?(current_user)
                - if member.unblinded?
                  = link_to project_user_path(member, project_id: @project.id, unblinded: "0"), method: :patch, remote: true, class: "dropdown-item" do
                    = icon("fas", "blind")
                    Set as blinded
                - else
                  = link_to project_user_path(member, project_id: @project.id, unblinded: "1"), method: :patch, remote: true, class: "dropdown-item" do
                    = icon("far", "eye")
                    Set as unblinded
            - if @project.editable_by?(current_user) || (current_user.all_viewable_projects.include?(@project) && current_user == member.user)
              - if @project.editable_by?(current_user)
                - if @project.blinding_enabled? && @project.unblinded?(current_user)
                  .dropdown-divider
              = link_to member, method: :delete, remote: true, data: { confirm: "Remove #{member.user ? member.user.full_name : member.invite_email}?" }, class: "dropdown-item text-danger" do
                = icon("fas", "trash-alt")
                Remove
    - else
      - if @project.editable_by?(current_user) && (@project.blinding_enabled? && @project.unblinded?(current_user)) || @project.editable_by?(current_user) || (current_user.all_viewable_sites.include?(member.site) && current_user == member.user)
        .dropdown
          = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
            .d-inline-block.d-sm-none
              = icon("fas", "cog")
            .d-none.d-sm-inline-block Actions
          .dropdown-menu.dropdown-menu-right
            - if @project.editable_by?(current_user)
              - if @project.blinding_enabled? && @project.unblinded?(current_user)
                - if member.unblinded?
                  = link_to project_site_user_path(@project, member, unblinded: "0"), method: :patch, remote: true, class: "dropdown-item" do
                    = icon("fas", "blind")
                    Set as blinded
                - else
                  = link_to project_site_user_path(@project, member, unblinded: "1"), method: :patch, remote: true, class: "dropdown-item" do
                    = icon("far", "eye")
                    Set as unblinded
            - if @project.editable_by?(current_user) || (current_user.all_viewable_sites.include?(member.site) && current_user == member.user)
              - if @project.editable_by?(current_user)
                - if @project.blinding_enabled? && @project.unblinded?(current_user)
                  .dropdown-divider
              = link_to [member.project, member], method: :delete, remote: true, data: { confirm: "Remove #{member.user ? member.user.full_name : member.invite_email}?" }, class: "dropdown-item text-danger" do
                = icon("fas", "trash-alt")
                Remove
