%tr{ class: "#{'success' if @member == member}" }
  %td
    - if member.user
      %span.hidden-xs= member.user.name
      %span.hidden-sm.hidden-md.hidden-lg= member.user.nickname
    - else
      %span.text-muted{ style: 'word-break: break-word;' }= member.invite_email
  %td
    %span.hidden-xs= member.is_a?(ProjectUser) ? 'Project' : 'Site'
    = member.editor? ? 'Editor' : 'Viewer'
  - if @project.blinding_enabled?
    %td.center
      - if member.unblinded?
        %span.glyphicon.glyphicon-eye-open.text-muted
      - else
        %span.glyphicon.glyphicon-eye-close.text-danger
  %td.hidden-xs.text-muted
    - if member.creator
      = link_to member.creator.name, member.creator
  %td
    - if member.is_a?(ProjectUser)
      .dropdown
        = link_to '#', class: 'btn btn-default btn-xs dropdown-toggle', data: { toggle: 'dropdown' } do
          Actions
          %strong.caret
        %ul.dropdown-menu.dropdown-menu-right
          - if @project.editable_by?(current_user) && member.user.nil?
            %li
              = link_to resend_project_user_path(member), method: :post, remote: true do
                %span.glyphicon.glyphicon-send
                Resend Invitation
          - if @project.editable_by?(current_user) && @project.blinding_enabled? && @project.unblinded?(current_user)
            - if member.unblinded?
              %li
                = link_to project_user_path(member, project_id: @project.id, unblinded: '0'), method: :patch, remote: true do
                  %span.glyphicon.glyphicon-eye-close
                  Set as Blinded
            - else
              %li
                = link_to project_user_path(member, project_id: @project.id, unblinded: '1'), method: :patch, remote: true do
                  %span.glyphicon.glyphicon-eye-open
                  Set as Unblinded
          - if @project.editable_by?(current_user) || (current_user.all_viewable_projects.include?(@project) && current_user == member.user)
            %li.divider{ role: 'separator' }
            %li
              = link_to member, method: :delete, remote: true, data: { confirm: "Remove #{member.user ? member.user.name : member.invite_email}?" } do
                .text-danger
                  %span.glyphicon.glyphicon-trash
                  Remove
    - else
      .dropdown
        = link_to '#', class: 'btn btn-default btn-xs dropdown-toggle', data: { toggle: 'dropdown' } do
          Actions
          %strong.caret
        %ul.dropdown-menu.dropdown-menu-right
          - if @project.editable_by?(current_user) && member.user.nil?
            %li
              = link_to resend_project_site_user_path(member.project, member), method: :post, remote: true do
                %span.glyphicon.glyphicon-send
                Resend Invitation
          - if @project.editable_by?(current_user) && @project.blinding_enabled? && @project.unblinded?(current_user)
            - if member.unblinded?
              %li
                = link_to project_site_user_path(@project, member, unblinded: '0'), method: :patch, remote: true do
                  %span.glyphicon.glyphicon-eye-close
                  Set as Blinded
            - else
              %li
                = link_to project_site_user_path(@project, member, unblinded: '1'), method: :patch, remote: true do
                  %span.glyphicon.glyphicon-eye-open
                  Set as Unblinded
          - if @project.editable_by?(current_user) || (current_user.all_viewable_sites.include?(member.site) && current_user == member.user)
            %li.divider{ role: 'separator' }
            %li
              = link_to [member.project, member], method: :delete, remote: true, data: { confirm: "Remove #{member.user ? member.user.name : member.invite_email}?" } do
                .text-danger
                  %span.glyphicon.glyphicon-trash
                  Remove

- unless member.user
  %tr{ class: "#{'success' if @member == member}" }
    %td{ colspan: @project.blinding_enabled? ? 5 : 4 }
      - if member.is_a?(ProjectUser)
        - clipboard_text = "#{ENV['website_url']}/invite/#{member.invite_token}"
      - else
        - clipboard_text = "#{ENV['website_url']}/site-invite/#{member.invite_token}"
      .input-group{ style: 'width: 100%;' }
        = text_field_tag 'member_invite', clipboard_text, class: 'form-control'
        %span.input-group-btn
          = link_to '#', data: { object: 'suppress-click', clipboard_text: clipboard_text, placement: 'bottom', container: 'body', title: 'Copied!', trigger: 'manual' }, style: 'text-decoration: none', class: 'btn btn-accent' do
            %span.glyphicon.glyphicon-copy
