%ul.mobile-menu
  %li
    = link_to @project, class: (current_page?(@project) ? 'active' : nil) do
      Overview
  %li
    = link_to project_subjects_path(@project), class: (params[:controller] == 'subjects' || params[:action] == 'subject_report' ? 'active' : nil) do
      Subjects
  %li
    = link_to project_sheets_path(@project), class: (params[:controller] == 'sheets' ? 'active' : nil) do
      Sheets
  - if @project.randomizations_enabled? && @project.randomization_schemes.count > 0 && @project.unblinded?(current_user)
    %li
      = link_to project_randomizations_path(@project), class: (params[:controller] == 'randomizations' || %w(randomize_subject randomize_subject_to_list).include?(params[:action]) ? 'active' : nil) do
        Randomizations
  - if @project.adverse_events_enabled? && @project.unblinded?(current_user)
    %li
      = link_to project_adverse_events_path(@project), class: (%w(adverse_events adverse_event_files).include?(params[:controller]) ? 'active' : nil) do
        Adverse Events
  %li
    = link_to project_exports_path(@project), class: (params[:controller] == 'exports' ? 'active' : nil) do
      Exports
  %li
    = link_to activity_project_path(@project), class: (current_page?(activity_project_path(@project)) ? 'active' : nil) do
      Recent Activity
  %li
    = link_to share_project_path(@project), class: (current_page?(share_project_path(@project)) ? 'active' : nil) do
      Collaborators
  - if @project.editable_by? current_user
    %li
      = link_to setup_project_path(@project), class: (current_page?(setup_project_path(@project)) ? 'active' : nil) do
        Settings
  - if setup_path?
    - if @project.editable_by?(current_user)
      %li
        = link_to project_sites_path(@project), class: (params[:controller] == 'sites' ? 'active' : nil) do
          Sites
      %li
        = link_to project_designs_path(@project), class: (params[:controller] == 'designs' ? 'active' : nil) do
          Designs
      %li
        = link_to project_events_path(@project), class: (params[:controller] == 'events' ? 'active' : nil) do
          Events
      %li
        = link_to project_variables_path(@project), class: (params[:controller] == 'variables' ? 'active' : nil) do
          Variables
      %li
        = link_to project_domains_path(@project), class: (params[:controller] == 'domains' ? 'active' : nil) do
          Domains
      %li
        = link_to project_categories_path(@project), class: (params[:controller] == 'categories' ? 'active' : nil) do
          Categories
      - if @project.randomizations_enabled? && @project.unblinded?(current_user)
        %li
          = link_to project_randomization_schemes_path(@project), class: (%w(randomization_schemes block_size_multipliers lists stratification_factors stratification_factor_options treatment_arms).include?(params[:controller]) ? 'active' : nil) do
            Schemes
      - if @project.show_documents?
        %li
          = link_to project_documents_path(@project), class: (params[:controller] == 'documents' ? 'active' : nil) do
            Documents
      - if @project.show_posts?
        %li
          = link_to project_posts_path(@project), class: (params[:controller] == 'posts' ? 'active' : nil) do
            News
      %li
        = link_to project_links_path(@project), class: (params[:controller] == 'links' ? 'active' : nil) do
          Links
      - if @project.show_contacts?
        %li
          = link_to project_contacts_path(@project), class: (params[:controller] == 'contacts' ? 'active' : nil) do
            Contacts
