- if @projects.count == 0
  .jumbotron
    %p.text-center No projects found.
- else
  .dashboard-container
    %table.table.table-striped.table-borderless.table-hover
      %col{ width: '50%' }
      %col
      %col
      %col{ width: '1px' }
      %thead
        %tr
          = th_sort_field_rev params[:order], 'projects.name', 'Name'
          %th.text-center Status
          %th.text-center Emails
          %th

      - @projects.each do |project|
        %tr{ data: { project_id: project.id } }
          %td
            = link_to project.name, project
          %td.text-center{ id: "project_#{project.id}_status" }
            = render 'project_preferences/status', project: project
          %td.text-center{ id: "project_#{project.id}_emails" }
            = render 'project_preferences/emails', project: project
          %td{ id: "project_#{project.id}_actions" }
            = render 'project_preferences/actions', project: project

  .text-center= paginate @projects, theme: 'bootstrap'

