<%= render partial: 'layouts/per_page', locals: { type: 'projects', per_page: 20, object_count: @projects.total_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.name', 'Name', 'projects_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.description', 'Description', 'projects_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.user_id', 'Creator', 'projects_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @projects.each do |project| %>
    <tr id="project_<%= project.id %>">
      <td>
        <%= @project = project; render partial: 'projects/logo_small' %>
        <%= link_to project.name, project %>
      </td>
      <td><%= project.description %></td>
      <td><%= link_to project.user.name, project.user if project.user %></td>
      <td>
        <% if current_user.all_projects.pluck(:id).include?(project.id) %>
          <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Delete', project, method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Project #{project.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @projects, theme: "contour" %></div>
