<%= render partial: 'layouts/per_page', locals: { type: 'projects', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.name', 'Name', 'projects_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.description', 'Description', 'projects_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'projects.user_id', 'Creator', 'projects_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project %></td>
      <td><%= project.description %></td>
      <td><%= link_to project.user.name, project.user if project.user %></td>
      <td>
        <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-mini' %>
        <%= link_to 'Delete', project, confirm: "Are you sure you want to delete Project #{project.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @projects %></center>
