= render 'contour/layouts/per_page', per_page: 40, object_count: @projects.total_count

%table.table.table-striped
  %thead
    %tr
      = th_sort_field @order, 'projects.name', 'Name'
      = th_sort_field @order, 'projects.description', 'Description'
      = th_sort_field @order, 'projects.user_id', 'Owner'
      %th Actions

  - @projects.each do |project|
    %tr{ id: "project_#{project.id}" }
      %td
        = render 'projects/logo_small', project: project
        = link_to project.name, project
      %td= project.description
      %td= link_to project.user.name, project.user if project.user
      %td
        = link_to 'Edit', edit_editor_project_path(project), class: 'btn btn-default btn-xs' if project.editable_by?(current_user)
        = link_to 'Delete', owner_project_path(project), method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Project #{project.name}?" } if project.owner?(current_user)

.center= paginate @projects, theme: 'contour'
