<%# sheets = @project.sheets.scoped() %>
<% sheets = @project.sheets.scoped() %>
<% sheets = sheets.sheet_after(@sheet_after) unless @sheet_after.blank? %>
<% sheets = sheets.sheet_before(@sheet_before) unless @sheet_before.blank? %>

<% by = ["week", "month", "year"].include?(params[:by]) ? params[:by] : "week" # "month" or "year" %>
<% percent = ['none', 'row', 'column'].include?(params[:percent]) ? params[:percent] : 'none' %>


<% @min = sheets.pluck(:study_date).min || Date.today %>
<% @max = sheets.pluck(:study_date).max || Date.today %>

<%# ranges = [{ name: "2012", start_date: "2012-01-01", end_date: "2012-12-31" }, { name: "2013", start_date: "2013-01-01", end_date: "2013-12-31" }] %>
<% ranges = [] %>

<% case by when "week" %>
  <% current_cweek = @min.cweek %>
  <% (@min.year..@max.year).each do |year| %>
    <% (current_cweek..Date.parse("#{year}-12-28").cweek).each do |cweek| %>
      <% start_date = Date.commercial(year,cweek) - 1.day %>
      <% end_date = Date.commercial(year,cweek) + 5.days %>
      <% ranges << { name: "Week #{cweek}", tooltip: "#{year} #{start_date.strftime("%m/%d")}-#{end_date.strftime("%m/%d")} Week #{cweek}", start_date: start_date, end_date: end_date } %>
      <% break if year == @max.year and cweek == @max.cweek %>
    <% end %>
    <% current_cweek = 1 %>
  <% end %>
<% when "month" %>
  <% current_month = @min.month %>
  <% (@min.year..@max.year).each do |year| %>
    <% (current_month..12).each do |month| %>
      <% start_date = Date.parse("#{year}-#{month}-01") %>
      <% end_date = Date.parse("#{year}-#{month}-01").end_of_month %>
      <% ranges << { name: "#{Date::ABBR_MONTHNAMES[month]} #{year}", tooltip: "#{Date::MONTHNAMES[month]} #{year}", start_date: start_date, end_date: end_date } %>
      <% break if year == @max.year and month == @max.month %>
    <% end %>
    <% current_month = 1 %>
  <% end %>
<% when "year" %>
  <% ranges = (@min.year..@max.year).collect{|year| { name: year.to_s, tooltip: year.to_s, start_date: Date.parse("#{year}-01-01"), end_date: Date.parse("#{year}-12-31") }} %>
<% end %>

<table class="table table-hover"><col width="1px" />
  <thead>
    <tr>
      <th></th>
      <th>Design</th>
      <% ranges.each do |hash| %>
        <th><span class="count-rot315" rel="tooltip" title="<%= hash[:tooltip] %>"><%= hash[:name] %></span></th>
      <% end %>
      <th><span class="count-rot315">Total</span></th>
    </tr>
  </thead>
  <tfoot>
    <tr style="font-weight:bold">
      <% row_counts = ranges.collect{|hash| sheets.sheet_after(hash[:start_date]).sheet_before(hash[:end_date]).count } %>
      <td><span data-object="peity" data-method="line" style="display:none"><%= row_counts.join(',') %></span></td>
      <td>Total</td>
      <% ranges.each do |hash| %>
        <% count = sheets.sheet_after(hash[:start_date]).sheet_before(hash[:end_date]).count %>
        <td class="<%= 'muted' if count == 0 %>" rel="tooltip" title="<%= hash[:tooltip] if count > 0 %>" data-placement="left">
          <%= link_to_if count > 0, count == 0 ? '-' : count, sheets_path(sheet_before: hash[:end_date].strftime("%m/%d/%Y"), sheet_after: hash[:start_date].strftime("%m/%d/%Y")) %>
          <% hash[:column_count] = count %>
          <% if percent == 'row' and count > 0 and row_counts.sum > 0 %>
            <span class="muted" style="font-size:0.7em"><%= (count * 100 / row_counts.sum).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
          <% end %>
        </td>
      <% end %>
      <% count = sheets.count %>
      <td class="<%= 'muted' if count == 0 %>">
        <%= link_to_if count > 0, count == 0 ? '-' : count, sheets_path %>
      </td>
    </tr>
  </tfoot>
  <tbody>
    <% @project.designs.each do |design| %>
      <tr>
        <% row_counts = ranges.collect{|hash| sheets.sheet_after(hash[:start_date]).sheet_before(hash[:end_date]).with_design(design.id).count } %>
        <td><span data-object="peity" data-method="line" style="display:none"><%= row_counts.join(',') %></span></td>
        <td><%= link_to design.name, '#' %></td>
        <% ranges.each do |hash| %>
          <% count = sheets.sheet_after(hash[:start_date]).sheet_before(hash[:end_date]).with_design(design.id).count %>
          <td class="<%= 'muted' if count == 0 %>" rel="tooltip" title="<%= hash[:tooltip] if count > 0 %>" data-placement="left">
            <%= link_to_if count > 0, count == 0 ? '-' : count, sheets_path(design_id: design.id, sheet_before: hash[:end_date].strftime("%m/%d/%Y"), sheet_after: hash[:start_date].strftime("%m/%d/%Y")) %>
            <% if percent == 'row' and count > 0 and row_counts.sum > 0 %>
              <span class="muted" style="font-size:0.7em"><%= (count * 100 / row_counts.sum).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
            <% end %>
            <% if percent == 'column' and count > 0 and hash[:column_count] > 0 %>
              <span class="muted" style="font-size:0.7em"><%= (count * 100 / hash[:column_count]).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
            <% end %>
          </td>
        <% end %>
        <% count = sheets.with_design(design.id).count %>
        <td class="<%= 'muted' if count == 0 %>" rel="tooltip" title="<%= design.name if count > 0 %>" data-placement="left">
          <%= link_to_if count > 0, count == 0 ? '-' : count, sheets_path(design_id: design.id) %>
          <% if percent == 'column' and count > 0 and sheets.count > 0 %>
            <span class="muted" style="font-size:0.7em"><%= (count * 100 / sheets.count).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
