<% if @projects.size == 0 %>
  <div class="row" style="margin-top:54px">
    <div class="col-md-12">
      <h1 class="about-title"></h1>
      <p class="about-tagline"></p>
      <p class="about-signup"><%= link_to 'Create Project', new_project_path, class: "btn btn-primary btn-large" %></p>
    </div>
  </div>
<% else %>
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-6 col-md-4" data-object="hover-show" data-target="#project_<%= project.id %>_create_link">
        <div class="panel panel-default">
          <div class="panel-heading" style="overflow:hidden;height:40px">
            <h3 class="panel-title" style="white-space:nowrap;position:relative">
              <%= link_to project.name, project %>
              <%= link_to project.recent_sheets.count, project_sheets_path(project), class: 'label label-success', style: 'color: white; position:absolute;right:0px;top:0px' if project.recent_sheets.count > 0 %>
            </h3>
          </div>
          <div class="panel-body">
            <div style="text-align:center;padding-bottom:5px;height:145px;line-height:145px">
              <%= link_to image_tag( (project.logo.size > 0 ? logo_project_path(project) : 'project-default-logo.png'), style: 'max-width:100%;max-height:140px' ), project %>
            </div>
            <div style="height:1px;margin-top:2px">
              <% if project.can_edit_sheets_and_subjects?(current_user) %>
                <div style="text-align:center;display:none;padding-top:6px" id="project_<%= project.id %>_create_link" data-link="<%= new_project_sheet_path(project) %>">
                  <%= link_to 'Create Sheet', new_project_sheet_path(project), class: 'btn btn-primary btn-xs' %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title"><%= link_to 'Create Project', new_project_path %></h3>
        </div>
        <div class="panel-body">
          <div style="text-align:center;padding-bottom:5px;height:145px;line-height:145px">
            <%= link_to image_tag( 'project-default-logo.png', style: 'max-width:100%;max-height:140px' ), new_project_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'contour/layouts/per_page', locals: { per_page: 8, object_count: @projects.total_count, pagination: 'small' } %>
