- include_header = true
- include_header = false if defined?(no_header) and no_header == '1'

- if include_header
  %h3.center{ style: 'margin:0px' } Subject vs. Design
  = render 'contour/layouts/per_page', per_page: 40, object_count: @subjects.total_count

%table.table.table-hover
  %col{ width: '1px' }
    = ("<col width='#{100/(@designs.size + 1)}%'/>" * (@designs.size + 1)).html_safe
  %col{ width: '1px' }
  %thead
    %tr
      - if include_header
        %th
        %th Subject
      - @designs.each do |design|
        %th
          %span{ class: 'count-rot315__' }= design.name
      %th Total
  - if @subject_count
    %tfoot
      %tr{ style: 'font-weight:bold' }
        - if include_header
          %td
          %td Total
        - @designs.each do |design|
          - count = design.sheets.original_entry.where(subject_id: @subjects.select(:id)).count
          %td{ class: "#{'text-muted' if count == 0}" }
            = link_to_if count > 0, count == 0 ? '-' : count, project_sheets_path(@project, design_id: design.id)
        %td= link_to @designs.sum{|d| d.sheets.original_entry.where(subject_id: @subjects.select(:id)).count}, project_sheets_path(@project)
  %tbody
    - @subjects.each do |subject|
      %tr
        - if include_header
          %td{ style: 'line-height:30px' }
            - if subject.status == 'valid'
              %span.label.label-success= subject.status
            - else
              %span.label.label-info= subject.status
          %td.nowrap{ style: 'line-height:30px' }
            = link_to subject.subject_code, [subject.project, subject]
        - @designs.each do |design|
          - count = design.sheets.original_entry.where(subject_id: subject.id).count
          %td{ class: "#{'text-muted' if count == 0}", style: 'line-height:30px', data: { object: 'hover-show', target: "#subject_#{subject.id}_design_#{design.id}_add_link" } }
            - add_url = new_data_entry_project_subject_path(@project, subject, design)
            - show_url = project_sheets_path(@project, design_id: design.id, search: subject.subject_code)
            - if count == 0
              = link_to '+', add_url, class: 'btn btn-default btn-xs' if @project.editable_by?(current_user)
            - else
              - if count == 1 and sheet = @project.sheets.where(design_id: design.id, subject_id: subject.id).first
                = link_to count, [sheet.project, sheet]
              - else
                = link_to count, show_url
              = link_to '+', add_url, class: 'btn btn-default btn-xs', id: "subject_#{subject.id}_design_#{design.id}_add_link", style: 'display:none' if @project.editable_by?(current_user)
        - count = @designs.collect{ |d| d.sheets.original_entry.where(subject_id: subject.id).count }.sum
        %td{ class: "#{'text-muted' if count == 0}", style: 'line-height:30px' }
          = link_to_if count > 0, count == 0 ? '-' : count, project_sheets_path(@project, search: subject.subject_code)

.center= paginate @subjects, theme: 'contour'
