<h3 style="text-align:center;margin:0px">Subject vs. Design</h3>

<%= render partial: 'layouts/per_page', locals: { type: 'subjects', per_page: 20, object_count: @subjects.total_count } %>

<table class="table table-hover"><col width="1px" /><%== "<col width='#{100/(@designs.size + 1)}%'/>" * (@designs.size + 1) %><col width="1px"/>
  <thead>
    <tr>
      <th></th>
      <th>Subject</th>
      <% @designs.each do |design| %>
        <th><span class="count-rot315__"><%= design.name %></span></th>
      <% end %>
      <th>Total</th>
    </tr>
  </thead>
  <% if @subject_count %>
  <tfoot>
    <tr style="font-weight:bold">
      <td></td>
      <td>Total</td>
      <% @designs.each do |design| %>
        <% count = design.sheets.where(subject_id: @subjects.pluck(:id)).count %>
        <td class="<%= 'muted' if count == 0 %>">
          <%= link_to_if count > 0, count == 0 ? '-' : count, project_sheets_path(@project, design_id: design.id) %>
        </td>
      <% end %>
      <td><%= link_to @designs.sum{|d| d.sheets.where(subject_id: @subjects.pluck(:id)).count}, project_sheets_path(@project) %></td>
    </tr>
  </tfoot>
  <% end %>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td>
          <% case subject.status when 'valid' %>
            <span class="label label-success"><%= subject.status %></span>
          <% when 'test' %>
            <span class="label label-info"><%= subject.status %></span>
          <% else %>
            <span class="label label-warning"><%= subject.status %></span>
          <% end %>
        </td>
        <td><%= link_to subject.subject_code, [subject.project, subject] %></td>
        <% @designs.each do |design| %>
          <% count = design.sheets.where(subject_id: subject.id).count %>
          <td class="<%= 'muted' if count == 0 %>" data-object="hover-show" data-target="#subject_<%= subject.id %>_design_<%= design.id %>_add_link" style="line-height:24px">
            <% add_url = new_project_sheet_path(@project, sheet: { design_id: design.id }, subject_code: subject.subject_code, subject_acrostic: subject.acrostic, site_id: subject.site_id) %>
            <% show_url = project_sheets_path(@project, design_id: design.id, search: subject.subject_code) %>
            <% if count == 0 %>
              <%= link_to '+', add_url, class: 'btn btn-default btn-mini' if @project.editable_by?(current_user) %>
            <% else %>
              <% if count == 1 and sheet = @project.sheets.where(design_id: design.id, subject_id: subject.id).first %>
                <%= link_to count, [sheet.project, sheet] %>
              <% else %>
                <%= link_to count, show_url %>
              <% end %>
              <%= link_to '+', add_url, class: 'btn btn-default btn-mini', id: "subject_#{subject.id}_design_#{design.id}_add_link", style: 'display:none' if @project.editable_by?(current_user) %>
            <% end %>
          </td>
        <% end %>
        <% count = @designs.collect{ |d| d.sheets.where(subject_id: subject.id).count }.sum %>
        <td class="<%= 'muted' if count == 0 %>">
          <%= link_to_if count > 0, count == 0 ? '-' : count, project_sheets_path(@project, search: subject.subject_code) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center"><%= paginate @subjects, theme: "contour" %></div>
