<% @title = "#{@project.name}" %>

<%= render partial: 'projects/link_bar', locals: { title: 'About' } %>

<div class="row">
  <div class="col-md-10">
    <% unless @project.description.blank? %>
      <blockquote>
        <%= simple_markdown @project.description %>
      </blockquote>
    <% end %>

    <% if @project.show_posts? or @project.show_documents? or @project.show_contacts? %>
      <% extra_col_width = "col-sm-#{12 / [@project.show_posts?, @project.show_documents?, @project.show_contacts?].select{|t| t}.size}" %>
      <div class="row">
        <% if @project.show_posts? %>
          <div class="<%= extra_col_width %>">
            <%= render partial: 'projects/show/posts' %>
          </div>
        <% end %>
        <% if @project.show_documents? %>
          <div class="<%= extra_col_width %>">
            <%= render partial: 'projects/show/documents' %>
          </div>
        <% end %>
        <% if @project.show_contacts? %>
          <div class="<%= extra_col_width %>">
            <%= render partial: 'projects/show/contacts' %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render partial: 'projects/show/links' %>
  </div>
  <div class="col-md-2">
    <%= render partial: 'projects/menu', locals: { location: 'about' } %>
  </div>
</div>
