- @title = "#{@project.name} - About"

= render 'projects/tabbed_menu', links: [['About', about_project_path(@project)]]

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-header
      About
      = @project.name
    = simple_markdown @project.description unless @project.description.blank?

    - if @project.show_documents?
      - extra_col_width = "col-sm-#{12 / [@project.show_documents?].select{|t| t}.size}"
      .row
        - if @project.show_documents?
          %div{ class: "#{extra_col_width}" }
            = render 'projects/show/documents'
