- @title = 'Recent Activity'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'
= render 'layouts/simple_header'

- sheet_scope = current_user.all_viewable_sheets.where(project_id: @project.id).where('sheets.created_at > ? or sheets.last_edited_at > ?', Time.zone.now - 7.day, Time.zone.now - 7.day)
- recent_sheets = sheet_scope.to_a
- comment_scope = current_user.all_viewable_comments.with_project(@project.id).where('comments.created_at > ?', (Time.zone.now.monday? ? Time.zone.now - 4.day : Time.zone.now - 2.day))
- recent_comments = comment_scope.to_a

- all_objects = (recent_sheets + recent_comments).sort { |o1, o2| ((o2.class.method_defined?(:last_edited_at) and o2.last_edited_at != nil) ? o2.last_edited_at : o2.created_at) <=> ((o1.class.method_defined?(:last_edited_at) and o1.last_edited_at != nil) ? o1.last_edited_at : o1.created_at) }

- filtered_params = params.permit(:site_id, :user_id)

- if all_objects.size == 0
  .jumbotron
    %p.lead.center No recent activity in the past week.
- else
  .dashboard-container
    %div{ style: 'margin-bottom: 20px;' }
      %span.dropdown
        = link_to '#', class: "btn btn-xs dropdown-toggle #{params[:site_id].blank? ? 'btn-default': 'btn-primary'}", data: { toggle: 'dropdown' } do
          - site = @project.sites.find_by_id(params[:site_id])
          - if site
            = site.short_name
          - else
            Site
          %strong.caret

        %ul.dropdown-menu
          %li= link_to 'All Sites', activity_project_path(@project, filtered_params.merge(site_id: nil)), style: params[:site_id].blank? ? 'font-weight:bold;' : ''
          %li.divider{ role: 'separator' }
          - @project.sites.order(:name).each do |site|
            %li= link_to site.name, activity_project_path(@project, filtered_params.merge(site_id: site.id)), style: params[:site_id].to_s == site.id.to_s ? 'font-weight:bold;' : ''

      %span.dropdown
        = link_to '#', class: "btn btn-xs dropdown-toggle #{params[:user_id].blank? ? 'btn-default': 'btn-primary'}", data: { toggle: 'dropdown' } do
          - user = @project.members.find_by_id(params[:user_id])
          - if user
            = user.nickname
          - else
            User
          %strong.caret

        %ul.dropdown-menu
          %li= link_to 'All Users', activity_project_path(@project, filtered_params.merge(user_id: nil)), style: params[:user_id].blank? ? 'font-weight:bold;' : ''
          %li.divider{ role: 'separator' }
          - @project.members.distinct.sort_by(&:nickname).each do |user|
            %li= link_to user.name, activity_project_path(@project, filtered_params.merge(user_id: user.id)), style: params[:user_id].to_s == user.id.to_s ? 'font-weight:bold;' : ''

      = link_to 'Reset Filters', activity_project_path(@project), class: 'btn btn-xs btn-link' if params[:site_id].present? || params[:user_id].present?

    - all_objects.each_with_index do |object, index|
      - current_index = all_objects.count - index
      - if object.class == Sheet
        = render 'activity/sheet', sheet: object
      - elsif object.class == Comment
        = render 'activity/comment', comment: object, current_index: current_index
