- @title = "Recent Activity"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

- sheet_scope = current_user.all_viewable_sheets.where(project_id: @project.id).where("sheets.created_at > ? or sheets.last_edited_at > ?", Time.zone.now - 1.month, Time.zone.now - 1.month)
- recent_sheets = sheet_scope.to_a
- comment_scope = current_user.all_viewable_comments.with_project(@project.id).where("comments.created_at > ?", Time.zone.now - 1.month)
- recent_comments = comment_scope.to_a

- all_objects = (recent_sheets + recent_comments).sort { |o1, o2| ((o2.class.method_defined?(:last_edited_at) and o2.last_edited_at != nil) ? o2.last_edited_at : o2.created_at) <=> ((o1.class.method_defined?(:last_edited_at) and o1.last_edited_at != nil) ? o1.last_edited_at : o1.created_at) }

- filtered_params = params.permit(:site_id, :user_id)

- if all_objects.size.zero?
  .jumbotron.jumbotron-custom-text
    No recent activity in the past week.
- else
  .dashboard-container
    %div{ style: "margin-bottom: 20px;" }
      %span.dropright
        = link_to "#", class: "btn btn-sm dropdown-toggle #{params[:site_id].blank? ? "btn-light": "btn-primary"}", data: { toggle: "dropdown" } do
          - site = @project.sites.find_by(id: params[:site_id])
          - if site
            = site.short_name
          - else
            Site

        .dropdown-menu
          = link_to "All Sites", activity_project_path(@project, filtered_params.merge(site_id: nil)), style: params[:site_id].blank? ? "font-weight:bold;" : "", class: "dropdown-item"
          .dropdown-divider
          - @project.sites.order_number_and_name.each do |site|
            = link_to site.number_and_name, activity_project_path(@project, filtered_params.merge(site_id: site.id)), style: params[:site_id].to_s == site.id.to_s ? "font-weight:bold;" : "", class: "dropdown-item"

      %span.dropright
        = link_to "#", class: "btn btn-sm dropdown-toggle #{params[:user_id].blank? ? "btn-light": "btn-primary"}", data: { toggle: "dropdown" } do
          - user = @project.members.find_by(id: params[:user_id])
          - if user
            = user.nickname
          - else
            User

        .dropdown-menu
          = link_to "All Users", activity_project_path(@project, filtered_params.merge(user_id: nil)), style: params[:user_id].blank? ? "font-weight:bold;" : "", class: "dropdown-item"
          .dropdown-divider
          - @project.members.distinct.sort_by(&:nickname).each do |user|
            = link_to user.full_name, activity_project_path(@project, filtered_params.merge(user_id: user.id)), style: params[:user_id].to_s == user.id.to_s ? "font-weight:bold;" : "", class: "dropdown-item"

      = link_to "Reset Filters", activity_project_path(@project), class: "btn btn-sm btn-link" if params[:site_id].present? || params[:user_id].present?

    - all_objects.each_with_index do |object, index|
      - current_index = all_objects.count - index
      - if object.class == Sheet
        = render "activity/sheet", sheet: object
      - elsif object.class == Comment
        = render "activity/comment", comment: object, current_index: current_index
