- @title = 'Archives'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = @title
        .pull-right
          - if current_user.all_unarchived_projects.count > 0
            = link_to dashboard_path, class: 'btn btn-default' do
              %span.glyphicon.glyphicon-home


- if @projects.count > 0
  - @projects.each do |project|
    = render 'projects/beta/splash_project_box', project: project, favorited: project.favorited_by?(current_user), archived: true, sortable: false
- else
  .jumbotron
    %p.lead.center
      Archive a project by clicking
      %span.btn.btn-xs.btn-default
        %strong.caret
      and then clicking
      = succeed '.' do
        %span.btn.btn-xs.btn-default
          %span.glyphicon.glyphicon-eye-close
          Archive

.center
  = paginate @projects, theme: 'bootstrap'
