- @title = "Projects"

- content_for :header do
  .float-right
    = link_to plus_or("New Project"), new_project_path, class: "btn btn-accent btn-shadow"
    .per-page= render "layouts/per_page", per_page: 40, object_count: @projects.total_count
  = @title
  = render "search/toggle"

= render "search/simple", url: projects_path

- if @projects.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col{ width: "50%" }
      %col.d-none.d-sm-table-column
      %col
      %col{ width: "1px" }
      %thead
        %tr
          = th_sort_field_rev params[:order], "projects.name", "Name"
          %th.text-center.d-none.d-sm-table-cell Active
          %th.text-center Emails
          %th.text-center Actions

      - @projects.each do |project|
        %tr{ data: { project_id: project.id } }
          %td
            = link_to project.name, project
          %td.text-center.d-none.d-sm-table-cell{ id: "project_#{project.id}_status" }
            = render "project_preferences/status", project: project
          %td.text-center{ id: "project_#{project.id}_emails" }
            = render "project_preferences/emails", project: project
          %td.nowrap.text-center{ id: "project_#{project.id}_actions" }
            = render "project_preferences/actions", project: project

  .center-horizontally= paginate @projects, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    No projects found.

.center-horizontally
  .docs-learn-more
    Learn about
    = succeed "." do
      = link_to "projects", docs_project_setup_path
