- @title = 'New Project'

.background-gradient

%p.lead.center.text-white.text-shadow
  Give it a name!

.sign-up-form
  .sign-up-form-title
    = @title

  - if @project.new_record?
    - url = projects_path
    - method = :post
  - else
    - url = editor_project_path(@project)
    - method = :patch

  = form_for @project, url: url, method: method, html: { class: 'form-vertical' } do |f|
    - error_message = @project.errors.full_messages.join(',') if @project.errors.any?

    .form-group
      = f.label :name, error_message, class: 'control-label'
      = f.text_field :name, autocomplete: 'off', class: 'form-control'

    .form-group.submit-btn-container
      = f.submit nil, class: 'btn btn-accent btn-block btn-shadow'

.sign-up-form.center
  Need help?
  = link_to 'View our docs.', docs_project_setup_path
