- @title = "New Project"

- render "themes/theme"

.page-box.last-box.theme-bg{ class: "theme-#{@theme}-focus-bg" }
  .container
    .mb-3.text-center{ class: @body != "default" ? "text-white" : nil }
      Give it a name!

    .sign-up-form
      .sign-up-form-title
        = @title

      - if @project.new_record?
        - url = projects_path
        - method = :post
      - else
        - url = editor_project_path(@project)
        - method = :patch

      = form_with model: @project, url: url, method: method, local: true do |form|
        = render "forms/vertical/text_field", form: form, object: @project, key: :name
        .form-group.submit-btn-container
          = form.submit nil, class: "btn btn-primary btn-block btn-shadow"

    .sign-up-form.text-center
      Need help?
      = link_to "View our docs.", docs_project_setup_path
