- @title = "Reports"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li.breadcrumb-muted reports

- randomization_schemes = @project.randomization_schemes.where(published: true)

.row
  .col-md-4
    .jumbotron.jumbotron-white.jumbotron-shadow
      %p.lead.nowrap Total Subjects
      .report-number= number_to_human @project.subjects.count
  .col-md-4
    .jumbotron.jumbotron-white.jumbotron-shadow
      %p.lead.nowrap Total Events
      .report-number= number_to_human SubjectEvent.where(subject_id: @project.subjects.select(:id)).count
  .col-md-4
    .jumbotron.jumbotron-white.jumbotron-shadow
      %p.lead.nowrap Data Points
      .report-number= number_to_human SheetVariable.where(sheet_id: @project.sheets.select(:id)).count

- if @project.randomizations_enabled?
  - if randomization_schemes.count.positive?
    - randomization_schemes.each do |scheme|
      .jumbotron.jumbotron-white.jumbotron-shadow.text-left
        .float-right.text-center
          .lead.nowrap Subjects Randomized
          %h2= number_with_delimiter scheme.active_randomizations.count
        .lead.nowrap Scheme
        %h2= scheme.name

        - randomization_count = scheme.active_randomizations.count
        - if randomization_count > 0 && scheme.randomization_goal > 0
          - percent = [randomization_count * 100 / scheme.randomization_goal, 100].min
          .progress{ style: "margin-top: 20px;margin-bottom: 0" }
            .progress-bar.progress-bar-striped.bg-primary{ style: "width: #{percent}%;min-width: 5em;" }= "#{randomization_count} of #{scheme.randomization_goal}"

      = render "randomization_schemes/recruitment_chart", scheme: scheme
      = render "randomization_schemes/recruitment_tables", scheme: scheme
  - else
    .jumbotron.jumbotron-white.jumbotron-shadow
      .lead.nowrap Cumulative Randomized
      .lead.text-muted Subject randomization has not started.

= render "projects/reports"
