<% @title = "#{@project.name} Report" %>
<h3>
  <%= pluralize @project.designs.count, ' design' %> for <%= link_to @project.name, @project %>
</h3>

<hr class="soften" style="margin-top:20px">

<%= form_tag report_project_path(@project), method: :post, remote: true, data: { object: 'form-load' }, class: "form-inline", id: 'report_form' do %>
  <%= hidden_field_tag :by, @by %>
  <%= hidden_field_tag :percent, @percent %>

  <div class="row">
    <div class="span4">
      Project <%= link_to @project.name, @project %>
    </div>
    <div class="btn-toolbar span4" style="padding-top:3px;margin-top:0px">
      <div class="btn-group" data-toggle="buttons-radio">
        <button data-object="set-by" data-value="week" class="btn btn-mini <%= 'active' if @by == 'week' %>">Week</button>
        <button data-object="set-by" data-value="month" class="btn btn-mini <%= 'active' if @by == 'month' %>">Month</button>
        <button data-object="set-by" data-value="year" class="btn btn-mini <%= 'active' if @by == 'year' %>">Year</button>
      </div>
    </div>
    <div class="btn-toolbar span4" style="padding-top:3px;margin-top:0px">
      <div class="btn-group pull-right" data-toggle="buttons-radio">
        <button data-object="set-percent" data-value="none" class="btn btn-mini <%= 'active' if @percent == 'none' %>">No Percents</button>
        <button data-object="set-percent" data-value="row" class="btn btn-mini <%= 'active' if @percent == 'row' %>">% by Row</button>
        <button data-object="set-percent" data-value="column" class="btn btn-mini <%= 'active' if @percent == 'column' %>">% by Column</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span4">
      After <%= text_field_tag 'sheet_after', params[:sheet_after] || (Date.today - 6.months).beginning_of_month.strftime("%m/%d/%Y"), class: 'datepicker', rel: 'tooltip', title: 'Date After', data: { object: 'form-reload', target: '#report_form', placement: 'right' } %>
    </div>

    <div class="span4">
      Before <%= text_field_tag 'sheet_before', params[:sheet_before] || (Date.today).end_of_month.strftime("%m/%d/%Y"), class: 'datepicker', rel: 'tooltip', title: 'Date Before', data: { object: 'form-reload', target: '#report_form', placement: 'right' } %>
    </div>

    <div class="span4">
      <button type="submit" class="btn btn-primary pull-right">Refresh</button>
    </div>
  </div>

  <div class="row">
    <div class="span4" style="padding-top:3px;margin-top:0px">
      Subjects
      <div class="btn-group" data-toggle="buttons-checkbox">
        <% Subject::STATUS.each do |label, value| %>
          <button data-object="set-statuses" data-value="<%= value %>" data-target="#report_form" type="button" class="btn btn-mini <%= 'active' if @statuses.include?(value) %>">
            <%= label.humanize %>
            <%= hidden_field_tag "statuses[]", @statuses.include?(value) ? value : '', id: "statuses_#{value}" %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<hr class="soften" style="margin-top:20px;margin-bottom:54px">

<div id="report"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>
