<% @title = "#{@project.name}" %>

<%= render partial: 'projects/link_bar', locals: { title: 'Share' } %>

<div class="row">
  <div class="col-md-10">
    <div class="row">
      <% ['editors', 'viewers'].each do |relation, editor| %>
        <div class="col-sm-6">
          <% @relation = relation; @editor = editor %>
          <p>
            <div id="<%= @relation %>_list"><%= render partial: 'project_users/index' %></div>
          </p>
        </div>
      <% end %>
    </div>

    <h3>Sites</h3>

    <div class="row">
    <% current_user.all_viewable_sites.where( project_id: @project.id ).order('name').each do |site| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><%= link_to site.name, [site.project, site] %></h3>
          </div>
          <div class="panel-body">
            <% if site.users.size > 0 %>
              <ul class="list-unstyled">
                <% site.site_users.each do |site_user|  %>
                  <% if user = site_user.user %>
                    <li>
                      <%= user.name %>
                      <%= link_to 'Remove', [site_user.project, site_user], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to remove yourself from Site #{site.name}?" } if current_user.all_viewable_sites.include?(site) and current_user == user %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            <% else %>
              <span class="text-muted">No Members</span>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="col-md-2">
    <%= render partial: 'projects/menu', locals: { location: 'share' } %>
  </div>
</div>
