<% @title = "Project: #{@project.name}" %>
<div class="page-header">
  <h1><%= @title %></h1>
  <div class="btn-toolbar">
    <% if current_user.all_projects.pluck(:id).include?(@project.id) %>
      <div class="btn-group"><%= link_to "Edit Project", edit_project_path(@project), class: 'btn btn-mini' %></div>
      <div class="btn-group"><%= link_to "Delete Project", @project, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Project #{@project.name}?" } %></div>
    <% end %>

    <div class="btn-group">
      <%= link_to "Subjects", subjects_path(project_id: @project.id), class: 'btn btn-mini' %>
      <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Create', new_subject_path(subject: { project_id: @project.id }) %></li>
      </ul>
    </div>

    <div class="btn-group">
      <%= link_to "Sites", sites_path(project_id: @project.id), class: 'btn btn-mini' %>
      <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Create', new_site_path(site: { project_id: @project.id }) %></li>
      </ul>
    </div>

    <div class="btn-group">
      <%= link_to "Designs", designs_path(project_id: @project.id), class: 'btn btn-mini' %>
      <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Create', new_design_path(design: { project_id: @project.id }) %></li>
      </ul>
    </div>

  </div>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @project.name %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @project.description %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @project.user.name, @project.user if @project.user %></dd>

  <dt>Emails</dt>
  <dd><%= @project.emails %></dd>

  <dt>Sites</dt>
  <dd>
    <ul>
      <% @project.sites.each do |site| %>
      <li>
        <%= link_to site.name, site %>
      </li>
      <% end %>
    </ul>
    <div class="btn-group">
      <%= link_to "Sites", sites_path(project_id: @project.id), class: 'btn btn-mini' %>
      <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to 'Create', new_site_path(site: { project_id: @project.id }) %></li>
      </ul>
    </div>
  </dd>
</dl>

<div class="page-header">
  <h2>Sharing</h2>
</div>

<div class="row">
  <% ['librarians', 'members'].each do |relation, librarian| %>
    <div class="span6">
      <% @relation = relation; @librarian = librarian %>
      <% @users = User.current.order('last_name, first_name') %>
      <p>
        <div id="<%= @relation %>_list"><%= render partial: 'project_users/index' %></div>
      </p>
    </div>
  <% end %>
</div>
