<% @title = "#{@project.name}" %>

<div class="row">
  <div class="span12">
    <div style="padding:20px 0 4px 0; font-size: 40px;font-weight:300; text-rendering: optimizelegibility;" class="center">
      <%= @project.name %>
      <%= link_to '<i class="icon-cog"></i>'.html_safe, settings_project_path(@project), class: 'btn btn-mini', rel: 'tooltip', title: 'Settings', data: { placement: 'right' } if @project.editable_by?(current_user) %>
    </div>
    <p class="about-tagline"><%= @project.description %></p>
  </div>
</div>

<hr class="soften" style="margin-top:20px">

<% if @project.show_posts? or @project.show_documents? or @project.show_contacts? %>
  <div class="row">
    <% if @project.show_posts? %>
      <div class="span4">
        <h2 class="about-title"><%= link_to_if @project.editable_by?(current_user), 'News', project_posts_path(@project) %></h2>
        <%= render partial: 'projects/show/posts' %>
      </div>
    <% end %>
    <% if @project.show_documents? %>
      <div class="span4">
        <h2 class="about-title"><%= link_to_if @project.editable_by?(current_user), 'Documents', project_documents_path(@project) %></h2>
        <%= render partial: 'projects/show/documents' %>
      </div>
    <% end %>
    <% if @project.show_contacts? %>
      <div class="span4">
        <h2 class="about-title"><%= link_to_if @project.editable_by?(current_user), 'Contacts', project_contacts_path(@project) %></h2>
        <%= render partial: 'projects/show/contacts' %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row">
  <div class="span4">
    <h2 class="about-title">Recent Entries</h2>
    <%= render partial: 'projects/show/recent' %>
  </div>
  <div class="span4">
    <h2 class="about-title">Reports</h2>
    <%= render partial: 'projects/show/reports' %>
  </div>
  <div class="span4">
    <h2 class="about-title"><%= link_to_if @project.editable_by?(current_user), 'Links', project_links_path(@project) %></h2>
    <%= render partial: 'projects/show/links' %>
  </div>
</div>

<hr class="soften">

<% if @project.logo.size > 0 %>
  <div data-object="hover-show" data-target="#project_logo_delete_icon" id="logo_container" style="text-align:center">
    <div style="background-color:white">
      <%= image_tag @project.logo_url, style: "height:128px" %>
    </div>
    <div style="height:20px">
      <div id="project_logo_delete_icon" style="display:none">
        <% if current_user.all_projects.pluck(:id).include?(@project.id) %>
          <%= number_to_human_size(@project.logo.size) %>
          <%= link_to 'remove logo', remove_file_project_path(@project), method: :post, remote: true, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to remove the project logo?" } %>
        <% end %>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
<% end %>
