<% @title = "#{@project.name}" %>

<%= render partial: 'projects/link_bar', locals: { title: 'Collect' } %>

<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-sm-12">
        <%= render partial: 'projects/show/recent' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <%= render partial: 'projects/show/subjects' %>
      </div>
      <div class="col-sm-6">
        <%= render partial: 'projects/show/sites' %>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <%= render partial: 'projects/menu', locals: { location: 'collect' } %>
  </div>
</div>
