<% @title = "#{@project.name}" %>

<%= render partial: 'projects/show/dashboard' %>

<hr class="soften">

<% if @project.logo.size > 0 %>
  <div onmouseover="$('#project_logo_delete_icon').show();" onmouseout="$('#project_logo_delete_icon').hide();" id="logo_container" style="text-align:center">
    <div style="background-color:white">
      <%= image_tag @project.logo_url, style: "height:128px" %>
    </div>
    <div style="height:20px">
      <div id="project_logo_delete_icon" style="display:none">
        <% if current_user.all_projects.pluck(:id).include?(@project.id) %>
          <%= number_to_human_size(@project.logo.size) %>
          <%= link_to 'remove logo', remove_file_project_path(@project), method: :post, remote: true, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to remove the project logo?" } %>
        <% end %>
      </div>
    </div>
  </div>
  <div style="clear:both"></div>
  <hr class="soften">
<% end %>

<% if current_user.all_viewable_projects.pluck(:id).include?(@project.id) %>
  <div class="page-header">
    <h1><%= @title %></h1>
    <div class="btn-toolbar">
      <% if current_user.all_projects.pluck(:id).include?(@project.id) %>
        <div class="btn-group"><%= link_to "Edit Project", edit_project_path(@project), class: 'btn btn-mini' %></div>
        <div class="btn-group"><%= link_to "Delete Project", @project, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Project #{@project.name}?" } %></div>
      <% end %>

      <div class="btn-group">
        <%= link_to "Sites", project_sites_path(@project), class: 'btn btn-mini' %>
        <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Create', new_project_site_path(@project) %></li>
        </ul>
      </div>

      <div class="btn-group">
        <%= link_to "Subjects", project_subjects_path(@project), class: 'btn btn-mini' %>
        <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Create', new_project_subject_path(@project) %></li>
        </ul>
      </div>

      <div class="btn-group">
        <%= link_to "Sheets", project_sheets_path(@project), class: 'btn btn-mini' %>
        <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to 'Create', new_project_sheet_path(@project) %></li>
        </ul>
      </div>

      <% if current_user.all_projects.pluck(:id).include?(@project.id) %>
        <div class="btn-group">
          <%= link_to "Designs", project_designs_path(@project), class: 'btn btn-mini' %>
          <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Create', new_project_design_path(@project) %></li>
          </ul>
        </div>

        <div class="btn-group">
          <%= link_to "Variables", project_variables_path(@project), class: 'btn btn-mini' %>
          <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Create', new_project_variable_path(@project) %></li>
          </ul>
        </div>

        <div class="btn-group">
          <%= link_to "Domains", project_domains_path(@project), class: 'btn btn-mini' %>
          <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><%= link_to 'Create', new_project_domain_path(@project) %></li>
          </ul>
        </div>

        <div class="btn-group"><%= link_to "Batch", batch_project_designs_path(@project), class: 'btn btn-mini' %></div>
      <% end %>

      <div class="btn-group"><%= link_to "Report", report_project_path(@project), class: 'btn btn-mini' %></div>
      <div class="btn-group"><%= link_to "Subject Report", subject_report_project_path(@project), class: 'btn btn-mini' %></div>
    </div>
  </div>

  <dl class="dl-horizontal">
    <dt>Name</dt>
    <dd><%= @project.name %></dd>

    <dt>Description</dt>
    <dd><%= simple_format @project.description %></dd>

    <dt>Creator</dt>
    <dd><%= link_to @project.user.name, @project.user if @project.user %></dd>

    <dt>Emails</dt>
    <dd><%= @project.emails %></dd>

    <dt>Subject code name</dt>
    <dd><%= @project.subject_code_name_full %></dd>

    <dt>Acrostic enabled</dt>
    <dd><%= simple_check @project.acrostic_enabled? %></dd>

    <dt>Show news</dt>
    <dd><%= simple_check @project.show_posts? %></dd>

    <dt>Show documents</dt>
    <dd><%= simple_check @project.show_documents? %></dd>

    <dt>Show contacts</dt>
    <dd><%= simple_check @project.show_contacts? %></dd>

  </dl>

  <div class="page-header">
    <h2>Sites</h2>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Site</th>
        <th>Prefix</th>
        <th><%= @project.subject_code_name_full %> Range</th>
        <th>Subjects</th>
      </tr>
    </thead>
    <tbody>
      <% @project.sites.order('name').each do |site| %>
      <tr>
        <td><%= link_to site.name, [site.project, site] %></td>
        <td><%= site.prefix %></td>
        <td>
          <% if site.code_minimum.blank? and site.code_maximum.blank? %>
            <span class="muted">No Range</span>
          <% elsif not site.code_minimum.blank? and site.code_maximum.blank? %>
            Starts at <%= site.code_minimum %>
          <% elsif site.code_minimum.blank? and not site.code_maximum.blank? %>
            Ends at <%= site.code_maximum %>
          <% else %>
            <%= site.code_minimum %> to <%= site.code_maximum %>
          <% end %>
        </td>
        <td><%= link_to site.subjects.count, project_subjects_path(@project, site_id: site.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="page-header">
    <h2>Designs</h2>
  </div>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Design</th>
        <th>Sheets</th>
      </tr>
    </thead>
    <tbody>
      <% @project.designs.order('name').each do |design| %>
      <tr>
        <td><%= link_to_if current_user.all_projects.pluck(:id).include?(@project.id), design.name, [design.project, design] %></td>
        <td><%= link_to Sheet.current.where(project_id: @project.id, design_id: design.id).count, project_sheets_path(@project, design_id: design.id) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="page-header">
    <h2>Sharing</h2>
  </div>

  <div class="row">
    <% ['librarians', 'members'].each do |relation, librarian| %>
      <div class="span6">
        <% @relation = relation; @librarian = librarian %>
        <% @users = User.current.order('last_name, first_name') %>
        <p>
          <div id="<%= @relation %>_list"><%= render partial: 'project_users/index' %></div>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
