<% @title = "#{@project.name}" %>

<%= render partial: 'projects/link_bar', locals: { title: 'Collect' } %>

<div class="row">
  <div class="col-md-10">
    <div class="row">
      <div class="col-sm-12">
        <%= render partial: 'projects/show/recent' %>
      </div>
    </div>
    <% if @project.editable_by?(current_user) %>
      <div class="row">
        <div class="col-sm-6">
          <%= render partial: 'projects/show/subjects' %>
        </div>
        <div class="col-sm-6">
          <%= render partial: 'projects/show/sites' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-2">
    <%= render partial: 'projects/menu', locals: { location: 'collect' } %>
  </div>
</div>
