- @title = "#{@project.name}"

= render 'projects/tabbed_menu'

.row
  .col-sm-2
    = render 'projects/beta/menu'

  .col-sm-10
    %h2.project-header Enter Subject Code

    = form_tag choose_site_project_subjects_path(@project), method: :get, class: 'form-vertical', id: 'subject-search-form' do
      .input-group
        = text_field_tag :subject_code, '', autocomplete: 'off', id: 'subject-search', class: 'form-control', data: { "project-slug" => @project.to_param }
        %span.input-group-btn
          = submit_tag 'Find or Create Subject', class: 'btn btn-default'

    %hr.soften{ style: "margin-top:20px;margin-bottom:20px" }

    %table.table.table-striped
      %thead
        %tr
          %th Subject
          %th Sheet
          - if @project.events.where(archived: false).count > 0
            %th Event

      %tbody
        - current_user.all_viewable_subjects.where(project_id: @project.id).order(created_at: :desc).limit(10).each do |subject|
          - sheet = subject.sheets.order(:updated_at).last
          %tr
            %td.nowrap
              = status_helper(subject)
              = link_to subject.subject_code, [@project, subject]
            %td
              - if sheet
                = link_to sheet.name, [@project, sheet]
            - if @project.events.where(archived: false).count > 0
              %td
                - if sheet and sheet.subject_event
                  = link_to event_project_subject_path(@project, sheet.subject, event_id: sheet.subject_event.event, subject_event_id: sheet.subject_event.id, event_date: sheet.subject_event.event_date_to_param) do
                    = sheet.subject_event.event.name
                    \-
                    = sheet.subject_event.event_date_to_s
        %tr
          %td.center{ colspan: '3' }
            = link_to project_subjects_path(@project) do
              View All
              = pluralize number_with_delimiter(current_user.all_viewable_subjects.where(project_id: @project.id).where(status: 'valid').count), 'Subject'



    .row
      .col-sm-6
        = render 'projects/show/reports'
      .col-sm-6
        = render 'projects/show/exports'
