<% @title = "#{@project.name} Subject Report" %>
<h3>
  <%= pluralize @subjects.count, ' subject' %> for <%= link_to @project.name, @project %>
</h3>

<hr class="soften" style="margin-top:20px">

<h3 style="text-align:center;margin:0px">Subject vs. Design</h3>

<table class="table table-hover"><col width="1px" />
  <caption style="padding-bottom:8px">
    <%= @project.name %>
  </caption>
  <thead>
    <tr>
      <th></th>
      <th>Subject</th>
      <% @designs.each do |design| %>
        <th><span class="count-rot315__"><%= design.name %></span></th>
      <% end %>
      <th>Total</th>
    </tr>
  </thead>
  <tfoot>
    <tr style="font-weight:bold">
      <td></td>
      <td>Total</td>
      <% @designs.each do |design| %>
        <% count = design.sheets.count %>
        <td class="<%= 'muted' if count == 0 %>">
          <%= link_to_if count > 0, count == 0 ? '-' : count, project_sheets_path(@project, design_id: design.id) %>
        </td>
      <% end %>
      <td><%= link_to @designs.sum{|d| d.sheets.count}, project_sheets_path(@project) %></td>
    </tr>
  </tfoot>
  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td></td>
        <td><%= link_to subject.subject_code, subject %></td>
        <% @designs.each do |design| %>
          <% count = design.sheets.where(subject_id: subject.id).count %>
          <td class="<%= 'muted' if count == 0 %>">
            <% if count > 0 %>
              <%= link_to count, project_sheets_path(@project, design_id: design.id, search: subject.subject_code) %>
            <% else %>
              <%= link_to '+', new_project_sheet_path(@project, sheet: { design_id: design.id, study_date: Date.today.strftime("%m/%d/%Y") }, subject_code: subject.subject_code, subject_acrostic: subject.acrostic, site_id: subject.site_id), class: 'btn btn-mini' %>
            <% end %>
          </td>
        <% end %>
        <% count = @designs.sum{ |d| d.sheets.where(subject_id: subject.id).count } %>
        <td class="<%= 'muted' if count == 0 %>">
          <%= link_to_if count > 0, count == 0 ? '-' : count, project_sheets_path(@project, search: subject.subject_code) %>
        </td>
      </tr>
    <% end %>

    <% if false %>
    <% @project.designs.order('name').each do |design| %>
      <tr>
        <% row_counts = @ranges.collect{|hash| @sheets.sheet_after(hash[:start_date]).sheet_before(hash[:end_date]).with_design(design.id).count } %>
        <td><span data-object="peity" data-method="line" style="display:none"><%= row_counts.join(',') %></span></td>
        <td><%= link_to design.name, report_project_design_path(design.project, design, by: @by, percent: @percent) %></td>
        <% @ranges.each do |hash| %>
          <% count = @sheets.sheet_after(hash[:start_date]).sheet_before(hash[:end_date]).with_design(design.id).count %>
          <td class="<%= 'muted' if count == 0 %>" rel="tooltip" title="<%= hash[:tooltip] if count > 0 %>" data-placement="left">
            <%= link_to_if count > 0, count == 0 ? '-' : count, project_sheets_path(@project, design_id: design.id, sheet_before: hash[:end_date].strftime("%m/%d/%Y"), sheet_after: hash[:start_date].strftime("%m/%d/%Y")) %>
            <% if @percent == 'row' and count > 0 and row_counts.sum > 0 %>
              <span class="muted" style="font-size:0.7em"><%= (count * 100 / row_counts.sum).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
            <% end %>
            <% if @percent == 'column' and count > 0 and hash[:column_count] > 0 %>
              <span class="muted" style="font-size:0.7em"><%= (count * 100 / hash[:column_count]).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
            <% end %>
          </td>
        <% end %>
        <% count = @sheets.with_design(design.id).count %>
        <td class="<%= 'muted' if count == 0 %>" rel="tooltip" title="<%= design.name if count > 0 %>" data-placement="left">
          <%= link_to_if count > 0, count == 0 ? '-' : count, project_sheets_path(@project, design_id: design.id) %>
          <% if @percent == 'column' and count > 0 and @sheets.count > 0 %>
            <span class="muted" style="font-size:0.7em"><%= (count * 100 / @sheets.count).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
