<% @title = "Subject Report" %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= @title %>
  </h1>
</div>

<%= form_tag subject_report_project_path(@project), method: :get, remote: true, data: { object: 'form-load' }, class: "form-inline", id: 'report_form' do %>
  <div class="row">
    <div class="span4">
      Subjects
      <div class="btn-group" data-toggle="buttons-checkbox">
        <% Subject::STATUS.each do |label, value| %>
          <button data-object="set-statuses" data-value="<%= value %>" data-target="#report_form" type="button" class="btn btn-mini <%= 'active' if @statuses.include?(value) %>">
            <%= label.humanize %>
            <%= hidden_field_tag "statuses[]", @statuses.include?(value) ? value : '', id: "statuses_#{value}" %>
          </button>
        <% end %>
      </div>
    </div>
  </div>
<% end %>


<div id="subject_report">
  <center><%= image_tag "contour/ajax-loader.gif" %></center>
</div>

