- @title = "Team"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  - if @project.editable_by?(current_user)
    .float-right= link_to "New Invite", new_editor_project_invite_path(@project), class: "btn btn-accent btn-shadow"
  = @title

-# TODO: Remove #project-members ID from page.
#project-members
  = render "projects/members"

.center-horizontally
  .docs-learn-more
    Learn about
    = succeed "." do
      = link_to "roles", docs_roles_path
