- @title = 'Team'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'
= render 'layouts/simple_header'

- if @project.editable_by?(current_user)

  #invite-container.dashboard-container
    = form_tag invite_user_editor_project_path(@project), method: :post, remote: true, class: 'form-inline' do
      %strong Invite User
      .form-group
        = text_field_tag :invite_email, '', autocomplete: 'off', class: 'form-control', placeholder: 'Email Address', data: { object: 'typeahead-users' }

      .form-group
        = select_tag 'site_id', options_for_select([[@project.name, nil]] + @project.sites.order(:name).collect { |s| [s.short_name, s.id] }), class: 'form-control'

      .form-group
        %label.btn.btn-default
          = check_box_tag 'editor', '1', true
          Editor

        - if @project.unblinded?(current_user)
          %label.btn.btn-default{ style: "#{'display:none' unless @project.blinding_enabled?}" }
            = check_box_tag 'unblinded', '1', true
            Unblinded

      .form-group
        = submit_tag 'Invite', class: 'btn btn-primary'

  #invite-success.jumbotron.text-center{ style: 'display: none;' }
    %strong Invite sent!
    = link_to 'Send another?', '#', data: { object: 'invite-toggle' }

#project-members
  = render 'projects/members'

.docs-learn-more
  Learn about
  = succeed '.' do
    = link_to 'roles', docs_roles_path
