- @title = "Team"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  - if @project.editable_by?(current_user)
    .float-right= link_to "New invite", new_editor_project_invite_path(@project), class: "btn btn-accent btn-shadow"
  = @title

- if @project.editable_by?(current_user)
  #invite-container.dashboard-container
    = form_with url: invite_user_editor_project_path(@project), method: :post, class: "form-inline" do |form|
      .input-group.mb-2.mr-sm-2
        %strong Invite User
      .input-group.mb-2.mr-sm-2= text_field_tag :invite_email, "", autocomplete: "off", class: "form-control", placeholder: "Email Address", data: { object: "typeahead-users", path: autocomplete_path }

      .input-group.mb-2.mr-sm-2= select_tag "site_id", options_for_select([[@project.name, nil]] + @project.sites.order(:name).collect { |s| [s.short_name, s.id] }), class: "form-control"

      .input-group.mb-2.mr-sm-2.custom-control.custom-checkbox
        = check_box_tag "editor", "1", true, class: "custom-control-input", id: "editor"
        = label_tag "editor", "Editor", class: "custom-control-label"

      - if @project.unblinded?(current_user)
        .input-group.mb-2.mr-sm-2.custom-control.custom-checkbox{ style: "#{"display:none" unless @project.blinding_enabled?}" }
          = check_box_tag "unblinded", "1", true, class: "custom-control-input", id: "unblinded"
          = label_tag "unblinded", "Unblinded", class: "custom-control-label"

      .mb-2.mr-sm-2= submit_tag "Invite", class: "btn btn-primary"

  #invite-success.jumbotron.text-center{ style: "display: none;" }
    %strong Invite sent!
    = link_to "Send another?", "#", data: { object: "invite-toggle" }

#project-members
  = render "projects/members"

.center-horizontally
  .docs-learn-more
    Learn about
    = succeed "." do
      = link_to "roles", docs_roles_path
