- if randomization_scheme.lists.present?
  %ul.list-unstyled
    - randomization_scheme.lists.each do |list|
      %li= link_to list.name, [randomization_scheme.project, randomization_scheme, list]
- if randomization_scheme.randomized_subjects? && randomization_scheme.lists.count < randomization_scheme.number_of_lists
  = link_to "Add additional lists", expand_project_randomization_scheme_lists_path(@project, randomization_scheme), method: :post, class: "btn btn-light btn-sm"
- elsif !randomization_scheme.randomized_subjects?
  - if randomization_scheme.randomizations.size > 0
    = link_to "Regenerate lists", generate_project_randomization_scheme_lists_path(@project, randomization_scheme), method: :post, data: { confirm: "Delete the existing lists?" }, class: "btn btn-outline-danger btn-sm"
  - else
    = link_to "Generate lists", generate_project_randomization_scheme_lists_path(@project, randomization_scheme), method: :post, class: "btn btn-light btn-sm"

  - if randomization_scheme.lists.count < randomization_scheme.number_of_lists
    = link_to "Add additional lists", expand_project_randomization_scheme_lists_path(@project, randomization_scheme), method: :post, class: "btn btn-light btn-sm"
