%table.table.table-striped
  %thead
    %tr
      %th
      = th_sort_field @order, 'randomization_schemes.name', 'Name'
      %th.nowrap Published
      %th.nowrap Goal

  %tbody
    - @randomization_schemes.each do |randomization_scheme|
      %tr
        %td= render 'randomization_schemes/progress', randomization_scheme: randomization_scheme
        %td= link_to randomization_scheme.name, [@project, randomization_scheme]
        %td= simple_check randomization_scheme.published
        %td
          = randomization_scheme.randomizations.where.not(subject_id: nil).count
          of
          = randomization_scheme.randomization_goal
