- all_randomizations = scheme.active_randomizations.where.not(randomized_at: nil).order(:randomized_at)
- first_randomization = all_randomizations.first
- last_randomization = all_randomizations.last

.dashboard-container.dashboard-table.d-none.d-sm-block
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %thead
      %tr
        %th
        %th.text-center First Randomization
        %th.text-center Most Recent Randomization
        %th.text-center Days Since Last Randomization
    %tbody
      %tr
        %td{ style: "font-weight: bold;" } Overall
        %td.text-center
          - if first_randomization
            = first_randomization.randomized_at.strftime '%b %-d, %Y'
          - else
            %span.text-muted -
        %td.text-center
          - if last_randomization
            = last_randomization.randomized_at.strftime '%b %-d, %Y'
          - else
            %span.text-muted -
        %td.text-center
          - if last_randomization
            = (Time.zone.today - last_randomization.randomized_at.to_date).floor
          - else
            %span.text-muted -
      - @project.sites.each do |site|
        - site_randomizations = scheme.active_randomizations.with_site(site.id).where.not(randomized_at: nil).order(:randomized_at)
        - first = site_randomizations.first
        - last = site_randomizations.last
        %tr
          %td{ style: "font-weight: bold;" }= site.short_name
          %td.text-center
            - if first
              = first.randomized_at.strftime '%b %-d, %Y'
            - else
              %span.text-muted -
          %td.text-center
            - if last
              = last.randomized_at.strftime '%b %-d, %Y'
            - else
              %span.text-muted -
          %td.text-center
            - if last
              = (Time.zone.today - last.randomized_at.to_date).floor
            - else
              %span.text-muted -

.d-block.d-sm-none
  .card.mb-3
    .card-header
      Overall Randomizations

    .card-body.p-0
      %table.table.table-striped.table-hover.table-fixed.table-borderless.table-sm.mb-0
        %tr
          %td.text-right
            %strong First
          %td
            - if first_randomization
              = first_randomization.randomized_at.strftime '%b %-d, %Y'
            - else
              %span.text-muted -
        %tr
          %td.text-right
            %strong Most Recent
          %td
            - if last_randomization
              = last_randomization.randomized_at.strftime '%b %-d, %Y'
            - else
              %span.text-muted -
        %tr
          %td.text-right
            %strong Days Since Last
          %td
            - if last_randomization
              = (Time.zone.today - last_randomization.randomized_at.to_date).floor
            - else
              %span.text-muted -

  - @project.sites.each do |site|
    .card.mb-3
      - site_randomizations = scheme.active_randomizations.with_site(site.id).where.not(randomized_at: nil).order(:randomized_at)
      - first = site_randomizations.first
      - last = site_randomizations.last
      .card-header
        = site.short_name
      .card-body.p-0
        %table.table.table-striped.table-hover.table-fixed.table-borderless.table-sm.mb-0
          %tr
            %td.text-right
              %strong First
            %td
              - if first
                = first.randomized_at.strftime '%b %-d, %Y'
              - else
                %span.text-muted -
          %tr
            %td.text-right
              %strong Most Recent
            %td
              - if last
                = last.randomized_at.strftime '%b %-d, %Y'
              - else
                %span.text-muted -
          %tr
            %td.text-right
              %strong Days Since Last
            %td
              - if last
                = (Time.zone.today - last.randomized_at.to_date).floor
              - else
                %span.text-muted -
