- @title = "#{@randomization_scheme.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = link_to @randomization_scheme.name_was, [@project, @randomization_scheme]
        Edit

.dashboard-container= render 'form'
