- @title = 'Randomization Schemes'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = link_to plus_or('New Scheme'), new_project_randomization_scheme_path(@project), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @randomization_schemes.total_count
        %span= @title

.dashboard-container
  %table.table.table-striped.table-borderless.table-hover
    %col.hidden-xs
    %col
    %col
    %col
    %thead
      %tr
        %th.hidden-xs
        = th_sort_field @order, 'randomization_schemes.name', 'Name'
        %th.text-center Published
        %th Goal

    %tbody
      - @randomization_schemes.each do |randomization_scheme|
        %tr
          %td.hidden-xs= render 'randomization_schemes/progress', randomization_scheme: randomization_scheme
          %td= link_to randomization_scheme.name, [@project, randomization_scheme]
          %td.text-center= simple_check randomization_scheme.published
          %td.nowrap
            = randomization_scheme.randomizations.where.not(subject_id: nil).count
            of
            = randomization_scheme.randomization_goal

.docs-learn-more
  Learn about
  = succeed '.' do
    = link_to 'randomization schemes', docs_randomization_schemes_path
