- @title = @randomization_scheme.name
.page-header
  %h1
    = link_to @project.name, project_randomization_schemes_path(@project)
    &middot;
    = @title
  = link_to "Edit Randomization Scheme", edit_project_randomization_scheme_path(@project, @randomization_scheme), class: 'btn btn-default btn-xs'
  = link_to "Delete Randomization Scheme", [@project, @randomization_scheme], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Randomization Scheme #{@randomization_scheme.name}?" }

%dl.dl-horizontal

  %dt Description
  %dd= simple_markdown @randomization_scheme.description

  %dt Creator
  %dd= link_to @randomization_scheme.user.name, @randomization_scheme.user if @randomization_scheme.user

  %dt Published
  %dd= simple_check @randomization_scheme.published

  %dt Algorithm
  %dd= simple_markdown @randomization_scheme.algorithm_name

  %dt Randomization Goal
  %dd= @randomization_scheme.randomization_goal

  %dt= link_to 'Treatment Arms', project_randomization_scheme_treatment_arms_path(@project, @randomization_scheme)
  %dd
    %ul.list-unstyled
      - @randomization_scheme.treatment_arms.each do |treatment_arm|
        %li
          = link_to treatment_arm.name, [@project, @randomization_scheme, treatment_arm]
          Allocation:
          %code
            = treatment_arm.allocation

  - if @randomization_scheme.permuted_block?
    %dt= link_to 'Block Size Multipliers', project_randomization_scheme_block_size_multipliers_path(@project, @randomization_scheme)
    %dd
      %ul.list-unstyled
        - @randomization_scheme.block_size_multipliers.each do |block_size_multiplier|
          %li
            = link_to block_size_multiplier.name, [@project, @randomization_scheme, block_size_multiplier]
            Allocation:
            %code
              = block_size_multiplier.allocation

  %dt= link_to 'Stratification Factors', project_randomization_scheme_stratification_factors_path(@project, @randomization_scheme)
  %dd
    %ul.list-unstyled
      - @randomization_scheme.stratification_factors.each do |stratification_factor|
        %li
          = link_to stratification_factor.name, [@project, @randomization_scheme, stratification_factor]
          - if stratification_factor.stratifies_by_site?
            %ul
              - @project.sites.order(:name).each do |site|
                %li= link_to site.name, [@project, site]
          - else
            %ul
              - stratification_factor.stratification_factor_options.each do |stratification_factor_option|
                %li= link_to stratification_factor_option.name, [@project, @randomization_scheme, stratification_factor, stratification_factor_option]

  %dt= link_to 'Lists', project_randomization_scheme_lists_path(@project, @randomization_scheme)
  %dd
    %ul.list-unstyled
      - @randomization_scheme.lists.each do |list|
        %li
          = link_to list.name, [@project, @randomization_scheme, list]
    - if @randomization_scheme.has_randomized_subjects? and @randomization_scheme.lists.count < @randomization_scheme.number_of_lists
      = link_to 'Add Additional Lists', expand_project_randomization_scheme_lists_path(@project, @randomization_scheme), method: :post, class: 'btn btn-default btn-xs'
    - elsif !@randomization_scheme.has_randomized_subjects?
      - if @randomization_scheme.randomizations.size > 0
        = link_to 'Regenerate Lists', generate_project_randomization_scheme_lists_path(@project, @randomization_scheme), method: :post, data: { confirm: 'Are you sure you want to irreversibly destroy the existing lists?' }, class: 'btn btn-danger-inverse btn-xs'
      - else
        = link_to 'Generate Lists', generate_project_randomization_scheme_lists_path(@project, @randomization_scheme), method: :post, class: 'btn btn-default btn-xs'

= render "randomization_schemes/existing_lists"
