- @title = @randomization_scheme.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_project_randomization_scheme_path(@project, @randomization_scheme), delete_url: [@project, @randomization_scheme], delete_confirmation: "Delete \"#{@randomization_scheme.name}\" randomization scheme?"
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "randomization schemes", project_randomization_schemes_path(@project)
    %li.breadcrumb-muted= @randomization_scheme.name.downcase

.dashboard-container
  = render "forms/horizontal/show/generic", title: "Randomized", content: render("randomization_schemes/progress", randomization_scheme: @randomization_scheme) if @randomization_scheme.published?
  = render "forms/horizontal/show/generic", title: "Algorithm", content: simple_markdown(@randomization_scheme.algorithm_name)
  - if false
    = render "forms/horizontal/show/generic", title: "Description", content: simple_markdown(@randomization_scheme.description)
    = render "forms/horizontal/show/generic", title: "Creator", content: link_to(@randomization_scheme.user.full_name, @randomization_scheme.user) if @randomization_scheme.user
  = render "forms/horizontal/show/generic", title: "Published", content: render("randomization_schemes/published", randomization_scheme: @randomization_scheme)
  = render "forms/horizontal/show/generic", title: "Randomization goal", content: render("randomization_schemes/randomization_goal", randomization_scheme: @randomization_scheme)
  = render "forms/horizontal/show/generic", title: "Variable criteria", content: render("randomization_schemes/variable_criteria", randomization_scheme: @randomization_scheme) if @randomization_scheme.variable
  = render "forms/horizontal/show/generic", title: "Chance of Random Treatment Arm Selection", content: @randomization_scheme.chance_of_random_treatment_arm_selection if @randomization_scheme.minimization?
  = render "forms/horizontal/show/generic", title: link_to("Treatment arms", project_randomization_scheme_treatment_arms_path(@project, @randomization_scheme)), content: render("randomization_schemes/treatment_arms", randomization_scheme: @randomization_scheme) unless @randomization_scheme.custom_list?
  = render "forms/horizontal/show/generic", title: link_to("Block size multipliers", project_randomization_scheme_block_size_multipliers_path(@project, @randomization_scheme)), content: render("randomization_schemes/block_size_multipliers", randomization_scheme: @randomization_scheme) if @randomization_scheme.permuted_block?
  = render "forms/horizontal/show/generic", title: link_to("Stratification Factors", project_randomization_scheme_stratification_factors_path(@project, @randomization_scheme)), content: render("randomization_schemes/factors", randomization_scheme: @randomization_scheme)
  = render "forms/horizontal/show/generic", title: link_to("Lists", project_randomization_scheme_lists_path(@project, @randomization_scheme)), content: render("randomization_schemes/lists", randomization_scheme: @randomization_scheme)
  = render "forms/horizontal/show/generic", title: "Tasks", content: render("randomization_schemes/tasks", randomization_scheme: @randomization_scheme) if @randomization_scheme.randomization_scheme_tasks.present?

= render "randomization_schemes/existing_lists"
= render "randomization_schemes/distributions"

