.page-header
  %h1
    = link_to @project.name, about_project_path(@project)
    &middot;
    = @title

= form_for [@link.project, @link], html: { class: 'form-horizontal' } do |f|
  - if @link.errors.any?
    .bs-callout.bs-callout-danger
      %h4
        = pluralize @link.errors.count, 'error'
        prohibited this link from being saved

      %ul
        - @link.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :category, nil, class: 'col-md-2 control-label'
    .col-md-10.sheet-container
      = f.text_field :category, autocomplete: "off", data: { object: "typeahead", local: @link.project.links.pluck(:category).uniq.to_json }, class: 'form-control'
      - unless @link.new_record?
        %label.checkbox.inline{ class: "#{'selected' if params[:rename_category] == '1'}" }
          = check_box_tag :rename_category, '1', params[:rename_category] == '1'
          Rename Category - select if you want rename this category for all
          links using it.

  .form-group
    = f.label :url, 'URL', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :url, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      .checkbox
        %label
          = f.check_box :archived
          Archived

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = cancel
