<div class="page-header">
  <h1><%= link_to @link.project.name, @link.project %> &middot; <%= @title %></h1>
</div>

<%= form_for [@link.project, @link], html: { class: 'form-horizontal' } do |f| %>
  <% if @link.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@link.errors.count, "error") %> prohibited this link from being saved</h4>

      <ul>
      <% @link.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :category, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10 sheet-container">
      <%= f.text_field :category, autocomplete: "off", data: { object: "typeahead", local: @link.project.links.pluck(:category).uniq.to_json }, class: 'form-control' %>
      <% unless @link.new_record? %>
        <label class="checkbox inline <%= 'selected' if params[:rename_category] == '1' %>"><%= check_box_tag :rename_category, '1', params[:rename_category] == '1' %> Rename Category - select if you want rename this category for all links using it.</label>
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :url, 'URL', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :url, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-offset-2">
      <div class="checkbox">
        <label>
          <%= f.check_box :archived %>
          Archived
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-offset-2">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
