%table.table.table-striped
  %thead
    %tr
      = th_sort_field @order, 'links.name', 'Name'
      = th_sort_field @order, 'links.category', 'Category'
      = th_sort_field @order, 'links.url', 'URL'
      = th_sort_field @order, 'links.archived', 'Archived'
      %th Actions

  - @links.each do |link|
    %tr
      %td= link_to link.name, [link.project, link]
      %td= link.category
      %td= link.url.truncate(40)
      %td= simple_check link.archived
      %td
        = link_to 'Edit', edit_project_link_path(link.project, link), class: 'btn btn-default btn-xs'
        = link_to 'Delete', [link.project, link], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Link #{link.name}?" }

.center= paginate @links, theme: 'contour'
