<% @title = @link.name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to 'Links', project_links_path(@project) %> &middot; <%= @title %>
  </h1>
  <%= link_to "Edit Link", edit_project_link_path(@link.project, @link), class: 'btn btn-default btn-mini' %>
  <%= link_to "Delete Link", [@link.project, @link], method: :delete, class: 'btn btn-mini btn-danger-inverse', data: { confirm: "Are you sure you want to delete Link #{@link.name}?" } %>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @link.name %></dd>

  <dt>Category</dt>
  <dd><%= @link.category %></dd>

  <dt>URL</dt>
  <dd style="word-wrap: break-word;"><%= link_to_if safe_url?(@link.url), @link.url, @link.url, target: '_blank' %></dd>

  <dt>Archived</dt>
  <dd><%= simple_check @link.archived %></dd>
</dl>
