- @title = "#{@adverse_event.name} Files"
- @menu_title = "#{@project.name} #{@title}"

- @subject = @adverse_event.subject
- content_for :sidebar, render("subjects/sidebar")

- content_for :header do
  .float-right
    = render "adverse_events/actions", adverse_event: @adverse_event
  = link_to @adverse_event.name, [@project, @adverse_event]
  Files
  = render "adverse_events/shareable_link", adverse_event: @adverse_event

- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    %li= link_to @adverse_event.name.to_s.downcase, [@project, @adverse_event]
    %li.breadcrumb-muted files

= render "adverse_events/menu"
.dashboard-container
  #attachments
    = render "adverse_event_files/attachments"

  - if @adverse_event.editable_by?(current_user)
    = link_to "Upload New File", new_project_adverse_event_adverse_event_file_path(@project, @adverse_event), class: "btn btn-light"
    .filedrag.d-flex.align-items-center.justify-content-center{ data: { object: "dropfile", project: @project.to_param, adverse_event: @adverse_event.to_param } }
      Drag files here to attach to adverse event.
