- @title = "#{@adverse_event.name} Files"
- @menu_title = "#{@project.name} #{@title}"

- @subject = @adverse_event.subject
- content_for :sidebar, render("subjects/sidebar")

- content_for :header do
  .float-right
    = render "adverse_events/actions", adverse_event: @adverse_event
  = link_to @adverse_event.name, [@project, @adverse_event]
  Files
  = render "adverse_events/shareable_link", adverse_event: @adverse_event

- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    %li= link_to @adverse_event.name.to_s.downcase, [@project, @adverse_event]
    %li= link_to "files", project_adverse_event_adverse_event_files_path(@project, @adverse_event)
    %li.breadcrumb-muted= @adverse_event_file.name.to_s.downcase

= render "adverse_events/menu"
.dashboard-container
  .jumbotron.text-center
    = succeed " " do
      = link_to download_project_adverse_event_adverse_event_file_path(@project, @adverse_event, @adverse_event_file), data: { turbolinks: false }, class: "btn btn-light" do
        = icon("fas", "download")
        = @adverse_event_file.name
    %code= number_to_human_size @adverse_event_file.attachment.size

  - if @adverse_event_file.image?
    .text-center= image_tag download_project_adverse_event_adverse_event_file_path(@project, @adverse_event, @adverse_event_file), class: "img-thumbnail img-ignore-selection"
