.form-group.row
  = form.label key, defined?(key_name) ? key_name : nil, class: "col-md-2 col-form-label"
  .col-md-10
    = form.text_field key, class: "datepicker form-control#{" is-invalid" if object.errors[key].present?}", value: object.send(key) ? object.send(key).strftime("%m/%d/%Y") : "", placeholder: "mm/dd/yyyy", autocomplete: "off"
    - if defined?(key_name)
      = render "forms/invalid_feedback", object: object, key: key, key_name: key_name
    - else
      = render "forms/invalid_feedback", object: object, key: key
    = render "forms/help_text", help_text: help_text if defined?(help_text)
