.form-group.row
  = form.label key, defined?(key_name) ? key_name : nil, class: "col-md-2 col-form-label"
  .col-md-10
    = form.email_field key, class: "form-control#{" is-invalid" if object.errors[key].present?}", placeholder: defined?(placeholder) ? placeholder : nil, autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false"
    - if defined?(key_name)
      = render "forms/invalid_feedback", object: object, key: key, key_name: key_name
    - else
      = render "forms/invalid_feedback", object: object, key: key
    = render "forms/help_text", help_text: help_text if defined?(help_text)
