<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Edit Design</h4>
</div>
<div class="modal-body">
  <form id="design_form" class="form-horizontal">

    <div class="form-group">
      <label class="col-md-2 control-label">Name</label>
      <div class="col-md-10">
        <%= text_field_tag "design[name]", @design.name, autocomplete: 'off', data: { object: 'push-partial-change-text-field', target: '#design_form', update: 'design_name' }, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Description</label>
      <div class="col-md-10">
        <%= text_area_tag "design[description]", @design.description, rows: 7, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <div class="row">
          <div class="col-xs-6">
            <div class="checkbox">
              <label>
                <%= hidden_field_tag "design[publicly_available]", '0' %>
                <%= check_box_tag "design[publicly_available]", '1', @design.publicly_available? %>
                Publicly Available
              </label>
            </div>
          </div>
          <div class="col-xs-6">
            <div class="checkbox">
              <label>
                <%= hidden_field_tag "design[show_site]", '0' %>
                <%= check_box_tag "design[show_site]", '1', @design.show_site? %>
                Show Site Selection on Survey
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Slug</label>
      <div class="col-md-10">
        <%= text_field_tag "design[slug]", @design.slug, autocomplete: 'off', data: { object: 'push-partial-change-text-field', target: '#design_form', update: 'design_name' }, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Redirect URL</label>
      <div class="col-md-10">
        <%= text_field_tag "design[redirect_url]", @design.redirect_url, autocomplete: 'off', data: { object: 'push-partial-change-text-field', target: '#design_form', update: 'design_name' }, placeholder: "#{SITE_URL}/about", class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Read Only Variables</label>
      <div class="col-md-10">
        <%= text_field_tag "design[read_only_variables]", @design.read_only_variables, autocomplete: 'off', data: { object: 'push-partial-change-text-field', target: '#design_form', update: 'design_name' }, class: 'form-control' %>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <%= button_tag 'Update', data: { object: 'push-partial-change', target: '#design_form', update: 'design_name' }, class: 'btn btn-primary' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
