<% @option = @design.options[params[:position].to_i] %>
<% @section = @design.sections.where( name: @option[:section_name] ).first %>


<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Edit Section
  </h4>
</div>
<div class="modal-body">
  <form id="section_form" class="form-horizontal" enctype="multipart/form-data">

    <div class="form-group">
      <label class="col-md-2 control-label">Name</label>
      <div class="col-md-10">
        <%= text_field_tag "section[section_name]", (@section ? @section.name : @option[:section_name]), data: { object: 'push-partial-change-with-file-text-field', target: '#section_form', update: 'section', position: params[:position] }, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Description</label>
      <div class="col-md-10">
        <%= text_area_tag "section[section_description]", (@section ? @section.description : @option[:section_description]), rows: 3, class: 'form-control' %>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Section Image</label>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-6">
            <%= file_field_tag "section[section_image]", data: { object: 'push-partial-change-with-file-text-field', target: '#section_form', update: 'section', position: params[:position] }, class: 'form-control', value: (@section ? @section.image : nil) %>
          </div>
          <% if false %>
            <div class="col-md-6">
              <div class="sheet-container">
                <label class="checkbox checkbox-inline negation">
                  <%= check_box_tag "section[section_image][remove_response_file]", '1', false %>
                  Remove Image
                </label>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Branching Logic</label>
      <div class="col-md-10">
        <%= text_area_tag "section[section_branching_logic]", (@section ? @section.branching_logic : @option[:branching_logic]), rows: 3, class: 'form-control' %>
        <%= render partial: 'layouts/branching_logic_examples' %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-10 col-md-offset-2">
        <div class="checkbox">
          <label>
            <%= check_box_tag "section[section_type]", "1", (@section ? @section.sub_section : @option[:section_type].to_i > 0)  %>
            Subsection
          </label>
        </div>
      </div>
    </div>

  </form>
</div>
<div class="modal-footer">
  <%= button_tag 'Update', data: { object: 'push-partial-change-with-file', target: '#section_form', update: 'section', position: params[:position] }, class: 'btn btn-primary' %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
