<% @option = @design.options[params[:position].to_i] %>

<div class="page-header">
  <h1>Edit Section</h1>
</div>

<form id="section_form" class="form-horizontal">

  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <%= text_field_tag "section[section_name]", @option[:section_name] %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Description</label>
    <div class="controls">
      <%= text_area_tag "section[section_description]", @option[:section_description], rows: 3, style: 'width:95%' %>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Branching Logic</label>
    <div class="controls">
      <%= text_area_tag "section[branching_logic]", @option[:branching_logic], rows: 3, style: 'width:95%',
        rel: "popover", data: { content: "
          <table class='table table-bordered'>
          <tbody>
            <tr><td style='font-weight:bold'>General</td><td>variable == 5</td></tr>
            <tr><td style='font-weight:bold'>OR</td><td>a > 5 || b < 2</td></tr>
            <tr><td style='font-weight:bold'>AND</td><td>a > 5 && a < 10</td></tr>
            <tr><td style='font-weight:bold'>Checkbox</td><td>overlap(variable, ['5'])</td></tr>
          </tbody>
          </table>
          ", title: "Branching Logic Examples", placement: 'bottom', html: true } %>
    </div>
  </div>

</form>

<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Update', data: { object: 'push-partial-change', target: '#section_form', update: 'section', position: params[:position] }, class: 'btn btn-primary' %>
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal', position: params[:position] }, class: 'btn' %>
</div>
