<% @variable = @design.project.variables.find_by_id(params[:variable_id]) %>

<div class="page-header">
  <h1>
    Edit Variable
    <span data-object="pull-partial-edit" data-edit="variable_display_name" data-position="<%= params[:position] %>" data-variable-id="<%= @variable.id %>" class="editable-design-element" style="font-size:0.4em">
      <%= @variable.display_name %>
    </span>
  </h1>
</div>

<form id="variable_form" class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-2 control-label">Name</label>
    <div class="col-lg-10">
      <%= text_field_tag "variable[name]", @variable.name, maxlength: 32, style: 'width:225px', data: { object: 'push-partial-change-text-field', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id } %>
      <div class="help-block">Letter followed by letters, numbers, or underscores. Max length 32 characters.</div>
      <i>var1_population</i>
    </div>
  </div>
</form>

<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Update', data: { object: 'push-partial-change', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary' %>
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal', position: params[:position] }, class: 'btn' %>
</div>
