<% @variable = @design.project.variables.find_by_id(params[:variable_id]) %>
<% @select_variables = current_user.all_viewable_variables.without_variable_type(['grid']).where(project_id: @project.id).order(:name).collect{|v| [v.name, v.id]} %>


<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Edit Grid Variable Variables &middot; <%= @variable.name %>
  </h4>
</div>
<div class="modal-body">

  <form id="variable_form" class="form-horizontal">

    <%= hidden_field_tag "variable[project_id]", @variable.project.id %>
    <div id="form_grid_variables" data-object="sortable">
      <% @variable.grid_variables.each do |grid_variable| %>
        <%= @grid_variable = grid_variable; render partial: 'variables/edit_grid_variable' %>
      <% end %>
    </div>
    <div class="btn-toolbar">
      <%= link_to 'Add Variable', '#', id: 'add_grid_variable', class: 'btn btn-default btn-mini', data: { position: 'bottom' } %>
    </div>

  </form>

</div>
<div class="modal-footer">
<%= button_tag 'Update', data: { object: 'push-partial-change', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary' %>
  <button type="button" class="btn btn-cancel-inverse" data-dismiss="modal">Cancel</button>
</div>
