<% @option = @design.options[params[:position].to_i] %>
<% @variable = @design.variable_at(params[:position].to_i) %>

<div class="page-header">
  <h1>Edit Variable Ranges<span style="font-size:0.4em"><%= @variable.name %></span></h1>
</div>

<form id="variable_form" class="form-horizontal">
  <% %w(date_hard_maximum date_hard_minimum date_soft_maximum date_soft_minimum).each do |range| %>
    <div class="control-group">
      <label class="control-label"><%= range.titleize %></label>
      <div class="controls">
        <%= text_field_tag "variable[#{range}]", @variable.send(range), autocomplete: 'off', class: 'datepicker', value: @variable.send(range) ? @variable.send(range).strftime('%m/%d/%Y') : '' %>
      </div>
    </div>
  <% end %>
</form>

<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Update', data: { object: 'push-partial-change', target: '#variable_form', update: 'variable', position: params[:position] }, class: 'btn btn-primary' %>
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal', position: params[:position] }, class: 'btn' %>
</div>
