<% @variable = @design.project.variables.find_by_id(params[:variable_id]) %>

<div class="page-header">
  <h1>
    Edit Variable
    <span data-object="pull-partial-edit" data-edit="variable_name" data-position="<%= params[:position] %>" data-variable-id="<%= @variable.id %>" class="editable-design-element" style="font-size:0.4em">
      <%= @variable.name %>
    </span>
  </h1>
</div>

<form id="variable_form" class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-2 control-label">Display Name</label>
    <div class="col-lg-10">
      <%= text_field_tag "variable[display_name]", @variable.display_name, style: 'width:95%', autocomplete: 'off', data: { object: 'push-partial-change-text-field', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id } %>
      <div class="help-block">
        The display name is the question as displayed to the user who is filling out the form.<br />
        <div style="margin-left:20px">Ex: <i class="text-muted">What is your age?</i></div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-lg-2 control-label">Variable Name</label>
    <div data-object="pull-partial-edit" data-edit="variable_name" data-position="<%= params[:position] %>" data-variable-id="<%= @variable.id %>" class="controls editable-design-element" style="line-height:30px">
      <%= @variable.name %>
      <div class="help-block">
        <span class="text-muted">Click here to edit the variable name</span>
      </div>
    </div>
  </div>

  <% if @variable == @design.variable_at(params[:position].to_i) %>
    <% @option = @design.options[params[:position].to_i] %>
    <div class="form-group">
      <label class="col-lg-2 control-label">Branching Logic</label>
      <div class="col-lg-10">
        <%= text_area_tag "variable[branching_logic]", @option[:branching_logic], rows: 3, style: 'width:95%',
          rel: "popover", data: { content: "
            <table class='table table-bordered'>
            <tbody>
              <tr><td style='font-weight:bold'>General</td><td>variable == 5</td></tr>
              <tr><td style='font-weight:bold'>OR</td><td>a > 5 || b < 2</td></tr>
              <tr><td style='font-weight:bold'>AND</td><td>a > 5 && a < 10</td></tr>
              <tr><td style='font-weight:bold'>Checkbox</td><td>overlap(variable, ['5'])</td></tr>
            </tbody>
            </table>
            ", title: "Branching Logic Examples", placement: 'bottom', html: true } %>
      </div>
    </div>
  <% end %>
</form>

<hr class="soften" style="margin-top:20px;" />

<div class="button-group pull-right">
  <%= button_tag 'Update', data: { object: 'push-partial-change', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary' %>
  <%= button_tag 'Cancel', data: { object: 'hide-contour-modal', position: params[:position] }, class: 'btn' %>
</div>
