<% @variable = @design.project.variables.find_by_id(params[:variable_id]) %>
<% @domain = @variable.domain || @project.domains.new %>

<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Edit Variable Domain &middot; <%= @variable.name %>
  </h4>
</div>
<div class="modal-body">

  <form id="domain_form" class="form-horizontal">

    <div class="form-group">
      <label class="col-md-2 control-label">Domain Name</label>
      <div class="col-md-10">
        <%= text_field_tag "domain[name]", @domain.name, maxlength: 30, class: 'form-control', autocomplete: 'off', data: { object: 'push-partial-change-text-field', target: '' } %>
        <div class="bs-callout bs-callout-info">
          <h4>Naming convention</h4>

          <ul>
            <li>Must be a letter <code>a-zA-Z</code> followed by letters <code>a-zA-Z</code>, numbers<code>0-9</code>, or underscores<code>_</code>.</li>
            <li>Max length <b>30 characters</b>.</li>
          </ul>
          Ex: <code>domain1_population</code>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label">Options</label>
      <div id="domain_option" class="col-md-10" data-placement="left">
        <div id="options" data-object="sortable">
          <%= render partial: 'domains/options' %>
        </div>
        <div class="btn-toolbar">
          <%= link_to 'Add Options', '#', id: 'add_more_domain_options', class: 'btn btn-default btn-xs' %>
        </div>
      </div>
    </div>

  </form>

</div>
<div class="modal-footer">
  <% if @domain.new_record? %>
    <%= button_tag 'Create', data: { object: 'push-partial-change', target: '#domain_form', create: 'domain', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary' %>
  <% else %>
    <% other_variables = @domain.variables.count - 1 %>
    <%= button_tag "Update Existing Domain" + (other_variables > 0 ? " (linked to #{pluralize(other_variables, 'other variable')})" : ""), data: { object: 'push-partial-change', target: '#domain_form', update: 'domain', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary' %>
    or
    <%= button_tag 'Copy Choices to New Domain', data: { object: 'push-partial-change', target: '#domain_form', create: 'domain', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary' %>
  <% end %>
  <% domains = @project.domains %>
  <% if domains.count > 0 %>
    or
    <span class="white-space:nowrap"><%= select_tag 'domain[id]', options_for_select( [['', nil]] + domains.order('name').collect{|d| [d.name, d.id]} ) %>
    <%= button_tag 'Use Selected Domain', data: { object: 'push-partial-change', target: '#domain_id', create: 'domain', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary' %></span>
  <% end %>
  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
</div>
