- @variable = @design.project.variables.find_by_id(params[:variable_id])
- @select_variables = current_user.all_viewable_variables.without_variable_type(['grid', 'file']).where(project_id: @project.id).order(:name).collect{|v| [v.name, v.id]}
.modal-header
  %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } } &times;
  %h4.modal-title
    Edit Grid Questions &middot;
    = @variable.name
.modal-body
  %form#variable_form.form-horizontal
    = hidden_field_tag "variable[project_id]", @variable.project.id
    #form_grid_variables{ data: { object: "sortable" } }
      - @variable.grid_variables.each do |grid_variable|
        = render 'variables/edit_grid_variable', grid_variable: grid_variable
    .row{ style: "margin-top:20px" }
      .col-xs-1
      .col-xs-11
        = link_to 'Add Question', '#', id: 'add_grid_variable', class: 'btn btn-default btn-xs', data: { position: 'bottom' }
.modal-footer
  = button_tag 'Update', data: { object: 'push-partial-change', target: '#variable_form', update: 'variable', position: params[:position], variable_id: @variable.id }, class: 'btn btn-primary'
  %button.btn.btn-default{ type: "button", data: { dismiss: "modal" } } Cancel
