<% responses = @sheets.sheet_responses_for_checkboxes(@variable)  %>
<% counts = [] %>
<% @variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
  <% counts << responses.select{|r| r == value}.count %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <% @variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
        <th><%= value %>: <%= name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span data-object="sparkline" data-type="pie" data-values="<%= counts.to_json %>" style="display:none"></span></td>
      <% @variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value]]}.each_with_index do |(name, value), count_index| %>
        <% count = counts[count_index] %>
        <td>
          <% if count == 0 %>
            -
          <% else %>
            <span style="background-color: <%= @colors[count_index % @colors.size] %>">&nbsp;</span>
            <%= filter_link(count == 0 ? nil : count, @project, @design, @variable, value, @statuses) %>
          <% end %>
        </td>
      <% end %>
    </tr>
  </tbody>
</table>
