<% missing_responses = responses.select{|r| r.blank?} %>
<% valid_responses = responses.select{|r| not r.blank?}.map(&:to_i) %>

<table class="table">
  <thead>
    <tr>
      <th>N</th>
      <% @variable.options_without_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
        <th><%= value %>: <%= name %></th>
      <% end %>
      <th>Missing</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to_if( !Sheet.array_count(valid_responses).blank?, Sheet.array_count(valid_responses) || '-', project_sheets_path(@project, design_id: @design.id, f: [{ variable_id: @variable.id, value: ':any' }]) ) %></td>
      <% @variable.options_without_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
        <td><%= link_to_if( responses.select{|r| r == value}.count != 0, responses.select{|r| r == value}.count == 0 ? '-' : responses.select{|r| r == value}.count, project_sheets_path(@project, design_id: @design.id, f: [{ variable_id: @variable.id, value: value }]) ) %></td>
      <% end %>
      <td><%= link_to_if( !Sheet.array_count(missing_responses).blank?, Sheet.array_count(missing_responses) || '-', project_sheets_path(@project, design_id: @design.id, f: [{ variable_id: @variable.id, value: ':missing' }]) ) %></td>
      <td><%= link_to_if( !Sheet.array_count(responses).blank?, Sheet.array_count(responses) || '-', project_sheets_path(@project, design_id: @design.id) ) %></td>
    </tr>
  </tbody>
</table>
