<% missing_responses = responses.select{|r| r.blank?} %>
<% valid_responses = responses.select{|r| not r.blank?}.map(&:to_f) %>

<% valid_sheets = sheet_scope.with_stratum(@variable.id, ':any') %>

<table class="table">
  <thead>
    <tr>
      <th></th>
      <th>N</th>
      <th>Mean</th>
      <th>StdDev</th>
      <th>Median</th>
      <th>Min</th>
      <th>Max</th>
      <th>Missing</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><span data-object="sparkline" data-type="box" data-values="<%= valid_responses.to_json %>" data-min="<%= @overall_min %>" data-max="<%= @overall_max %>" style="display:none"></span></td>
      <td><%= link_to_if( !Sheet.array_count(valid_responses).blank?, Sheet.array_count(valid_responses) || '-', project_sheets_path(@project, design_id: @design.id, f: [{ variable_id: @variable.id, value: ':any' }]) ) %></td>
      <td><%= Sheet.array_calculation(valid_sheets, @variable, 'array_mean') %></td>
      <td><%= Sheet.array_calculation(valid_sheets, @variable, 'array_standard_deviation') %></td>
      <td><%= Sheet.array_calculation(valid_sheets, @variable, 'array_median') %></td>
      <td><%= Sheet.array_calculation(valid_sheets, @variable, 'array_min') %></td>
      <td><%= Sheet.array_calculation(valid_sheets, @variable, 'array_max') %></td>
      <td><%= link_to_if( !Sheet.array_count(missing_responses).blank?, Sheet.array_count(missing_responses) || '-', project_sheets_path(@project, design_id: @design.id, f: [{ variable_id: @variable.id, value: ':missing' }]) ) %></td>
      <td><%= link_to_if( !Sheet.array_count(responses).blank?, Sheet.array_count(responses) || '-', project_sheets_path(@project, design_id: @design.id) ) %></td>
    </tr>
  </tbody>
</table>
