<% show_navigation = (@design.sections.size > 1) %>

<% if show_navigation %>
<div class="row">
  <div class="col-md-3 bs-docs-sidebar">
    <%= render partial: 'designs/navigation' %>
  </div>
  <div class="col-md-9" id="main-bar">
<% end %>

<% @colors = ['#3366cc', '#dc3912', '#ff9900', '#109618', '#66aa00', '#dd4477', '#0099c6', '#990099'] %>

<form class="form-horizontal">
  <% @design.options.each do |option| %>
    <% @option = option %>
    <% if @option[:variable_id].blank? %>
      <%= render partial: 'sheet_variables/section' %>
    <% elsif @variable = Variable.current.find_by_id(@option[:variable_id]) %>

      <% if ['invisible', 'gone'].include?(@variable.display_name_visibility) %>
        <div class="col-xs-12 page-header" style="margin-top:0px">
          <h4 style="padding:0px">
            <%= @variable.display_name %>
          </h4>
        </div>
      <% end %>

      <div class="form-group">
        <% if 'visible' == @variable.display_name_visibility %>
          <%= label 'variables', "#{@variable.id}", @variable.display_name, class: 'col-md-2 control-label' %>
        <% end %>

        <div class="<%= "col-md-10" if @variable.display_name_visibility != 'gone' and not @variable.uses_scale? %> <%= 'col-md-offset-2' if @variable.display_name_visibility == 'invisible' and not @variable.uses_scale? %>">
          <% responses = @sheets.sheet_responses(@variable)  %>
          <%= render partial: "designs/overview/#{@variable.variable_type}", locals: { sheet_scope: @sheets, responses: responses } %>
        </div>
      </div>

    <% end %>
  <% end %>
</form>

<% if show_navigation %>
  </div>
</div>
<% end %>
