<% missing_responses = responses.select{|r| r.blank?} %>
<% valid_responses = responses.select{|r| not r.blank?} %>
<% responses_and_subjects = @variable.sheet_variables.where(sheet_id: sheet_scope.pluck(:id)).select{|sv| not sv.response.blank?}.collect{|sv| [sv.response, sv.sheet.subject]} %>

<table class="table">
  <thead>
    <tr>
      <th>N</th>
      <th>Missing</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to_if( !Sheet.array_count(valid_responses).blank?, Sheet.array_count(valid_responses) || '-', project_sheets_path(@project, design_id: @design.id, f: [{ variable_id: @variable.id, value: ':any' }]) ) %></td>
      <td><%= link_to_if( !Sheet.array_count(missing_responses).blank?, Sheet.array_count(missing_responses) || '-', project_sheets_path(@project, design_id: @design.id, f: [{ variable_id: @variable.id, value: ':missing' }]) ) %></td>
      <td><%= link_to_if( !Sheet.array_count(responses).blank?, Sheet.array_count(responses) || '-', project_sheets_path(@project, design_id: @design.id) ) %></td>
    </tr>
  </tbody>
</table>

<% responses_and_subjects.each do |response, subject| %>
  <blockquote>
    <%= simple_markdown response %>
    <small><%= subject.subject_code %></small>
  </blockquote>
<% end %>
