<% missing_responses = responses.select{|r| r.blank?} %>
<% valid_responses = responses.select{|r| not r.blank?} %>
<% responses_and_subjects = @variable.sheet_variables.where(sheet_id: sheet_scope.pluck(:id)).select{|sv| not sv.response.blank?}.collect{|sv| [sv.response, sv.sheet.subject]} %>

<table class="table">
  <thead>
    <tr>
      <th>N</th>
      <th class="muted">Unknown</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= filter_link(Sheet.array_count(valid_responses), @project, @design, @variable, ':any', @statuses) %></td>
      <td><%= filter_link(Sheet.array_count(missing_responses), @project, @design, @variable, ':missing', @statuses) %></td>
      <td><%= filter_link(Sheet.array_count(responses), @project, @design, nil, nil, @statuses) %></td>
    </tr>
  </tbody>
</table>

<% responses_and_subjects.each do |response, subject| %>
  <blockquote>
    <%= simple_markdown response %>
    <small><%= subject.subject_code %></small>
  </blockquote>
<% end %>
