<% is_grid = defined?(grid) %>

<% location_id = field_name.gsub('[','_').gsub(']', '') %>

<%= hidden_field_tag field_name, nil, disabled: disabled, data: { object: 'calculated', calculation: variable.calculation, variable_id: variable.id, target: "##{location_id}_calculation_result", name: variable.name } %>
<span id="<%= location_id %>_calculation_result" rel="<%= 'popover' unless variable.calculation.blank? %>" data-content="<tt><center><%= variable.calculation %></center></tt><%= simple_format ("<hr/>" + variable.description.to_s) unless variable.description.blank? %>" data-title="<%= variable.display_name %>" style="line-height:30px"></span>
