- is_grid = defined?(grid)

- target_name = field_name.gsub('[', '_').gsub(']', '')
- value = response

.input-group{ data: { object: 'validate', project_id: @project.to_param, variable_id: variable.id, target_name: target_name, components: 'calculated', status: variable.validator.status(value) } }
  - unless variable.prepend.blank?
    %span.input-group-addon= variable.prepend
  = text_field_tag "#{target_name}_calculation_result", response, class: 'form-control', disabled: 'disabled'
  = hidden_field_tag field_name, response, disabled: disabled, data: { object: 'calculated', calculation: variable.calculation, variable_id: variable.id, target: "##{target_name}_calculation_result", name: variable.name, grid_position: defined?(position) ? position : "", target_name: target_name }
  - unless variable.units.blank?
    %span.input-group-addon= variable.units
  - unless variable.append.blank?
    %span.input-group-addon= variable.append
  %span.input-group-btn.input-group-addon{ style: "margin:-1px;padding:0px;border:0px" }
    = link_to '#', class: 'btn btn-default', tabindex: '-1', data: { object: 'toggle-visibility', target: "#calculation_#{target_name}"} do
      %span.glyphicon.glyphicon-info-sign

%pre{ id: "calculation_#{target_name}", style: "display:none;margin-top:20px" }
  = variable.formatted_calculation
