<% is_grid = defined?(grid) %>
<% show_values = true unless defined?(show_values) %>

<% if response.kind_of?(Array) %>
  <% responses = response %>
<% else %>
  <% if is_grid %>
    <% responses = ((defined?(object) and object) ? object.responses.collect{|r| r.value} : []) %>
  <% else %>
    <% responses = ((defined?(sheet_variable) and sheet_variable) ? sheet_variable.responses.collect{|r| r.value} : []) %>
  <% end %>
<% end %>

<%= hidden_field_tag "#{field_name}[]", nil, disabled: disabled, data: { name: variable.name, variable_type: variable.variable_type } %>

<% if variable.alignment == 'scale' %>
  <table class="table table-hover"><col width="300px"/><%== "<col width='#{100/(variable.options_missing_at_end.size+2)}%'/>"*variable.options_missing_at_end.size %>
    <% if variable.first_scale_variable?(@design) %>
      <thead>
        <tr>
          <th></th>
          <% variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
            <th style="text-align:center">
              <% if show_values %><%= value %>: <% end %><%= name %>
            </th>
          <% end %>
        </tr>
      </thead>
    <% end %>
    <tbody>
      <tr>
        <td style="font-weight:bold"><%= variable.display_name %></td>
        <% variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value], opt[:description]]}.each do |name, value, description| %>
          <td style="text-align:center" class="sheet-container">
            <% selected = (responses.collect{|i| i.to_s}.include?(value)) %>
            <label class="checkbox checkbox-inline <%= 'selected' if selected %>"
                   data-content="<%= description %>"
                   data-title="<%= value %>: <%= name %>"
                   data-placement="bottom" rel="<%= description.blank? ? 'tooltip' : 'popover' %>"
                   data-html="true">
              <%= check_box_tag "#{field_name}[]", "#{value}", selected, data: { object: "condition", name: variable.name, variable_type: variable.variable_type }, disabled: disabled, style: 'margin-left:-14px' %>
            </label>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
<% else %>
  <div class="sheet-container" style="<%= 'white-space:nowrap' if is_grid or variable.alignment == 'horizontal' %>">
    <% variable.options_without_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
      <label class="checkbox <%= 'checkbox-inline' if is_grid or variable.alignment == 'horizontal' %> <%= 'selected' if responses.collect{|i| i.to_s}.include?(value) %>"><%= check_box_tag "#{field_name}[]", "#{value}", responses.collect{|i| i.to_s}.include?(value), data: { object: "condition" }, disabled: disabled %> <% if show_values %><%= value %>: <% end %><%= name %></label>
    <% end %>
    <% if variable.options_only_missing.size > 0 %>
      <span class="label label-danger">Missing Codes</span>
    <% end %>
    <% variable.options_only_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
      <label class="checkbox <%= 'checkbox-inline' if is_grid or variable.alignment == 'horizontal' %> <%= 'selected' if responses.collect{|i| i.to_s}.include?(value) %>"><%= check_box_tag "#{field_name}[]", "#{value}", responses.collect{|i| i.to_s}.include?(value), data: { object: "condition" }, disabled: disabled %> <% if show_values %><%= value %>: <% end %><%= name %></label>
    <% end %>
  </div>
<% end %>
