- is_grid = defined?(grid)
- show_values = true unless defined?(show_values)

- target_name = field_name.gsub('[', '_').gsub(']', '')
- values = variable.response_to_value(response)

.checkbox-input{ data: { object: 'validate', project_id: @project.to_param, variable_id: variable.id, target_name: target_name, components: 'checkbox', status: variable.validator.status(values) } }

  = hidden_field_tag "#{field_name}[]", nil, disabled: disabled, data: { name: variable.name, variable_type: variable.variable_type }

  - if variable.alignment == 'scale'
    %table.table.table-borderless
      %col{ width: "300px" }
      = ("<col width='#{100/(variable.options_missing_at_end.size+2)}%'/>" * variable.options_missing_at_end.size).html_safe
      - if variable.first_scale_variable?(design)
        %thead
          %tr
            %th
            - variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value]]}.each do |name, v|
              %th.text-center
                - if show_values
                  = succeed ':' do
                    = v
                = name
      %tbody
        %tr
          %td{ style: "font-weight:bold" }
            = variable.display_name
            = render 'design_options/required', design_option: design_option if design_option
          - variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value], opt[:description], opt[:missing_code]]}.each do |name, v, description, missing|
            %td.text-center.sheet-container
              - selected = (values.include?(v))
              %label.checkbox.checkbox-inline{ class: "#{'selected' if selected} #{'negation' if missing == '1'}", rel: "#{description.blank? ? 'tooltip' : 'popover'}", data: { content: description, title: "#{v}: #{name}", placement: "bottom", html: "true" } }
                = check_box_tag "#{field_name}[]", "#{v}", selected, data: { object: "condition", name: variable.name, variable_type: variable.variable_type }, disabled: disabled, style: 'margin-left:-14px'
  - else
    .sheet-container
      - variable.shared_options.collect{|o| [o[:name], o[:value], o[:missing_code]]}.each do |name, v, missing_code|
        %label.checkbox{ class: "#{'checkbox-inline' if is_grid or variable.alignment == 'horizontal'} #{'selected' if values.include?(v)} #{'negation' if missing_code == '1'}" }
          = check_box_tag "#{field_name}[]", "#{v}", values.include?(v), data: { object: "condition" }, disabled: disabled
          - if show_values
            = succeed ':' do
              = v
          = name
