<% is_grid = defined?(grid) %>

<div style="display:inline-block;padding-right:10px">
  <% if response.kind_of?(Array) %>
    <% responses = response %>
  <% else %>
    <% if is_grid %>
      <% responses = ((defined?(object) and object) ? object.responses.collect{|r| r.value} : []) %>
    <% else %>
      <% responses = ((defined?(sheet_variable) and sheet_variable) ? sheet_variable.responses.collect{|r| r.value} : []) %>
    <% end %>
  <% end %>

  <%= hidden_field_tag "#{field_name}[]", nil, disabled: disabled %>
  <% variable.options_without_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
    <label class="<%= 'checkbox inline' if is_grid or variable.alignment == 'horizontal' %>"><%= check_box_tag "#{field_name}[]", "#{value}", responses.collect{|i| i.to_s}.include?(value), data: { object: "condition" }, disabled: disabled %> <%= value %>: <%= name %></label>
  <% end %>
  <% if variable.options_only_missing.size > 0 %>
    <label class="<%= 'checkbox inline' if is_grid or variable.alignment == 'horizontal' %>"><span class="label label-info">Missing Codes</span></label>
  <% end %>
  <% variable.options_only_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value| %>
    <label class="<%= 'checkbox inline' if is_grid or variable.alignment == 'horizontal' %>"><%= check_box_tag "#{field_name}[]", "#{value}", responses.collect{|i| i.to_s}.include?(value), data: { object: "condition" }, disabled: disabled %> <%= value %>: <%= name %></label>
  <% end %>
</div>
