- is_grid = defined?(grid)
- target_name = field_name.gsub("[", "_").gsub("]", "")
- value = variable.response_to_value(response)

.date-input{ data: { object: "validate", validate_url: process_variable_validate_path(@project, variable), target_name: target_name, components: "date", status: variable.validator.status(value) } }
  - case variable.date_format
  - when "dd-mmm-yyyy"
    = render "sheet_variables/form/parts/day", disabled: disabled, field_name: field_name, target_name: target_name, value: value
    %span -
    = render "sheet_variables/form/parts/month_select", disabled: disabled, field_name: field_name, target_name: target_name, value: value
    %span -
    = render "sheet_variables/form/parts/year", disabled: disabled, field_name: field_name, target_name: target_name, value: value
  - when "yyyy-mm-dd"
    = render "sheet_variables/form/parts/year", disabled: disabled, field_name: field_name, target_name: target_name, value: value
    %span -
    = render "sheet_variables/form/parts/month", disabled: disabled, field_name: field_name, target_name: target_name, value: value
    %span -
    = render "sheet_variables/form/parts/day", disabled: disabled, field_name: field_name, target_name: target_name, value: value
  - when "dd/mm/yyyy"
    = render "sheet_variables/form/parts/day", disabled: disabled, field_name: field_name, target_name: target_name, value: value
    %span /
    = render "sheet_variables/form/parts/month", disabled: disabled, field_name: field_name, target_name: target_name, value: value
    %span /
    = render "sheet_variables/form/parts/year", disabled: disabled, field_name: field_name, target_name: target_name, value: value
  - else # "mm/dd/yyyy"
    = render "sheet_variables/form/parts/month", disabled: disabled, field_name: field_name, target_name: target_name, value: value
    %span /
    = render "sheet_variables/form/parts/day", disabled: disabled, field_name: field_name, target_name: target_name, value: value
    %span /
    = render "sheet_variables/form/parts/year", disabled: disabled, field_name: field_name, target_name: target_name, value: value

= link_to I18n.t("sheets.today"), "#", class: "btn btn-light btn-sm ml-1", data: { object: "set-date-input-to-current-date", target_name: target_name }, tabindex: "-1" if variable.show_current_button?
= link_to I18n.t("sheets.clear"), "#", class: "btn btn-light btn-sm ml-1", data: { object: "clear-date-input", target_name: target_name }, tabindex: "-1" unless is_grid

= render "validation/full_message", variable: variable, value: value, target_name: target_name, validate_response: validate_response unless is_grid
