<% is_grid = defined?(grid) %>

<div class="date-input form-inline">
  <%= hidden_field_tag field_name, (Date.parse(response).strftime('%m/%d/%Y') rescue ""), data: { object: "condition" }, disabled: disabled %>

  <% variable.date_order.each_with_index do |component, index| %>
    <% (formatting, string_format) = variable.date_formatting(component) %>
    <span class="<%= component %>-box">
      <%= text_field_tag "#{component}_#{field_name}", (Date.parse(response).strftime(string_format) rescue ""), maxlength: formatting.size, disabled: disabled, data: { target_input: "##{field_name.gsub('[', '_').gsub(']', '')}", object: 'date-field cursor-navigatable' }, autocomplete: 'off', placeholder: formatting, class: 'form-control', style: 'display: inline-block;' %>
    </span>
    <%= variable.date_separator unless index == variable.date_order.size - 1 %>
  <% end %>
  <% if variable.show_current_button? %>
    <%= link_to 'Today', '#', data: { object: 'set-date-input-to-current-date', target_input: "##{field_name.gsub('[', '_').gsub(']', '')}" }, class: 'btn btn-default btn-xs', tabindex: '-1' if variable.show_current_button? %>
  <% end %>
  <%= link_to 'Clear', '#', data: { object: 'clear-date-input', target_input: "##{field_name.gsub('[', '_').gsub(']', '')}" }, class: 'btn btn-default btn-xs', tabindex: '-1' unless is_grid %>
</div>
