- is_grid = defined?(grid)

- target_name = field_name.gsub('[', '_').gsub(']', '')

- value = variable.response_to_value(response)

.date-input.form-inline{ data: { object: 'validate', project_id: @project.to_param, variable_id: variable.id, target_name: target_name, components: 'date', status: variable.validator.status(value) } }
  - variable.date_order.each_with_index do |component, index|
    - (formatting, string_format) = variable.date_formatting(component)
    %span{ class: "#{component}-box" }
      = text_field_tag "#{field_name}[#{component}]", value[component.to_sym], maxlength: formatting.size, disabled: disabled, data: { target_name: target_name, object: 'cursor-navigatable' }, autocomplete: 'off', placeholder: formatting, class: 'form-control', style: 'display: inline-block;'
    = variable.date_separator unless index == variable.date_order.size - 1
  - if variable.show_current_button?
    = link_to 'Today', '#', data: { object: 'set-date-input-to-current-date', target_name: target_name }, class: 'btn btn-default btn-xs', tabindex: '-1'
  - unless is_grid
    = link_to 'Clear', '#', data: { object: 'clear-date-input', target_name: target_name }, class: 'btn btn-default btn-xs', tabindex: '-1'
= render 'validation/full_message', variable: variable, value: value, target_name: target_name, validate_response: validate_response unless is_grid
