<% response_name = object.get_response(:name) if object %>
<% response_file = object.get_response(:raw) if object %>

<div class="row">
  <div class="col-md-<%= (response_file and response_file.size > 0) ? 6 : 12 %>">
<%= file_field_tag "#{field_name}[response_file]",
      data: {
              content: variable.description,
              title: variable.display_name,
              object: "condition",
              html: true
            },
      rel: "#{variable.description.blank? ? 'tooltip' : 'popover'}",
      disabled: disabled,
      title: variable.display_name,
      class: 'form-control' %>
<%= hidden_field_tag "#{field_name}[response_file][cache]" %>
  </div>
<% if response_file and response_file.size > 0 %>
  <div class="col-md-6">
    <div class="sheet-container">
      <label class="checkbox checkbox-inline negation">
        <%= check_box_tag "#{field_name}[remove_response_file]", '1', false %>
        Remove <code><%= response_name %></code> <tt><%= number_to_human_size(response_file.size) %></tt>
      </label>
    </div>
  </div>
<% end %>
</div>
