- response_name = object.get_response(:name) if object
- response_file = object.get_response(:raw) if object

.row
  %div{ class: "col-md-#{(response_file and response_file.size > 0) ? 6 : 12}" }
    .file-input.btn.btn-xs.btn-default
      %span.file-input-display Upload File
      = file_field_tag "#{field_name}[response_file]", data: { content: variable.description, title: variable.display_name, object: "condition", html: 'true' }, rel: "#{variable.description.blank? ? 'tooltip' : 'popover'}", disabled: disabled, title: variable.display_name, class: 'upload', style: 'line-height:1;padding:0px;margin:0px', tabindex: '-1'
    = hidden_field_tag "#{field_name}[response_file_cache]"
  - if response_file and response_file.size > 0
    .col-md-6
      .sheet-container
        %label.checkbox.checkbox-inline.negation
          = check_box_tag "#{field_name}[remove_response_file]", '1', false
          Remove
          %code= response_name
          %tt= number_to_human_size(response_file.size)
