-# Range should either be the existing positions (which are long strings) or the
-# positions from the sheet_variables
- all_grids = object ? object.grids.includes(variable: [:domain]).to_a : []
- if params[:variables].present? && params[:variables][variable.id.to_s].present?
  - range = params[:variables][variable.id.to_s].keys
- else
  - max_position = object ? (all_grids.collect(&:position) + [variable.default_row_number - 1]).max.to_i : (variable.default_row_number - 1)
  - range = (0..max_position)
- show_values = true unless defined?(show_values)

-# This hidden field allows grids with no rows to be saved (and cleared).
= form.hidden_field "variables[#{variable.id}][-1][-1]", value: "", name: "variables[#{variable.id}][-1][-1]"
%table.table.table-hover.table-grid.table-sticky.table-borderless.table-striped.table-sm.mb-3
  %thead
    %tr
      %th
      - variable.child_variables.each do |child_variable|
        %th= child_variable.display_name
      - if variable.multiple_rows?
        %th Actions
  %tbody{ id: "variable_#{variable.id}_grid_container", data: { object: "grid-sortable" } }
    - range.each do |position|
      = render "sheet_variables/form/grid_variables", form: form, design: design, design_option: design_option, disabled: disabled, sheet_variable: object, position: position, variable: variable, show_values: show_values, all_grids: all_grids
= link_to I18n.t("sheets.add_row"), "#", class: "btn btn-outline-dark btn-sm", data: { object: "grid-row-add", project_id: design.project_id, design: design.to_param, design_option_id: (design_option ? design_option.id : nil), variable_id: variable.id, header: show_values ? "1" : "0", handoff: @handoff.to_param, assignment_id: @assignment.to_param }, tabindex: "-1" if variable.multiple_rows?
