- is_grid = defined?(grid)
- target_name = field_name.gsub("[", "_").gsub("]", "")
- value = variable.response_to_value(response)
- raw_value = variable.response_to_raw_value(response)
.imperial-weight-input{ data: { object: "validate", validate_url: process_variable_validate_path(@project, variable), target_name: target_name, components: "imperial_weight", status: variable.validator.status(value) } }
  = hidden_field_tag "#{field_name}", raw_value, name: nil, data: { object: "condition", calculation_id: variable.id, name: variable.name, raw_value_for: target_name }
  = render "sheet_variables/form/parts/weight_pounds", disabled: disabled, field_name: field_name, target_name: target_name, value: value
  lb
  = render "sheet_variables/form/parts/weight_ounces", disabled: disabled, field_name: field_name, target_name: target_name, value: value
  oz
= link_to I18n.t("sheets.clear"), "#", data: { object: "clear-imperial-weight-input", target_name: target_name }, class: "btn btn-light btn-sm ml-1", tabindex: "-1" unless is_grid
= render "validation/full_message", variable: variable, value: value, target_name: target_name, validate_response: validate_response unless is_grid
