<% is_grid = defined?(grid) %>

<div class="<% unless variable.units.blank? %>input-append<% end %>" style="display:inline-block" data-content="<%= variable.description_range %>"
  data-title="<%= variable.display_name %>" rel="<%= 'popover' unless variable.description_range.blank? %>">
  <%= text_field_tag field_name, response, class: "input-#{defined?(control_size) ? control_size : 'large'}", data: { object: 'minmax condition', hard_minimum: variable.hard_minimum, hard_maximum: variable.hard_maximum,
    soft_minimum: variable.soft_minimum, soft_maximum: variable.soft_maximum, name: variable.name, missing_codes: variable.missing_codes, variable_type: variable.variable_type },
    disabled: disabled, rel: 'tooltip', title: variable.display_name %>
  <% unless variable.units.blank? %><span class="add-on"><%= variable.units %></span><% end %>
</div>
