- is_grid = defined?(grid)
- show_values = true unless defined?(show_values)

- target_name = field_name.gsub('[', '_').gsub(']', '')

- domain_options = variable.domain_options_with_user(response, current_user)

%div{ data: { object: 'validate', project_id: @project.to_param, variable_id: variable.id, target_name: target_name, components: 'radio', status: variable.validator.status(response) } }
  = hidden_field_tag "#{field_name}", nil, disabled: disabled, data: { calculation_id: variable.id, name: variable.name, variable_type: variable.variable_type }
  - if variable.alignment == 'scale'
    %table.table.table-borderless
      %col{ width: '100px' }
      - (1..domain_options.count).each do
        %col{ width: "#{100 / (domain_options.count + 2)}%" }
      %tbody
        %tr
          %th{ style: 'min-width: 100px;' }
            = variable.display_name
            = render 'design_options/required', design_option: design_option if design_option
          - domain_options.each do |domain_option|
            - selected = (domain_option.value == response)
            %td.center
              %label.checkbox-radio-outline{ class: "#{variable.display_class(is_grid)} #{'selected' if selected} #{'negation' if domain_option.missing_code?}", rel: (domain_option.description.blank? ? 'tooltip' : 'popover'), data: { content: domain_option.description, title: domain_option.value_and_name(show_values: show_values), placement: 'bottom', html: 'true' } }
                = radio_button_tag field_name, "#{domain_option.value}", selected, data: { object: 'condition', calculation_id: variable.id, name: variable.name, variable_type: variable.variable_type }, disabled: disabled
  - else
    - domain_options.each do |domain_option|
      - selected = (domain_option.value == response)
      %label.checkbox-radio-outline{ class: "#{variable.display_class(is_grid)} #{'selected' if selected} #{'negation' if domain_option.missing_code?}" }
        = radio_button_tag field_name, "#{domain_option.value}", selected, data: { object: 'condition', calculation_id: variable.id, name: variable.name, variable_type: variable.variable_type, previous: (selected ? 'checked' : 'unchecked') }, disabled: disabled
        = domain_option.value_and_name(show_values: show_values)
