- is_grid = defined?(grid)
- if is_grid
  = render "sheet_variables/form/dropdown", form: form, design: design, design_option: design_option, response: response, disabled: disabled, variable: variable, field_name: field_name, position: position, grid: grid, object: object, show_values: show_values
- else
  - show_values = true unless defined?(show_values)
  - target_name = field_name.gsub("[", "_").gsub("]", "")
  - domain_options = variable.domain_options_with_user(response, current_user)
  %div{ data: { object: "validate", validate_url: process_variable_validate_path(@project, variable), target_name: target_name, components: "radio", status: variable.validator.status(response) } }
    = hidden_field_tag "#{field_name}", nil, disabled: disabled, data: { calculation_id: variable.id, name: variable.name, variable_type: variable.variable_type }
    - if variable.alignment == "scale"
      %table.table.table-borderless
        %col{ width: "100px" }
        - (1..domain_options.count).each do
          = content_tag :col, nil, width: "#{100 / (domain_options.count + 2)}%"
        %tbody
          %tr
            %th{ style: "min-width: 100px;" }
              = simple_style variable.display_name
              = render "design_options/required", design_option: design_option if design_option
            - domain_options.each do |domain_option|
              - selected = (domain_option.value == response)
              %td.text-center
                = render "sheet_variables/form/parts/radio_scale", form: form, variable: variable, field_name: field_name, target_name: target_name, selected: selected, domain_option: domain_option, show_values: show_values, is_grid: is_grid, disabled: disabled
    - else
      - domain_options.each do |domain_option|
        - selected = (domain_option.value == response)
        = render "sheet_variables/form/parts/radio", form: form, variable: variable, field_name: field_name, target_name: target_name, selected: selected, domain_option: domain_option, show_values: show_values, is_grid: is_grid, disabled: disabled
