<% is_grid = defined?(grid) %>

<div class="time-input">
  <% unless variable.prepend.blank? %><span class="add-on"><%= variable.prepend %></span><% end %>

  <%= hidden_field_tag field_name,(Time.parse(response).strftime('%H:%M:%S') rescue response),
      data: {
              object: "condition",
             },
      disabled: disabled
  %>

  <div class="<%= "input-prepend" unless variable.prepend.blank?  %> hour-box">
    <%= text_field_tag "#{field_name}[hour]", nil, maxlength: 2, disabled: disabled, data: { target_input: field_name } %>
  </div>
  <div class="time-divider">&#58;</div>
  <div class="min-box"><%= text_field_tag "#{field_name}[min]", nil, maxlength: 2, disabled: disabled, data: { target_input: field_name } %></div>
  <div class="time-divider">&#58;</div>
  <div class="sec-box"><%= text_field_tag "#{field_name}[sec]", nil, maxlength: 2, disabled: disabled, data: { target_input: field_name } %></div>

  <% unless variable.append.blank? %><span class="add-on"><%= variable.append %></span><% end %>

  <%=
      link_to 'Current Time', '#', data: { object: 'set-time-input-to-current-time', target_input: field_name }, class: 'btn', tabindex: '-1'
  %>
</div>
