- is_grid = defined?(grid)
- target_name = field_name.gsub("[", "_").gsub("]", "")
- value = variable.response_to_value(response)
- raw_value = variable.response_to_raw_value(response)
.time-of-day-input{ data: { object: "validate", validate_url: process_variable_validate_path(@project, variable), target_name: target_name, components: "time_of_day", status: variable.validator.status(value) } }
  = hidden_field_tag "#{field_name}", raw_value, name: nil, data: { object: "condition", calculation_id: variable.id, name: variable.name, raw_value_for: target_name }
  - if variable.twelve_hour_clock?
    = render "sheet_variables/form/parts/hour", disabled: disabled, field_name: field_name, target_name: target_name, value: value, placeholder: "hh"
    &#58;
    = render "sheet_variables/form/parts/min", disabled: disabled, field_name: field_name, target_name: target_name, value: value, placeholder: "mm"
    - if variable.show_seconds?
      &#58;
      = render "sheet_variables/form/parts/sec", disabled: disabled, field_name: field_name, target_name: target_name, value: value, placeholder: "ss"
    = render "sheet_variables/form/parts/period_select", disabled: disabled, field_name: field_name, target_name: target_name, value: value
  - else
    = render "sheet_variables/form/parts/hour", disabled: disabled, field_name: field_name, target_name: target_name, value: value, placeholder: "hh"
    &#58;
    = render "sheet_variables/form/parts/min", disabled: disabled, field_name: field_name, target_name: target_name, value: value, placeholder: "mm"
    - if variable.show_seconds?
      &#58;
      = render "sheet_variables/form/parts/sec", disabled: disabled, field_name: field_name, target_name: target_name, value: value, placeholder: "ss"
- if variable.twelve_hour_clock?
  - data_object = "set-time-input-to-current-time-12hour"
- else
  - data_object = "set-time-input-to-current-time"
= link_to I18n.t("sheets.current_time"), "#", data: { object: data_object, target_name: target_name }, class: "btn btn-light btn-sm ml-1", tabindex: "-1" if variable.show_current_button?
= link_to I18n.t("sheets.clear"), "#", data: { object: "clear-time-of-day-input", target_name: target_name, time_of_day_format: variable.time_of_day_format }, class: "btn btn-light btn-sm ml-1", tabindex: "-1" unless is_grid
= render "validation/full_message", variable: variable, value: value, target_name: target_name, validate_response: validate_response unless is_grid
