- is_grid = defined?(grid)
- target_name = field_name.gsub("[", "_").gsub("]", "")
- value = variable.response_to_value(response)
- raw_value = variable.response_to_raw_value(response)
.time-duration-input{ data: { object: "validate", validate_url: process_variable_validate_path(@project, variable), target_name: target_name, components: "time_duration", status: variable.validator.status(value) } }
  = hidden_field_tag "#{field_name}", raw_value, name: nil, data: { object: "condition", calculation_id: variable.id, name: variable.name, raw_value_for: target_name }
  - if ["hh:mm:ss", "hh:mm", "", nil].include?(variable.time_duration_format)
    = render "sheet_variables/form/parts/hour", disabled: disabled, field_name: field_name, target_name: target_name, value: value, placeholder: "_"
    h
  = render "sheet_variables/form/parts/min", disabled: disabled, field_name: field_name, target_name: target_name, value: value, placeholder: "_"
  m
  - if ["hh:mm:ss", "mm:ss", "", nil].include?(variable.time_duration_format)
    = render "sheet_variables/form/parts/sec", disabled: disabled, field_name: field_name, target_name: target_name, value: value, placeholder: "_"
    s
= link_to I18n.t("sheets.clear"), "#", data: { object: "clear-time-duration-input", target_name: target_name }, class: "btn btn-light btn-sm ml-1", tabindex: "-1" unless is_grid
= render "validation/full_message", variable: variable, value: value, target_name: target_name, validate_response: validate_response unless is_grid
