<% is_grid = defined?(grid) %>

<div class="time-input">

  <%= hidden_field_tag field_name,(Time.parse(response).strftime('%H:%M:%S') rescue response),
      data: {
              object: "condition",
             },
      disabled: disabled
  %>

  <div class="hour-box time-box">
    <%= text_field_tag "hour_#{field_name}", (Time.parse(response).strftime('%H') rescue response), maxlength: 2, disabled: disabled, data: { target_input: field_name }, autocomplete: 'off' %>
  </div>
  <div class="time-divider">&#58;</div>
  <div class="min-box time-box"><%= text_field_tag "min_#{field_name}", (Time.parse(response).strftime('%M') rescue response), maxlength: 2, disabled: disabled, data: { target_input: field_name }, autocomplete: 'off' %></div>
  <div class="time-divider">&#58;</div>
  <div class="sec-box time-box">
    <%= text_field_tag "sec_#{field_name}", (Time.parse(response).strftime('%S') rescue response), maxlength: 2, disabled: disabled, data: { target_input: field_name }, autocomplete: 'off' %>
  </div>

  <%= link_to 'Current Time', '#', data: { object: 'set-time-input-to-current-time', target_input: field_name }, class: 'btn btn-mini', tabindex: '-1' if variable.show_current_button? %>
  <%= link_to 'clear', '#', data: { object: 'clear-time-input', target_input: field_name }, class: 'btn btn-mini', tabindex: '-1' %>
</div>
