.jumbotron.jumbotron-custom-text
  Which event would you like to add?

.dashboard-container
  - events = current_user.all_viewable_events.where(project_id: @project.id, archived: false).joins(:designs).group(:id).having("COUNT(designs.id) > 0")

  - new_events = events.where.not(id: @subject.blinded_subject_events(current_user).select(:event_id))
  - existing_events = events.where(id: @subject.blinded_subject_events(current_user).select(:event_id))

  - if new_events.present?
    %strong New Events
    %ul
      - new_events.order(:position).each do |event|
        %li
          = link_to event.name, choose_date_project_subject_path(@project, @subject, event_id: event.to_param)

  - if existing_events.present?
    %strong Existing Events
    %ul
      - existing_events.order(:position).each do |event|
        %li
          = event.name
          %br
          - @subject.blinded_subject_events(current_user).where(event_id: event.id).order(:event_date).each do |subject_event|
            = link_to subject_event.event_date_to_s, event_project_subject_path(@project, @subject, event_id: subject_event.event, subject_event_id: subject_event.id, event_date: subject_event.event_date_to_param)
          %br
          = link_to "+ Add #{event.name}", choose_date_project_subject_path(@project, @subject, event_id: event.to_param)

  - eventless_designs = current_user.all_viewable_designs.where(project_id: @project.id).includes(:category).where(categories: { use_for_adverse_events: [false, nil] }).left_outer_joins(:event_designs).where(event_designs: { design_id: nil })
  - if eventless_designs.present?
    - eventless_designs.order("categories.position", :name).group_by(&:category).each do |category, category_designs|
      %strong
        - if category
          = category.name
        - else
          Uncategorized
      %ul
        - category_designs.each do |design|
          %li
            = link_to design.name, new_data_entry_project_subject_path(@project, @subject, design)
            - if design.publicly_available?
              or send as
              = link_to set_sheet_as_shareable_project_subject_path(@project, @subject, design_id: design.id), method: :post do
                = icon("fas", "paper-plane")
                fillable sheet
