= form_with model: [subject.project, subject], local: true do |form|
  - editable_sites = current_user.all_editable_sites.where(project_id: subject.project.id)
  - if editable_sites.count > 1
    .form-group.row
      = label_tag "site_id", "Site", class: "col-md-2 col-form-label"
      .col-md-10
        = select_tag :site_id, options_for_select([["---", nil]] + editable_sites.order_number_and_name_for_select, (params[:site_id] || (subject ? subject.site_id : nil))), class: "form-control"
        = render "layouts/errors", object: subject, key: :site_id
  - elsif editable_sites.count == 1
    = hidden_field_tag :site_id, editable_sites.first.id
  - else
    .form-group.row
      = label_tag "site_id", "Site", class: "col-md-2 col-form-label"
      .col-md-10
        .form-control-plaintext
          You need to
          = link_to "add", new_project_site_path(subject.project)
          at least one site to this project.

  = render "forms/horizontal/text_field", form: form, object: subject, key: :subject_code, key_name: "Subject ID"
  = render "forms/horizontal/submit", form: form, object: [subject.project, subject]
