%h2= @title

= form_for [@subject.project, @subject], html: { class: 'form-horizontal' } do |f|
  - if @subject.errors.any?
    .bs-callout.bs-callout-danger
      %h4
        = pluralize @subject.errors.count, 'error'
        prohibited this subject from being saved

      %ul
        - @subject.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = label_tag 'site_id', 'Site', class: 'col-md-2 control-label'
    .col-md-10
      = render 'sites/selection'

  .form-group
    = f.label :subject_code, @project.subject_code_name_full, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :subject_code, class: 'form-control', autocomplete: 'off'

  #acrostic-container.form-group{ style: "#{'display:none' unless @subject.project.acrostic_enabled?}" }
    = f.label :acrostic, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :acrostic, class: 'form-control', autocomplete: 'off'

  .form-group
    = f.label :email, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :email, class: 'form-control', autocomplete: 'off'

  .form-group
    = label_tag :status, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.select :status, Subject::STATUS, {}, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = cancel
