- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - if @project.site_or_project_editor?(current_user)
            = link_to plus_or('New Subject'), new_project_subject_path(@project), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 20, object_count: @subjects.total_count
        = render 'layouts/side_nav_header_button'
        = @title
        = render 'search/toggle'

= render 'search/simple', url: project_subjects_path(@project)
= render 'subjects/subjects'
