- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - if @project.site_or_project_editor?(current_user)
            = link_to plus_or('New Subject'), new_project_subject_path(@project), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 20, object_count: @subjects.total_count
        = render 'layouts/side_nav_header_button'
        = @title
        = render 'search/toggle'

.search-container-relative
  .search-container{ class: params[:search].present? ? 'search-container-visible' : nil }
    - url = project_subjects_path(@project)
    = form_tag url, method: :get, class: 'form-vertical', enforce_utf8: false do
      = hidden_field_tag :order, params[:order] if params[:order].present?
      = hidden_field_tag :site_id, params[:site_id] if params[:site_id].present?
      .form-group{ style: 'margin: 0;' }
        .input-group
          = text_field_tag :search, params[:search], autocomplete: 'off', class: 'form-control', placeholder: "Search #{@title}", data: { object: 'subjects-autocomplete', project_id: @project.to_param }
          %span.input-group-btn{ style: 'vertical-align: bottom;' }
            = submit_tag 'Search', class: 'btn btn-primary', name: nil
            - if params[:search].present?
              = link_to url, class: 'btn btn-default' do
                &times;

= render 'subjects/subjects'
