= form_tag choose_site_project_subjects_path(@project), method: :get, class: 'form-inline', id: 'subject-search-form' do
  %h2.underline-header
    .form-group{ style: 'margin: 0; margin-top:-12px' }
      .input-group{ style: 'width: 1px' }
        = text_field_tag :subject_code, '', autocomplete: 'off', id: 'subject-search', class: 'form-control', data: { project_slug: @project.to_param }, placeholder: 'Lookup Subject'
        %span.input-group-btn{ style: 'vertical-align: bottom;' }
          = submit_tag 'Go', class: 'btn btn-default'

      .form-group{ style: 'margin: 0;' }
        - if @project.site_or_project_editor? current_user
          = link_to 'New Subject', new_project_subject_path(@project), class: 'btn btn-primary btn-xs'
  .per-page= render 'contour/layouts/per_page', per_page: 40, object_count: @subjects.total_count

= render 'subjects/subjects'

.jumbotron
  = form_tag project_subjects_path(@project), method: :get, id: "subjects_search", class: 'form-vertical' do
    = hidden_field_tag :order, params[:order]
    .row
      .col-md-6.form-group
        = label :search, 'Search', class: 'col-md-3 control-label'
        .col-md-9
          = text_field_tag 'search', params[:search], class: 'form-control'

      - editable_sites = current_user.all_editable_sites.where(project_id: @project.id)
      - if editable_sites.count > 1
        .col-md-6.form-group
          = label :site_id, 'Site', class: 'col-md-3 control-label'
          .col-md-9
            = select_tag :site_id, options_for_select([['---', nil]] + current_user.all_viewable_sites.where( project_id: @project.id ).order('name').collect{|s| [s.name, s.id]}, params[:site_id] ), class: 'form-control'

    .row
      - event = @project.events.find_by_id(params[:event_id])
      - without_event = @project.events.find_by_id(params[:without_event_id])
      - on_event_design = @project.designs.find_by_id(params[:on_event_design_id])
      - not_on_event_design = @project.designs.find_by_id(params[:not_on_event_design_id])
      - if event && on_event_design
        .col-md-12.form-group
          %label.col-md-3.control-label With Design on Event
          .col-md-9
            = hidden_field_tag :event_id, params[:event_id]
            = hidden_field_tag :on_event_design_id, params[:on_event_design_id]
            = on_event_design.name
            on
            = event.name
      - elsif event && not_on_event_design
        .col-md-12.form-group
          %label.col-md-3.control-label Without Design on Event
          .col-md-9
            = hidden_field_tag :event_id, params[:event_id]
            = hidden_field_tag :not_on_event_design_id, params[:not_on_event_design_id]
            = not_on_event_design.name
            not on
            = event.name
      - elsif event
        .col-md-12.form-group
          %label.col-md-3.control-label With Event
          .col-md-9
            = hidden_field_tag :event_id, params[:event_id]
            = event.name
      - elsif without_event
        .col-md-12.form-group
          %label.col-md-3.control-label Without Event
          .col-md-9
            = hidden_field_tag :without_event_id, params[:without_event_id]
            = without_event.name
      - else
        .col-md-6.form-group
          = label :without_design_id, 'Without Design', class: 'col-md-3 control-label'
          .col-md-9
            = select_tag :without_design_id, options_for_select([['---', nil]] + @project.designs.order('name').collect{|d| [d.name, d.id]}, params[:without_design_id] ), class: 'form-control'

        .col-md-6.form-group
          %label.col-md-3.control-label With Design
          .col-md-9
            = select_tag :design_id, options_for_select([['---', nil]] + @project.designs.order('name').collect{|d| [d.name, d.id]}, params[:design_id] ), class: 'form-control'

    .form-group
      .col-md-10.col-md-offset-2
        = submit_tag 'Search', class: 'btn btn-primary', name: nil
        = link_to 'Reset', project_subjects_path(@project), class: 'btn btn-default'
        = link_to 'Subject Report', subject_report_reports_project_path(@project), class: 'btn btn-default'
