%tr{ class: "#{'highlight' if @sheet == sheet}" }
  - if sheet.auto_locked?
    %td
      %span.glyphicon.glyphicon-lock.text-muted{ rel: 'tooltip', data: { title: 'Sheet Locked', object: 'sheet-draggable', sheet_id: sheet.id, sheet_name: sheet.name, subject_event_id: sheet.subject_event_id }, style: 'cursor:pointer' }
  - elsif @subject.editable_by?(current_user)
    %td
      %span.glyphicon.glyphicon-move{ style: 'cursor:pointer', data: { object: 'sheet-draggable', sheet_id: sheet.id, sheet_name: sheet.name, subject_event_id: sheet.subject_event_id } }
  %td
    = coverage_helper(sheet)
  %td
    = link_to sheet.name, [@project, sheet]
    - if sheet.subject_event
      %br
      .text-muted
        = sheet.subject_event.event.name
    - if sheet.auto_locked? && @sheet == sheet
      %br
      .text-warning The sheet must be unlocked before being moved to another event.
  - if sheet.subject_event
    %td
      = sheet.subject_event.event_date_to_s
  %td{ style: 'text-align:right' }
    - if sheet.comments.count > 0
      = link_to [@project, sheet], class: 'btn btn-xs btn-primary' do
        = sheet.comments.count
        %span.glyphicon.glyphicon-comment
