- if @subject.editable_by?(current_user)
  .row
    .col-md-4.col-buffer
      - if @project.events.where(archived: false).count > 0
        = link_to choose_event_project_subject_path(@project, @subject), class: "btn btn-lg btn-accent btn-shadow btn-block" do
          = icon("fas", "plus")
          New Event
      - else
        = link_to data_entry_project_subject_path(@project, @subject), class: "btn btn-lg btn-accent btn-shadow btn-block" do
          = icon("fas", "plus")
          New Sheet

    .col-md-4.col-buffer
      - if @project.randomizations_enabled? && @project.unblinded?(current_user)
        - scheme_count = @project.randomization_schemes.published.count
        - if @subject.randomizations_count.zero? && scheme_count == 1
          - @project.randomization_schemes.published.where.not(id: @subject.randomizations.select(:randomization_scheme_id)).each do |scheme|
            = link_to randomize_subject_to_list_project_randomization_scheme_path(@project, scheme, subject_code: @subject.subject_code), class: "btn btn-lg btn-accent btn-shadow btn-block" do
              = icon("fas", "random")
              Randomize

    .col-md-4.col-buffer
      - if @project.adverse_events_enabled? && @project.unblinded?(current_user)
        = link_to new_project_adverse_event_path(@project, subject_code: @subject.subject_code), class: "btn btn-lg btn-accent btn-shadow btn-block" do
          = icon("fas", "exclamation-triangle")
          Report
          %span.d-inline.d-xl-none AE
          %span.d-none.d-xl-inline Adverse Event

- if @project.events.where(archived: false).count > 0 && @subject.blinded_subject_events(current_user).count == 0
  .jumbotron.jumbotron-custom-text
    No events have been added for this subject.
- elsif @subject.blinded_subject_events(current_user).count == 0 && @subject.blinded_sheets(current_user).count == 0
  .jumbotron.jumbotron-custom-text
    No data have been entered for this subject.
- else
  - uncategorized_sheets = @subject.blinded_sheets(current_user).where(subject_event_id: nil, adverse_event_id: nil).includes(:design).order("designs.name, sheets.created_at")
  - categorized_sheets = @subject.blinded_sheets(current_user).where.not(subject_event_id: nil).includes(:design).order("designs.name, sheets.created_at")
  = render "subjects/uncategorized_sheets", uncategorized_sheets: uncategorized_sheets, categorized_sheets: categorized_sheets
  = render "subjects/events_and_aes"
