- events_highlighted = current_page?(events_project_subject_path(@project, @subject))
- new_event_highlighted = (%w(choose_event choose_date).include?(params[:action]) || (!@subject_event && !@sheet && params[:action] == 'show' && @subject.subject_events.count == 0))
- sheets_highlighted = current_page?(sheets_project_subject_path(@project, @subject)) || (@sheet && !@sheet.new_record? && !@sheet.subject_event && !@sheet.adverse_event)
- new_sheet_highlighted = (params[:action] == 'data_entry' || (@sheet && @sheet.new_record? && !@sheet.subject_event && !@sheet.adverse_event))

- content_for :side_nav do
  - @side_nav = true
  #side-nav.side-nav-drawer
    .side-nav-wrapper
      %ul.side-nav-navigation
        %li.side-nav-section
          .side-nav-section-header
            = link_to @project.short_name, @project

      %ul.side-nav-navigation
        %li.side-nav-section
          .side-nav-section-header
            = link_to @subject.name, [@project, @subject]
          %ul.side-nav-section-links.active
            %li= link_to 'Overview', [@project, @subject], class: current_page?([@project, @subject]) ? 'active' : ''
        - if @project.events.where(archived: false).count > 0
          %li.side-nav-section
            .side-nav-section-header
              = link_to 'Events', events_project_subject_path(@project, @subject), class: "#{'active' if events_highlighted}"

            %ul.side-nav-section-links.active
              - @subject.blinded_subject_events(current_user).each do |subject_event|
                %li{ data: { object: 'event-droppable', project_id: @project.to_param, subject_event_id: subject_event.id } }
                  - event_highlighted = ((params[:action] == 'event' && subject_event == @subject_event) || (params[:action].in?(['new_data_entry', 'show', 'edit']) && @sheet && @sheet.subject_event == subject_event))
                  = link_to event_project_subject_path(@project, @subject, event_id: subject_event.event, subject_event_id: subject_event.id, event_date: subject_event.event_date_to_param), class: "#{'active' if event_highlighted}" do
                    - sheets_started = sheets_completed = current_user.sheets_on_subject_event(subject_event).pluck(:design_id).uniq.count
                    - designs_count = current_user.designs_on_subject_event(subject_event).count

                    - if sheets_completed == designs_count
                      %span.text-success
                        %span.glyphicon.glyphicon-ok
                    - elsif sheets_started == 0
                      %span.text-muted
                        %span.glyphicon.glyphicon-tasks
                    - else
                      %span.text-highlight
                        %span.glyphicon.glyphicon-tasks
                    = subject_event.event.name
        - else
          %li.side-nav-section
            .side-nav-section-header
              = link_to 'Sheets', sheets_project_subject_path(@project, @subject), class: "#{'active' if sheets_highlighted}"
            %ul.side-nav-section-links.active
              - @subject.blinded_sheets(current_user).includes(:design).limit(5).order('designs.name').each do |sheet|
                %li= link_to sheet.name, [@project, sheet], class: "#{'active' if @sheet == sheet}"

        - if @project.randomizations_enabled? && @project.unblinded?(current_user) && @subject.randomizations.count > 0
          %li.side-nav-section
            .side-nav-section-header
              = link_to 'Randomization', [@project, @subject.randomizations.first]
            %ul.side-nav-section-links.active
              - @subject.randomizations.each do |randomization|
                %li= link_to "Randomization ##{randomization.name}", [@project, randomization], class: "#{'active' if @randomization == randomization}"
              - scheme_count = @project.randomization_schemes.published.count
        - if @project.adverse_events_enabled? && @project.unblinded?(current_user)
          %li.side-nav-section
            .side-nav-section-header
              = link_to 'Adverse Events', adverse_events_project_subject_path(@project, @subject)
            %ul.side-nav-section-links.active
              - if @subject.adverse_events.count == 0
                %li= link_to 'None', adverse_events_project_subject_path(@project, @subject), class: "#{'active' if current_page?(adverse_events_project_subject_path(@project, @subject))}"
              - else
                - @subject.adverse_events.order(:id).each do |adverse_event|
                  %li= link_to adverse_event.name, [@project, adverse_event], class: "#{'active' if (%w(adverse_events adverse_event_files adverse_event_forms).include?(params[:controller]) && @adverse_event && @adverse_event == adverse_event) || (@sheet && @sheet.adverse_event == adverse_event)}"

        %li.side-nav-section
          .side-nav-section-header
            = link_to 'Extra', timeline_project_subject_path(@project, @subject)
          %ul.side-nav-section-links.active
            %li= link_to 'Timeline', timeline_project_subject_path(@project, @subject), class: "#{'active' if params[:action] == 'timeline'}"
            - if @subject.blinded_comments(current_user).count > 0 || params[:action] == 'comments'
              %li
                = link_to comments_project_subject_path(@project, @subject), class: "#{'active' if params[:action] == 'comments'}" do
                  Comments
                  %span.badge= @subject.blinded_comments(current_user).count
            - if @subject.uploaded_files(current_user).count > 0 || params[:action] == 'files'
              %li
                = link_to files_project_subject_path(@project, @subject), class: "#{'active' if params[:action] == 'files'}" do
                  Files
                  %span.badge= @subject.uploaded_files(current_user).count
