<%= render partial: 'layouts/per_page', locals: { type: 'subjects', per_page: 20, object_count: @subjects.total_count } %>

<table class="table table-striped"><col width="30px"/>
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'subjects.status', '', 'subjects_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'subjects.subject_code', 'Subject Code', 'subjects_search') %></th>

      <% if (@project and @project.acrostic_enabled?) or not @project %>
        <th style="white-space:nowrap"><%== sort_field_helper(@order, 'subjects.acrostic', 'Acrostic', 'subjects_search') %></th>
      <% end %>

      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'subjects.site_id', 'Site', 'subjects_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @subjects.each do |subject| %>
    <tr id="subject_<%= subject.id %>">
      <td>
        <%= status_helper(subject) %>
      </td>
      <td><%= link_to subject.subject_code, [subject.project, subject] %></td>
      <% if (@project and @project.acrostic_enabled?) or not @project %>
      <td><%= subject.acrostic %></td>
      <% end %>
      <td><%= link_to subject.site.name, [subject.site.project, subject.site] if subject.site %></td>
      <td>
        <% if current_user.all_subjects.pluck(:id).include?(subject.id) %>
          <%= link_to 'Edit', edit_project_subject_path(subject.project, subject), class: 'btn btn-default btn-xs' %>
          <%= link_to 'Delete', [subject.project, subject], method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Subject #{subject.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @subjects, theme: "contour" %></div>
