%table.table.table-striped
  %col{ width: "30px" }
  %thead
    %tr
      = th_sort_field @order, 'subjects.status', ''
      = th_sort_field @order, 'subjects.subject_code', @project.subject_code_name_full
      - if @project.acrostic_enabled?
        = th_sort_field @order, 'subjects.acrostic', 'Acrostic'
      = th_sort_field @order, 'subjects.site_id', 'Site'
      - @events.each do |event|
        %th
          - if event.id.to_i == params[:event_id].to_i
            = link_to event.name, project_subjects_path(without_event_id: event.id)
          - else
            = link_to event.name, project_subjects_path(event_id: event.id)
          - if event.id.in?([params[:event_id].to_i, params[:without_event_id].to_i])
            = link_to project_subjects_path, class: 'text-danger', rel: 'tooltip', data: { title: 'Remove Filter', container: 'body', placement: 'right' } do
              %span.glyphicon.glyphicon-filter

      %th Actions

  - @subjects.each do |subject|
    %tr{ id: "subject_#{subject.id}" }
      %td= status_helper(subject)
      %td= link_to subject.subject_code, [@project, subject]
      - if @project.acrostic_enabled?
        %td= subject.acrostic
      %td= link_to subject.site.name, [@project, subject.site]
      - @events.each do |event|
        %td.center.nowrap
          - subject_event_ids = subject.subject_events.where(event_id: event.id).pluck(:id)
          - if subject_event_ids.blank?
            = link_to '+', choose_date_project_subject_path(@project, subject, event_id: event.to_param), class: 'btn btn-xs btn-success-inverse'
          - else
            = @project.sheets.where(subject_event_id: subject_event_ids).pluck(:design_id).uniq.count
            \/
            = event.designs.count
      %td.nowrap
        - if current_user.all_subjects.pluck(:id).include?(subject.id)
          = link_to 'Edit', edit_project_subject_path(@project, subject), class: 'btn btn-default btn-xs'
          = link_to 'Delete', [@project, subject], method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Subject #{subject.name}?" }

.center
  = paginate @subjects, theme: 'contour'
