<%= render partial: 'layouts/per_page', locals: { type: 'subjects', per_page: 20, object_count: @subject_count } %>

<table class="table table-striped table-bordered" style="width:100%"><col width="30px"/>
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'subjects.validated', '', 'subjects_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'subjects.subject_code', 'Subject Code', 'subjects_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'subjects.project_id', 'Project', 'subjects_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'subjects.site_id', 'Site', 'subjects_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'subjects.user_id', 'Creator', 'subjects_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @subjects.each do |subject| %>
    <tr>
      <td><%= simple_check subject.validated? %></td>
      <td><%= link_to subject.subject_code, subject %></td>
      <td><%= link_to subject.project.name, subject.project if subject.project %></td>
      <td><%= link_to subject.site.name, subject.site if subject.site %></td>
      <td><%= link_to subject.user.name, subject.user if subject.user %></td>
      <td>
        <%= link_to 'Edit', edit_subject_path(subject), class: 'btn btn-mini' %>
        <%= link_to 'Delete', subject, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Subject #{subject.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @subjects %></center>
