- @title = "Adverse Events"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")

- content_for :header do
  - if @subject.editable_by?(current_user)
    .float-right
      = link_to plus_or("Report Adverse Event"), new_ae_module_adverse_event_path(@project, subject_code: @subject.subject_code), class: "btn btn-accent btn-shadow"
  = link_to @subject.name, [@project, @subject]
  = @title

- if @subject.ae_adverse_events.present?
  .dashboard-container
    %ul
      - @subject.ae_adverse_events.each do |adverse_event|
        %li{ style: "line-height:30px" }
          = link_to adverse_event.name, ae_module_adverse_event_path(@project, adverse_event)
          - if adverse_event.closed?
            %span.badge.badge-light Closed
          - else
            %span.badge.badge-success Open
          %br
          = adverse_event.description
- else
  .jumbotron.jumbotron-custom-text
    No adverse events reported for this subject.
