- editable_sites = current_user.all_editable_sites.where(project_id: @project.id)

- if editable_sites.count == 1
  - @title = "Subject Not Found"
- else
  - @title = "Choose Site"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

- if editable_sites.count > 1
  .dashboard-container
    %h3
      Select site for
      %strong= params[:subject_code]
    .my-3
      - editable_sites.order_number_and_name.in_groups_of(3, false).each do |sites_row|
        - sites_row.each do |site|
          = link_to site.number_and_name, project_subjects_path(@project, subject: { subject_code: params[:subject_code] }, site_id: site.id), method: :post, class: "btn btn-primary"

    %div= link_to "Cancel", @project, class: "btn btn-light"

- elsif editable_sites.count == 1
  .dashboard-container
    %h3
      Add
      %strong= params[:subject_code]
      as a new subject?

    .my-3
      = link_to project_subjects_path(@project, subject: { subject_code: params[:subject_code] }, site_id: editable_sites.first.id), method: :post, class: "btn btn-primary" do
        Create subject
        %strong= params[:subject_code]

    %div= link_to "Cancel", @project, class: "btn btn-light"

- else
  .dashboard-container
    %h3
      No sites on project
    .mt-3
      You will need to
      = link_to "add a site", new_project_site_path(@project)
      before creating subjects.
