- @title = "Choose Date - #{@event.name}"
- @menu_title = "#{@project.name} #{@subject.name} #{@event.name}"

= render 'subjects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = link_to @subject.name, [@project, @subject]
        = @event.name

= render 'subject_events/form', subject_event: @subject_event, event: @event
