- @page = 'New Event'
- @title = "#{@page} - #{@subject.name}"
- @menu_title = "#{@subject.name} #{@page}"

= render 'subjects/side_nav'

= render 'subjects/simple_header'

= render 'subjects/choose_event'
