%h1 Available Project Events for Subject

%p.lead
  Wow, all these events to choose from!

.row
  .col-md-6
    %h2 Scheduled Events

    %ul.list-unstyled
      %li.little-container
        = link_to 'Pre-Screening', put_a_subject_on_an_event_project_subject_path(@project, @subject, event_slug: 'pre-screening')
        %ul.text-muted
          %li Pre-Screening Demographics Form
          %li Pre-Screening Intake Questionnaire
      %li.little-container
        = link_to 'Randomization', put_a_subject_on_an_event_project_subject_path(@project, @subject, event_slug: 'Randomization')
        %ul.text-muted
          %li Informed Consent
      %li.little-container
        = link_to 'Baseline', put_a_subject_on_an_event_project_subject_path(@project, @subject, event_slug: 'baseline')
        %ul.text-muted
          %li Blood-Pressure Form
          %li Vitals
      %li.little-container
        = link_to '6-Month', put_a_subject_on_an_event_project_subject_path(@project, @subject, event_slug: '6-month')
        %ul.text-muted
          %li Blood-Pressure Form
          %li Vitals
      %li.little-container
        = link_to 'Final Visit', put_a_subject_on_an_event_project_subject_path(@project, @subject, event_slug: 'final-visit')
        %ul.text-muted
          %li Blood-Pressure Form
          %li Vitals
          %li Visit CloseOut

  .col-md-6
    %h2 Unscheduled Events
    %ul.list-unstyled
      %li.little-container
        = link_to 'Adverse Event', put_a_subject_on_an_event_project_subject_path(@project, @subject, event_slug: 'adverse-event')
        %ul.text-muted
          %li AE Form
      %li.little-container
        = link_to 'Phone-Call', put_a_subject_on_an_event_project_subject_path(@project, @subject, event_slug: 'phone-call')
        %ul.text-muted
          %li Phone-Call
      %li.little-container
        = link_to 'Study Termintated', put_a_subject_on_an_event_project_subject_path(@project, @subject, event_slug: 'study-terminated')
        %ul.text-muted
          %li Participant Left Study Form

%div
  = link_to 'BACK TO SUBJECT', [@project, @subject]
