- @title = 'Comments'
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

= render 'subjects/side_nav'
= render 'subjects/simple_header'

- @comments.each_with_index do |comment, index|
  - current_page = (params[:page].to_i > 1 ? params[:page].to_i : 1)
  - current_index = @comments.count - index
  %a.anchor-top{ name: "c#{current_index}" }
  - unless comment.deleted?
    %div{ id: "comment_#{comment.id}" }
      = render 'comments/show', comment: comment, include_name: '1', number: current_index
