- @title = "Comments"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    %li.breadcrumb-muted comments

- @comments.each_with_index do |comment, index|
  - current_page = (params[:page].to_i > 1 ? params[:page].to_i : 1)
  - current_index = @comments.count - index
  - unless comment.deleted?
    %div{ id: "comment_#{comment.id}" }
      = render "comments/show", comment: comment, include_name: "1", number: current_index
