- @title = "#{@subject_event.name} Edit"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

= render 'subjects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = link_to @subject.name, [@project, @subject]
        = link_to @subject_event.name, event_project_subject_path(@project, @subject, event_id: @subject_event.event, subject_event_id: @subject_event.id, event_date: @subject_event.event_date_to_param)
        Edit

= render 'subject_events/form', subject_event: @subject_event, event: @subject_event.event
