- @title = "#{@subject_event.name} Edit"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")

- content_for :header, @subject_event.name
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    %li= link_to (@subject_event.event.slug.presence || @subject_event.event.name).to_s.downcase, event_project_subject_path(@project, @subject, event_id: @subject_event.event, subject_event_id: @subject_event.id, event_date: @subject_event.event_date_to_param)
    %li.breadcrumb-muted edit

= render "subject_events/form", subject_event: @subject_event, event: @subject_event.event
