- @title = 'Edit'
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

= render 'subjects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = link_to @subject.name, [@project, @subject]
        = @title

.dashboard-container= render 'form'
