- @title = "Edit"
- @menu_title = "#{@project.name} #{@subject.subject_code_was} #{@title}"

- content_for :sidebar, render("subjects/sidebar")

- content_for :header, @subject.subject_code_was
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code_was.downcase, [@project, @subject]
    %li.breadcrumb-muted edit

.dashboard-container= render "form", subject: @subject
