= render 'subjects/beta/header'

.row
  .col-sm-2
    = render partial: 'subjects/beta/event_navigation'

  .col-sm-10
    %h2.subject-header
      = @subject_event.event.name

    = link_to 'Edit Event', edit_event_project_subject_path(@project, @subject, event_id: @subject_event.event.id, subject_event_id: @subject_event.id, event_date: @subject_event.event_date_to_param), class: 'btn btn-default btn-xs', style: 'margin-bottom: 20px'
    = render @subject_event
