- @title = "Files"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code, [@project, @subject]
    %li.breadcrumb-muted files

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %tfoot
      %tr
        %th Total Files
        %th
        %th= @uploaded_files.size
    %thead
      %tr
        %th Sheet
        %th Variable
        %th File
    %tbody
      - @uploaded_files.each do |object|
        %tr
          %td= link_to object.sheet.name, [@project, object.sheet]
          %td= object.variable.display_name
          %td= @sheet = object.sheet; render "sheet_variables/show/file", variable: object.variable, object: object
