- @page = 'Files'
- @title = "#{@page} - #{@subject.name}"
- @menu_title = "#{@subject.name} #{@page}"

= render 'subjects/side_nav'

= render 'subjects/simple_header'

.dashboard-container
  %table.table.table-borderless.table-striped
    %thead
      %tr
        %th Sheet
        %th Variable
        %th File
    %tfoot
      %tr
        %th Total Files
        %th
        %th=@uploaded_files.total_count
    %tbody
      - @uploaded_files.each do |sv|
        %tr
          %td= link_to sv.sheet.name, [@project, sv.sheet]
          %td= sv.variable.display_name
          %td= @sheet = sv.sheet; render 'sheet_variables/show/file', variable: sv.variable, object: sv

  .center
    = paginate @uploaded_files, theme: 'bootstrap'
