<% @title = 'Subjects' %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= @title %>
    <%= link_to "Create Subject", new_project_subject_path(@project), class: 'btn btn-xs btn-primary' if current_user.all_viewable_projects.pluck(:id).include?(@project.id) %>
    <%= link_to "Subject Report", subject_report_project_path(@project), class: 'btn btn-default btn-xs' %>
  </h1>
</div>

<%= form_tag project_subjects_path(@project), method: :get, remote: true, id: "subjects_search", class: 'form-vertical', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>
  <div class="row">
    <div class="col-md-4 form-group">
      <%= label :search, 'Search', class: 'col-md-2 control-label' %>
      <div class="col-md-10">
        <%= text_field_tag 'search', params[:search], class: 'form-control', data: { object: 'filter' } %>
      </div>
    </div>

    <div class="col-md-4 form-group">
      <label class="col-md-2 control-label">Subjects</label>
      <div class="col-md-10">
        <%= render partial: 'layouts/checkbox_button_group', locals: { name: 'statuses', options: Subject::STATUS, selected: @statuses, target: '#subjects_search' } %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 form-group" id="select_site">
      <%= hidden_field_tag :site_id, params[:site_id] %>
      <%#= render partial: 'subjects/select_site' %>
    </div>

    <div class="col-md-4 form-group" id="select_design">
      <%= hidden_field_tag :design_id, params[:design_id] %>
      <%#= render partial: 'subjects/select_design' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
      <%= link_to 'Reset', '#', class: 'btn btn-default', data: { target: '#subjects_search', object: 'reset-filters' } %>
    </div>
  </div>
<% end %>

<div id="subjects"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
