<% @title = 'Subjects' %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Create Subject", new_subject_path, class: 'btn btn-mini btn-primary' %>
  </h1>
</div>

<%= form_tag subjects_path, method: :get, remote: true, id: "subjects_search", class: 'form-search' do %>
  <%= hidden_field_tag :order %>
  <div class="row">
    <div class="span4 control-group">
      <%= label :search, 'Search', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'search', params[:search], class: 'search-query', data: { object: 'filter' } %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :project_id, 'Project', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :project_id, options_for_select([['---', nil]] + current_user.all_viewable_projects.order('name').collect{|p| [p.name, p.id]}, params[:project_id] ), data: { object: 'filter' } %>
      </div>
    </div>

    <div class="span4 control-group" id="select_site">
      <%#= render partial: 'subjects/select_site' %>
    </div>
  </div>

  <div class="row">
    <div class="span4 control-group" id="select_design">
      <%#= render partial: 'subjects/select_design' %>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>
    <%= link_to 'Reset', '#', class: 'btn', data: { target: '#subjects_search', object: 'reset-filters' } %>
  </div>
<% end %>

<div id="subjects"><center><%= image_tag "contour/ajax-loader.gif" %></center></div>

<%= javascript_tag do %>
  $(function(){
    $.get($("#subjects_search").attr("action"), $("#subjects_search").serialize(), null, "script");
  });
<% end %>
