- @title = "Medication Stopped - Medication #{params[:number]} - Review Medications"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")

- content_for :header do
  = @title

- content_for :breadcrumbs do
  %ol
    %li= link_to @subject.subject_code, [@project, @subject]
    %li= link_to "medications", medications_project_subject_path(@project, @subject)
    %li.breadcrumb-muted review
    %li.breadcrumb-muted
      medication
      = params[:number]

.jumbotron.jumbotron-custom-text
  Update Medication Details

.dashboard-container
  - @medication = Medication2.new
  = form_with do |form|
    = render "forms/horizontal/text_field", form: form, object: @medication, key: :name
    = render "forms/horizontal/text_field", form: form, object: @medication, key: :indication
    = render "forms/horizontal/text_field", form: form, object: @medication, key: :dose
    = render "forms/horizontal/text_field", form: form, object: @medication, key: :units
    = render "forms/horizontal/text_field", form: form, object: @medication, key: :frequency

= link_to plus_or("CONTINUE REVIEW"), review_medication_when_did_change_occur_project_subject_path(@project, @subject, number: params[:number].to_i), class: "btn btn-accent btn-shadow"
