- @title = "Send URL"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @title

- designs = current_user.all_viewable_designs.where(project_id: @project.id).where(publicly_available: true).includes(:category).where(categories: { use_for_adverse_events: [false, nil] })

- if designs.present?
  .dashboard-container
    %h3 Select design to generate a fillable link.

    .mt-3
      - category_count = designs.pluck(:category_id).uniq.count
      - designs.order("categories.position", :name).group_by(&:category).each do |category, designs|
        - if category_count > 1
          %h3
            - if category
              = category.name
            - else
              Uncategorized
        %ul
          - designs.each do |design|
            %li= link_to design.name, set_sheet_as_shareable_project_subject_path(@project, @subject, design_id: design.id), method: :post
- else
  .jumbotron.jumbotron-custom-text
    No publicly available designs currently exist on the project.
