- @page = 'Settings'
- @title = "#{@page} - #{@subject.name}"
- @menu_title = "#{@subject.name} #{@page}"

= render 'subjects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      - if @subject.editable_by?(current_user)
        .dropdown.pull-right
          = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
            Actions
            %strong.caret

          %ul.dropdown-menu.dropdown-menu-right
            %li
              = link_to edit_project_subject_path(@subject.project, @subject) do
                %span.glyphicon.glyphicon-edit
                Edit
            %li.divider{ role: 'separator' }
            %li
              = link_to [@subject.project, @subject], method: :delete, data: { confirm: "Are you sure you want to delete Subject #{@subject.name}?" } do
                .text-danger
                  %span.glyphicon.glyphicon-trash
                  Delete
      %h1.page-heading
        = link_to @subject.subject_code, [@project, @subject]
        = @page

.dashboard-container
  %table.table.table-borderless.table-striped
    %col.hidden-xs{ width: '30%' }
    %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }
    - viewable_sites = current_user.all_viewable_sites.where(project_id: @project.id)
    - if viewable_sites.count > 1
      %tr
        %th Site
        %td= link_to @subject.site.name, [@subject.site.project, @subject.site] if @subject.site

    %tr
      %th=@project.subject_code_name_full
      %td=@subject.subject_code

.row
  - if @project.events.where(archived: false).count > 0
    .col-sm-6.col-md-offset-1.col-md-4
      .jumbotron.center
        %h4.text-muted Number of Events
        .report-number= link_to number_to_human(@subject.blinded_subject_events(current_user).count), events_project_subject_path(@project, @subject), class: 'link-no-underline'
  - else
    .col-sm-3.col-md-2
  .col-sm-6.col-md-offset-2.col-md-4
    .jumbotron.center
      %h4.text-muted Number of Sheets
      .report-number= link_to number_to_human(@subject.blinded_sheets(current_user).count), sheets_project_subject_path(@project, @subject), class: 'link-no-underline'
  - if false
    .col-md-4
      .jumbotron.center
        %h4.text-muted Number of Data Points
        .report-number= 0
