<% @title = @subject.name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to 'Subjects', project_subjects_path(@project) %> &middot; <%= @title %> <%= status_helper(@subject, true) %>
  </h1>
  <% if current_user.all_subjects.pluck(:id).include?(@subject.id) %>
    <%= link_to "Edit Subject", edit_project_subject_path(@subject.project, @subject), class: 'btn btn-default btn-xs' %>
    <%= link_to "Delete Subject", [@subject.project, @subject], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Subject #{@subject.name}?" } %>
  <% end %>
  <%= link_to "Subject Report", subject_report_project_path(@project), class: 'btn btn-default btn-xs' %>
</div>

<% if @project.schedules.size > 0 %>
  <div class="modal" id="schedule_modal">
    <div class="modal-dialog modal-wide-width">
      <div class="modal-content" id="schedule_modal_content">
      </div>
    </div>
  </div>

  <div class="page-header">
    <h1>
      Schedules
      <%= link_to 'Add Schedule', new_project_subject_subject_schedule_path(@project, @subject), remote: true, method: :get, class: 'btn btn-xs btn-default' %>
    </h1>
  </div>

  <div id="subject-schedules">
    <%= render partial: 'subject_schedules/subject_schedules' %>
  </div>
<% end %>

<dl class="dl-horizontal">
  <dt>Site</dt>
  <dd><%= link_to @subject.site.name, [@subject.site.project, @subject.site] if @subject.site %></dd>

  <% if @subject.project.acrostic_enabled? %>
    <dt>Acrostic</dt>
    <dd><%= @subject.acrostic %></dd>
  <% end %>

  <dt>Email</dt>
  <dd><%= @subject.email %></dd>

  <dt>Sheets</dt>
  <dd>
    <ul>
      <% @subject.sheets.order('created_at DESC').each do |sheet| %>
        <li><%= link_to sheet.name, [sheet.project, sheet] %> - entered <%= simple_time sheet.created_at %> <% if sheet.double_data_entry? %><span class="label label-warning">Double Data Entry</span><% end %></li>
      <% end %>
    </ul>
  </dd>
</dl>

<div class="page-header">
  <h1>Sheets Entered</h1>
</div>
<% @subjects = Subject.current.where(id: @subject.id).page(0).per(-1) %>
<% @designs = @project.designs.order('name') %>
<%= render partial: 'projects/subject_report', locals: { no_header: '1' } %>


<% sheet_variables = @subject.sheets.collect{|s| s.sheet_variables.with_variable_type('file')}.flatten[0..100] %>
<% if sheet_variables.size > 0 %>
<h2>Files</h2>
<form class="form-horizontal">
<% sheet_variables.each do |sheet_variable| %>
  <%= @sheet = sheet_variable.sheet; @variable = sheet_variable.variable; render partial: 'sheet_variables/show' %>
<% end %>
</form>
<% end %>
