- @title = @subject.name
- @menu_title = "#{@project.name} #{@title}"

= render 'subjects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      - if @subject.editable_by?(current_user)
        .dropdown.pull-right
          = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
            Actions
            %strong.caret

          %ul.dropdown-menu.dropdown-menu-right
            - if @project.randomizations_enabled? && @project.unblinded?(current_user)
              - scheme_count = @project.randomization_schemes.published.count
              - @project.randomization_schemes.published.where.not(id: @subject.randomizations.select(:randomization_scheme_id)).each do |scheme|
                %li
                  = link_to randomize_subject_to_list_project_randomization_scheme_path(@project, scheme, subject_code: @subject.subject_code) do
                    %span.glyphicon.glyphicon-random
                    Randomize
                    - if scheme_count > 1
                      to
                      = scheme.name

            - if @project.events.where(archived: false).count > 0
              %li
                = link_to choose_event_project_subject_path(@project, @subject) do
                  %span.glyphicon.glyphicon-plus
                  New Event
            %li
              = link_to data_entry_project_subject_path(@project, @subject) do
                %span.glyphicon.glyphicon-plus
                New Sheet
            %li
              = link_to edit_project_subject_path(@subject.project, @subject) do
                %span.glyphicon.glyphicon-edit
                Edit Subject
            %li.divider{ role: 'separator' }
            %li
              = link_to [@subject.project, @subject], method: :delete, data: { confirm: 'Delete subject?' } do
                .text-danger
                  %span.glyphicon.glyphicon-trash
                  Delete Subject

      %h1.page-heading
        = render 'layouts/side_nav_header_button'
        = @title

.row
  .col-sm-4.col-buffer
    - if @project.events.where(archived: false).count > 0
      = link_to choose_event_project_subject_path(@project, @subject), class: 'btn btn-lg btn-accent btn-shadow btn-block' do
        %span.glyphicon.glyphicon-plus
        New Event
    - else
      = link_to data_entry_project_subject_path(@project, @subject), class: 'btn btn-lg btn-accent btn-shadow btn-block' do
        %span.glyphicon.glyphicon-plus
        New Sheet

  .col-sm-4.col-buffer
    - if @project.randomizations_enabled? && @project.unblinded?(current_user)
      - scheme_count = @project.randomization_schemes.published.count
      - if @subject.randomizations.count == 0 && scheme_count == 1
        - @project.randomization_schemes.published.where.not(id: @subject.randomizations.select(:randomization_scheme_id)).each do |scheme|
          = link_to randomize_subject_to_list_project_randomization_scheme_path(@project, scheme, subject_code: @subject.subject_code), class: 'btn btn-lg btn-accent btn-shadow btn-block' do
            %span.glyphicon.glyphicon-random
            Randomize

  .col-sm-4.col-buffer
    - if @project.adverse_events_enabled? && @project.unblinded?(current_user)
      = link_to new_project_adverse_event_path(@project, subject_code: @subject.subject_code), class: 'btn btn-lg btn-accent btn-shadow btn-block' do
        %span.glyphicon.glyphicon-warning-sign
        Report
        %span.hidden-xs.hidden-sm Adverse Event
        %span.hidden-md.hidden-lg AE

- if @project.events.where(archived: false).count > 0
  - if @subject.subject_events.count == 0
    = render 'subjects/choose_event'
  - else
    - uncategorized_sheets = @subject.blinded_sheets(current_user).where(subject_event_id: nil).includes(:design).order('designs.name')
    - categorized_sheets = @subject.blinded_sheets(current_user).where.not(subject_event_id: nil).includes(:design).order('designs.name')
    = render 'subjects/uncategorized_sheets', uncategorized_sheets: uncategorized_sheets, categorized_sheets: categorized_sheets
    = render 'subjects/events'
- else
  - if @subject.sheets.count == 0
    = render 'subjects/data_entry'
  - else
    = render 'subjects/sheets'

.dashboard-container{ style: 'margin-top: 60px' }
  %table.table.table-borderless.table-striped
    %col.hidden-xs{ width: '30%' }
    %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }
    - viewable_sites = current_user.all_viewable_sites.where(project_id: @project.id)
    - if viewable_sites.count > 1
      %tr
        %th Site
        %td= link_to @subject.site.name, [@subject.site.project, @subject.site] if @subject.site

    %tr
      %th=@project.subject_code_name_full
      %td=@subject.subject_code
