- @title = @subject.name

= render 'subjects/header'

.row
  .col-sm-2
    = render 'subjects/event_navigation'

  .col-sm-10
    - if @project.events.where(archived: false).count > 0
      - if @subject.subject_events.count == 0
        = render 'subjects/choose_event'
      - else
        = render 'subjects/events'
    - else
      - if @subject.sheets.count == 0
        = render 'subjects/data_entry'
      - else
        = render 'subjects/sheets'
