- @title = @subject.name

= render 'subjects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      - if @subject.editable_by?(current_user)
        .dropdown.pull-right
          = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
            Actions
            %strong.caret

          %ul.dropdown-menu.dropdown-menu-right
            - if @project.events.where(archived: false).count > 0
              %li
                = link_to choose_event_project_subject_path(@project, @subject) do
                  %span.glyphicon.glyphicon-plus
                  New Event
            %li
              = link_to data_entry_project_subject_path(@project, @subject) do
                %span.glyphicon.glyphicon-plus
                Data Entry
            %li
              = link_to edit_project_subject_path(@subject.project, @subject) do
                %span.glyphicon.glyphicon-edit
                Edit
            %li.divider{ role: 'separator' }
            %li
              = link_to [@subject.project, @subject], method: :delete, data: { confirm: "Are you sure you want to delete Subject #{@subject.name}?" } do
                .text-danger
                  %span.glyphicon.glyphicon-trash
                  Delete

      %h1.page-heading
        - if false
          - if @side_nav
            .side-nav-button-container
              %button.navbar-toggle.side-nav-button{ data: { object: 'toggle-drawer' } }
                %span.sr-only Toggle menu
                %span.icon-bar{ style: 'background-color: white' }
                %span.icon-bar{ style: 'background-color: white' }
                %span.icon-bar{ style: 'background-color: white' }
        = @title

- if @project.events.where(archived: false).count > 0
  - if @subject.subject_events.count == 0
    = render 'subjects/choose_event'
  - else
    = render 'subjects/events'
- else
  - if @subject.sheets.count == 0
    = render 'subjects/data_entry'
  - else
    = render 'subjects/sheets'
