<% @title = "Subject: #{@subject.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Subject", edit_subject_path(@subject), class: 'btn btn-mini' %>
    <%= link_to "Delete Subject", @subject, confirm: "Are you sure you want to delete Subject #{@subject.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
    <%= link_to "View Subjects", subjects_path, class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Project</dt>
  <dd><%= link_to @subject.project.name, @subject.project if @subject.project %></dd>

  <dt>Subject Code</dt>
  <dd><%= @subject.subject_code %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @subject.user.name, @subject.user if @subject.user %></dd>
</dl>
