- @title = "Timeline"
- @menu_title = "#{@project.name} #{@subject.name} #{@title}"

- content_for :sidebar, render("subjects/sidebar")
- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "subjects", project_subjects_path(@project)
    %li= link_to @subject.subject_code.downcase, [@project, @subject]
    %li.breadcrumb-muted timeline

.dashboard-container
  - events = (@subject.blinded_sheets(current_user).order(created_at: :desc) + @subject.blinded_comments(current_user).to_a + @subject.blinded_subject_events(current_user).to_a + @subject.randomizations.to_a + @subject.adverse_events.to_a).sort_by(&:event_at).reverse

  - events.each_with_index do |event, index|
    - current_index = events.count - index + 1
    - current_page = (params[:page].to_i > 1 ? params[:page].to_i : 1)
    - if event.class == Sheet
      - sheet = event
      %a.anchor-top{ name: "c#{current_index}" }
      .comment-outer
        .comment-left-fixed
        .comment-right-fluid
          .comment-icon
          .comment-action
            %strong
              - if sheet.user
                = sheet.user.full_name
              - else
                Public user
            added
            = link_to sheet.name, [@project, sheet]
            %abbr{ rel: "tooltip", data: { title: sheet.created_at.strftime("%-d %B %Y, %-l:%M %p"), container: "body", placement: "right" } }
              = time_ago_in_words(sheet.created_at)
              ago
    - elsif event.class == SubjectEvent
      - subject_event = event
      %a.anchor-top{ name: "c#{current_index}" }
      .comment-outer
        .comment-left-fixed
        .comment-right-fluid
          .comment-icon
            = icon("far", "calendar-alt")
          .comment-action
            %strong
              - if subject_event.user
                = subject_event.user.full_name
              - else
                Public user
            added
            = link_to subject_event.event.name, event_project_subject_path(@project, @subject, event_id: subject_event.event, subject_event_id: subject_event.id, event_date: subject_event.event_date_to_param)
            %abbr{ rel: "tooltip", data: { title: subject_event.created_at.strftime("%-d %B %Y, %-l:%M %p"), container: "body", placement: "right" } }
              = time_ago_in_words(subject_event.created_at)
              ago
    - elsif event.class == Randomization && @project.unblinded?(current_user)
      - randomization = event
      %a.anchor-top{ name: "c#{current_index}" }
      .comment-outer
        .comment-left-fixed
        .comment-right-fluid
          .jumbotron.bg-light.mb-0
            .timeline-large-icon
              = icon("fas", "random")
            %strong
              %span.d-inline.d-sm-none
                = icon("fas", "random")
              - if randomization.randomized_by
                = randomization.randomized_by.full_name
              - else
                Public user
            randomized subject to
            = link_to randomization.treatment_arm_name, [@project, randomization]
            %abbr{ rel: "tooltip", data: { title: randomization.randomized_at.strftime("%-d %B %Y, %-l:%M %p"), container: "body", placement: "right" } }
              = time_ago_in_words(randomization.randomized_at)
              ago
    - elsif event.class == AdverseEvent && @project.unblinded?(current_user)
      - adverse_event = event
      %a.anchor-top{ name: "c#{current_index}" }
      .comment-outer
        .comment-left-fixed
        .comment-right-fluid
          .jumbotron.bg-danger.mb-0.text-white
            .timeline-large-icon
              = icon("fas", "exclamation-triangle", class: "text-danger")
            %strong
              %span.d-inline.d-sm-none
                = icon("fas", "exclamation-triangle")
              = adverse_event.user.full_name
            reported an
            = link_to "adverse event", [@project, adverse_event], class: "text-dark"
            that occurred on
            = adverse_event.adverse_event_date.strftime("%a, %-d %b %Y")

            %abbr{ rel: "tooltip", data: { title: adverse_event.event_at.strftime("%-d %B %Y, %-l:%M %p"), container: "body", placement: "right" } }
              = time_ago_in_words(adverse_event.event_at)
              ago
            .mt-1{ style: "font-size: 2rem;" }= adverse_event.description
    - elsif event.class == Comment
      - comment = event
      %a.anchor-top{ name: "c#{current_index}" }
      - unless comment.deleted?
        %div{ id: "comment_#{comment.id}" }
          = render "comments/show", comment: comment, number: current_index, include_name: "1"
  .comment-outer
    .comment-left-fixed
    .comment-right-fluid
      .jumbotron.bg-light.mb-0
        .timeline-large-icon
          = icon("fas", "birthday-cake")
        %strong
          %span.d-inline.d-sm-none
            = icon("fas", "birthday-cake")
          - if @subject.user
            = @subject.user.full_name
          - else
            Public user
        %span.badge.badge-success created
        subject
        = link_to @subject.name, [@project, @subject]
        on
        = @subject.created_at.strftime("%a, %B %-d, %Y at %-l:%M %p.")
