= render 'subjects/beta/header'

.row
  .col-sm-2
    = render partial: 'subjects/beta/event_navigation'

  .col-sm-10.main-project-content
    %h2 Timeline

    - @subject.sheets.original_entry.order(created_at: :desc).each do |sheet|
      %p
        = sheet.created_at.strftime("%a, %B %d, %Y")
        = link_to sheet.name, [@project, sheet]
        added
        - if sheet.user
          by
          = sheet.user.name
    %p
      = @subject.created_at.strftime("%a, %B %d, %Y")
      Subject created
