- if domain_options.present?
  - show_descriptions = domain.descriptions?
  - show_missing_codes = domain.missing_codes?
  - show_mutually_exclusives = domain.mutually_exclusives?
  - show_sites = domain.sites?
  - show_archived_options = domain.archived_options?

  %table.table.table-striped.table-hover.table-borderless.table-sticky.table-sm
    %col
    %col
    - if show_descriptions
      %col
    - if show_missing_codes
      %col
    - if show_mutually_exclusives
      %col
    - if show_sites
      %col.d-none.d-md-table-column
    - if show_archived_options
      %col.d-none.d-md-table-column
    %col{ width: "1px" }

    %thead
      %tr
        %th Value
        %th Name
        - if show_descriptions
          %th Description
        - if show_missing_codes
          %th.text-center Missing Code
        - if show_mutually_exclusives
          %th.text-center Mutually Exclusive
        - if show_sites
          %th.d-none.d-md-table-cell Site
        - if show_archived_options
          %th.d-none.d-md-table-cell.text-center Archived
        %th.text-center Actions
    - domain_options.each do |domain_option|
      %tr
        %td= domain_option.value
        %td= domain_option.name
        - if show_descriptions
          %td= domain_option.description
        - if show_missing_codes
          %td.text-center= simple_check domain_option.missing_code?
        - if show_mutually_exclusives
          %td.text-center= simple_check domain_option.mutually_exclusive?
        - if show_sites
          %td.d-none.d-md-table-cell
            - if domain_option.site
              = domain_option.site.short_name
            - else
              %span.text-muted All Sites
        - if show_archived_options
          %td.d-none.d-md-table-cell.text-center= simple_check domain_option.archived?
        %td.text-center
          = render "layouts/edit_delete_dropdown", edit_url: edit_project_domain_domain_option_path(@project, domain, domain_option), delete_url: [@project, domain, domain_option], delete_confirmation: "Delete #{domain_option.name}?"
