- if domain.domain_options.present?
  %table.table.table-striped.table-hover.table-borderless.table-condensed
    %col
    %col
    - if domain.descriptions?
      %col
    - if domain.missing_codes?
      %col
    - if domain.sites?
      %col.hidden-xs
    - if domain.archived_options?
      %col.hidden-xs
    %col{ width: '1px' }

    %thead
      %tr
        %th Value
        %th Name
        - if domain.descriptions?
          %th Description
        - if domain.missing_codes?
          %th.nowrap.center Missing Code
        - if domain.sites?
          %th.hidden-xs Site
        - if domain.archived_options?
          %th.hidden-xs.center Archived
        %th Actions
    - domain.domain_options.each do |domain_option|
      %tr
        %td= domain_option.value
        %td= domain_option.name
        - if domain.descriptions?
          %td= domain_option.description
        - if domain.missing_codes?
          %td.center= simple_check domain_option.missing_code?
        - if domain.sites?
          %td.hidden-xs
            - if domain_option.site
              = domain_option.site.short_name
            - else
              %span.text-muted All Sites
        - if domain.archived_options?
          %td.hidden-xs.center= simple_check domain_option.archived?
        %td
          = render 'layouts/edit_delete_dropdown', edit_url: edit_project_domain_domain_option_path(@project, domain, domain_option), delete_url: [@project, domain, domain_option], delete_confirmation: "Delete #{domain_option.name}?"
