= form_with model: [@project, @domain, domain_option], local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: domain_option, key: :name
  = render "forms/horizontal/text_field", form: form, object: domain_option, key: :value
  = render "forms/horizontal/text_area", form: form, object: domain_option, key: :description, rows: 7
  = render "forms/horizontal/select", form: form, object: domain_option, key: :site_id, options: @project.sites.pluck(:name, :id), include_blank: "All Sites", id: true
  = render "forms/horizontal/check_box", form: form, object: domain_option, key: :missing_code
  = render "forms/horizontal/check_box", form: form, object: domain_option, key: :mutually_exclusive
  = render "forms/horizontal/check_box", form: form, object: domain_option, key: :archived
  = render "forms/horizontal/submit", form: form, object: [@project, @domain, domain_option]
