- @title = "#{@domain_option.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @domain_option.name_was
- content_for :breadcrumbs do
  %ol
    %li= link_to "domains", project_domains_path(@project)
    %li= link_to @domain.name.downcase, [@project, @domain]
    %li= link_to "options", project_domain_domain_options_path(@project, @domain)
    %li= link_to @domain_option.name_was.to_s.downcase, [@project, @domain, @domain_option]
    %li.breadcrumb-muted edit

.dashboard-container= render "form", domain_option: @domain_option
