- @title = "Domain Options"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@domain.name, [@project, @domain]]

= render "projects/side_nav"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .float-right
          = link_to plus_or("New Domain Option"), new_project_domain_domain_option_path(@project, @domain), class: "btn btn-accent btn-shadow"
          .per-page= render "layouts/per_page", per_page: 40, object_count: @domain_options.total_count
        %span= @title

.dashboard-container
  = render "domain_options/domain_options", domain: @domain, domain_options: @domain_options
