- @title = @domain_option.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_project_domain_domain_option_path(@project, @domain, @domain_option), delete_url: [@project, @domain, @domain_option], delete_confirmation: "Delete #{@domain_option.name}?"
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "domains", project_domains_path(@project)
    %li= link_to @domain.name.downcase, [@project, @domain]
    %li= link_to "options", project_domain_domain_options_path(@project, @domain)
    %li.breadcrumb-muted= @domain_option.name.downcase

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Domain
      %td= @domain_option.domain_id

    %tr
      %th Name
      %td= @domain_option.name

    %tr
      %th Value
      %td= @domain_option.value

    %tr
      %th Description
      %td= @domain_option.description

    - if @domain_option.site
      %tr
        %th Site
        %td= @domain_option.site.name

    %tr
      %th Missing code
      %td= simple_check @domain_option.missing_code

    %tr
      %th Mutually exclusive
      %td= simple_check @domain_option.mutually_exclusive

    %tr
      %th Archived
      %td= simple_check @domain_option.archived
