- @title = @domain_option.name
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@domain.name, [@project, @domain]]

= render "projects/side_nav"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .dropdown
            = link_to "#", class: "btn btn-default dropdown-toggle", data: { toggle: "dropdown" } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_project_domain_domain_option_path(@project, @domain, @domain_option) do
                  %span.glyphicon.glyphicon-edit
                  Edit
              %li.divider{ role: "separator" }
              %li
                = link_to [@project, @domain, @domain_option], method: :delete, data: { confirm: "Delete #{@domain_option.name}?" } do
                  .text-danger
                    %i.fa.fa-trash
                    Delete
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.hidden-xs{ width: "30%" }
    %col.hidden-sm.hidden-md.hidden-lg{ width: "50%" }
    %tr
      %th Domain
      %td= @domain_option.domain_id

    %tr
      %th Name
      %td= @domain_option.name

    %tr
      %th Value
      %td= @domain_option.value

    %tr
      %th Description
      %td= @domain_option.description

    %tr
      %th Missing code
      %td= @domain_option.missing_code

    %tr
      %th Site
      %td= @domain_option.site_id

    %tr
      %th Archived
      %td= @domain_option.archived
