- @title = "Sign in"

- render "themes/random"

.page-box.last-box.d-flex.flex-column.justify-content-center{ class: "theme-#{@body_alt}-focus-bg" }
  .container
    %p.lead.text-center.text-white Welcome back!

    .sign-up-form
      .sign-up-form-title
        Sign in

      = form_with model: resource, url: user_session_path, local: true do |form|
        .form-group
          = form.label :email
          = form.text_field :email, class: "form-control#{" is-invalid" if flash[:alert].present?}", autocomplete: "off"

        .form-group
          = form.label :password
          = link_to "(Forgot password?)", new_password_path(resource_name), tabindex: "-1"
          = form.password_field :password, class: "form-control#{" is-invalid" if flash[:alert].present?}", autocomplete: "off"
          - if flash[:alert].present?
            .invalid-feedback= flash[:alert].html_safe

        .form-group.submit-btn-container
          = form.submit "Sign in", class: "btn btn-primary btn-block btn-shadow"

        - flash[:alert] = nil

    .sign-up-form.text-center
      New to Slice?
      = link_to "Create an account.", new_user_registration_path

    - if devise_mapping.confirmable?
      .text-center{ style: "margin-bottom: 20px;" }
        = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
