- @title = "Sign in"

-# @menu = "dark-pink"
-# @body = "default"
-# @body_alt = "theme-dark-pink-light-center-bg"
-# @footer = "dark-pink"

-# @menu = "night"
-# @body = "night"
-# @body_alt = "theme-night-dark-center-bg"
-# @footer = "night"

- @themes = []
- @themes << { header: "default", body: "default", footer: "default", body_alt: "theme-default-focus-bg" }
- @themes << { header: "night", body: "night", footer: "night", body_alt: "theme-night-focus-bg" }
- @themes << { header: "love", body: "love", footer: "love", body_alt: "theme-love-focus-bg" }
- @themes << { header: "royal", body: "royal", footer: "royal", body_alt: "theme-royal-focus-bg" }
- @themes << { header: "underwater", body: "underwater", footer: "underwater", body_alt: "theme-underwater-focus-bg" }
- @themes << { header: "winter", body: "winter", footer: "winter", body_alt: "theme-winter-focus-bg" }
- @themes << { header: "spring", body: "spring", footer: "spring", body_alt: "theme-spring-focus-bg" }
- number = rand(@themes.size)

- @menu = @themes.dig(number, :header)
- @body = @themes.dig(number, :body)
- @body_alt = @themes.dig(number, :body_alt)
- @footer = @themes.dig(number, :footer)

.page-box.last-box.d-flex.flex-column.justify-content-center{ class: @body_alt }
  .container
    %p.lead.text-center Welcome back!

    .sign-up-form
      .sign-up-form-title
        Sign in

      = form_with model: resource, url: user_session_path, local: true do |form|
        .form-group
          = form.label :email
          = form.text_field :email, class: "form-control#{" is-invalid" if flash[:alert].present?}", autocomplete: "off"

        .form-group
          = form.label :password
          = link_to "(Forgot password?)", new_password_path(resource_name), tabindex: "-1"
          = form.password_field :password, class: "form-control#{" is-invalid" if flash[:alert].present?}", autocomplete: "off"
          - if flash[:alert].present?
            .invalid-feedback= flash[:alert].html_safe

        .form-group.submit-btn-container
          = form.submit "Sign in", class: "btn btn-primary btn-block btn-shadow"

        - flash[:alert] = nil

    .sign-up-form.text-center
      New to Slice?
      = link_to "Create an account.", new_user_registration_path

    - if devise_mapping.confirmable?
      .text-center{ style: "margin-bottom: 20px;" }
        = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)
