- @title = @adverse_event.name

- content_for :sidebar, render("subjects/sidebar") if @project_member

- content_for :header do
  .float-right
    = link_to new_ae_module_document_path(@project, @adverse_event), class: "btn btn-accent btn-shadow" do
      = icon("fas", "cloud-upload-alt")
      .d-none.d-md-inline Upload document
  = @title
  %small= @adverse_event.description
= render "ae_module/adverse_events/tabs", project: @project, adverse_event: @adverse_event
- content_for :breadcrumbs do
  %ol
    %li= link_to "adverse events", ae_module_adverse_events_path(@project)
    %li= link_to @subject.name.downcase, [@project, @subject]
    %li= link_to @adverse_event.name.downcase, ae_module_adverse_event_path(@project, @adverse_event)
    %li.breadcrumb-muted documents

.file-upload.mb-4{ data: { object: "generic-dropfile", upload_url: upload_files_ae_module_documents_path(@project, @adverse_event, format: "js", authenticity_token: true), fallback_url: new_ae_module_document_path(@project, @adverse_event) } }
  .file-upload-bar{ data: { object: "generic-upload-bar" } }
  %div{ data: { object: "generic-file-list" } }= render "ae_module/documents/documents", project: @project, adverse_event: @adverse_event, documents: @documents

  .file-upload-error{ data: { object: "generic-upload-error" } }

  .drag-files-messages.bg-primary.text-white.text-center.p-3
    Drag files here to upload or
    %strong= link_to "click here", new_ae_module_document_path(@project, @adverse_event), class: "text-dark"
    to upload documents.

  .center-horizontally= paginate @documents, theme: "bootstrap"
