- @title = "New Document"
- @menu_title = "#{@title} - #{@adverse_event.name}"

- content_for :sidebar, render("subjects/sidebar") if @project_member

- content_for :header do
  = @title
  %small= @adverse_event.description
= render "ae_module/adverse_events/tabs", project: @project, adverse_event: @adverse_event
- content_for :breadcrumbs do
  %ol
    %li= link_to "adverse events", ae_module_adverse_events_path(@project)
    %li= link_to @subject.name.downcase, [@project, @subject]
    %li= link_to @adverse_event.name.downcase, ae_module_adverse_event_path(@project, @adverse_event)
    %li.breadcrumb-muted new document

.dashboard-container
  = render "ae_module/documents/form", project: @project, adverse_event: @adverse_event, document: @document
