- @title = @adverse_event.name

- content_for :header do
  = @title
  %small= @adverse_event.description
= render "ae_module/reporters/tabs", project: @project, adverse_event: @adverse_event
- content_for :breadcrumbs do
  .float-right
    = link_to icon("fas", "download"), download_ae_module_document_path(@project, @adverse_event, @document), data: { turbolinks: false }, class: "btn btn-sm btn-light"
  %ol
    %li= link_to "adverse events", ae_module_adverse_events_path(@project)
    %li= link_to @subject.name.downcase, [@project, @subject]
    %li= link_to @adverse_event.name.downcase, ae_module_adverse_event_path(@project, @adverse_event)
    %li= link_to "documents", ae_module_documents_path(@project, @adverse_event)
    %li.breadcrumb-muted= @document.filename.downcase

- if @document.image?
  .text-center= image_tag download_ae_module_document_path(@project, @adverse_event, @document), class: "img-thumbnail img-ignore-selection"
- elsif @document.pdf?
  .embed-responsive{ style: "padding-bottom: 100.00%;" }
    %object.embed-responsive-item{ data: download_ae_module_document_path(@project, @adverse_event, @document, disposition: "inline"), type: "application/pdf" }
      .jumbotron.jumbotron-custom-text
        %p Download file to view.
        = link_to download_ae_module_document_path(@project, @adverse_event, @document), data: { turbolinks: false }, class: "d-inline-block" do
          .d-flex.bg-white.border.rounded.flex-column.flex-md-row.breakword.border-primary
            .pl-3.py-3.d-none.d-md-block
              = render "ae_module/documents/icon", document: @document
            .p-3
              = @document.filename
            .p-3.bg-light.rounded-right
              .d-inline.d-md-none= render "ae_module/documents/icon", document: @document
              = number_to_human_size @document.byte_size
- else
  .jumbotron.jumbotron-custom-text
    %p Download file to view.
    = link_to download_ae_module_document_path(@project, @adverse_event, @document), data: { turbolinks: false }, class: "d-inline-block" do
      .d-flex.bg-white.border.rounded.flex-column.flex-md-row.breakword.border-primary
        .pl-3.py-3.d-none.d-md-block
          = render "ae_module/documents/icon", document: @document
        .p-3
          = @document.filename
        .p-3.bg-light.rounded-right
          .d-inline.d-md-none= render "ae_module/documents/icon", document: @document
          = number_to_human_size @document.byte_size
