- @title = "New Medication Variable"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "medications module", settings_editor_project_path(@project, anchor: "medications")
    %li= link_to "medication variables", editor_project_medication_variables_path(@project)
    %li.breadcrumb-muted new

.dashboard-container= render "form", project: @project, medication_variable: @medication_variable
