- @title = "Team"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  - if @project.editable_by?(current_user)
    .float-right= link_to "New Invite", new_editor_project_invite_path(@project), class: "btn btn-accent btn-shadow"
  = @title

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col
    %col
    %col{ width: "1px" }
    %thead
      %tr
        %th Name
        %th Role
        %th.text-center Actions

    %tbody
      - @project.invites.pending.where.not(email: @project.team_users.select(:email)).order(:email).group_by(&:email).each do |email, invites|
        %tr
          %td.text-muted
            = email
            (pending)
          %td.text-muted
            - if invites.count > 1
              = pluralize(invites.count, "role")
            - else
              Member
          %td.text-center.nowrap
            - if @project.editable_by?(current_user)
              .dropdown
                = link_to icon("fas", "cog"), "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" }
                .dropdown-menu.dropdown-menu-right
                  = link_to editor_project_invites_path(@project, search: email), class: "dropdown-item" do
                    = icon("fas", "users")
                    Show roles
      - @project.team_users.order(:full_name).each do |user|
        %tr
          %td
            = link_to user.full_name, project_team_member_path(@project, user)
            - pending_invites = user.pending_invites(@project).count
            - if pending_invites.positive?
              = icon("fas", "info-circle", data: { toggle: "tooltip", title: "#{pending_invites} pending #{"invite".pluralize(pending_invites)}", container: "body", placement: "right" })
          %td
            - if @project.user_id == user.id
              Owner
            - else
              Member
          %td.text-center.nowrap
            .dropdown
              = link_to icon("fas", "cog"), "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" }
              .dropdown-menu.dropdown-menu-right
                = link_to project_team_member_path(@project, user), class: "dropdown-item" do
                  = icon("fas", "users")
                  Show roles
                - if @project.editable_by?(current_user)
                  .dropdown-divider
                  = link_to project_team_member_path(@project, user), method: :delete, data: { confirm: "Remove #{user.full_name} from project?" }, class: "dropdown-item text-danger" do
                    = icon("fas", "trash-alt")
                    Remove from project

.center-horizontally
  .docs-learn-more
    Learn about
    = succeed "." do
      = link_to "roles", docs_roles_path
