= form_with model: [treatment_arm.randomization_scheme.project, treatment_arm.randomization_scheme, treatment_arm], local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: treatment_arm, key: :name
  = render "forms/horizontal/text_field", form: form, object: treatment_arm, key: :short_name, key_name: "Abbreviation", placeholder: treatment_arm.computed_short_name
  = render "forms/horizontal/number_field", form: form, object: treatment_arm, key: :allocation
  = render "forms/horizontal/submit", form: form, object: [treatment_arm.randomization_scheme.project, treatment_arm.randomization_scheme, treatment_arm]
