= form_for [@project, @randomization_scheme, @treatment_arm], html: { class: 'form-horizontal' } do |f|
  - if @treatment_arm.errors.any?
    .callout.callout-danger
      %strong
        = pluralize(@treatment_arm.errors.count, "error")
        prohibited this treatment arm from being saved

      %ul
        - @treatment_arm.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :allocation, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :allocation, class: 'form-control'

  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @treatment_arm.new_record? ? project_randomization_scheme_treatment_arms_path(@project, @randomization_scheme) : [@project, @randomization_scheme, @treatment_arm], class: 'btn btn-default'
