- @title = "#{@treatment_arm.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = render 'layouts/side_nav_header_button'
        = link_to @treatment_arm.name_was, [@project, @randomization_scheme, @treatment_arm]
        Edit

.dashboard-container= render 'form'
