- @title = 'Treatment Arms'

.project-title-container
  = link_to @project.name, @project, class: 'project-title'

.row
  .col-sm-2
    = render 'projects/beta/menu'

  .col-sm-10
    %h2.project-header
      = link_to @randomization_scheme.name, [@project, @randomization_scheme]
      &middot;
      = @title
    %div{ style: 'margin-bottom: 20px' }
      = link_to "Create Treatment Arm", new_project_randomization_scheme_treatment_arm_path(@project, @randomization_scheme), class: 'btn btn-xs btn-primary'

    = form_tag project_randomization_scheme_treatment_arms_path(@project, @randomization_scheme), method: :get, class: 'form-vertical' do
      = hidden_field_tag :order, params[:order]

    = render 'treatment_arms/treatment_arms'
