- @title = "Treatment Arms"
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    - unless @randomization_scheme.published?
      = link_to plus_or("New Treatment Arm"), new_project_randomization_scheme_treatment_arm_path(@project, @randomization_scheme), class: "btn btn-accent btn-shadow"
    .per-page= render "layouts/per_page", per_page: 40, object_count: @treatment_arms.total_count
  = @title

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col
    %col
    %col.d-none.d-sm-table-column
    %col{ width: "1px" }
    %thead
      %tr
        %th Name
        %th.text-center Allocation
        %th.d-none.d-sm-table-cell User
        %th.text-center Actions

    %tbody
      - @treatment_arms.each do |treatment_arm|
        %tr
          %td= link_to treatment_arm.name, [@project, @randomization_scheme, treatment_arm]
          %td.text-center= treatment_arm.allocation
          %td.d-none.d-sm-table-cell= link_to treatment_arm.user.full_name, treatment_arm.user if treatment_arm.user
          %td.text-center
            - if @randomization_scheme.published?
              = link_to label_or("Scheme Published", "Published"), "#", data: { object: "suppress-click" }, class: "btn btn-sm btn-primary", disabled: true
            - else
              = render "layouts/edit_delete_dropdown", edit_url: edit_project_randomization_scheme_treatment_arm_path(@project, @randomization_scheme, treatment_arm), delete_url: [@project, @randomization_scheme, treatment_arm], delete_confirmation: "Delete \"#{treatment_arm.name}\" arm?"

.center-horizontally
  .docs-learn-more
    Learn about
    = succeed "." do
      = link_to "treatment arms", docs_treatment_arms_path
