- @title = 'Treatment Arms'
- @menu_title = "#{@project.name} #{@title}"
- @breadcrumbs = []
- @breadcrumbs << [@randomization_scheme.name, [@project, @randomization_scheme]]

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - unless @randomization_scheme.published?
            = link_to plus_or('Create Treatment Arm'), new_project_randomization_scheme_treatment_arm_path(@project, @randomization_scheme), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @treatment_arms.total_count
        = render 'layouts/side_nav_header_button'
        %span= @title

= render 'treatment_arms/treatment_arms'
