- @title = "Treatment Arms"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  - unless @randomization_scheme.published?
    .float-right
      = link_to plus_or("New Treatment Arm"), new_project_randomization_scheme_treatment_arm_path(@project, @randomization_scheme), class: "btn btn-accent btn-shadow"
  = @title
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 40, object_count: @treatment_arms.total_count
  %ol
    %li= link_to "randomization schemes", project_randomization_schemes_path(@project)
    %li= link_to @randomization_scheme.name_was.downcase, [@project, @randomization_scheme]
    %li.breadcrumb-muted treatment arms

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col
    %col
    %col{ width: "1px" }
    %thead
      %tr
        %th Name
        %th.text-center Allocation
        %th.text-center Actions

    %tbody
      - @treatment_arms.each do |treatment_arm|
        %tr
          %td= link_to treatment_arm.name, [@project, @randomization_scheme, treatment_arm]
          %td.text-center= treatment_arm.allocation
          %td.text-center
            - if @randomization_scheme.published?
              .nowrap= link_to label_or("Scheme Published", "Published"), "#", data: { object: "suppress-click" }, class: "btn btn-sm btn-primary", disabled: true
            - else
              = render "layouts/edit_delete_dropdown", edit_url: edit_project_randomization_scheme_treatment_arm_path(@project, @randomization_scheme, treatment_arm), delete_url: [@project, @randomization_scheme, treatment_arm], delete_confirmation: "Delete \"#{treatment_arm.name}\" arm?"

.center-horizontally
  .docs-learn-more
    Learn about
    = succeed "." do
      = link_to "treatment arms", docs_treatment_arms_path
