- is_grid = defined?(grid)

%div{ class: variable.prepend.present? || variable.units.present? || variable.append.present? ? 'input-group' : nil }
  = render 'design_options/show/addon', method: 'prepend', variable: variable
  = text_field_tag variable.name, '', class: 'form-control', disabled: true
  = render 'design_options/show/addon', method: 'units', variable: variable
  = render 'design_options/show/addon', method: 'append', variable: variable

- unless is_grid
  %div{ style: 'margin-top: 10px; margin-bottom: 20px;' }
    = link_to 'Edit Prefix', edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: 'prepend'), remote: true, method: :get, class: 'design-preview-hide btn btn-xs btn-cutout btn-shadow'
    = link_to 'Edit Calculation', edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: 'calculation'), remote: true, method: :get, class: 'design-preview-hide btn btn-xs btn-cutout btn-shadow'
    = link_to 'Edit Units', edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: 'units'), remote: true, method: :get, class: 'design-preview-hide btn btn-xs btn-cutout btn-shadow'
    = link_to 'Edit Suffix', edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: 'append'), remote: true, method: :get, class: 'design-preview-hide btn btn-xs btn-cutout btn-shadow'

  %div= render 'variables/calculation_with_links', object: variable
