- if false
  - display_class = [variable.display_class(is_grid), (domain_option.missing_code? ? "negation" : nil)].join(" ")
  %label.checkbox-radio-outline{ class: display_class }
    - if variable.single_choice?
      = radio_button_tag variable.name, "#{domain_option.value}", false, disabled: true
    - else
      = check_box_tag "#{variable.name}[]", "#{domain_option.value}", false, disabled: true
    = domain_option.value_and_name unless variable.alignment == "scale"

.mb-1{ class: variable.display_inline?(is_grid) ? "d-inline-block mr-3 nowrap" : "d-block" }
  - if variable.single_choice?
    %i.fa.fa-circle.text-disabled
  - else
    %i.fa.fa-square.text-disabled
  = domain_option.value_and_name unless variable.alignment == "scale"
