- is_grid = defined?(grid)

- unarchived_domain_options = variable.domain_options.where(archived: false)

- if variable.alignment == "scale"
  %table.table.table-borderless
    %col{ width: "300px" }
    - (1..unarchived_domain_options.count).each do
      = content_tag :col, nil, width: "#{100 / (unarchived_domain_options.count + 2)}%"
    - if variable.first_scale_variable?(@design)
      %thead
        %tr
          %th
          - unarchived_domain_options.each do |domain_option|
            %th.text-center
              = domain_option.value_and_name
    %tbody
      %tr
        %th
          = simple_style variable.display_name
          = render "design_options/required", design_option: design_option

        - unarchived_domain_options.each do |domain_option|
          %td.text-center
            = render "design_options/show/checkbox_or_radio_input", domain_option: domain_option, variable: variable, is_grid: is_grid
      - unless is_grid
        %tr
          %td.text-center{ colspan: "#{unarchived_domain_options.count + 1}" }
            = link_to edit_domain_project_design_design_option_path(@project, @design, design_option, language: params[:language]), remote: true, method: :get, class: "btn btn-sm btn-primary btn-shadow" do
              = unarchived_domain_options.present? ? "Edit" : "Add"
              Choices
- else
  - unarchived_domain_options.each do |domain_option|
    = render "design_options/show/checkbox_or_radio_input", domain_option: domain_option, variable: variable, is_grid: is_grid
  - unless is_grid
    = link_to edit_domain_project_design_design_option_path(@project, @design, design_option, language: params[:language]), remote: true, method: :get, class: "btn btn-sm btn-primary btn-shadow" do
      = unarchived_domain_options.present? ? "Edit" : "Add"
      Choices
