-# Range should either be the existing positions (which are long strings) or the positions from the sheet_variables
- max_position = (variable.default_row_number - 1)
- range = (0..max_position)

- if variable.deprecated_grid_variables.size > 0
  %table.table.table-hover
    %thead
      %tr
        - variable.deprecated_grid_variables.each do |deprecated_grid_variable_hash|
          - v = Variable.find_by_id(deprecated_grid_variable_hash[:variable_id])
          %th= v.display_name if v
    %tbody{ id: "variable_#{variable.id}_grid_container" }
      - range.each do |position|
        = render 'design_options/show/grid_variables', design_option: design_option, disabled: true, position: position, variable: variable
  = link_to 'Add Row', '#', class: 'btn btn-default btn-xs', disabled: 'disabled', data: { object: 'suppress-click' }, tabindex: '-1' if variable.multiple_rows?

= link_to 'Edit Grid Questions', edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: 'grid_variables'), remote: true, method: :get, class: 'design-preview-hide btn btn-xs btn-cutout btn-shadow-sm'
