%tr
  - variable.grid_variables.each do |grid_variable|
    %td
      - grid = Grid.new(variable_id: grid_variable[:variable_id], position: (position).to_s.last(9)) unless grid

      - if Variable::TYPE.flatten.uniq.include?(grid.variable.variable_type) and grid.variable.variable_type != 'grid'
        = render "design_options/show/#{grid.variable.variable_type}", response: response, disabled: true, variable: grid.variable, field_name: "variables[#{variable.id}][#{position}][#{grid.variable.id}]", position: position, grid: variable, object: grid
