- is_grid = defined?(grid)

.imperial-weight-input.form-inline
  %span.pounds-box
    .input-group
      = text_field_tag "#pounds_#{variable.name}", "", disabled: true, placeholder: "", class: "form-control", style: "display: inline-block;"
      .input-group-append
        = render "design_options/show/addon", addon: "lb"
  %span.ounces-box
    .input-group
      = text_field_tag "#ounces_#{variable.name}", "", disabled: true, placeholder: "", class: "form-control", style: "display: inline-block;"
      .input-group-append
        = render "design_options/show/addon", addon: "oz"

- unless is_grid
  %div{ style: "margin-top: 10px; margin-bottom: 20px;" }
    = link_to "Edit Ranges", edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: "ranges"), remote: true, method: :get, class: "design-preview-hide btn btn-sm btn-outline-dark btn-shadow"

  - if variable.hard_minimum.present? || variable.soft_minimum.present? || variable.hard_maximum.present? || variable.soft_maximum.present?
    - if variable.hard_maximum.present?
      %div
        %code
          Hard Max:
        %code
          = variable.hard_maximum
          oz

    - if variable.soft_maximum.present?
      %div
        %code
          Soft Max:
        %code
          = variable.soft_maximum
          oz


    - if variable.soft_minimum.present?
      %div
        %code
          Soft Min:
        %code
          = variable.soft_minimum
          oz

    - if variable.hard_minimum.present?
      %div
        %code
          Hard Min:
        %code
          = variable.hard_minimum
          oz
