- is_grid = defined?(grid)

%div{ class: variable.prepend.present? || variable.units.present? || variable.append.present? ? "input-group" : nil }
  - if variable.prepend.present?
    .input-group-prepend
      = render "design_options/show/addon", addon: variable.prepend
  = text_field_tag variable.name, "", class: "form-control", disabled: true, placeholder: is_grid ? variable.display_name : nil
  - if variable.units.present? || variable.append.present?
    .input-group-append
      = render "design_options/show/addon", addon: variable.units
      = render "design_options/show/addon", addon: variable.append

- unless is_grid
  %div{ style: "margin-top: 10px; margin-bottom: 20px;" }
    = link_to "Edit Ranges", edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: "ranges"), remote: true, method: :get, class: "design-preview-hide btn btn-sm btn-outline-dark btn-shadow"
    = link_to "Edit Prefix", edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: "prepend"), remote: true, method: :get, class: "design-preview-hide btn btn-sm btn-outline-dark btn-shadow"
    = link_to "Edit Units", edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: "units"), remote: true, method: :get, class: "design-preview-hide btn btn-sm btn-outline-dark btn-shadow"
    = link_to "Edit Suffix", edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: "append"), remote: true, method: :get, class: "design-preview-hide btn btn-sm btn-outline-dark btn-shadow"

  - if variable.hard_minimum.present? || variable.soft_minimum.present? || variable.hard_maximum.present? || variable.soft_maximum.present?
    - if variable.hard_maximum.present?
      %div
        %code
          Hard Max:
        %code
          = variable.hard_maximum

    - if variable.soft_maximum.present?
      %div
        %code
          Soft Max:
        %code
          = variable.soft_maximum


    - if variable.soft_minimum.present?
      %div
        %code
          Soft Min:
        %code
          = variable.soft_minimum

    - if variable.hard_minimum.present?
      %div
        %code
          Hard Min:
        %code
          = variable.hard_minimum
