- is_grid = defined?(grid)

- if variable.alignment == 'scale'
  %table.table.table-borderless
    %col{ width: "300px" }
    = ("<col width='#{100/(variable.options_missing_at_end.size+2)}%'/>"*variable.options_missing_at_end.size).html_safe
    - if variable.first_scale_variable?(@design)
      %thead
        %tr
          %th
          - variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value|
            %th.center
              = succeed ':' do
                = value
              = name
    %tbody
      %tr
        %td{ style: "font-weight:bold" }
          = variable.display_name
          = render 'design_options/required', design_option: design_option
        - variable.options_missing_at_end.collect{|opt| [opt[:name], opt[:value], opt[:description], opt[:missing_code]]}.each do |name, value, description, missing|
          %td.center.sheet-container
            %label.radio.radio-inline{ class: "#{'negation' if missing == '1'}" }
              = radio_button_tag variable.name, "#{value}", false, disabled: true, style: 'margin-left:-14px'
      - unless is_grid
        %tr.design-preview-hide
          %td.center{ colspan: "#{variable.shared_options.size + 1}" }
            = link_to edit_domain_project_design_design_option_path(@project, @design, design_option), remote: true, method: :get, class: 'design-preview-hide btn btn-xs btn-cutout btn-shadow-sm' do
              = variable.shared_options.size == 0 ? 'Add' : 'Edit'
              Choices
- else
  .sheet-container
    - variable.options_without_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value|
      %label.radio{ class: "#{'radio-inline' if is_grid or variable.alignment == 'horizontal'}" }
        = radio_button_tag variable.name, "#{value}", false, disabled: true
        = succeed ':' do
          = value
        = name
    - variable.options_only_missing.collect{|opt| [opt[:name], opt[:value]]}.each do |name, value|
      %label.radio.negation{ class: "#{'radio-inline' if is_grid or variable.alignment == 'horizontal'}" }
        = radio_button_tag variable.name, "#{value}", false, disabled: true
        = succeed ':' do
          = value
        = name
  - unless is_grid
    = link_to edit_domain_project_design_design_option_path(@project, @design, design_option), remote: true, method: :get, class: 'design-preview-hide btn btn-xs btn-cutout btn-shadow-sm' do
      = variable.shared_options.size == 0 ? 'Add' : 'Edit'
      Choices
