- is_grid = defined?(grid)

%div{ class: variable.prepend.present? || variable.append.present? ? "input-group" : nil }
  - if variable.prepend.present?
    .input-group-prepend
      = render "design_options/show/addon", addon: variable.prepend
  = text_field_tag variable.name, "", class: "form-control", disabled: true, placeholder: is_grid ? variable.display_name : nil
  - if variable.append.present?
    .input-group-append
      = render "design_options/show/addon", addon: variable.append

- unless is_grid
  %div{ style: "margin-top: 10px; margin-bottom: 20px;" }
    = link_to "Edit Prefix", edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: "prepend"), remote: true, method: :get, class: "btn btn-sm btn-primary btn-shadow"
    = link_to "Edit Suffix", edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: "append"), remote: true, method: :get, class: "btn btn-sm btn-primary btn-shadow"
    = link_to "Edit Autocomplete Values", edit_variable_project_design_design_option_path(@project, @design, design_option, attribute: "autocomplete"), remote: true, method: :get, class: "btn btn-sm btn-primary btn-shadow"
