- form_name = "sheet-form"
- url = ae_module_reporters_form_save_path(project, adverse_event, design)

.dashboard-container
  = form_with model: sheet, url: url, method: :post, multipart: true, id: form_name, local: true do |form|
    - if sheet.errors.any?
      .card.border-danger.mb-3
        .card-body
          %strong
            = pluralize sheet.errors.count, "error"
            prohibited this survey from being submitted

    - if sheet.new_record?
      = form.hidden_field :design_id
      = hidden_field_tag :subject_id, sheet.subject_id
    = form.hidden_field :language, value: World.language, name: :language

    = render "designs/show", design: sheet.design, form: form

    .form-group
      = link_to "Save", "#", class: "btn btn-primary", data: { target: "##{form_name}", object: "variable-check-before-submit" }
      = link_to "Cancel", ae_module_adverse_event_url(project, adverse_event), class: "btn btn-light"
      %span#validation-messages.text-danger.span-link{ data: { object: "scroll-to-first-error" } }
