- @title = @adverse_event.name

- content_for :header do
  = @title
  %small= @adverse_event.description
= render "ae_module/reporters/tabs", project: @project, adverse_event: @adverse_event
- content_for :breadcrumbs do
  %ol
    %li= link_to "reporters inbox", ae_module_reporters_inbox_path(@project)
    %li= link_to @subject.name.downcase, [@project, @subject]
    %li.breadcrumb-muted= @adverse_event.name.downcase

.aer-container
  .aer-body
    - designments = @project.ae_designments.where(role: "reporter").order(Arel.sql("position nulls last"))
    - if designments.present?
      %p
        %strong Forms
      - designments.each do |designment|
        - sheets = @adverse_event.sheets.where(design: designment.design)
        - if sheets.present?
          - sheets.each do |sheet|
            .mb-3
              = render "sheets/coverage", sheet: sheet
              = link_to sheet.name, ae_module_reporters_form_path(@project, @adverse_event, sheet.design)
          - next
        - else
          .mb-3
            %span.badge.badge-coverage.coverage-0 0%
            = link_to designment.design.name, ae_module_reporters_form_path(@project, @adverse_event, designment.design)

    %p
      %strong Documents
    .mb-3
      = link_to ae_module_reporters_adverse_event_files_path(@project, @adverse_event) do
        = icon("fas", "paperclip")
        Attach supporting documents
        = icon("fas", "caret-right")

    %p
      %strong Information Requests

      - @adverse_event.ae_adverse_event_info_requests.where(ae_review_team_id: nil).order("resolved_at desc NULLS FIRST").each do |info_request|
        %div
          - if info_request.resolved?
            = icon("fas", "check-square")
          - else
            = icon("far", "square")

          = info_request.comment
          %span.text-muted= info_request.user.full_name
          - if info_request.resolved?
            .ml-4.small
              Resolved on
              = info_request.resolved_at.strftime("%-d %b %Y, %-l:%M %p")
              by
              = info_request.resolver.full_name
          - else
            = link_to ae_module_reporters_resolve_info_request_path(@project, @adverse_event, info_request), method: :post do
              Mark as resolved
              = icon("fas", "caret-right")

    .mb-3.text-muted No requests


  .aer-footer
    - if @adverse_event.closed?
      %div
        %span.text-primary= icon("fas", "lock")
        Adverse event closed.
    - else
      - design = @project.first_design("reporter")
      - if design
        .mb-3
          %span.text-primary= icon("far", "copy")
          = link_to ae_module_reporters_form_path(@project, @adverse_event, design) do
            Enter sheets
            = icon("fas", "caret-right")
          .small Finalize adverse event report.

      %div
        %span.text-primary= icon("far", "copy")
        = link_to "#" do
          Send for review
          = icon("fas", "caret-right")
        .small All sheets entered.

.border.p-3
  .mb-3
    %strong Example
  .bg-white.p-5
    .mb-5
      .mb-3
        .p-2.d-inline-block.rounded.bg-light
          .small{ style: "color: #f48fb1;font-weight: bold;" } Review Administrator
          This is a comment that was added.

      .mb-3.float-right
        .p-2.d-inline-block.rounded{ style: "background-color: #fce4ec;"}
          .small.text-right{ style: "color: #f48fb1;font-weight: bold;" } Me
          I replied to your comment that you left.
      .clearfix

      .mb-3
        .p-2.d-inline-block.rounded.bg-light
          .small{ style: "color: #f48fb1;font-weight: bold;" } Review Administrator
          Yes, probably a great idea!

    = text_field_tag "comment", "", class: "form-control form-control-lg", placeholder: "Write a comment", autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false"
