- @title = "Adverse Events"

- content_for :header, @title

- content_for :breadcrumbs do
  %ol
    %li
      = link_to ae_module_dashboard_path(@project) do
        = icon("fas", "caret-left")
        ae dashboard
    %li.breadcrumb-muted my adverse event reports

.mb-3
  .float-right
    = link_to ae_module_reporters_report_path(@project), class: "btn btn-primary btn-lg" do
      Report adverse event
      = icon("fas", "caret-right")
  .clearfix

- if @adverse_events.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col{ width: "2px" }
      %col{ width: "1px" }
      %col.d-none.d-sm-table-column
      %col
      %col
      %col{ width: "1px" }
      %thead
        %tr
          %th.p-0
          %th.text-center #
          %th.d-none.d-sm-table-cell Description
          %th Reported
          %th.text-center (reserved)
          %th Status
      %tbody
        - @adverse_events.each do |adverse_event|
          %tr
            %td.p-0.bg-primary
            %td.text-center= link_to adverse_event.name, ae_module_adverse_event_path(@project, adverse_event)
            %td.d-none.d-sm-table-cell{ style: "max-width: 200px;" }
              .overflow-hidden.nowrap= link_to adverse_event.description.truncate(40), ae_module_adverse_event_path(@project, adverse_event)
            %td= adverse_event.created_at.strftime("%a, %b %-d, %Y")
            %td.text-center= icon("far", "square")
            %td
              - if adverse_event.ae_adverse_event_info_requests.where(ae_review_team_id: nil, resolved_at: nil).present?
                %span.badge.badge-primary Additional info required
              - else
                %span.badge.badge-secondary Reported

  .center-horizontally= paginate @adverse_events, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    No adverse events found.
