<div class="page-header">
  <h1><%= link_to @post.project.name, @post.project %> &middot; <%= @title %></h1>
</div>

<%= form_for [@post.project, @post], html: { class: 'form-horizontal' } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :description, rows: 7, style: 'width:95%' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :archived, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.check_box :archived %>
      <% if @post.new_record? %>
        <span class="help-inline">
          <span class="label label-info">Heads up!</span>
          New posts will be <strong>emailed</strong> to project and site members unless the post is created as an archived post.
        </span>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, class: 'btn btn-primary' %>
    <%= cancel %>
  </div>
<% end %>
