<% @title = @post.name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to 'Posts', project_posts_path(@project) %> &middot; <%= @title %>
  </h1>
  <%= link_to "Edit Post", edit_project_post_path(@post.project, @post), class: 'btn btn-default btn-mini' %>
  <%= link_to "Delete Post", [@post.project, @post], method: :delete, class: 'btn btn-mini btn-danger-inverse', data: { confirm: "Are you sure you want to delete Post #{@post.name}?" } %>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @post.name %></dd>

  <dt>Description</dt>
  <dd><%= simple_markdown @post.description %></dd>

  <dt>Archived</dt>
  <dd><%= @post.archived %></dd>
</dl>
