- @title = @post.name

- links = []
- links << ['Posts', project_posts_path(@project)]
- links << [@post.name, [@project, @post]]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-header
      = @title
      = link_to 'Edit Post', edit_project_post_path(@post.project, @post), class: 'btn btn-default btn-xs'
      = link_to 'Delete Post', [@post.project, @post], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Post #{@post.name}?" }

    %dl.dl-horizontal
      %dt Name
      %dd= @post.name

      %dt Description
      %dd= simple_markdown @post.description

      %dt Archived
      %dd= simple_check @post.archived
