%table.table.table-striped.table-borderless.table-hover.table-sm.mb-0
  %col{ width: "60px" }
  %col
  - subject_event.event.event_designs.includes(:design).each do |event_design|
    - design = event_design.design
    - next if current_user.all_viewable_designs.where(id: design.id).count == 0

    - sheets = @subject.sheets.where(subject_event_id: subject_event.id, design_id: design.id)

    - if sheets.present?
      - sheets.each do |sheet|
        %tr{ class: "#{"warning" if sheets.count > 1 && event_design.highlight_duplicates?} #{"highlight" if @sheet == sheet}", data: { object: sheet.missing? ? nil : "sheet-draggable", sheet_id: sheet.id, sheet_name: sheet.name, subject_event_id: sheet.subject_event_id }, style: sheet.missing? ? nil : "cursor: move;" }
          %td
            - if sheet.missing?
              %span.badge.badge-default{ rel: "tooltip", title: "Marked as Missing", data: { container: "body", placement: "right" } } M
            - else
              %span{ id: "sheet_#{sheet.id}_coverage" }= render "sheets/coverage", sheet: sheet
          %td
            .float-right
              - if sheet.missing?
                .dropdown
                  = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
                    .d-inline-block.d-sm-none
                      = icon("fas", "cog")
                    .d-none.d-sm-inline-block Actions

                  .dropdown-menu.dropdown-menu-right
                    = link_to set_as_not_missing_project_sheet_path(@project, sheet), method: :post, remote: true, class: "dropdown-item" do
                      Set as Not Missing
              - else
                - if sheet.comments_count.positive?
                  = succeed " " do
                    = link_to project_sheet_path(@project, sheet, anchor: "comments"), class: "btn btn-sm btn-accent" do
                      = sheet.comments_count
                      = icon("fas", "comment")
              - if sheets.count > 1 && event_design.highlight_duplicates?
                = icon("fas", "exclamation-triangle", class: "text-warning", rel: "tooltip", title: "Duplicate Entry", data: { placement: "left", container: "body" })
              - if sheets.count > 1
                %span.d-inline.d-sm-none.nowrap= sheet.created_at.strftime("%b %-d, %Y")
                %span.d-none.d-sm-inline.nowrap= sheet.created_at.strftime("%a, %b %-d, %Y")
            - if event_design.handoff_enabled?
              %span.badge.badge-accent.d-inline.d-sm-none H
              %span.badge.badge-accent.d-none.d-sm-inline Handoff
            = link_to_if !sheet.missing?, sheet.name, project_sheet_path(@project, sheet)
            = render "layouts/unblinded_only", project: @project, object: design, placement: "top"
            - unless event_design.required?(@subject)
              %span.text-warning{ rel: "tooltip", data: { title: "Not Required", container: "body", placement: "right" } } *
    - elsif event_design.required?(@subject)
      %tr
        %td
          - if @subject.editable_by?(current_user)
            = link_to new_data_entry_project_subject_path(@project, @subject, design, sheet: { subject_event_id: subject_event.id }), class: "btn btn-sm btn-accent btn-shadow" do
              = icon("fas", "plus")
        %td
          - if @subject.editable_by?(current_user)
            .float-right
              .dropdown
                = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
                  .d-inline-block.d-sm-none
                    = icon("fas", "cog")
                  .d-none.d-sm-inline-block Actions

                .dropdown-menu.dropdown-menu-right
                  = link_to new_data_entry_project_subject_path(@project, @subject, design, sheet: { subject_event_id: subject_event.id }), class: "dropdown-item" do
                    Create Sheet
                  .dropdown-divider
                  = link_to set_sheet_as_missing_project_subject_path(@project, @subject, design, subject_event), method: :post, remote: true, class: "dropdown-item" do
                    Set as Missing
          - if event_design.handoff_enabled?
            %span.badge.badge-accent.d-inline.d-sm-none H
            %span.badge.badge-accent.d-none.d-sm-inline Handoff
          - if @subject.editable_by?(current_user)
            = link_to design.name, new_data_entry_project_subject_path(@project, @subject, design, sheet: { subject_event_id: subject_event.id })
          - else
            = design.name
          = render "layouts/unblinded_only", project: @project, object: design, placement: "top"
- non_design_sheets = subject_event.extra_sheets_on_subject_event(current_user)
- if non_design_sheets && non_design_sheets.count > 0
  %table.table.table-striped.table-borderless.table-hover.table-sm.mb-0
    %col{ width: "60px" }
    %col
    - non_design_sheets.each do |sheet|
      %tr{ class: "#{"highlight" if @sheet == sheet}", data: { object: "sheet-draggable", sheet_id: sheet.id, sheet_name: sheet.name, subject_event_id: sheet.subject_event_id }, style: "cursor: move;" }
        %td{ id: "sheet_#{sheet.id}_coverage" }= render "sheets/coverage", sheet: sheet
        %td
          .float-right
            - if sheet.comments_count.positive?
              = link_to project_sheet_path(@project, sheet, anchor: "comments"), class: "btn btn-sm" do
                = sheet.comments_count
                = icon("fas", "comment")

          %span.badge.badge-warning.d-inline.d-sm-none{ rel: "tooltip", title: "Not on base event", data: { placement: "bottom", container: "body" } } E
          %span.badge.badge-warning.d-none.d-sm-inline{ rel: "tooltip", title: "Not on base event", data: { placement: "bottom", container: "body" } } Extra
          = link_to sheet.name, project_sheet_path(@project, sheet)
