.panel.panel-default
  .panel-heading
    .pull-right
      = subject_event.event_date_to_s
    - sheets_started = sheets_completed = @subject.sheets.where(subject_event_id: subject_event.id, design_id: subject_event.event.designs.pluck(:id)).pluck(:design_id).uniq.count
    - designs_count = subject_event.event.designs.count
    - if sheets_completed == designs_count
      %span.text-success
        %span.glyphicon.glyphicon-ok
    - elsif sheets_started == 0
      %span.text-muted
        %span.glyphicon.glyphicon-tasks
    - else
      %span.text-highlight
        %span.glyphicon.glyphicon-tasks
    = link_to subject_event.event.name, event_project_subject_path(@project, @subject, event_id: subject_event.event, subject_event_id: subject_event.id, event_date: subject_event.event_date_to_param)
    - if @project.handoffs_enabled? && @subject.editable_by?(current_user) && subject_event.handoffs?
      = link_to 'Launch Tablet Handoff', new_handoff_project_subject_path(@project, @subject, subject_event_id: subject_event.id), class: 'btn btn-xs btn-primary'
  .panel-body
    %table.table.table-striped{ style: 'table-layout:fixed; margin-bottom:0' }
      %col{ width: '60px' }
      %col
      %col{ width: '220px' }
      - subject_event.event.event_designs.includes(:design).each do |event_design|
        - design = event_design.design
        - sheets = @subject.sheets.where(subject_event_id: subject_event.id, design_id: design.id)
        - if sheets.count > 0
          - sheets.each do |sheet|
            %tr{ class: "#{'warning' if sheets.count > 1}"}
              %td
                - if sheet.missing?
                  %span.label.label-default{ rel: 'tooltip', title: 'Marked as Missing', data: { container: 'body', placement: 'right' } } -
                - else
                  = coverage_helper(sheet)
              %td
                = link_to_if !sheet.missing?, sheet.name, project_sheet_path(@project, sheet)
                - if event_design.handoff_enabled?
                  %span.label.label-success Handoff
              %td.text-right
                - if sheet.missing?
                  = link_to 'Set as Not Missing', set_as_not_missing_project_sheet_path(@project, sheet), method: :post, class: 'btn btn-xs btn-default'
                - else
                  - if sheet.comments.count > 0
                    = link_to project_sheet_path(@project, sheet), class: 'btn btn-xs' do
                      = sheet.comments.count
                      %span.glyphicon.glyphicon-comment
                - if sheets.count > 1
                  %span.glyphicon.glyphicon-warning-sign.text-warning{ rel: 'tooltip', title: 'Duplicate Entry', data: { placement: 'left', container: 'body' } }
        - else
          %tr
            %td
            %td
              = design.name
              - if event_design.handoff_enabled?
                %span.label.label-success Handoff
            %td
              - if @subject.editable_by? current_user
                = link_to 'Create Sheet', new_data_entry_project_subject_path(@project, @subject, design, sheet: { subject_event_id: subject_event.id }), class: 'btn btn-primary btn-xs'
                = link_to 'Set as Missing', set_sheet_as_missing_project_subject_path(@project, @subject, design, subject_event), method: :post, remote: true, class: 'btn btn-xs btn-default'
    - non_design_sheets = subject_event.sheets.where.not(design_id: subject_event.event.designs.select(:id))
    - if non_design_sheets && non_design_sheets.count > 0
      %div{ style: 'margin-top: 20px' }
        .callout.callout-warning
          %strong Extra Sheets
          The following sheets are not explicitly listed on the project event.
      %table.table.table-striped{ style: 'table-layout:fixed;margin-bottom:0px' }
        %col{ width: '60px' }
        %col
        %col{ width: '120px' }
        - non_design_sheets.each do |sheet|
          %tr
            %td
              = coverage_helper(sheet)
            %td
              = link_to sheet.name, project_sheet_path(@project, sheet)
            %td{ style: 'text-align:right' }
              - if sheet.comments.count > 0
                = link_to project_sheet_path(@project, sheet), class: 'btn btn-xs' do
                  = sheet.comments.count
                  %span.glyphicon.glyphicon-comment
