.panel.panel-default
  .panel-heading
    .pull-right
      = subject_event.event_date_to_s
    - sheets_started = sheets_completed = @subject.sheets.where(subject_event_id: subject_event.id, design_id: subject_event.event.designs.pluck(:id)).count
    - designs_count = subject_event.event.designs.count
    - if sheets_completed == designs_count
      %span.text-success
        %span.glyphicon.glyphicon-ok
    - elsif sheets_started == 0
      %span.text-muted
        %span.glyphicon.glyphicon-tasks
    - else
      %span.text-warning
        %span.glyphicon.glyphicon-tasks
    = link_to event_project_subject_path(@project, @subject, event_id: subject_event.event, subject_event_id: subject_event.id, event_date: subject_event.event_date_to_param) do
      = subject_event.event.name
  .panel-body
    %table.table.table-bordered{ style: 'table-layout:fixed;margin-bottom:0px' }
      %col{ width: '60px' }
      %col
      %col{ width: '120px' }
      - subject_event.event.designs.each do |design|
        %tr
          - sheet = @subject.sheets.where(subject_event_id: subject_event.id, design_id: design.id).first
          - if sheet
            %td
              = coverage_helper(sheet)
            %td
              = link_to sheet.name, project_sheet_path(@project, sheet)
            %td{ style: 'text-align:right' }
              - if sheet.comments.count > 0
                %span.label.label-default
                  = sheet.comments.count
                  %span.glyphicon.glyphicon-comment
          - else
            %td
            %td
              = design.name
            %td
              = link_to 'Create Sheet', new_project_sheet_path(@project, sheet: { design_id: design.id, subject_event_id: subject_event.id }, subject_code: @subject.subject_code, subject_acrostic: @subject.acrostic, site_id: @subject.site_id), class: 'btn btn-primary btn-xs btn-block'
