.card.bg-light.box-shadow.mb-3
  .card-header{ data: { object: "event-droppable", project_id: @project.to_param, subject_event_id: subject_event.id } }
    .float-right
      - if @project.handoffs_enabled? && @subject.editable_by?(current_user) && subject_event.handoffs?
        %span.hidden-xs.hidden-sm.text-right
          = link_to "Launch Tablet Handoff", new_handoff_project_subject_path(@project, @subject, subject_event_id: subject_event.id), class: "btn btn-sm btn-accent shadow-sm"
      %span.hidden-xs= subject_event.event_date_to_s
      %span.hidden-sm.hidden-md.hidden-lg= subject_event.event_date_to_s_xs

    %span{ id: "subject-event-#{subject_event.id}-title" }
      = render "subject_events/title", subject_event: subject_event

    = render "layouts/unblinded_only", project: @project, object: subject_event.event, placement: "top"

  - if @project.handoffs_enabled? && @subject.editable_by?(current_user) && subject_event.handoffs?
    .hidden-md.hidden-lg
      .card-body
        = link_to "Launch Tablet Handoff", new_handoff_project_subject_path(@project, @subject, subject_event_id: subject_event.id), class: "btn btn-accent shadow-sm btn-block"
  .card-body.p-0
    %div{ id: "subject-event-#{subject_event.id}-percent-progress-bar" }
      = render "subject_events/progress_bar", subject_event: subject_event

    %div{ id: "subject-event-#{subject_event.id}-sheets" }
      = render "subject_events/panel_body", subject_event: subject_event
