- if @project.unblinded?(current_user)
  - percent = subject_event.unblinded_percent
  - responses = subject_event.unblinded_responses_count
  - questions = subject_event.unblinded_questions_count
- else
  - percent = subject_event.blinded_percent
  - responses = subject_event.blinded_responses_count
  - questions = subject_event.blinded_questions_count

- if percent == 100
  = icon("fas", "check-square", class: "text-success")
- elsif percent && percent >= 90
  = icon("fas", "square", class: "text-success")
- elsif percent.nil?
  - if current_user.theme == "spring"
    %span.fa-stack.flower-stack
      = icon("fab", "pagelines", class: "fa-stack-1x")
      = icon("fas", "circle", class: "fa-stack-1x")
      = icon("far", "sun", class: "fa-stack-1x flower-spin")
  - else
    = icon("fas", "spinner", class: "fa-pulse text-muted")
  %div{ style: "display:none;", aria: { hidden: "true" }, data: { object: "sheet-coverage-updater", url: event_coverage_project_subject_path(@project, subject_event.subject, subject_event_id: subject_event.id) } }
- else
  = icon("far", "square", class: "text-muted")

= link_to subject_event.name, event_project_subject_path(@project, subject_event.subject, event_id: subject_event.event, subject_event_id: subject_event.id, event_date: subject_event.event_date_to_param)

- if percent
  %small.d-none.d-sm-inline
    %strong{ rel: "tooltip", data: { title: "#{responses} of #{questions} #{questions == 1 ? "question" : "questions"}", container: "body", placement: "top" } }= "#{percent}%"
    complete
