- @title = "My Settings"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading= @title

.body-attachment
  .container.attachment-container
    = render "theme/lower_left_icon"
    = render "theme/upper_right_icon"

.row
  .col-md-6
    .panel.panel-primary
      .panel-heading
        - if current_user.theme == "spring"
          %span.fa-stack.flower-stack
            %i.fa.fa-pagelines.fa-stack-1x
            %i.fa.fa-circle.fa-stack-1x
            %i.fa.fa-sun-o.fa-stack-1x
        - else
          %i.fa.fa-cog
        My Settings
      .panel-body
        = form_for current_user, url: settings_path, method: :post, html: { class: "form-vertical" } do |form|
          .form-group
            = render "layouts/label_or_errors", form: form, object: current_user, key: :first_name
            = form.text_field :first_name, class: "form-control"

          .form-group
            = render "layouts/label_or_errors", form: form, object: current_user, key: :last_name
            = form.text_field :last_name, class: "form-control"

          .form-group
            = render "layouts/label_or_errors", form: form, object: current_user, key: :email
            = form.text_field :email, class: "form-control"

          .form-group
            = form.label :emails_enabled, "Email Settings"
            .checkbox
              %label
                = form.check_box :emails_enabled
                Allow
                = ENV["website_name"]
                to send you emails.
              = link_to "#", class: "btn btn-xs btn-default", tabindex: "-1", data: { object: "toggle-visibility", target: "#email_information"} do
                %i.fa.fa-info-circle

            #email_information.callout.callout-info{ style: "display: none" }
              Unchecking this box will disable all emails. You will still receive emails for:
              %ul
                %li Password reset emails

          .form-group
            = form.label :theme, "Theme", class: "control-label"
            = form.select :theme, Slice::THEMES, { include_blank: "Default" }, class: "form-control"

          .form-group
            = form.label :sound_enabled, "Sound Enabled"
            .checkbox
              %label
                = form.check_box :sound_enabled
                Enable audio alerts when entering data.

          - if false
            .form-group
              = form.label :beta_enabled, "Beta Preview"
              .checkbox
                %label
                  = form.check_box :beta_enabled
                  Enable Beta Preview

          .form-group.submit-btn-container
            = form.submit "Save Settings", class: "btn btn-accent btn-shadow"

  .col-md-6
    .panel.panel-primary
      .panel-heading
        %span.glyphicon.glyphicon-lock
        Change Password
      .panel-body
        = form_for current_user, url: change_password_path, method: :patch, html: { id: "reset_password", class: "form-vertical" } do |form|
          .form-group
            = render "layouts/label_or_errors", form: form, object: current_user, key: :current_password, key_name: "Current Password"
            = form.password_field :current_password, class: "form-control", autocomplete: "off"

          .form-group
            = render "layouts/label_or_errors", form: form, object: current_user, key: :password, key_name: "New Password"
            = form.password_field :password, class: "form-control", autocomplete: "off"

          .form-group
            = render "layouts/label_or_errors", form: form, object: current_user, key: :password_confirmation, key_name: "Password Confirmation"
            = form.password_field :password_confirmation, class: "form-control", autocomplete: "off"

          .form-group.submit-btn-container
            = link_to "Update Password", "#", class: "btn btn-accent btn-shadow", data: { object: "settings-save", target: "#reset_password" }
      .panel-footer
        - if current_user.password_expires_in > 0
          Your password will expire in
          = pluralize current_user.password_expires_in, "day"
          on
          = current_user.password_expires_on.strftime("%a, %B %-d, %Y.")
        - else
          Your password has expired.

    .panel.panel-primary
      .panel-heading
        My Profile Picture
      .panel-body
        .center= image_tag current_user.avatar_url(80, "identicon"), class: "img-rounded"
        .callout.callout-accent{ style: "margin-bottom:0" }
          You can change your picture at
          = link_to "gravatar.com", "http://gravatar.com", class: "callout-link"
