- @title = "My Settings"

- content_for :header, @title

.row
  .col-md-6
    .card
      .card-header
        - if (params[:theme].presence || current_user.theme) == "spring"
          %span.fa-stack.flower-stack
            = icon("fab", "pagelines", class: "fa-stack-1x")
            = icon("fas", "circle", class: "fa-stack-1x")
            = icon("far", "sun", class: "fa-stack-1x")
        - else
          = icon("fas", "cog")
        My Settings
      .card-body

        = form_with model: current_user, url: settings_path, method: :post, local: true do |form|
          = render "forms/vertical/text_field", form: form, object: current_user, key: :full_name
          = render "forms/vertical/email_field", form: form, object: current_user, key: :email
          = render "forms/vertical/check_box", form: form, object: current_user, key: :emails_enabled, help_text: "Allow #{ENV["website_name"]} to send you emails. Unchecking this box will disable all emails except for password reset and account unlock emails."
          = render "forms/vertical/select", form: form, object: current_user, key: :theme, options: Slice::THEMES
          = render "forms/vertical/check_box", form: form, object: current_user, key: :sound_enabled, help_text: "Enable audio alerts when entering data."
          = render "forms/vertical/submit", form: form, object: current_user, submit_text: "Save settings", cancel: false

  .col-md-6
    .card.mb-4
      .card-header
        = icon("fas", "lock")
        Change Password
      .card-body
        = form_with model: current_user, url: change_password_path, method: :patch, local: true, id: "reset_password" do |form|
          = render "forms/vertical/password_field", form: form, object: current_user, key: :current_password, key_name: "Old password", autocomplete: "current-password"
          = render "forms/vertical/password_field", form: form, object: current_user, key: :password, key_name: "New password", autocomplete: "new-password"
          = render "forms/vertical/password_field", form: form, object: current_user, key: :password_confirmation, key_name: "Confirm new password", autocomplete: "new-password"
          = render "forms/vertical/submit", form: form, object: current_user, submit_text: "Update password", cancel: false

      .card-footer
        - if current_user.password_expires_in > 0
          Your password will expire in
          = pluralize current_user.password_expires_in, "day"
          on
          = current_user.password_expires_on.strftime("%a, %B %-d, %Y.")
        - else
          Your password has expired.

    .card
      .card-header
        = icon("fas", "user-circle")
        Profile Picture
      .card-body
        = form_with model: current_user, url: update_profile_picture_path, method: :patch, local: true do |form|
          = profile_picture_tag current_user
          = render "forms/vertical/file_field", form: form, object: current_user, key: :profile_picture
          = render "forms/vertical/submit", form: form, object: current_user, submit_text: "Upload new picture", cancel: false
