- content_for :tabs do
  - current_page = current_page?(ae_module_adverse_event_path(project, adverse_event)) || (params[:controller] == "ae_module/info_requests") || (params[:controller] == "ae_module/sheets") || (params[:controller] == "ae_module/reviewers") || params[:action].in?(%w(form form_save)) || (params[:controller] == "ae_module/adverse_events" && params[:action].in?(%w(edit update)))
  = link_to ae_module_adverse_event_path(project, adverse_event), class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "inbox")
    - if current_page
      Overview
    - else
      .d-none.d-sm-inline Overview

  - current_page = (params[:controller] == "ae_module/documents")
  = link_to ae_module_documents_path(project, adverse_event), class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "paperclip")
    - if current_page
      Documents
    - else
      .d-none.d-sm-inline Documents

  - current_page = current_page?(log_ae_module_adverse_event_path(project, adverse_event))
  = link_to log_ae_module_adverse_event_path(project, adverse_event), class: "header-tab #{"header-tab-active" if current_page}" do
    = icon("fas", "file-alt")
    - if current_page
      Log
    - else
      .d-none.d-sm-inline Log

  - current_page = current_page?(history_ae_module_adverse_event_path(project, adverse_event))
  - events_count = @adverse_event.historical_events.count
  - if current_page || events_count > 1
    = link_to history_ae_module_adverse_event_path(project, adverse_event), class: "header-tab #{"header-tab-active" if current_page}" do
      = icon("fas", "procedures")
      - if current_page
        History
        - if events_count.positive?
          %span.badge.badge-pill.badge-dark= events_count
      - else
        .d-none.d-sm-inline
          History
          - if events_count.positive?
            %span.badge.badge-pill.badge-dark= events_count
