%td{ class: (notification.read? ? "text-muted" : "text-danger") }
  = icon("fas", "exclamation-triangle")

%td.nowrap{ class: "#{"text-muted" if notification.read?}" }
  .overflow-hidden
    = link_to notification, class: (notification.read? ? "link-muted" : "link-unstyled") do
      Updated
      = notification.adverse_event.name
      for
      = notification.adverse_event.subject.name
      %small.text-muted
        = notification.adverse_event.description

%td.d-none.d-md-table-cell
