%td
  %i.fa.fa-check-circle{ class: (notification.read? ? "text-muted" : "text-success") }

%td.nowrap{ class: "#{"text-muted" if notification.read?}" }
  .overflow-hidden
    = link_to notification, class: (notification.read? ? "link-muted" : "link-unstyled") do
      = notification.handoff.subject_event.name
      completed by
      = succeed "." do
        = notification.handoff.subject_event.subject.name

%td.d-none.d-sm-table-cell
