%td{ class: (notification.read? ? "text-muted" : "text-primary") }
  = icon("fas", "file")

%td.nowrap{ class: "#{"text-muted" if notification.read?}" }
  .overflow-hidden
    = link_to notification, class: (notification.read? ? "link-muted" : "link-unstyled") do
      = notification.sheet.name
      created for
      = succeed "." do
        = notification.sheet.subject.name

%td.d-none.d-md-table-cell
  = profile_picture_tag notification.sheet.user, size: 18 if notification.sheet.user
