%td
  %span.glyphicon.glyphicon-lock{ class: "#{notification.read? ? 'text-muted' : 'text-primary'}" }

%td.nowrap{ class: "#{'text-muted' if notification.read?}" }
  .overflow-hidden
    = link_to notification, class: "#{notification.read? ? 'link-muted' : 'link-unstyled' }" do
      %span.label.label-primary Unlock Request
      = strip_tags(simple_markdown notification.sheet_unlock_request.reason).html_safe

%td.hidden-xs
  = image_tag notification.sheet_unlock_request.user.avatar_url(18, 'identicon'), size: '18x18', alt: ''
