- @projects = current_user.all_viewable_and_site_projects.by_favorite(current_user.id).order("(favorite IS NULL or favorite = 'f') ASC, name").page(params[:page]).per( 40 )

- favorited_projects = @projects.select{|p| p.favorited_by?(current_user)}
- current_projects = @projects.reject{|p| p.favorited_by?(current_user)}

- if favorited_projects.count > 0
  %p.lead Favorites

  - @projects.select{|p| p.favorited_by?(current_user)}.each do |project|
    = render partial: 'projects/beta/splash_project_box', locals: { project: project }

- if current_projects.count > 0
  %p.lead Current Projects

  - @projects.reject{|p| p.favorited_by?(current_user)}.each do |project|
    = render partial: 'projects/beta/splash_project_box', locals: { project: project }

.projects-box
  = link_to new_project_path, class: 'btn btn-success-inverse' do
    %span.glyphicon.glyphicon-plus
    Create
    %strong.btn-text-emphasis New Project

.center
  = paginate @projects, theme: "contour"

- if false
  %div{ style: "margin-left:100px" }

    %div{ style: 'margin-bottom:20px' }
      Favorites

      .projects-box{ style: "margin-left: 20px" }
        - @projects.select{|p| p.favorited_by?(current_user)}.each do |project|
          %div{ style: 'border-bottom: 1px solid #333;padding:10px 0px;' }
            = link_to project.name, project
            .pull-right
              = link_to project_subjects_path(project), class: 'hover-link' do
                = number_with_delimiter project.subjects.where(status: 'valid').count
              - if project.favorited_by?(current_user)
                %span.glyphicon.glyphicon-star
              - else
                %span.glyphicon.glyphicon-star-empty


    %div{ style: 'margin-bottom:20px' }
      Inbox

      .projects-box{ style: "margin-left: 20px" }
        - @projects.reject{|p| p.favorited_by?(current_user)}.each do |project|
          %div{ style: 'border-bottom: 1px solid #333;padding:10px 0px;' }
            = link_to project.name, project
            .pull-right
              = link_to project_subjects_path(project), class: 'hover-link' do
                = number_with_delimiter project.subjects.where(status: 'valid').count
              - if project.favorited_by?(current_user)
                %span.glyphicon.glyphicon-star
              - else
                %span.glyphicon.glyphicon-star-empty

    %div{ style: 'margin-bottom:20px' }
      Archived

      .projects-box{ style: "margin-left: 20px" }
        .text-muted{ style: 'padding:10px 0px;' }
          You have
          %strong 3
          archived projects.




  .center
    = paginate @projects, theme: "contour"




  %table.table{ style: 'table-layout:fixed' }
    %thead
      %tr
        - ['S', 'M', 'T', 'W', 'R', 'F', 'S'].each do |weekday|
          %th.center= weekday
    %tbody
      %tr{ style: 'border-top: 0px solid transparent' }
        %td{ style: 'border: 1px solid #DDD'}

        %td{ style: 'border: 1px solid #DDD'}
          S1(2)
        %td{ style: 'border: 1px solid #DDD'}
          S2
          %br
          S3
        %td{ style: 'border: 1px solid #DDD'}
        %td{ style: 'border: 1px solid #DDD'}
        %td{ style: 'border: 1px solid #DDD'}
        %td{ style: 'border: 1px solid #DDD'}
