- @title = @organization.name

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_organization_path(@organization), delete_url: [@organization], delete_confirmation: "Delete \"#{@organization.name}\"?"
  = @title

.dashboard-container
  = render "forms/horizontal/show/text", object: @organization, key: :name
  = render "forms/horizontal/show/generic", title: "Members", content: ""
