- @title = "Categories"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    = link_to plus_or("New Category"), new_project_category_path(@project), class: "btn btn-accent btn-shadow"
  = @title
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 40, object_count: @categories.total_count
  %ol
    %li.breadcrumb-muted categories
    %li= link_to icon("fas", "search"), "#", data: { object: "toggle-search-container", target: "#search" }

= render "search/simple", url: project_categories_path(@project)

- if @categories.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col{ width: "1px" }
      %col
      %col.d-none.d-md-table-column
      %col{ width: "1px" }
      %thead
        %tr
          = th_sort_field @order, "categories.position", "Position", extra_class: "text-center"
          = th_sort_field @order, "categories.name", "Name"
          %th.d-none.d-md-table-cell.text-center Use for adverse events
          %th.text-center Actions

      %tbody
        - @categories.each do |category|
          %tr
            %td.text-center= category.position
            %td= link_to category.name, [@project, category]
            %td.d-none.d-md-table-cell.text-center= simple_check category.use_for_adverse_events
            %td.text-center
              = render "layouts/edit_delete_dropdown", edit_url: edit_project_category_path(@project, category), delete_url: [@project, category], delete_confirmation: "Delete \"#{category.name}\" category?"

  .center-horizontally= paginate @categories, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    No categories found.
