- @title = @category.name

- links = []
- links << ['Categories', project_categories_path(@project)]
- links << [@category.name, [@project, @category]]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid

    %h2.underline-heading
      = @title
      = link_to 'Edit Category', edit_project_category_path(@project, @category), class: 'btn btn-default btn-xs'
      = link_to 'Delete Category', [@project, @category], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Category #{@category.name}?" }


    %dl.dl-horizontal
      %dt Position
      %dd= @category.position

      %dt Description
      %dd= simple_markdown @category.description

      %dt Use for adverse events
      %dd= @category.use_for_adverse_events

      %dt Creator
      %dd= @category.user.name

      %dt Designs
      %dd
        %ul.list-unstyled
          - @category.designs.order(:name).each do |design|
            %li= link_to design.name, [@project, design]
