- @title = @category.name
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .dropdown
            = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to edit_project_category_path(@project, @category) do
                  %span.glyphicon.glyphicon-edit
                  Edit
              %li.divider{ role: 'separator' }
              %li
                = link_to [@project, @category], method: :delete, data: { confirm: "Are you sure you want to delete Category #{@category.name}?" } do
                  .text-danger
                    %span.glyphicon.glyphicon-trash
                    Delete

        = render 'layouts/side_nav_header_button'
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.hidden-xs{ width: '30%' }
    %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }
    %tr
      %th Position
      %td= @category.position
    %tr
      %th Description
      %td= simple_markdown @category.description
    %tr
      %th Use for adverse events
      %td= simple_check @category.use_for_adverse_events
    %tr
      %th Creator
      %td= @category.user.name
    %tr
      %th Designs
      %td
        %ul.list-unstyled
          - @category.designs.order(:name).each do |design|
            %li= link_to design.name, [@project, design]

