- @title = @category.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_project_category_path(@project, @category), delete_url: [@project, @category], delete_confirmation: "Delete \"#{@category.name}\" category?"
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "categories", project_categories_path(@project)
    %li.breadcrumb-muted= @category.name.downcase

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Position
      %td= @category.position
    %tr
      %th Description
      %td= simple_markdown_old @category.description
    %tr
      %th Use for adverse events
      %td= simple_check @category.use_for_adverse_events
    %tr
      %th Creator
      %td= @category.user.full_name
    %tr
      %th Designs
      %td
        %ul.list-unstyled
          - @category.designs.order(:name).each do |design|
            %li= link_to design.name, [@project, design]

