%b
  Dear
  = succeed ',' do
    = @resource.first_name
%br
%br
Someone has requested a link to change your password. You can do this through the link below.
%br
%br
%center
  = link_to 'Change my password', "#{ENV['website_url']}/password/edit?reset_password_token=#{@token}", style: 'color: #428bca'
%br
%br
If you didn't request this, please ignore this email.
%br
Your password won't change until you access the link above and create a new one.
%br
