%p{ style: p_style }
  Dear
  = succeed ',' do
    = @resource.first_name

%p{ style: p_style }
  Someone has requested a link to change your password. You can do this through the link below.

%p{ style: center_style }
  = link_to 'Change my password', "#{ENV['website_url']}/password/edit?reset_password_token=#{@token}", style: link_style

%p{ style: p_style }
  If you didn't request this, please ignore this email.

%p{ style: p_style }
  Your password won't change until you access the link above and create a new one.
