%p{ style: p_style }
  Dear
  = succeed "," do
    = @resource.first_name

%p{ style: p_style }
  Your account has been locked due to an excessive number of unsuccessful sign
  in attempts. Click the link below to unlock your account:

%p{ style: center_style }
  = link_to "Unlock my account", "#{ENV["website_url"]}/unlock?unlock_token=#{@token}", style: link_style
