<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">
    Edit Filter
  </h4>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-lg-6">
      <div class="download-container">
        <h3><%= @variable.display_name %></h3>
        <% if ['site', 'sheet_date'].include?(params[:variable_id]) %>
          <%= hidden_field_tag :missing, '0' %>
        <% else %>
          <label class="checkbox <%= 'selected' if params[:missing] == '1' %>"><%= check_box_tag :missing, '1', params[:missing] == '1' %> Include Missing</label>
        <% end %>
      </div>
    </div>

    <div class="col-lg-6">
      <div id="cool-options" class="download-container">
        <%= render partial: 'filters/cool_options' %>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <%= button_tag 'Update Filter', data: { object: 'update-filter', variable_id: params[:variable_id] }, class: 'btn btn-primary' %>
  <%= button_tag 'Remove', data: { object: 'remove-filter', target: "#variable_#{params[:variable_id]}" }, class: 'btn btn-danger-inverse' %>
  <button type="button" class="btn btn-cancel-inverse" data-dismiss="modal">Cancel</button>
</div>
