<% v = @project.variable_by_id(filter[:id]) %>
<% if v %>
  <div id="variable_<%= filter[:id] %>" class="filter-bubble" style="overflow:hidden;white-space:nowrap" data-object='edit-filter' data-variable-id="<%= filter[:id] %>" data-project-id="<%= v.project_id %>">
    <%= hidden_field_tag "f[][id]", filter[:id] %>
    <%= hidden_field_tag "f[][missing]", filter[:missing], data: { name: 'missing' } %>
    <%= hidden_field_tag "f[][axis]", filter[:axis], data: { name: 'axis' } %>
    <%= hidden_field_tag "f[][by]", filter[:by], data: { name: 'by' } %>
    <i class="icon-move"></i>
    <% if filter[:missing] == '1' %><span class="label" style="background-color:#ffc8ba;" title="Includes Missing">m</span><% end %>
    <% if ['sheet_date', 'date'].include?(v.variable_type) %><span class="label" style="background-color:#7aa6ff;" title="by"><%= filter[:by] %></span><% end %>
    <span title="<%= v.display_name %>" style="overflow:hidden;cursor:pointer;font-size:0.8em">
      <%= v.display_name %>
    </span>
    <%#= link_to 'edit', '#', data: { object: 'edit-filter', variable_id: filter[:id], project_id: v.project_id }, class: 'btn btn-default btn-mini' %>
    <%#= link_to 'remove', "#", data: { object: 'remove-filter', target: "#variable_#{filter[:id]}" }, class: 'btn btn-mini btn-danger-inverse' %>
  </div>
<% end %>
