%strong{ style: 'margin-top:0px' }
  = @variable.display_name

- params[:by] = 'month' if params[:by].blank?

%br

- if ['sheet_date', 'date'].include?(@variable.variable_type)
  %form.form-horizontal
    - [['Week', 'week'],['Month', 'month'],['Year', 'year']].each do |name, value|
      %label.radio-inline.checkbox-radio-outline{ class: "#{'selected' if params[:by] == value}" }
        = radio_button_tag 'by', value, params[:by] == value
        = name
- else
  = hidden_field_tag 'by', ''

= form_with do |form|
  %div{ style: 'max-height: 300px; overflow: scroll' }
    - if @variable.domain_options.present?
      - @variable.alignment = 'vertical'
      - @variable.variable_type = 'radio'
      = render "sheet_variables/form/#{@variable.variable_type == 'checkbox' ? 'checkbox' : 'radio'}", form: form, response: nil, disabled: true, variable: @variable, field_name: "variables[#{@variable.id}]"
