.mb-2
  %strong= @variable.display_name

- params[:by] = "month" if params[:by].blank?

- if ["sheet_date", "date"].include?(@variable.variable_type)
  %form
    - [["Week", "week"],["Month", "month"],["Year", "year"]].each do |name, value|
      .custom-control.custom-radio
        = radio_button_tag :by, value, params[:by] == value, class: "custom-control-input", id: "by_#{value}"
        = label_tag "by_#{value}", name, class: "custom-control-label"
- else
  = hidden_field_tag "by", ""

= form_with do |form|
  %div{ style: "max-height: 300px; overflow: scroll" }
    - if @variable.domain_options.present?
      - @variable.alignment = "vertical"
      - @variable.variable_type = "radio"
      = render "sheet_variables/form/#{@variable.variable_type == "checkbox" ? "checkbox" : "radio"}", form: form, response: nil, disabled: true, variable: @variable, field_name: "variables[#{@variable.id}]"
