- variable = @project.variable_by_id(filter[:id])
- if variable
  .filter-bubble.nowrap.bg-light.rounded{ id: "variable_#{filter[:id]}", style: "overflow:hidden", data: { object: "edit-filter", variable_id: filter[:id], project_id: variable.project_id } }
    = hidden_field_tag "f[][id]", filter[:id]
    = hidden_field_tag "f[][missing]", filter[:missing], data: { name: "missing" }
    = hidden_field_tag "f[][axis]", filter[:axis], data: { name: "axis" }
    = hidden_field_tag "f[][by]", filter[:by], data: { name: "by" }
    %i.fa.fa-arrows
    - if filter[:missing] == "1"
      %span.badge.badge-danger m
    - if ["sheet_date", "date"].include?(variable.variable_type)
      %span.badge.badge-primary= filter[:by]
    %span{ title: variable.display_name, style: "overflow: hidden;cursor: pointer;font-size: 0.8rem;" }
      = variable.display_name
