- url = grid_variable.new_record? ? editor_project_grid_variables_path(grid_variable.project) : editor_project_grid_variable_path(grid_variable.project, grid_variable)
- method = grid_variable.new_record? ? :post : :patch
= form_with model: [grid_variable.project, grid_variable], url: url, method: method, local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: grid_variable, key: :parent_variable_id
  = render "forms/horizontal/text_field", form: form, object: grid_variable, key: :child_variable_id
  = render "forms/horizontal/number_field", form: form, object: grid_variable, key: :position
  - cancel = grid_variable.new_record? ? editor_project_grid_variables_path(grid_variable.project) : editor_project_grid_variable_path(grid_variable.project, grid_variable)
  = render "forms/horizontal/submit", form: form, object: [grid_variable.project, grid_variable], cancel: cancel
