- @title = "#{@grid_variable.id} Edit"
- @menu_title = "#{@project.name} #{@title}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  = link_to @grid_variable.id, editor_project_grid_variable_path(@project, @grid_variable)
  Edit

.dashboard-container= render "form", grid_variable: @grid_variable
