- @title = @grid_variable.id
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    = render "layouts/edit_delete_dropdown_lg", edit_url: edit_editor_project_grid_variable_path(@project, @grid_variable), delete_url: editor_project_grid_variable_path(@project, @grid_variable), delete_confirmation: "Delete #{@grid_variable.child_variable.name} from #{@grid_variable.parent_variable.name}?"
  = @title

.dashboard-container
  .row
    .col-sm-2.col-buffer
      %strong Parent Variable
    .col-sm-10.col-buffer= @grid_variable.parent_variable.name

  .row
    .col-sm-2.col-buffer
      %strong Child Variable
    .col-sm-10.col-buffer= @grid_variable.child_variable.name

  .row
    .col-sm-2.col-buffer
      %strong Position
    .col-sm-10.col-buffer= @grid_variable.position
