.form-group.row.site-row{ class: index.nil? ? "site-row-hidden" : nil }
  .col-sm-1
    = label "invite", "Invite", class: "col-form-label"
  .col-sm-4.col-buffer-visible-xs
    = text_field_tag "invites[][email]", "", autocomplete: "off", class: "form-control", placeholder: "johnsmith@example.com", data: { object: "typeahead-users" }

  .col-sm-2.col-buffer-visible-xs
    = select_tag "invites[][site_id]", options_for_select([[@project.name, nil]] + @project.sites.order(:name).collect{|s| ["-- #{s.name}", s.id]}), class: "form-control"

  .col-6.col-sm-2.col-buffer-visible-xs
    %label.btn.btn-link{ style: "text-decoration: none;" }
      = check_box_tag "invites[][editor]", "1", true
      Editor

  - if @project.unblinded?(current_user)
    .col-6.col-sm-2{ style: "#{"display: none;" unless @project.blinding_enabled?}" }
      %label.btn.btn-link{ style: "text-decoration: none;" }
        = check_box_tag "invites[][unblinded]", "1", true
        Unblinded
