- @title = 'Advanced Setup'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'
= render 'layouts/simple_header'

.dashboard-container
  %ul
    %li{ style: 'margin-bottom: 20px;' }= link_to 'Create Design from Import', imports_new_project_designs_path(@project)
    %li{ style: 'margin-bottom: 0;' }= mail_to ENV['support_email'], 'Set Subject Code Name', subject: "Set Subject Code Name for #{@project.name} ##{@project.id}", body: "Please set this project's subject code name to ___."
