- @title = "#{@project.name_was} Edit"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = render 'layouts/side_nav_header_button'
        = link_to @project.name_was, settings_editor_project_path(@project)
        Edit

.dashboard-container= render 'projects/form'
