- @title = "Invite Team Members"
- @menu_title = "#{@project.name} #{@title}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.dashboard-container
  %p.lead
    Invite by email.

  = form_with url: send_invites_editor_project_path(@project), method: :post, local: true, id: "invites-form" do
    #invites{ style: "margin-bottom: 20px" }
      = render "editor/projects/invite_row", index: 0

    .form-group.row
      .col-sm-1
      .col-sm-11
        = link_to "+ Add another email", add_invite_row_editor_project_path(@project), method: :post, remote: true, class: "btn btn-sm btn-accent"
        = link_to "Learn more...", docs_roles_path, class: "btn btn-sm btn-link"

.row
  .col-sm-0.col-md-4
  .col-sm-6.col-md-4.col-buffer-visible-xs
    = link_to "Skip this step", settings_editor_project_path(@project), class: "btn btn-block btn-lg btn-outline-dark"

  .col-sm-6.col-md-4
    = link_to "#", data: { object: "submit", target: "#invites-form" }, class: "btn btn-lg btn-primary btn-shadow btn-block" do
      Send Invites
      %i.fa.fa-caret-right
