- @title = "Settings"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

- if @project.ae_teams_enabled?
  %a.anchor-top{ name: "adverse-events", id: "adverse-events" }
  .card.mb-3
    %h5.card-header
      Adverse events
      .btn.btn-success.btn-sm.btn-shadow.disabled{ disabled: true } Enabled
    .card-body
      .mb-3.d-flex.align-items-center
        .p-3.border-right.text-center{ style: "min-width: 4.5rem;" }= icon("fas", "users", class: "fa-2x")
        .p-3
          = link_to "Manage teams", editor_project_ae_teams_path(@project)
          .small.text-muted
            Setup adverse event review teams.
      .mb-3.d-flex.align-items-center
        .p-3.border-right.text-center{ style: "min-width: 4.5rem;" }= icon("fas", "copy", class: "fa-2x")
        .p-3
          = link_to "Setup designs", setup_designs_editor_project_path(@project)
          .small.text-muted Specify designs to be completed by adverse event reporters and reviewers.

      .d-flex.align-items-center
        .p-3{ style: "min-width: 4.5rem;" }
        .p-3
          = link_to docs_adverse_events_path, class: "text-muted" do
            = icon("fas", "info-circle")
            Learn more...
- else
  %a.anchor-top{ name: "adverse-events", id: "adverse-events" }
  .card.mb-3
    %h5.card-header
      Adverse events
      - if @project.adverse_events_enabled?
        = link_to "ON", editor_project_path(@project, project: { adverse_events_enabled: "0" }), method: :patch, class: "btn btn-success btn-sm btn-shadow"
      - else
        = link_to "OFF", editor_project_path(@project, project: { adverse_events_enabled: "1" }), method: :patch, class: "btn btn-light btn-sm btn-shadow"

    .card-body
      .d-flex.align-items-center
        .p-3{ style: "min-width: 4.5rem;" }
        .p-3
          = link_to docs_adverse_events_path, class: "text-muted" do
            = icon("fas", "info-circle")
            Learn more...

%a.anchor-top{ name: "blinding", id: "blinding" }
.card.mb-3
  %h5.card-header
    Blinding
    - if @project.blinding_enabled?
      - if @project.unblinded?(current_user)
        = link_to "ON", editor_project_path(@project, project: { blinding_enabled: "0" }), method: :patch, class: "btn btn-success btn-sm btn-shadow"
      - else
        .btn.btn-success.btn-sm.btn-shadow.disabled{ disabled: true }
          ON
    - else
      = link_to "OFF", editor_project_path(@project, project: { blinding_enabled: "1" }), method: :patch, class: "btn btn-light btn-sm btn-shadow"

  .card-body
    .mb-3.d-flex.align-items-center
      .p-3.border-right.text-center{ style: "min-width: 4.5rem;" }= icon("fas", "blind", class: "fa-2x")
      .p-3
        .small.text-muted
          - if @project.blinding_enabled?
            Set member blinding on the
            = succeed "." do
              = link_to "team page", project_team_path(@project)
            Check the "Only unblinded" setting on
            = link_to "events", project_events_path(@project)
            and
            = link_to "designs", project_designs_path(@project)
            to hide them from blinded team members.
          - else
            Blinding is disabled for this project.

    .d-flex.align-items-center
      .p-3{ style: "min-width: 4.5rem;" }
      .p-3
        = link_to docs_blinding_path, class: "text-muted" do
          = icon("fas", "info-circle")
          Learn more...

%a.anchor-top{ name: "randomizations", id: "randomizations" }
.card.mb-3
  %h5.card-header
    Randomizations
    - if @project.randomizations_enabled?
      = link_to "ON", editor_project_path(@project, project: { randomizations_enabled: "0" }), method: :patch, class: "btn btn-success btn-sm btn-shadow"
    - else
      = link_to "OFF", editor_project_path(@project, project: { randomizations_enabled: "1" }), method: :patch, class: "btn btn-light btn-sm btn-shadow"

  .card-body
    - if @project.randomizations_enabled?
      .mb-3.d-flex.align-items-center
        .p-3.border-right.text-center{ style: "min-width: 4.5rem;" }= icon("fas", "random", class: "fa-2x")
        .p-3
          = link_to "Manage randomizations", project_randomization_schemes_path(@project)
          .small.text-muted
            Setup randomization schemes.
    .d-flex.align-items-center
      .p-3{ style: "min-width: 4.5rem;" }
      .p-3
        = link_to docs_randomization_schemes_path, class: "text-muted" do
          = icon("fas", "info-circle")
          Learn more...

%a.anchor-top{ name: "emails", id: "emails" }
.card.mb-3
  %h5.card-header
    Project emails
    - if @project.disable_all_emails?
      = link_to editor_project_path(@project, project: { disable_all_emails: "0" }), method: :patch, class: "btn btn-light btn-sm btn-shadow" do
        Disabled
    - else
      = link_to editor_project_path(@project, project: { disable_all_emails: "1" }), method: :patch, class: "btn btn-success btn-sm btn-shadow" do
        Enabled
  .card-body
    .mb-3.d-flex.align-items-center
      .p-3.border-right.text-center{ style: "min-width: 4.5rem;" }= icon("fas", "envelope", class: "fa-2x")
      .p-3
        .small.text-muted
          - if @project.disable_all_emails?
            Daily digest emails are
            %strong disabled
            for this project.
          - else
            Daily digest emails are enabled for this project.

    .d-flex.align-items-center
      .p-3{ style: "min-width: 4.5rem;" }
      .p-3
        = link_to docs_notifications_path, class: "text-muted" do
          = icon("fas", "info-circle")
          Learn more...

%a.anchor-top{ name: "tablet-handoff", id: "tablet-handoff" }
.card.mb-3
  %h5.card-header
    Tablet handoff
    - if @project.handoffs_enabled?
      = link_to editor_project_path(@project, project: { handoffs_enabled: "0" }), method: :patch, class: "btn btn-success btn-sm btn-shadow" do
        Enabled
    - else
      = link_to editor_project_path(@project, project: { handoffs_enabled: "1" }), method: :patch, class: "btn btn-light btn-sm btn-shadow" do
        Disabled
  .card-body

    .mb-3.d-flex.align-items-center
      .p-3.border-right{ style: "min-width: 4.5rem;" }= icon("fas", "tablet-alt", class: "fa-2x")
      .p-3
        .small.text-muted
          - if @project.handoffs_enabled?
            Add designs to tablet handoffs by
            checking "Handoff Enabled" on
            = succeed "." do
              = link_to "events", project_events_path(@project)
          - else
            Tablet handoffs are not enabled.

    .d-flex.align-items-center
      .p-3{ style: "min-width: 4.5rem;" }
      .p-3
        = link_to docs_notifications_path, class: "text-muted" do
          = icon("fas", "info-circle")
          Learn more...

%a.anchor-top{ name: "sheet-locking", id: "sheet-locking" }
.card.mb-3
  %h5.card-header
    Sheet locking
    - if @project.auto_locking_enabled?
      .btn.btn-success.btn-sm.btn-shadow.disabled{ disabled: true } ON
    - else
      .btn.btn-light.btn-sm.btn-shadow.disabled{ disabled: true } OFF
  .card-body
    .mb-3.small.text-muted
      - if @project.auto_lock_sheets == "never"
        Sheets do not automatically lock.
      - else
        Sheets automatically lock after
        = succeed "." do
          = @project.auto_lock_name.downcase
        After this time, a request must be made and approved to make
        additional changes to the sheet.

    - Project::AUTO_LOCK_SHEETS.each do |label, value|
      .d-flex.align-items-center
        .p-3.border-right.text-center{ style: "min-width: 4.5rem;" }
          - case value when "after24hours"
            = icon("fas", "calendar-day", class: "fa-2x")
          - when "after1week"
            = icon("fas", "calendar-week", class: "fa-2x")
          - when "after1month"
            = icon("fas", "calendar-alt", class: "fa-2x")
          - else
            = icon("fas", "calendar", class: "fa-2x")
        .p-3
          - selected = (value == @project.auto_lock_sheets)
          = link_to editor_project_path(@project, project: { auto_lock_sheets: value }), method: :patch, class: "btn #{selected ? "btn-primary" : "btn-light"}" do
            - if selected
              = icon("fas", "check-square")
            - else
              = icon("far", "square")
            = label

    .d-flex.align-items-center
      .p-3{ style: "min-width: 4.5rem;" }
      .p-3
        = link_to docs_locking_path, class: "text-muted" do
          = icon("fas", "info-circle")
          Learn more...

%a.anchor-top{ name: "translations", id: "translations" }
.card.mb-3
  %h5.card-header
    Translations
    - if @project.translations_enabled?
      = link_to editor_project_path(@project, project: { translations_enabled: "0" }), method: :patch, class: "btn btn-success btn-sm btn-shadow" do
        Enabled
    - else
      = link_to editor_project_path(@project, project: { translations_enabled: "1" }), method: :patch, class: "btn btn-light btn-sm btn-shadow" do
        Disabled
  .card-body
    .mb-3.d-flex.align-items-center
      .p-3.border-right.text-center{ style: "min-width: 4.5rem;" }= icon("fas", "globe-americas", class: "fa-2x")
      .p-3
        #languages= render "editor/projects/languages", project: @project

%a.anchor-top{ name: "pdf-values", id: "pdf-values" }
.card.mb-3
  %h5.card-header
    Domain values on PDFs
    - if @project.hide_values_on_pdfs?
      = link_to editor_project_path(@project, project: { hide_values_on_pdfs: "0" }), method: :patch, class: "btn btn-light btn-sm btn-shadow" do
        Hidden
    - else
      = link_to editor_project_path(@project, project: { hide_values_on_pdfs: "1" }), method: :patch, class: "btn btn-success btn-sm btn-shadow" do
        Visible
  .card-body
    .mb-3.d-flex.align-items-center
      .p-3.text-center{ style: "min-width: 4.5rem;" }= icon("fas", "print", class: "fa-2x")
      .p-3.border-left

        - if @project.hide_values_on_pdfs?
          .small.text-muted
            Domain values are hidden on printed sheet PDFs.
          %div.bg-light.p-3
            .mb-1
              "What is your favorite animal?"
            .mb-1.d-inline-block.bg-primary.p-2.text-white.rounded Dog
            .mb-1.d-inline-block.bg-primary.p-2.text-white.rounded Cat
        - else

          .small.text-muted
            Domain values are visible on printed sheet PDFs.
          %div.bg-light.p-3
            .mb-1
              "What is your favorite animal?"
            .mb-1.d-inline-block.bg-primary.p-2.text-white.rounded
              %span.border-bottom 1:
              Dog
            .mb-1.d-inline-block.bg-primary.p-2.text-white.rounded
              %span.border-bottom 2:
              Cat

%a.anchor-top{ name: "naming", id: "naming" }
.card{ class: @project.owner?(current_user) ? "mb-3" : nil }
  %h5.card-header Configuration
  .card-body= render "projects/form", project: @project

- if @project.owner?(current_user) && Rails.env.development?
  .card.mb-3
    %h5.card-header
      API
    .card-body
      = link_to "API", api_owner_project_path(@project)

- if @project.owner?(current_user) && @project.users.size.positive?
  .card.mb-3.border-danger
    %h5.card-header.bg-danger.text-white
      Transfer Ownership
    .card-body
      %p
        Click here to transfer the project ownership to another user. This will
        make you an editor on the project.
      %div
        = link_to "Transfer Ownership", "#", data: { object: "modal-show", target: "#project_#{@project.id}_transfer_modal" }, class: "btn btn-outline-danger"

  .modal{ id: "project_#{@project.id}_transfer_modal" }
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %h4.modal-title
            Transfer Ownership of
            = @project.name
          %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } } &times;
        .modal-body
          = form_with url: transfer_owner_project_path(@project), method: :post, id: "transfer_project_form", local: true do
            .form-group.row
              = label :user_id, "Transfer To", class: "col-md-2 col-form-label"
              .col-md-10
                - project_users = @project.users.order(:full_name) - [current_user]
                = select_tag :user_id, options_for_select([["---", nil]] + project_users.collect{|u| [u.full_name, u.id]}), class: "form-control"
        .modal-footer
          %button.btn.btn-light{ type: "button", data: { dismiss: "modal" } } Close
          = button_tag "Transfer Ownership", data: { object: "submit", target: "#transfer_project_form" }, class: "btn btn-outline-danger"

- if @project.owner?(current_user)
  .card.border-danger
    %h5.card-header.bg-danger.text-white
      Delete Project
    .card-body
      %p
        By deleting the project, you will no longer have access to any of the
        data collected. Deleting the project removes it for all users on the
        project.
      - if @project.users.size > 0
        %p
          To remove yourself from this project without deleting the project,
          %strong
            (1)
            = link_to "transfer ownership", "#", data: { object: "modal-show", target: "#project_#{@project.id}_transfer_modal" }
          to another user on the project and then
          %strong
            (2)
            = link_to "remove yourself as an editor", project_team_path(@project)
          from the Team page.
      %div
        = link_to "Delete Project", owner_project_path(@project), method: :delete, class: "btn btn-danger", data: { confirm: "Delete #{@project.name}?" }
