- @title = "Settings"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.row
  .col-sm-6

    .dashboard-container
      %h2.mb-3 Adverse Events
      - if @project.ae_teams_enabled?
        .row
          .col-sm-6.col-buffer-visible-xs
            .btn.btn-success.btn-block.btn-lg.btn-shadow.disabled{ disabled: true } ON
          .col-sm-6
            = link_to "Learn more...", docs_adverse_events_path, class: "btn btn-lg btn-block btn-link"
      - else
        - if @project.adverse_events_enabled?
          .row
            .col-sm-6.col-buffer-visible-xs
              = link_to editor_project_path(@project, project: { adverse_events_enabled: "0" }), method: :patch, class: "btn btn-success btn-block btn-lg btn-shadow" do
                ON
            .col-sm-6
              = link_to "Learn more...", docs_adverse_events_path, class: "btn btn-lg btn-block btn-link"
        - else
          .row
            .col-sm-6.col-buffer-visible-xs
              = link_to editor_project_path(@project, project: { adverse_events_enabled: "1" }), method: :patch, class: "btn btn-light btn-block btn-lg btn-shadow" do
                OFF
            .col-sm-6
              = link_to "Learn more...", docs_adverse_events_path, class: "btn btn-lg btn-block btn-link"
  .col-sm-6
    .dashboard-container
      %h2.mb-3 Blinding
      - if @project.blinding_enabled?
        .row
          .col-sm-6.col-buffer-visible-xs
            - if @project.unblinded?(current_user)
              = link_to editor_project_path(@project, project: { blinding_enabled: "0" }), method: :patch, class: "btn btn-success btn-block btn-lg btn-shadow" do
                ON
            - else
              .btn.btn-success.btn-block.btn-lg.disabled
                ON
          .col-sm-6
            = link_to "Learn more...", docs_blinding_path, class: "btn btn-lg btn-block btn-link"
      - else
        .row
          .col-sm-6.col-buffer-visible-xs
            = link_to editor_project_path(@project, project: { blinding_enabled: "1" }), method: :patch, class: "btn btn-light btn-block btn-lg btn-shadow" do
              OFF
          .col-sm-6
            = link_to "Learn more...", docs_blinding_path, class: "btn btn-lg btn-block btn-link"
.row
  .col-sm-6
    .dashboard-container
      %h2.mb-3 Randomizations
      - if @project.randomizations_enabled?
        .row
          .col-sm-6.col-buffer-visible-xs
            = link_to editor_project_path(@project, project: { randomizations_enabled: "0" }), method: :patch, class: "btn btn-success btn-block btn-lg btn-shadow" do
              ON
          .col-sm-6
            = link_to project_randomization_schemes_path(@project), class: "btn btn-light btn-block btn-lg" do
              = icon("fas", "wrench")
              .d-inline.d-sm-none.d-md-inline Configure
      - else
        .row
          .col-sm-6.col-buffer-visible-xs
            = link_to editor_project_path(@project, project: { randomizations_enabled: "1" }), method: :patch, class: "btn btn-light btn-block btn-lg btn-shadow" do
              OFF
          .col-sm-6
            = link_to "Learn more...", docs_randomization_schemes_path, class: "btn btn-lg btn-block btn-link"
  .col-sm-6
    .dashboard-container
      %h2.mb-3 Configuration
      .row
        .col-sm-6.col-buffer-visible-xs
          = link_to edit_editor_project_path(@project), class: "btn btn-light btn-block btn-lg" do
            Settings
        .col-sm-6
          = link_to @project, class: "btn btn-lg btn-block btn-link" do
            .d-inline.d-sm-none.d-md-inline Go To Project
            .d-none.d-sm-inline.d-md-none Continue
            = icon("fas", "caret-right")

.card.mb-3
  .card-header
    Project Emails
    - if @project.disable_all_emails?
      = link_to editor_project_path(@project, project: { disable_all_emails: "0" }), method: :patch, class: "btn btn-light btn-sm btn-shadow" do
        Disabled
    - else
      = link_to editor_project_path(@project, project: { disable_all_emails: "1" }), method: :patch, class: "btn btn-success btn-sm btn-shadow" do
        Enabled
  .card-body
    - if @project.disable_all_emails?
      %p
        Daily digest emails are
        %strong disabled
        for this project.
    - else
      %p
        Daily digest emails are enabled for this project.
        = link_to "Learn more...", docs_notifications_path, class: "alert-link"

.card.mb-3
  .card-header
    PDF Option Values
    - if @project.hide_values_on_pdfs?
      = link_to editor_project_path(@project, project: { hide_values_on_pdfs: "0" }), method: :patch, class: "btn btn-light btn-sm btn-shadow" do
        Hidden
    - else
      = link_to editor_project_path(@project, project: { hide_values_on_pdfs: "1" }), method: :patch, class: "btn btn-success btn-sm btn-shadow" do
        Visible
  .card-body
    - if @project.hide_values_on_pdfs?
      %p
        Answer choice values are hidden on printed sheet PDFs.
      %p
        Ex: "What is your favorite animal?"
        %code Dog
        %code Cat
    - else
      %p
        Answer choice values are visible on printed sheet PDFs.
      %p
        Ex: "What is your favorite animal?"
        %code 1: Dog
        %code 2: Cat

.card.mb-3
  .card-header
    Tablet Handoff
    - if @project.handoffs_enabled?
      = link_to editor_project_path(@project, project: { handoffs_enabled: "0" }), method: :patch, class: "btn btn-success btn-sm btn-shadow" do
        Enabled
    - else
      = link_to editor_project_path(@project, project: { handoffs_enabled: "1" }), method: :patch, class: "btn btn-light btn-sm btn-shadow" do
        Disabled
  .card-body
    - if @project.handoffs_enabled?
      %p
        Make a design part of a tablet handoff by
        setting the design as "Handoff Enabled" on an
        = succeed "." do
          = link_to "event", project_events_path(@project)
        = link_to "Learn more...", docs_tablet_handoff_path
    - else
      %p
        The tablet handoff module is not enabled.
        = link_to "Learn more...", docs_tablet_handoff_path


.card{ class: @project.owner?(current_user) ? "mb-3" : nil }
  .card-header
    Sheet Locking
    - if @project.auto_locking_enabled?
      %span.badge.badge-success= @project.auto_lock_name
    - else
      %span.badge.badge-default Disabled
    = link_to edit_editor_project_path(@project), class: "btn btn-light btn-sm btn-shadow" do
      = icon("fas", "cog")
  .card-body
    - if @project.auto_locking_enabled?
      %p
        Sheets automatically lock after
        = succeed "." do
          = @project.auto_lock_name.downcase
      %p
        After this time, a request must be made and approved to make
        additional changes to the sheet.
        = link_to "Learn more...", docs_locking_path
    - else
      %p
        Sheets do not automatically lock.
        = link_to "Learn more...", docs_locking_path

- if @project.owner?(current_user) && Rails.env.development?
  .card.mb-3
    .card-header
      API
    .card-body
      = link_to "API", api_owner_project_path(@project)

- if @project.owner?(current_user) && @project.users.size.positive?
  .card.mb-3.border-danger
    .card-header.bg-danger.text-white
      Transfer Ownership
    .card-body
      %p
        Click here to transfer the project ownership to another user. This will
        make you an editor on the project.
      %div
        = link_to "Transfer Ownership", "#", data: { object: "modal-show", target: "#project_#{@project.id}_transfer_modal" }, class: "btn btn-outline-danger"

  .modal{ id: "project_#{@project.id}_transfer_modal" }
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %h4.modal-title
            Transfer Ownership of
            = @project.name
          %button.close{ type: "button", data: { dismiss: "modal" }, aria: { hidden: true } } &times;
        .modal-body
          = form_with url: transfer_owner_project_path(@project), method: :post, id: "transfer_project_form", local: true do
            .form-group.row
              = label :user_id, "Transfer To", class: "col-md-2 col-form-label"
              .col-md-10
                - project_users = @project.users.order(:full_name) - [current_user]
                = select_tag :user_id, options_for_select([["---", nil]] + project_users.collect{|u| [u.full_name, u.id]}), class: "form-control"
        .modal-footer
          %button.btn.btn-light{ type: "button", data: { dismiss: "modal" } } Close
          = button_tag "Transfer Ownership", data: { object: "submit", target: "#transfer_project_form" }, class: "btn btn-outline-danger"

- if @project.owner?(current_user)
  .card.border-danger
    .card-header.bg-danger.text-white
      Delete Project
    .card-body
      %p
        By deleting the project, you will no longer have access to any of the
        data collected. Deleting the project removes it for all users on the
        project.
      - if @project.users.size > 0
        %p
          To remove yourself from this project without deleting the project,
          %strong
            (1)
            = link_to "transfer ownership", "#", data: { object: "modal-show", target: "#project_#{@project.id}_transfer_modal" }
          to another user on the project and then
          %strong
            (2)
            = link_to "remove yourself as an editor", team_project_path(@project)
          from the Team page.
      %div
        = link_to "Delete Project", owner_project_path(@project), method: :delete, class: "btn btn-danger", data: { confirm: "Delete #{@project.name}?" }
