- @title = "Setup Medications"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title


.dashboard-container
  = form_with do |form|
    = render "forms/vertical/check_box", form: form, object: @project, key: :medication_name
    = render "forms/vertical/text_area", form: form, object: @project, key: :medication_names, rows: 7, value: "Fish Oil\nSoething"
    = render "forms/vertical/check_box", form: form, object: @project, key: :indication
    = render "forms/vertical/text_area", form: form, object: @project, key: :indications, rows: 7, value: ""
    = render "forms/vertical/check_box", form: form, object: @project, key: :dose
    = render "forms/vertical/text_area", form: form, object: @project, key: :doses, rows: 7, value: ""
    = render "forms/vertical/check_box", form: form, object: @project, key: :unit
    = render "forms/vertical/text_area", form: form, object: @project, key: :units, rows: 7, value: "tablespoon\nteaspoon\nounce\ngram\nmilligram (mg)\nmicrogram (mcg)\nmilliliter (ml)\nmicroliter (mcl)\nmillicure (mlc)\nmicrocurie (mcc)\ngrain\nunits\nuknown unit\nother"
    = render "forms/vertical/check_box", form: form, object: @project, key: :frequency
    = render "forms/vertical/text_area", form: form, object: @project, key: :frequencies, rows: 7, value: "1X per day (qd)\n2X per day (bid)\n3X per day (tid)\n4X per day (qid)\nas needed (PRN)\nunknown\nother"
    = render "forms/vertical/check_box", form: form, object: @project, key: :route
    = render "forms/vertical/text_area", form: form, object: @project, key: :routes, rows: 7, value: "S.C. - subcutaneous\nI.V. - intravenous\neye drops\nI.M. - intramuscular\nP.O. - by mouth\nP.R. - by rectum\ntopical\nvaginal\noral inhalation\nnasal\nsublingual\nintravitreal\nperibulbar\nintra-articular\ntransdermal\nby ear\nunknown\nother"
    = render "forms/vertical/check_box", form: form, object: @project, key: :start_date
    = render "forms/vertical/check_box", form: form, object: @project, key: :stop_date
    = render "forms/vertical/submit", form: form, object: @project
