.d-flex
  .flex-fill
    .dropdown.mb-2
      = link_to "#", class: "btn btn-sm btn-light", data: { toggle: "dropdown" }, tabindex: "-1" do
        = icon("fas", "paint-brush")
        Section style

      .dropdown-menu
        - Section::LEVELS.each do |level_name, level_id|
          - selected = section.level == level_id
          = link_to compose_design_design_option_section_path(section.project, section.design, design_option, section, language: params[:language], section: { level: level_id }), method: :patch, remote: true, class: "dropdown-item", style: selected ? "font-weight: bold;" : nil do
            = simple_check selected
            = level_name

  %div
    = link_to icon("fas", "trash"), project_design_design_option_path(section.project, section.design, design_option), method: :delete, remote: true, data: { confirm: "Delete #{section.level_name} from design?" }, class: "btn btn-sm btn-link text-danger"

%div
  - case section.level when 0
    - outer_css_class = ""
    - inner_css_class_name = "mt-0 section-header"
  - when 1
    - outer_css_class = ""
    - inner_css_class_name = "mt-0 sub-section-header"
  - when 2
    - outer_css_class = "section-alert alert-info"
    - inner_css_class_name = "font-weight-bolder"
  - when 3
    - outer_css_class = "section-alert alert-warning"
    - inner_css_class_name = "font-weight-bolder"
  - when 4
    - outer_css_class = "section-alert alert-danger"
    - inner_css_class_name = "font-weight-bolder"

  %div{ class: outer_css_class }
    %div{ id: "section_#{section.id}_name", class: inner_css_class_name }= render "compose/designs/design_options/sections/show/name", design_option: design_option, section: section
    %div{ id: "section_#{section.id}_description" }= render "compose/designs/design_options/sections/show/description", design_option: design_option, section: section
