<hr class="soften" style="margin-top:20px">
<% if @project.contacts.where(archived: false).size == 0 %>
  <ul><li class="text-muted">No Contact Information</li></ul>
<% else %>
  <% @project.contacts.where(archived: false).order('position').each do |contact| %>

    <address>
      <strong><%= contact.title %></strong><br>
      <p style="margin-left:10px">
        <%= contact.name %><br>
        <% unless contact.phone.blank? %><span rel="tooltip" data-placement="left" title="Phone">P: <%= contact.phone %></span><br><% end %>
        <% unless contact.fax.blank? %><span rel="tooltip" data-placement="left" title="Fax">F: <%= contact.fax %></span><br><% end %>
        <% unless contact.email.blank? %><a href="mailto:<%= contact.email %>"><%= contact.email %></a><br><% end %>
      </p>
    </address>
    <hr class="soften" style="margin-top:20px">
  <% end %>
<% end %>
