<hr class="soften" style="margin-top:20px">

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Sheets</th>
      <th>Design</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr data-link="<%= new_project_design_path(@project) %>" style="cursor:pointer">
      <td class="muted"></td><td colspan="2"><%= link_to 'Create Design', interactive_project_designs_path(@project) %></td>
    </tr>
    <% @project.designs.order('name').limit(10).each do |design| %>
      <tr data-link="<%= project_design_path(design.project, design) %>" style="cursor:pointer" data-object="hover-show" data-target="#design_<%= design.id %>_edit_link">
        <td><% if design.sheets.count > 0 %><span class="badge badge-info"><%= design.sheets.count %></span><% end %></td>
        <td><%= design.name %></td>
        <td>
          <div style="height:22px">
            <%= link_to 'edit', edit_project_design_path(design.project, design), class: 'btn btn-mini', id: "design_#{design.id}_edit_link", style: 'display:none' %>
          </div>
        </td>
      </tr>
    <% end %>
    <tr data-link="<%= project_designs_path(@project) %>" style="cursor:pointer">
      <td class="muted"></td><td colspan="2"><%= link_to "View More", project_designs_path(@project) %><% if @project.designs.count > 0 %> <span class="badge badge-info"><%= @project.designs.count %></span><% end %></td>
    </tr>
  </tbody>
</table>
