%h2.about-title= link_to 'Domains', project_domains_path(@project)

%hr.divider-md

- if @project.domains.size == 0
  %ul
    %li.text-muted No Domains
- else
  %ul
    - @project.domains.limit(10).order('updated_at').each do |domain|
      %li{ style: 'line-height:30px', data: { object: 'hover-show', target: "#domain_#{domain.id}_edit_link" } }
        = link_to domain.name, [domain.project, domain]
        = link_to 'Edit', edit_project_domain_path(domain.project, domain), class: 'btn btn-default btn-xs', id: "domain_#{domain.id}_edit_link", style: 'display:none'
