- title = 'Exports'

- if @project.sheets.size == 0
  %h2.about-title= title

  %hr.divider-md

  .center.text-muted
    No data has been collected.
- else
  %h2.about-title= link_to title, project_exports_path(@project)

  %hr.divider-md

  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th
        %th Exported
        %th File
        %th Size
    %tbody
      %tr{ style: 'cursor:pointer', data: { link: project_sheets_path(@project, e: '1') } }
        %td
        %td{ colspan: 3 }
          = link_to 'Create Export', project_sheets_path(@project, e: '1')
      - current_user.exports.where(project_id: @project.id).order("exports.created_at desc").limit(10).each do |export|
        %tr{ style: 'cursor:pointer', class: "#{'success' if not export.viewed? and export.status == 'ready'} #{'warning' if export.status == 'pending'}", data: { link: project_export_path(export.project, export) } }
          %td
            %span.label{ class: "label-#{export.status == 'ready' ? 'success' : (export.status == 'pending' ? 'warning' : 'danger')}" }= export.status
          %td= link_to simple_time(export.created_at).gsub('on ', '').html_safe, [export.project, export]
          %td
            - if export.file.size > 0
              - full_url = file_project_export_path(@project, export)
              = link_to export.file.to_s.split('/').last.to_s.split('.').last.to_s, full_url, target: '_blank', class: 'btn btn-default btn-xs'
          %td
            - if export.file.size > 0
              = number_to_human_size export.file.size
      %tr{ style: 'cursor:pointer', data: { link: project_exports_path(@project) } }
        %td
        %td{ colspan: 3 }
          = link_to "View More", project_exports_path(@project)
          - if current_user.exports.where(project_id: @project.id).count > 0
            %span.badge.badge-info
              = current_user.exports.where(project_id: @project.id).count
