<hr class="soften" style="margin-top:20px">

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Exported</th>
      <th>File</th>
      <th>Size</th>
    </tr>
  </thead>
  <tbody>
    <tr data-link="<%= project_sheets_path(@project, e: '1') %>" style="cursor:pointer">
      <td class="text-muted"></td><td colspan="3"><%= link_to 'Create Export', project_sheets_path(@project, e: '1') %></td>
    </tr>
    <% current_user.exports.where(project_id: @project.id).order("exports.created_at DESC").limit(10).each do |export| %>
      <tr data-link="<%= project_export_path(export.project, export) %>" style="cursor:pointer" class="<%= 'success' if not export.viewed? and export.status == 'ready' %><%= 'warning' if export.status == 'pending' %>">
        <td>
          <span class="label label-<%= export.status == 'ready' ? 'success' : (export.status == 'pending' ? 'warning' : 'danger') %>"><%= export.status %></span>
        </td>
        <td><%= link_to simple_time(export.created_at).gsub('on ', ''), [export.project, export] %></td>
        <td>
          <% if export.file.size > 0 %>
            <% full_url = "#{request.script_name}#{export.file.url}" %>
            <%= link_to export.file.to_s.split('/').last.to_s.split('.').last.to_s, full_url, target: '_blank', class: 'btn btn-default btn-mini' %>
          <% end %>
        </td>
        <td>
          <% if export.file.size > 0 %>
            <%= number_to_human_size(export.file.size) %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr data-link="<%= project_exports_path(@project) %>" style="cursor:pointer">
      <td class="text-muted"></td><td colspan="2"><%= link_to "View More", project_exports_path(@project) %><% if current_user.exports.where(project_id: @project.id).count > 0 %> <span class="badge badge-info"><%= current_user.exports.where(project_id: @project.id).count %></span><% end %></td>
    </tr>
  </tbody>
</table>
