<hr class="soften" style="margin-top:20px">
<% if @project.posts.where(archived: false).size == 0 %>
  <ul><li class="text-muted">No News</li></ul>
<% else %>
  <% @project.posts.where(archived: false).order('created_at DESC').limit(3).each do |post| %>
    <p>
      <strong><%= post.created_at.strftime("%A, %B %d, %Y") %></strong> <span class="text-muted">&middot; <%= post.user.name %></span><br>
      <div style="margin-left:10px; cursor:pointer" data-object="modal-show" data-target="#post_<%= post.id %>_modal">
        <%= link_to post.name, '#', data: { object: 'modal-show', target: "#post_#{post.id}_modal" } %>
        <%= strip_tags(simple_markdown post.description).gsub(/\r/," ").gsub(/\n/," ").truncate(30, separator: ' ', omission: '...').html_safe %>
      </div>
    </p>

    <div class="modal fade" id="post_<%= post.id %>_modal">
      <div class="modal-dialog modal-wide-width">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><%= post.name %></h4>
          </div>
          <div class="modal-body">
            <p>
              <strong><%= post.created_at.strftime("%A, %B %d, %Y") %></strong> <span class="text-muted">&middot; <%= post.user.name %></span>
            </p>
            <div style="margin-left:10px">
              <%= simple_markdown post.description %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <hr class="soften" style="margin-top:20px">
  <% end %>
<% end %>
