%h2.about-title
  = link_to_if @project.editable_by?(current_user), 'News', project_posts_path(@project)

%hr.divider-md

- if @project.posts.where(archived: false).size == 0
  %ul
    %li.text-muted No News
- else
  - @project.posts.where(archived: false).order('created_at DESC').limit(3).each do |post|
    %p
      %strong
        = post.created_at.strftime('%A, %B %-d, %Y')
      %span.text-muted
        &middot;
        = post.user.name
      %br
      %div{ style: 'margin-left:10px; cursor:pointer', data: { object: 'modal-show', target: "#post_#{post.id}_modal" } }
        = link_to post.name, '#', data: { object: 'modal-show', target: "#post_#{post.id}_modal" }
        = strip_tags(simple_markdown post.description).gsub(/\r/," ").gsub(/\n/," ").truncate(30, separator: ' ', omission: '...').html_safe

    .modal{ id: "post_#{post.id}_modal" }
      .modal-dialog.modal-wide-width
        .modal-content
          .modal-header
            %button.close{ type: 'button', data: { dismiss: 'modal' }, aria: { hidden: true } } &times;
            %h4.modal-title= post.name
          .modal-body
            %p
              %strong
                = post.created_at.strftime('%A, %B %-d, %Y')
              %span.text-muted
                &middot;
                = post.user.name
            %div{ style: 'margin-left:10px' }
              = simple_markdown post.description
          .modal-footer
            %button.btn.btn-default{ type: 'button', data: { dismiss: 'modal' } } Close

    %hr.divider-md
