<% title = 'Recent Entries' %>

<% viewable_sheets = current_user.all_viewable_sheets.where( project_id: @project.id ).with_subject_status('valid').order('created_at DESC').limit(10) %>

<% if viewable_sheets.size == 0 and @project.designs.size == 0 and @project.editable_by?(current_user) %>
  <h2 class="about-title"><%= title %></h2>

  <div class="bs-callout bs-callout-info">
    In order to start collecting data, you will want to start by <%= link_to 'Creating a Design', new_project_design_path(@project), class: 'btn btn-xs btn-default' %>.
  </div>
<% elsif viewable_sheets.size == 0 and @project.designs.size == 0 %>
  <h2 class="about-title"><%= title %></h2>

  <hr class="soften" style="margin-top:20px">

  <div class="center text-muted">
    No data has been collected.
  </div>
<% else %>

  <% show_schedules = (viewable_sheets.where( "event_id IS NOT NULL and subject_schedule_id IS NOT NULL" ).size > 0) %>

  <h2 class="about-title"><%= link_to title, project_sheets_path(@project) %></h2>

  <hr class="soften" style="margin-top:20px">

  <table class="table table-hover table-condensed" style="table-layout:fixed">
    <thead>
      <tr>
        <th>Subject</th>
        <th colspan="2">Sheet</th>
        <% if show_schedules %>
          <th>Schedule</th>
          <th>Event</th>
        <% end %>
        <th>Updated</th>
      </tr>
    </thead>
    <tbody>
      <% if @project.can_edit_sheets_and_subjects?(current_user) %>
        <tr data-link="<%= new_project_sheet_path(@project) %>" style="cursor:pointer">
          <td></td><td colspan="<%= show_schedules ? '5' : '3' %>"><%= link_to 'Create Sheet', new_project_sheet_path(@project) %></td>
        </tr>
      <% end %>
      <% viewable_sheets.each do |sheet| %>
        <tr data-link="<%= project_sheet_path(sheet.project, sheet) %>" style="cursor:pointer">
          <td>
            <div style="white-space: nowrap; overflow: hidden; overflow-x: hidden"><%= status_helper(sheet.subject) %>&nbsp;<%= sheet.subject.name %></div>
          </td>
          <td colspan="2">
            <div style="white-space: nowrap; overflow: hidden; overflow-x: hidden">
              <% if sheet.comments.size > 0 %>
                <span class="badge badge-info"><%= sheet.comments.size %></span>
              <% end %>
              <%= sheet.name %>
            </div>
          </td>
          <% if show_schedules %>
            <td>
              <div style="white-space: nowrap; overflow: hidden; overflow-x: hidden">
                <%= sheet.subject_schedule.schedule.name if sheet.subject_schedule %>
              </div>
            </td>
            <td>
              <div style="white-space: nowrap; overflow: hidden; overflow-x: hidden">
                <%= sheet.event.name if sheet.event %>
              </div>
            </td>
          <% end %>
          <td style="white-space:nowrap">
            <%= sheet.last_edited_at.blank? ? simple_date(sheet.created_at) : simple_date(sheet.last_edited_at) %>
            <%= coverage_helper(sheet) %>
          </td>
        </tr>
      <% end %>
      <tr data-link="<%= project_sheets_path(@project) %>" style="cursor:pointer">
        <td></td><td colspan="<%= show_schedules ? '5' : '3' %>"><%= link_to 'View More', project_sheets_path(@project) %></td>
      </tr>
    </tbody>
  </table>
<% end %>
