- title = 'Recent Entries'

- viewable_sheets = current_user.all_viewable_sheets.original_entry.where( project_id: @project.id ).with_subject_status('valid').order('created_at DESC').limit(10)

- if viewable_sheets.size == 0 and @project.designs.size == 0 and @project.editable_by?(current_user)
  %h2.about-title= title

  .bs-callout.bs-callout-info
    In order to start collecting data, you will want to start by
    = succeed '.' do
      = link_to 'Creating a Design', new_project_design_path(@project), class: 'btn btn-xs btn-default'
- elsif viewable_sheets.size == 0 and @project.designs.size == 0
  %h2.about-title= title
  %hr.divider-md
  .center.text-muted
    No data has been collected.
- else
  - show_schedules = (viewable_sheets.where( "event_id IS NOT NULL and subject_schedule_id IS NOT NULL" ).size > 0)
  %h2.about-title= link_to title, project_sheets_path(@project)
  %hr.divider-md
  %table.table.table-hover.table-condensed.table-fixed
    %thead
      %tr
        %th Subject
        %th{ colspan: 2 } Sheet
        - if show_schedules
          %th Schedule
          %th Event
        %th Updated
    %tbody
      - if @project.can_edit_sheets_and_subjects?(current_user)
        %tr{ style: 'cursor:pointer', data: { link: new_project_sheet_path(@project) } }
          %td
          %td{ colspan: (show_schedules ? 5 : 3) }
            = link_to 'Create Sheet', new_project_sheet_path(@project)
      - viewable_sheets.each do |sheet|
        %tr{ style: 'cursor:pointer', data: { link: project_sheet_path(sheet.project, sheet) } }
          %td
            .nowrap{ style: 'overflow: hidden; overflow-x: hidden' }
              = status_helper(sheet.subject)
              &nbsp;
              = sheet.subject.name
          %td{ colspan: 2 }
            .nowrap{ style: 'overflow: hidden; overflow-x: hidden' }
              - if sheet.locked?
                %span.glyphicon.glyphicon-lock{ style: 'color:#5bc0de' }
              - if sheet.comments.size > 0
                %span.badge.badge-info= sheet.comments.size
              = sheet.name
          - if show_schedules
            %td
              .nowrap{ style: 'overflow: hidden; overflow-x: hidden' }
                = sheet.subject_schedule.schedule.name if sheet.subject_schedule
            %td
              .nowrap{ style: 'overflow: hidden; overflow-x: hidden' }
                = sheet.event.name if sheet.event
          %td.nowrap
            = sheet.last_edited_at.blank? ? simple_date(sheet.created_at) : simple_date(sheet.last_edited_at)
            = coverage_helper(sheet)
      %tr{ style: 'cursor:pointer', data: { link: project_sheets_path(@project) } }
        %td
        %td{ colspan: (show_schedules ? 5 : 3) }
          = link_to 'View More', project_sheets_path(@project)
