<% if @project.sheets.size == 0 %>
  <ul><li class="muted">No Recent Entries</li></ul>
<% else %>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Sheet</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% @project.sheets.order('created_at DESC').limit(5).each do |sheet| %>
        <tr data-link="<%= sheet_path(sheet) %>" style="cursor:pointer">
          <td><%= sheet.subject.name %></td>
          <td><%= sheet.name %></td>
          <td><%= simple_date sheet.study_date %></td>
        </tr>
      <% end %>
      <tr data-link="<%= sheets_path(project_id: @project.id) %>" style="cursor:pointer">
        <td colspan="3" class="muted" style="text-align:center">&vellip;</td>
      </tr>
    </tbody>
  </table>
<% end %>
