<h2 class="about-title">Reports</h2>

<hr class="soften" style="margin-top:20px">

<ul>
  <li style="line-height:25px;font-weight:bold"><%= link_to "Summary Report", report_project_path(@project) %></li>
  <li style="line-height:25px;font-weight:bold">
    <%= link_to "Subject Report", subject_report_project_path(@project) %>
    <% ['valid', 'pending', 'test'].each do |status| %>
      <% if @project.subjects.where(status: status).size > 0 %>
        <%= status_helper Subject.new(status: status) %> <%= link_to @project.subjects.where(status: status).size, subject_report_project_path(@project, statuses: status) %>
      <% end %>
    <% end %>
  </li>
  <% @project.designs.order('name').each do |design| %>
    <li style="line-height:30px"><%= link_to design.name, report_project_design_path(design.project, design) %></li>
  <% end %>
</ul>
