- title = 'Schedules'
- if @project.schedules.size == 0
  %h2.about-title= title
- else
  %h2.about-title= link_to title, project_schedules_path(@project)
  %hr.divider-md
  %table.table.table-hover.table-condensed
    %thead
      %tr
        %th Schedule
    %tbody
      - @project.schedules.order('name').limit(10).each do |schedule|
        %tr{ style: 'cursor:pointer', data: { link: project_schedule_path(schedule.project, schedule), object: 'hover-show', target: "#schedule_#{schedule.id}_edit_link" } }
          %td= schedule.name
      %tr{ style: 'cursor:pointer', data: { link: project_schedules_path(@project) } }
        %td.center
          = link_to "View More", project_schedules_path(@project)
          - if @project.schedules.count > 0
            %span.badge.badge-info= @project.schedules.count
