<% title = "Schedules" %>
<% if @project.schedules.size == 0 %>
  <h2 class="about-title"><%= title %></h2>
<% else %>

  <h2 class="about-title"><%= link_to title, project_schedules_path(@project) %></h2>

  <hr class="soften" style="margin-top:20px">

  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Schedule</th>
      </tr>
    </thead>
    <tbody>
      <% @project.schedules.order('name').limit(10).each do |schedule| %>
        <tr data-link="<%= project_schedule_path(schedule.project, schedule) %>" style="cursor:pointer" data-object="hover-show" data-target="#schedule_<%= schedule.id %>_edit_link">
          <td><%= schedule.name %></td>
        </tr>
      <% end %>
      <tr data-link="<%= project_schedules_path(@project) %>" style="cursor:pointer">
        <td class="center"><%= link_to "View More", project_schedules_path(@project) %><% if @project.schedules.count > 0 %> <span class="badge badge-info"><%= @project.schedules.count %></span><% end %></td>
      </tr>
    </tbody>
  </table>
<% end %>
