<hr class="soften" style="margin-top:20px">

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Subjects</th>
      <th>Site</th>
      <th>Prefix</th>
      <th><%= @project.subject_code_name_full %> Range</th>
    </tr>
  </thead>
  <tbody>
    <tr data-link="<%= new_project_site_path(@project) %>" style="cursor:pointer">
      <td class="text-muted"></td><td colspan="3"><%= link_to 'Create Site', new_project_site_path(@project) %></td>
    </tr>
    <% @project.sites.order('name').limit(10).each do |site| %>
      <tr data-link="<%= project_site_path(site.project, site) %>" style="cursor:pointer" data-object="hover-show" data-target="#site_<%= site.id %>_edit_link">
        <td><% if site.subjects.count > 0 %><span class="badge badge-info"><%= site.subjects.count %></span><% end %></td>
        <td><%= site.name %></td>
        <td><%= site.prefix %></td>
        <td>
          <% if site.code_minimum.blank? and site.code_maximum.blank? %>
            <span class="text-muted">No Range</span>
          <% elsif not site.code_minimum.blank? and site.code_maximum.blank? %>
            Starts at <%= site.code_minimum %>
          <% elsif site.code_minimum.blank? and not site.code_maximum.blank? %>
            Ends at <%= site.code_maximum %>
          <% else %>
            <%= site.code_minimum %> to <%= site.code_maximum %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <tr data-link="<%= project_sites_path(@project) %>" style="cursor:pointer">
      <td class="text-muted"></td><td colspan="3"><%= link_to "View More", project_sites_path(@project) %><% if @project.sites.count > 0 %> <span class="badge badge-info"><%= @project.sites.count %></span><% end %></td>
    </tr>
  </tbody>
</table>
