<hr class="soften" style="margin-top:20px">

<table class="table table-hover table-condensed">
  <thead>
    <tr>
      <th>Sheets</th>
      <th>Subject</th>
    </tr>
  </thead>
  <tbody>
    <tr data-link="<%= new_project_subject_path(@project) %>" style="cursor:pointer">
      <td class="text-muted"></td><td><%= link_to 'Create Subject', new_project_subject_path(@project) %></td>
    </tr>
    <% @project.subjects.order('subject_code').limit(10).each do |subject| %>
      <tr data-link="<%= project_subject_path(subject.project, subject) %>" style="cursor:pointer" data-object="hover-show" data-target="#subject_<%= subject.id %>_edit_link">
        <td><% if subject.sheets.count > 0 %><span class="badge badge-info"><%= subject.sheets.count %></span><% end %></td>
        <td><div style="white-space: nowrap; overflow: hidden; overflow-x: hidden"><%= status_helper(subject) %> <%= subject.name %></div></td>
      </tr>
    <% end %>
    <tr data-link="<%= project_subjects_path(@project) %>" style="cursor:pointer">
      <td class="text-muted"></td><td><%= link_to "View More", project_subjects_path(@project) %><% if @project.subjects.count > 0 %> <span class="badge badge-info"><%= @project.subjects.count %></span><% end %></td>
    </tr>
  </tbody>
</table>
