%h2.about-title= link_to 'Subjects', project_subjects_path(@project)

%hr.divider-md

- subject_scope = current_user.all_viewable_subjects.where( project_id: @project.id, status: 'valid' )

%table.table.table-hover.table-condensed
  %thead
    %tr
      %th Sheets
      %th Subject
  %tbody
    - if @project.can_edit_sheets_and_subjects?(current_user)
      %tr{ style: 'cursor:pointer', data: { link: new_project_subject_path(@project) } }
        %td.text-muted
        %td= link_to 'Create Subject', new_project_subject_path(@project)
    - subject_scope.order(:subject_code).limit(10).each do |subject|
      %tr{ style: 'cursor:pointer', data: { link: project_subject_path(subject.project, subject), object: 'hover-show', target: "#subject_#{subject.id}_edit_link" } }
        %td
          - if subject.blinded_sheets(current_user).count > 0
            %span.badge.badge-info= subject.blinded_sheets(current_user).count
        %td
          .nowrap{ style: 'overflow: hidden; overflow-x: hidden' }
            = status_helper(subject)
            = subject.name
    %tr{ style: 'cursor:pointer', data: { link: project_subjects_path(@project) } }
      %td.text-muted
      %td
        = link_to 'View More', project_subjects_path(@project)
        - if subject_scope.count > 0
          %span.badge.badge-info= subject_scope.count
