<% position = Time.now.to_i.to_s + Time.now.usec.to_s %>
<% @position = position %>
<div id="variable_<%= position %>">
  <div class="row">
    <%= link_to 'Remove', "#", data: { object: 'remove', target: "variable_#{position}" }, class: 'btn btn-mini btn-danger', style: 'float:right' %>

    <div class="span4">
      <div class="control-group" style="margin-bottom:0px">
        <%= label_tag "variable_grid_tokens_#{position}_variable_id", 'Variable', class: 'control-label' %>
        <div class="controls">
          <%= select_tag "variable[grid_tokens][#{position}][variable_id]", options_for_select([[nil, nil]] + @select_variables, @grid_variable[:variable_id]), style: 'width:99%', data: { object: 'variable-load', position: position, placeholder: 'Choose a Variable' }, class: 'chzn-select' %>
          <%= select_tag "variable[grid_tokens][#{position}][control_size]", options_for_select(Variable::CONTROL_SIZE, @grid_variable[:control_size] || 'medium') %>
        </div>
      </div>
    </div>
  </div>
</div>
