<div class="page-header">
  <h1><%= link_to @project.name, @project %> &middot; <%= @title %></h1>
</div>

<%= form_for [@variable.project, @variable], html: { class: 'form-horizontal' } do |f| %>
  <% if @variable.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@variable.errors.count, "error") %> prohibited this variable from being saved</h4>

      <ul>
      <% @variable.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: 'inner_form', locals: { f: f } %>

  <div class="form-group">
    <div class="col-md-10 col-md-offset-2">
      <% form_name = @variable.new_record? ? 'new_variable' : "edit_variable_#{@variable.id}" %>
      <%= f.submit nil, class: 'btn btn-primary', data: { target: "##{form_name}", object: "form-check-before-submit" } %>
      <%= cancel %>
    </div>
  </div>
<% end %>
