<% unless @variable.header.blank? %>
  <div class="page-header">
    <h4><%= @variable.header %></h4>
  </div>
<% end %>
<div class="control-group">
  <label class="control-label"><%= @variable.display_name %></label>
  <div class="controls" style="padding-top:5px">
    <% if @variable.variable_type == 'text' %>
      <%= simple_format @variable.response_name(@sheet).to_s %>
    <% elsif @variable.variable_type == 'checkbox' %>
      <% @variable.response_name(@sheet).each do |response| %>
        <p><%= response %></p>
      <% end %>
    <% elsif @variable.variable_type == 'file' %>
      <div id="variable_<%= @variable.id %>_file_container">
        <%= render partial: 'variables/response_file' %>
      </div>
    <% elsif not @variable.units.blank? %>
      <%= @variable.response_name(@sheet) %> <%= @variable.units %>
    <% else %>
      <%= @variable.response_name(@sheet) %>
    <% end %>
  </div>
</div>
