<div class="form-group">
  <% if @variable.uses_scale? %>
    <%# Nothing %>
  <% elsif ['invisible', 'gone'].include?(@variable.display_name_visibility) %>
    <div class="page-header" style="margin-top:0px">
      <h4 style="padding:0px">
        <%= @variable.display_name %>
      </h4>
    </div>
  <% else %>
    <%= label 'variables', "#{@variable.id}", @variable.display_name, class: 'col-lg-2 control-label' %>
  <% end %>

  <div class="<%= "col-lg-10 col-offset-2" if @variable.display_name_visibility != 'gone' and not @variable.uses_scale? %> <%= 'col-offset-2' if @variable.display_name_visibility == 'invisible' and not @variable.uses_scale? %>" style="padding-top:5px;">
    <% sheet_variable = @sheet ? @sheet.sheet_variables.find_by_variable_id(@variable.id) : nil %>
    <% if Variable::TYPE.flatten.uniq.include?(@variable.variable_type) %>
      <%= render partial: "sheet_variables/show/#{@variable.variable_type}", locals: { response: @sheet ? @sheet.get_response(@variable, :raw) : nil, variable: @variable, sheet_variable: sheet_variable } %>
    <% end %>
  </div>
</div>
