%table.table.table-striped
  %thead
    %tr
      %th.nowrap # Designs
      = th_sort_field @order, 'variables.name', 'Name'
      = th_sort_field @order, 'variables.display_name', 'Display Name'
      = th_sort_field @order, 'variables.variable_type', 'Variable Type'
      = th_sort_field @order, 'variables.options', 'Options'
      %th Actions

  - @variables.each do |variable|
    %tr{ id: "variable_#{variable.id}" }
      %td= variable.inherited_designs.count
      %td= link_to variable.name, [variable.project, variable]
      %td= link_to variable.display_name, [variable.project, variable]
      %td
        %code= variable.variable_type
      %td
        - if variable.shared_options.present?
          = select_tag "variable_#{variable.id}_options", options_for_select(variable.shared_options.collect { |d| "#{d[:value]}: #{d[:name]}" }), style: 'width:200px', class: 'form-control'
      %td.nowrap
        = link_to 'Copy', copy_project_variable_path(variable.project, variable), class: 'btn btn-default btn-xs'
        - if variable.editable_by?(current_user)
          = link_to 'Edit', edit_project_variable_path(variable.project, variable), class: 'btn btn-default btn-xs'
          = link_to 'Delete', [variable.project, variable], method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Variable #{variable.name}?" }

.center
  = paginate @variables, theme: 'contour'
