<%= render partial: 'layouts/per_page', locals: { type: 'variables', per_page: 20 } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'variables.name', 'Name', 'variables_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'variables.display_name', 'Display Name', 'variables_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'variables.description', 'Description', 'variables_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'variables.header', 'Header', 'variables_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'variables.variable_type', 'Variable Type', 'variables_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'variables.options', 'Options', 'variables_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'variables.user_id', 'Creator', 'variables_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'variables.project_id', 'Project', 'variables_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @variables.each do |variable| %>
    <tr>
      <td><%= link_to variable.name, variable %></td>
      <td><%= link_to variable.display_name, variable %></td>
      <td><%= variable.description %></td>
      <td><%= variable.header %></td>
      <td><%= variable.variable_type %></td>
      <td><%= variable.options %></td>
      <td><%= link_to variable.user.name, variable.user if variable.user %></td>
      <td><%= link_to variable.project.name, variable.project if variable.project %></td>
      <td>
        <%= link_to 'Copy', copy_variable_path(variable), class: 'btn btn-mini' %>
        <% if variable.editable_by?(current_user) %>
          <%= link_to 'Edit', edit_variable_path(variable), class: 'btn btn-mini' %>
          <%= link_to 'Delete', variable, confirm: "Are you sure you want to delete Variable #{variable.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<center><%= paginate @variables %></center>
