- @title = "#{@variable.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @variable.name_was
- content_for :breadcrumbs do
  %ol
    %li= link_to "variables", project_variables_path(@project)
    %li= link_to @variable.name_was, [@project, @variable]
    %li.breadcrumb-muted edit

.dashboard-container= render "form", variable: @variable
