- @title = 'Variables'
.page-header
  %h1
    = link_to @project.name, setup_project_path(@project)
    &middot;
    = @title
    = link_to "Create Variable", new_project_variable_path(@project), class: 'btn btn-xs btn-primary'

= form_tag project_variables_path(@project), method: :get, id: "variables_search", class: 'form-horizontal' do
  = hidden_field_tag :order, params[:order]
  .form-group
    = label :search, 'Search', class: 'col-md-2 control-label'
    .col-md-10
      = text_field_tag 'search', params[:search], class: 'form-control'

  .form-group
    = label :variable_type, 'Variable Type', class: 'col-md-2 control-label'
    .col-md-10
      = render partial: 'layouts/radio_button_group', locals: { name: 'variable_type', options: ([['ALL', nil]] + Variable::TYPE), selected: params[:variable_type] }

  .form-group
    .col-md-10.col-md-offset-2
      = submit_tag 'Search', class: 'btn btn-primary', name: nil
      = link_to 'Reset', project_variables_path(@project), class: 'btn btn-default'

= render partial: 'variables/variables'
