- @title = 'Variables'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = link_to plus_or('Create Variable'), new_project_variable_path(@project), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @variables.total_count
        = render 'layouts/side_nav_header_button'
        = @title

      = form_tag project_variables_path(@project), method: :get, class: 'form-inline', style: 'margin-top: 10px;' do
        = hidden_field_tag :order, params[:order]
        .input-group
          = text_field_tag 'search', params[:search], class: 'form-control'
          %span.input-group-btn= submit_tag 'Search', class: 'btn btn-accent', name: nil

= render 'variables/variables'
