<% @title = @variable.display_name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to "Variables", project_variables_path(@project) %> &middot; <%= @title %>
  </h1>
  <% if @variable.editable_by?(current_user) %>
    <%= link_to "Edit Variable", edit_project_variable_path(@project, @variable), class: 'btn btn-default btn-xs' %>
    <%= link_to "Delete Variable", [@project, @variable], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Variable #{@variable.name}?" } %>
  <% end %>
  <%= link_to "Copy Variable", copy_project_variable_path(@project, @variable), class: 'btn btn-default btn-xs' %>
</div>

<dl class="dl-horizontal">
  <dt>Header</dt>
  <dd><%= simple_markdown @variable.header %></dd>

  <dt>Name</dt>
  <dd><%= @variable.name %></dd>

  <dt>Display Name</dt>
  <dd><%= @variable.display_name %></dd>

  <dt>Display name visibility</dt>
  <dd><%= @variable.display_name_visibility.capitalize %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @variable.description %></dd>

  <dt>Variable Type</dt>
  <dd><span class="label label-<%= @variable.variable_type %>"><%= @variable.variable_type %></span></dd>

  <dt>Prepend</dt>
  <dd><%= @variable.prepend %></dd>

  <dt>Append</dt>
  <dd><%= @variable.append %></dd>

  <% if ['integer', 'numeric'].include?(@variable.variable_type) %>
    <dt>Hard Minimum</dt>
    <dd><%= @variable.hard_minimum %></dd>

    <dt>Hard Maximum</dt>
    <dd><%= @variable.hard_maximum %></dd>

    <dt>Soft Minimum</dt>
    <dd><%= @variable.soft_minimum %></dd>

    <dt>Soft Maximum</dt>
    <dd><%= @variable.soft_maximum %></dd>
  <% end %>

  <% if ['integer', 'numeric', 'calculated'].include?(@variable.variable_type) %>
    <dt>Units</dt>
    <dd><%= @variable.units %></dd>
  <% end %>

  <% if ['date'].include?(@variable.variable_type) %>
    <dt>Date Hard Minimum</dt>
    <dd><%= simple_date @variable.date_hard_minimum %></dd>

    <dt>Date Hard Maximum</dt>
    <dd><%= simple_date @variable.date_hard_maximum %></dd>

    <dt>Date Soft Minimum</dt>
    <dd><%= simple_date @variable.date_soft_minimum %></dd>

    <dt>Date Soft Maximum</dt>
    <dd><%= simple_date @variable.date_soft_maximum %></dd>

    <dt>Show current date</dt>
    <dd><%= simple_check @variable.show_current_button? %></dd>
  <% end %>

  <% if ['time'].include?(@variable.variable_type) %>
    <dt>Show current time</dt>
    <dd><%= simple_check @variable.show_current_button? %></dd>
  <% end %>

  <% if ['calculated'].include?(@variable.variable_type) %>
    <dt>Calculation</dt>
    <dd><tt><%= @variable.calculation %></tt></dd>

    <dt>Format</dt>
    <dd><%= @variable.format %></dd>
  <% end %>

  <% if ['string'].include?(@variable.variable_type) %>
    <dt>Autocomplete Values</dt>
    <dd><%= @variable.autocomplete_values %></dd>
  <% end %>

  <% if ['radio', 'checkbox'].include?(@variable.variable_type) %>
    <dt>Alignment</dt>
    <dd><%= @variable.alignment.capitalize %></dd>
  <% end %>

  <% if ['grid'].include?(@variable.variable_type) %>
    <dt>Multiple Rows</dt>
    <dd><%= simple_check @variable.multiple_rows? %></dd>

    <dt>Default Row Number</dt>
    <dd><%= @variable.default_row_number %></dd>

    <dt>Variables</dt>
    <dd>
      <ul>
        <% @variable.grid_variables.each do |variable_hash| %>
          <% v = current_user.all_viewable_variables.find_by_id(variable_hash[:variable_id]) %>
          <% if v %>
            <li><%= link_to v.display_name, [v.project, v] %></li>
          <% end %>
        <% end %>
      </ul>
    </dd>
  <% end %>

  <dt>Creator</dt>
  <dd><%= link_to @variable.user.name, @variable.user if @variable.user %></dd>

  <dt>Project</dt>
  <dd><%= @project = @variable.project; render partial: 'projects/logo_small' %> <%= link_to @variable.project.name, @variable.project if @variable.project %></dd>

  <dt>Designs</dt>
  <dd>
    <ul>
      <% @variable.inherited_designs.each do |design| %>
        <li><%= link_to design.name, [design.project, design] %></li>
      <% end %>
    </ul>
  </dd>

  <% if @variable.domain %>
    <dt>Domain</dt>
    <dd><%= link_to @variable.domain.name, [@variable.domain.project, @variable.domain] %></dd>
  <% end %>

</dl>

<% if @variable.shared_options.size > 0 %>
  <%= render partial: 'compact_options' %>
<% end %>

<form class='form-horizontal well'>
  <%= render partial: 'sheet_variables/form' %>
</form>
