- @title = @variable.name
- @menu_title = "#{@project.name} #{@title}"

= render "projects/side_nav"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        - if @variable.editable_by?(current_user)
          .float-right
            .dropdown
              = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
                Actions
                %strong.caret

              %ul.dropdown-menu.dropdown-menu-right
                %li
                  = link_to edit_project_variable_path(@project, @variable) do
                    %i.fa.fa-pencil
                    Edit
                  = link_to copy_project_variable_path(@project, @variable) do
                    %i.fa.fa-files-o
                    Copy
                %li.divider{ role: "separator" }
                %li
                  = link_to [@project, @variable], method: :delete, data: { confirm: "Delete \"#{@variable.name}\" variable?" } do
                    .text-danger
                      %i.fa.fa-trash
                      Delete
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Creator
      %td= link_to @variable.user.name, @variable.user if @variable.user

    %tr
      %th Name
      %td
        %code= @variable.name

    %tr
      %th Variable Type
      %td
        %code= @variable.variable_type
    %tr
      %th Header
      %td= simple_markdown @variable.header
    %tr
      %th Display Name
      %td= @variable.display_name
    %tr
      %th Display Layout
      %td= @variable.display_layout_name
    %tr
      %th Description
      %td= simple_format @variable.description
    %tr
      %th Field Note
      %td= @variable.field_note

    %tr
      %th Prepend
      %td= @variable.prepend

    %tr
      %th Append
      %td= @variable.append

    - if ["integer", "numeric"].include?(@variable.variable_type)
      %tr
        %th Hard Minimum
        %td= @variable.hard_minimum

      %tr
        %th Hard Maximum
        %td= @variable.hard_maximum

      %tr
        %th Soft Minimum
        %td= @variable.soft_minimum

      %tr
        %th Soft Maximum
        %td= @variable.soft_maximum

    - if ["integer", "numeric", "calculated"].include?(@variable.variable_type)
      %tr
        %th Units
        %td= @variable.units

    - if ["date"].include?(@variable.variable_type)
      %tr
        %th Date Hard Minimum
        %td= format_date @variable.date_hard_minimum

      %tr
        %th Date Hard Maximum
        %td= format_date @variable.date_hard_maximum

      %tr
        %th Date Soft Minimum
        %td= format_date @variable.date_soft_minimum

      %tr
        %th Date Soft Maximum
        %td= format_date @variable.date_soft_maximum

      %tr
        %th Show current date
        %td= simple_check @variable.show_current_button?

    - if ["time_of_day"].include?(@variable.variable_type)
      %tr
        %th Show current time
        %td= simple_check @variable.show_current_button?
      %tr
        %th Time of Day Format
        %td= @variable.time_of_day_format_name

    - if ["time_duration"].include?(@variable.variable_type)
      %tr
        %th Time Duration Format
        %td= @variable.time_duration_format_name

    - if ["date"].include?(@variable.variable_type)
      %tr
        %th Date Format
        %td= @variable.date_format_name

    - if ["calculated"].include?(@variable.variable_type)
      %tr
        %th Calculation
        %td
          = render "variables/calculation_with_links", object: @variable

      %tr
        %th Calculated Format
        %td= @variable.calculated_format

    - if ["string"].include?(@variable.variable_type)
      %tr
        %th Autocomplete Values
        %td= @variable.autocomplete_values

    - if ["radio", "checkbox"].include?(@variable.variable_type)
      %tr
        %th Alignment
        %td= @variable.alignment.capitalize

    - if ["grid"].include?(@variable.variable_type)
      %tr
        %th Multiple Rows
        %td= simple_check @variable.multiple_rows?
      %tr
        %th Default Row Number
        %td= @variable.default_row_number
      %tr
        %th Variables
        %td
          %ul.list-unstyled
            - @variable.child_variables.each do |child_variable|
              %li= link_to child_variable.display_name, [child_variable.project, child_variable]

    %tr
      %th Designs
      %td
        %ul.list-unstyled
          - @variable.inherited_designs.each do |design|
            %li= link_to design.name, [design.project, design]

    - if @variable.domain
      %tr
        %th Domain
        %td= link_to @variable.domain.name, [@variable.domain.project, @variable.domain]

  - if @variable.domain
    = render "domain_options/domain_options", domain: @variable.domain, domain_options: @variable.domain.domain_options

- design_option = @variable.design_options.first
- if design_option
  %form.form-horizontal
    .dashboard-container
      = render "sheet_variables/form", design: design_option.design, design_option: design_option, variable: @variable, sheet_variables: []
