<% @title = "Variable: #{@variable.name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <%= link_to "Edit Variable", edit_variable_path(@variable), class: 'btn btn-mini' %>
    <%= link_to "Delete Variable", @variable, confirm: "Are you sure you want to delete Variable #{@variable.name}?", method: :delete, class: 'btn btn-mini btn-danger' %>
    <%= link_to "View Variables", variables_path, class: 'btn btn-mini' %>
    <%= link_to "Copy Variable", copy_variable_path(@variable), class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Header</dt>
  <dd><%= @variable.header %></dd>

  <dt>Name</dt>
  <dd><%= @variable.name %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @variable.description %></dd>

  <dt>Variable Type</dt>
  <dd><%= @variable.variable_type %></dd>

  <dt>Response</dt>
  <dd><%= simple_format @variable.response %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @variable.user.name, @variable.user if @variable.user %></dd>

  <dt>Project</dt>
  <dd><%= link_to @variable.project.name, @variable.project if @variable.project %></dd>
</dl>

<% if @variable.options.size > 0 %>
  <%= render partial: 'compact_options' %>
<% end %>

<form class='form-horizontal well'>
  <%= render partial: 'designs/variable' %>
</form>
