<% @title = "Variable: #{@variable.display_name}" %>
<div class="page-header">
  <h1>
    <%= @title %>
    <% if @variable.editable_by?(current_user) %>
      <%= link_to "Edit Variable", edit_variable_path(@variable), class: 'btn btn-mini' %>
      <%= link_to "Delete Variable", @variable, method: :delete, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Variable #{@variable.name}?" } %>
    <% end %>
    <%= link_to "View Variables", variables_path, class: 'btn btn-mini' %>
    <%= link_to "Copy Variable", copy_variable_path(@variable), class: 'btn btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Header</dt>
  <dd><%= @variable.header %></dd>

  <dt>Name</dt>
  <dd><%= @variable.name %></dd>

  <dt>Display Name</dt>
  <dd><%= @variable.display_name %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @variable.description %></dd>

  <dt>Variable Type</dt>
  <dd><%= @variable.variable_type %></dd>

  <% if ['integer', 'numeric'].include?(@variable.variable_type) %>
    <dt>Hard Minimum</dt>
    <dd><%= @variable.hard_minimum %></dd>

    <dt>Hard Maximum</dt>
    <dd><%= @variable.hard_maximum %></dd>
  <% end %>

  <dt>Creator</dt>
  <dd><%= link_to @variable.user.name, @variable.user if @variable.user %></dd>

  <dt>Project</dt>
  <dd><%= link_to @variable.project.name, @variable.project if @variable.project %></dd>

  <dt>Designs</dt>
  <dd>
    <ul>
      <% @variable.designs.each do |design| %>
        <li><%= link_to design.name, design %></li>
      <% end %>
    </ul>
  </dd>
</dl>

<% if @variable.options.size > 0 %>
  <%= render partial: 'compact_options' %>
<% end %>

<form class='form-horizontal well'>
  <%= render partial: 'designs/variable' %>
</form>
