- @title = @variable.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  - if @variable.editable_by?(current_user)
    .float-right
      = render "translations/language_dropdown", button_class: ""
      .dropdown.d-inline-block
        = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
          .d-inline-block.d-sm-none
            = icon("fas", "cog")
          .d-none.d-sm-inline-block Actions

        .dropdown-menu.dropdown-menu-right
          = link_to edit_project_variable_path(@project, @variable, language: World.translate_language? ? World.language : nil), class: "dropdown-item" do
            = icon("fas", "pencil-alt")
            Edit
          = link_to copy_project_variable_path(@project, @variable), class: "dropdown-item" do
            = icon("far", "copy")
            Copy
          .dropdown-divider
          = link_to [@project, @variable], method: :delete, data: { confirm: "Delete \"#{@variable.name}\" variable?" }, class: "dropdown-item text-danger" do
            = icon("fas", "trash-alt")
            Delete
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "variables", project_variables_path(@project)
    %li.breadcrumb-muted= @variable.name.downcase

- default_row_number = @variable.default_row_number
- @variable.default_row_number = 1
- multiple_rows = @variable.multiple_rows
- @variable.multiple_rows = false
- design_option = @variable.design_options.first
- if design_option
  - design_option.branching_logic = ""

  - I18n.locale = World.language
  = form_with do |form|
    = form.hidden_field :language, value: World.language, name: :language
    .dashboard-container
      = render "sheet_variables/form", form: form, design: design_option.design, design_option: design_option, variable: @variable, sheet_variables: []

.dashboard-container
  = render "forms/horizontal/show/generic", title: "Design", content: render("variables/inherited_designs", variable: @variable)
  = render "forms/horizontal/show/generic", title: "Name", content: content_tag(:code, @variable.name)
  = render "forms/horizontal/show/text", object: @variable, key: :variable_type
  = render "forms/horizontal/show/markdown", object: @variable, key: :header if @variable.header.present?
  = render "forms/horizontal/show/markdown", object: @variable, key: :description if @variable.description.present?
  = render "forms/horizontal/show/text", object: @variable, key: :field_note if @variable.field_note.present?
  = render "forms/horizontal/show/text", object: @variable, key: :prepend if @variable.prepend.present?
  = render "forms/horizontal/show/text", object: @variable, key: :append if @variable.append.present?

  - if ["integer", "numeric", "imperial_height", "imperial_weight"].include?(@variable.variable_type)
    = render "forms/horizontal/show/text", object: @variable, key: :hard_minimum if @variable.hard_minimum.present?
    = render "forms/horizontal/show/text", object: @variable, key: :soft_minimum if @variable.soft_minimum.present?
    = render "forms/horizontal/show/text", object: @variable, key: :soft_maximum if @variable.soft_maximum.present?
    = render "forms/horizontal/show/text", object: @variable, key: :hard_maximum if @variable.hard_maximum.present?

  - if ["integer", "numeric", "calculated"].include?(@variable.variable_type)
    = render "forms/horizontal/show/text", object: @variable, key: :units if @variable.units.present?

  - if ["date"].include?(@variable.variable_type)
    = render "forms/horizontal/show/date", object: @variable, key: :date_hard_minimum if @variable.date_hard_minimum.present?
    = render "forms/horizontal/show/date", object: @variable, key: :date_soft_minimum if @variable.date_soft_minimum.present?
    = render "forms/horizontal/show/date", object: @variable, key: :date_soft_maximum if @variable.date_soft_maximum.present?
    = render "forms/horizontal/show/date", object: @variable, key: :date_hard_maximum if @variable.date_hard_maximum.present?
    = render "forms/horizontal/show/check_box", object: @variable, key: :show_current_button, key_name: "Show current date"
    = render "forms/horizontal/show/text", object: @variable, key: :date_format_name, key_name: "Date format"

  - if ["time_of_day"].include?(@variable.variable_type)
    = render "forms/horizontal/show/check_box", object: @variable, key: :show_current_button, key_name: "Show current time"
    = render "forms/horizontal/show/text", object: @variable, key: :time_of_day_format_name, key_name: "Time of day format"

  - if ["time_duration"].include?(@variable.variable_type)
    = render "forms/horizontal/show/text", object: @variable, key: :time_duration_format_name, key_name: "Time duration format"

  - if ["calculated"].include?(@variable.variable_type)
    = render "forms/horizontal/show/generic", title: "Calculation", content: render("variables/calculation_with_links", object: @variable)
    = render "forms/horizontal/show/text", object: @variable, key: :calculated_format

  - if ["string"].include?(@variable.variable_type)
    = render "forms/horizontal/show/text", object: @variable, key: :autocomplete_values

  - if ["grid"].include?(@variable.variable_type)
    - @variable.multiple_rows = multiple_rows
    = render "forms/horizontal/show/check_box", object: @variable, key: :multiple_rows
    - @variable.default_row_number = default_row_number
    = render "forms/horizontal/show/text", object: @variable, key: :default_row_number
    = render "forms/horizontal/show/generic", title: "Variables", content: render("variables/child_variables", variable: @variable)

  = render "forms/horizontal/show/generic", title: "Domain", content: render("variables/domain", variable: @variable) if @variable.domain
