<% @title = "About #{ENV['website_name']}" %>

<div class="row" style="margin-top:54px">
  <div class="col-md-12">
    <h1 class="about-title"><%= @title %></h1>
    <p class="about-tagline">Visit our <%= link_to 'online community', 'https://sleepepi.partners.org', target: '_blank' %> or contact us <%= mail_to ENV['support_email'], 'via email', target: '_blank', subject: "#{ENV['website_name']} Question" %>.</p>
    <p class="about-signup"><%= link_to 'Sign Me Up', new_user_registration_path, class: "btn btn-primary btn-large" %></p>
  </div>
</div>

<hr class="soften">

<p class="about-description"><%= ENV['website_name'] %> is a <%= link_to 'free to use*', 'https://github.com/remomueller/slice/blob/master/LICENSE', rel: 'tooltip', data: { title: 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License' } %> and <%= link_to 'open source', 'https://github.com/remomueller/slice', rel: 'tooltip', data: { title: 'Source code freely available on GitHub' } %> clinical research interface for collecting and analyzing data.</p>

<div class="row">
  <div class="col-md-4">
    <h2 class="about-title">Design Forms</h2>
    <ul>
      <li>Create new designs and variables, or copy from existing libraries.</li>
      <li>Updating variables migrates already filled-out form data keeping all of your project data in sync.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2 class="about-title">Manage Multi-site Projects</h2>
    <ul>
      <li>Enroll subjects across sites.</li>
      <li>Sites can view their subjects and receipts.</li>
    </ul>
  </div>
  <div class="col-md-4">
    <h2 class="about-title">Email Receipts</h2>
    <ul>
      <li>Email PDF receipts to sites when a subject form is completed.</li>
    </ul>
  </div>
</div>

<hr class="soften">

<footer class="footer">
  <p class="muted about-footer">
    <%= ENV['website_name'] %> Version <%= link_to Slice::VERSION::STRING, "https://github.com/remomueller/slice/tree/#{Slice::VERSION::MAJOR}.#{Slice::VERSION::MINOR}.#{Slice::VERSION::TINY}" %>
  </p>
  <p class="muted about-footer">
    By using <%= ENV['website_name'] %> you are agreeing to the <%= link_to 'Acceptable Use Policy', about_use_path %>.
  </p>
</footer>


<div class="center" style="margin-top:40px">
  <%= image_tag 'try-slice-logo.png' %>
</div>
