- @title = 'Bootstrap Theme'
.container
  #banner.page-header
    .row
      .col-lg-8.col-md-7.col-sm-6
        %h1 Theme
        %p.lead A Bootstrap Theme
      .col-lg-4.col-md-5.col-sm-6
  /
    Navbar
    \==================================================
  .bs-docs-section.clearfix
    .row
      .col-lg-12
        .page-header
          %h1#navbar Navbar
        .bs-component
          .navbar.navbar-default
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => "#"} Brand
            .navbar-collapse.collapse.navbar-responsive-collapse
              %ul.nav.navbar-nav
                %li.active
                  %a{:href => "#"} Active
                %li
                  %a{:href => "#"} Link
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Dropdown
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} Action
                    %li
                      %a{:href => "#"} Another action
                    %li
                      %a{:href => "#"} Something else here
                    %li.divider
                    %li.dropdown-header Dropdown header
                    %li
                      %a{:href => "#"} Separated link
                    %li
                      %a{:href => "#"} One more separated link
              %form.navbar-form.navbar-left
                %input.form-control.col-lg-8{:placeholder => "Search", :type => "text"}
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{:href => "#"} Link
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Dropdown
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} Action
                    %li
                      %a{:href => "#"} Another action
                    %li
                      %a{:href => "#"} Something else here
                    %li.divider
                    %li
                      %a{:href => "#"} Separated link
        .bs-component
          .navbar.navbar-inverse
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-inverse-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => "#"} Brand
            .navbar-collapse.collapse.navbar-inverse-collapse
              %ul.nav.navbar-nav
                %li.active
                  %a{:href => "#"} Active
                %li
                  %a{:href => "#"} Link
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Dropdown
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} Action
                    %li
                      %a{:href => "#"} Another action
                    %li
                      %a{:href => "#"} Something else here
                    %li.divider
                    %li.dropdown-header Dropdown header
                    %li
                      %a{:href => "#"} Separated link
                    %li
                      %a{:href => "#"} One more separated link
              %form.navbar-form.navbar-left
                %input.form-control.col-lg-8{:placeholder => "Search", :type => "text"}
              %ul.nav.navbar-nav.navbar-right
                %li
                  %a{:href => "#"} Link
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                    Dropdown
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} Action
                    %li
                      %a{:href => "#"} Another action
                    %li
                      %a{:href => "#"} Something else here
                    %li.divider
                    %li
                      %a{:href => "#"} Separated link
        / /example
  /
    Buttons
    \==================================================
  .bs-docs-section
    .page-header
      .row
        .col-lg-12
          %h1#buttons Buttons
    .row
      .col-lg-6
        %p.bs-component
          %a.btn.btn-default{:href => "#"} Default
          %a.btn.btn-primary{:href => "#"} Primary
          %a.btn.btn-success{:href => "#"} Success
          %a.btn.btn-info{:href => "#"} Info
          %a.btn.btn-warning{:href => "#"} Warning
          %a.btn.btn-danger{:href => "#"} Danger
          %a.btn.btn-link{:href => "#"} Link
          #source-button.btn.btn-primary.btn-xs{:style => "display: none;"} &lt; &gt;
        %p.bs-component
          %a.btn.btn-default.disabled{:href => "#"} Default
          %a.btn.btn-primary.disabled{:href => "#"} Primary
          %a.btn.btn-success.disabled{:href => "#"} Success
          %a.btn.btn-info.disabled{:href => "#"} Info
          %a.btn.btn-warning.disabled{:href => "#"} Warning
          %a.btn.btn-danger.disabled{:href => "#"} Danger
          %a.btn.btn-link.disabled{:href => "#"} Link
        %div{:style => "margin-bottom: 15px;"}
          .btn-toolbar.bs-component{:style => "margin: 0;"}
            .btn-group
              %a.btn.btn-default{:href => "#"} Default
              %a.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
            .btn-group
              %a.btn.btn-primary{:href => "#"} Primary
              %a.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
            .btn-group
              %a.btn.btn-success{:href => "#"} Success
              %a.btn.btn-success.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
            .btn-group
              %a.btn.btn-info{:href => "#"} Info
              %a.btn.btn-info.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
            .btn-group
              %a.btn.btn-warning{:href => "#"} Warning
              %a.btn.btn-warning.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
        %p.bs-component
          %a.btn.btn-primary.btn-lg{:href => "#"} Large button
          %a.btn.btn-primary{:href => "#"} Default button
          %a.btn.btn-primary.btn-sm{:href => "#"} Small button
          %a.btn.btn-primary.btn-xs{:href => "#"} Mini button
      .col-lg-6
        %p.bs-component
          %a.btn.btn-default.btn-lg.btn-block{:href => "#"} Block level button
        .bs-component{:style => "margin-bottom: 15px;"}
          .btn-group.btn-group-justified
            %a.btn.btn-default{:href => "#"} Left
            %a.btn.btn-default{:href => "#"} Middle
            %a.btn.btn-default{:href => "#"} Right
        .bs-component{:style => "margin-bottom: 15px;"}
          .btn-toolbar
            .btn-group
              %a.btn.btn-default{:href => "#"} 1
              %a.btn.btn-default{:href => "#"} 2
              %a.btn.btn-default{:href => "#"} 3
              %a.btn.btn-default{:href => "#"} 4
            .btn-group
              %a.btn.btn-default{:href => "#"} 5
              %a.btn.btn-default{:href => "#"} 6
              %a.btn.btn-default{:href => "#"} 7
            .btn-group
              %a.btn.btn-default{:href => "#"} 8
              .btn-group
                %a.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Dropdown
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Dropdown link
                  %li
                    %a{:href => "#"} Dropdown link
                  %li
                    %a{:href => "#"} Dropdown link
        .bs-component
          .btn-group-vertical
            %a.btn.btn-default{:href => "#"} Button
            %a.btn.btn-default{:href => "#"} Button
            %a.btn.btn-default{:href => "#"} Button
            %a.btn.btn-default{:href => "#"} Button
  /
    Typography
    \==================================================
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h1#type Typography
    / Headings
    .row
      .col-lg-4
        .bs-component
          %h1 Heading 1
          %h2 Heading 2
          %h3 Heading 3
          %h4 Heading 4
          %h5 Heading 5
          %h6 Heading 6
          %p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
      .col-lg-4
        .bs-component
          %h2 Example body text
          %p
            Nullam quis risus eget
            %a{:href => "#"} urna mollis ornare
            vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.
          %p
            %small This line of text is meant to be treated as fine print.
          %p
            The following snippet of text is
            = succeed "." do
              %strong rendered as bold text
          %p
            The following snippet of text is
            = succeed "." do
              %em rendered as italicized text
          %p
            An abbreviation of the word attribute is
            = succeed "." do
              %abbr{:title => "attribute"} attr
      .col-lg-4
        .bs-component
          %h2 Emphasis classes
          %p.text-muted Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.
          %p.text-primary Nullam id dolor id nibh ultricies vehicula ut id elit.
          %p.text-warning Etiam porta sem malesuada magna mollis euismod.
          %p.text-danger Donec ullamcorper nulla non metus auctor fringilla.
          %p.text-success Duis mollis, est non commodo luctus, nisi erat porttitor ligula.
          %p.text-info Maecenas sed diam eget risus varius blandit sit amet non magna.
    / Blockquotes
    .row
      .col-lg-12
        %h2#type-blockquotes Blockquotes
    .row
      .col-lg-6
        .bs-component
          %blockquote
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            %small
              Someone famous in
              %cite{:title => "Source Title"} Source Title
      .col-lg-6
        .bs-component
          %blockquote.pull-right
            %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
            %small
              Someone famous in
              %cite{:title => "Source Title"} Source Title
  /
    Tables
    \==================================================
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h1#tables Tables
        .bs-component
          %table.table.table-striped.table-hover
            %thead
              %tr
                %th #
                %th Column heading
                %th Column heading
                %th Column heading
            %tbody
              %tr
                %td 1
                %td Column content
                %td Column content
                %td Column content
              %tr
                %td 2
                %td Column content
                %td Column content
                %td Column content
              %tr.info
                %td 3
                %td Column content
                %td Column content
                %td Column content
              %tr.success
                %td 4
                %td Column content
                %td Column content
                %td Column content
              %tr.danger
                %td 5
                %td Column content
                %td Column content
                %td Column content
              %tr.warning
                %td 6
                %td Column content
                %td Column content
                %td Column content
              %tr.active
                %td 7
                %td Column content
                %td Column content
                %td Column content
        / /example
  /
    Forms
    \==================================================
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h1#forms Forms
    .row
      .col-lg-6
        .well.bs-component
          %form.form-horizontal
            %fieldset
              %legend Legend
              .form-group
                %label.col-lg-2.control-label{:for => "inputEmail"} Email
                .col-lg-10
                  %input#inputEmail.form-control{:placeholder => "Email", :type => "text"}
              .form-group
                %label.col-lg-2.control-label{:for => "inputPassword"} Password
                .col-lg-10
                  %input#inputPassword.form-control{:placeholder => "Password", :type => "password"}
                    .checkbox
                      %label
                        %input{:type => "checkbox"}
                          Checkbox
              .form-group
                %label.col-lg-2.control-label{:for => "textArea"} Textarea
                .col-lg-10
                  %textarea#textArea.form-control{:rows => "3"}
                  %span.help-block A longer block of help text that breaks onto a new line and may extend beyond one line.
              .form-group
                %label.col-lg-2.control-label Radios
                .col-lg-10
                  .radio
                    %label
                      %input#optionsRadios1{:checked => "", :name => "optionsRadios", :type => "radio", :value => "option1"}
                        Option one is this
                  .radio
                    %label
                      %input#optionsRadios2{:name => "optionsRadios", :type => "radio", :value => "option2"}
                        Option two can be something else
              .form-group
                %label.col-lg-2.control-label{:for => "select"} Selects
                .col-lg-10
                  %select#select.form-control
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
                  %br
                    %select.form-control{:multiple => ""}
                      %option 1
                      %option 2
                      %option 3
                      %option 4
                      %option 5
              .form-group
                .col-lg-10.col-lg-offset-2
                  %button.btn.btn-default Cancel
                  %button.btn.btn-primary{:type => "submit"} Submit
      .col-lg-4.col-lg-offset-1
        %form.bs-component
          .form-group
            %label.control-label{:for => "focusedInput"} Focused input
            %input#focusedInput.form-control{:type => "text", :value => "This is focused..."}
          .form-group
            %label.control-label{:for => "disabledInput"} Disabled input
            %input#disabledInput.form-control{:disabled => "", :placeholder => "Disabled input here...", :type => "text"}
          .form-group.has-warning
            %label.control-label{:for => "inputWarning"} Input warning
            %input#inputWarning.form-control{:type => "text"}
          .form-group.has-error
            %label.control-label{:for => "inputError"} Input error
            %input#inputError.form-control{:type => "text"}
          .form-group.has-success
            %label.control-label{:for => "inputSuccess"} Input success
            %input#inputSuccess.form-control{:type => "text"}
          .form-group
            %label.control-label{:for => "inputLarge"} Large input
            %input#inputLarge.form-control.input-lg{:type => "text"}
          .form-group
            %label.control-label{:for => "inputDefault"} Default input
            %input#inputDefault.form-control{:type => "text"}
          .form-group
            %label.control-label{:for => "inputSmall"} Small input
            %input#inputSmall.form-control.input-sm{:type => "text"}
          .form-group
            %label.control-label Input addons
            .input-group
              %span.input-group-addon $
              %input.form-control{:type => "text"}
                %span.input-group-btn
                  %button.btn.btn-default{:type => "button"} Button
  /
    Navs
    \==================================================
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h1#nav Navs
    .row
      .col-lg-4
        %h2#nav-tabs Tabs
        .bs-component
          %ul.nav.nav-tabs{:style => "margin-bottom: 15px;"}
            %li.active
              %a{"data-toggle" => "tab", :href => "#home"} Home
            %li
              %a{"data-toggle" => "tab", :href => "#profile"} Profile
            %li.disabled
              %a Disabled
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Dropdown
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{"data-toggle" => "tab", :href => "#dropdown1"} Action
                %li.divider
                %li
                  %a{"data-toggle" => "tab", :href => "#dropdown2"} Another action
          #myTabContent.tab-content
            #home.tab-pane.fade.active.in
              %p Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            #profile.tab-pane.fade
              %p Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.
            #dropdown1.tab-pane.fade
              %p Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.
            #dropdown2.tab-pane.fade
              %p Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.
      .col-lg-4
        %h2#nav-pills Pills
        .bs-component
          %ul.nav.nav-pills
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Profile
            %li.disabled
              %a{:href => "#"} Disabled
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Dropdown
                %span.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "#"} Action
                %li
                  %a{:href => "#"} Another action
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                %li
                  %a{:href => "#"} Separated link
        %br
          .bs-component
            %ul.nav.nav-pills.nav-stacked{:style => "max-width: 300px;"}
              %li.active
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} Profile
              %li.disabled
                %a{:href => "#"} Disabled
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Dropdown
                  %span.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
      .col-lg-4
        %h2#nav-breadcrumbs Breadcrumbs
        .bs-component
          %ul.breadcrumb
            %li.active Home
          %ul.breadcrumb
            %li
              %a{:href => "#"} Home
            %li.active Library
          %ul.breadcrumb{:style => "margin-bottom: 5px;"}
            %li
              %a{:href => "#"} Home
            %li
              %a{:href => "#"} Library
            %li.active Data
    .row
      .col-lg-4
        %h2#pagination Pagination
        .bs-component
          %ul.pagination
            %li.disabled
              %a{:href => "#"} &laquo;
            %li.active
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"} &raquo;
          %ul.pagination.pagination-lg
            %li.disabled
              %a{:href => "#"} &laquo;
            %li.active
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} &raquo;
          %ul.pagination.pagination-sm
            %li.disabled
              %a{:href => "#"} &laquo;
            %li.active
              %a{:href => "#"} 1
            %li
              %a{:href => "#"} 2
            %li
              %a{:href => "#"} 3
            %li
              %a{:href => "#"} 4
            %li
              %a{:href => "#"} 5
            %li
              %a{:href => "#"} &raquo;
      .col-lg-4
        %h2#pager Pager
        .bs-component
          %ul.pager
            %li
              %a{:href => "#"} Previous
            %li
              %a{:href => "#"} Next
          %ul.pager
            %li.previous.disabled
              %a{:href => "#"} &larr; Older
            %li.next
              %a{:href => "#"} Newer &rarr;
      .col-lg-4
  /
    Indicators
    \==================================================
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h1#indicators Indicators
    .row
      .col-lg-12
        %h2 Alerts
        .bs-component
          .alert.alert-dismissable.alert-warning
            %button.close{"data-dismiss" => "alert", :type => "button"} ×
            %h4 Warning!
            %p
              Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna,
              = succeed "." do
                %a.alert-link{:href => "#"} vel scelerisque nisl consectetur et
    .row
      .col-lg-4
        .bs-component
          .alert.alert-dismissable.alert-danger
            %button.close{"data-dismiss" => "alert", :type => "button"} ×
            %strong Oh snap!
            %a.alert-link{:href => "#"} Change a few things up
            and try submitting again.
      .col-lg-4
        .bs-component
          .alert.alert-dismissable.alert-success
            %button.close{"data-dismiss" => "alert", :type => "button"} ×
            %strong Well done!
            You successfully read
            = succeed "." do
              %a.alert-link{:href => "#"} this important alert message
      .col-lg-4
        .bs-component
          .alert.alert-dismissable.alert-info
            %button.close{"data-dismiss" => "alert", :type => "button"} ×
            %strong Heads up!
            This
            = succeed "," do
              %a.alert-link{:href => "#"} alert needs your attention
            but it's not super important.
    .row
      .col-lg-4
        %h2 Labels
        .bs-component{:style => "margin-bottom: 40px;"}
          %span.label.label-default Default
          %span.label.label-primary Primary
          %span.label.label-success Success
          %span.label.label-warning Warning
          %span.label.label-danger Danger
          %span.label.label-info Info
      .col-lg-4
        %h2 Badges
        .bs-component
          %ul.nav.nav-pills
            %li.active
              %a{:href => "#"}
                Home
                %span.badge 42
            %li
              %a{:href => "#"}
                Profile
                %span.badge
            %li
              %a{:href => "#"}
                Messages
                %span.badge 3
  /
    Progress bars
    \==================================================
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h1#progress Progress bars
        %h3#progress-basic Basic
        .bs-component
          .progress
            .progress-bar{:style => "width: 60%;"}
        %h3#progress-alternatives Contextual alternatives
        .bs-component
          .progress
            .progress-bar.progress-bar-info{:style => "width: 20%"}
          .progress
            .progress-bar.progress-bar-success{:style => "width: 40%"}
          .progress
            .progress-bar.progress-bar-warning{:style => "width: 60%"}
          .progress
            .progress-bar.progress-bar-danger{:style => "width: 80%"}
        %h3#progress-striped Striped
        .bs-component
          .progress.progress-striped
            .progress-bar.progress-bar-info{:style => "width: 20%"}
          .progress.progress-striped
            .progress-bar.progress-bar-success{:style => "width: 40%"}
          .progress.progress-striped
            .progress-bar.progress-bar-warning{:style => "width: 60%"}
          .progress.progress-striped
            .progress-bar.progress-bar-danger{:style => "width: 80%"}
        %h3#progress-animated Animated
        .bs-component
          .progress.progress-striped.active
            .progress-bar{:style => "width: 45%"}
        %h3#progress-stacked Stacked
        .bs-component
          .progress
            .progress-bar.progress-bar-success{:style => "width: 35%"}
            .progress-bar.progress-bar-warning{:style => "width: 20%"}
            .progress-bar.progress-bar-danger{:style => "width: 10%"}
  /
    Containers
    \==================================================
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h1#container Containers
        .bs-component
          .jumbotron
            %h1 Jumbotron
            %p This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
            %p
              %a.btn.btn-primary.btn-lg Learn more
    .row
      .col-lg-12
        %h2 List groups
    .row
      .col-lg-4
        .bs-component
          %ul.list-group
            %li.list-group-item
              %span.badge 14
              Cras justo odio
            %li.list-group-item
              %span.badge 2
              Dapibus ac facilisis in
            %li.list-group-item
              %span.badge 1
              Morbi leo risus
      .col-lg-4
        .bs-component
          .list-group
            %a.list-group-item.active{:href => "#"}
              Cras justo odio
            %a.list-group-item{:href => "#"}
              Dapibus ac facilisis in
            %a.list-group-item{:href => "#"}
              Morbi leo risus
      .col-lg-4
        .bs-component
          .list-group
            %a.list-group-item{:href => "#"}
              %h4.list-group-item-heading List group item heading
              %p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
            %a.list-group-item{:href => "#"}
              %h4.list-group-item-heading List group item heading
              %p.list-group-item-text Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    .row
      .col-lg-12
        %h2 Panels
    .row
      .col-lg-4
        .bs-component
          .panel.panel-default
            .panel-body
              Basic panel
          .panel.panel-default
            .panel-heading Panel heading
            .panel-body
              Panel content
          .panel.panel-default
            .panel-body
              Panel content
            .panel-footer Panel footer
      .col-lg-4
        .bs-component
          .panel.panel-primary
            .panel-heading
              %h3.panel-title Panel primary
            .panel-body
              Panel content
          .panel.panel-success
            .panel-heading
              %h3.panel-title Panel success
            .panel-body
              Panel content
          .panel.panel-warning
            .panel-heading
              %h3.panel-title Panel warning
            .panel-body
              Panel content
      .col-lg-4
        .bs-component
          .panel.panel-danger
            .panel-heading
              %h3.panel-title Panel danger
            .panel-body
              Panel content
          .panel.panel-info
            .panel-heading
              %h3.panel-title Panel info
            .panel-body
              Panel content
    .row
      .col-lg-12
        %h2 Wells
    .row
      .col-lg-4
        .bs-component
          .well
            Look, I'm in a well!
      .col-lg-4
        .bs-component
          .well.well-sm
            Look, I'm in a small well!
      .col-lg-4
        .bs-component
          .well.well-lg
            Look, I'm in a large well!
  /
    Dialogs
    \==================================================
  .bs-docs-section
    .row
      .col-lg-12
        .page-header
          %h1#tables Dialogs
    .row
      .col-lg-6
        %h2 Modals
        .bs-component
          .modal
            .modal-dialog
              .modal-content
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h4.modal-title Modal title
                .modal-body
                  %p One fine body…
                .modal-footer
                  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
                  %button.btn.btn-primary{:type => "button"} Save changes
      .col-lg-6
        %h2 Popovers
        .bs-component
          %button.btn.btn-default{"data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-original-title" => "", "data-placement" => "left", "data-toggle" => "popover", :title => "", :type => "button"} Left
          %button.btn.btn-default{"data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-original-title" => "", "data-placement" => "top", "data-toggle" => "popover", :title => "", :type => "button"} Top
          %button.btn.btn-default{"data-container" => "body", "data-content" => "Vivamus\n          sagittis lacus vel augue laoreet rutrum faucibus.", "data-original-title" => "", "data-placement" => "bottom", "data-toggle" => "popover", :title => "", :type => "button"} Bottom
          %button.btn.btn-default{"data-container" => "body", "data-content" => "Vivamus sagittis lacus vel augue laoreet rutrum faucibus.", "data-original-title" => "", "data-placement" => "right", "data-toggle" => "popover", :title => "", :type => "button"} Right
        %h2 Tooltips
        .bs-component
          %button.btn.btn-default{"data-original-title" => "Tooltip on left", "data-placement" => "left", "data-toggle" => "tooltip", :title => "", :type => "button"} Left
          %button.btn.btn-default{"data-original-title" => "Tooltip on top", "data-placement" => "top", "data-toggle" => "tooltip", :title => "", :type => "button"} Top
          %button.btn.btn-default{"data-original-title" => "Tooltip on bottom", "data-placement" => "bottom", "data-toggle" => "tooltip", :title => "", :type => "button"} Bottom
          %button.btn.btn-default{"data-original-title" => "Tooltip on right", "data-placement" => "right", "data-toggle" => "tooltip", :title => "", :type => "button"} Right
  #source-modal.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title Source Code
        .modal-body
          %pre
  .row
    .col-lg-12
      %h2 Glyphicons
  .row
    .col-lg-4
      %span.glyphicon.glyphicon-asterisk
      %span.glyphicon-class glyphicon glyphicon-asterisk
    .col-lg-4
      %span.glyphicon.glyphicon-plus
      %span.glyphicon-class glyphicon glyphicon-plus
    .col-lg-4
      %span.glyphicon.glyphicon-euro
      %span.glyphicon-class glyphicon glyphicon-euro
    .col-lg-4
      %span.glyphicon.glyphicon-minus
      %span.glyphicon-class glyphicon glyphicon-minus
    .col-lg-4
      %span.glyphicon.glyphicon-cloud
      %span.glyphicon-class glyphicon glyphicon-cloud
    .col-lg-4
      %span.glyphicon.glyphicon-envelope
      %span.glyphicon-class glyphicon glyphicon-envelope
    .col-lg-4
      %span.glyphicon.glyphicon-pencil
      %span.glyphicon-class glyphicon glyphicon-pencil
    .col-lg-4
      %span.glyphicon.glyphicon-glass
      %span.glyphicon-class glyphicon glyphicon-glass
    .col-lg-4
      %span.glyphicon.glyphicon-music
      %span.glyphicon-class glyphicon glyphicon-music
    .col-lg-4
      %span.glyphicon.glyphicon-search
      %span.glyphicon-class glyphicon glyphicon-search
    .col-lg-4
      %span.glyphicon.glyphicon-heart
      %span.glyphicon-class glyphicon glyphicon-heart
    .col-lg-4
      %span.glyphicon.glyphicon-star
      %span.glyphicon-class glyphicon glyphicon-star
    .col-lg-4
      %span.glyphicon.glyphicon-star-empty
      %span.glyphicon-class glyphicon glyphicon-star-empty
    .col-lg-4
      %span.glyphicon.glyphicon-user
      %span.glyphicon-class glyphicon glyphicon-user
    .col-lg-4
      %span.glyphicon.glyphicon-film
      %span.glyphicon-class glyphicon glyphicon-film
    .col-lg-4
      %span.glyphicon.glyphicon-th-large
      %span.glyphicon-class glyphicon glyphicon-th-large
    .col-lg-4
      %span.glyphicon.glyphicon-th
      %span.glyphicon-class glyphicon glyphicon-th
    .col-lg-4
      %span.glyphicon.glyphicon-th-list
      %span.glyphicon-class glyphicon glyphicon-th-list
    .col-lg-4
      %span.glyphicon.glyphicon-ok
      %span.glyphicon-class glyphicon glyphicon-ok
    .col-lg-4
      %span.glyphicon.glyphicon-remove
      %span.glyphicon-class glyphicon glyphicon-remove
    .col-lg-4
      %span.glyphicon.glyphicon-zoom-in
      %span.glyphicon-class glyphicon glyphicon-zoom-in
    .col-lg-4
      %span.glyphicon.glyphicon-zoom-out
      %span.glyphicon-class glyphicon glyphicon-zoom-out
    .col-lg-4
      %span.glyphicon.glyphicon-off
      %span.glyphicon-class glyphicon glyphicon-off
    .col-lg-4
      %span.glyphicon.glyphicon-signal
      %span.glyphicon-class glyphicon glyphicon-signal
    .col-lg-4
      %span.glyphicon.glyphicon-cog
      %span.glyphicon-class glyphicon glyphicon-cog
    .col-lg-4
      %span.glyphicon.glyphicon-trash
      %span.glyphicon-class glyphicon glyphicon-trash
    .col-lg-4
      %span.glyphicon.glyphicon-home
      %span.glyphicon-class glyphicon glyphicon-home
    .col-lg-4
      %span.glyphicon.glyphicon-file
      %span.glyphicon-class glyphicon glyphicon-file
    .col-lg-4
      %span.glyphicon.glyphicon-time
      %span.glyphicon-class glyphicon glyphicon-time
    .col-lg-4
      %span.glyphicon.glyphicon-road
      %span.glyphicon-class glyphicon glyphicon-road
    .col-lg-4
      %span.glyphicon.glyphicon-download-alt
      %span.glyphicon-class glyphicon glyphicon-download-alt
    .col-lg-4
      %span.glyphicon.glyphicon-download
      %span.glyphicon-class glyphicon glyphicon-download
    .col-lg-4
      %span.glyphicon.glyphicon-upload
      %span.glyphicon-class glyphicon glyphicon-upload
    .col-lg-4
      %span.glyphicon.glyphicon-inbox
      %span.glyphicon-class glyphicon glyphicon-inbox
    .col-lg-4
      %span.glyphicon.glyphicon-play-circle
      %span.glyphicon-class glyphicon glyphicon-play-circle
    .col-lg-4
      %span.glyphicon.glyphicon-repeat
      %span.glyphicon-class glyphicon glyphicon-repeat
    .col-lg-4
      %span.glyphicon.glyphicon-refresh
      %span.glyphicon-class glyphicon glyphicon-refresh
    .col-lg-4
      %span.glyphicon.glyphicon-list-alt
      %span.glyphicon-class glyphicon glyphicon-list-alt
    .col-lg-4
      %span.glyphicon.glyphicon-lock
      %span.glyphicon-class glyphicon glyphicon-lock
    .col-lg-4
      %span.glyphicon.glyphicon-flag
      %span.glyphicon-class glyphicon glyphicon-flag
    .col-lg-4
      %span.glyphicon.glyphicon-headphones
      %span.glyphicon-class glyphicon glyphicon-headphones
    .col-lg-4
      %span.glyphicon.glyphicon-volume-off
      %span.glyphicon-class glyphicon glyphicon-volume-off
    .col-lg-4
      %span.glyphicon.glyphicon-volume-down
      %span.glyphicon-class glyphicon glyphicon-volume-down
    .col-lg-4
      %span.glyphicon.glyphicon-volume-up
      %span.glyphicon-class glyphicon glyphicon-volume-up
    .col-lg-4
      %span.glyphicon.glyphicon-qrcode
      %span.glyphicon-class glyphicon glyphicon-qrcode
    .col-lg-4
      %span.glyphicon.glyphicon-barcode
      %span.glyphicon-class glyphicon glyphicon-barcode
    .col-lg-4
      %span.glyphicon.glyphicon-tag
      %span.glyphicon-class glyphicon glyphicon-tag
    .col-lg-4
      %span.glyphicon.glyphicon-tags
      %span.glyphicon-class glyphicon glyphicon-tags
    .col-lg-4
      %span.glyphicon.glyphicon-book
      %span.glyphicon-class glyphicon glyphicon-book
    .col-lg-4
      %span.glyphicon.glyphicon-bookmark
      %span.glyphicon-class glyphicon glyphicon-bookmark
    .col-lg-4
      %span.glyphicon.glyphicon-print
      %span.glyphicon-class glyphicon glyphicon-print
    .col-lg-4
      %span.glyphicon.glyphicon-camera
      %span.glyphicon-class glyphicon glyphicon-camera
    .col-lg-4
      %span.glyphicon.glyphicon-font
      %span.glyphicon-class glyphicon glyphicon-font
    .col-lg-4
      %span.glyphicon.glyphicon-bold
      %span.glyphicon-class glyphicon glyphicon-bold
    .col-lg-4
      %span.glyphicon.glyphicon-italic
      %span.glyphicon-class glyphicon glyphicon-italic
    .col-lg-4
      %span.glyphicon.glyphicon-text-height
      %span.glyphicon-class glyphicon glyphicon-text-height
    .col-lg-4
      %span.glyphicon.glyphicon-text-width
      %span.glyphicon-class glyphicon glyphicon-text-width
    .col-lg-4
      %span.glyphicon.glyphicon-align-left
      %span.glyphicon-class glyphicon glyphicon-align-left
    .col-lg-4
      %span.glyphicon.glyphicon-align-center
      %span.glyphicon-class glyphicon glyphicon-align-center
    .col-lg-4
      %span.glyphicon.glyphicon-align-right
      %span.glyphicon-class glyphicon glyphicon-align-right
    .col-lg-4
      %span.glyphicon.glyphicon-align-justify
      %span.glyphicon-class glyphicon glyphicon-align-justify
    .col-lg-4
      %span.glyphicon.glyphicon-list
      %span.glyphicon-class glyphicon glyphicon-list
    .col-lg-4
      %span.glyphicon.glyphicon-indent-left
      %span.glyphicon-class glyphicon glyphicon-indent-left
    .col-lg-4
      %span.glyphicon.glyphicon-indent-right
      %span.glyphicon-class glyphicon glyphicon-indent-right
    .col-lg-4
      %span.glyphicon.glyphicon-facetime-video
      %span.glyphicon-class glyphicon glyphicon-facetime-video
    .col-lg-4
      %span.glyphicon.glyphicon-picture
      %span.glyphicon-class glyphicon glyphicon-picture
    .col-lg-4
      %span.glyphicon.glyphicon-map-marker
      %span.glyphicon-class glyphicon glyphicon-map-marker
    .col-lg-4
      %span.glyphicon.glyphicon-adjust
      %span.glyphicon-class glyphicon glyphicon-adjust
    .col-lg-4
      %span.glyphicon.glyphicon-tint
      %span.glyphicon-class glyphicon glyphicon-tint
    .col-lg-4
      %span.glyphicon.glyphicon-edit
      %span.glyphicon-class glyphicon glyphicon-edit
    .col-lg-4
      %span.glyphicon.glyphicon-share
      %span.glyphicon-class glyphicon glyphicon-share
    .col-lg-4
      %span.glyphicon.glyphicon-check
      %span.glyphicon-class glyphicon glyphicon-check
    .col-lg-4
      %span.glyphicon.glyphicon-move
      %span.glyphicon-class glyphicon glyphicon-move
    .col-lg-4
      %span.glyphicon.glyphicon-step-backward
      %span.glyphicon-class glyphicon glyphicon-step-backward
    .col-lg-4
      %span.glyphicon.glyphicon-fast-backward
      %span.glyphicon-class glyphicon glyphicon-fast-backward
    .col-lg-4
      %span.glyphicon.glyphicon-backward
      %span.glyphicon-class glyphicon glyphicon-backward
    .col-lg-4
      %span.glyphicon.glyphicon-play
      %span.glyphicon-class glyphicon glyphicon-play
    .col-lg-4
      %span.glyphicon.glyphicon-pause
      %span.glyphicon-class glyphicon glyphicon-pause
    .col-lg-4
      %span.glyphicon.glyphicon-stop
      %span.glyphicon-class glyphicon glyphicon-stop
    .col-lg-4
      %span.glyphicon.glyphicon-forward
      %span.glyphicon-class glyphicon glyphicon-forward
    .col-lg-4
      %span.glyphicon.glyphicon-fast-forward
      %span.glyphicon-class glyphicon glyphicon-fast-forward
    .col-lg-4
      %span.glyphicon.glyphicon-step-forward
      %span.glyphicon-class glyphicon glyphicon-step-forward
    .col-lg-4
      %span.glyphicon.glyphicon-eject
      %span.glyphicon-class glyphicon glyphicon-eject
    .col-lg-4
      %span.glyphicon.glyphicon-chevron-left
      %span.glyphicon-class glyphicon glyphicon-chevron-left
    .col-lg-4
      %span.glyphicon.glyphicon-chevron-right
      %span.glyphicon-class glyphicon glyphicon-chevron-right
    .col-lg-4
      %span.glyphicon.glyphicon-plus-sign
      %span.glyphicon-class glyphicon glyphicon-plus-sign
    .col-lg-4
      %span.glyphicon.glyphicon-minus-sign
      %span.glyphicon-class glyphicon glyphicon-minus-sign
    .col-lg-4
      %span.glyphicon.glyphicon-remove-sign
      %span.glyphicon-class glyphicon glyphicon-remove-sign
    .col-lg-4
      %span.glyphicon.glyphicon-ok-sign
      %span.glyphicon-class glyphicon glyphicon-ok-sign
    .col-lg-4
      %span.glyphicon.glyphicon-question-sign
      %span.glyphicon-class glyphicon glyphicon-question-sign
    .col-lg-4
      %span.glyphicon.glyphicon-info-sign
      %span.glyphicon-class glyphicon glyphicon-info-sign
    .col-lg-4
      %span.glyphicon.glyphicon-screenshot
      %span.glyphicon-class glyphicon glyphicon-screenshot
    .col-lg-4
      %span.glyphicon.glyphicon-remove-circle
      %span.glyphicon-class glyphicon glyphicon-remove-circle
    .col-lg-4
      %span.glyphicon.glyphicon-ok-circle
      %span.glyphicon-class glyphicon glyphicon-ok-circle
    .col-lg-4
      %span.glyphicon.glyphicon-ban-circle
      %span.glyphicon-class glyphicon glyphicon-ban-circle
    .col-lg-4
      %span.glyphicon.glyphicon-arrow-left
      %span.glyphicon-class glyphicon glyphicon-arrow-left
    .col-lg-4
      %span.glyphicon.glyphicon-arrow-right
      %span.glyphicon-class glyphicon glyphicon-arrow-right
    .col-lg-4
      %span.glyphicon.glyphicon-arrow-up
      %span.glyphicon-class glyphicon glyphicon-arrow-up
    .col-lg-4
      %span.glyphicon.glyphicon-arrow-down
      %span.glyphicon-class glyphicon glyphicon-arrow-down
    .col-lg-4
      %span.glyphicon.glyphicon-share-alt
      %span.glyphicon-class glyphicon glyphicon-share-alt
    .col-lg-4
      %span.glyphicon.glyphicon-resize-full
      %span.glyphicon-class glyphicon glyphicon-resize-full
    .col-lg-4
      %span.glyphicon.glyphicon-resize-small
      %span.glyphicon-class glyphicon glyphicon-resize-small
    .col-lg-4
      %span.glyphicon.glyphicon-exclamation-sign
      %span.glyphicon-class glyphicon glyphicon-exclamation-sign
    .col-lg-4
      %span.glyphicon.glyphicon-gift
      %span.glyphicon-class glyphicon glyphicon-gift
    .col-lg-4
      %span.glyphicon.glyphicon-leaf
      %span.glyphicon-class glyphicon glyphicon-leaf
    .col-lg-4
      %span.glyphicon.glyphicon-fire
      %span.glyphicon-class glyphicon glyphicon-fire
    .col-lg-4
      %span.glyphicon.glyphicon-eye-open
      %span.glyphicon-class glyphicon glyphicon-eye-open
    .col-lg-4
      %span.glyphicon.glyphicon-eye-close
      %span.glyphicon-class glyphicon glyphicon-eye-close
    .col-lg-4
      %span.glyphicon.glyphicon-warning-sign
      %span.glyphicon-class glyphicon glyphicon-warning-sign
    .col-lg-4
      %span.glyphicon.glyphicon-plane
      %span.glyphicon-class glyphicon glyphicon-plane
    .col-lg-4
      %span.glyphicon.glyphicon-calendar
      %span.glyphicon-class glyphicon glyphicon-calendar
    .col-lg-4
      %span.glyphicon.glyphicon-random
      %span.glyphicon-class glyphicon glyphicon-random
    .col-lg-4
      %span.glyphicon.glyphicon-comment
      %span.glyphicon-class glyphicon glyphicon-comment
    .col-lg-4
      %span.glyphicon.glyphicon-magnet
      %span.glyphicon-class glyphicon glyphicon-magnet
    .col-lg-4
      %span.glyphicon.glyphicon-chevron-up
      %span.glyphicon-class glyphicon glyphicon-chevron-up
    .col-lg-4
      %span.glyphicon.glyphicon-chevron-down
      %span.glyphicon-class glyphicon glyphicon-chevron-down
    .col-lg-4
      %span.glyphicon.glyphicon-retweet
      %span.glyphicon-class glyphicon glyphicon-retweet
    .col-lg-4
      %span.glyphicon.glyphicon-shopping-cart
      %span.glyphicon-class glyphicon glyphicon-shopping-cart
    .col-lg-4
      %span.glyphicon.glyphicon-folder-close
      %span.glyphicon-class glyphicon glyphicon-folder-close
    .col-lg-4
      %span.glyphicon.glyphicon-folder-open
      %span.glyphicon-class glyphicon glyphicon-folder-open
    .col-lg-4
      %span.glyphicon.glyphicon-resize-vertical
      %span.glyphicon-class glyphicon glyphicon-resize-vertical
    .col-lg-4
      %span.glyphicon.glyphicon-resize-horizontal
      %span.glyphicon-class glyphicon glyphicon-resize-horizontal
    .col-lg-4
      %span.glyphicon.glyphicon-hdd
      %span.glyphicon-class glyphicon glyphicon-hdd
    .col-lg-4
      %span.glyphicon.glyphicon-bullhorn
      %span.glyphicon-class glyphicon glyphicon-bullhorn
    .col-lg-4
      %span.glyphicon.glyphicon-bell
      %span.glyphicon-class glyphicon glyphicon-bell
    .col-lg-4
      %span.glyphicon.glyphicon-certificate
      %span.glyphicon-class glyphicon glyphicon-certificate
    .col-lg-4
      %span.glyphicon.glyphicon-thumbs-up
      %span.glyphicon-class glyphicon glyphicon-thumbs-up
    .col-lg-4
      %span.glyphicon.glyphicon-thumbs-down
      %span.glyphicon-class glyphicon glyphicon-thumbs-down
    .col-lg-4
      %span.glyphicon.glyphicon-hand-right
      %span.glyphicon-class glyphicon glyphicon-hand-right
    .col-lg-4
      %span.glyphicon.glyphicon-hand-left
      %span.glyphicon-class glyphicon glyphicon-hand-left
    .col-lg-4
      %span.glyphicon.glyphicon-hand-up
      %span.glyphicon-class glyphicon glyphicon-hand-up
    .col-lg-4
      %span.glyphicon.glyphicon-hand-down
      %span.glyphicon-class glyphicon glyphicon-hand-down
    .col-lg-4
      %span.glyphicon.glyphicon-circle-arrow-right
      %span.glyphicon-class glyphicon glyphicon-circle-arrow-right
    .col-lg-4
      %span.glyphicon.glyphicon-circle-arrow-left
      %span.glyphicon-class glyphicon glyphicon-circle-arrow-left
    .col-lg-4
      %span.glyphicon.glyphicon-circle-arrow-up
      %span.glyphicon-class glyphicon glyphicon-circle-arrow-up
    .col-lg-4
      %span.glyphicon.glyphicon-circle-arrow-down
      %span.glyphicon-class glyphicon glyphicon-circle-arrow-down
    .col-lg-4
      %span.glyphicon.glyphicon-globe
      %span.glyphicon-class glyphicon glyphicon-globe
    .col-lg-4
      %span.glyphicon.glyphicon-wrench
      %span.glyphicon-class glyphicon glyphicon-wrench
    .col-lg-4
      %span.glyphicon.glyphicon-tasks
      %span.glyphicon-class glyphicon glyphicon-tasks
    .col-lg-4
      %span.glyphicon.glyphicon-filter
      %span.glyphicon-class glyphicon glyphicon-filter
    .col-lg-4
      %span.glyphicon.glyphicon-briefcase
      %span.glyphicon-class glyphicon glyphicon-briefcase
    .col-lg-4
      %span.glyphicon.glyphicon-fullscreen
      %span.glyphicon-class glyphicon glyphicon-fullscreen
    .col-lg-4
      %span.glyphicon.glyphicon-dashboard
      %span.glyphicon-class glyphicon glyphicon-dashboard
    .col-lg-4
      %span.glyphicon.glyphicon-paperclip
      %span.glyphicon-class glyphicon glyphicon-paperclip
    .col-lg-4
      %span.glyphicon.glyphicon-heart-empty
      %span.glyphicon-class glyphicon glyphicon-heart-empty
    .col-lg-4
      %span.glyphicon.glyphicon-link
      %span.glyphicon-class glyphicon glyphicon-link
    .col-lg-4
      %span.glyphicon.glyphicon-phone
      %span.glyphicon-class glyphicon glyphicon-phone
    .col-lg-4
      %span.glyphicon.glyphicon-pushpin
      %span.glyphicon-class glyphicon glyphicon-pushpin
    .col-lg-4
      %span.glyphicon.glyphicon-usd
      %span.glyphicon-class glyphicon glyphicon-usd
    .col-lg-4
      %span.glyphicon.glyphicon-gbp
      %span.glyphicon-class glyphicon glyphicon-gbp
    .col-lg-4
      %span.glyphicon.glyphicon-sort
      %span.glyphicon-class glyphicon glyphicon-sort
    .col-lg-4
      %span.glyphicon.glyphicon-sort-by-alphabet
      %span.glyphicon-class glyphicon glyphicon-sort-by-alphabet
    .col-lg-4
      %span.glyphicon.glyphicon-sort-by-alphabet-alt
      %span.glyphicon-class glyphicon glyphicon-sort-by-alphabet-alt
    .col-lg-4
      %span.glyphicon.glyphicon-sort-by-order
      %span.glyphicon-class glyphicon glyphicon-sort-by-order
    .col-lg-4
      %span.glyphicon.glyphicon-sort-by-order-alt
      %span.glyphicon-class glyphicon glyphicon-sort-by-order-alt
    .col-lg-4
      %span.glyphicon.glyphicon-sort-by-attributes
      %span.glyphicon-class glyphicon glyphicon-sort-by-attributes
    .col-lg-4
      %span.glyphicon.glyphicon-sort-by-attributes-alt
      %span.glyphicon-class glyphicon glyphicon-sort-by-attributes-alt
    .col-lg-4
      %span.glyphicon.glyphicon-unchecked
      %span.glyphicon-class glyphicon glyphicon-unchecked
    .col-lg-4
      %span.glyphicon.glyphicon-expand
      %span.glyphicon-class glyphicon glyphicon-expand
    .col-lg-4
      %span.glyphicon.glyphicon-collapse-down
      %span.glyphicon-class glyphicon glyphicon-collapse-down
    .col-lg-4
      %span.glyphicon.glyphicon-collapse-up
      %span.glyphicon-class glyphicon glyphicon-collapse-up
    .col-lg-4
      %span.glyphicon.glyphicon-log-in
      %span.glyphicon-class glyphicon glyphicon-log-in
    .col-lg-4
      %span.glyphicon.glyphicon-flash
      %span.glyphicon-class glyphicon glyphicon-flash
    .col-lg-4
      %span.glyphicon.glyphicon-log-out
      %span.glyphicon-class glyphicon glyphicon-log-out
    .col-lg-4
      %span.glyphicon.glyphicon-new-window
      %span.glyphicon-class glyphicon glyphicon-new-window
    .col-lg-4
      %span.glyphicon.glyphicon-record
      %span.glyphicon-class glyphicon glyphicon-record
    .col-lg-4
      %span.glyphicon.glyphicon-save
      %span.glyphicon-class glyphicon glyphicon-save
    .col-lg-4
      %span.glyphicon.glyphicon-open
      %span.glyphicon-class glyphicon glyphicon-open
    .col-lg-4
      %span.glyphicon.glyphicon-saved
      %span.glyphicon-class glyphicon glyphicon-saved
    .col-lg-4
      %span.glyphicon.glyphicon-import
      %span.glyphicon-class glyphicon glyphicon-import
    .col-lg-4
      %span.glyphicon.glyphicon-export
      %span.glyphicon-class glyphicon glyphicon-export
    .col-lg-4
      %span.glyphicon.glyphicon-send
      %span.glyphicon-class glyphicon glyphicon-send
    .col-lg-4
      %span.glyphicon.glyphicon-floppy-disk
      %span.glyphicon-class glyphicon glyphicon-floppy-disk
    .col-lg-4
      %span.glyphicon.glyphicon-floppy-saved
      %span.glyphicon-class glyphicon glyphicon-floppy-saved
    .col-lg-4
      %span.glyphicon.glyphicon-floppy-remove
      %span.glyphicon-class glyphicon glyphicon-floppy-remove
    .col-lg-4
      %span.glyphicon.glyphicon-floppy-save
      %span.glyphicon-class glyphicon glyphicon-floppy-save
    .col-lg-4
      %span.glyphicon.glyphicon-floppy-open
      %span.glyphicon-class glyphicon glyphicon-floppy-open
    .col-lg-4
      %span.glyphicon.glyphicon-credit-card
      %span.glyphicon-class glyphicon glyphicon-credit-card
    .col-lg-4
      %span.glyphicon.glyphicon-transfer
      %span.glyphicon-class glyphicon glyphicon-transfer
    .col-lg-4
      %span.glyphicon.glyphicon-cutlery
      %span.glyphicon-class glyphicon glyphicon-cutlery
    .col-lg-4
      %span.glyphicon.glyphicon-header
      %span.glyphicon-class glyphicon glyphicon-header
    .col-lg-4
      %span.glyphicon.glyphicon-compressed
      %span.glyphicon-class glyphicon glyphicon-compressed
    .col-lg-4
      %span.glyphicon.glyphicon-earphone
      %span.glyphicon-class glyphicon glyphicon-earphone
    .col-lg-4
      %span.glyphicon.glyphicon-phone-alt
      %span.glyphicon-class glyphicon glyphicon-phone-alt
    .col-lg-4
      %span.glyphicon.glyphicon-tower
      %span.glyphicon-class glyphicon glyphicon-tower
    .col-lg-4
      %span.glyphicon.glyphicon-stats
      %span.glyphicon-class glyphicon glyphicon-stats
    .col-lg-4
      %span.glyphicon.glyphicon-sd-video
      %span.glyphicon-class glyphicon glyphicon-sd-video
    .col-lg-4
      %span.glyphicon.glyphicon-hd-video
      %span.glyphicon-class glyphicon glyphicon-hd-video
    .col-lg-4
      %span.glyphicon.glyphicon-subtitles
      %span.glyphicon-class glyphicon glyphicon-subtitles
    .col-lg-4
      %span.glyphicon.glyphicon-sound-stereo
      %span.glyphicon-class glyphicon glyphicon-sound-stereo
    .col-lg-4
      %span.glyphicon.glyphicon-sound-dolby
      %span.glyphicon-class glyphicon glyphicon-sound-dolby
    .col-lg-4
      %span.glyphicon.glyphicon-sound-5-1
      %span.glyphicon-class glyphicon glyphicon-sound-5-1
    .col-lg-4
      %span.glyphicon.glyphicon-sound-6-1
      %span.glyphicon-class glyphicon glyphicon-sound-6-1
    .col-lg-4
      %span.glyphicon.glyphicon-sound-7-1
      %span.glyphicon-class glyphicon glyphicon-sound-7-1
    .col-lg-4
      %span.glyphicon.glyphicon-copyright-mark
      %span.glyphicon-class glyphicon glyphicon-copyright-mark
    .col-lg-4
      %span.glyphicon.glyphicon-registration-mark
      %span.glyphicon-class glyphicon glyphicon-registration-mark
    .col-lg-4
      %span.glyphicon.glyphicon-cloud-download
      %span.glyphicon-class glyphicon glyphicon-cloud-download
    .col-lg-4
      %span.glyphicon.glyphicon-cloud-upload
      %span.glyphicon-class glyphicon glyphicon-cloud-upload
    .col-lg-4
      %span.glyphicon.glyphicon-tree-conifer
      %span.glyphicon-class glyphicon glyphicon-tree-conifer
    .col-lg-4
      %span.glyphicon.glyphicon-tree-deciduous
      %span.glyphicon-class glyphicon glyphicon-tree-deciduous
