<% design_name = @design.valid? ? @design.name : @design.name_was %>
<h2>
  <span data-object="pull-partial-edit" data-edit="design_name" class="editable-design-element">
    <% if design_name.blank? %><span class="text-muted">Click to Edit Design Name</span><% else %><%= design_name %><% end %>
  </span>
  <div class="btn-group design-preview-hide" data-toggle="buttons-radio">
    <% [['private', false],['public', true]].each do |label, publicly_available| %>
      <% if publicly_available == @design.publicly_available %>
        <button type="button" class="btn btn-mini active"><%= label %></button>
      <% else %>
        <%= link_to label, '#', data: { object: 'push-partial-change', update: 'design_name', changes: { design: { publicly_available: publicly_available } } }, class: 'btn btn-default btn-mini' %>
      <% end %>
    <% end %>
  </div>
</h2>

<span class="design-preview-hide">
  <% if @design.publicly_available? %>
    <% if @design.slug.blank? %>
      <%= "#{SITE_URL}/projects/#{@design.project_id}/surveys/#{@design.id}" %>
    <% else %>
      <%= "#{SITE_URL}/survey/#{@design.slug}" %>
    <% end %>
  <% end %>
</span>
