<% design_name = @design.valid? ? @design.name : @design.name_was %>
<h2>
  <span data-object="pull-partial-edit" data-edit="design_name" class="editable-design-element">
    <% if design_name.blank? %><span class="text-muted">Click to Edit Design Name</span><% else %><%= design_name %><% end %>
  </span>
  <div class="design-preview-hide">
    <div class="btn-group" data-toggle="buttons">
      <% [['private', false],['public', true]].each do |label, value| %>
        <label class="btn btn-mini btn-default <%= 'active' if @design.publicly_available == value %>" data-object="push-partial-change" data-update="design_name" data-changes='{"design":{"publicly_available":<%= value %>}}'>
          <%= radio_button_tag "publicly_available", value, @design.publicly_available == value %>
          <%= label %>
        </label>
      <% end %>
    </div>
  </div>
</h2>

<span class="design-preview-hide">
  <% if @design.publicly_available? %>
    <% if @design.slug.blank? %>
      <%= "#{SITE_URL}/projects/#{@design.project_id}/surveys/#{@design.id}" %>
    <% else %>
      <%= "#{SITE_URL}/survey/#{@design.slug}" %>
    <% end %>
  <% end %>
</span>
