<% section_type = @option[:section_type].to_i %>
<% @section = @design.sections.where( name: @option[:section_name] ).first %>
<div class="row">
  <div class="col-sm-6" data-object="design-preview-expand">
    <% section_name = (@section ? @section.name : @option[:section_name]) %>
    <% if section_type > 0 %>
      <h3><%= section_name %></h3>
    <% else %>
      <h2><%= section_name %></h2>
    <% end %>
    <% section_description = (@section ? @section.description : @option[:section_description]) %>
    <%= simple_markdown section_description unless section_description.blank? %>
    <%= render partial: 'sections/image' %>
  </div>
  <div class="col-sm-6 design-preview-hide">
    <h4 style="margin-top:0px">Section</h4>
    <div class="design-edit-box">
      <table class="table" style="margin-bottom:0px;table-layout:fixed"><col width="30%"/>
        <tr>
          <td style="border-top-width:0px">
            <strong>Actions</strong>
          </td>
          <td style="border-top-width:0px">
            <%= link_to 'Edit Section', '#', data: { object: 'pull-partial-edit', edit: 'section', position: @position }, class: 'btn btn-xs btn-default' %>
            <%= link_to 'Remove', '#', data: { object: 'push-partial-change', delete: 'section', position: @position, confirm: "Are you sure you want section '#{@section ? @section.name : @option[:section_name]}' from the design?" }, class: 'btn btn-xs btn-danger-inverse' %>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
