<div class="control-group">
  <div class="page-header editable-design-element" style="margin-top:0px">
    <h4>
      <span data-path="<%= interactive_popup_project_designs_path(@project, edit: 'variable_header', position: @position) %>" data-object="click-and-show" class="editable-design-element">
        <% if @variable.header.blank? %>
          <div class="muted">Click to Edit Variable Header</div>
        <% else %>
          <%= simple_markdown @variable.header %>
        <% end %>
      </span>
    </h4>
  </div>

  <% if @variable.display_name_visibility == 'visible' and @variable.variable_type != 'scale' %>
    <div data-path="<%= interactive_popup_project_designs_path(@project, edit: 'variable_display_name', position: @position) %>" data-object="click-and-show" class="editable-design-element">
      <label class="control-label"><%= @variable.display_name %></label>
    </div>
  <% end %>

  <div class="<%= "controls" if @variable.display_name_visibility != 'gone' and @variable.variable_type != 'scale' %> <%= @variable.variable_type if ['radio', 'checkbox'].include?(@variable.variable_type) %>">
    <div style="line-height:30px">
      <% if Variable::TYPE.flatten.uniq.include?(@variable.variable_type) %>
        <%= render partial: "designs/interactive/show/types/#{@variable.variable_type}", locals: { variable: @variable } %>
      <% end %>
    </div>
  </div>
</div>
<div class="design-options-shadow">
  <dl class="dl-horizontal" style="margin:0px">
    <dt>Display Name</dt>
    <dd>
      <% Variable::DISPLAY_NAME_VISIBILITY.each_with_index do |(label, visibility), vindex| %>
        <% if visibility == @variable.display_name_visibility %>
          <strong><%= visibility %></strong>
        <% else %>
          <%= link_to visibility, '#', data: { object: 'partial-update-submit', path: interactive_popup_project_designs_path(@variable.project, update: 'variable', variable: { display_name_visibility: visibility }, position: @position, nojump: '1') } %>
        <% end %>
        <%= '|' if vindex < Variable::DISPLAY_NAME_VISIBILITY.size - 1 %>
      <% end %>
    </dd>

    <% variable_types = if ['string', 'text'].include?(@variable.variable_type) %>
      <% ['string', 'text'] %>
    <% elsif ['integer', 'numeric'].include?(@variable.variable_type) %>
      <% ['integer', 'numeric'] %>
    <% elsif ['radio', 'dropdown'].include?(@variable.variable_type) %>
      <% ['radio', 'dropdown'] %>
    <% else %>
      <% [@variable.variable_type] %>
    <% end %>
    <% if variable_types.size > 1 %>
      <dt>Type</dt>
      <dd>
        <% variable_types.each_with_index do |variable_type, vindex| %>
          <% if variable_type == @variable.variable_type %>
            <strong><%= variable_type %></strong>
          <% else %>
            <%= link_to variable_type, '#', data: { object: 'partial-update-submit', path: interactive_popup_project_designs_path(@variable.project, update: 'variable', variable: { variable_type: variable_type }, position: @position, nojump: '1') } %>
          <% end %>
          <%= '|' if vindex < variable_types.size - 1 %>
        <% end %>
      </dd>
    <% end %>

    <% if ['radio', 'checkbox'].include?(@variable.variable_type) %>
      <dt>Options Alignment</dt>
      <dd>
        <% Variable::ALIGNMENT.each_with_index do |(label, alignment), vindex| %>
          <% if alignment == @variable.alignment %>
            <strong><%= alignment %></strong>
          <% else %>
            <%= link_to alignment, '#', data: { object: 'partial-update-submit', path: interactive_popup_project_designs_path(@variable.project, update: 'variable', variable: { alignment: alignment }, position: @position, nojump: '1') } %>
          <% end %>
          <%= '|' if vindex < Variable::ALIGNMENT.size - 1 %>
        <% end %>
      </dd>
    <% end %>

    <% if ['time', 'date'].include?(@variable.variable_type) %>
      <dt>Current <%= @variable.variable_type.titleize %> Button</dt>
      <dd>
        <% [['show', true],['hide', false]].each_with_index do |(label, show_current_button), vindex| %>
          <% if show_current_button == @variable.show_current_button %>
            <strong><%= label %></strong>
          <% else %>
            <%= link_to label, '#', data: { object: 'partial-update-submit', path: interactive_popup_project_designs_path(@variable.project, update: 'variable', variable: { show_current_button: show_current_button }, position: @position, nojump: '1') } %>
          <% end %>
          <%= '|' if vindex < 1 %>
        <% end %>
      </dd>
    <% end %>
  </dl>
</div>
