<% if @variable.deleted? %>
  <div class="form-group error">
    <label class="col-md-2 control-label"><%= @variable.display_name %></label>
    <div class="col-md-10">
      <div style="line-height:30px">
        This variable has been deleted. Click below to remove from design.
      </div>
    </div>
  </div>
<% else %>
  <div class="form-group">
    <% if @variable.uses_scale? %>
      <%# Nothing %>
    <% elsif ['invisible', 'gone'].include?(@variable.display_name_visibility) %>
      <div class="page-header editable-design-element" style="margin-top:0px">
        <h4 style="padding:0px">
          <span data-object="pull-partial-edit" data-edit="variable_display_name" data-position="<%= @position %>" data-variable-id="<%= @variable.id %>" class="editable-design-element">
            <%= @variable.display_name %>
          </span>
        </h4>
      </div>
    <% else %>
      <label class="col-md-2 control-label">
        <span data-object="pull-partial-edit" data-edit="variable_display_name" data-position="<%= @position %>" data-variable-id="<%= @variable.id %>" class="editable-design-element">
          <%= @variable.display_name %>
        </span>
      </label>
    <% end %>

    <div class="<%= "col-md-10" if @variable.display_name_visibility != 'gone' and not @variable.uses_scale? %> <%= 'col-md-offset-2' if @variable.display_name_visibility == 'invisible' and not @variable.uses_scale? %>">
      <div style="line-height:30px">
        <% if Variable::TYPE.flatten.uniq.include?(@variable.variable_type) %>
          <%= render partial: "designs/interactive/show/types/#{@variable.variable_type}", locals: { variable: @variable } %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="download-container design-preview-hide">
  <div class="download-container-after">Variable Options <code><%= @variable.name %></code></div>
  <dl class="dl-horizontal" style="margin:20px 0px 0px 0px">
    <% unless @variable.deleted? %>
      <% variable_types = if ['string', 'text'].include?(@variable.variable_type) %>
        <% ['string', 'text'] %>
      <% elsif ['integer', 'numeric'].include?(@variable.variable_type) %>
        <% ['integer', 'numeric'] %>
      <% elsif ['radio', 'dropdown'].include?(@variable.variable_type) %>
        <% ['radio', 'dropdown'] %>
      <% else %>
        <% [@variable.variable_type] %>
      <% end %>
      <% if variable_types.size > 1 %>
        <dt>Type</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons">
            <% variable_types.collect{|v| [v,v]}.each do |label, value| %>
              <label class="btn btn-xs btn-default <%= 'active' if @variable.variable_type == value %>" data-object="push-partial-change" data-update="variable" data-variable-id="<%= @variable.id %>" data-changes='{"variable":{"variable_type":"<%= value %>"}}' data-position="<%= @position %>">
                <%= radio_button_tag "variable_type", value, @variable.variable_type == value %>
                <%= label %>
              </label>
            <% end %>
          </div>
        </dd>
      <% end %>

      <% if ['radio', 'checkbox'].include?(@variable.variable_type) %>
        <dt>Options Alignment</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons">
            <% Variable::ALIGNMENT.each do |label, value| %>
              <label class="btn btn-xs btn-default <%= 'active' if @variable.alignment == value %>" data-object="push-partial-change" data-update="variable" data-variable-id="<%= @variable.id %>" data-changes='{"variable":{"alignment":"<%= value %>"}}' data-position="<%= @position %>">
                <%= radio_button_tag "alignment", value, @variable.alignment == value %>
                <%= label %>
              </label>
            <% end %>
          </div>
        </dd>
      <% end %>

      <% unless ['radio', 'checkbox'].include?(@variable.variable_type) and @variable.alignment == 'scale' %>
        <dt>Display Name</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons">
            <% Variable::DISPLAY_NAME_VISIBILITY.each do |label, value| %>
              <label class="btn btn-xs btn-default <%= 'active' if @variable.display_name_visibility == value %>" data-object="push-partial-change" data-update="variable" data-variable-id="<%= @variable.id %>" data-changes='{"variable":{"display_name_visibility":"<%= value %>"}}' data-position="<%= @position %>">
                <%= radio_button_tag "display_name_visibility", value, @variable.display_name_visibility == value %>
                <%= label %>
              </label>
            <% end %>
          </div>
        </dd>
      <% end %>

      <% if ['time', 'date'].include?(@variable.variable_type) %>
        <dt>Current <%= @variable.variable_type.titleize %> Button</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons">
            <% [['show', true],['hide', false]].each do |label, value| %>
              <label class="btn btn-xs btn-default <%= 'active' if @variable.show_current_button == value %>" data-object="push-partial-change" data-update="variable" data-variable-id="<%= @variable.id %>" data-changes='{"variable":{"show_current_button":"<%= value %>"}}' data-position="<%= @position %>">
                <%= radio_button_tag "show_current_button", value, @variable.show_current_button == value %>
                <%= label %>
              </label>
            <% end %>
          </div>
        </dd>
      <% end %>

      <% if ['grid'].include?(@variable.variable_type) %>
        <dt>Allow Multiple Rows</dt>
        <dd>
          <div class="btn-group" data-toggle="buttons">
            <% [['enabled', true],['disabled', false]].each do |label, value| %>
              <label class="btn btn-xs btn-default <%= 'active' if @variable.multiple_rows == value %>" data-object="push-partial-change" data-update="variable" data-variable-id="<%= @variable.id %>" data-changes='{"variable":{"multiple_rows":"<%= value %>"}}' data-position="<%= @position %>">
                <%= radio_button_tag "multiple_rows", value, @variable.multiple_rows == value %>
                <%= label %>
              </label>
            <% end %>
          </div>
        </dd>

        <dt>Default Row Number</dt>
        <dd>
          <div data-object="pull-partial-edit" data-edit="variable_grid_rows" data-position="<%= @position %>" data-variable-id="<%= @variable.id %>" class="add-on <%= 'text-muted' if @variable.append.blank? %> editable-design-element">
            <%= @variable.default_row_number %>
          </div>
        </dd>
      <% end %>
    <% end %>

    <dt>Actions</dt>
    <dd>
      <%= link_to 'Remove', '#', data: { object: 'push-partial-change', delete: 'variable', position: @position, confirm: "Are you sure you want to remove '#{@variable.name}' from the design?" }, class: 'btn btn-xs btn-danger-inverse' %>
    </dd>
  </dl>
</div>
