<div class="control-group">
  <div class="page-header editable-design-element" style="margin-top:0px">
    <h4 style="padding:0px" class="<%= 'hover-dark' if @variable.header.blank? %>">
      <span data-object="pull-partial-edit" data-edit="variable_header" data-position="<%= @position %>" class="editable-design-element">
        <% if @variable.header.blank? %>
          Click to Edit Variable Header
        <% else %>
          <%= simple_markdown @variable.header %>
        <% end %>
      </span>
    </h4>
  </div>

  <% if @variable.display_name_visibility == 'visible' and not @variable.uses_scale? %>
    <div data-object="pull-partial-edit" data-edit="variable_display_name" data-position="<%= @position %>" class="editable-design-element">
      <label class="control-label"><%= @variable.display_name %></label>
    </div>
  <% end %>

  <div class="<%= "controls" if @variable.display_name_visibility != 'gone' and not @variable.uses_scale? %>">
    <div style="line-height:30px">
      <% if Variable::TYPE.flatten.uniq.include?(@variable.variable_type) %>
        <%= render partial: "designs/interactive/show/types/#{@variable.variable_type}", locals: { variable: @variable } %>
      <% end %>
    </div>
  </div>
</div>
<div class="design-options-shadow">
  <dl class="dl-horizontal" style="margin:0px">
    <dt>Display Name</dt>
    <dd>
      <div class="btn-group" data-toggle="buttons-radio">
        <% Variable::DISPLAY_NAME_VISIBILITY.each_with_index do |(label, visibility), vindex| %>
          <% if visibility == @variable.display_name_visibility %>
            <button type="button" class="btn btn-mini active"><%= visibility %></button>
          <% else %>
            <%= link_to visibility, '#', data: { object: 'push-partial-change', update: 'variable', changes: { variable: { display_name_visibility: visibility } }, position: @position }, class: 'btn btn-mini' %>
          <% end %>
        <% end %>
      </div>
    </dd>

    <% variable_types = if ['string', 'text'].include?(@variable.variable_type) %>
      <% ['string', 'text'] %>
    <% elsif ['integer', 'numeric'].include?(@variable.variable_type) %>
      <% ['integer', 'numeric'] %>
    <% elsif ['radio', 'dropdown'].include?(@variable.variable_type) %>
      <% ['radio', 'dropdown'] %>
    <% else %>
      <% [@variable.variable_type] %>
    <% end %>
    <% if variable_types.size > 1 %>
      <dt>Type</dt>
      <dd>
        <div class="btn-group" data-toggle="buttons-radio">
          <% variable_types.each_with_index do |variable_type, vindex| %>
            <% if variable_type == @variable.variable_type %>
              <button type="button" class="btn btn-mini active"><%= variable_type %></button>
            <% else %>
              <%= link_to variable_type, '#', data: { object: 'push-partial-change', update: 'variable', changes: { variable: { variable_type: variable_type } }, position: @position }, class: 'btn btn-mini' %>
            <% end %>
          <% end %>
        </div>
      </dd>
    <% end %>

    <% if ['radio', 'checkbox'].include?(@variable.variable_type) %>
      <dt>Options Alignment</dt>
      <dd>
        <div class="btn-group" data-toggle="buttons-radio">
          <% Variable::ALIGNMENT.each_with_index do |(label, alignment), vindex| %>
            <% if alignment == @variable.alignment %>
              <button type="button" class="btn btn-mini active"><%= alignment %></button>
            <% else %>
              <%= link_to alignment, '#', data: { object: 'push-partial-change', update: 'variable', changes: { variable: { alignment: alignment } }, position: @position }, class: 'btn btn-mini' %>
            <% end %>
          <% end %>
        </div>
      </dd>
    <% end %>

    <% if ['time', 'date'].include?(@variable.variable_type) %>
      <dt>Current <%= @variable.variable_type.titleize %> Button</dt>
      <dd>
        <div class="btn-group" data-toggle="buttons-radio">
          <% [['show', true],['hide', false]].each_with_index do |(label, show_current_button), vindex| %>
            <% if show_current_button == @variable.show_current_button %>
              <button type="button" class="btn btn-mini active"><%= label %></button>
            <% else %>
              <%= link_to label, '#', data: { object: 'push-partial-change', update: 'variable', changes: { variable: { show_current_button: show_current_button } }, position: @position }, class: 'btn btn-mini' %>
            <% end %>
          <% end %>
        </div>
      </dd>
    <% end %>

    <dt>Actions</dt>
    <dd>
      <%= link_to 'remove', '#', data: { object: 'push-partial-change', delete: 'variable', position: @position }, class: 'btn btn-mini btn-danger' %>
    </dd>
  </dl>
</div>
