= form_with model: [site.project, site], local: true do |form|
  = render "forms/horizontal/text_field", form: form, object: site, key: :name
  = render "forms/horizontal/text_field", form: form, object: site, key: :short_name, placeholder: site.computed_short_name
  = render "forms/horizontal/number_field", form: form, object: site, key: :number

  .form-group.row
    = form.label :subject_code_format, "Subject ID Format", class: "col-md-2 col-form-label"
    .col-md-10
      .input-group
        = form.text_field :subject_code_format, class: "form-control"
        .input-group-append
          = link_to "#", class: "btn btn-info", data: { object: "toggle-visibility", target: "#subject-code-format-info" }, tabindex: "-1" do
            = icon("fas", "info-circle")
      = render "layouts/errors", object: site, key: :subject_code_format
      #subject-code-format-info.card.border-info.bg-light.mt-3{ style: "display: none;" }
        .card-header
          %strong Format
        .card-body
          You may format in the following manner, in addition to letters, a-z A-Z, or numbers, 0-9.
          %ul
            %li
              %code \d
              Represent a single digit, 0-9
            %li
              %code \l
              Represent a single lowercase letter, a-z
            %li
              %code \L
              Represent a single uppercase letter, A-Z

  = render "forms/horizontal/text_area", form: form, object: site, key: :description, rows: 7
  = render "forms/horizontal/submit", form: form, object: [site.project, site]
