%h2.underline-heading= @title

= form_for [@project, @site], html: { class: 'form-horizontal' } do |f|
  - if @site.errors.any?
    .callout.callout-danger
      %strong
        = pluralize @site.errors.count, 'error'
        prohibited this site from being saved

      %ul
        - @site.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :name, class: 'form-control'

  .form-group
    = f.label :short_name, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :short_name, class: 'form-control', placeholder: @site.computed_short_name

  .form-group
    = f.label :subject_code_format, (@site.project ? @site.project.subject_code_name_full + ' ' : '') + 'Format', class: 'col-md-2 control-label'
    .col-md-10
      = f.text_field :subject_code_format, class: 'form-control'
      .callout.callout-info
        %strong Format
        You may format in the following manner, in addition to letters, a-z A-Z, or numbers, 0-9.
        %ul
          %li
            %code \d
            Represent a single digit, 0-9
          %li
            %code \l
            Represent a single lowercase letter, a-z
          %li
            %code \L
            Represent a single uppercase letter, A-Z

  .form-group
    = f.label :description, nil, class: 'col-md-2 control-label'
    .col-md-10
      = f.text_area :description, rows: 7, class: 'form-control'

  .form-group
    .col-md-10.col-md-offset-2
      = f.submit nil, class: 'btn btn-primary'
      = link_to 'Cancel', @site.new_record? ? project_sites_path(@project) : [@project, @site], class: 'btn btn-default'
