<div class="page-header">
  <h1><%= link_to @project.name, @project %> &middot; <%= @title %></h1>
</div>

<%= form_for [@site.project, @site], html: { class: 'form-horizontal' } do |f| %>
  <% if @site.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@site.errors.count, "error") %> prohibited this site from being saved</h4>

      <ul>
      <% @site.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :prefix, 'Site Prefix', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :prefix, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :code_minimum, (@site.project ? @site.project.subject_code_name_full + ' ' : '') + 'Minimum', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :code_minimum, class: 'form-control' %>
      <div class="bs-callout bs-callout-info">
        <h4>Heads up!</h4>
        Do not include the site prefix.
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :code_maximum, (@site.project ? @site.project.subject_code_name_full + ' ' : '') + 'Maximum', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :code_maximum, class: 'form-control' %>
      <div class="bs-callout bs-callout-info">
        <h4>Heads up!</h4>
        Do not include the site prefix.
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, nil, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_area :description, rows: 7, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
