<% if @project %>
  <% if @subject and @subject.site and @disable_selection %>
    <span class="help-block" style="margin-top:6px">
      <%= hidden_field_tag :site_id, @subject.site.id %>
      <%= @subject.site.name %>
    </span>
  <% elsif @project.sites.size == 1 %>
    <span class="help-block" style="margin-top:6px">
      <%= hidden_field_tag :site_id, @project.sites.first.id %>
      <%= @project.sites.first.name %>
    </span>
  <% elsif @project.sites.size > 1 %>
    <% prefix_site_id = @project.site_id_with_prefix(params[:subject_code] || @subject.subject_code) %>
    <%= select_tag :site_id, options_for_select([['---', nil]] + @project.sites.collect{|s| [s.name, s.id]}, (@subject ? @subject.site_id : prefix_site_id)) %>
  <% else %>
    <span class="help-block" style="margin-top:6px">
      You need to <%= link_to 'add', new_site_path(site: { project_id: @project.id }) %> at least one site to this project.
    </span>
  <% end %>
<% end %>
