<%= render partial: 'layouts/per_page', locals: { type: 'sites', per_page: 20, object_count: @sites.total_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sites.name', 'Name', 'sites_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sites.prefix', 'Prefix', 'sites_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sites.description', 'Description', 'sites_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'sites.user_id', 'Creator', 'sites_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @sites.each do |site| %>
    <tr id="site_<%= site.id %>">
      <td><%= link_to site.name, [site.project, site] %></td>
      <td><%= site.prefix %></td>
      <td><%= site.description %></td>
      <td><%= link_to site.user.name, site.user if site.user %></td>
      <td>
        <% if current_user.all_sites.pluck(:id).include?(site.id) %>
          <%= link_to 'Edit', edit_project_site_path(site.project, site), class: 'btn btn-mini' %>
          <%= link_to 'Delete', [site.project, site], method: :delete, remote: true, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to delete Site #{site.name}?" } %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @sites, theme: "contour" %></div>
