- @title = "#{@site.name_was} Edit"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @site.name_was
- content_for :breadcrumbs do
  %ol
    %li= link_to "sites", project_sites_path(@project)
    %li= link_to @site.name_was.to_s.downcase, [@project, @site]
    %li.breadcrumb-muted edit

.dashboard-container
  = render "form", site: @site
