<% @title = 'Sites' %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= @title %>
    <%= link_to "Create Site", new_project_site_path(@project), class: 'btn btn-xs btn-primary' if @project.editable_by?(current_user) %>
  </h1>
</div>

<%= form_tag project_sites_path(@project), method: :get, class: 'form-inline' do %>
  <%= hidden_field_tag :order, params[:order] %>

  <%= text_field_tag 'search', params[:search], class: 'form-control' %>
  <%= submit_tag 'Search', class: 'btn btn-primary', name: nil %>
  <%= link_to 'Reset', project_sites_path(@project), class: 'btn btn-default' %>
<% end %>

<%= render partial: 'sites/sites' %>
