<% @title = 'Sites' %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= @title %>
    <%= link_to "Create Site", new_project_site_path(@project), class: 'btn btn-mini btn-primary' if current_user.all_viewable_projects.pluck(:id).include?(@project.id) %>
  </h1>
</div>

<%= form_tag project_sites_path(@project), method: :get, remote: true, id: "sites_search", class: 'form-search', data: { object: 'form-load' } do %>
  <%= hidden_field_tag :order %>

  <div class="row">
    <div class="span4 control-group">
      <%= label :search, 'Search', class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag 'search', params[:search], class: 'search-query', data: { object: 'filter' } %>
      </div>
    </div>

    <div class="span4 control-group">
      <%= label :project_id, 'Project', class: 'control-label' %>
      <div class="controls">
        <%= select_tag :project_id, options_for_select([['---', nil]] + current_user.all_viewable_projects.order('name').collect{|p| [p.name, p.id]}, params[:project_id] ), data: { object: 'filter' } %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= submit_tag 'Filter Search', class: 'btn btn-primary' %>
    <%= link_to 'Reset', '#', class: 'btn', data: { target: '#sites_search', object: 'reset-filters' } %>
  </div>
<% end %>

<div id="sites"><div class="center"><%= image_tag "contour/ajax-loader.gif" %></div></div>
