- @title = 'Sites'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - if @project.editable_by?(current_user)
            = link_to plus_or('New Site'), new_project_site_path(@project), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @sites.total_count
        = @title

= render 'sites/sites'
