- @title = 'Site Setup'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = link_to @project.name, @project
        &middot;
        = @title

%p.lead.center.text-white.text-shadow
  Add additional project sites.

.dashboard-container
  = form_tag create_sites_project_sites_path(@project), method: :post, class: 'form-horizontal', id: 'sites-form' do
    #sites{ style: 'margin-bottom: 20px' }
      - @project.sites.each_with_index do |site, index|
        = render 'sites/site_row', site: site, index: index

    .form-group
      .col-md-offset-2.col-md-10
        = link_to '+ Add another site', add_site_row_project_sites_path(@project), method: :post, remote: true, class: 'btn btn-xs btn-accent'
        = link_to 'Learn more...', docs_sites_path, class: 'btn btn-xs btn-link'

.docs-navigation-container
  .row
    .col-sm-6.col-md-offset-4.col-md-4.col-buffer-visible-xs
      = link_to 'Skip this step', invite_editor_project_path(@project), class: 'btn btn-block btn-lg btn-default'

    .col-sm-6.col-md-4
      = link_to '#', data: { object: 'submit', target: '#sites-form' }, class: 'btn btn-lg btn-primary btn-shadow btn-block' do
        Save and Continue
        %span.glyphicon.glyphicon-arrow-right
