- @title = "Site Setup"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.mb-3.text-center{ class: @theme != "default" ? "text-white" : nil }
  Add additional project sites.

.dashboard-container
  = form_with url: create_sites_project_sites_path(@project), method: :post, local: true, id: "sites-form" do |form|
    #sites{ style: "margin-bottom: 20px;" }
      - @project.sites.each_with_index do |site, index|
        = render "sites/site_row", site: site, index: index

    .form-group.row
      .col-md-2
      .col-md-10
        = link_to "+ Add another site", add_site_row_project_sites_path(@project), method: :post, remote: true, class: "btn btn-sm btn-accent"
        = link_to "Learn more...", docs_sites_path, class: "btn btn-sm btn-link"

.row
  .col-sm-0.col-md-4
  .col-sm-6.col-md-4.col-buffer-visible-xs
    = link_to "Skip this step", settings_editor_project_path(@project), class: "btn btn-block btn-lg btn-outline-dark"

  .col-sm-6.col-md-4
    = link_to "#", data: { object: "submit", target: "#sites-form" }, class: "btn btn-lg btn-primary btn-shadow btn-block" do
      Save and Continue
      = icon("fas", "caret-right")
