- @title = @site.name
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .dropdown
            = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to project_subjects_path(@project, site_id: @site.id) do
                  %span.glyphicon.glyphicon-eye-open
                  View Subjects
              - if current_user.all_sites.pluck(:id).include?(@site.id)
                %li
                  = link_to edit_project_site_path(@site.project, @site) do
                    %span.glyphicon.glyphicon-edit
                    Edit
                %li.divider{ role: 'separator' }
                %li
                  = link_to [@project, @site], method: :delete, data: { confirm: "Are you sure you want to delete Site #{@site.name}?" } do
                    .text-danger
                      %span.glyphicon.glyphicon-trash
                      Delete

        = render 'layouts/side_nav_header_button'
        = @title

.dashboard-container
  %table.table.table-borderless
    %col.hidden-xs{ width: '30%' }
    %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }
    %tr
      %th Name
      %td= @site.name

    - if @site[:short_name].present?
      %tr
        %th Short Name
        %td= @site.short_name
    %tr
      %th
        = @site.project.subject_code_name_full
        Format
      %td
        - if @site.subject_code_format.present?
          %code=@site.subject_code_format
    %tr
      %th Description
      %td= simple_format @site.description

    %tr
      %th Creator
      %td= link_to @site.user.name, @site.user if @site.user

    %tr
      %th Site Members
      %td
        - if @site.site_users.size == 0
          %span.text-muted No Members on Site
        - else
          %table.table.table-fixed{ style: 'margin-top:-8px' }
            %thead
              %tr
                %th Name
                %th Role
                - if @project.blinding_enabled?
                  %th.center Blinding
                %th Invited By
                %th Actions
            - @site.site_users.order(editor: :desc, id: :asc).each do |member|
              = render 'projects/member_row', member: member
