<% @title = @site.name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to 'Sites', project_sites_path(@project) %> &middot; <%= @title %>
    <% if current_user.all_sites.pluck(:id).include?(@site.id) %>
      <%= link_to "Edit Site", edit_project_site_path(@site.project, @site), class: 'btn btn-default btn-mini' %>
      <%= link_to "Delete Site", [@site.project, @site], method: :delete, class: 'btn btn-mini btn-danger-inverse', data: { confirm: "Are you sure you want to delete Site #{@site.name}?" } %>
    <% end %>
    <%= link_to "View Subjects", project_subjects_path(@project, site_id: @site.id), class: 'btn btn-default btn-mini' %>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @site.name %></dd>

  <dt>Site Prefix</dt>
  <dd><%= @site.prefix %></dd>

  <dt><%= @site.project.subject_code_name_full %>  Minimum</dt>
  <dd><%= @site.code_minimum %></dd>

  <dt><%= @site.project.subject_code_name_full %>  Maximum</dt>
  <dd><%= @site.code_maximum %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @site.description %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @site.user.name, @site.user if @site.user %></dd>
</dl>


<div class="page-header">
  <h2>
    <%= form_tag project_site_users_path(@project, site_user: { site_id: @site.id } ), method: :post, remote: true, class: 'form-inline' do %>
      Site Members
      <% if current_user.all_sites.pluck(:id).include?(@site.id) %>
        <span style="white-space:nowrap">
          <%= text_field_tag :invite_email, nil, placeholder: 'Email', class: 'form-control' %>
          <%= submit_tag 'Send Invitation', class: 'btn btn-primary' %>
        </span>
      <% end %>
    <% end %>
  </h2>
</div>

<div id="site_users">
  <%= render partial: 'site_users/index' %>
</div>
