<% @title = @site.name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, @project %> &middot; <%= link_to 'Sites', project_sites_path(@project) %> &middot; <%= @title %>
  </h1>
  <% if current_user.all_sites.pluck(:id).include?(@site.id) %>
    <%= link_to "Edit Site", edit_project_site_path(@site.project, @site), class: 'btn btn-default btn-xs' %>
    <%= link_to "Delete Site", [@site.project, @site], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Site #{@site.name}?" } %>
  <% end %>
  <%= link_to "View Subjects", project_subjects_path(@project, site_id: @site.id), class: 'btn btn-default btn-xs' %>
</div>

<dl class="dl-horizontal">
  <dt>Name</dt>
  <dd><%= @site.name %></dd>

  <dt>Site Prefix</dt>
  <dd><%= @site.prefix %></dd>

  <dt><%= @site.project.subject_code_name_full %>  Minimum</dt>
  <dd><%= @site.code_minimum %></dd>

  <dt><%= @site.project.subject_code_name_full %>  Maximum</dt>
  <dd><%= @site.code_maximum %></dd>

  <dt>Description</dt>
  <dd><%= simple_format @site.description %></dd>

  <dt>Creator</dt>
  <dd><%= link_to @site.user.name, @site.user if @site.user %></dd>

  <dt>Site Members</dt>
  <dd>
    <% if @site.site_users.size == 0 %>
      <span class="text-muted">No Members on Site</span>
    <% else %>
      <table class="table" style="table-layout:fixed;margin-top:-8px">
        <thead>
          <tr>
            <th><%= @site.name %></th>
            <th>Role</th>
            <th>Invited By</th>
            <th>Actions</th>
          </tr>
        </thead>
        <% @site.site_users.order(editor: :desc, id: :asc).each do |member| %>
          <%= render partial: 'projects/member_row', locals: { member: member } %>
        <% end %>
      </table>
    <% end %>
  </dd>
</dl>
