- @title = @site.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    .dropdown
      = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
        .d-inline-block.d-sm-none
          = icon("fas", "cog")
        .d-none.d-sm-inline-block Actions

      .dropdown-menu.dropdown-menu-right
        = link_to project_subjects_path(@project, site_id: @site.id), class: "dropdown-item" do
          = icon("fas", "users")
          View Subjects
        - if current_user.all_sites.pluck(:id).include?(@site.id)
          = link_to edit_project_site_path(@site.project, @site), class: "dropdown-item" do
            = icon("fas", "pencil-alt")
            Edit
          .dropdown-divider
          = link_to [@project, @site], method: :delete, data: { confirm: "Delete #{@site.name}?" }, class: "dropdown-item text-danger" do
            = icon("fas", "trash-alt")
            Delete
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "sites", project_sites_path(@project)
    %li.breadcrumb-muted= @site.name_was.to_s.downcase

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Name
      %td= @site.name

    - if @site[:short_name].present?
      %tr
        %th Short Name
        %td= @site.short_name
    %tr
      %th Number
      %td= @site.number
    %tr
      %th Subject ID Format
      %td
        - if @site.subject_code_format.present?
          %code= @site.subject_code_format
    %tr
      %th Description
      %td= simple_format @site.description

    %tr
      %th Site Members
      - if @site.site_users.blank?
        %td
          %span.text-muted No Site Members
  - if @site.site_users.present?
    %table.table.table-striped.table-borderless.table-hover
      %col
      %col
      - if @project.blinding_enabled?
        %col
      %col{ width: "1px" }
      %thead
        %tr
          %th Name
          %th Role
          - if @project.blinding_enabled?
            %th.text-center Blinding
          %th.text-center Actions
      - @site.site_users.includes(:user).order(editor: :desc, id: :asc).each do |member|
        = render "projects/member_row", member: member
