<%#= params.inspect %>

<% if false %>
  <%#= @table_header.inspect %><br />
  <b>Sheet Count:</b> <%= @sheets.count %>
  <b>Row Vars:</b> <%= @row_variables.collect{|hash| [hash[:variable].name, hash[:variable].id]} %>
  <b>Col Vars:</b> <%= @column_variables.collect{|v| [v.name, v.id]} %>

  <%#= @row_filters.collect{|filters| filters.collect{|f| [f[:name], f[:value]]} }.inspect %>
  <% if false %><br /><b>Table Header:</b><%= @table_header.inspect %><% end %>

  <% if false %>
  <p>
    Row Filters:
    <div>
      <% @row_filters.each do |filters| %>
        <%= filters.collect{|f| [f[:name], f[:value]]} %><br />
      <% end %>
    </div>
  </p>
  <% end %>
<% end %>

<% if @total_rows > @per_page %>
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= link_to 'previous', '#', class: 'btn btn-mini', data: { object: 'set-value', target: '#page', value: params[:page] - 1 } if params[:page] > 1 %>
  <%= link_to 'next', '#', class: 'btn btn-mini', data: { object: 'set-value', target: '#page', value: params[:page] + 1 } if @per_page > 0 and params[:page] < @total_rows.to_f / @per_page %>

  <%= (params[:page] - 1) * @per_page + 1 %> to <%= [params[:page] * @per_page, @total_rows].min %> out of a total of <%= number_with_delimiter @total_rows %><br />
</div>

<% end %>

<h3 style="text-align:center;margin:0px"><%= @report_title %></h3>

<table class="table table-hover"><col width="1px" />
  <caption style="padding-bottom:8px">
    <%= @report_subtitle.html_safe %>
  </caption>
  <thead>
    <tr>
      <th></th>
      <% @table_header.each do |header| %>
        <th>
          <% if header.kind_of?(Hash) %>
            <span class="count-rot315 <%= 'muted' if header[:name].blank? %>" rel="tooltip" title="<%= header[:name].blank? ? 'Unknown' : header[:tooltip] %>"><%= header[:name].blank? ? 'Unknown' : header[:name].truncate(10) %></span>
          <% else %>
            <%= header %>
          <% end %>
        </th>
      <% end %>
    </tr>
  </thead>

  <tfoot>
    <tr style="font-weight:bold">
      <% @overall_min = @table_footer[:values].min %>
      <% @overall_max = @table_footer[:values].max %>

      <td><span data-object="sparkline" data-type="<%= @table_footer[:chart_type] %>" data-values="<%= @table_footer[:values].to_json %>" data-min="<%= @overall_min %>" data-max="<%= @overall_max %>" style="display:none"><%= @table_footer[:values].join(',') %></span></td>
      <% @table_footer[:cells].each do |hash| %>
        <% if hash[:colspan].blank? %>
          <td>
            <span class="<%= 'muted' if hash[:count] == nil %>" rel="tooltip" title="<%#= hash[:name].blank? ? 'Unknown' : hash[:tooltip] unless hash[:count] == nil %>" data-placement="left">
              <span class="rounded-borders">
                <% link_name = project_sheets_path(@project, design_id: @design.id, f: hash[:filters], filter: @filter, statuses: @statuses) %>
                <%= '&plusmn;'.html_safe if hash[:symbol] == 'pm' and hash[:count] != nil %><%= link_to_if(hash[:count].to_i > 0, hash[:name], link_name, target: '_blank') %>
                <% unless hash[:debug].blank? %>
                  <%= hash[:filters].collect{|f| "#{f[:variable_id]}:#{f[:value]}:#{f[:start_date]}:#{f[:end_date]}"}  %>
                  <%#= hash.keys %>
                  <%#= hash[:calculator].name if hash[:calculator] %>
                  <%= hash[:calculation] %>
                <% end %>
              </span>
              <% if @table_footer[:chart_type] == 'line' and hash[:count] %>
                <% if @percent == 'row' and hash[:count] > 0 and @table_footer[:values].sum > 0 and hash[:column_type] != 'total' %>
                  <span class="muted" style="font-size:0.7em"><%= (hash[:count] * 100 / @table_footer[:values].sum).to_s + "%" %></span>
                <% end %>
              <% end %>
            </span>
          </td>
        <% else %>
          <td colspan="<%= hash[:colspan].blank? ? 1 : hash[:colspan] %>">
            <%= hash[:name] %>
          </td>
        <% end %>
      <% end %>

    </tr>
  </tfoot>

  <tbody>
    <% @table_body.each do |row| %>
      <tr>
        <td><span data-object="sparkline" data-type="<%= row[:chart_type] %>" data-values="<%= row[:values].to_json %>" data-min="<%= @overall_min %>" data-max="<%= @overall_max %>" style="display:none"><%= row[:values].join(',') %></span></td>
        <% row[:cells].each_with_index do |hash, index| %>
          <td>
            <% reverse_index = index - row[:cells].size + 1 %>
            <% column_count = reverse_index == 0 ? @table_footer[:values].sum : @table_footer[:values][reverse_index] %>
            <span class="<%= 'muted' if hash[:count] == nil %>" rel="tooltip" title="<%#= hash[:name].blank? ? 'Unknown' : hash[:tooltip] unless hash[:count] == nil %>" data-placement="left">
              <span class="rounded-borders <%= 'muted' if hash[:name].blank? %>">
                <% link_name = project_sheets_path(@project, design_id: @design.id, f: hash[:filters], filter: @filter, statuses: @statuses) %>
                <%= '&plusmn;'.html_safe if hash[:symbol] == 'pm' and hash[:count] != nil %><%= hash[:name].blank? ? 'Unknown' : link_to_if(hash[:count].to_i > 0, hash[:name], link_name, target: '_blank') %>
                <% unless hash[:debug].blank? %>
                  <%= hash[:filters].collect{|f| "#{f[:variable_id]}:#{f[:value]}:#{f[:start_date]}:#{f[:end_date]}"}  %>
                  <%#= hash.keys %>
                  <%#= hash[:calculator].name if hash[:calculator] %>
                  <%= hash[:calculation] %>
                <% end %>
              </span>


              <% if row[:chart_type] == 'line' and hash[:count] %>
                <% if @percent == 'row' and hash[:count] > 0 and row[:values].sum > 0 and hash[:column_type] != 'total' %>
                  <span class="muted" style="font-size:0.7em"><%= (hash[:count] * 100 / row[:values].sum).to_s + "%" %></span>
                <% end %>
                <% if @percent == 'column' and hash[:count] > 0 and column_count > 0 %>
                  <span class="muted" style="font-size:0.7em"><%= (hash[:count] * 100 / column_count).to_s + "%" %><%#= "%0.01f%" % (count * 100.0 / row_counts.sum) %></span>
                <% end %>
              <% end %>


            </span>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="center muted"><%= @report_caption %></div>

<%= link_to '#permalink', report_project_design_path(@design.project, @design, project_id: @project.id, percent: @percent, f: params[:f], filter: @filter, statuses: @statuses ),
                                              class: 'pull-right print-hide', rel: 'tooltip', title: 'Right-click and Copy Link Address', data: { placement: 'left' } unless params[:action] == 'report_print' %>


<% if false %>
<%= link_to '#permalink', report_project_design_path(@design.project, @design, project_id: @project.id, by: @by, percent: @percent, include_missing: (params[:include_missing].to_s == '1' ? '1' : '0'), sheet_after: (@sheet_after.blank? ? nil : @sheet_after.strftime("%m/%d/%Y")),
                                              sheet_before: (@sheet_before.blank? ? nil : @sheet_before.strftime("%m/%d/%Y")), variable_id: (@variable ? @variable.id : nil),
                                              column_variable_id: (@column_variable ? @column_variable.id : nil), column_include_missing: (params[:column_include_missing].to_s == '1' ? '1' : '0'), filter: @filter, statuses: @statuses ),
                                              class: 'pull-right print-hide', rel: 'tooltip', title: 'Right-click and Copy Link Address', data: { placement: 'left' } unless params[:action] == 'report_print' %>
<%= form_tag reports_path, method: :post, remote: true, id: 'save_report_form' do %>
  <%= hidden_field_tag "report[name]", @report_title + " - " + @design.name %>
  <%= hidden_field_tag "report[options][design_id]", @design.id %>
  <%= hidden_field_tag "report[options][by]", @by %>
  <%= hidden_field_tag "report[options][percent]", @percent %>
  <%= hidden_field_tag "report[options][include_missing]", (params[:include_missing].to_s == '1' ? '1' : '0') %>
  <%= hidden_field_tag "report[options][sheet_after]", (@sheet_after.blank? ? nil : @sheet_after.strftime("%m/%d/%Y")) %>
  <%= hidden_field_tag "report[options][sheet_before]", (@sheet_before.blank? ? nil : @sheet_before.strftime("%m/%d/%Y")) %>
  <%= hidden_field_tag "report[options][variable_id]", (@variable ? @variable.id : nil) %>
  <%= hidden_field_tag "report[options][column_variable_id]", (@column_variable ? @column_variable.id : nil) %>
  <%= hidden_field_tag "report[options][column_include_missing]", (params[:column_include_missing].to_s == '1' ? '1' : '0') %>
  <%= hidden_field_tag "report[options][filter]", @filter %>
  <%= hidden_field_tag "report[options][statuses]", @statuses %>
<% end %>

<%= link_to 'Save Report', '#', data: { object: 'submit', target: '#save_report_form' }, class: 'btn btn-mini pull-right' %>
<% end %>
