<% @title = "Reports" %>
<div class="row">
  <div class="col-lg-12">
    <h1 class="about-title"><%= @title %></h1>
  </div>
</div>

<hr class="soften" style="margin-top:20px">

<div class="row">
  <div class="col-lg-4">
    <h2 class="about-title">Project Reports</h2>
    <ul>
      <% current_user.all_viewable_sites.collect(&:project).flatten.uniq.sort_by{|p| p.name}.each do |project| %>
        <li style="line-height:30px"><%= link_to project.name, report_project_path(project) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-lg-4">
    <h2 class="about-title">Design Reports</h2>

    <% current_user.all_viewable_designs.group_by{|d| d.project}.sort{|a,b| (a[0] ? a[0].name : "") <=> (b[0] ? b[0].name : "")}.each do |project, designs| %>
      <span class="text-muted"><%= project ? project.name : "No Project" %></span>
      <ul>
        <% designs.sort_by{|d| d.name}.each do |design| %>
          <li style="line-height:30px"><%= link_to design.name, report_project_design_path(design.project, design) %></li>
        <% end %>
      </ul>
    <% end %>
  </div>
  <div class="col-lg-4">
    <h2 class="about-title">Custom Reports</h2>
    <% if current_user.reports.size > 0 %>
      <% current_user.reports.group_by{|r| r.project}.sort{|a,b| (a[0] ? a[0].name : "") <=> (b[0] ? b[0].name : "")}.each do |project, reports| %>
        <span class="text-muted"><%= project ? project.name : "No Project" %></span>
        <ul>
          <% reports.sort_by{|r| r.name}.each do |report| %>
            <li id="report_<%= report.id %>" data-object="hover-show" data-target="#report_<%= report.id %>_delete_link" style="line-height:25px">
              <%= link_to report.name, report %>
              <%= link_to 'Delete', report, method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Report #{report.name}?" }, style: "display:none", id: "report_#{report.id}_delete_link" %>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% else %>
      <ul><li class="text-muted">You have not yet saved any custom templates.</li></ul>
    <% end %>
  </div>
</div>
