<span>
  <% if current_user.all_projects.pluck(:id).include?(@project.id) %>
    <%= form_tag project_users_path(project_user: { project_id: @project.id, librarian: @relation == 'librarians' }), method: :post, remote: true, style: 'display:inline', class: 'form-search' do %>
      <b><%= @relation.humanize %><br /></b>
      <%= text_field_tag "#{@relation}_text", '', style: "width:300px;", data: { provide: 'typeahead', items: 5, source: current_user.associated_users.collect{|user| "#{user.name} [#{user.email}]" }.to_json } %>
      <%= submit_tag 'Invite By Email', class: 'btn btn-primary' %>
    <% end %>
    <span class="help-block">
      <% if @relation == 'librarians' %>
        Can create and edit Variables and Designs for project.
      <% elsif @relation == 'members' %>
        Can create and edit Sheets for the project.
      <% end %>
    </span>
  <% else %>
      <b><%= @relation.humanize %></b>
  <% end %>
</span>

<ul>
<% @project.project_users.where(librarian: @relation == 'librarians').each do |project_user| %>
  <li onmouseover="$('#project_user_<%= project_user.id %>_delete').show();" onmouseout="$('#project_user_<%= project_user.id %>_delete').hide();" style="line-height:25px">
    <span rel="tooltip" title="<%= "Invited by #{project_user.creator.name}" if project_user.creator %>" data-placement="left">
      <% if project_user.user %>
        <%= link_to project_user.user.name, project_user.user %>
      <% else %>
        <span class='muted'>
          <%= project_user.invite_email %> <%= text_field_tag "project_user_#{project_user.id}_invite", "#{SITE_URL}/project_users/accept?invite_token=#{project_user.invite_token}" if current_user == project_user.creator %>
        </span>
      <% end %>
      <span id="project_user_<%= project_user.id %>_delete" style="display:none">
        <%= link_to 'Remove', project_user, method: :delete, remote: true, class: 'btn btn-mini btn-danger', data: { confirm: "Are you sure you want to remove #{project_user.user ? project_user.user.name : project_user.invite_email} from the list of #{@relation}?" } if current_user.all_projects.include?(@project) or (current_user.all_viewable_projects.include?(@project) and current_user == project_user.user) %>
      </span>
    </span>
  </li>
<% end %>
</ul>
