<% if @project.editable_by?(current_user) %>
  <%= form_tag project_users_path(project_user: { project_id: @project.id, editor: @relation == 'editors' }), method: :post, remote: true, class: 'form-horizontal' do %>

    <div class="form-group">
      <label class="col-md-2 control-label"><%= @relation.humanize %></label>
      <div class="col-md-10">
        <div class="input-group">
          <%= text_field_tag "#{@relation}_text", '', autocomplete: "off", data: { object: 'typeahead', local: current_user.associated_users.collect{|user| "#{user.name} [#{user.email}]" }.to_json }, class: 'form-control' %>
          <span class="input-group-btn">
            <%= submit_tag 'Invite By Email', class: 'btn btn-primary' %>
          </span>
        </div>
        <div class="bs-callout bs-callout-info">
          <% if @relation == 'editors' %>
            Can create and edit Variables, Designs, Sites, Sheets, and Subjects for project.
          <% elsif @relation == 'viewers' %>
            Can view Sheets, Sites, and Subjects for the project.
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <b><%= @relation.humanize %></b>
<% end %>

<div class="col-md-10 col-md-offset-2">
  <ul class="list-unstyled">
  <% @project.project_users.where(editor: @relation == 'editors').each do |project_user| %>
    <li onmouseover="$('#project_user_<%= project_user.id %>_delete').show();" onmouseout="$('#project_user_<%= project_user.id %>_delete').hide();" style="line-height:30px">
      <% if project_user.user %>
        <%= link_to project_user.user.name, project_user.user %>
      <% else %>
        <span class='text-muted'>
          <%= project_user.invite_email %>
          <%= text_field_tag "project_user_#{project_user.id}_invite", "#{SITE_URL}/project_users/accept?invite_token=#{project_user.invite_token}", class: 'form-control' if current_user == project_user.creator %>
          <%= link_to 'Resend Invitation', resend_project_user_path(project_user), method: :post, remote: true, class: 'btn btn-primary btn-xs', autocomplete: "off", data: { loading_text: "Resent" } %>
        </span>
      <% end %>
      <span id="project_user_<%= project_user.id %>_delete" style="display:none">
        <% if project_user.creator %><span class="text-muted">invited by <%= link_to project_user.creator.name, project_user.creator %></span><% end %>
        <%= link_to 'Remove', project_user, method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to remove #{project_user.user ? project_user.user.name : project_user.invite_email} from the list of #{@relation}?" } if current_user.all_projects.include?(@project) or (current_user.all_viewable_projects.include?(@project) and current_user == project_user.user) %>
      </span>
    </li>
  <% end %>
  </ul>
</div>
