.dashboard-container
  %table.table.table-striped.table-borderless.table-hover
    %col{ width: '1px' }
    %col
    %col
    %col.hidden-xs
    %col.hidden-xs.hidden-sm
    - if @project.randomization_schemes.count > 1
      %col.hidden-xs.hidden-sm
    - if @project.site_or_project_editor?(current_user)
      %col
    %thead
      %tr
        %th.nowrap.center #
        %th Subject
        %th.nowrap Treatment Arm
        %th.nowrap.hidden-xs Randomized At
        %th.nowrap.hidden-xs.hidden-sm Randomized By
        - if @project.randomization_schemes.count > 1
          %th.nowrap.hidden-xs.hidden-sm Scheme
        - if @project.site_or_project_editor?(current_user)
          %th Actions

    %tbody
      - @randomizations.each do |randomization|
        %tr
          %td.center= link_to randomization.name, [@project, randomization]
          %td= link_to randomization.subject.name, [@project, randomization] if randomization.subject
          %td= randomization.treatment_arm.short_name if randomization.randomization_scheme && randomization.treatment_arm
          %td.hidden-xs= simple_time randomization.randomized_at
          %td.hidden-xs.hidden-sm= randomization.randomized_by.name if randomization.randomized_by
          - if @project.randomization_schemes.count > 1
            %td.hidden-xs.hidden-sm= link_to_if @project.editable_by?(current_user), randomization.randomization_scheme.name, [@project, randomization.randomization_scheme] if randomization.randomization_scheme
          - if @project.site_or_project_editor?(current_user)
            %td
              - if randomization.editable_by?(current_user) && randomization.randomized?
                = link_to 'Undo', undo_project_randomization_path(@project, randomization), method: :patch, class: 'btn btn-danger-inverse btn-xs', data: { confirm: "Are you sure you want to remove subject#{" from #{randomization.list.name}" if randomization.list}?" }

.center= paginate @randomizations, theme: 'bootstrap'
