- @title = "Choose Randomization Scheme"
- @menu_title = "#{@project.name} #{@title}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title

.dashboard-container
  - if @project.randomization_schemes.published.count == 0
    %p.lead.text-center
      No Published Randomization Schemes
    .comment-outer{ style: "margin-top: 40px" }
      .comment-left-fixed
        = image_tag "try-slice-logo-no-text.png", size: "48x48", alt: ""
      .comment-right-fluid
        .comment-comment
          .comment-comment-header
            %strong Slice
            says...
          .comment-comment-body
            %p
              Whoops! This project does not have any
              %strong published
              randomization schemes. A project editor must set at least one
              = link_to "randomization scheme", project_randomization_schemes_path(@project)
              as published in order for subjects to be randomized.
  - else
    %p.lead
      This project has multiple randomization schemes.
      Please choose a scheme below.

    - @project.randomization_schemes.published.in_groups_of(3, false).each do |randomization_schemes_row|
      .row
        - randomization_schemes_row.each do |randomization_scheme|
          .col-sm-6{ style: "margin-bottom:20px" }
            = link_to randomize_subject_to_list_project_randomization_scheme_path(@project, randomization_scheme), class: "btn btn-primary btn-block btn-lg btn-shadow" do
              %span.d-none.d-md-inline Choose
              %strong= randomization_scheme.name
