- @title = "Randomizations"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    - if @project.site_or_project_editor?(current_user)
      = link_to plus_or("Randomize Subject"), choose_scheme_project_randomizations_path(@project), class: "btn btn-accent btn-shadow"
    = succeed " " do
      = link_to export_project_randomizations_path, class: "btn btn-light d-none d-sm-inline-block" do
        = icon("fas", "download")
        Export
  = @title
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 40, object_count: @randomizations.total_count
  %ol
    %li.breadcrumb-muted randomizations

- if @randomizations.present?
  - viewable_sites = current_user.all_viewable_sites.where(project_id: @project.id).order_number_and_name.to_a
  - filtered_params = params.permit(:site_id, :treatment_arm_id, :randomized_by_id, :scheme_id, :user_id, :search)
  - all_randomizers = User.where(id: @project.randomizations.select(:randomized_by_id)).order(:full_name)
  - schemes = @project.randomization_schemes.order(:name).to_a
  - is_project_editor = @project.editable_by?(current_user)
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col{ width: "1px" }
      %col
      %col
      %col.d-none.d-sm-table-column
      %col.d-none.d-md-table-column
      - if viewable_sites.count > 1
        %col.d-none.d-md-table-column
      - if schemes.count > 1
        %col.d-none.d-md-table-column
      %thead
        %tr
          = th_sort_field @order, "randomized", "#", extra_class: "text-center", permit: [:site_id, :user_id, :treatment_arm_id, :randomized_by_id, :scheme_id]
          = th_sort_field @order, "subject", "Subject", permit: [:site_id, :user_id, :treatment_arm_id, :randomized_by_id, :scheme_id]
          %th.text-center.nowrap{ class: ["arm", "arm desc"].include?(params[:order]) ? "sort-selected" : nil }
            = link_to project_randomizations_path(@project, filtered_params.merge(order: (params[:order] == "arm" ? "arm desc" : "arm"))) do
              Arm
            %span.dropleft
              = link_to "#", data: { toggle: "dropdown" } do
                - if params[:treatment_arm_id].present?
                  = icon("fas", "filter", class: "text-primary")
                - else
                  = icon("fas", "filter")
              .dropdown-menu
                = link_to "All Treatment Arms", project_randomizations_path(@project, filtered_params.merge(order: params[:order], treatment_arm_id: nil)), style: params[:treatment_arm_id].blank? ? "font-weight:bold;" : "", class: "dropdown-item"
                - @project.treatment_arms.order(:name).each do |treatment_arm|
                  = link_to treatment_arm.short_name, project_randomizations_path(@project, filtered_params.merge(order: params[:order], treatment_arm_id: treatment_arm.id)), style: params[:treatment_arm_id].to_s == treatment_arm.id.to_s ? "font-weight:bold;" : "", class: "dropdown-item"
          = th_sort_field @order, "randomized", "Randomized", extra_class: "d-none d-sm-table-cell text-center", permit: [:site_id, :user_id, :treatment_arm_id, :randomized_by_id, :scheme_id]
          %th.d-none.d-md-table-cell.nowrap{ class: ["randomized_by", "randomized_by desc"].include?(params[:order]) ? "sort-selected" : nil }
            = link_to "Randomized By", project_randomizations_path(@project, filtered_params.merge(order: (params[:order] == "randomized_by" ? "randomized_by desc" : "randomized_by")))
            %span.dropleft
              = link_to "#", data: { toggle: "dropdown" } do
                - if params[:randomized_by_id].present?
                  = icon("fas", "filter", class: "text-primary")
                - else
                  = icon("fas", "filter")
              .dropdown-menu
                = link_to "All Users", project_randomizations_path(@project, filtered_params.merge(order: params[:order], randomized_by_id: nil)), style: params[:randomized_by_id].blank? ? "font-weight:bold;" : "", class: "dropdown-item"
                - all_randomizers.each do |user|
                  = link_to user.full_name, project_randomizations_path(@project, filtered_params.merge(order: params[:order], randomized_by_id: user.id)), style: params[:randomized_by_id].to_s == user.id.to_s ? "font-weight:bold;" : "", class: "dropdown-item"
          - if viewable_sites.count > 1
            %th.d-none.d-md-table-cell.nowrap{ class: ["site", "site desc"].include?(params[:order]) ? "sort-selected" : nil }
              = link_to "Site", project_randomizations_path(@project, filtered_params.merge(order: (params[:order] == "site" ? "site desc" : "site")))
              %span.dropleft
                = link_to "#", data: { toggle: "dropdown" } do
                  - if params[:site_id].present?
                    = icon("fas", "filter", class: "text-primary")
                  - else
                    = icon("fas", "filter")
                .dropdown-menu
                  = link_to "All Sites", project_randomizations_path(@project, filtered_params.merge(order: params[:order], site_id: nil)), style: params[:site_id].blank? ? "font-weight:bold;" : "", class: "dropdown-item"
                  - viewable_sites.each do |site|
                    = link_to site.number_and_short_name, project_randomizations_path(@project, filtered_params.merge(order: params[:order], site_id: site.id)), style: params[:site_id].to_s == site.id.to_s ? "font-weight:bold;" : "", class: "dropdown-item"
          - if schemes.count > 1
            %th.d-none.d-md-table-cell.nowrap{ class: ["scheme", "scheme desc"].include?(params[:order]) ? "sort-selected" : nil }
              = link_to "Scheme", project_randomizations_path(@project, filtered_params.merge(order: (params[:order] == "scheme" ? "scheme desc" : "scheme")))
              %span.dropleft
                = link_to "#", data: { toggle: "dropdown" } do
                  - if params[:scheme_id].present?
                    = icon("fas", "filter", class: "text-primary")
                  - else
                    = icon("fas", "filter")
                .dropdown-menu
                  = link_to "All Schemes", project_randomizations_path(@project, filtered_params.merge(order: params[:order], scheme_id: nil)), style: params[:scheme_id].blank? ? "font-weight:bold;" : "", class: "dropdown-item"
                  - schemes.each do |scheme|
                    = link_to scheme.name, project_randomizations_path(@project, filtered_params.merge(order: params[:order], scheme_id: scheme.id)), style: params[:scheme_id].to_s == scheme.id.to_s ? "font-weight:bold;" : "", class: "dropdown-item"
      %tbody
        - @randomizations.each do |randomization|
          %tr
            %td.text-center
              = link_to [@project, randomization] do
                - if randomization.name
                  = randomization.name
                - else
                  = icon("fas", "spinner", class: "fa-pulse")
            %td= link_to randomization.subject.name, [@project, randomization] if randomization.subject
            %td.text-center
              - if randomization.custom_list?
                = randomization.custom_treatment_name
              - elsif randomization.treatment_arm
                = randomization.treatment_arm.short_name
            %td.d-none.d-sm-table-cell.text-center
              - if randomization.randomized_at
                %abbr{ rel: "tooltip", data: { title: randomization.randomized_at.strftime("%-l:%M %p"), container: "body", placement: "right" } }
                  = randomization.randomized_at.strftime("%b %-d, %Y")
            %td.d-none.d-md-table-cell= randomization.randomized_by.full_name if randomization.randomized_by
            - if viewable_sites.count > 1
              %td.d-none.d-md-table-cell= randomization.site.number_and_short_name if randomization.subject
            - if schemes.count > 1
              %td.d-none.d-md-table-cell= link_to_if is_project_editor, randomization.randomization_scheme.name, [@project, randomization.randomization_scheme] if randomization.randomization_scheme

  .center-horizontally= paginate @randomizations, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    No randomizations found.
    - if params[:site_id].present? || params[:treatment_arm_id].present? || params[:randomized_by_id].present? || params[:scheme_id].present? || params[:user_id].present? || params[:search].present?
      = succeed "." do
        = link_to "Clear filters", project_randomizations_path(@project)
