- @title = 'Randomizations'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          - if @project.site_or_project_editor?(current_user)
            = link_to plus_or('Randomize Subject'), choose_scheme_project_randomizations_path(@project), class: 'btn btn-accent btn-shadow'
          = succeed ' ' do
            = link_to export_project_randomizations_path, class: 'btn btn-default hidden-xs' do
              %span.glyphicon.glyphicon-download-alt
              Export
          .per-page= render 'layouts/per_page', per_page: 40, object_count: @randomizations.total_count
        = render 'layouts/side_nav_header_button'
        = @title

= render 'randomizations/randomizations'
