- @title = "Randomization ##{@randomization.name}"
- @menu_title = "#{@project.name} #{@title}"

- if @randomization.subject
  - @subject = @randomization.subject
  - content_for :sidebar, render("subjects/sidebar")
- else
  - content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    - if @randomization.editable_by?(current_user)
      - if @randomization.randomized?
        = link_to "Undo", undo_project_randomization_path(@project, @randomization), method: :patch, class: "btn btn-danger", data: { confirm: "Undo randomization for subject #{@randomization.subject.name}?" }
  = @title

- content_for :breadcrumbs do
  - if @randomization.subject
    - @subject = @randomization.subject
    %ol
      %li= link_to "subjects", project_subjects_path(@project)
      %li= link_to @subject.subject_code, [@project, @subject]
      %li.breadcrumb-muted= "randomization ##{@randomization.name.to_s.downcase}"
  - else
    %ol
      %li= link_to "randomizations", project_randomizations_path(@project)
      %li.breadcrumb-muted= "randomization ##{@randomization.name.to_s.downcase}"

- if @randomization.subject && @randomization.randomized_by && (@randomization.custom_list? || @randomization.treatment_arm)
  .jumbotron
    %h2.text-center{ style: "margin: 0;" }
      - if @randomization.custom_list?
        = @randomization.treatment_arm_name
      - elsif @randomization.treatment_arm
        %span.d-inline.d-sm-none= @randomization.treatment_arm.short_name
        %span.d-none.d-sm-inline= @randomization.treatment_arm.name
    %br
    %p.text-center
      %strong
        = link_to @randomization.subject.name, [@project, @randomization.subject]
      randomized
      %span.d-inline.d-sm-none= simple_date @randomization.randomized_at
      %span.d-none.d-sm-inline= simple_time @randomization.randomized_at
      %br
      by
      = @randomization.randomized_by.full_name

- if @randomization.tasks.count > 0
  .dashboard-container.dashboard-table
    .float-right.px-2.py-1
      = link_to schedule_project_randomization_path(@project, @randomization, format: "pdf"), class: "btn btn-sm btn-outline-dark" do
        = icon("fas", "print")
        Print schedule
    %h3.px-2.py-1 Schedule of Events
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %thead
        %tr
          %th.text-center
          %th Task
          %th Due Date
      %tbody
        - @randomization.tasks.each do |task|
          %tr
            %td= simple_check task.completed?
            %td= link_to task.description, [task.project, task]
            %td
              %span.d-inline.d-sm-none= task.due_date.strftime("%b %-d, %Y")
              %span.d-none.d-sm-inline= task.due_date.strftime("%a, %B %-d, %Y")

.dashboard-container.dashboard-table
  %h3.px-2.py-1 Randomization Details
  %table.table.table-striped.table-borderless.table-hover
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Randomization Scheme
      %td= @randomization.randomization_scheme.name

    %tr
      %th List
      %td= @randomization.list.name

    %tr
      %th List Position
      %td
        - if @randomization.randomization_scheme.permuted_block?
          = @randomization.position
        - else
          = @randomization.list_position


    - if @randomization.randomization_scheme && @randomization.randomization_scheme.minimization?
      - @randomization.randomization_characteristics.joins(:stratification_factor).order("stratification_factors.name").each do |randomization_characteristic|
        %tr
          %th= randomization_characteristic.stratification_factor.name
          %td
            - if sfo = randomization_characteristic.stratification_factor_option
              = sfo.label
            - elsif site = randomization_characteristic.site
              %span.d-inline.d-sm-none= site.short_name
              %span.d-none.d-sm-inline= site.name


- if @randomization.randomization_scheme && @randomization.randomization_scheme.minimization? && @randomization.dice_roll && @randomization.dice_roll_cutoff && @project.editable_by?(current_user)
  .dashboard-container.dashboard-table
    %h3.px-2.py-1 Notes
    %table.table.table-striped.table-borderless.table-hover
      %col.d-none.d-sm-table-column{ width: "30%" }
      %col.d-table-column.d-sm-none{ width: "50%" }
      %tr
        %th Is treatment arm selection random?
        %td
          - if @randomization.dice_roll >= @randomization.dice_roll_cutoff
            %p
              No,
              %span{ rel: "tooltip", title: "Random Roll Between 0 and 99", data: { placement: "right", container: "body" } }
                %span.badge.badge-accent= @randomization.dice_roll
              is greater than or equal to
              = succeed "." do
                %span{ rel: "tooltip", title: "Set by Scheme: Can be between 0 (Never Random) and 100 (Always Random)", data: { placement: "right", container: "body" } }= @randomization.dice_roll_cutoff
            %p Select treatment arm based on criteria distributions.
          - else
            %p
              Yes,
              %span.badge.badge-accent= @randomization.dice_roll
              is less than
              = succeed "." do
                = @randomization.dice_roll_cutoff
            %p Randomly select treatment arm.

      - if @randomization.dice_roll >= @randomization.dice_roll_cutoff
        %tr
          %td{ colspan: 2 }
            %table.table.table-striped
              - if @randomization.past_distributions[:treatment_arms].is_a?(Array)
                %thead
                  %tr
                    %th Stratification Factor
                    - @randomization.past_distributions[:treatment_arms].each do |arm_hash|
                      - treatment_arm = @randomization.randomization_scheme.treatment_arms.find_by(id: arm_hash[:id])
                      - if treatment_arm
                        %th{ style: "text-align:right" }
                          %span.d-inline.d-md-none= treatment_arm.short_name
                          %span.d-none.d-md-inline= treatment_arm.name

              - if @randomization.past_distributions[:stratification_factors].is_a?(Array)
                %tbody
                  - @randomization.past_distributions[:stratification_factors].each do |sf_hash|
                    %tr
                      %td= sf_hash[:name]
                      - if sf_hash[:treatment_arm_counts].is_a?(Array)
                        - sf_hash[:treatment_arm_counts].each do |ta_hash|
                          %td{ style: "text-align:right" }= ta_hash[:count]
              - if @randomization.past_distributions[:totals].is_a?(Array) || (@randomization.past_distributions[:weighted_totals].is_a?(Array) && @randomization.past_distributions[:treatment_arms].is_a?(Array))
                %tfoot
                  - if @randomization.past_distributions[:totals].is_a?(Array)
                    %tr
                      %th Total
                      - @randomization.past_distributions[:totals].each do |total_hash|
                        %th{ style: "text-align:right" }= total_hash[:count]
                  - if @randomization.past_distributions[:weighted_totals].is_a?(Array)
                    %tr
                      %th Weighted Total
                      - @randomization.past_distributions[:weighted_totals].each do |total_hash|
                        %th{ style: "text-align:right", class: "#{"success" if total_hash[:treatment_arm_id].in?(@randomization.weighted_eligible_arms.collect{|h| h[:id]})}" }= total_hash[:count]

      %tr
        %th Weighted Eligible Arms
        %td
          %ul.list-unstyled
            - @randomization.weighted_eligible_arms.each do |arm_hash|
              - treatment_arm = @randomization.randomization_scheme.treatment_arms.find_by(id: arm_hash[:id])
              - if treatment_arm
                %li
                  %span.badge.badge-light.d-inline.d-sm-none= treatment_arm.short_name
                  %span.badge.badge-light.d-none.d-sm-inline= treatment_arm.name

      %tr
        %th Treatment Arm Chosen from Eligible Treatment Arms
        %td
          %span.badge.badge-accent.d-inline.d-sm-none= @randomization.treatment_arm.short_name
          %span.badge.badge-accent.d-none.d-sm-inline= @randomization.treatment_arm.name
