- @title = @randomization.name
.page-header
  %h1
    = link_to @project.name, setup_project_path(@project)
    &middot;
    = link_to 'Randomizations', project_randomizations_path(@project)
    &middot;
    = @title
  - if @randomization.randomized?
    = link_to 'Undo', undo_project_randomization_path(@project, @randomization), method: :patch, class: 'btn btn-danger-inverse btn-xs', data: { confirm: "Are you sure you want to remove subject#{" from #{@randomization.list.name}" if @randomization.list}?" }
  - if false
    = link_to "Delete Randomization", [@project, @randomization], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Randomization #{@randomization.name}?" }

- if @randomization.subject and @randomization.randomized_by and @randomization.treatment_arm
  .jumbotron
    .container
      %h1
        = @randomization.treatment_arm.name
        %small
          = @randomization.randomization_number
          of
          = @randomization.randomization_scheme.randomization_goal
      %p
        %strong
          = @randomization.subject.name
        randomized
        = simple_time @randomization.randomized_at
        by
        = @randomization.randomized_by.name

%dl.dl-horizontal

  %dt Subject
  %dd= link_to @randomization.subject.name, [@project, @randomization.subject] if @randomization.subject

  %dt Randomized by
  %dd= @randomization.randomized_by.name if @randomization.randomized_by

  %dt Randomized at
  %dd= simple_time @randomization.randomized_at

  %dt Treatment arm
  %dd= @randomization.treatment_arm.name if @randomization.treatment_arm

  %dt Randomization Scheme
  %dd= @randomization.randomization_scheme.name if @randomization.randomization_scheme

  %dt List
  %dd= @randomization.list.name if @randomization.list

  %dt List Position
  %dd= @randomization.position



  - if false
    %dt Creator
    %dd= link_to @randomization.user.name, @randomization.user if @randomization.user

    %dt Attested
    %dd= simple_check @randomization.attested

    %dt Block group
    %dd= @randomization.block_group

    %dt Multiplier
    %dd= @randomization.multiplier

