<%= render partial: 'contour/layouts/per_page', locals: { type: 'exports', per_page: 20, object_count: @exports.total_count } %>

<table class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.status', '', 'exports_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.name', 'Name', 'exports_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_xls', 'XLS', 'exports_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_csv_labeled', 'CSV Labeled', 'exports_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_csv_raw', 'CSV Raw', 'exports_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_pdf', 'PDF', 'exports_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_files', 'Files', 'exports_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_data_dictionary', 'Data Dictionary', 'exports_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_sas', 'SAS', 'exports_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.file', 'File', 'exports_search') %></th>
      <th style="white-space:nowrap">Size</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.project_id', 'Project', 'exports_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @exports.each do |export| %>
    <tr class="<%= 'success' if not export.viewed? and export.status == 'ready' %><%= 'warning' if export.status == 'pending' %>">
      <td><span class="label label-<%= export.status == 'ready' ? 'success' : (export.status == 'pending' ? 'warning' : 'danger') %>"><%= export.status %></span></td>
      <td><%= link_to export.name, export %></td>
      <td><%= simple_check export.include_xls %></td>
      <td><%= simple_check export.include_csv_labeled %></td>
      <td><%= simple_check export.include_csv_raw %></td>
      <td><%= simple_check export.include_pdf %></td>
      <td><%= simple_check export.include_files %></td>
      <td><%= simple_check export.include_data_dictionary %></td>
      <td><%= simple_check export.include_sas %></td>
      <td>
        <% if export.file.size > 0 %>
          <% full_url = "#{request.script_name}#{export.file.url}" %>
          <%= link_to export.file.to_s.split('/').last.to_s.split('.').last.to_s, full_url, target: '_blank', class: 'btn btn-default btn-mini' %>
        <% end %>
      </td>
      <td>
        <% if export.file.size > 0 %>
          <%= number_to_human_size(export.file.size) %>
        <% end %>
      </td>
      <td><%= link_to export.project.name, export.project if export.project %></td>
      <td>
        <%= link_to 'Delete', export, method: :delete, class: 'btn btn-mini btn-danger-inverse btn-block', data: { confirm: "Are you sure you want to delete Export #{export.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @exports, theme: "contour" %></div>
