.dashboard-container
  %table.table.table-striped.table-borderless.table-hover
    %col
    %col
    %col.hidden-xs
    %col.hidden-xs
    %col.hidden-xs
    %col.hidden-xs
    %col.hidden-xs
    %col.hidden-xs
    %col.hidden-xs
    %col.hidden-xs.hidden-sm
    %col{ width: '1px' }
    %thead
      %tr
        = th_sort_field @order, 'exports.status', ''
        = th_sort_field @order, 'exports.created_at', 'Exported'
        = th_sort_field @order, 'exports.include_csv_labeled', 'CSV Labeled', extra_class: 'hidden-xs'
        = th_sort_field @order, 'exports.include_csv_raw', 'CSV Raw', extra_class: 'hidden-xs'
        = th_sort_field @order, 'exports.include_pdf', 'PDF', extra_class: 'hidden-xs'
        = th_sort_field @order, 'exports.include_files', 'Files', extra_class: 'hidden-xs'
        = th_sort_field @order, 'exports.include_data_dictionary', 'Data Dictionary', extra_class: 'hidden-xs'
        = th_sort_field @order, 'exports.include_sas', 'SAS', extra_class: 'hidden-xs'
        = th_sort_field @order, 'exports.include_r', 'R', extra_class: 'hidden-xs'
        %th.hidden-xs.hidden-sm Size
        %th Actions

    - @exports.each do |export|
      %tr
        %td
          %span.label{ class: "label-#{export.status == 'ready' ? 'success' : (export.status == 'pending' ? 'warning' : 'danger')}" }
            = export.status
        %td= link_to simple_time(export.created_at).gsub('on ', '').html_safe, [export.project, export]
        %td.hidden-xs= simple_check export.include_csv_labeled
        %td.hidden-xs= simple_check export.include_csv_raw
        %td.hidden-xs= simple_check export.include_pdf
        %td.hidden-xs= simple_check export.include_files
        %td.hidden-xs= simple_check export.include_data_dictionary
        %td.hidden-xs= simple_check export.include_sas
        %td.hidden-xs= simple_check export.include_r
        %td.hidden-xs.hidden-sm
          - if export.file.size > 0
            = number_to_human_size(export.file.size)
        %td
          .dropdown
            = link_to '#', class: 'btn btn-default btn-xs dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              - if export.file.size > 0
                - full_url = file_project_export_path(@project, export)
                %li
                  = link_to full_url, target: '_blank' do
                    %span.glyphicon.glyphicon-download-alt
                    Download
              %li.divider{ role: 'separator' }
              %li
                = link_to [export.project, export], method: :delete, data: { confirm: "Are you sure you want to delete Export #{export.name}?" } do
                  .text-danger
                    %span.glyphicon.glyphicon-trash
                    Delete

.center= paginate @exports, theme: 'bootstrap'
