<%= render partial: 'contour/layouts/per_page', locals: { per_page: 20, object_count: @exports.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.status', '') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.created_at', 'Exported') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_xls', 'XLS') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_csv_labeled', 'CSV Labeled') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_csv_raw', 'CSV Raw') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_pdf', 'PDF') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_files', 'Files') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_data_dictionary', 'Data Dictionary') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.include_sas', 'SAS') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'exports.file', 'File') %></th>
      <th style="white-space:nowrap">Size</th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @exports.each do |export| %>
    <tr class="<%= 'success' if not export.viewed? and export.status == 'ready' %><%= 'warning' if export.status == 'pending' %>">
      <td><span class="label label-<%= export.status == 'ready' ? 'success' : (export.status == 'pending' ? 'warning' : 'danger') %>"><%= export.status %></span></td>
      <td><%= link_to simple_time(export.created_at).gsub('on ', '').html_safe, [export.project, export] %></td>
      <td><%= simple_check export.include_xls %></td>
      <td><%= simple_check export.include_csv_labeled %></td>
      <td><%= simple_check export.include_csv_raw %></td>
      <td><%= simple_check export.include_pdf %></td>
      <td><%= simple_check export.include_files %></td>
      <td><%= simple_check export.include_data_dictionary %></td>
      <td><%= simple_check export.include_sas %></td>
      <td>
        <% if export.file.size > 0 %>
          <% full_url = "#{request.script_name}#{export.file.url}" %>
          <%= link_to export.file.to_s.split('/').last.to_s.split('.').last.to_s, full_url, target: '_blank', class: 'btn btn-default btn-xs' %>
        <% end %>
      </td>
      <td>
        <% if export.file.size > 0 %>
          <%= number_to_human_size(export.file.size) %>
        <% end %>
      </td>
      <td>
        <%= link_to 'Delete', [export.project, export], method: :delete, class: 'btn btn-xs btn-danger-inverse btn-block', data: { confirm: "Are you sure you want to delete Export #{export.name}?" } %>
      </td>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @exports, theme: "contour" %></div>
