= form_for [@export.project, @export], html: { class: 'form-vertical' } do |f|
  .row
    .col-md-4
      .download-container
        %h3 Comma-Separated Values
        %label.checkbox{ rel: 'tooltip', data: { html: 'true', title: "<table style='background-color:transparent'><tr><th style='text-align:left;'>Subject&nbsp;</th><th style='text-align:left;'>Gender</th><th style='text-align:left;'>Age</th></tr><tr><td style='text-align:left'>T325</td><td style='text-align:left'>1: male</td><td style='text-align:left'>25 years</td></tr><tr><td style='text-align:left'>T349</td><td style='text-align:left'>2: female</td><td style='text-align:left'>30 years</td></tr></table>" } }
          = f.check_box :include_csv_labeled
          CSV Labeled
        %label.checkbox{ rel: 'tooltip', data: { html: 'true', title: "<table style='background-color:transparent'><tr><th style='text-align:left;'>Subject&nbsp;</th><th style='text-align:left;'>Gender</th><th style='text-align:left;'>Age</th></tr><tr><td style='text-align:left'>T325</td><td style='text-align:left'>1</td><td style='text-align:left'>25</td></tr><tr><td style='text-align:left'>T349</td><td style='text-align:left'>2</td><td style='text-align:left'>30</td></tr></table>" } }
          = f.check_box :include_csv_raw
          CSV Raw

    .col-md-4
      .download-container
        %h3 Statistical
        %label.checkbox
          = f.check_box :include_sas
          SAS
        %label.checkbox
          = f.check_box :include_r
          R

    .col-md-4
      .download-container
        %h3 Portable Document Format
        %label.checkbox
          = f.check_box :include_pdf
          PDF

  .row
    .col-md-4
      .download-container
        %h3 Uploaded Files
        %label.checkbox
          = f.check_box :include_files
          Files

    .col-md-4
      .download-container
        %h3 Data Dictionary
        %label.checkbox
          = f.check_box :include_data_dictionary
          Data Dictionary

    .col-md-4
      = f.submit 'Export', class: 'btn btn-primary btn-block btn-lg', style: 'height: 122px;font-size: 24.5px;font-weight:300'
