= form_with model: [export.project, export], id: "new_export", local: true do |form|
  .row
    .col-sm-4.col-buffer
      = select_tag :subject_filters, options_for_select([["Sheets for Randomized Subjects", "is:randomized"], ["Sheets on Adverse Events", "has:adverse-events"]]), include_blank: true, data: { object: "export-filters-subjects", placeholder: "Subject Filters" }, class: "form-control chosen-select"
    .col-sm-4.col-buffer
      = select_tag :design_filters, grouped_options_for_select(current_user.all_viewable_designs.where(project: @project).includes(:category).order("categories.name", :name).group_by(&:category).collect { |category, category_designs| [category ? category.name : "Uncategorized", category_designs.collect { |d| [d.name, d.to_param] }] }), include_blank: true, data: { object: "export-filters", filter_type: "designs", placeholder: "Design Filters" }, class: "form-control chosen-select"
    .col-sm-4.col-buffer
      = select_tag :event_filters, options_for_select(current_user.all_viewable_events.where(project: @project).order(:position).collect { |e| [e.name, e.to_param] }), include_blank: true, data: { object: "export-filters", filter_type: "events", placeholder: "Event Filters" }, class: "form-control chosen-select"

  %div{ style: "margin-bottom: 20px;" }
    = form.text_field :filters, class: "form-control", autocomplete: "off", autocorrect: "off", autocapitalize: "none", spellcheck: "false", data: { object: "sheet-filters-textcomplete", project_id: @project.to_param }, id: "export_filters", placeholder: "All Sheets"
  .row
    .col-lg-4
      .dashboard-container.p-3
        %h5.mb-3 Comma-Separated Values
        %div
          .d-inline-block{ rel: "tooltip", data: { html: "true", title: "<table style=\"background-color: transparent;\"><tr><th style=\"text-align: left;\">Subject&nbsp;</th><th style=\"text-align: center;\">Gender</th><th style=\"text-align: center;\">Age</th></tr><tr><td style=\"text-align: left;\">T325</td><td style=\"text-align: left;\">1: male</td><td style=\"text-align: left;\">25 years</td></tr><tr><td style=\"text-align: left;\">T349</td><td style=\"text-align: left;\">2: female</td><td style=\"text-align: left;\">30 years</td></tr></table>", container: "body", placement: "top" } }
            = render "forms/vertical/check_box", form: form, object: export, key: :include_csv_labeled, key_name: "CSV Labeled"
        .d-inline-block{ rel: "tooltip", data: { html: "true", title: "<table style=\"background-color: transparent;\"><tr><th style=\"text-align: left;\">Subject&nbsp;</th><th style=\"text-align: center;\">Gender</th><th style=\"text-align: center;\">Age</th></tr><tr><td style=\"text-align: left;\">T325</td><td style=\"text-align: center;\">1</td><td style=\"text-align: center;\">25</td></tr><tr><td style=\"text-align: left;\">T349</td><td style=\"text-align: center;\">2</td><td style=\"text-align: center;\">30</td></tr></table>", container: "body", placement: "top" } }
          = render "forms/vertical/check_box", form: form, object: export, key: :include_csv_raw, key_name: "CSV Raw"

    .col-lg-4
      .dashboard-container.p-3
        %h5.mb-3 Statistical

        = render "forms/vertical/check_box", form: form, object: export, key: :include_sas, key_name: "SAS"
        = render "forms/vertical/check_box", form: form, object: export, key: :include_r, key_name: "R"

    .col-lg-4
      .dashboard-container.p-3
        %h5.mb-3 Portable Document Format
        = render "forms/vertical/check_box", form: form, object: export, key: :include_pdf, key_name: "PDF"

  .row
    .col-lg-4
      .dashboard-container.p-3
        %h5.mb-3 Uploaded Files
        = render "forms/vertical/check_box", form: form, object: export, key: :include_files, key_name: "Files"

    .col-lg-4
      .dashboard-container.p-3
        %h5.mb-3 Data Dictionary
        = render "forms/vertical/check_box", form: form, object: export, key: :include_data_dictionary, key_name: "Data Dictionary"

    .col-lg-4
      .dashboard-container.p-3
        %h5.mb-3 Medications
        = render "forms/vertical/check_box", form: form, object: export, key: :include_medications, key_name: "Medications"

  .row
    .col-lg-4
      .dashboard-container.p-3
        %h5.mb-3 Adverse Events
        = render "forms/vertical/check_box", form: form, object: export, key: :include_adverse_events, key_name: "Adverse Events"

    .col-lg-4
      .dashboard-container.p-3
        %h5.mb-3 Randomizations
        = render "forms/vertical/check_box", form: form, object: export, key: :include_randomizations, key_name: "Randomizations"

    .col-lg-4
      = link_to "Export", "#", class: "btn btn-primary btn-block btn-shadow", style: "height: 96px;line-height: 82px;font-size: 24.5px;font-weight:300", data: { object: "submit", target: "#new_export" }
