- percent = @export.total_steps > 0 ? @export.steps_completed * 100 / @export.total_steps : 100
- percent = 0 if @export.total_steps == 0 && %w(pending failed).include?(@export.status)
- status = 'danger'
- status = 'warning' if percent >= 33
- status = 'success' if percent == 100

%dl.dl-horizontal{ style: 'margin-top: 0px; margin-bottom: 0px;' }
  %dt Export Progress
  %dd
    .progress.progress-striped{ style: 'margin-bottom: 0px' }
      .progress-bar{ class: "progress-bar-#{status}", style: "width: #{percent}%" }
        = @export.steps_completed
        of
        = @export.total_steps
        = surround '(', '%)' do
          = percent

  %dt File
  %dd
    - if @export.file.size > 0
      - full_url = file_project_export_path(@project, @export)
      = link_to @export.file.to_s.split('/').last, full_url, target: '_blank', class: 'btn btn-default btn-xs'
      = number_to_human_size @export.file.size
      %span.text-muted
        Export took
        = succeed '.' do
          = distance_of_time_in_words @export.created_at, @export.file_created_at, { include_seconds: true }
    - elsif @export.status == 'failed'
      %span.text-muted
        Export took
        = succeed '.' do
          = distance_of_time_in_words @export.created_at, @export.updated_at, { include_seconds: true }
      = @export.details
    - else
      %span.text-muted
        Export started
        = distance_of_time_in_words @export.created_at, Time.zone.now, { include_seconds: true }
        ago...
