- @title = 'Exports'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          = link_to plus_or('New Export'), new_project_export_path(@project), class: 'btn btn-accent btn-shadow'
          .per-page= render 'layouts/per_page', per_page: 20, object_count: @exports.total_count
        = render 'layouts/side_nav_header_button'
        = @title

= render 'exports/exports'
