- @title = "Exports"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    = link_to plus_or("New Export"), new_project_export_path(@project), class: "btn btn-accent btn-shadow"
  = @title
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 20, object_count: @exports.total_count
  %ol
    %li.breadcrumb-muted exports

.dashboard-container.dashboard-table
  %table.table.table-striped.table-borderless.table-hover.table-sticky
    %col{ width: "1px" }
    %col
    %col.d-none.d-sm-table-column
    %col.d-none.d-md-table-column{ width: "1px" }
    %col.d-none.d-sm-table-column{ width: "1px" }
    %col{ width: "1px" }
    %thead
      %tr
        = th_sort_field @order, "exports.status", ""
        = th_sort_field @order, "exports.created_at", "Exported"
        %th.d-none.d-sm-table-cell Type
        = th_sort_field_rev @order, "exports.file_size", "Size", extra_class: "d-none d-md-table-cell"
        %th.d-none.d-sm-table-cell.text-center File
        %th.text-center Actions

    - @exports.each do |export|
      %tr
        %td
          %span.badge{ class: "badge-#{export.status == "ready" ? "success" : (export.status == "pending" ? "warning" : "danger")}" }
            = export.status
        %td.nowrap
          = link_to [@project, export], rel: "tooltip", data: { title: export.created_at.strftime("%-l:%M %p"), container: "body", placement: "left" } do
            = export.created_at.strftime("%b %-d, %Y")
        %td.d-none.d-sm-table-cell{ style: "line-height: 26px;" }
          - if export.include_csv_labeled? && export.include_csv_raw?
            %span.badge.badge-light{ rel: "tooltip", data: { title: "CSV Labeled & Raw", container: "body", placement: "top" } } CSVs
          - elsif export.include_csv_labeled?
            %span.badge.badge-light{ rel: "tooltip", data: { title: "CSV Labeled", container: "body", placement: "top" } }  CSV
          - elsif export.include_csv_raw?
            %span.badge.badge-light{ rel: "tooltip", data: { title: "CSV Raw", container: "body", placement: "top" } }  CSV
          - if export.include_pdf?
            %span.badge.badge-light PDF
          - if export.include_files?
            %span.badge.badge-light Files
          - if export.include_data_dictionary?
            %span.badge.badge-light{ rel: "tooltip", data: { title: "Data Dictionary", container: "body", placement: "top" } } DD
          - if export.include_sas?
            %span.badge.badge-light SAS
          - if export.include_r?
            %span.badge.badge-light R
          - if export.include_xls?
            %span.badge.badge-light XLS
          - if export.include_adverse_events?
            %span.badge.badge-light{ rel: "tooltip", data: { title: "Adverse Events", container: "body", placement: "top" } } AEs
          - if export.include_randomizations?
            %span.badge.badge-light{ rel: "tooltip", data: { title: "Randomizations", container: "body", placement: "top" } }
              = icon("fas", "random")
          - if export.filters.present?
            - export.filters.split(" ").each do |filter|
              %code.d-none.d-md-inline= filter

        %td.d-none.d-md-table-cell
          - if export.file_size.positive?
            %small.nowrap= number_to_human_size(export.file_size)
        %td.nowrap.d-none.d-sm-table-cell.text-center
          - if export.file_size.positive?
            - full_url = file_project_export_path(@project, export)
            = link_to full_url, target: "_blank", class: "btn btn-light btn-sm" do
              zip
              = icon("fas", "download")
        %td.text-center
          .dropdown
            = link_to "#", class: "btn btn-light btn-sm dropdown-toggle", data: { toggle: "dropdown" } do
              .d-inline-block.d-sm-none
                = icon("fas", "cog")
              .d-none.d-sm-inline-block Actions

            .dropdown-menu.dropdown-menu-right
              - if export.file_size.positive?
                - full_url = file_project_export_path(@project, export)
                = link_to full_url, target: "_blank", class: "dropdown-item" do
                  = icon("fas", "download")
                  Download
                .dropdown-divider
              = link_to [@project, export], method: :delete, data: { confirm: "Delete #{export.name}?" }, class: "dropdown-item text-danger" do
                = icon("fas", "trash-alt")
                Delete

.center-horizontally= paginate @exports, theme: "bootstrap"
