- @title = "New Export"
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header, @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "exports", project_exports_path(@project)
    %li.breadcrumb-muted new

= render "form", export: @export

.center-horizontally
  .docs-learn-more
    Learn about
    = succeed "." do
      = link_to "exports", docs_exports_path
