- @title = 'New Export'
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        = render 'layouts/side_nav_header_button'
        = @title

= render 'form'

.docs-learn-more
  Learn about
  = succeed '.' do
    = link_to 'exports', docs_exports_path
