- @title = @export.name


- links = []
- links << ['Exports', project_exports_path(@project)]
- links << [@export.name, [@project, @export]]
= render 'projects/tabbed_menu', links: links

.mini-menu-outer
  .mini-menu-left-fixed
    = render 'projects/menu_mini'
  .mini-menu-right-fluid
    %h2.underline-header
      = @title
      = link_to 'Mark Unread', mark_unread_project_export_path(@project, @export), method: :post, class: 'btn btn-xs btn-default' if @export.status == 'ready'
      = link_to 'Delete Export', [@export.project, @export], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Export #{@export.name}?" }

    #progress{ data: { object: "#{'ajax-timer' if @export.total_steps != @export.steps_completed}", path: progress_project_export_path(@project, @export) } }
      = render 'exports/progress'

    %dl.dl-horizontal{ style: 'margin-top: 0px' }
      %dt Status
      %dd#export_status
        = render 'exports/status'

      %dt XLS
      %dd= simple_check @export.include_xls

      %dt CSV Labeled
      %dd= simple_check @export.include_csv_labeled

      %dt CSV Raw
      %dd= simple_check @export.include_csv_raw

      %dt PDF
      %dd= simple_check @export.include_pdf

      %dt Files
      %dd= simple_check @export.include_files

      %dt Data Dictionary
      %dd= simple_check @export.include_data_dictionary

      %dt SAS
      %dd= simple_check @export.include_sas

      %dt R
      %dd= simple_check @export.include_r

      %dt Adverse Events
      %dd= simple_check @export.include_adverse_events

      %dt Randomizations
      %dd= simple_check @export.include_randomizations
