- @title = @export.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :sidebar, render("projects/sidebar")
- content_for :header do
  .float-right
    .dropdown
      = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
        .d-inline-block.d-sm-none
          = icon("fas", "cog")
        .d-none.d-sm-inline-block Actions
      .dropdown-menu.dropdown-menu-right
        = link_to [@project, @export], method: :delete, data: { confirm: "Delete #{@export.name}?" }, class: "dropdown-item text-danger" do
          = icon("fas", "trash-alt")
          Delete
  = @title
- content_for :breadcrumbs do
  %ol
    %li= link_to "exports", project_exports_path(@project)
    %li.breadcrumb-muted= @export.name.to_s.downcase

.dashboard-container
  #progress{ data: { object: "#{"ajax-timer" if @export.total_steps != @export.steps_completed}", path: progress_project_export_path(@project, @export) } }
    = render "exports/progress", export: @export

  = render "forms/horizontal/show/generic", title: "Type", content: render("exports/types", export: @export)
  = render "forms/horizontal/show/generic", title: "Filters", content: link_to(@export.filters, project_sheets_path(search: @export.filters)) if @export.filters.present?

  .form-group.row
    .col-md-2.col-form-label
      .form-label-elegant Status
    .col-md-10
      .form-control-plaintext#export_status
        = render "exports/status", export: @export

