<% @title = @export.name %>
<div class="page-header">
  <h1>
    <%= link_to @project.name, explore_project_path(@project) %> &middot; <%= link_to "Exports", project_exports_path(@project) %> &middot; <%= @title %>
  </h1>
  <%= link_to "Mark Unread", mark_unread_project_export_path(@project, @export), method: :post, class: 'btn btn-xs btn-default' if @export.status == 'ready' %>
  <%= link_to "Delete Export", [@export.project, @export], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Export #{@export.name}?" } %>
</div>

<div id="progress" id="progress" data-object="<%= 'ajax-timer' if @export.total_steps != @export.steps_completed %>" data-path="<%= progress_project_export_path(@project, @export) %>">
  <%= render partial: 'exports/progress' %>
</div>

<dl class="dl-horizontal" style="margin-top: 0px;">

  <dt>Status</dt>
  <dd><span class="label label-<%= @export.status == 'ready' ? 'success' : (@export.status == 'pending' ? 'warning' : 'danger') %>"><%= @export.status %></span></dd>

  <dt>XLS</dt>
  <dd><%= simple_check @export.include_xls %></dd>

  <dt>CSV Labeled</dt>
  <dd><%= simple_check @export.include_csv_labeled %></dd>

  <dt>CSV Raw</dt>
  <dd><%= simple_check @export.include_csv_raw %></dd>

  <dt>PDF</dt>
  <dd><%= simple_check @export.include_pdf %></dd>

  <dt>Files</dt>
  <dd><%= simple_check @export.include_files %></dd>

  <dt>Data Dictionary</dt>
  <dd><%= simple_check @export.include_data_dictionary %></dd>

  <dt>SAS</dt>
  <dd><%= simple_check @export.include_sas %></dd>

</dl>
