- @title = @export.name
- @menu_title = "#{@project.name} #{@title}"

= render "projects/side_nav"

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .float-right
          .dropdown
            = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to [@project, @export], method: :delete, data: { confirm: "Delete #{@export.name}?" } do
                  .text-danger
                    %i.fa.fa-trash
                    Delete
        = @title

#progress{ data: { object: "#{"ajax-timer" if @export.total_steps != @export.steps_completed}", path: progress_project_export_path(@project, @export) } }
  = render "exports/progress"

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Status
      %td#export_status
        = render "exports/status"
    - if @export.filters.present?
      %tr
        %th Filters
        %td= link_to @export.filters, project_sheets_path(search: @export.filters)
    %tr
      %th Type
      %td
        - if @export.include_csv_labeled?
          %span.badge.badge-default CSV Labeled
        - if @export.include_csv_raw?
          %span.badge.badge-default CSV Raw
        - if @export.include_pdf?
          %span.badge.badge-default PDF
        - if @export.include_files?
          %span.badge.badge-default Files
        - if @export.include_data_dictionary?
          %span.badge.badge-default Data Dictionary
        - if @export.include_sas?
          %span.badge.badge-default SAS
        - if @export.include_r?
          %span.badge.badge-default R
        - if @export.include_xls?
          %span.badge.badge-default XLS
        - if @export.include_adverse_events?
          %span.badge.badge-default Adverse Events
        - if @export.include_randomizations?
          %span.badge.badge-default Randomizations
