- @title = @export.name
- @menu_title = "#{@project.name} #{@title}"

= render 'projects/side_nav'

- content_for :header do
  .background-gradient
  .header-container
    .container
      %h1.page-heading
        .pull-right
          .dropdown
            = link_to '#', class: 'btn btn-default dropdown-toggle', data: { toggle: 'dropdown' } do
              Actions
              %strong.caret

            %ul.dropdown-menu.dropdown-menu-right
              %li
                = link_to [@project, @export], method: :delete, data: { confirm: "Are you sure you want to delete Export #{@export.name}?" } do
                  .text-danger
                    %span.glyphicon.glyphicon-trash
                    Delete
        = @title

#progress{ data: { object: "#{'ajax-timer' if @export.total_steps != @export.steps_completed}", path: progress_project_export_path(@project, @export) } }
  = render 'exports/progress'

.dashboard-container
  %table.table.table-borderless
    %col.hidden-xs{ width: '30%' }
    %col.hidden-sm.hidden-md.hidden-lg{ width: '50%' }
    %tr
      %th Status
      %td#export_status
        = render 'exports/status'
    %tr
      %th Type
      %td
        - if @export.include_csv_labeled?
          %span.label.label-default CSV Labeled
        - if @export.include_csv_raw?
          %span.label.label-default CSV Raw
        - if @export.include_pdf?
          %span.label.label-default PDF
        - if @export.include_files?
          %span.label.label-default Files
        - if @export.include_data_dictionary?
          %span.label.label-default Data Dictionary
        - if @export.include_sas?
          %span.label.label-default SAS
        - if @export.include_r?
          %span.label.label-default R
        - if @export.include_xls?
          %span.label.label-default XLS
        - if @export.include_adverse_events?
          %span.label.label-default Adverse Events
        - if @export.include_randomizations?
          %span.label.label-default Randomizations
