- @title = @export.name
- @menu_title = "#{@project.name} #{@title}"

- content_for :container_class, "container-fluid"
- content_for :sidebar, render("projects/sidebar")

- content_for :header do
  .float-right
    .dropdown
      = link_to "#", class: "btn btn-light dropdown-toggle", data: { toggle: "dropdown" } do
        .d-inline-block.d-sm-none
          %i.fa.fa-cog
        .d-none.d-sm-inline-block Actions
      .dropdown-menu.dropdown-menu-right
        = link_to [@project, @export], method: :delete, data: { confirm: "Delete #{@export.name}?" }, class: "dropdown-item text-danger" do
          %i.fa.fa-trash
          Delete
  = @title

#progress{ data: { object: "#{"ajax-timer" if @export.total_steps != @export.steps_completed}", path: progress_project_export_path(@project, @export) } }
  = render "exports/progress"

.dashboard-container
  %table.table.table-borderless
    %col.d-none.d-sm-table-column{ width: "30%" }
    %col.d-table-column.d-sm-none{ width: "50%" }
    %tr
      %th Status
      %td#export_status
        = render "exports/status"
    - if @export.filters.present?
      %tr
        %th Filters
        %td= link_to @export.filters, project_sheets_path(search: @export.filters)
    %tr
      %th Type
      %td
        - if @export.include_csv_labeled?
          %span.badge.badge-light CSV Labeled
        - if @export.include_csv_raw?
          %span.badge.badge-light CSV Raw
        - if @export.include_pdf?
          %span.badge.badge-light PDF
        - if @export.include_files?
          %span.badge.badge-light Files
        - if @export.include_data_dictionary?
          %span.badge.badge-light Data Dictionary
        - if @export.include_sas?
          %span.badge.badge-light SAS
        - if @export.include_r?
          %span.badge.badge-light R
        - if @export.include_xls?
          %span.badge.badge-light XLS
        - if @export.include_adverse_events?
          %span.badge.badge-light Adverse Events
        - if @export.include_randomizations?
          %span.badge.badge-light Randomizations
