<%= hidden_field_tag "#{name}[]", '' %>
<div class="btn-group" data-toggle="buttons" style="white-space:nowrap">
  <% options.each do |label, value| %>
    <label class="btn btn-mini btn-default <%= 'active' if selected.include?(value) %>" data-object="set-<%= name %>">
      <%= check_box_tag "#{name}[]", value, selected.include?(value) %>
      <%= label %>
    </label>
  <% end %>
 </div>
