.footer-container.footer-custom
  %div{ class: @container.presence || "container" }
    .footer
      .nowrap.row

        .col
          &copy;
          = Time.zone.today.year
          = link_to ENV["website_name"], about_path
          - if @seasonal.present?
            %span.small.text-primary{ rel: "tooltip", data: { title: "Set theme in settings", container: "body", placement: "right" } }= @seasonal.capitalize


        .col.text-center.d-none.d-sm-block
          - if false
            %small.px-2= link_to "Terms", terms_of_service_path
            %small.px-2= link_to "Library", library_root_path
          %small.px-2= link_to "Privacy", privacy_policy_path

        .col.text-right
          = link_to "Questions?", contact_path
