.footer
  .row
    .col-xs-6.nowrap
      &copy;
      = Date.today.year
      = ENV["website_name"]
      |
      = link_to "Docs", docs_path
    .col-xs-6.nowrap.text-right
      = link_to "Contact Us", contact_path, class: "d-none d-sm-inline"
      = link_to contact_path, class: "d-inline d-sm-none" do
        %i.fa.fa-envelope
      |
      Boston Sleep
