%nav.navbar.navbar-default.navbar-fixed-top{ class: @side_nav ? "navbar-slide" : "" }
  %div{ class: @side_nav ? "container-fluid" : "container" }
    .navbar-header
      %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-full-menu" } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if @side_nav && params[:controller] == "docs"
        .side-nav-button-container
          %button.navbar-toggle.side-nav-button{ data: { object: "toggle-drawer" } }
            %span.sr-only Toggle menu
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
      - if @project && !@project.new_record?
        .drawer-hidden= link_to @project.name, "#", data: { object: "toggle-drawer" }, class: "navbar-brand navbar-hide-scrolled"
        .drawer-visible= link_to @project.name, @project, class: "navbar-brand navbar-hide-scrolled"
      - else
        = link_to ENV["website_name"], current_user ? root_path : landing_path, class: "navbar-brand navbar-hide-scrolled"
      - if @menu_title || @title
        = link_to "#top", data: { object: "remove-collapse-in scroll-anchor", target: ".navbar-full-menu" }, class: "navbar-brand navbar-show-scrolled" do
          %i.fa.fa-level-up.fa-flip-horizontal{ aria: { hidden: "true" } }
          = (@menu_title || @title).html_safe
      = render "layouts/menu_flash"

    .collapse.navbar-collapse.navbar-full-menu
      - if current_user
        %ul.nav.navbar-nav
          %li.visible-xs{ class: "#{ "active" if current_page?(dashboard_path) || current_page?(root_path) }" }
            = link_to "Dashboard", dashboard_path
          %li.visible-xs{ class: "#{ "active" if current_page?(notifications_path) }" }
            = link_to "Notifications", notifications_path
          %li.visible-xs{ class: "#{ "active" if current_page?(settings_path) }" }
            = link_to "My Settings", settings_path
          - if current_user.system_admin?
            %li.visible-xs{ class: "#{ "active" if current_page?(users_path) }" }
              = link_to "Admin Dashboard", users_path
        %form.navbar-form.navbar-right
          = link_to "Logout", destroy_user_session_path, class: "btn btn-primary-dark"

        .search-bar-container
          .full-search-bar
            = form_tag search_path, method: :get, id: "navigation-search-form", class: "navbar-form navbar-right hidden-xs hidden-sm", style: "margin-right: -25px" do
              .form-group
                .input-group
                  = text_field_tag :search, params[:search], class: "form-control", placeholder: "Search #{ENV["website_name"]}", autocomplete: "off", id: "navigation-search"
                  %span.input-group-btn
                    = link_to "#", data: { object: "suppress-click" }, class: "btn btn-primary-dark", name: nil, id: "navigation-form-search-btn" do
                      %i.fa.fa-search

        .tiny-search-icon
          %form.navbar-form.navbar-right.hidden-xs.hidden-sm{ style: "margin-right: -25px" }
            = link_to "#", data: { object: "show-search-bar" }, class: "btn btn-primary-dark", name: nil do
              %i.fa.fa-search
          %ul.nav.navbar-nav.navbar-right{ style: "max-height: 50px" }
            %ul.nav.navbar-nav.navbar-right.hidden-xs
              %li.hidden-xs
                = link_to notifications_path, class: "#{"notifications-link" if current_user.unread_notifications?}" do
                  %i.fa.fa-bell
              %li.dropdown.hidden-xs
                = link_to "#", class: "dropdown-toggle", data: { object: "dropdown", toggle: "dropdown" } do
                  = current_user.first_name
                  %span.caret
                %ul.dropdown-menu{ role: "menu" }
                  %li= link_to "My Settings", settings_path
                  - if current_user.system_admin?
                    %li.divider
                    %li= link_to "Admin Dashboard", users_path
              %li.visible-xs
                = link_to "My Settings", settings_path
              - if current_user.system_admin?
                %li.visible-xs= link_to "Admin Dashboard", users_path

      - else
        %form.navbar-form.navbar-right
          = link_to "Sign in", new_user_session_path, class: "btn btn-primary-dark"
