- if beta_enabled?(current_user)
  = render partial: 'layouts/beta/menu'
- else
  .navbar-header
    %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-ex1-collapse" } }
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    = link_to ENV['website_name'], root_path, class: "navbar-brand"

  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li.hidden-xs.hidden-sm{ class: "#{ 'active' if current_page?(root_path) }" }
        = link_to root_path do
          %span.glyphicon.glyphicon-home
          Home
    - if current_user
      %ul.nav.navbar-nav
        - if current_user.all_viewable_and_site_projects.size == 1
          %li= link_to 'Create Project', new_project_path
        - current_user.all_favorite_projects.limit(3).each do |project|
          %li.dropdown{ class: "#{'active' if @project == project} " }
            = link_to '#', class: 'dropdown-toggle', data: { object: 'dropdown', toggle: 'dropdown' } do
              = image_tag (project.logo.size > 0 ? logo_project_path(project) : 'project-default-logo.png'), style: 'float:left;margin-right:5px;margin-top:-2px;max-height:26px', class: 'img-rounded'
              %span.caret
            %ul.dropdown-menu{ role: "menu" }
              %li= link_to project.name, project
              %li.divider
              %li.dropdown-header Sheets
              %li= link_to 'Create Sheet', new_project_sheet_path(project) if project.editable_by?(current_user)
              %li= link_to 'View Sheets', project_sheets_path(project)
              - if project.editable_by?(current_user)
                %li.divider
                %li.dropdown-header Designs
                %li= link_to 'Create Design', new_project_design_path(project)
                %li= link_to 'View Designs', project_designs_path(project)

              %li.divider
              %li.dropdown-header Reports
              %li= link_to 'Summary Report', report_project_path(project)
              %li= link_to 'Subject Report', subject_report_project_path(project)
              %li.divider
              %li.dropdown-header Data
              %li= link_to 'Create Export', project_sheets_path(project, e: "1")
              %li= link_to "View Exports#{" <span class=\'badge\'>#{current_user.unviewed_active_exports.where(project_id: project.id).size}</span>" if current_user.unviewed_active_exports.where(project_id: project.id).size > 0}".html_safe, project_exports_path(project)
              %li.divider
              %li.dropdown-header Recent
              %li= link_to 'Activity', activity_project_path(project)
      %ul.nav.navbar-nav.navbar-right
        %li.dropdown.hidden-xs
          = link_to '#', class: 'dropdown-toggle', data: { object: 'dropdown', toggle: 'dropdown' } do
            = image_tag(current_user.avatar_url(26, "identicon"), class: 'img-rounded', style: 'float:left;margin-right:5px;margin-top:-2px')
            %span= current_user.first_name
            %span.hidden-sm= current_user.last_name
            %span.caret
          %ul.dropdown-menu{ role: "menu" }
            %li
              = link_to settings_path do
                %span.glyphicon.glyphicon-cog
                My Settings
            %li.divider
            %li
              = link_to activity_path do
                %span.glyphicon.glyphicon-list-alt
                Activity
            - if current_user.system_admin?
              %li.divider
              %li
                = link_to users_path do
                  %span.glyphicon.glyphicon-wrench
                  Admin Dashboard
            %li.divider
            %li
              = link_to about_path do
                %span.glyphicon.glyphicon-info-sign
                About
                = ENV['website_name']
        %li.visible-xs
          = link_to settings_path do
            %span.glyphicon.glyphicon-cog
            My Settings
        %li.visible-xs
          = link_to activity_path do
            %span.glyphicon.glyphicon-list-alt
            Activity

        - if current_user.system_admin?
          %li.visible-xs
            = link_to users_path do
              %span.glyphicon.glyphicon-wrench
              Admin Dashboard
        %li.visible-xs
          = link_to about_path do
            %span.glyphicon.glyphicon-info-sign
            About
            = ENV['website_name']
        %li
          = link_to destroy_user_session_path, class: 'logout-button' do
            %span.hidden-sm Sign Out
            %span.glyphicon.glyphicon-log-out

      %form#global-search-form.navbar-form.navbar-right{ action: search_path }
        %input#global-search.form-control{ name: "q", type: "text", autocomplete: "off", value: params[:q], placeholder: "Search" }

    - else
      %form.navbar-form.navbar-right
        = link_to 'Sign up', new_user_registration_path, class: 'btn btn-success' unless current_page?(new_user_registration_path)
        = link_to 'Sign in', new_user_session_path, class: 'btn btn-default'
