%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{ type: 'button', data: { toggle: 'collapse', target: '.navbar-full-menu' } }
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to ENV['website_name'], current_user ? root_path : landing_path, class: 'navbar-brand'
    .collapse.navbar-collapse.navbar-full-menu
      %ul.nav.navbar-nav
        - if current_user
          %li.visible-xs{ class: "#{ 'active' if current_page?(dashboard_path) }" }
            = link_to dashboard_path do
              %span.glyphicon.glyphicon-blackboard
              = current_user.first_name

      - if current_user
        %form.navbar-form.navbar-right.hidden-xs
          = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary-dark'
      - else
        %form.navbar-form.navbar-right.hidden-xs
          = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary-dark'

      - if current_user
        %div{ style: 'position: relative' }
          .full-search-bar
            = form_tag search_path, method: :get, id: 'navigation-search-form', class: 'navbar-form navbar-right hidden-xs hidden-sm', style: 'margin-right: -25px' do
              .form-group
                .input-group
                  = text_field_tag :search, params[:search], class: 'form-control', placeholder: "Search #{ENV['website_name']}", autocomplete: 'off', id: 'navigation-search'
                  %span.input-group-btn
                    = link_to '#', data: { object: 'suppress-click' }, class: 'btn btn-primary-dark', name: nil, id: 'navigation-form-search-btn' do
                      %span.glyphicon.glyphicon-search

        .tiny-search-icon
          %form.navbar-form.navbar-right.hidden-xs.hidden-sm{ style: 'margin-right: -25px' }
            = link_to '#', data: { object: 'show-search-bar' }, class: 'btn btn-primary-dark', name: nil do
              %span.glyphicon.glyphicon-search
          %ul.nav.navbar-nav.navbar-right{ style: 'max-height: 50px' }
            - if current_user
              %ul.nav.navbar-nav.navbar-right.hidden-xs
                %li.hidden-xs
                  = link_to notifications_path, class: "#{'notifications-link' if current_user.unread_notifications?}" do
                    %span.glyphicon.glyphicon-bell
                %li.dropdown.hidden-xs
                  = link_to '#', class: 'dropdown-toggle', data: { object: 'dropdown', toggle: 'dropdown' } do
                    =# image_tag current_user.avatar_url(26, 'identicon'), alt: '', class: 'img-rounded', style: 'float:left;margin-right:5px;margin-top:-2px'
                    = current_user.first_name
                    %span.caret
                  %ul.dropdown-menu{ role: 'menu' }
                    %li
                      = link_to settings_path do
                        %span.glyphicon.glyphicon-cog
                        My Settings
                    - if current_user.system_admin?
                      %li.divider
                      %li
                        = link_to users_path do
                          %span.glyphicon.glyphicon-wrench
                          Admin Dashboard
                %li.visible-xs
                  = link_to settings_path do
                    %span.glyphicon.glyphicon-cog
                    My Settings

                - if current_user.system_admin?
                  %li.visible-xs
                    = link_to users_path do
                      %span.glyphicon.glyphicon-wrench
                      Admin Dashboard

      - if current_user
        %form.navbar-form.navbar-right.visible-xs
          = link_to 'Logout', destroy_user_session_path, class: 'btn btn-primary-dark'
      - else
        %form.navbar-form.navbar-right.visible-xs
          = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary-dark'
