- if flash[:notice].present?
  - if flash[:notice].is_a?(Array)
    = link_to '#', data: { object: 'remove-self' }, class: 'link-unstyled navbar-brand', style: 'font-size: 16px;padding-left: 0;padding-right: 0;margin-left: 0;' do
      %span.label.label-accent.shadow-sm
        = flash[:notice].first.html_safe
        &nbsp;
        &times;
    = link_to flash[:notice][1]['url'], method: flash[:notice][1]['method'], class: 'link-unstyled navbar-brand', style: 'font-size: 16px;margin-left: 0;' do
      %span.label.label-warning.shadow-sm
        %i.fa{ class: flash[:notice][1]['class'] || 'fa-undo' }
        = flash[:notice][1]['label']
  - else
    = link_to '#', data: { object: 'remove-self' }, class: 'link-unstyled navbar-brand', style: 'font-size: 16px;padding-left: 0;padding-right: 0;margin-left: 0;' do
      %span.label.label-accent.shadow-sm
        = flash[:notice].html_safe
        &nbsp;
        &times;
- if flash[:alert].present?
  = link_to '#', data: { object: 'remove-self' }, class: 'link-unstyled navbar-brand', style: 'font-size: 16px;padding-left: 0;padding-right: 0;margin-left: 0;' do
    %span.label.label-warning.shadow-sm
      = flash[:alert].html_safe
      &nbsp;
      &times;
