<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <%= link_to DEFAULT_APP_NAME, root_path, class: "navbar-brand #{'active' if current_page?(root_path)}" %>
  </div>

  <div class="collapse navbar-collapse navbar-ex1-collapse">

    <ul class="nav navbar-nav">
      <% if current_user %>
        <% if current_user.all_viewable_and_site_projects.size == 1 %>
          <li><%= link_to 'Create Project', new_project_path %></li>
        <% end %>
        <% current_user.all_favorite_projects.limit(3).each do |project| %>
          <li class="<%= 'active' if @project == project %> dropdown">
            <%= link_to '#', class: 'dropdown-toggle', data: { object: 'dropdown', toggle: 'dropdown' } do %>
              <%= image_tag (project.logo.size > 0 ? logo_project_path(project) : 'project-default-logo.png'), style: 'float:left;margin-right:5px;margin-top:-2px;max-height:26px', class: 'img-rounded' %>
              <%#= project.name.truncate(20) %>
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <li><%= link_to project.name, project %></li>
              <li class="divider"></li>
              <li class="dropdown-header">Sheets</li>
              <li><%= link_to 'Create Sheet', new_project_sheet_path(project) if project.editable_by?(current_user) %></li>
              <li><%= link_to 'View Sheets', project_sheets_path(project) %></li>
              <% if project.editable_by?(current_user) %>
                <li class="divider"></li>
                <li class="dropdown-header">Designs</li>
                <li><%= link_to 'Create Design', new_project_design_path(project) %></li>
                <li><%= link_to 'View Designs', project_designs_path(project) %></li>
              <% end %>
              <li class="divider"></li>
              <li class="dropdown-header">Reports</li>
              <li><%= link_to 'Summary Report', report_project_path(project) %></li>
              <li><%= link_to 'Subject Report', subject_report_project_path(project) %></li>
              <li class="divider"></li>
              <li class="dropdown-header">Data</li>
              <li><%= link_to 'Create Export', project_sheets_path(project, e: "1") %></li>
              <li><%= link_to "View Exports#{" <span class=\'badge\'>#{current_user.unviewed_active_exports.where(project_id: project.id).size}</span>" if current_user.unviewed_active_exports.where(project_id: project.id).size > 0}".html_safe, project_exports_path(project) %></li>
              <li class="divider"></li>
              <li class="dropdown-header">Recent</li>
              <li><%= link_to 'Activity', activity_project_path(project) %></li>
            </ul>
          </li>
        <% end %>
      <% end %>
      <% if false %>
        <li class="<%= 'active' if current_page?(root_path) %>"><%= link_to "<span class='glyphicon glyphicon-home'></span> Home".html_safe, root_path %></li>
        <li class="<%= 'active' if params[:controller] == 'datasets' or params[:action] == 'collection' %>"><%= link_to "<span class='glyphicon glyphicon-cloud'></span> Datasets".html_safe, datasets_path %></li>
        <li class="<%= 'active' if params[:controller] == 'tools' %>"><%= link_to "<span class='glyphicon glyphicon-wrench'></span> Tools".html_safe, tools_path %></li>
        <li class="<%= 'active' if params[:controller] == 'topics' %>"><%= link_to "<span class='glyphicon glyphicon-pushpin'></span> Forum <span class='label label-success'>New</span>".html_safe, topics_path %></li>
        <li class="<%= 'active' if current_page?(about_path) or current_page?(aug_path) %>"><%= link_to "<span class='glyphicon glyphicon-leaf'></span> About".html_safe, about_path %></li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li class="dropdown <%= 'active' if current_page?(settings_path) %>">
          <%= link_to '#', class: 'dropdown-toggle', data: { object: 'dropdown', toggle: 'dropdown' } do %>
            <%= image_tag(current_user.avatar_url(26, "identicon"), class: 'img-rounded', style: 'float:left;margin-right:5px;margin-top:-2px') %>
            <%= current_user.name %>
            <span class="caret"></span>
          <% end %>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "<span class='glyphicon glyphicon-cog'></span> My Settings".html_safe, settings_path %></li>
            <li class="divider"></li>
            <li><%= link_to "<span class='glyphicon glyphicon-list-alt'></span> Activity".html_safe, activity_path %></li>
            <% if current_user.system_admin? %>
              <li class="divider"></li>
              <li><%= link_to "<span class='glyphicon glyphicon-wrench'></span> Admin Dashboard".html_safe, users_path %></li>
            <% end %>
            <li class="divider"></li>
            <li><%= link_to "<span class='glyphicon glyphicon-info-sign'></span> About #{DEFAULT_APP_NAME}".html_safe, about_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to "Sign Out <span class='glyphicon glyphicon-log-out'></span>".html_safe, destroy_user_session_path, class: 'logout-button' %>
        </li>
      <% else %>
        <li class="<%= 'active' if current_page?(new_user_session_path) %>"><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>

    <% if current_user %>
      <form id="global-search-form" class="navbar-form navbar-right" action="<%= search_path %>">
        <input id="global-search" name="q" type="text" autocomplete="off" class="form-control" value="<%= params[:q] %>" placeholder="Search">
      </form>
    <% end %>

  </div>
</div>
