- pagination_size_hash = { 'large' => 'lg', 'small' => 'sm' }
- per_page = 20 unless defined?(per_page) && per_page
- object_count = 0 unless defined?(object_count) && object_count
- page = params[:page].blank? ? 1 : params[:page].to_i
- current_page_min = (page - 1) * per_page + 1
- current_page_max = page * per_page

- filtered_params = params.permit!

%ul.pagination.pull-right.hidden-xs{ class: "#{"pagination-#{pagination_size_hash[pagination_size]}" if defined?(pagination_size) && %w(large small).include?(pagination_size)}" }
  - if current_page_min > 1
    %li= link_to '&laquo;'.html_safe, url_for(filtered_params.merge(page: page - 1))
  - else
    %li.disabled
      %span &laquo;

  %li
    %span
      %b.link-unstyled
        = number_with_delimiter current_page_min
        to
        = number_with_delimiter [current_page_max, object_count].min
      %span.link-unstyled
        of
        = number_with_delimiter object_count

  - if current_page_max < object_count
    %li= link_to '&raquo;'.html_safe, url_for(filtered_params.merge(page: page + 1))
  - else
    %li.disabled
      %span &raquo;
