<% if false %>
  <ul class="pagination pull-right">
    <li class="disabled"><span>Per Page</span></li>
    <li class="active per_page"><%= link_to (defined?(per_page) and per_page ? per_page : 20), "#" %></li>
    <% if defined?(object_count) and object_count %><li class="disabled"><span>out of <%= object_count %></span></li><% end %>
  </ul>
<% else %>
  <ul class="pagination pull-right">
    <li class="disabled"><span>Per Page</span></li>
    <% [10,25,50].each do |count| %>
      <li class="<%= 'active' if current_user.pagination_count(type) == count %> per_page"><%= link_to count, "#", 'data-count' => count, 'data-object' => type, id: "count_#{count}" %></li>
    <% end %>
    <% if defined?(object_count) and object_count %><li class="disabled"><span>out of <%= object_count %></span></li><% end %>
  </ul>
<% end %>

<div class="clear">&nbsp;</div>
