!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=Edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    = render "layouts/meta/general"
    = render "layouts/meta/facebook"
    = render "layouts/meta/google"
    = render "layouts/meta/apple"
    -# Don't cache any pages
    %meta{ name: "turbolinks-cache-control", content: "no-cache" }
    %title= [@title, (@breadcrumbs || []).reverse.collect(&:first), @subject.try(:name), @project.try(:name), ENV["website_name"]].flatten.compact.uniq.join(" - ").html_safe
    = favicon_link_tag

    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: "reload" }
    = javascript_include_tag "application", data: { turbolinks_track: "reload" }
    = javascript_tag "var root_url=\"#{request.script_name + "/"}\";"
  - @random_theme ? render("themes/random") : render("themes/theme")
  %body#top.full-page.theme-bg{ class: @body ? "theme-#{@body}-bg" : nil, data: { theme: @theme } }
    = render "layouts/features/flash_bar"
    = render "layouts/features/sound_enabled" # Slice extra
    = render "layouts/features/timeout" # Slice extra
    = render "layouts/features/notifications" # Slice extra
    #top-menu.top-menu= render "layouts/menu", menu: @menu ? "menu-#{@menu}" : nil, hide_logo: false
    - if content_for?(:header)
      .header-container
        %div{ class: defined?(container) && container.present? ? container : "container" }
          %h1.page-heading
            = yield :header
    .container= render "layouts/breadcrumbs" # Slice extra
    .py-3
      .container= yield
    = yield :footer
    = render "layouts/footer", footer: @footer ? "footer-#{@footer}" : nil
