!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=Edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    = render "layouts/meta/general"
    = render "layouts/meta/facebook"
    = render "layouts/meta/google"
    = render "layouts/meta/apple"
    -# Don't cache any pages
    %meta{ name: "turbolinks-cache-control", content: "no-cache" }
    %title= [@title, (@breadcrumbs || []).reverse.collect(&:first), @subject.try(:name), @project.try(:name), ENV["website_name"]].flatten.compact.uniq.join(" - ").html_safe
    = favicon_link_tag

    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: "reload" }
    = javascript_include_tag "application", data: { turbolinks_track: "reload" }
    = javascript_tag "var root_url=\"#{request.script_name + "/"}\";"
  %body#top
    - if current_user
      %div{ style: "display:none", data: { object: "current-user #{"sound-enabled" if current_user.sound_enabled?}" } }
      = render "timeout/modal"
    %div{ style: "display: none;", data: { object: "notification-png", url: image_path("slice-s.png") }}

    = yield :side_nav

    #top-menu= render "layouts/menu" unless @no_footer

    %div{ class: @side_nav ? "header-slide" : "" }
      = yield :header
    = render "layouts/breadcrumbs"

    %div{ id: (@side_nav ? "main-content" : "") }

      .container.body-content
        = yield

      = yield :footer

      - if current_user && current_user.system_admin? && @keywords.present?
        .text-center
          - @keywords.split(",").each do |keyword|
            %code= keyword.to_s.strip

    - unless @no_footer
      .footer-container{ class: @side_nav ? "footer-slide" : "" }
        .container
          = render "layouts/footer"

    .mask-modal
