!!!
%html
  %head
    %meta{ charset: 'utf-8'}
    %meta{ content: 'IE=Edge,chrome=1', http: { equiv: 'X-UA-Compatible' } }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
    %title= [@title, Contour.application_name].compact.join(' - ').html_safe
    = favicon_link_tag
    = csrf_meta_tags

    - if current_user and Slice::THEMES.collect{|theme_name, theme| theme}.include?(current_user.theme)
      = stylesheet_link_tag "application-#{current_user.theme}", media: "all", "data-turbolinks-track" => true
    - else
      = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      %script{ src: "//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js" }
      %script{ src: "//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" }

    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_tag "var root_url='#{request.script_name + '/'}';var auth_token='#{form_authenticity_token}';"

  %body.has-sticky-footer
    %nav.navbar.navbar-default.navbar-fixed-top{ role: "navigation" }
      .container-fluid
        = render partial: 'layouts/menu'

    - if beta_enabled?(current_user)
      = render partial: 'layouts/beta/flash_message'
    - else
      .container{ style: "position:relative" }
        .flash-block{ data: { object: "flash-container" } }
          = flash_block

    = render partial: 'layouts/beta/beta_corner'

    .container-fluid
      = yield

    %div{ style: "clear:both;height:0px" }
      &nbsp;

    %footer.dark-texture
      .container-fluid
        = render partial: 'layouts/full_footer'
