!!!
%html{ lang: "en" }
  - @theme = "default"
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=Edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    = render "layouts/meta/general"
    = render "layouts/meta/facebook"
    = render "layouts/meta/google"
    = render "layouts/meta/apple"
    -# Don't cache any pages
    %meta{ name: "turbolinks-cache-control", content: "no-cache" }
    %title= @title
    = render "layouts/meta/favicon"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: "reload" }
    = javascript_include_tag "application", data: { turbolinks_track: "reload" }
    = javascript_tag "var root_url=\"#{request.script_name + "/"}\";"
  %body#top.full-page.theme-bg{ class: "theme-#{@theme}-bg", data: { theme: @theme } }
    = render "layouts/features/flash_bar"
    #top-menu.top-menu
      %nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom
        .container
          = render "menu/logo", hide_logo: false

    - if content_for?(:header)
      .header-container
        %div{ class: @container.presence || "container" }
          %h1.page-heading
            = yield :header

    .py-3
      .container= yield

    = render "layouts/footer", container: @container.presence
