!!!
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=Edge,chrome=1", http: { equiv: "X-UA-Compatible" } }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no" }
    = render "layouts/meta/general"
    = render "layouts/meta/facebook"
    = render "layouts/meta/google"
    = render "layouts/meta/apple"
    -# Don't cache any pages
    %meta{ name: "turbolinks-cache-control", content: "no-cache" }
    %title= @title
    = render "layouts/meta/favicon"

    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", data: { turbolinks_track: "reload" }
    = javascript_include_tag "application", data: { turbolinks_track: "reload" }
    = javascript_tag "var root_url=\"#{request.script_name + "/"}\";"
  %body#top.full-page.theme-bg.theme-default-bg
    = render "layouts/features/flash_bar"
    #top-menu.top-menu
      %nav.navbar.navbar-expand-lg.navbar-dark.navbar-custom.menu-default
        .container
          = render "layouts/features/logo", hide_logo: false

    - if content_for?(:header)
      .header-container
        %div{ class: defined?(container) && container.present? ? container : "container" }
          %h1.page-heading
            = yield :header

    .py-3
      .container= yield

    = render "layouts/footer", footer: @footer ? "footer-#{@footer}" : nil
