.navbar-header
  %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-ex1-collapse" } }
    %span.sr-only Toggle navigation
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

  = link_to ENV['website_name'], root_path, class: "navbar-brand"

.collapse.navbar-collapse.navbar-ex1-collapse
  - if current_page?(splash_projects_path) or current_page?(root_path)
    %ul.nav.navbar-nav
      %li
        = link_to 'My Projects', splash_projects_path
  - if @project and !@project.new_record?
    %ul.nav.navbar-nav
      %li.hidden-xs.hidden-sm
        = link_to @project.name, @project
      - case params[:controller] when 'subjects'
        %li.hidden-xs.hidden-sm
          = link_to project_subjects_path(@project) do
            Subjects
            %span.badge= @project.subjects.where(status: 'valid').count
        - if @subject
          %li.hidden-xs.hidden-sm
            = link_to project_subject_path(@project, @subject) do
              = @subject.name

      - when 'sites'
        %li.hidden-xs.hidden-sm
          = link_to project_sites_path(@project) do
            Sites
            %span.badge= @project.sites.count
      - when 'designs'
        %li.hidden-xs.hidden-sm
          = link_to project_designs_path(@project) do
            Designs
            %span.badge= @project.designs.count
      - if false
        -# when 'projects'
          %li.hidden-xs.hidden-sm
            = link_to project_designs_path(@project) do
              Find Subject
          %form#global-search-form.navbar-form.navbar-right{ action: search_path }
            %input#global-search.form-control{ name: "q", type: "text", autocomplete: "off", value: params[:q], placeholder: "Search" }


  %ul.nav.navbar-nav.navbar-right
    %li.hidden-xs
      = link_to settings_path do
        %span.glyphicon.glyphicon-cog
